.slide-show-component-layout {
  padding: 20px 0;

  .slide-show-image {
    height: 410px;
    position: relative;
    background-color: $globalNavPopoverGray;

    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      max-height: 100%;
    }
  }

  .launch-slide-show {
    @include font($font09, 16px, 1.5, $black, 0.5px);
    height: 70px;
    background-color: $white;
    vertical-align: middle;
    padding: 22px 0 22px 20px;
    cursor: pointer;
  }

  .slide-show-component-wrapper {
    padding: 0;
    border: 1px solid $liteAsh9;
  }

  .pop-up-icon {
    z-index: 9999;
  }

  .pop-up-icon-lg {
    max-width: 1150px;
  }

  .slide-show-description {
    background-color: $white;
    width: 100%;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: none;
    border: solid 1px $slideShowDescriptionBorderGrey;
    text-shadow: none;
    padding: 10px 0;
    margin: 0;

    .slide-show-caption-row {
      max-height: 100%;
      height: 80px;
    }

    .slide-show-des-block {
      text-align: left;
      padding: 0;
      overflow-y: auto;
      max-height: 100%;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      .page-title {
        @include font($font04, 16px, 1.25, $black, 0.5px);

        p {
          margin: 0;
        }
      }

      .page-name {
        @include font($font04, 14px, 1.25, $black, 0.5px)
      }
    }
  }

  .coverimage-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    /*background-color: $globalNavPopoverGray;*/
    .cover-image {
      max-width: 100%;
      height: auto;
      /*@include center-both;*/
      cursor: pointer;
    }
  }

  .popup-img-icon {
    border-radius: 50%;
    position: absolute;
    right: 4%;
    top: 6%;
    cursor: pointer;
  }

  .slide-show-header {
    border-bottom: 1px solid $slideShowDescriptionBorderGrey;
    background-color: $slideShowHeaderTextBorderGrey;
    height: 35px;
    position: relative;

    .slide-show-header-name {
      @include font($font09, 16px, 2, $black, 0.4px);
      margin: 0;
      max-height: 100%;
      margin-bottom: 0;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      p {
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .total-img-present-img {
      @include font($font5, 16px, 2, $liteAsh7, 0.4px);
      text-align: right;
      padding: 0 35px 0 0;
    }
  }

  .slide-show-images {
    width: 100%;

    img {
      //        margin:0 auto;
    }
  }

  .page-num {
    @include font($font7, 20px, null, $white, 1.5px);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 6px 0 0 2px;
    display: inline-block;
    float: right;
    margin-top: 18px;
    margin-right: 30%;
  }

  .slide-show-page-num {
    display: table-cell;
    float: none;
    padding: 0;
  }

  .slide-show-left-icon,
  .slide-show-right-icon {
    background: none;
    opacity: inherit;
    font-size: 30px;
  }

  .slide-show-right-icon {
    width: 8%;
  }

  .sw-icon.right-grey-arrow {
    margin-top: 40px;
  }

  .sw-icon.left-grey-arrow {
    margin: 30px 0 0 32px;
  }

  .close-icon {
    opacity: inherit;
    margin-top: 2px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    z-index: 999;
  }
}

.slide-show-audio-wrapper {
  .image-slide-number-wrapper {
    float: right;

    .slide-show-image {
      text-align: right;
      position: relative;
      max-width: 922px;
      min-width: 487px;
      height: 619px;
      display: table-cell;
      vertical-align: bottom;

      img {
        max-height: 619px;
        max-width: 100%;
      }

      .slide-number-wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        background-color: $slideShowNumberBlue;
        padding-left: 18.5px;
        padding-right: 18.5px;
        text-align: center;

        .slide-number {
          display:inline-block;
          @include font($font07, 15px, null, $white, 1px);
          line-height: normal;
        }
      }     
    }
  }

  .grey-close-btn {
    position: absolute;
    right: 47px;
    top: 47px;
    z-index: 999;
    opacity: 1;

    &:active, &:hover, &:focus {
      opacity: 1;
    }
  }
  .modal-content {
    border-radius: 0;
    padding: 64px 46px 59px 69px;
    background-color: $slideShowBackgroundBlue;
    box-shadow: none;
  }

  .slide-show-left-icon, .slide-show-right-icon {
    background: none;
    position: relative;
    opacity: 1;
  }

  .pop-up-icon-lg { 
    max-width: 1366px;
  }

  .slide-show-image-wrapper {
    padding-left: 0;
  }

  .slide-show-controls {
    .right {
      margin-left: 4px;
    }
  }

  .slide-show-text-wrapper {
    position: absolute;
    right: 0;
    bottom: 26px;
    padding-left: 25px;
  }

  .sound-big-icon {
    margin-bottom: 4px;
    cursor: pointer;
  }

  .credits-text {
    @include font($font04, 10px, 1.2, $slideShowCreditsGrey, 0.5px);
    margin-top: 14px;
  }

  .slide-show-title {
    margin-bottom: 4px;
    @include font($font09, 16px, 1.44, $slideShowBlueText, 0.7px);
  }

  .slide-show-description {
    @include font($font04, 16px, 1.5, $slideShowDescriptionText, 0.6px);
    margin-bottom: 21px;
  }

  .slide-show-grey-left-arrow-icon, .slide-show-grey-right-arrow-icon {
    cursor: default;
  }
}

@include respond-to ('xssmall') {
  .slide-show-component-layout {
    .slide-show-image {
      height: 300px;
    }

    .slide-show-header {
      .total-img-present-img {
        font-size: 14px;
      }

      .slide-show-header-name {
        margin: 9px 0 0 48px;
        font-size: 12px;
        line-height: 18px;
        margin-left: 0;
        margin-bottom: 0;
      }
    }

    .sw-icon.left-grey-arrow {
      margin: 24px 0 0 15px;
    }

    .slide-show-description {
      .slide-show-des-block {
        margin-left: 0;
        margin-top: 0;
      }
    }

    .slide-show-right-icon {
      text-align: right;
    }

    .sw-icon.right-grey-arrow {
      margin-right: 10px;
      margin-top: 35px;
    }

    .pop-up-icon-lg {
      margin-top: 95px;
    }

    .page-num {
      width: 25px;
      height: 25px;
      padding: 2px 0 0 2px;
      margin-top: 26px;
      font-size: 15px;
    }
  }
}

@include respond-to ('small') {
  .slide-show-component-layout {
    .slide-show-image {
      height: 399px;
    }

    .slide-show-header {
      .slide-show-header-name {
        margin: 9px 0 6px 80px;
        line-height: 25px;
        font-size: 15px;
        margin-left: 0;
        margin-bottom: 0;
      }
    }

    .sw-icon.left-grey-arrow {
      margin: 30px 0 0 15px;
    }

    .sw-icon.right-grey-arrow {
      margin-right: 0;
    }

    .slide-show-description {
      .slide-show-des-block {
        margin-top: 6px;
      }
    }

    .page-num {
      margin-right: 11px;
      padding: 8px 0 0 2px;
      width: 40px;
      height: 40px;
      font-size: 17px;
    }
  }
}

@media only screen and (min-width: 1180px) {
  .slide-show-component-layout {
    .pop-up-icon-lg {
      width: 1150px;
    }
  }

  .slide-show-audio-wrapper {
    .pop-up-icon-lg {
      width: 1150px;      
    }
  } 
}

@media only screen and (min-width: 1440px) {
  .slide-show-audio-wrapper {
    .pop-up-icon-lg {
      width: 1366px;      
    }

    .close-icon {
      position: absolute;
      right: 0;
    }

    .slide-show-text-wrapper {
      padding-right: 68.75px;
    }
  }
}
