.dynamath-content-tile-container {
    border: 2px solid $dynamathContentTileBorder;
    border-radius: 10px;
    $backgroundColor: $white;
    max-width: 325px;
    position: relative;

    .row {
        margin: 0;
        padding: 0;
    }


    .border-image-container-radius {
        @include border-radius-separate(8px, 8px, 0, 0);
    }

    .content-tile-body {
        height: 400px;
        background: $backgroundColor;
        position: relative;
        border: 0;
        @include border-radius-separate(9px, 9px, 9px, 9px);

        .title-class {
            .title {
                @include font($fontPE4, 20px, 1, $black, normal);
                max-height: 60px;
            }
        }
    }

    .content-info {
        border: 1px solid #eeeeee;
        border-top: none;
        height: 220px;
    }

    p {
        margin: 0;
    }

    .content-hub-header {
        border-bottom: 3px solid $dynamathContentTileHeaderBorder;
        height: 30px;
        background-color: $dynamathContentTileHeaderBackground;
        padding: 8px 0 6px 20px;
        @include border-radius-separate(9px, 9px, 0, 0);      
    }

    .bookmark-header {
        height: 50px;
        background-color: $dynamathContentTileHeaderBackground;
        border-bottom: 3px solid $dynamathContentTileHeaderBorder;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;

        .bookmark-title {
            @include font($fontP7, 14px, 0.93, $black, 0.5px);
            padding-top: 10px;
            padding-left: 5px;
            text-transform: uppercase;
        }

        .bookmark-date {
            @include font($fontP5, 12px, 1, $dynamathBookmarkTileDateColor, 0.3px);
            padding-top: 4px;
            padding-left: 5px;
        }

        .bookmark-type {
            @include font($fontP5, 12px, 1, $dynamathBookmarkTileDateColor, 0.3px);
            padding-top: 4px;
            float: right;
            min-width: 73px;
            padding-right: 5px;
            text-align: right;
        }
    }

    .content-date {
        @include font($fontP7, 14px, 0.93, $black, 1px);
        text-transform: uppercase;
    }

    .content-module {
            .content-module-container {
                .content-wrapper {
                    @include border-radius-separate(8px, 8px, 0, 0);

                    .content-one-up {
                        .img-container {
                            @include border-radius-separate(8px, 8px, 0, 0);
                        }
                    }
                }
            }
    }

    .title {
        padding: 0 20px 10px;
        @include font($fontPE4, 20px, 1, $black, normal);
        max-height: 80px;
        text-decoration: none;
        display: block;
    }

    .subject {
        padding: 14px 20px 10px;
        max-height: 36px;
        @include font($fontV9, 12px, 1, $slNumberColor, 1.3px);
        text-transform: uppercase;
    }

    .description {
        height: 60px;
        padding: 0 20px;
        @include font($fontU4, 16px, 1.5, $black, 0.3px);
    }

    .icons-row {
        position: absolute;
        bottom: 15px;
        width: 100%;
        min-height: 32px;

        div {
            &:first-child {
                margin-left: 17px;

                .sw-icon {
                    margin-left: 0;
                }
            }
        }

        .sw-icon, .sw-content-icon,
        .view-article-link {
            display: inline-block;
            vertical-align: middle;
        }

        .sw-content-icon {
            margin-left: 0;
        }

        .sw-icon {
            margin-left: 10px;
        }

        .view-article-link {
            @include font($fontP7, 14px, 1, $dynamathTopLinksButton, 0.5px);
            padding-right: 20px;
            padding-top: 15px;
            float: right;

            a {
                color: $dynamathTopLinksButton;

                &:active,
                &:focus,
                &:hover,
                &:visited {
                    color: $dynamathTopLinksButton;
                    text-decoration: none;
                }
            }
        }
    }

    .image-container {
        max-width: 325px;
        height: auto;
        text-align: center;
        position: relative;
        background-color: $white;
        border-radius:0;

        .content-image {
            max-width: 100%;
            max-height: 180px;
        }

        div[ng-bind-html="containerGameDesc"]{
         display: none;
        }


        div[ng-bind-html="containerGameTitle"]{
          display: none;
        }

        &.border-image-container-radius {
            @include border-radius-separate(8px, 8px, 0, 0);
        }

        .border-image-container-radius {
            @include border-radius-separate(8px, 8px, 0, 0);
        }
    }

    .image-container-resource {
        max-width: 298.8px;
        text-align: center;
        position: relative;
        margin: 17px 17.2px 0 17px;
        overflow: hidden;
        background-color: $white;

        .content-image {
            width: auto;
            height: auto;
            max-width: 98%;
            @include shadow(rgba(0, 0, 0, 0.5), 0 3px 7px 0);
        }

        div[ng-bind-html="containerGameDesc"]{
         display: none;
        }


        div[ng-bind-html="containerGameTitle"]{
          display: none;
        }
    }

    .resource-wrapper {
        background-color: $dynamathContentTileSkillBackground;
        border-bottom: 2.3px solid $dynamathContentTileSkillBorder;
    }

    .video-play-icon {
        @include center-both;
    }

    .video-time-frame {
        position: absolute;
        background-color: $black;
        bottom: 0.25px;
        right: 0;
        @include font($font7, 11px, 1.27, $white, 1px);
        width: 50px;
        height: 20px;
        padding: 3px 10.5px;
        display: none;
    }

    @include respond-to ('large') {
        .description {
            height: 60px;
        }
    }
}

.dynamath-content-tile-container-horizontal {
    $backgroundColor: $white;
    height: 300px;
    background-color: $backgroundColor;
    border: 2px solid $dynamathContentTileBorder;
    border-radius: 10px;
    max-width: 440px;

    .padding-content {
        padding: 25px 16px 20px 0;
        height: 295px;
    }

    .title {
        padding-left: 10px;
        @include font($fontC9, 18px, 1.06, $black, normal);
        text-decoration: none;
        display: block;
        height: 40px;
    }

    .subject {
        margin-left: 10px;
        display: inline-block;
        @include font($fontV9, 12px, 1, $slNumberColor, 1.3px);
        max-height: 40px;
    }

    .display-date {
        margin: 0 0 0 10px;
        @include font($font5, 10px, 1.4, $black, 0.3px);
        margin-bottom: 7px;
    }

    .description {
        max-height: 120px;
        padding: 0 0 0 10px;
        @include font($fontU4, 16px, 1.5, $black, 0.3px);
    }

    .row {
        margin: 0;
        padding: 0;
    }

    .padding-image {
        padding: 20px 0 20px 20px;
    }

    .image-container {
        max-width: 190px;
        height: auto;
        text-align: center;
        position: relative;
        background-color:$white;

        .content-image {
            max-width: 100%;
            max-height: 260px;
        }
    }

    .icons-row {
        position: absolute;
        bottom: 15px;
        width: 100%;

        div {
            &:first-child {
                margin-left: 15px;

                .sw-icon {
                    margin-left: 5px;
                }
            }
        }

        .sw-icon, .sw-content-icon,
        .view-article-link {
            display: inline-block;
            vertical-align: middle;
        }

        .sw-icon, .sw-content-icon {
            margin-left: 10px;
        }
    }
}

.contenthub-bookmark .content-tile-body {
    border-top: 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) { 
    .image-container-resource {
        height: 112.1px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) { 
    .image-container-resource {
        height: 135.99px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) { 
    .image-container-resource {
        height: 148px;
    }
}

@media only screen and (min-width: 1366px) { 
    .image-container-resource {
        height: 162.91px;
    }
}


@include respond-to('1440px'){
    .dynamath-content-tile-container {
         .image-container {
                height: 180px;
            .content-image{
                height: 100%;
                width: 100%;
            }
        }

        .image-container-resource {
                height: 162.91px;
            .content-image {
                height: auto;
                width: 98%;
            }
        }

        .content-tile-body .content-module .content-module-container .content-wrapper .content-one-up .img-container img{
            height: 180px;
            width: 100%;
        }
    }

    .dynamath-content-tile-container-horizontal {
        .image-container {   
            height: 260px;
            .content-image {
                width:100%;
                height: 100%;
            }
        }
    }

}
