.article-toolbar-layout {
    .article-toolbar {
        width: 140px;
        margin: 5%;
        padding: 0px 8px;
        background-color: #f2f2f2;
        .menu-list {
            padding-top: 10px;
            border-bottom: 1px solid #ccc;
            text-align: center;
            margin: 0px;
            &:last-child {
                border-bottom: none;
            }
            .icon-bar {
                margin-bottom: 30px;
            }
            .icon {
                width: 22px;
                height: 18px;
                background-repeat: no-repeat;
                background-size: 20px 18px;
                background-position: top center;
                display: inline-block;
                &.print-icon {
                    background-image: url("../../images/article-toolbar/print.png");
                }
                &.bookmark-icon {
                    background-image: url("../../images/article-toolbar/bookmark.png");
                }
                &.arrow-icon {
                    background-image: url("../../images/article-toolbar/arrow.png");
                }
                &.book-icon {
                    background-image: url("../../images/article-toolbar/book.png");
                }
                &.video-icon {
                    background-image: url("../../images/article-toolbar/play.png");
                }
                &.convocation-icon {
                    background-image: url("../../images/article-toolbar/convocation.png");
                }
                &.speaker-icon {
                    background-image: url("../../images/article-toolbar/speaker.png");
                }
                &.note-icon {
                    background-image: url("../../images/article-toolbar/note.png");
                }
                &.highleter-icon {
                    background-image: url("../../images/article-toolbar/highleter.png");
                }
                &.back-arrow-icon {
                    background-image: url("../../images/article-toolbar/back-arrow.png");
                }
            }
            .drop-down {
                margin-bottom: 10px;
            }
            .icon-description {
                font-family: 'Helvetica', 'Helvetica';
                font-weight: 400;
                font-style: normal;
                font-size: 12px;
                color: #333333;
            }
            .title {
                font-family: 'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
                font-weight: 700;
                font-style: normal;
                font-size: 13px;
            }
            .icon-image {
                width: 22px;
                height: 20px;
            }
        }
    }
}
