.issueHero-main-container {
    .issueHero-content {
        position: relative;
        padding: 0px;
        margin-bottom: 53px;
        background-color: $globalNavPopoverGray;
        .issueHero {
            margin: auto;
        }
        .title-desc-wrapper {
            top: 0%;
            text-align: center;
            width: 65%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            .issueHero-title {
                @include font($fontN5, 44px, null, $white, 1px);
                margin-top: 30px;
                margin-bottom: 0px;
            }
            .issueHero-desc {
                @include font($font04, 18px, 1.61, $white, 0.6px);
                margin-top: 21px;
            }
            .buttonContainer {
                margin-top: 55px;
                .button {
                    .btn {
                        width: auto;
                        height: 40px;
                        border-radius: 100px;
                        background-color: $white;
                        @include font($font09, 13px, 1.54, $linkblue, 1px);
                        padding: 10px 28px;
                    }
                }
            }
        }
    }
}
@include respond-to('xssmall') {
    .issueHero-main-container {
        .issueHero-content {
            .title-desc-wrapper {
                .issueHero-title {
                    font-size: 20px;
                    margin-top: 20px;
                }
                .buttonContainer {
                    margin-top: 20px;
                    .button {
                        .btn {
                            padding: 10px 14px;
                            font-size: 10px;
                        }
                    }
                }
            }
            margin-bottom: 25px;
        }
    }
}