.cm-migration-image-container {
    .image-popup-image-layout {
        .image-popup-image-container {
            border-radius: 8px;
            border: solid 1px $sn4PopupImageBorderColor;
            background-color: $imagePopupGreyBackground;

            .popup-modal-image-container {
                .image-popup-content {
                    .article-hero-modal-image {
                        img {
                            border-radius: 0;
                        }
                    }
                }
            }

            .sn4-image-background {
                background-color: $sn4ImagePopupGreyBackground;
                @include border-radius-separate(6px, 6px, 0, 0);
            }

            img {
                @include border-radius-separate(6px, 6px, 0, 0);
            }

            .caption-section {
                padding: 0 15px 0 20px;

                .img-popup-credits {
                    @include font($fontSL4, 10px, 1.2, $lightGrey2, 0.5px);
                    text-align: right;
                    margin-top: 12px;
                }

                .img-popup-caption {
                    @include font($fontSL4, 14px, 1.29, $black, 0.5px);
                    padding-bottom: 28px;
                }
            }

            &.cm-migration-image-bottom-radius {
                .sn4-image-background, img {
                    @include border-radius-separate(6px, 6px, 6px, 6px);
                }
            }
        }
    }
}
