<div data-sly-test="${wcmmode.edit}">General - Recent Issues Component</div>
<div data-sly-use.recentIssuesUse="com.scholastic.classmags.migration.controllers.RecentIssuesUse" data-sly-unwrap>
	<div data-sly-test="${recentIssuesUse.recentIssues}" data-sly-unwrap>
	<div class="container-fluid recent-issues-container pad0">
		<div class="row nomarLR">
			<div data-sly-list.issue="${recentIssuesUse.recentIssues}">
				<div class="col-md-2 recent-issue-content-wrapper">
				<div class="recent-issue-img-container">
					<a href="${issue.linkto}">
						<sw-image src="${issue.imgsrc}" alt="Recent issues" height="312px" width="233px"></sw-image>
					</a>
					</div>
					<div class="recent-issue-date">${issue.issuedate}</div>
				</div>
			</div>
		</div>
		<!-- magazine issues row ends -->
	</div>
	<!-- recent issues container ends -->
</div>
</div>
