#article-text-page-container {
    .acs-commons-resp-colctrl-col {
        &:nth-child(2) {
            max-width: 861px;
            padding-right: 95px !important;    /*acs-commons-resp-colctrl-col class has padding:0 15px !important;
                                                 overiding this we have given !important here*/
        }
    }

    .back-to-top {
        padding-left: 96px;
        margin-left: 20%;
        cursor: pointer;
        margin-top: 4px;
        margin-bottom: 38px;

        .back-to-top-text {
          @include font($font09, 14px, 1, $contentTileSubjectBlue, 0.5px);
          margin-left: 10px;
          position: relative;
          bottom: 8px;
        }
    }

    @media (min-width:1200px) and (max-width:1440px) {
        .back-to-top {
            padding-left: 101px;
        }
    }
}




.article-text-image-layout {
    .article-text-image {
        .text-column{
            @include font($font04, 18px, 1.67, $black, 1px);
        }
        .img-column {
            border: solid 1px $issueHighTitleborderGrey;
            padding-bottom: 24px;
            border-radius: 8px;
            img{
                @include border-radius-separate(6px, 6px, 0, 0);
            }
        }
        .caption {
            @include font($font04, 14px, 1.29, $black, 0.5px);
            display: inline-block;
            padding: 15px 20px 0 20px;
            p {
                margin-bottom: 0;
            }
        }
        .credits {
            @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
            padding-left: 20px;
            margin-top: 11px;
            margin-bottom: 0;
        }
    }
}

.article-text-image-top-layout {
    .article-description{
        @include font($font04, 18px, 1.67, $black, 1px);
    }
    .article-text-image {
        .top-article-container {
            border: solid 1px $issueHighTitleborderGrey;
            padding-bottom: 24px;
            border-radius: 8px;
            img{
                @include border-radius-separate(6px, 6px, 0, 0);
            }
            .caption {
                @include font($font04, 14px, 1.29, $black, 0.5px);
                padding: 15px 20px 0 20px;
                p {
                    margin-bottom: 0;
                }
            }
            .credits {
                @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
                padding-left: 20px;
                margin-top: 11px;
                margin-bottom: 0;
            }
        }
    }
}