.article-text-image-layout{
    .article-text-image{
        &.left,&.right{
             padding-right:15px;

            .text-column {
                @include font($fontU4, 20px, 1.6, $black, 1.1px);
                word-wrap: break-word;
            }

            .caption{
                @include font($fontSL7, 24px, 1.17, $black, 1px);
                p{
                    word-wrap: break-word;
                }
            }

        }
        &.left{
            .img-column{
                margin-right: 20px;
            }
            .caption{
                p{
                    padding: 19.8px 69px 0 20px;
                }
            }

        }
        &.right{
            .img-column{
                margin-left: 20px;
            }

            .caption{
                p{
                    padding: 30.7px 20px 0 91px;
                }
            }

        }
    }
}


#article-text-page-container {
    .back-to-top { 
        .back-to-top-text {
            @include font($fontSL7, 14px, 1, $textHyperlinkColor, 0.5px);

        }
    }
}