.article-toolbar-layout{
    .article-toolbar{
        background-color: $sn4ToolbarBackground;
        border: solid 2px $sn4ToolbarBorder;
        border-radius: 4px;
        .menu-list {
            .icon-description{
                @include font($fontSL4, 14px, 1.29, $black, 0.5px);
                padding-left: 4px;
            }
            .title{
                @include font($fontSL7, 12px, 1.33, $black, 0.9px);
            }
            .drop-down{
                @include font($fontSL4, 13px, 1.2, $black, 0.5px);
                border-radius: 4px;
                border: 1px solid $sn4ArticleToolbarDropdown;
                background: $white url(../../../images/icons/sn4-dropdown-arrow.png) no-repeat;
                background-position: right 10px center;
                &:disabled {
                    background: $white;
                }
            }
        }
        .open-flip-book{
                border-top: 1px solid $sn4ToolbarBorder;
                border-bottom: 1px solid $sn4ToolbarBorder;
        }
        .drop-down-sec,
        .jump-to-block{
            border-bottom: 1px solid $sn4ToolbarBorder;
        }
    }
} 