.marketing-subscription-order-summary {
    margin: 40px 11.7% 0;

    .marketing-subscription-order-summary-right {
        .marketing-subscription-order-summary-right-container {
            border: 1px solid $tabBgGrey;
            padding: 32px 24px;

            .marketing-subscription-order-summary-right-container-title {
                @include font($font07, 18px, 1.33, $gray);
                margin: 0;
                padding-bottom: 7px;
                border-bottom: 1px solid $tabBgGrey;
            }

            .subscription-product-display-magazines {
                margin-top: 29px;

                .subscription-product-display-magazine {
                    margin-top: 24px;
                    padding-left: 15px;
                }

                .subscription-product-display-magazine-image {
                    max-width: 60px;
                    padding: 0;

                    img {
                        width: 100%;
                    }
                }

                .subscription-product-display-magazine-details {
                    padding-left: 19px;

                    .subscription-magazine-price {
                        @include font($font04, 14px, 1.71, $marketingSubscriptionGrey);

                        .subscription-price-value {
                            font-weight: bold;
                        }
                    }

                    .subscription-magazine-quantity {
                        .subscription-total-quantity {
                            @include font($font04, 14px, 1.71, $marketingSubscriptionGrey);
                        }

                        .subscription-total-quantity-val {
                            font-weight: bold;
                        }

                        .subscription-total-price {
                            @include font($font04, 14px, 1.71, $marketingSubscriptionGrey, 0.5px);
                        }

                        .subscription-quantity-edit-btn {
                            @include font($font04, 14px, null, $liteBlue2);
                            margin-top: 1px;
                            text-decoration: none;
                        }
                    }

                    .subscription-quantity-edit-section {
                        margin-top: 7px;

                        .subscription-quantity-edit-text {
                            @include font($font04, 16px, null, $marketingSubscriptionLightGrey);
                            height: 30px;
                            width: 44px;
                            display: inline-block;
                            border: 1px solid $marketingSubscriptionBorderGrey;
                            padding: 0 0 0 12px;
                            text-align: center;
                        }

                        .subscription-quantity-save-btn {
                            @include font($font07, 13px, null, $liteBlue2, 0.5px);
                            width: 80px;
                            height: 30px;
                            border-radius: 5px;
                            background-color: $white;
                            border: 1px solid $liteBlue2;
                        }
                    }
                }

                .subscription-magazine-details-name {
                    @include font($font07, 16px, 1.5, $marketingSubscriptionGrey);
                    margin: 0;
                    display: block;
                }

                .subscription-magazine-details-grades {
                    @include font($font04, 14px, 1.71, $marketingSubscriptionGrey);
                    margin: 0;
                    display: block;
                }

                .subscription-magazine-details-quantity {
                    margin: 2px 0 0;

                    .subscription-magazine-learn {
                        .subscription-magazine-learn-link {
                            @include font($font04, 12px, null, $liteBlue2);
                            vertical-align: middle;

                            &:focus {
                                outline: none;
                            }
                        }

                        .subscription-magazine-learn-modal {
                            .subscription-magazine-learn-modal-dialog {
                                .subscription-magazine-learn-modal-content {
                                    padding: 0 0 38px 30px;

                                    .subscription-magazine-learn-modal-header {
                                        border-bottom: 0;
                                        padding: 23px 10px 0 0;
                                    }

                                    .subscription-magazine-learn-modal-body {
                                        padding: 0;

                                        .modal-magazine-name {
                                            @include font($font07, 20px, 1.2, $marketingSubscriptionGrey);
                                            margin: 0;
                                            display: block;
                                        }

                                        .modal-magazine-grades {
                                            @include font($font04, 16px, 1.5, $marketingSubscriptionGrey);
                                            margin: 0;
                                            display: block;
                                        }

                                        .modal-magazine-issues {
                                            @include font($font04, 16px, 1.5, $marketingSubscriptionGrey);
                                            margin: 9px 0 0;
                                            display: block;

                                            .modal-magazine-issues-count {
                                                font-weight: bold;
                                            }
                                        }

                                        .modal-magazine-price {
                                            @include font($font04, 16px, 1.5, $marketingSubscriptionGrey);
                                            margin: 0;
                                            display: block;

                                            .modal-magazine-price-value {
                                                font-weight: bold;
                                            }
                                        }

                                        .modal-magazine-details {
                                            @include font($font04, 16px, 1.38, $marketingSubscriptionGrey);
                                            margin-top: 9px;

                                            ul {
                                                padding: 0 0 0 13px;
                                                margin-bottom: 0;
                                            }
                                        }
                                    }

                                    .subscription-magazine-learn-modal-footer {
                                        border-top: 0;
                                        padding: 21px 0 0;

                                        .view-site-link {
                                            @include font($font09, 14px, null, $liteBlue2, 0.5px);

                                            span {
                                                vertical-align: middle;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .subscription-magazine-details-quantity-input {
                        @include font($font04, 16px, null, $marketingSubscriptionLightGrey);
                        height: 30px;
                        width: 44px;
                        display: inline-block;
                        border: 1px solid $marketingSubscriptionBorderGrey;
                        padding: 0 0 0 12px;
                        text-align: center;
                    }
                }
            }

            .subscription-order-summary {
                margin-top: 30px;
                padding-top: 14px;
                border-top: 1px solid $tabBgGrey;

                .subscription-order-summary-title {
                    @include font($font07, 16px, null, $subscriptionTextGrey, 0.4px);
                    margin-top: 12px;
                    display: inline-block;
                }

                .subscription-order-summary-details {
                    margin-top: 12px;

                    .subscription-order-summary-text {
                        @include font($font04, 16px, null, $subscriptionTextGrey);
                    }

                    .subscription-order-summary-price {
                        @include font($font04, 16px, null, $subscriptionTextGrey, 0.5px);
                    }

                    .subscription-order-summary-total-price {
                        @include font($font07, 16px, null, $subscriptionTextGrey, 0.5px);
                    }
                }
            }

            .subscription-address-summary {
                margin-top: 30px;
                padding-top: 26px;
                border-top: 1px solid $tabBgGrey;

                .subscription-address-summary-title {
                    @include font($font07, 16px, null, $subscriptionTextGrey, 0.4px);
                }

                .subscription-address-summary-details {
                    margin-top: 12px;

                    .subscription-address-summary-text {
                        @include font($font04, 14px, 1.43, $subscriptionTextGrey, 0.5px);
                        margin-bottom: 5px;
                    }

                    .subscription-address-summary-name {
                        @include font($font07, 14px, 1.43, $subscriptionTextGrey, 0.5px);
                    }
                }
            }
        }
    }
}
