.article-subjs-covered-pad-container {
	padding: 18px;
	margin-bottom: 40px;
    background: url('../../../images/articleSubjectsCovered/lines-grey.png') repeat;
	.article-subjs-covered-container {
		background-color: $white;
		.article-subjs-covered-content {
			padding: 24px 9px 23px 7px;
			&:after {
				content: '';
				clear: both;
				display: block;
			}
			.subjs-covered-title {
				text-transform: uppercase;
				@include font($font07, 13px, 1.08, $black, 1px);
				text-align: center;
	    		margin-bottom: 11px;
                &:empty {
                    margin-bottom: 0;
                }
			}
			.subjs-tag-wrapper {
				.names-subj {
					margin-bottom: 30px;
					&:last-child {
						margin-bottom: 0px;
					}
					.subj-title {
						text-align: center;
						.subj-title-link {
							@include font($fontN7, 12px, 1.33, $liteBlue2, 1.2px)					
							text-align: center;
							cursor: pointer;
							text-decoration: none;
							text-transform: uppercase;
                            display: inline-block;
                            margin-bottom: 4px;
						}
					} 
					.subj-tags-wrapper {
						text-align: center;
						@include font($font04, 12px, 1.33, $black, 0.5px);
                        padding-left: 11px;
                        padding-right: 11px;
						.subj-tags{
							@include font($font04, 12px, 1.33, $black, 0.5px);
							text-transform: capitalize;
							text-align: center;
						}
					}
				}			
			}
		}	
	}
}

@include respond-to('xssmall') {
	.article-subjs-covered-pad-container {
		padding-left: 0;
		margin-bottom: 0;
		.article-subjs-covered-container {
			.article-subjs-covered-content {
				padding: 28px 7px 26px 9px;
                border-top: 1px solid $liteAsh2;
                border-bottom: 1px solid $liteAsh2;
				.subjs-covered-title {
					margin-bottom: 13px;
				}
				.subjs-tag-wrapper {
					.names-subj {
						margin-bottom: 0;
						&:nth-child(3n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}	
}

@media only screen and (min-width: $screen-xs-max) {
	.article-subjs-covered-pad-container {
		padding-left: 0;
		margin-bottom: 0;
		.article-subjs-covered-container {
			.article-subjs-covered-content {
				padding: 28px 7px 26px 9px;
                border-top: 1px solid $liteAsh2;
                border-bottom: 1px solid $liteAsh2;
				.subjs-covered-title {
					margin-bottom: 13px;
				}
				.subjs-tag-wrapper {
					.names-subj {
						margin-bottom: 0;
						&:nth-child(3n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}    
}

@include respond-to('small') {
	.article-subjs-covered-pad-container {
		padding-left: 0;
		margin-bottom: 0;
		.article-subjs-covered-container {
			.article-subjs-covered-content {
				padding: 28px 7px 26px 9px;
				.subjs-covered-title {
					margin-bottom: 13px;
				}
				.subjs-tag-wrapper {
					.names-subj {
						margin-bottom: 0;
						&:nth-child(3n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}	
}

@media only screen and (min-width: $screen-sm-max) {
	.article-subjs-covered-pad-container {
		padding-left: 0;
		margin-bottom: 0;
		.article-subjs-covered-container {
			.article-subjs-covered-content {
				padding: 28px 7px 26px 9px;
				.subjs-covered-title {
					margin-bottom: 13px;
				}
				.subjs-tag-wrapper {
					.names-subj {
						margin-bottom: 0;
						&:nth-child(3n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}    
}

@media only screen and (min-width: $screen-md-min) {
	.article-subjs-covered-pad-container {
		padding-left: 20px;
		max-width: 250px;
		margin-bottom: 40px;
        margin-top: 15px;
		.article-subjs-covered-container {
			.article-subjs-covered-content {
				padding: 28px 7px 27px 8px;
                border-top: 0;
                border-bottom: 0;
				.subjs-covered-title {
					margin-bottom: 13px;
				}
				.subjs-tag-wrapper {
					.names-subj {
						margin-bottom: 29px;
						&:nth-child(3n+1) {
							clear: none;
						}
					}
				}
			}
		}
	}	
}

@media (min-width:1440px) {
    .article-subjs-covered-pad-container {
        padding: 20px;
        .article-subjs-covered-container {
            .article-subjs-covered-content {
                padding-right: 8px;
                padding-left: 9px;
                .subjs-tag-wrapper {
                    .names-subj {
                        .subj-tags-wrapper {
                            padding-left: 12px;
                            padding-right: 12px;
                        }
                    }
                }                
            }
        }
    }    
}