<div>
<div class="content-tile-container" sw-authorize="{{role}}" ng-if="position=='vertical'">
    <div ng-if="displayStyle=='contenthub' || displayStyle == 'bookmark'" >
        <div class="content-hub-header" ng-if="displayStyle == 'contenthub'">
            <p class="content-date"> {{displayDate}} </p>
        </div>
        <div class="bookmark-header" ng-if="displayStyle == 'bookmark'">
            <div class="row">
                <div class="col-md-12">
                    <p class="bookmark-title"> {{bookmarkTitle}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p class="bookmark-date">{{bookmarkDate}}</p>

                </div>
            <div class="col-md-4">
                    <p class="bookmark-type">{{bookmarkType}}</p>
            </div>
            </div>

        </div>
    </div>


    <div class="content-tile-body">
    <div class="row content-tile-image-wrapper" 
        ng-class="{'resource-wrapper': (contentType == 'skillsSheet' || contentType == 'lessonPlan'
                  || contentType == 'Lesson Plans' || contentType == 'Skills Sheets'),
                  'border-image-container-radius': (displayStyle!= 'bookmark' && displayStyle!= 'contenthub'),'rounded-border':(tileBorderColor.length>0)}">
        <div ng-class="{'image-container-resource': (contentType == 'skillsSheet' || contentType == 'lessonPlan'
                  || contentType == 'Lesson Plans' || contentType == 'Skills Sheets'),
        'image-container': (contentType != 'skillsSheet' && contentType != 'lessonPlan'
                            && contentType!= 'Lesson Plans' && contentType!= 'Skills Sheets'),
                       'border-image-container-radius': (displayStyle!= 'bookmark' && displayStyle!= 'contenthub' &&
                    !(contentType == 'skillsSheet' || contentType == 'lessonPlan'
                  || contentType == 'Lesson Plans' || contentType == 'Skills Sheets'))
                       }">
            <a  ng-if="(contentType!== 'game' && contentType!== 'Games')" ng-href="{{(contentType=='video' || contentType == 'Videos')? 'javascript:void(0)':imageHyperlink }}"
                ng-class="{'video_play':(contentType=='video' || contentType == 'Videos')}"
                ng-attr-data-toggle="{{ (contentType=='video' || contentType == 'Videos' || contentType === 'slideshow')?'modal':''}}"
                ng-attr-data-video="{{ (contentType=='video' || contentType == 'Videos')? videoId:''}}"
                ng-attr-target="{{ (contentType=='article' || contentType=='Articles' || contentType == 'issue' || contentType=='Issues' )?'_self':'_blank'}}"
                ng-attr-data-target="#{{(contentType === 'slideshow')?slideshowId:''}}"
				>
                 <img class="content-image" ng-class="{'border-image-container-radius': (displayStyle!= 'bookmark' && displayStyle!= 'contenthub' &&
                !(contentType == 'skillsSheet' || contentType == 'lessonPlan'
                  || contentType == 'Lesson Plans' || contentType == 'Skills Sheets'))}"
                  ng-src="{{(contentType === 'slideshow')?slideshowCoverImage: imageSrc}}" />                                   
             </a>
             <span ng-if="(contentType === 'slideshow')" class="sw-icon stack-window-icon" data-toggle="modal" data-target="#{{slideshowId}}"></span>           

            <!-- video play icon -->
            <div ng-if="contentType=='video' || contentType == 'Videos'" class="video-play-icon">
                <a  href="javascript:void(0)" class="video_play" data-toggle="modal" data-video="{{videoId}}" target="_self">
                <span class="sw-icon video-icon"></span>
                </a>
            </div>

            <!-- vido time frame -->
            <div ng-if="(contentType=='video' || contentType == 'Videos') && videoLength" class="video-time-frame">
                <span  aria-hidden="true" >{{videoLength}}</span>
            </div>

            <div ng-if="(contentType === 'game' || contentType === 'Games') && (gameType === 'flash')">
                    <game-flash-container
                        container-image="{{imageSrc}}"
                        container-id="{{gameId}}"
                        container-path="{{gameFlashContainer}}"
                        container-game-flash-data="{{gamePath}}"
                        container-modal="true"
                        sw-game-authorize="{{role}}"
                    ng-cloak>
                    </game-flash-container>

            </div>
            <div ng-if="(contentType === 'game' || contentType === 'Games') && (gameType === 'html5')">
                     <game-container
                        container-title="Play Now"
                        container-image="{{imageSrc}}"
                        container-game="Game"
                        container-id="{{gameId}}"
                        container-modal="true"
                        container-path="{{gamePath}}"
                        sw-game-authorize="{{role}}"
                        ng-cloak>
                    </game-container>

            </div>           

        </div>
    </div>

        <div class="row content-tile-title">
           <a class="title" ng-if="(contentType!== 'game' && contentType!== 'Games' && contentType !== 'slideshow')" ng-href="{{(contentType=='video' || contentType == 'Videos')? 'javascript:void(0)':imageHyperlink }}"
                ng-class="{'video_play':(contentType=='video' || contentType == 'Videos')}"
                ng-attr-data-toggle="{{ (contentType=='video' || contentType == 'Videos')?'modal':''}}"
                ng-attr-data-video="{{ (contentType=='video' || contentType == 'Videos')? videoId:''}}" ng-attr-target="{{ (contentType=='article' || contentType=='Articles' || contentType == 'issue' || contentType=='Issues' )?'_self':'_blank'}}" data-ng-bind="contentTitle" data-ellipsis>
           </a>
           <a class="title" ng-if="(contentType === 'game' || contentType=== 'Games')" href="javascript:void(0)" ng-click="openGamePopup($event)" data-ng-bind="contentTitle" target="_self" data-ellipsis>
           </a>
           <a class="title" ng-if="(contentType === 'slideshow')" data-toggle="modal" data-target="#{{slideshowId}}">Launch Slideshow</a>
        </div>
        <div class="row">
            <p class="subject" data-ng-bind="subject" data-ellipsis></p>
        </div>
        <div class="row">
            <p class="description" data-ng-bind="description" data-ellipsis></p>
        </div>
        <div class="row icons-row">
            <div ng-if="isBookmarkAdded" class="bookmark-icons">
                <a href="javascript:void(0)" ng-click="deleteBookmark()">
                    <span class="sw-icon bookmarked-icon"></span>
                </a>
            </div>

            <div ng-if="!isBookmarkAdded" class="bookmark-icons">
                <a href="javascript:void(0)" ng-click="addBookmark()" sw-authorize="teacherorstudent">
                    <span class="sw-icon bookmark-icon"></span>
                </a>
            </div>
            <div ng-if="showDownload" class="sw-content-icon">
                <a href="{{imageHyperlink}}" target="_blank" ng-if="showDownloadIcon">
                    <span class="sw-icon download-icon"></span>
                </a>
            </div>
            <div ng-if="showShare"  class="sw-content-icon">
                <sw-show-popover link-url="{{shareLinkUrl}}"></sw-show-popover>
            </div>
            <!--
            <div class="sw-icon">
                <span class="sw-icon print-icon"></span>
            </div>
            -->
            <div ng-if="showView && contentType!='Blogs' && contentType!='blog'" class="view-article-link">
                <a href={{viewArticleLinkUrl}} target="_self">View Article</a>
            </div>
			<div ng-if="showView && (contentType ==='Blogs' || contentType ==='blog')" class="view-article-link">
                <a href={{viewArticleLinkUrl}} target="_self">View Blog</a>
            </div>
        </div>
    </div>

    <div ng-if="(contentType === 'slideshow')">
        <sw-slideshow content-type='{{contentType}}' data='{{slideshowdata}}' coverimage="{{slideshowCoverImage}}" backgroundcolor="{{slideshowNumberColor}}" disablenumber="{{slideshowDisableNumber}}" uniqueid="{{slideshowId}}"></sw-slideshow>
    </div>

    <div ng-class="{'in':isSpinnerShow}" class="spinnercontainer">
      <img src="/etc/designs/scholastic/classroom-magazines-migration/images/icons/spinner.gif">
 </div>
</div>

<div class="content-tile-container-horizontal" ng-if="position=='horizontal'" sw-authorize="{{role}}">
    <div class="row">
        <div class="col-md-6 padding-image">
            <div class="image-container">
                <a href="{{imageHyperlink}}"> <img class="content-image" ng-src="{{imageSrc}}" /> </a>
            </div>
        </div>
        <div class="col-md-6 padding-content">
            <div class="row">
                <a class="title" href="{{imageHyperlink}}" data-ng-bind="contentTitle" data-ellipsis></a>
            </div>
            <div class="row">
                <p class="description" data-ng-bind="description" data-ellipsis></p>
            </div>
            <div class="row icons-row">
            <!--
            <div class="sw-icon">
                <span class="sw-icon bookmark-icon"></span>
            </div>
            -->
            <div ng-if="showDownload" class="sw-content-icon">
                <a href="{{imageHyperlink}}" target="_blank" ng-if="showDownloadIcon">
                    <span class="sw-icon download-icon"></span>
                </a>
            </div>
            <div ng-if="showShare" class="sw-content-icon">
                <sw-show-popover link-url="{{shareLinkUrl}}"></sw-show-popover>
            </div>
            <!--
            <div class="sw-icon">
                <span class="sw-icon print-icon"></span>
            </div>
            -->
            <!--
            <div ng-if="showView" class="view-article-link">
                <a href={{imageHyperlink}}>View Article</a>
            </div>
            -->
        </div>
        </div>
    </div>
</div>
