.upfront-content-tile-container {
    $borderColor: $upfrontContentTileBorderGrey;
    $backgroundColor: $white;
    max-width: 325px;
    position: relative;

    .row {
        margin: 0;
        padding: 0;
    }

    .content-tile-body {
        height: 400px;
        border: 1px solid $borderColor;
        background: $backgroundColor;
        position: relative;

        .title-class .title {
            @include font($fontSL7, 26px, 1, $black, 0.4px);
            max-height: 60px;
        }
    }

    .content-info {
        border: 1px solid $borderColor;
        border-top: none;
        height: 220px;
    }

    p {
        margin: 0;
    }

    .content-hub-header {
        border-bottom: 2px solid $black;
        border-top: 4px solid $black;
        height: 56px;
        padding: 18px 0 18px 20px;
        background-color: $white;
        color: $black;
    }

    .bookmark-header {
        height: 56px;
        border-bottom: 2px solid $black;
        border-top: 4px solid $black;

        .bookmark-title {
            @include font($fontSL7, 15px, 0.87, $black, normal);
            padding-top: 11px;
            padding-left: 5px;
            text-transform: uppercase;
        }

        .bookmark-date {
            @include font($fontSL5, 12px, 1, $upfrontContentTileDateRed, 0.6px);
            padding-top: 3px;
            padding-left: 5px;
        }

        .bookmark-type {
            @include font($fontSL5, 12px, 1, $upfrontContentTileDateRed, 0.6px);
            padding-top: 3px;
            float: right;
            min-width: 73px;
            padding-right: 5px;
        }
    }

    .content-date {
        @include font($fontSL7, 13px, 1, $black, 1px);
        text-transform: uppercase;
    }

    .title {
        padding: 7.9px 19px 21px;
        @include font($fontSL7, 26px, 1, $black, 0.4px);
        max-height: 60px;
        text-decoration: none;
        display: block;
    }

    .subject {
        background: $upfrontIaggregatorTagsBackground;
        margin-top: 9.6px;
        margin-left: 18px;
        margin-right: 18px;
        padding: 3px 5px 2px;
        max-height: 36px;
        max-height: 20px;
        @include font($fontSL7, 12px, 1.33, $white, 0.5px);
        text-transform: uppercase;
    }

    .description {
        /*height: 48px;*/
        height: 60px;
        padding: 5px 32px 0 19px;
        @include font($fontSL4, 16px, 1.25, $black, normal);
    }

    .icons-row {
        position: absolute;
        bottom: 11.8px;
        width: 100%;
        min-height: 32px;

        div {
            &:first-child {
                margin-left: 14px;

                .sw-icon {
                    margin-left: 0;
                }
            }
        }

        .sw-content-icon,
        .sw-icon,
        .view-article-link {
            display: inline-block;
            vertical-align: middle;
        }

        .sw-content-icon {
            margin-left: 0;
        }

        .sw-icon {
            margin-left: 8px;
        }

        .view-article-link {
            @include font($fontSL7, 14px, 1, $gray, 0.5px);
            padding-right: 20px;
            padding-top: 10px;
            float: right;

            a {
                color: $gray;

                &:active,
                &:focus,
                &:hover,
                &:visited {
                    color: $gray;
                    text-decoration: none;
                }
            }
        }
    }

    .image-container {
        max-width: 325px;
        height: auto;
        text-align: center;
        position: relative;
        background-color: $white;

        div[ng-bind-html="containerGameDesc"] {
            display: none;
        }

        div[ng-bind-html="containerGameTitle"] {
            display: none;
        }

        .content-image {
            max-width: 100%;
            max-height: 180px;
        }
    }

    .image-container-resource {
        max-width: 298.8px;
        text-align: center;
        position: relative;
        margin: 17.1px 16px 0 12px;
        overflow: hidden;

        .content-image {
            width: auto;
            height: auto;
            max-width: 98%;
        }

        div[ng-bind-html="containerGameDesc"] {
            display: none;
        }

        div[ng-bind-html="containerGameTitle"] {
            display: none;
        }
    }

    .resource-wrapper {
        background-color: $upfrontContentTileSkillSheetGrey;
        border-bottom: 0;
    }

    .video-play-icon {
        @include center-both;
    }

    .video-time-frame {
        position: absolute;
        background-color: $black;
        bottom: 0.25px;
        right: 0;
        @include font($font7, 11px, 1.27, $white, 1px);
        width: 50px;
        height: 20px;
        padding: 3px 10.5px;
        display: none;
    }

    @include respond-to ('large') {
        .description {
            height: 60px;
        }
    }
}

.upfront-content-tile-container-horizontal {
    $borderColor: $upfrontContentTileBorderGrey;
    $backgroundColor: $white;
    height: 300px;
    background-color: $backgroundColor;
    border: 1px solid $borderColor;
    max-width: 440px;

    .padding-content {
        padding: 20px 20px 20px 0;
        height: 295px;
    }

    .title {
        padding-left: 10px;
        @include font($fontSL7, 26px, 1, $black, 0.4px);
        text-decoration: none;
        display: block;
        height: 40px;
    }

    .subject {
        background: $upfrontIaggregatorTagsBackground;
        margin-left: 10px;
        padding: 6px;
        display: inline-block;
        @include font($fontSL7, 12px, 1.33, $white, 0.5px);
        max-height: 40px;
    }

    .display-date {
        margin: 0 0 0 10px;
        @include font($font5, 10px, 1.4, $black, 0.3px);
        margin-bottom: 7px;
    }

    .description {
        max-height: 120px;
        padding: 0 0 0 10px;
        @include font($fontSL4, 16px, 1.25, $black, normal);
    }

    .row {
        margin: 0;
        padding: 0;
    }

    .padding-image {
        padding: 20px 0 20px 20px;
    }

    .image-container {
        max-width: 190px;
        /*height: 260px;*/
        height: auto;
        text-align: center;
        position: relative;
        /*background-color: $lightGray3;*/
        background-color: $white;

        .content-image {
            max-width: 100%;
            max-height: 260px;
            /*@include center-both;*/
        }
    }

    .icons-row {
        position: absolute;
        bottom: 15px;
        width: 100%;

        .sw-content-icon,
        .sw-icon,
        .view-article-link {
            display: inline-block;
            vertical-align: middle;
        }

        .sw-content-icon,
        .sw-icon {
            margin-left: 10px;
        }

        .sw-icon:first-child {
            margin-left: 5px;
        }

        .sw-content-icon:first-child {
            margin-left: 5px;
        }
    }
}

.contenthub-bookmark .content-tile-body {
    border-top: 0;
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .image-container-resource {
        height: 112.1px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    .image-container-resource {
        height: 135.99px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .image-container-resource {
        height: 148px;
    }
}
@media only screen and (min-width: 1366px) {
    .image-container-resource {
        height: 162.91px;
    }
}

@include respond-to ('1440px') {
    .upfront-content-tile-container {
        .image-container {
            height: 180px;

            .content-image {
                height: 100%;
                width: 100%;
            }
        }

        .image-container-resource {
            height: 162.91px;

            .content-image {
                height: auto;
                width: 98%;
            }
        }

        .content-tile-body .content-module .content-module-container .content-wrapper .content-one-up .img-container img {
            height: 180px;
            width: 100%;
        }
    }

    .upfront-content-tile-container-horizontal {
        .image-container {
            height: 260px;

            .content-image {
                width: 100%;
                height: 100%;
            }
        }
    }
}
