<div data-sly-test="${wcmmode.edit}">
    Marketing Config - Footer
</div>
<div data-sly-use.footer="com.scholastic.classmags.migration.controllers.GlobalFooterUse">
    <div data-sly-test.userType="${footer.userType}"></div>
    <div ng-app="scienceWorld">
        <div class="marketing-globalFooter-main-container">
            <div class="globalFooter-content ">
                <div class="row nomarLR">
                    <div data-sly-list.column="${footer.footerObjects}">
                        <div class="col-md-3 col-sm-4 col-xs-12 link-wrapper">
                            <div class="footerContentWrapper">
                                <div class="footerTitle">${column.headingTitle}</div>
                                <div data-sly-test="${column.phoneNumber}" class="footerPhoneNo"><a href="tel:${properties.phoneNumber}"><span class="phoneIcon sw-icon phone-icon"></span></a><span class="phonelink"><a href="tel:${properties.phoneNumber}">${column.phoneNumber}</a></span></div>
                                <div data-sly-test="${column.liveChat}" class="footerPhoneNo"><a href="${column.liveChatLink}"><span class="liveIcon"></span></a><span class="livelink"><a href="${column.liveChatLink}">${column.liveChat}</a></span></div>
                                <div class="footerlinks ${ (column.phoneNumber)? 'phoneNumber' :''}">
                                    <div data-sly-list.link="${column.footerLinks}" data-sly-unwrap>
                                        <div data-sly-test="${wcmmode.edit}" data-sly-unwrap>
                                            <p><a x-cq-linkchecker="skip" href="${link.path}"> ${link.label}</a></p>
                                        </div>
                                        <div data-sly-test="${!wcmmode.edit}" data-sly-unwrap>
                                            <div data-sly-test="${link.userType == 'everyone'}" data-sly-unwrap>
                                                <p><a x-cq-linkchecker="skip" href="${link.path}"> ${link.label}</a></p>
                                            </div>
                                            <div data-sly-test="${(link.userType == 'student' && userType == 'student')}" data-sly-unwrap>
                                                <p><a x-cq-linkchecker="skip" href="${link.path}"> ${link.label}</a></p>
                                            </div>
                                            <div data-sly-test="${(link.userType == 'teacher' && userType == 'teacher')}" data-sly-unwrap>
                                                <p><a x-cq-linkchecker="skip" href="${link.path}"> ${link.label}</a></p>
                                            </div>
                                            <div data-sly-test="${(link.userType == 'teacherOrStudent') && (userType == 'teacher' || userType == 'student')}" data-sly-unwrap>
                                                <p><a x-cq-linkchecker="skip" href="${link.path}"> ${link.label}</a></p>
                                            </div>
                                            <div data-sly-test="${(link.userType == 'anonymous' && userType == 'anonymous')}" data-sly-unwrap>
                                                <p><a x-cq-linkchecker="skip" href="${link.path}"> ${link.label}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-sly-test="${!(footer.socialLinks.disabledForStudents && userType == 'student') || wcmmode.edit }" data-sly-unwrap>
                        <div class="col-md-3 col-sm-4 col-xs-12 social-links-wrapper">
                            <div class="footerContentWrapper social-links">
                                <div class="footerTitle nopadL col-xs-12 col-sm-12  col-md-12">${footer.socialLinks.sectionHeading}</div>
                                <div class="footer-socialIcons nopadL col-xs-12 col-sm-12 col-md-12">
                                    <div data-sly-list.socialLink="${footer.socialLinks.links}" data-sly-unwrap>
                                        <a x-cq-linkchecker="skip" href="${socialLink.linkPath}"><span class="sw-icon ${socialLink.linkIcon}"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="globalFooter-bottom nomarLR">
                    <span class="nopadLR">
        		<img src="${properties.logo || '/etc/designs/scholastic/classroom-magazines-migration/images/scholasticIcon.png'}" class="scholastic-logo" />
            </span>
                    <span class="keep-right">
                  <span class= "links nopadLR">
            	<a x-cq-linkchecker="skip" href="${properties.privacyPolicy}">${properties.privacyPolicyLabel}</a>
            </span>
                    <span class=" links links-term nopadLR">
            	<a x-cq-linkchecker="skip" href="${properties.termsLink}">${properties.termsUseLabel}</a>
            </span>
                    <span class=" desc nopadLR">
            		${properties.copyrightLabel}
            	  </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
