.dividerComponent-container{
    .dividerComponent-wrapper{
        .dividerComponent-content{
            width: 30px;
            height: 4px;
            border-radius: 100px;
            background-color: $ashGrey;
//            margin-top: 9px;
            margin-bottom: 13px
        }
    }
}