.marketing-subscribe-header {
    .marketing-subscribe-header-container {
        .marketing-subscribe-header-container-logo {
            padding: 20px 0;
            margin-left: 11.7%;

            img {
                max-width: 158px;
            }
        }
    }

    @include respond-to ('xssmall') {
        .marketing-subscribe-header-container {
            margin: 0;

            .marketing-subscribe-header-container-logo {
                margin-left: 0;
                text-align: center;
            }
        }
    }
}
