.app-nav-bar-main-container {
    .logged-in-dropdown {
        .login-menu {
            top: 81px;

            &:before, &:after{
                left: 254px;
            }

            .dropdown-title, .subscription {
                @include font($fontSE9, 14px, 1, $black, normal);
            }

            #sdm-logout, #sdm-portal-link {
                @include font($fontSL7, 14px, 1, $textHyperlinkColor, 0.5px);
                color: $textHyperlinkColor !important;
            }

            .dropdown-title, .subscription {
                @include font($fontSE9, 14px, 1, $black, normal);
            }

            #sdm-logout, #sdm-portal-link {
                @include font($fontSL7, 14px, 1, $textHyperlinkColor, 0.5px);
                color: $textHyperlinkColor !important;
            }
        }

        &.open {
            a:focus {
                background-color: $geoGlobalNavPrimarColor;
            }

            .login-toggle {
                background-color: $geoGlobalNavPrimarColor;

                &:hover {
                    background-color: $geoGlobalNavPrimarColor;
                }
            }
        }
    }

    .app-nav-primary {
        background-color: $geoGlobalNavPrimarColor;
        min-height: 90px;
        box-shadow: none;
    }

    .app-navbar-secondary {
        //to overwride nav bootstrap navbar styles;
        display: none !important;
    }

    .navbar-default {
        border-bottom: 0;
    }

    .app-nav-main-item-link {
        @include font($fontSL7, 13px, null, $white, 0.5px);
        line-height: normal;
        padding-top: 33px;
    }

    .logged-in-dropdown {
        .login-toggle {
            padding-top: 25px;
        }
    }

    .science-logo {
        padding: 0;
        position: relative;
        cursor: pointer;
        width: 209px;
        padding-left: 20px;
        margin-left: 0;
        margin-right: 0;

        a {
            width: 100%;
            background: url('../../../images/globalNav/geographyspin-logo.png') no-repeat center;
            background-size: 100%;
            padding: 35px 0;
        }
    }

    .nav-search-form {
        margin-top: 31px;

        input {
            @include font($fontSL4, 13px, null, $globinpPlaceholdText, 0.5px);
            line-height: normal;
        }

        button {
            background-color: $geoGlobalNavButton;
            @include font($fontSL7, 13px, 1.08, $white, 0.5px);
            border: 0;
        }
    }

    .dropdown {
        .magazine {
            &.bookmarks {
                @include font($fontSL7, 14px, null, $white, 0.4px);

                &:active,
                &:focus,
                &:hover {
                    @include font($fontSL7, 14px, null, $white, 0.4px);
                }
            }
        }
    }

    .login-control {
        padding-right: 28px;
        padding-top: 22px;
        padding-left: 5px;

        li {
            a {
                @include font($fontSL9, 13px, null, $white, 0.5px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontSL9, 13px, null, $white, 0.5px);
                    line-height: normal;
                }
            }
        }

        .subscribe-text,
        li.nav-subscribe-text p {
            @include font($fontSL7, 11px, null, $white, 0.5px);
            line-height: normal;

            &:active,
            &:focus,
            &:hover {
                @include font($fontSL7, 11px, null, $white, 0.5px);
                line-height: normal;
            }

            b {
                @include font($fontSL9, 11px, null, $white, 0.5px);
                line-height: normal;
            }
        }
    }

    .bookmarks {
        padding-left: 15px;
    }

    @include respond-to ('small-and-down') {
        .magazine-logo-tablet-mobile {
            background: url('../../../images/globalNav/geographyspin-logo.png') no-repeat center;
            display: inline-block;
            width: 150px;
            height: 36px;
            position: relative;
            left: 50%;
            @include translateX(-50%);
            background-size: 59%;
            vertical-align: middle;
        }
    }

    @include respond-to ('xssmall') {
        .magazine-logo-tablet-mobile {
            width: 120px;
            height: 43px;
            background-size: 89%;
        }
    }
    @media (min-width:1440px) {
        .secondary-items {
            a {
                padding-left: 21px;
                padding-right: 21px;
            }

            .explore {
                padding-left: 25px;
            }
        }

        .app-nav-main-item-link {
            @include font($fontSL7, 16px, null, $white, 0.5px);
            line-height: normal;
            padding-left: 18px;
            padding-right: 19px;
            padding-top: 41px;
        }

        .science-logo {
            padding: 10px 0 0;
            width: 306px;
            margin-right: 20px;
            margin-left: 28px;


            a {
                width: 100%;
                height: 73px;
                background-size: 100%;
                padding: 35px 0;
            }
        }

        .dropdown {
            .magazine {
                &.bookmarks {                    
                    padding-right: 12px;
                    padding-left: 18px;
                    padding-top: 42px;                   
                }
            }
        }

        .logged-in-dropdown {
            &.open {
                a:focus {
                    background-color: $geoGlobalNavPrimarColor;
                }

                .login-toggle {
                    background-color: $geoGlobalNavPrimarColor;

                    &:hover {
                        background-color: $geoGlobalNavPrimarColor;
                    }
                }
            }
        }
    }
}
