/* Junior constants */
$titleHyperlinkColor:#00a6fb !default;
$jrIssueHighbackground: #00aeef !default;
$jrIssueHighTilesBorder: #69d1f8 !default;
$jrIssueBorderBottom: #005aaa !default;
$jrIssueHighButton: #dcff07 !default;
$juniorSearchButtonGreen: #cdef04 !default;
$juniorSubjectsTagsBlue: #00a4fe !default;
$juniorCurrentIssueBottomBorder: #cccccc !default;
$juniorBlueBg: #00aeef !default;
$juniorNavyBlue: #005aaa !default;
$juniorGreyBorder: #cdd3d5 !default;
$juniorGreyBg: #f0f2f5 !default;
$juniorGreyBg1: #ecf0f5 !default;
$juniorSelectGreyBorder: #d5dae0 !default;
$juniorGreyBg2: #eff1f4 !default;
$juniorSelectGreyBorder1: #cdd3d5 !default;
$juniorButtonGreen: #cdef04 !default;
$lime: #cdef04 !default;
$juniorExploreBarBorder: rgba(158,157,157, 0.5);
$JuniorButtonBackground: #008dcb !default;


/*Junior content tiles*/

$contentTileSlideshowViolet: #9b59b6;
$contentTileGameOrange: #e67e22;
$contentTileSkillSheetGray: #cbcbcb;
$contentTileActivityYellow: #2ecc71;
$contentTileLessonPlanGreen: #f1c40f;
$contentTileBorderGray: #efefef;
$contentHeaderBorderBlue: #0C5CA8;
$contentTileSubjectRed: #ed1c24;
$contentTileSubjectBlue: #0054a6 !default;
$juniorSearchButtonGreen: #cdee05 !default;
$juniorLiteGray: #f9fafb !default;
$juniorBlue: #69d1f8 !default;
$juniorBorderBlue: #00a6fb !default;
$juniorMyBookmarksHeaderBorder: #cccccc !default;
$juniorBookmarkCheckboxBackground: #ebebeb !default;
$juniorBookmarkActiveTabBackground: #ededed !default;
$juniorSeeAllButtonGreen:#cdee05 !default;
$juniorToolbarBottomBorder: #e4e4e4 !default;
$juniorPaginationSelectBackground: #f1f3f4 !default;
$juniorPaginationDropdownBackground: #f9f9f9 !default;
$juniorPaginationBorderGrey: #dadbde !default;
$juniorThickGreyLineColor: #dbdbdb !default;
$juniorArticleBorder: rgba(150, 150, 150, 0.37) !default;
$marketingGlobalHeaderBackground: #00bff3 !default;
$marketingFooterBackground: #00bff3 !default;
$marketingJuniorCTADefault: #c1e103 !default;
$JuniorTDIcontentTileDesc: #ec233b !default;
$JuniorTDItitle: #333333 !default;
$JuniorHyperlink: #6c6c6c !default;
$JuniorAppDesc: #4a4a4a !default;
$JuniorButtonBackground: #008dcb !default;
$JuniorLightGray: #9b9b9b !default;
