.iarticle-aggregator {
    &:first-child {
        margin-top: 30px;
    }

    .iarticle-content-container {
        margin-bottom: 50px;

        .iarticle-content {
            padding-top: 0;

            .iarticle-content-wrapper {
                border: 1px solid $mathIssueAggArticleGrey;
                border-top: 0;

                .article-image {
                    &.col-sm-5 {
                        width: 49.2%;
                    }
                }

                .col-sm-7 {
                    width: 50.8%;
                }
            }
        }

        .iarticle-aggre-title {
            @include font($fontC6, 36px, null, $black, normal);
            line-height: normal;
        }

        .iarticle-aggre-title-wrapper {
            border-bottom-color: $black;
            position: relative;
            padding-bottom: 5px;

            &:after,
            &:before {
                width: 8px;
                height: 8px;
                position: absolute;
                content: '';
                top: 94%;
                background-color: $black;
                border-radius: 100%;
            }

            &:after {
                right: 0;
            }

            &:before {
                left: 0;
            }
        }

        .iarticle-tags-wrapper {
            &:after {
                clear: both;
                display: block;
                content: '';
            }

            .iarticle-tags-content {
                .iarticle-aggre-sub-title {
                    @include font($fontC7, 10px, 1.6, $sn4FaqAnsQuestion, 0.8px);
                }
            }
        }

        .iarticle-aggregator-des-sec {
            margin-top: 16px;
            padding-left: 21px;
            padding-right: 30px;

            .iarticle-aggregator-des {
                @include font($fontB4, 18px, 1.78, $black, normal);
            }
        }

        .article-resources-main-container {
            .article-resources-content {
                margin-top: 23px;

                .article-tiles {
                    margin-top: 22px;
                }
            }
        }
    }

    &:nth-child(3n+1) {
        .iarticle-content-container-hash {
            background-color: $mathvotingTitle;
        }
    }

    &:nth-child(3n+2) {
        .iarticle-content-container-hash {
            background-color: $mathOrange;
        }       
    }

    &:nth-child(3n+3) {
        .iarticle-content-container-hash {
            background-color: $mathGreen;
        }       
    }

    .iarticle-content-container-hash {
    	background: none;    	
    	position: static;
    	height: 24px;
    	min-height: auto;
    	width: auto;
        margin-left: 40px;
        margin-right: 40.5px;
    }
    
    .featured-article-main-container {
        .featured-content-wrapper {
            .featured-article {
                padding-top: 0;

                .featured-article-content {
                    border: 1px solid $mathIssueAggArticleGrey;
                    border-top: 0;
                    .featured-article-des-sec {
                        .featured-article-title-wrapper {
                            border-bottom-color: $black;
                            position: relative;

                            &:after,
                            &:before {
                                width: 8px;
                                height: 8px;
                                position: absolute;
                                content: '';
                                top: 92%;
                                background-color: $black;
                                border-radius: 100%;
                            }

                            &:after {
                                right: 0;
                            }

                            &:before {
                                left: 0;
                            }

                            .featured-article-title {
                                @include font($fontC5, 28px, 1.14, $black, 1px);
                            }
                        }

                        .featured-article-tags-wrapper {
                            .featured-article-tags-content {
                                &:after {
                                    content: '';
                                    clear: both;
                                    display: block;
                                }

                                .featured-article-sub-title {
                                    @include font($fontB7, 10px, 1.6, $sn4FaqAnsQuestion, 0.8px);
                                }
                            }
                        }

                        .featured-article-des {
                            @include font($fontB4, 16px, 1.5, $black, 0.5px);
                        }
                    }
                }
            }
        }

        .article-resources-main-container {
            .article-resources-content {
                margin-top: 23px;
                margin-bottom: 50px;
            }
        }
    }

    .article-resources-main-container {
        .article-resources-content {
            margin-top: 23px;

            .article-tiles {
                margin-top: 22px;
            }

            .article-resources-heading {
                .article-title {
                    @include font($fontC6, 16px, 1.5, $gray, 0.5px);
                }
            }

            .see-all {
                h5 {
                    [data-state="expand"], [data-state="collapse"] {
                        margin-top: 30px;
                        background-color: $mathCurrIssueButtonBlue;

                        span {
                            &.title {
                                @include font($fontC7, 12px, 1.17, $white, 1px);
                            }
                        }
                    }
                }
            }
        }
    }

    .reading-levels {
        @include font($fontB7, 11px, 1.45, $liteAsh5, 0.8px);

        span {
            @include font($fontB8, 13px, 1, $black, 1px);
        }
    }
}
