.recent-issues-container {
    background-color: $juniorLiteGray;
    margin-top: 0;
    padding-bottom: 52px;

    .recent-issue-content-wrapper {
        &:nth-child(-n+5) {
            margin-top: 17px;
        }

        .recent-issue-date {
            @include font($fontP5, 18px, 1.17, $black, 0.5px);
        }
    }
}
