.vocabulary-main-container-wrapper {
    .vocabulary-word {
       font-family: 'Lato-Bold';
    }
    .popover {
        &.fade {
            &.in { 
                .popover-content {
                    .vocabulary-wrapper {
                        .image-wrapper {
                            .photo-credit{
                                font-family: 'Lato-Regular';
                            }
                        }
                        .text-wrapper {
                            .popover-name-wrapper {
                                .popover-name {
                                    font-family: 'Lato-Bold'; 
                                }  
                            }
                            .popover-pronoutext {
                                font-family: 'Lato-Regular';
                            }
                            .popover-definition {
                                font-family: 'Lato-Regular';
                            }
                        }
                    }
                }
            }
        }
    }
}