<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure
	Media - Slideshow Component</div>
 <div
	data-sly-use.slideshowUse="com.scholastic.classmags.migration.controllers.SlideshowUse">
	<sw-slideshow data="${slideshowUse.slideshowJsonArray}"
		coverimage="${properties.slideshowCoverImageFileReference}"
		backgroundcolor="${properties.slideshowNumberColor}"
		disablenumber="'${properties.slideshowDisableNumbers ?
	properties.slideshowDisableNumbers : false}'"
	uniqueid="${slideshowUse.uniqueId}"></sw-slideshow>
</div>