.sw-icon {
    background: url('/etc/designs/scholastic/classroom-magazines-migration/superscience/clientlibs/superscience-core/styles/core/icons/Icons-SuperScience.png') no-repeat;

    .papers-stack-icon {
        background-position: -294px -268px;
        width: 25px;
        height: 30px;
    }
    .two-page-icon {
        background-position: -230px -82px;
        width: 25px;
        height: 25px;
    }
    .page-arrow-icon {
        background-position: -350px -19px;
        width: 25px;
        height: 26px;
    }
	&.down-black-arrow {
		background-position: -20px -256px;
	}
	&.checked-radio-icon{
        background-position: -169px -334px;
        width: 19px;
        height: 21px;
    }
    &.unchecked-radio-icon{
        background-position: -169px -377px;
        width: 18px;
        height: 18px;
    }
    &.number-one-icon{
        background-position: -230px -378px;
        width: 39px;
        height: 39px;
    }
    &.number-two-icon{
        background-position: -230px -440px;
        width: 39px;
        height: 39px;
    }
    &.number-three-icon{
        background-position: -230px -502px;
        width: 39px;
        height: 39px;
    }
    &.medium-size-blue-down-full-arrow{
        background-position: -170px -476px;
        width: 8px;
        height: 6px;
    }
    &.small-size-blue-down-full-arrow{
        background-position: -170px -522px;
        width: 5px;
        height: 5px;
    }
    &.large-size-blue-down-full-arrow{
        background-position: -170px -624px;
        width: 10px;
        height: 10px;
    }
    &.small-size-blue-up-full-arrow{
        background-position: -170px -514px;
        width: 5px;
        height: 5px;
    }
    &.grey-up-full-arrow{
        background-position: -170px -554px;
        width: 7px;
        height: 5px;
    }
    &.black-up-full-arrow{
        background-position: -170px -589px;
        width: 7px;
        height: 5px;
    }
    &.blue-up-full-arrow{
        background-position: -231px -572px;
        width: 12px;
        height: 9px;
    }
    &.white-crossMark-icon {
        background-position: -228px -612px;
        width: 14px;
        height: 14px;
    } 
    &.phone-blue-icon {
        background-position: -231px -336px;
        width: 12px;
        height: 14px;
    }
}