.tab-component-layout {
    .main-tabs {
        border-bottom: 0;

        li {
            a {
                background-color: $contentTileSkillSheetGray;

                &:active,
                &:focus,
                &:hover {
                    background-color: $contentTileSkillSheetGray;
                }

                &:before {
                    background-color: $contentTileSkillSheetGray;
                    border-top-left-radius: 8px;
                }

                &:after {
                    background-color: $contentTileSkillSheetGray;
                    border-top-right-radius: 8px;
                }

                span {
                    &.tab-names {
                        @include font($fontPE4, 20px, 0.9, $gray, 1.5px);
                    }
                }
            }

            &.active {
                a {
                    background-color: rgba(237, 237, 237, 0.99);

                    &:active,
                    &:after,
                    &:before,
                    &:focus,
                    &:hover {
                        background-color: rgba(237, 237, 237, 0.99);
                    }

                    &:before {
                        border-top-left-radius: 8px;
                    }

                    span {
                        &.tab-names {
                            @include font($fontPE4, 20px, 0.9, $gray, 1.5px);
                        }
                    }
                }
            }
        }
    }
}
