<div class="textHyperlink-container-wrapper">
    <div class="textHyperlink-wrapper">
        <h2 class="textHyperlink-text" ng-style="{'color' : bgcolor}">{{title}}<span class="textHyperlink-count" ng-if="recordsCount">({{recordsCount}})</span></h2>
    </div>
	<div class="text-link-connector" ng-style="{'background-color' : bgcolor}"></div>
    <a href="{{hyperLinkUrl}}" class="textHyperlink-link pull-right" ng-if="hyperLinkText">{{hyperLinkText}}<span class="icon sw-icon icon-right right-arrow"></span></a>
</div>
