<div ng-if="containerModal == 'true'" class="content-module html-game-container">
 <div class="content-module-container game-container-bg">
  <div class="content-wrapper">
 	  <div ng-if="containerModal == 'true'" class="content-one-up">
	    <a class="content-card-link" ng-click="openModal()">
	      <image-card icon="icon-play"
		      card-link=""
		      card-title="containerTitle"
		      card-img-path="containerImage"
		      card-img-title="cardImgTitle"
		      card-img-alt=""
		      card-img-silo="">
    	   </image-card>
	    </a>

        <div class="rteContent" ng-bind-html="containerGameTitle"></div>
        <div ng-bind-html="containerGameDesc"></div>
	</div>
  </div>
</div>
</div>
<div id="{{containerId}}" ng-show="containerModal == 'false'" class="game-container">
  <div class="{{containerModal == 'true' ? 'game-container-iframe' : '' }}"  >
    <iframe id="iframe-{{containerId}}" ng-if="containerModal" src="{{containerModal == 'false' ? containerPath : ''}}" name="bestgameever"
	 	height="100%" width="100%" allowfullscreen="" frameborder="0" scrolling="no">
		<p>Your browser does not support iframes.</p>
	</iframe>
  </div>
</div>
<!-- Video error panel -->
<div ng-if="cardGameError" class="game-container-error">
  <span ng-bind-html="cardGameError"></span>
</div>
