<div ng-if="containerModal === true" class="content-module flash-container">
    <div class="content-module-container game-container-bg">
        <div class="content-wrapper">
            <div class="content-one-up">
                <a class="content-card-link" ng-click="openFlashModal()">
                  <image-card icon="icon-play"
                    card-link=""
                    card-title="containerTitle"
                    card-img-path="containerImage"
                    card-img-title="cardImgTitle"
                    card-img-alt=""
                    card-img-silo="">
                   </image-card>
                </a>
                <div class="rteContent" ng-bind-html="containerGameTitle"></div>
                <div ng-bind-html="containerGameDesc"></div>
            </div>
        </div>
    </div>
</div>

<div id="{{containerId}}" ng-show="containerModal === false">
    <object type="application/x-shockwave-flash" data="{{containerPath}}" height="100%" width="100%">
  		<param name="allowFullScreen" value="true">
  		<param name="wmode" value="opaque">
  		<param name="allowScriptAccess" value="always">
  		<param name="flashvars" value="{{containerGameFlashData}}">
  </object>
</div>

<div ng-show="unSupportedError" class="game-container-error">
    <div class="ipad-warning">
        <i class="icon-play"></i>
        <h3>Oooops!</h3>
        <p>This game doesn\'t work properly on mobile, please check back on your tablet or computer.</p>
    </div>
</div>
