<div>
  <a class="img-container-link" ng-href="{{cardLink}}" target="{{target}}" hideExitBumper="{{cardHideExitBumper}}">
    <div class="img-container" ng-class="{'no-img': !cardImgPath}">

      <i ng-if="!cardImgPath && !cardImgEmpty" class="img-container-icon" ng-class="icon"></i>
      <img ng-if="cardImgPath" ng-src="{{cardImgPath}}" onload="resizeGameContentTileImageHeight(this)"
        ng-attr-alt="{{cardImgAlt || cardTitle}}" ng-attr-title="{{cardImgTitle || cardTitle}}" class="img-responsive" />
      <img ng-if="!cardImgPath && cardImgEmpty" ng-src="{{cardImgEmpty}}" onload="resizeGameContentTileImageHeight(this)"
        ng-attr-alt="{{cardImgAlt || cardTitle}}" ng-attr-title="{{cardImgTitle || cardTitle}}" class="img-responsive" />
        <div class="popup-img-icon">
                <a href="#"><span data-toggle="modal" class="sw-icon  double-arrows-blueRounded-icon"></span></a>
            </div>
    </div>
    <div class="img-container ie" ng-if="cardImgPath" class="img-responsive" style="background-image: url('{{cardImgPath}}');">
    </div> 
    <div ng-if="cardImgSilo && cardImgPath" class="silo-character">
      <img ng-src="{{cardImgSilo}}" alt="Image Character Silhouette" />
    </div>
  </a>
</div>



