<div data-sly-test="${wcmmode.edit}">Configure Config - Data page component</div>

<table>
  <tr>
    <th>Configuration Parameters</th>
    <th>Values</th>
  </tr>
  <tr>
    <td>Site Name</td>
    <td>${properties.jcr:siteName}</td>
  </tr>
  <tr>
    <td>Homepage LoggedIn path</td>
    <td>${properties.hmPageLoggedIn}</td>
  </tr>
  <tr>
    <td>Homepage LoggedOut path</td>
    <td>${properties.hmPageLoggedOut}</td>
  </tr>
  <tr>
  	<td>SDM Create Account URL</td>
  	<td>${properties.sdmCreateAccountUrl}</td>
  </tr>
  <tr>
  	<td>SDM Teacher's Login URL</td>
  	<td>${properties.sdmTeacherLoginUrl}</td>
  </tr>
  <tr>
  	<td>SDM Student's Login URL</td>
  	<td>${properties.sdmStudentLoginUrl}</td>
  </tr>
  <tr>
  	<td>SDM Logout URL</td>
  	<td>${properties.sdmLogOutUrl}</td>
  </tr>
  <tr>
  	<td>Search Results Link</td>
  	<td>${properties.searchResults}</td>
  </tr>
  <tr>
    <td>Flash Game Container Path</td>
    <td>${properties.containerPath}</td>
  </tr>
  <tr>
    <td>Entitlements Error page path</td>
    <td>${properties.entitlementsErrorPagePath}</td>
  </tr>
  <tr>
    <td>MyBookmarks Page URL</td>
    <td>${properties.myBookmarksPageUrl}</td>
  </tr>  
  <tr>
    <td>Brightcove Embedded Player Id</td>
    <td>${properties.jcr:brightcoveEmbeddedPlayerId}</td>
  </tr>
   <tr>
    <td>Brightcove Non Embedded Player Id</td>
    <td>${properties.jcr:brightcoveNonEmbeddedPlayerId}</td>
  </tr>
   <tr>
    <td>Brightcove Player Key</td>
    <td>${properties.jcr:brightcovePlayerKey}</td>
  </tr>
   <tr>
    <td>LiveFyre Site Id</td>
    <td>${properties.livefyreSiteId}</td>
  </tr>
   <tr>
    <td>LiveFyre Site Key</td>
    <td>${properties.livefyreSiteKey}</td>
  </tr>
   <tr>
    <td>LiveFyre Network Name</td>
    <td>${properties.livefyreNetworkName}</td>
  </tr>
   <tr>
    <td>LiveFyre Network Key</td>
    <td>${properties.livefyreNetworkKey}</td>
  </tr>

</table>
