<div class="textHyperlink-container">
<div class="textHyperlink-hash-container">
    <div class="textHyperlink-hash-content"></div>
</div>
    <div class="textHyperlink-wrapper" ng-style="{'background-color' : bgcolor}">
        <h2 class="textHyperlink-text" ng-style="{'background-color' : bgcolor}">{{title}}<span class="textHyperlink-count" ng-if="recordsCount">({{recordsCount}})</span></h2>
        <a href="{{hyperLinkUrl}}" class="textHyperlink-link pull-right" ng-if="hyperLinkText">{{hyperLinkText}}<span class="icon sw-icon icon-right right-arrow"></span></a>
    </div>
    <a href="{{hyperLinkUrl}}" class="textHyperlink-link pull-right" ng-if="hyperLinkText">{{hyperLinkText}}<span class="icon sw-icon icon-right right-arrow"></span></a>
</div>
