<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure Media - Game Flash Component</div>
<sly data-sly-use.flashGame="com.scholastic.classmags.migration.controllers.GameComponentUse">
  <sly data-sly-test="${flashGame.data}">
  <div sw-authorize="${flashGame.data.userType}"> 
	    <game-flash-container
	    	container-image="${flashGame.data.thumbnailImg @ context='uri'}"
	    	container-id="${flashGame.data.containerId @ context='text'}"
	    	container-path="${flashGame.data.containerPath @ context='uri'}"
	    	container-game-title="${flashGame.data.title @ context='html'}"
	    	container-game-desc="${flashGame.data.description @ context='html'}"
	    	container-game-flash-data="${flashGame.data.gamePath @ context='uri'}"
	    	sw-game-authorize="${flashGame.data.userType @ context='text'}"
	    	ng-cloak>
	  	</game-flash-container>
  </div>
  </sly>
</sly>