.marketing-app-tdi-component {
  background-color: $white;
  &.contentTile {
    background-color: $TDIcontentTileBackground;
    padding-bottom: 50px;
    .app-tdi-content {
      p {
        max-width: 100%;
        text-align: center;
        @include font($fontS3, 22px, 1.45, $mathContentTileDesc, 0.8px);
      }
    }
    .app-tdi-header {
      p {
        @include font($fontC7, 35px, 0.91, $mathTDItitleColor, 1.3px);
      }
    }
  }
  .app-tdi-header {
    p {
      @include font($fontC7, 35px, 1.14, $mathTDItitleColor, null);
    }
  }
  .app-tdi-content {
    p {
      max-width: 475px;
      @include font($fontB7, 30px, 1.52, $mathBlue, null);
      .hyperlink {
        @include font($fontB7, 23px, 2.17, $mathLearnMore, null);
      }
    }
  }
  .app-description {
    .desc {
      @include font($fontB2, 21px, 1.29, $mathTDItitleColor, null);
    }
    .secondary-button {
      background-color: $mathButtonBackground;
      @include font($fontC9, 18px, 1.11, $white, 1.4px);
      min-height: 49px;
      min-width: 251px;
      border-radius: 100px;
      padding: 14px 26px;
    }
  }
}

@include respond-to('xssmall') {
  .marketing-app-tdi-component {
    &.contentTile {
      background-color: $white;
      .app-tdi-content {
        p {
          @include font($fontS3, 18px, 1.78, $mathContentTileDesc, 0.6px);
        }
      }
      .app-tdi-header {
        p {
          @include font($fontC7, 30px, 1, $mathTDItitleColor, 1.3px);
        }
      }
    }
    .app-tdi-header {
      p {
        @include font($fontC7, 30px, 1, $mathTDItitleColor, null);
      }
    }
    .app-tdi-content {
      p {
        @include font($fontB7, 20px, 1.3, $mathBlue, null);
        .hyperlink {
          @include font($fontB7, 14px, 1.86, $mathLearnMore, null);
        }
      }
    }
    &.mobileCarousel {
      background-color: $white;
    }
    .app-description {
      .desc {
        @include font($fontB2, 21px, 1.29, $mathTDItitleColor, null);
      }
      .secondary-button {
        background-color: $mathButtonBackground;
        @include font($fontC9, 18px, 1.43, $white, 1.1px);
        min-height: 40px;
        min-width: 205px;
        border-radius: 100px;
        padding: 7px 0px;
      }
    }
  }
}
