<div>
	<div data-sly-resource="${'entitlement' @ resourceType='scholastic/classroom-magazines-migration/components/content/entitlement'}"></div>
</div>
<div>
    <div data-sly-resource="${'issue-configuration' @ resourceType='scholastic/classroom-magazines-migration/components/content/issue-configuration'}"></div>
</div>
<div>
    <div data-sly-resource="${'ereader-configuration' @ resourceType='scholastic/classroom-magazines-migration/components/content/ereader-configuration'}"></div>
</div>
<div>
    <sly data-sly-resource="${ @path='par', resourceType='wcm/foundation/components/parsys'}"></sly>
</div>
