.bookmarks-main-container {
    margin-top: 3px;
    .bookmarks-main-content {
        .bookmarks-header {
            .title-container {
                @include font($fontSE9, 32px, 0.78, $sn56Black, 0.3px);
            }

            .title-count {
                @include font($fontSE9, 20px, 1.25, $sn56Black, 0.2px);
                margin-left: 10px;
                position: relative;
                bottom: 3px;
            }
        }
        .articles-resources-issues-container {
            margin-top: 36px;

            .articles-resources-issues-tabs {
                ul {
                    border-bottom: 4px solid $sn56TabBackground;

                    li {
                        &:before {
                            border-top-left-radius: 9px;
                        }

                        &:after {
                            border-top-right-radius: 9px;
                        }

                        a {
                            @include font($fontSL7, 14px, 1, $sn3TabInactiveColor, 1px);
                            margin-top: 3px;
                        }

                        &.active {
                            background-color: $sn56TabBackground;

                            &:after {
                                background-color: $sn56TabBackground;
                            }

                            &:before {
                                background-color: $sn56TabBackground;
                            }

                            a {
                                @include font($fontSL7, 14px, 1, $white, 1px);
                            }
                        }
                    }
                }
            }

            .tab-content {
                padding-top: 33px;
                .tab-pane {
                    .bookmarks-facets {
                        padding-left: 0;
                        margin-left: 40px;
                    }
                    .filter-section-container {
                        .filter-category-heading {
                            @include font($fontSL7, 14px, 0.93, $black, 1.1px);
                            margin-bottom: 13px;
                        }
                        .filter-category-section {
                            .filter-category-items-container {
                                ul {
                                    .filter-category-item {
                                        padding-top: 8px;
                                        padding-bottom: 8px;
                                        margin: 0 auto 24px;
                                        label {
                                            border: 1px solid $sn56CheckBorder;
                                        }
                                        span {
                                            @include font($fontSL4, 12px, 1.08, $black, 0.5px);
                                        }
                                        input[type=checkbox] {
                                            &:checked {
                                                + label {
                                                    background: $sn56CheckBlue;

                                                    &:after {
                                                        background: $sn56CheckBlue;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                            &:last-child {
                                margin-bottom: 28px;
                            }
                            &.filter-reset-section{
                              .filter-category-items-container{
                                .filter-category-item{
                                  span{
                                      color:$sn56ArticleLinkColor;
                                  }
                                }
                              }
                            }
                        }
                        .filter-reset-section {
                            padding-top: 28px;
                            padding-bottom: 0;
                            .filter-category-item {
                                padding-bottom: 12px;
                                margin-bottom: 28px;
                                &:last-child {
                                    padding-bottom: 12px;
                                    margin-bottom: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .bookmarks-content {
            .sort-by-wrapper {
                .sort-by-text {
                    @include font($fontSL5, 13px, 1, $black, 0.5px);
                    padding-left: 10px;
                    margin-right: 21px;
                }

                span {
                    margin-right: 20px;
                    padding-left: 20px;

                    &:nth-child(2) {
                        a {
                            border-left: 0;
                            padding-left: 0;
                        }
                    }
                }

                .sort-by-category {
                    padding-left: 0;
                    border-left: 0;

                    a {
                        @include font($fontSL5, 13px, 1, $sn56ArticleLinkColor, 0.5px);
                        padding-left: 20px;
                        border-left: 2px solid $liteAsh2;
                    }

                    &.active-sort {
                        a {
                            @include font($fontSL7, 13px, 1, $black, 0.5px);
                        }
                    }
                }
            }
            .content-tile-container .icons-row {
                padding-left: 16px;
            }
        }
    }
}
