.marketing-globalFooter-main-container {
    
    .globalFooter-content {
        background-color: $sn4ContentTileBorder;

        .link-wrapper:last-child {
            max-width: 210px;
            margin-right: 60px;
            padding-right: 0;
        }

        .footerContentWrapper {

            &.social-links {
                height: auto;
                border-right: 0 none;

                .footerTitle {
                    border-bottom-width: 1px;
                }
            }

            .footerTitle {

                @include respond-to ('xssmall') {
                    @include font($fontSL7, 17px, 1.18, $white, 0.3px);
                }
                @include font($fontSL7, 15px, 1, $white);

                &.footerTitleSocialIcon {
                    border-bottom-width: 1px;
                }
            }

            .footerPhoneNo {
                .phonelink {

                    @include respond-to ('xssmall') {
                        @include font($fontSL5, 17px, 0.65, $white, 0.8px);
                    }

                    @include font($fontSL5, 13px, 2.31, $white, 0.4px); 

                }

                .liveIcon {
                    background: url('../../../images/CM-Marketing/livechat.png') no-repeat center;
                    width: 15px;
                    height: 15px;
                    padding-left: 18px;
                }

                .livelink {

                    @include respond-to('xssmall') {
                        @include font($fontSL5, 17px, 1.47, $white, 0.8px);
                    }

                    @include font($fontSL5, 13px, 2, $white);

                }
            }

            .footerlinks {
                p {

                    @include respond-to('xssmall') {
                        @include font($fontSL5, 17px, 1.47, $white, 0.8px);
                    }

                    @include font($fontSL5, 13px, 2, $white);
                    margin-bottom: 0;
                }

                a {

                    @include respond-to ('xssmall') {
                        @include font($fontSL5, 17px, 1.47, $white, 0.8px);
                    }

                    @include font($fontSL5, 13px, 2, $white);
                    text-decoration: none;
                }
            }

            .footer-socialIcons {
                span {
                    margin-right: 12px;
                }
            }

        }

        .globalFooter-bottom {
            background-color: $whitegrey;

            .links {

                a {
                    @include font($font07, 10px, null, $liteBlue2, 0.3px);
                }
            }

            .desc {
                @include font($font04, 10px, 1.4, $liteGray2, 0.3px);
            }
        }
    }
}

@include respond-to ('xssmall-and-up') {
    .marketing-globalFooter-main-container {
        .globalFooter-content {
            .globalFooter-bottom {
                .keep-right {

                    .links {

                        a {
                            @include font($font07, 12px, null, $liteBlue2, 0.3px);
                        }
                    }
                }
            }

            .row {
                    padding: 30px 20px 44px;

                div {
                    .link-wrapper {
                        margin-bottom: 50px;
                        max-width: inherit;
                    }
                }
            }
        }
    }
}