.textHyperlink-container-content {
.flexible-title-custom-background{
        padding-top: 51px;
        background-color: $black;
    }
    .textHyperlink-container-wrapper {
        &.left {
            flex-direction: row;
        }

        &.right {
            flex-direction: row-reverse;

            .text-link-connector {
                margin-right: 40px;
                margin-left: 0;
            }

            .textHyperlink-link {
                margin-left: 0;
                margin-right: 40px;
            }
            .textHyperlink-text {
                text-align: right;
            }
        }

        .text-link-connector {
            &.hide-ruler {
                visibility: hidden;
            }

        }

        .textHyperlink-link {
            margin: 15px 41px 15px 0;
            @include font($fontB8, 14px, 1, $mathSearchButtonBlue, 0.5px);
            text-decoration: none;
            .icon-right {
                margin-left: 10px;
                position: relative;
                top: 2px;
            }
        }
        .textHyperlink-text {
            padding: 9px 40px 9px 40px;
            margin: 0;
            position: initial;
            @include font($fontC6, 36px, 1.22, $white, 0.9px);
            p {
                margin-bottom: 0;
            }
        }
    }
}
