.marketing-scholastic-magazine-wrapper {
    .scholastic-magazine-content {
        padding: 50px 29px 70px 39px;

        .magazine-title-wrapper {
            padding-bottom: 16px;

            span {
                &.magazine-title {
                    @include respond-to ('xssmall') {
                        @include font($fontSE9, 20px, 1.2, $sn4ContentTileBorderOrange);
                    }
                    @include font($fontSE9, 26px, 1.23, $sn4ContentTileBorderOrange);
                }

                &.view-all-magazine {
                    @include font($fontSL7, 14px, 1, $sn4FaqQuestionColor, 0.5px);
                }
            }
        }

        .content-container {
            margin-top: 67.67px;

            .magazine-content {
                margin-bottom: 0;

                .magazine-subtitle {
                    @include font($fontSL7, 20px, 1.1, $sn4NumberGreen, 0.5px);
                    margin-top: 21px;

                    a {
                        color: $sn4NumberGreen;
                    }
                }

                .magazine-desc {
                    @include font($fontU4, 18px, 1.22, $black);
                    margin-top: 12px;
                }

                .magazine-image {
                    width: 100%;
                    max-height: 240px;
                }

                .separator {
                    margin-top: 12px;
                }

                .magazine-content-cntr {
                    padding-left: 23.7px;
                    padding-right: 5px;
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            padding: 38px 20px 21px;

            .magazine-title-wrapper {
                padding-bottom: 5px;

                .view-all-magazine {
                    display: none;
                }

                .sw-icon {
                    display: none;
                }
            }

            .magazine-mobile-title-wrapper {
                margin-bottom: 0;

                .view-all-magazine {
                    @include font($fontSL7, 14px, 1, $sn4FaqQuestionColor, 0.3px);
                }
            }

            .content-container {
                margin-top: 33px;

                .magazine-content {
                    margin-bottom: 37px;

                    .magazine-image {
                        max-height: 166px;
                        margin-top: 10px;
                        width: auto;
                    }

                    .magazine-content-cntr {
                        padding-left: 4.1px;
                    }

                    .magazine-subtitle {
                        margin-top: 0;
                    }

                    .separator {
                        margin-top: 16px;
                    }

                    .magazine-desc {
                        margin-top: 11px;

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
