.article-subjs-covered-pad-container {
    padding: 0;
	.article-subjs-covered-container {
        background-color: $bodyGrey;
        border: 2px solid $issueHighTitleborderGrey;
        @include radius(8px);
        .article-subjs-covered-content {
            padding: 32px 7px 26px 8px;
            .subjs-covered-title {
                @include font($fontS7, 13px, 1.08, $black, 1px);
                padding-right: 19px;
                padding-left: 18px;
                margin-bottom: 9px;
                text-align: center;
                p, ul, ol, li {
                    margin-bottom: 0;
                }
            }
			.subjs-tag-wrapper {
				.names-subj {
                    &:last-child {
                        margin-bottom: 0;
                    }
					.subj-title {
						.subj-title-link {
				            @include font($fontS7, 16px, 1, $contentTileSubjectBlue, 0.5px);
                            margin-bottom: 0;
						}
					}
                    .subj-tags-wrapper {
                        padding-left: 21px;
                        padding-right: 23px;
                        margin-top: 5px;
                        
                        .subj-tags{
                        	@include font($font04, 12px, 1.33, $black, normal); 
                        }
                    }
				}			
			}
		}	
	}
}

@media only screen and (min-width: $screen-md-min) {
    .article-subjs-covered-pad-container {
        margin-top: 0;
        max-width: 210px;
    }
}

@media (min-width:1440px) {
    .article-subjs-covered-pad-container {
        margin-left: 25px;
        padding: 0;
        .article-subjs-covered-container {
            .article-subjs-covered-content {
                padding-left: 9px;
                padding-right: 8px;
                .subjs-tag-wrapper {
                    .names-subj {
                        .subj-tags-wrapper {
                            padding-left: 24px;
                            padding-right: 26px;
                        }
                    }
                }
            }
        }
    }    
}