.marketing-science-spin {
    background: #cae1ed;
    .promote_title_pad {
        margin-bottom: 20px;
    }
    .marketing-science-spin-cntr {
        margin: 0 20px;
        @include respond-to('medium-and-up') {
            margin: 0 60px;
        }
        padding-top: 44px;
        p {
            margin-bottom: 0;
        }
        .title-desc {
            margin-bottom: 35px;
            .title {
                @include font($fontSE4, 30px, 1, $marketingDarkBlue, null);
                @include respond-to('medium-and-up') {
                    @include font($fontSE4, 35px, 1.17, $marketingDarkBlue, null);
                }
                b {
                    font-family: 'SerifaStd-Black';
                }
            }
            .description {
                margin-top: 14px;
                @include font($fontU4, 26px, 1.23, $marketingScienceSpinBlack, null);
                @include respond-to('medium-and-up') {
                    @include font($fontU4, 32px, 1.19, $marketingScienceSpinBlack, null);
                    margin-bottom: 30px;
                }
            }
            @include respond-to('medium-and-up') {
                padding-right: 86px;
                margin-bottom: 0px;
            }
        }
        .image-cntr {
            .images {
                margin-bottom: 14.5px;
                margin-left: 0;
                margin-right: 0;
                @include respond-to('medium-and-up') {
                    margin-left: -15px;
                    margin-right: -15px;
                }
                img {
                    width: 100%;
                    @include respond-to('medium-and-up') {
                        max-width: 280px;
                    }
                }
                .first-img {
                    padding: 0 10px 0 0;
                }
                .second-img {
                    padding: 0 0 0 10px;
                }
            }
            .image-lables {
                margin-bottom: 28.7px;
                .img-lable {
                    padding-left: 16.9px;
                    padding-right: 10px;
                    @include font($fontSL5, 21px, 1.24, $marketingScienceSpinImgLable, null);
                    &.second {
                        padding-left: 26.9px;
                    }
                    @include respond-to('medium-and-up') {
                        @include font($fontSL5, 27px, 1.19, $marketingScienceSpinImgLable, null);
                    }
                }
            }
        }
        .btn-description-cntr {
            .btn-title {
                @include font($fontSL5, 24px, 1, $black, null);
                margin-bottom: 10px;
                @include respond-to('medium-and-up') {
                    @include font($fontSL5, 30px, 1, $black, null);
                    margin-bottom: 4px;
                }
            }
            .btn-description {
                @include font($fontU4, 18px, 1.33, $black, 0.6px);
                margin-bottom: 16px;
                @include respond-to('medium-and-up') {
                    @include font($fontU4, 27px, 1.19, $black);
                    letter-spacing: normal;
                    margin-bottom: 30px;
                }
            }
            .btn-container {
                margin-bottom: 26px;
                @include respond-to('medium-and-up') {
                    margin-left: 30px;
                    margin-bottom: 30px;
                }
                .btn {
                    padding: 9px 0;
                    color: #FFF;
                    @include font($fontSL7, 16px, 1.25, $white);
                    letter-spacing: 0.3px;
                    @include respond-to('medium-and-up') {
                        min-width: 134px;
                    }
                }
                .subscribe-btn {
                    padding-left: 0;
                    padding-right: 10px;
                    .btn {
                        background-color: #0066b3;
                    }
                }
                .learn-btn {
                    padding-left: 10px;
                    padding-right: 0;
                    .btn {
                        background-color: #0083ca;
                    }
                }
            }
        }
        .add-spins {
            @include font($fontSL5, 16px, 1.25, $marketingLightGrey, 0.6px);
            text-align: center;
            margin-bottom: 30px;
            a{
                color: $marketingLightGrey;
            }
            @include respond-to('medium-and-up') {
                @include font($fontSL5, 24px, 1.17, $marketingLightGrey);
                letter-spacing: normal;
                text-align: left;
                a{
                    color: $marketingLightGrey;
                }
            }
        }
    }
}