.contact-us-layout {
  .contact-us-wrapper {
    border: 1px solid $borderColor;
    background: $white;
    margin-left: 87px;

    .contact-us-container {
      .contactus-right-container {
        margin-left: 51.5px;
        padding-top: 34.5px;

        .contact-info {
          .contact-info-bar {
            border: 1px solid $upfrontInactiveSortColor;
            transform: none;
            background-color: $white;
            margin-left: 0;

            ul {
              transform: none;

              li {
                border-right: 2px solid $upfrontInactiveSortColor;

                p {
                  @include font($font04, 20px, 1.2, $upfrontInactiveSortColor);
                }

                .contact-detail-text {
                  @include font($font04, 16px, 1.88, $black,0px);

                  .sw-icon.phone-icon {
                    background-position: -231px -336px;
                    width: 12px;
                    height: 12px;
                  }
                }
              }
            }
          }

          .contact-info-text {
            margin-top: 40.5px;

            p {
              @include font($font04, 18px, 1.22, $black);
            }
          }
        }

        .contact-form-questions {
          margin-top: 45px;

          .question-row {
            margin-bottom: 40px;

            .sl-no {
              width: 39px;
              height: 39px;
              background-color: $slNumberColor;
              transform: none;
              border-radius: 100%;
              @include font($font07, 20px, 1.1, $black);
              padding: 8px 0;
            }

            .question-container {
              p {
                @include font($font07, 20px, 1.2, $black);
                margin-bottom: 23px;
              }

              label {
                @include font($font04, 18px, 1.22, $black);
              }

              select {
                background: $upFrontSelectBackgroundColor url("/etc/designs/scholastic/classroom-magazines-migration/upfront/images/upfront-dropdown.png") no-repeat;
                background-position: right 13px center;
                border: solid 1.2px $upFrontBorderColor;
                @include font($font04, 18px, 1.22, $black);
              }
            }
          }

          .contact-form-container {
            .contact-form {
              .contact-form-row {
                margin-bottom: 24px;
                input[type="text"],input[type="email"], textarea, select {
                  @include font($font04, 18px, 1.22, $black, 0.5);
                }
                textarea {
                  border: 1.2px solid $upfrontContentTileSkillSheetGrey;
                }

                input[type="text"] {
                  border: 1.2px solid $upfrontContentTileSkillSheetGrey;
                }

                label {
                  margin-bottom: 6px;
                }

                select {
                  background: $upFrontSelectBackgroundColor url("/etc/designs/scholastic/classroom-magazines-migration/upfront/images/upfront-dropdown.png") no-repeat;
                  background-position: right 13px center;
                  border: solid 1.2px $upFrontBorderColor;
                }
              }

              .required-text {
                margin-top: 8px;
                margin-bottom: 25PX;
                @include font($font04, 18px, 1.22, $black);
              }

              .contact-submit-btn {
                background-color: $upfrontIaggregatorButtonBackgroundBlue;
                width: 182px;
                @include font($fontSL7, 14px, 1.43, $white, 1.1px);
                margin-bottom: 86px;
              }
            }
          }
        }
      }
    }
  }
}
