.article-subjs-covered-pad-container {
    padding: 12px 0 0;
    background-color: $white; 
    background-image: radial-gradient($dynamathSubjectsCoveredDotBorder 38%, transparent 45%);
    background-image: -ms-radial-gradient($dynamathSubjectsCoveredDotBorder 38%, transparent 45%);
    background-image: -moz-radial-gradient($dynamathSubjectsCoveredDotBorder 38%, transparent 45%);
    background-image: -webkit-radial-gradient($dynamathSubjectsCoveredDotBorder 38%, transparent 45%);
    background-size: 14px 14px;
    background-position: 0 0;
    background-repeat: repeat-x;

    .article-subjs-covered-container {
        background-color: $white;
        background-image: radial-gradient($dynamathSubjectsCoveredDotBorder 38%, transparent 45%);
        background-image: -ms-radial-gradient($dynamathSubjectsCoveredDotBorder 38%, transparent 45%);
    	background-image: -moz-radial-gradient($dynamathSubjectsCoveredDotBorder 38%, transparent 45%);
    	background-image: -webkit-radial-gradient($dynamathSubjectsCoveredDotBorder 38%, transparent 45%);
        background-size: 14px 14px;
        background-position: left bottom;
        background-repeat: repeat-x;
        padding-bottom: 12px;

        .article-subjs-covered-content {
            padding: 27px 10px 32px;

            .subjs-covered-title {
                @include font($fontP7, 13px, 1.08, $black, 1px);
                padding-right: 19px;
                padding-left: 15px;
                margin-bottom: 12px;
                text-align: center;

                li,
                ol,
                p,
                ul {
                    margin-bottom: 0;
                }
            }

            .subjs-tag-wrapper {
                .names-subj {
                    &:last-child {
                        margin-bottom: 0;
                    }

                    .subj-title {
                        .subj-title-link {
                            @include font($fontV9, 16px, 1, $slNumberColor, 1.5px);
                            margin-bottom: 0;
                        }
                    }

                    .subj-tags-wrapper {
                        margin-top: 7px;
                        
                        .subj-tags{
                            @include font($fontP4, 12px, 1.5, $black, 0.5px);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-md-min) {
    .article-subjs-covered-pad-container {
        margin-top: 17px;
        max-width: 210px;
    }
}

@media (min-width:1440px) {
    .article-subjs-covered-pad-container {
        margin-left: 39px;
        padding: 0;
        padding-top: 12px;

        .article-subjs-covered-container {
            .article-subjs-covered-content {
                .subjs-tag-wrapper {
                    .names-subj {
                        .subj-tags-wrapper {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}