.vocabulary-main-container{

    width: 45%;
    font-size:20px;
    font-family: "Georgia, 'Times New Roman', Times, serif";
    line-height:1.5;

    .article-title{
        font-size:64px;
        font-family: "Tahoma";
    } 
        
    .hilighted {
        color: #ff893b;
        cursor: pointer;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        color: #337ab7;
    }

    .popover-definition {
        clear: both;
    }

    .close-mark{
        position:relative;
        height: 18px;
    }

    .popover-content {
        padding: 0px 14px 14px 14px;
    }

    .popover-name {
        font-weight: bold;
        margin-top: 18px;
    }

    .popover-pronoutext {
        font-size: 12px;
        color: #999;
    }

    .popover-elements {
        li {
            line-height: 0;
        }
    }


    .popover-definition {
        margin-top: 25%;
        width:240px;
        
    }

    .vocabulary-word{
        color: #ff893b;
        font-weight: bold;
        text-decoration: underline;
    }

    .popover-content {
        min-height: 300px;
    }
}

.header-image{
    width:100%;
}