.app-nav-bar-main-container {
    .logged-in-dropdown {
        .login-menu {
            .dropdown-title, .subscription {
                @include font($fontP9, 14px, 1.14, $gray, -1px);
            }

            #sdm-logout, #sdm-portal-link {                
                @include font($fontPE4, 14px, 1, $titleHyperlinkColor, 0.5px);
                color: $titleHyperlinkColor !important;
            } 
        }

        &.open {
            a:focus {
                background-color: $tabBgBlue;
            }

            .login-toggle {
                background-color: $tabBgBlue;

                &:hover {
                    background-color: $tabBgBlue;
                }
            }
        }

        .login-toggle {
            padding-top: 33px;
        }
    }

    .app-nav-primary {
        background-color: $tabBgBlue;
        box-shadow: none;
    }

    .app-nav-main-item-link {
        text-align: center;
        @include font($fontP9, 14px, null, $white, 0.5px);
        line-height: normal;
        padding: 47px 15px 0 15px;

        &.bookmarks {
            padding-right: 11px;
        }
    }

    .app-navbar-secondary {
        border: 1px solid $juniorExploreBarBorder;
        border-top: 0;
    }

    .science-logo {
        width: 215px;
        padding: 18px 0 12px 0;
        margin-left: 5px;
        margin-right: 5px;

        a {
            background: url('/etc/designs/scholastic/classroom-magazines-migration/junior/images/globalNav/junior-scholastic.png') no-repeat center;
            padding-top: 27px;
            padding-bottom: 27px;
            width: 100%;
            background-size: 100%;
        }
    }

    .nav-search-form {
        button {
            background-color: $juniorSearchButtonGreen;
            @include font($fontP7, 13px, 1.08, $black, 0.5px);
            border: 0;
            text-align: center;
        }
    }

    .dropdown-menu {
        li {
            a {
                @include font($font7, 12px, null, $black, 0.3px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($font7, 12px, null, $black, 0.3px);
                    line-height: normal;
                }
            }
        }
    }

    .secondary-items {
        li {
            a {
                @include font($fontP7, 13px, 1.23, $gray, 0.5px);
                padding: 13px 22px 11px;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontP7, 13px, 1.23, $gray, 0.5px);
                }
            }
        }

        .explore {
            @include font($fontP7, 14px, 1, $globalNavExporeGray, 0.5px);
            padding-left: 25.5px;

            &:active,
            &:focus,
            &:hover {
                @include font($fontP7, 14px, 1, $globalNavExporeGray, 0.5px);
            }
        }

        .see-all-subjects {
            float: left;

            .subjects {
                @include font($fontP7, 13px, 1.23, $gray, 0.5px);
                text-transform: uppercase;
            }
        }
    }

    .nav-search-form {
        input {
            @include font($fontP5, 13px, null, $globinpPlaceholdText, 0.5px);
            line-height: normal;
            background-color: rgba(255, 255, 255, 0.98);
        }
    }

    .login-control {
        li {
            a {
                @include font($fontPE4, 13px, null, $white, 0.4px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontPE4, 13px, null, $white, 0.4px);
                    line-height: normal;
                }
            }
        }

        .subscribe-text {
            @include font($fontP7, 11px, null, $white, 0.4px);
            line-height: normal;

            &:active,
            &:focus,
            &:hover {
                @include font($fontP7, 11px, null, $white, 0.4px);
                line-height: normal;
            }
        }
    }

    .loginPrompt-wrapper {
        .login-dialog {
            .login-content {
                .login-body {
                    .student-sec,
                    .teacher-sec {
                        label {
                            & > input[type="radio"] {
                                &+ span {
                                    &.sw-icon {
                                        top: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width:1440px) {
    .app-nav-bar-main-container {
        .dropdown {
            .magazine {
                padding-right: 12px;
            }
        }

        .app-nav-main-item-link {
            @include font($fontP9, 16px, null, $white, 0.5px);
            line-height: normal;
        }

        .science-logo {
            width: 242px;      

            a {
                padding-top: 30px; 
                padding-bottom: 30px;
            }
        }

        .logged-in-dropdown {
            &.open {
                a:focus {
                    background-color: $tabBgBlue;
                }

                .login-toggle {
                    background-color: $tabBgBlue;

                    &:hover {
                        background-color: $tabBgBlue;
                    }
                }
            }
        }
    }
}

@include respond-to ('small-and-down') {
    .app-nav-bar-main-container {
        .magazine-logo-tablet-mobile {
            height: 21px;
            background: url('/etc/designs/scholastic/classroom-magazines-migration/junior/images/globalNav/junior.png') no-repeat center;
            background-size: 100%;
        }
    }
}

@include respond-to ('xssmall') {
    .app-nav-bar-main-container {
        .magazine-logo-tablet-mobile {
            height: 18px;
            background-size: 100%;
        }
    }
}
