.online-resources {
    @include respond-to ('xssmall') {
        padding-top: 40px;
        padding-bottom: 59px;
    }

    .online-resources-head {
        @include font($fontSE9, 35px, 1.14, $marketingLightBlue);
        margin-bottom: 0;

        @include respond-to ('xssmall') {
            @include font($fontSE9, 30px, 1, $marketingLightBlue);
        };
    }

    .online-resources-head-image {
        text-align: center;

        @include respond-to ('xssmall') {
            margin-top: 10px;
        }

        @include respond-to ('large') {
            height: auto;
        }
    }

    .online-resources-description {
        @include font($fontU4, 24px, 1.17, $marketingGrey);
        display: block;
        margin-top: 15px;
        text-align: center;

        @include respond-to ('xssmall') {
            @include font($fontU4, 18px, 1.33, $marketingGrey);
            margin-top: 16px;
        }

        p {
            width: 50%;
            margin: 0 auto;

            @include respond-to ('xssmall') {
                width: auto;
            }
        }
    }

    .illustration-img {
        padding: 0;

        @include respond-to ('xssmall') {
            width: auto;
        }
    }

    .marketing-video-game-content-new {
        display: block;
    }

    .marketing-video-game-content {
        display: none;
    }

    .marketing-video-game-container-new {
        max-width: none;
        border: none;
        margin-top: 47px;

        @include respond-to ('xssmall') {
            margin-top: 57px;
        }

        .marketing-video-container {
            text-align: center;

            .marketing-video-container-description {
                @include font($fontU4, 24px, 1.17, $marketingGrey);
                margin-top: 8px;

                @include respond-to ('xssmall') {
                    @include font($fontU4, 18px, 1.33, $marketingGrey);
                    margin-top: 7px;
                    margin-bottom: 36px;
                }
            }

            .marketing-video-container-title {
                margin-top: 19px;

                span {
                    @include font($fontSL9, 30px, 0.93, $marketingGrey);

                    @include respond-to ('xssmall') {
                        @include font($fontSL9, 26px, 1.08, $marketingGrey);
                    }
                }

                @include respond-to ('xssmall') {
                    margin-top: 15.8px;
                }
            }

            .marketing-content-tile-container {
                max-width: none;

                .content-tile-body {
                    height: 118px;

                    .game-video-wrapper {
                        height: 100%;

                        .image-container {
                            border: 0;
                            height: 100%;
                            background: none;
                            max-width: 232px;

                            .content-image {
                                max-height: 118px;
                            }
                        }
                    }
                }
            }
        }

        .marketing-game-container {
            text-align: center;

            @include respond-to ('xssmall') {
                padding-top: 45px;
            }

            .marketing-game-container-description {
                @include font($fontU4, 24px, 1.17, $marketingGrey);
                margin-top: 8px;

                @include respond-to ('xssmall') {
                    @include font($fontU4, 18px, 1.33, $marketingGrey);
                    margin-top: 7px;
                }
            }

            .marketing-game-container-title {
                margin-top: 19px;

                span {
                    @include font($fontSL9, 30px, 0.93, $marketingGrey);

                    @include respond-to ('xssmall') {
                        @include font($fontSL9, 26px, 1.08, $marketingGrey);
                    }
                }
            }

            .marketing-content-tile-container {
                max-width: none;
                padding-left: 33%;

                @include respond-to ('xssmall') {
                    padding-left: 30%;
                }

                .content-tile-body {
                    height: 131px;

                    .game-video-wrapper {
                        height: 100%;

                        .image-container {
                            height: 100%;
                            max-width: 148px;
                            border-radius: 8px;
                            border: solid 5px $marketingBorderBlue;
                        }
                    }

                    .content-module {
                        .content-module-container {
                            .content-one-up {
                                .img-container {
                                    .popup-img-icon {
                                        display: none;
                                    }
                                }
                            }

                            &.game-container-bg {
                                max-height: 115px;
                            }

                            .content-wrapper {
                                .content-one-up {
                                    .img-container {
                                        img {
                                            max-height: 115px;
                                            height: auto !important;
                                        }
                                    }

                                    .rteContent {
                                        display: none;
                                    }
                                }

                                div[ng-bind-html=containerGameDesc] {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .marketing-description-container {
            border-left: 8px solid $marketingBorderYellow;
            border-right: 8px solid $marketingBorderYellow;
            margin-top: 7%;
            text-align: center;
            max-height: 147px;

            @include respond-to ('xssmall') {
                margin-top: 0;
                max-height: none;
                border: none;
                padding-top: 34px;
                padding-bottom: 36px;
            }

            .marketing-description-container-title {
                span {
                    @include font($fontSL9, 30px, 0.93, $marketingGrey);

                    @include respond-to ('xssmall') {
                        @include font($fontSL9, 26px, 1.08, $marketingGrey);
                    }
                }
            }

            .marketing-description-container-description {
                margin-top: 13px;
                padding: 0;
                width: 100%;
                float: left;
                margin-bottom: 0;

                @include respond-to ('xssmall') {
                    margin-top: 17px;
                }

                ul {
                    display: inline-block;
                    text-align: left;

                    @include respond-to ('xssmall') {
                        text-align: center;
                        list-style-type: none;
                        padding: 0;
                    }

                    li {
                        @include font($fontU4, 24px, 1.17, $marketingGrey);

                        @include respond-to ('xssmall') {
                            @include font($fontU4, 18px, 1.33, $marketingGrey);

                            &:before {
                                content: "•";
                                padding-right: 5px;
                                margin-top: 1px;
                            }
                        }
                    }
                }
            }
        }

        .marketing-video-game-divider {
            @include respond-to ('xssmall') {
                min-height: 8px;
                background: $marketingBorderYellow;
                float: left;
                min-width: 235px;
                margin-left: 20%;
            }
        }
    }
}
