<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure
	Global Navigation Subscribe Component</div>

<div
	data-sly-use.globalNavSubscribeUse="com.scholastic.classmags.migration.controllers.GlobalNavSubscribeUse">

	<div
		data-sly-test="${globalNavSubscribeUse.isUserLoggedOutFlag || !wcmmode.disabled}">
		<a class="subscribe-text"
			href="${globalNavSubscribeUse.globalNavSubscribe.globalNavSubscribePath}">
				${properties.globalNavSubscribeLabel @context='html'}
		</a>
	</div>
</div>