.cm-migration-image-container {
    padding-bottom: 20px;
    padding-top: 20px;

    .image-popup-image-layout {
        .image-popup-image-container {
            background-color: $white;
            border: solid 1px $liteAsh9;
            max-width: 670px;
            position: relative;
            margin: 0 auto;

            .cm-image-wrapper {
                img {
                    cursor: pointer;
                }
            }

            .caption-section {
                padding: 0 20px;

                .img-popup-credits {
                    @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
                    margin-top: 10px;
                    margin-bottom: 6px;
                }

                .img-popup-caption {
                    @include font($font04, 13px, 1.38, $black, 0.5px);
                    margin-top: 6px;
                    padding-bottom: 16px;

                    &:empty {
                        margin-top: 0;
                    }

                    p {
                        margin: 0;
                    }
                }
            }

            .popup-img-icon {
                border-radius: 50%;
                position: absolute;
                right: 20px;
                top: 20px;
                cursor: pointer;
            }

            .close-icon {
                opacity: inherit;
                margin-top: 6px;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                right: 5px;
                z-index: 99;
                border-radius: 50%;
            }

            .modal-dialog {
                width: 100%;
            }

            .popup-modal-image-container .image-popup-content {
                margin: 30px 30px 30px 0;
                position: relative;
                border-radius: 0;

                .article-hero-modal-image {
                    position: relative;

                    img {
                        @include center-both;
                    }
                }
            }
        }
    }
}
