.search-resources-main-container {
    background-color: $upfrontBackgroundColor;
    .search-main-content {
        .main-title{
            margin-left: 40px;
            .title-container {
                @include font($fontPE4, 34px, 1, $black, 1px);
                margin-top:6px;
                margin-left:0px;
            }

            .title-count {
                @include font($fontPE4, 22px, 1.64, $black, 0.7px);
                margin-left: 8px;
                position:relative;
            }
        }
        .articles-resources-issues-container {
            margin-top: 36px;

            .articles-resources-issues-tabs {
                .nav-tabs{
                    margin-bottom:35px;
                }
                ul {
                  padding-left: 38px;
                  padding-right: 40px;
                  border-bottom: 4px solid $upfrontIaggregatorButtonBackgroundBlue;
                  li.active {
                      background-color: $upfrontIaggregatorButtonBackgroundBlue;
                      &:before {
                        background-color: $upfrontIaggregatorButtonBackgroundBlue;
                        border-top-left-radius: 8px;
                      }
                      &:after {
                          background-color: $upfrontIaggregatorButtonBackgroundBlue;
                          border-top-right-radius: 8px;
                      }
                      a {
                        @include font($fontSL7, 18px, 1, $white, 1.7px);
                      }
                  }

                  li {
                      background-color: $inActiveTabColor;
                      &:before {
                          background-color: $inActiveTabColor;
                          border-top-left-radius: 8px;
                      }
                      &:after {
                          background-color: $inActiveTabColor;
                          border-top-right-radius: 8px;
                      }
                      a {
                          @include font($fontSL7, 18px, 1, $inActiveTabFontColor, 1.7px);
                      }
                  }
                }  
            }

            .tab-content {
                clear: both;
                padding-top: 2px;
                .tab-pane {
                    .search-resources-section {
                        padding-left: 14.83px;
                        padding-right: 30px;
                    }
                    .filter-section-container {
                        margin-top:24px;
                        .search-facets {
                            margin-left: 11.50%;
                        }
                        .filter-type-section{
                            border-top:0px;
                            padding-top:0px;
                        }
                        .filter-category-section {
                            &.filter-reset-section {
                                padding-top: 5px;
                                padding-bottom: 3px;
                                border-bottom: 1px solid $liteAsh2;
                                
                                .filter-category-items-container {
                                    ul {
                                        .filter-category-item {
                                            @include font($fontP9, 14px, 1, $upfrontIaggregatorButtonBackgroundBlue);
                                            &:last-child {
                                                margin-bottom: 25px;
                                            }
                                        }
                                    }
                                }
                            }

                            .filter-category-heading {
                                @include font($fontP9, 14px, 0.93, $black, 1.1px);
                                margin-bottom: 15px;
                                &:nth-child(1){
                                    border-top:0px;
                                }
                                
                            }

                            .filter-category-items-container {
                                ul {
                                    margin-bottom: 0;

                                    .filter-category-item {
                                        @include font($fontP9, 14px, 1, null);
                                        color: $upfrontIaggregatorButtonBackgroundBlue;
                                        cursor: pointer;
                                        width: 100%;
                                        position: relative;
                                        margin: 0 auto 20px;

                                        .sw-icon {
                                            position: relative;
                                            top: -1px;
                                        }
                                        &:last-child {
                                            margin-bottom: 18px;
                                        }
                                        label {
                                            width: 100%;
                                            margin-top:3px;
                                            margin-bottom: 0;
                                            position: relative;
                                            @include font($fontSL7, 13px, 1, $black);
                                            .checkbox-text {
                                                padding-left:3px;
                                            }
                                        }
                                        input[type=checkbox]:checked + label {
                                            .checkbox-text {
                                                padding-left:3px;
                                                @include font($fontSL7, 13px, 1, $upfrontIaggregatorButtonBackgroundBlue);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .pagination-directive-wrapper{
                        margin-top:0px;
                        .paginationBottom{
                            margin-top:18px;
                            margin-bottom:108px;
                        }
                    }
                }
            }
        }

        .search-resources-content {
            .sort-by-wrapper {
                height: 13px;
                margin-bottom: 27px;
                .sort-by-text {
                    @include font($font04, 12px, 1.08, $black, 0.5px);
                    padding-left: 9px;
                }

                .sort-by-category {
                    a {
                        @include font($fontP5, 12px, 1.08, null, 0.5px);
                        color: $upfrontIaggregatorButtonBackgroundBlue;
                    }

                    &.active-sort {
                        a {
                            @include font($font07, 12px, 1.08, $black, 0.5px);
                        }
                    }
                }
            }
        }
    }
}

