.issueHigh-wrapper {
    margin-top: -2px;
    background-color: transparent;

    .issueHigh-content {
        padding-bottom: 0;
        padding-top: 0; 

        .issueHigh-header {
            .text-desc {
                margin-bottom: 0;

                .text-desc-bold {
                    display: none;
                }

                .text-desc-normal {
                    display: none;
                }

                .issue-high-icons {
                  bottom: 0px;
                  margin-bottom: 27px;
                  margin-top: 35px;
                }
            }
        }

        .issue-highlighting-img {
            padding-left: 69px;
            padding-right: 26px;

            .issue-highlight-img-bg {
                background: none;
                padding: 0;
                border: 0;

                .issue-img-center {
                    .issue-high-img-class {
                        max-width: 265px !important;
                        max-height: 355px !important;
                    }

                    img {
                        max-height: 355px !important;
                        box-shadow: none;
                    }
                }
            }

            .issue-mag-view-container {
                width: 265px;
                position: initial;
                margin: 25px auto 0;

                .issue-mag-view {
                    @include font($fontSL5, 18px, 1.11, $white, 1px);
                    background: $sn4NavyBlue;
                    min-height: 40px;
                    width: 100%;
                        text-transform: capitalize;
                }
            }
        }

        .issue-tile-wrapper {
            padding-left: 24px;
            padding-right: 22px;

            .issue-high-des-sec-tiles {
                height: 200px;
                margin-bottom: 20px;

                .des-sec-tiles-boxshadow {
                    box-shadow: none;
                    border-radius: 8px;

                    .issueHigh-titles {
                        border: 0 none;
                        min-height: 50px;
                        background: #793e96;
                        border-radius: 8px 8px 0 0;

                        a {
                            @include font($fontSL5, 20px, 0.9, $white, 0.6px);
                            padding: 16px 20px;
                        }
                    }

                    .key-asset-content {
                        border: 2px solid $featuredborderGreySN4;
                        border-top: 0;
                        border-radius: 0 0 8px 8px;
                        padding: 26px 20px 5.34px;
                        min-height: 150px;

                        .key-asset-desc {
                            @include font($fontU4, 16px, 1.38, $black, 0.5px);

                            &.tile-desc {
                                max-height: 58px;
                                height: 58px;
                                margin-bottom: 20px;
                            }
                        }

                        .social-icons {
                            .sw-icon {
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }

        .issueHigh-header {
            .magazine-issue-high-component-bg {
                margin-top: 0;

                .resources-container {
                    float: left;
                    margin-bottom: 45px;
                    .background-color-div-sn3 {
                        background-color: $snIssueHighBgColor;
                        min-height: 459px;
                        position: absolute;
                        max-width: 1440px;
                        margin-top: 81px;
                        z-index: -1;
                        width: 100%;
                    }
                }
            }

            .textHyperlink-container-wrapper {
                .textHyperlink-wrapper {
                    height: auto;
                    .textHyperlink-text {
                        @include font($fontSE9, 30px, 1.07, $allIssuesTitleColor, 0.5px);
                        padding: 0;
                    }
                }

                .text-link-connector {
                    background-color: $sn4NavyBlue;
                    height: 4px;
                    &.hide-ruler {
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.top-links-component-main-wrapper {
    .top-links-component-container {
        .hash-container {
            display: none;
        }
        .top-links-content-wrapper {
            padding: 42px 40px 40px 69px;
            .image-wrapper {
                .magazine-view-button {
                    text-transform: capitalize;
                    margin-top: 30px;
                    padding: 9px auto 11px auto;
                    @include font($fontSL7, 18px, 1.11, $white, 0.5px);
                    background-color: $sn4NavyBlue;
                }
            }
            .text-wrapper {
                padding-left: 51px;
                width: 80.10%;
                .title-icon-wrapper {
                    .title-placeholder {
                        @include font($fontSE9, 28px, 1.14, $black);
                    }
                }
                .description {
                    margin-top: 20px;
                    @include font($fontSL5, 15px, 1.6, $black, 1.2px);
                }
                .featured-assets-wrapper {
                    .featured-asset {
                        .content-tile-container {
                            border: 0;
                            .content-tile-body {
                                .content-tile-image-wrapper{
                                    border-radius: 8px;
                                border: 2px solid $sn4ContentTileBorderOrange;
                                .image-container {
                                    border-radius: 4px;
                                    img {
                                        border-radius: 4px;
                                    }
                                }
                                }
                                .title {                                  
                                    @include font($fontSL7, 20px, 1.05, $black);
                                }
                            }
                        }
                    }
                }
                .key-assets-wrapper {
                    margin-top: 43px;
                    .key-asset-container {
                         height: 89px;
                        border-radius: 6px;
                        background-color: $white;
                        border: solid 2px $sn4KeyAssetsBorderBlue;
                        border-bottom: 0;
                        .key-asset {
                            .key-asset-name {
                                @include font($fontSL5, 16px, 0.88, $sn4FaqQuestionColor, 0.6px);
                            }
                        }
                        .bottomcolor-container {
                            height: 9px;
                           @include border-radius-separate(0,0,6px,6px);
                            background-color: $sn4KeyAssetBottomBackground;
                        }
                    }
                }
            }
        }
    }
}
