.marketing-app-hero-banner {
    .app-banner-issue-image {
        max-width: 439px;
    }
    .app-banner-content {
        .app-banner-details {
            .banner-title {
                text-align: left;
                @include font($fontS7, 64px, 1.02, $white);
                max-width: 797px;
            }
            .banner-desc {
                text-align: left;
                @include font($font07, 27.5px, 1.38, $white);
            }
            .button-container {
                margin-top: 55px;
                .primary-button {
                    @include font($font09, 24px, 0.83, $white, 1.8px);
                    border-radius: 100px;
                    background-color: #f7941d;
                    padding: 9.34px 48px;
                }
            }
            .app-login {
                margin-top: 19px;
                span {
                    @include font($font04, 19px, 1.05, $white);
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-hero-banner {
        .app-banner-content {
            .app-banner-details {
                .banner-title {
                    text-align: center;
                    @include font($fontS7, 28px, 1, $white);
                    margin: 0 2px;
                }
                .banner-desc {
                    text-align: center;
                    @include font($font07, 16px, 1.25, $white);
                    margin: 0 19px;
                    margin-top: 10px;
                }
                .button-container {
                    margin-top: 19px;
                    .primary-button {
                        @include font($font09, 13px, 1.54, $white, 1px);
                        padding: 12.5px 79px;
                    }
                }
                .app-login {
                    margin-top: 11px;
                    span {
                        @include font($font04, 14px, 1.43, $white);
                    }
                }
            }
        }
    }
}
