<div data-sly-unwrap data-sly-test="${!(properties.errorText || properties.fileReference) && wcmmode.edit}">Configure Page - Error component</div>
<div class="error-page-wrapper container-fluid" ng-app="scienceWorld">	
	<div class="row mar0">
        <div class="col-md-10 error-page">
			<div class="error-page-container row" ng-style="{'background-image':'url(${properties.fileReference})'}">
		        <div class="col-md-4 col-md-offset-1 error-page-content">
		            <h2>${properties.errorTitle}</h2>
		            <p>${properties.errorText @ context='html'}</p>
		            <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=properties.returnHomeLink}">
		            <a class="error-btn" href="${globalLink.externalizedDomain}">${properties.buttonLabel}</a>
		            </div>
		        </div>
		    </div>
    	</div>
    </div>
</div>

