.article-toolbar-layout {
    .article-toolbar {
        background-color: $sn56ToolbarColor;
        border: solid 2px $sn56ToolbarBorderColor;
        border-radius: 4px;

        .menu-list {
            .icon-description {
                @include font($fontSL4, 14px, 1.29, $black, 0.5px);
                padding-left: 4px;
            }

            .title {
                @include font($fontSL7, 12px, 1.33, $black, 0.9px);
            }

            .drop-down {
                @include font($fontSL4, 13px, 1, $black, 0.5px);
                border-radius: 4px;
                border: 1px solid $sn56ArticleToolbarDropdown;
                background: $white url(../../../images/icons/sn56-dropdown-arrow.png) no-repeat;
                background-position: right 10px center;
                &:disabled {
                    background: $white;
                }
            }
        }

        .open-flip-book {
            border-top: 1px solid $sn56ToolbarBottomBorder;
            border-bottom: 1px solid $sn56ToolbarBottomBorder;
        }

        .jump-to-block {
            border-bottom: 1px solid $sn56ToolbarBottomBorder;
        }
    }
}
