.marketing-app-nav-bar-main-container {
    .app-nav-primary {
        background-color: $marketingSnHeader;
    }
    .nav-primary-items {
        padding-left: 24px;
    }
    .navbar-default {
        border: 0px;
    }
    .science-logo {
        width: 140px;
        .scholastic-logo-header {
            display: none;
        }
        a {
            width: 100%;
            background: url('../../../images/globalNav/SN3-logo.png') no-repeat center;
            background-size: 100%;
            margin-left: 0;
            height: 57.6px;
        }
    }
    .app-nav-main-item-link {
        @include font($font09, 8px, null, $white, 0.2px);
    }
    .dropdown {
        .app-nav-main-item-link {
            @include font($fontSL9, 16px, null, $white, 0.5px);
        }
        .magazine {
            @include font($fontSL7, 16px, null, $white, 0.5px);
        }
        &.js-dropdown-dynamic {
            padding-top: 60px;
            &:nth-child(2) {
                .app-nav-main-item-link {
                    padding-left: 52px;
                }
            }
            &:nth-child(4) {
                .app-nav-main-item-link {
                    padding-right: 0px;
                    border: 0px;
                }
            }
            &:nth-child(5) {
                .app-nav-main-item-link {
                    @include font($fontSL9, 16px, null, $white, 0.5px);
                }
            }
            &:nth-child(6) {
                .app-nav-main-item-link {
                    border-right: 1px solid #ffffff;
                    padding-right: 35.5px;
                }
            }
            &:nth-child(7) {
                .app-nav-main-item-link {
                    @include font($fontSL5, 16px, null, $white, 0.6px);
                }
            }
        }
    }
    .cta-button-container {
        .primary-button {
            @include font($fontSL7, 20px, 1, $white);
            background-color: $IssueTeachingTitleGreen;
        }
        .secondary-button {
            @include font($fontSL7, 20px, null, $white);
            border-radius: 5px;
        }
    }
    @include respond-to ('xssmall') {
        .app-nav-header {
            .search-logo-block {
                position: relative;
                padding-top: 0px;
                .scholastic-logo-header {
                    display: none;
                }
            }
        }
        .navbar-default {
            .navbar-toggle {
                &:focus,
                &:hover {
                    background-color: transparent;
                }
            }
        }
        .app-nav-header {
            .menu-icon-block {
                padding: 0 0 0 35px;
                .nav-header-item {
                    &.nav-menu-icon {
                        margin-top: 22px;
                        margin-bottom: 0;
                        height: 20px;
                    }
                }
            }
            .profile-icon-block {
                .secondary-button {
                    @include font($fontSL7, 16px, null, $white);
                    border-radius: 5px;
                }
            }
        }
        .magazine-logo-tablet-mobile {
            width: 120px;
            height: 49.4px;
            background: url('../../../images/globalNav/SN3-logo.png') no-repeat center;
            background-size: 100%;
            margin-top: 0;
        }
        .nav-header-item {
            margin: 8px 0;
        }
        .js-nav-menu {
            margin-top: 50px;
            .js-dropdown,
            .js-dropdown-menu,
            .js-dropdown-submenu-menu,
            ul:first-child {
                li {
                    padding: 0 10px 30px 0;
                    &.dropdown {
                        .app-nav-main-item-link {
                            @include font($fontSL9, 16px, null, $marketingSnHeader, 0.5px);
                            &:active,
                            &:focus,
                            &:hover {
                                color: $marketingSnHeader;
                            }
                        }
                        &:nth-child(5) {
                            border: 0px;
                            padding: 0 10px 30px 0;
                        }
                        &:nth-child(6) {
                            padding: 0 10px 20px 0;
                            border-bottom: 1px solid $snBorderBlue;
                            margin-right: 9px;
                        }
                        &:nth-child(7) {
                            padding-top: 36px;
                            .app-nav-main-item-link {
                                @include font($fontSL5, 16px, null, $marketingSnHeader, 0.6px);
                            }
                        }
                    }
                    a {
                        @include font($font09, 16px, null, $sn3ThickBlue, 0.5px);
                    }
                }
            }
            .menu-list {
                padding-right: 8px;
            }
            #secondary-items-nav {
                margin-top: 30px;
                width: 100%;
                li {
                    a {
                        @include font($fontSL7, 12px, null, $sn3ThickBlue, 0.9px);
                        text-align: left;
                        cursor: pointer;
                        padding: 0 0 27px;
                    }
                    &:last-child {
                        a {
                            border-bottom: 1px solid $sn3grey;
                        }
                    }
                }
            }
            .primary-button {
                @include font($fontSL7, 20px, 1, $white);
                width: 82%;
                max-width: 185px;
                height: 40px;
                margin-top: 14px;
                border-radius: 0px;
                background-color: $sn3Green;
                border: none;
                margin-left: 20px;
                margin-top: 0px;
            }
        }
        .js-nav-menu {
            #secondary-items-nav {
                @include font($fontSL7, 12px, null, $sn3ThickBlue, 0.9px);
                width: 100%;
                li {
                    &:nth-child(1) {
                        display: none;
                    }
                }
            }
        }
    }
}