.marketing-app-tdi-component {
  background-color: $white;
  &.contentTile {
    background-color: $TDIcontentTileBackground;
    .app-tdi-content {
      p {
        @include font($fontGB5, 22px, 1.45, $ActionContentTileDesc, 0.8px);
        max-width: 100%;
        text-align: center;
      }
    }
    .app-tdi-header {
      p {
        @include font($fontG7, 35px, 0.91, $ActionTDItitle, 1.3);
      }
    }
  }
  .app-tdi-header {
    p {
      @include font($fontG7, 35px, 1.14, $ActionTDItitle, null);
    }
  }
  .app-tdi-content {
    p {
      @include font($fontGB5, 25px, 1.68, $ActionTDIDescription, null);
      .hyperlink {
        @include font($fontG9, 23px, 1.83, $ActionTDIDescription, null);
      }
    }
  }
  .app-description {
    .desc {
      @include font($fontGB5, 17px, 1.59, $ActionTDItitle, null);
    }
    .secondary-button {
      background-color: $ActionButtonBackground;
      @include font($fontG9, 18px, 1.11, $white, 1.4px);
      min-height: 49px;
      min-width: 251px;
      border-radius: 100px;
      padding: 14px 26px;
    }
  }
}

@include respond-to('xssmall') {
  .marketing-app-tdi-component {
    &.contentTile {
      background-color: $TDIcontentTileBackground;
      .app-tdi-content {
        p {
          @include font($fontGB5, 18px, 1.78, $ActionContentTileDesc, 0.6px);
        }
      }
      .app-tdi-header {
        p {
          @include font($fontG7, 30px, 1, $ActionTDItitle, 1.3px);
        }
      }
    }
    .app-tdi-header {
      p {
        @include font($fontG7, 30px, 1, $ActionTDItitle, null);
      }
    }
    .app-tdi-content {
      p {
        @include font($fontG5, 20px, 1.3, $ActionTDIDescription, null);
        .hyperlink {
          @include font($fontG9, 14px, 1.86, $ActionTDIDescription, null);
        }
      }
    }
    .mobileCarousel {
      background-color: $white;
    }
    .app-description {
      .desc {
        @include font($fontSL4, 21px, 1.29, $ActionTDItitle, null);
      }
      .secondary-button {
        background-color: $ActionButtonBackground;
        @include font($fontG9, 18px, 1.11, $white, 1.4px);
        min-height: 40px;
        max-width: 205px;
        border-radius: 100px;
      }
    }
  }
}
