.breadcrumb-layout {
    margin-top:2px;
    margin-bottom:3px;
}

@media (min-width: 1440px) {
    .breadcrumb-layout {
        margin-bottom:3px;
        margin-top:2px;
        .breadcrumb-active {
            font-family: BasicCommercialLTCom-Roman;
        }

        .breadcrumb-inactive {
            font-family: BasicCommercialLTCom-Roman;
        }
    }
}