.subscription-address-form {
    .subscription-billing-address-form {
        background-color: $bodyGrey;
        padding: 23px 30px 40px;
        margin-top: 40px;

        .subscription-address-container {
            margin: 0;

            .subscription-billing-title {
                padding: 0;

                span {
                    @include font($font07, 28px, null, $gray);
                }
            }

            .subscription-billing-options {
                padding: 0;
                margin-top: 0;

                .radio {
                    @include font($font04, 18px, 1.22, $black, 1px);
                    margin: 18px 0 0;
                    cursor: pointer;
                    padding: 0 0 0 32px;

                    input[type="radio"] {
                        display: none;
                    }

                    .marketing-subscription-check-icon {
                        position: absolute;
                        left: 0;
                    }
                }
            }

            .subscription-billing-option {
                padding: 0;

                .subscription-billing-check {
                    margin-top: 18px;
                    margin-bottom: 0;

                    .subscription-billing-option-check {
                        @include font($font04, 18px, 1.22, $black, 1px);
                        display: block;
                        position: relative;
                        padding-left: 32px;
                        cursor: pointer;
                        font-size: 18px;

                        .subscription-billing-check-indicator {
                            position: absolute;
                            width: 24px;
                            height: 24px;
                            border-radius: 4px;
                            background-color: #ffffff;
                            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
                            border: 1px solid #979797;
                            top: 0;
                            left: 0;

                            &:after {
                                left: 7px;
                                top: 4px;
                                width: 8px;
                                height: 13px;
                                border: solid $liteBlue2;
                                border-width: 0 3px 3px 0;
                                transform: rotate(45deg);
                                content: '';
                                position: absolute;
                                display: none;
                            }
                        }

                        input:checked ~ .subscription-billing-check-indicator:after {
                            display: block;
                        }
                    }

                    input[type=checkbox] {
                        display: none;
                    }
                }
            }

            .subscription-address-details {
                border-top: 1px solid $tabBgGrey;
                padding: 25px 0 0;
                margin-top: 30px;

                .subscription-address-group {
                    .subscription-address-text {
                        @include font($font04, 16px, 1.38, $black, 0.9px);
                    }

                    .subscription-address-val {
                        @include font($font04, 16px, 1.38, $black, 0.9px);
                        height: 40px;
                        border: 1.2px solid $tabBgGrey;
                        padding: 9px 0 9px 20px;
                        border-radius: 0;

                        &.error {
                            border-color: $marketingSubscriptionErrorBorder;
                        }
                    }

                    select {
                        @include font($font04, 16px, 1.38, $black, 0.9px);
                        border: 1.2px solid $tabBgGrey;
                        border-radius: 0;
                        box-shadow: none;

                        &.error {
                            border-color: $marketingSubscriptionErrorBorder;
                        }
                    }

                    .popover {
                        margin-left: 11px;
                        width: 249px;
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
                        border: 1px solid $marketingSubscriptionErrorBorder;
                        border-radius: 0;

                        &.right > .arrow {
                            border-right-color: $marketingSubscriptionErrorBorder;

                            &:after {
                                left: 2px;
                            }

                            &:before {
                                display: none;
                            }
                        }

                        .popover-content {
                            @include font($font04, 16px, 1.38, $marketingSubscriptionGrey);
                            padding: 9px 10px 13px;
                            float: left;
                            position: relative;

                            span {
                                &.error-icon {
                                    margin-right: 8px;
                                    color: $marketingSubscriptionErrorBorder;
                                    position: absolute;
                                    top: 13px;
                                }

                                &.error-message {
                                    display: inline-block;
                                    margin-left: 23px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .subscription-shipping-address-form {
        .subscription-address-container {
            .subscription-address-details {
                border-top: 0;
                padding: 0;
                margin-top: 24px;
            }

            .subscription-billing-option {
                .subscription-billing-check {
                    margin-bottom: 0;
                    margin-top: 18px;

                    label {
                        @include font($font04, 16px, null, $gray, 0.5px);
                    }
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .subscription-address-form {
        padding: 0 20px;

        .subscription-billing-address-form {
            padding: 23px 20px 40px;
            margin: 38px 0 0;

            .subscription-address-container {
                .subscription-address-details {
                    .subscription-address-group {
                        .subscription-address-val {
                            border-radius: 0;
                        }

                        .popover {
                            border: 0;
                            box-shadow: none;
                            width: auto;
                            margin-left: 0;
                            padding: 0;
                            position: initial!important; //To override default style of popover

                            .arrow {
                                display: none;
                            }

                            .popover-content {
                                background: transparent;
                                padding: 10px 0 0 8px;
                                @include font($font04, 16px, 1.38, $black);
                                color: #dc0404;

                                span {
                                    &.error-icon {
                                        margin-right: 0;
                                        font-size: 23px;
                                        left: 1px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
