    .breadcrumb-layout {
        margin-bottom: 23px;

        .breadcrumb-active {
            @include font($fontSL4, 13px, 1.08, $breadGray, 0.5px);
            text-decoration: none;
            border-bottom: 1.5px solid $breadGray;
        }

        .breadcrumb-inactive {
            @include font($fontSL4, 13px, 1.08, $breadGray, 0.5px);
        }

        .greaterthan {
            color: $breadGray;
        }
    }
@media (min-width:1440px) {
    .breadcrumb-layout {
        margin-left: 40px;
    }
}
