.article-title-layout {
    .article-title-heading {
        @include font($fontSL7, 44px, 0.91, $black, 1px);
    }

    .article-title-dek {
        @include font($fontU4, 24px, 1.25, $black, 0.8px);
    }

    .sub-title {
        @include font($fontSL7, 24px, 1.17, $black, 1px);
    }

}
