.article-text-image-layout {
    .article-text-image {
        .img-column {
            background: $white;
            border: 1px solid $sn56PopupImageBorderColor;
            border-radius: 8px;
            img {
                border-radius: 8px 8px 0 0;
            }
        }
        .caption {
            @include font($fontSE4, 14px, 1.29, $black, 0.3px);
        }

        .credits {
            @include font($fontSL4, 10px, 1.2, $lightGrey2, 0.5px);
        }

        &.left,
        &.right {
            .caption {          
                margin: 0 20px 19px;
                display: block;
                p:last-child {
                    margin-bottom: 0;
                }
            }
            .credits {
                text-align: right;
                margin: 10px 15px 11px;
            }

            .text-column {
                @include font($fontU4, 18px, 1.67, $black, 0.5px);
                word-wrap: break-word;
            }
        }
    }
}

.article-text-image-top-layout {
    .article-text-image {
        .article-image {
            border-radius: 8px 8px 0 0;
        }
        .top-article-container {
            background: $white;
            border: 1px solid $sn56PopupImageBorderColor;
            border-radius: 8px;
        }
        .caption {
            @include font($fontSE4, 14px, 1.29, $black, 0.3px);
            margin: 0 20px 19px;
            display: block;
            p:last-child {
                margin-bottom: 0;
            }
        }

        .credits {
            @include font($fontSL4, 10px, 1.2, $lightGrey2, 0.5px);
            margin: 10px 15px 11px;
            text-align: right;
        }

        .text-column {
                @include font($fontU4, 18px, 1.67, $black, 0.5px);
         }
    }
}

#article-text-page-container{
    .back-to-top{
        .back-to-top-text{
            font-family: SlateStd-Medium;
        }
    }
    }  