.search-resources-main-container {
    background-color:$mathExploreBarGrey;
    .search-main-content {
        .title-container{
            @include font($fontC7, 30px, 1.33, $black);
            letter-spacing: normal;
        }
        .title-count{
            @include font($fontB4, 16px, 1.5, $black, 0.5px);
            margin-left: 16px;
        }
        .articles-resources-issues-container{ 
            .articles-resources-issues-tabs {
                ul {
                    margin-top:5px;
                    margin-bottom:16px;
                    border-bottom: 4px solid $matchTabActiveBackgroundColor;
                }
            }
            .tab-content {
                .tab-pane {
                    .filter-section-container {
                        .search-facets{
                            margin-left:10.50%;
                        }
                    }
                    .search-resources-section{
                            padding-left: 14.83px;
                            padding-right: 30px;
                    }
                }
            }
        }
        .search-resources-content {
            .sort-by-wrapper{
                margin-top:3px;
                span{
                    margin-right:25px;
                    &:first-child, &:nth-child(2){
                        @include font($fontB4, 12px, 1.08, $black, 0.5px);//changed to 400
                    }
                }
                .sort-by-category {
                    &.active-sort {
                        a{
                            @include font($fontB7, 12px, 1.08, $black, 0.5px);
                        }
                    }
                    a{
                        @include font($fontB4, 12px, 1.08, null, 0.5px);
                        color:$mathSearchButtonBlue;
                    }
                }
            }
            .content-tile-container{
                margin-bottom:9px;
            }
            .pagination-directive-wrapper{
                margin-top:0px;
                margin-bottom:56px;
            }
        }
        .articles-resources-issues-container {
            margin-top:0px;
            .articles-resources-issues-tabs{ 
                ul {
                    padding-right:0px;
                    padding-left: 0px;
                    li {
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                        margin-top:7px;
                        min-height:45px;
                            &:first-child{
                                width:49.70%;
                                background-color: $matchTabActiveBackgroundColor;
                            }
                            &:nth-child(2){
                                float:right;
                                width:49.70%;
                                opacity:0.99;
                                background-color: $mathGlobalFooterBg;
                            }
                            &:after, &:before{
                                transform:skewX(0);
                                background-color: transparent
                            }
                        &.active{
                            @include font($fontB7, 13px, 1.14, $white);
                            &:after, &:before{
                                transform:skewX(0);
                                background-color: transparent
                            }
                            a{
                                width:100%;
                                @include font($fontC6, 28px, 1.14, $white);
                                letter-spacing: normal;
                                text-transform: capitalize;
                                
                            }
                        }
                        a{
                            width:100%;
                            @include font($fontC6, 28px, 1.14, $white);
                            letter-spacing: normal;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    .filter-section-container {
                        .filter-category-section {
                            .filter-category-heading{
                                @include font($fontC7, 13px, 1, $black, 1px);
                            }
                            .filter-category-items-container {
                                ul {
                                    .filter-category-item {
                                        span{
                                            &.checkbox-text{
                                                @include font($fontB4, 12px, 1.08, $black, 1px);
                                            }
                                        }
                                        label{
                                            @include font($fontB4, 12px, 1.08, $black, 1px);
                                        }
                                    }
                                }
                            }
                            &.filter-reset-section {
                                .filter-category-items-container {
                                    .filter-category-item {
                                        span{
                                            @include font($fontB8, 13px, 1.08, null, 0.5px);
                                            color: $mathSearchButtonBlue;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .search-zero-results-container {
                    .title {
                        font-family: 'Canaro-Medium';
                    }
                    .try-another-keyword {
                        font-family: 'Canaro-Medium';
                    }
                    .search-guidlines{
                         .search-tips{
                            font-family: 'Canaro-Bold';
                         }
                         .steps-for-search{
                            font-family: 'Canaro-Book';
                         }
                    }
                }
            }
        }
    }
}

.app-nav-bar-main-container {
    .global-nav-container {
        .app-navbar-header{
            margin-bottom:0px;
        }
    }
}