.article-toolbar-layout {
    .article-toolbar {
        border: solid 1px $articleToolbarBorderGrey;
        border-radius: 5px;
        .icon-text-container {
            border-bottom: 1px solid $articleToolbarBorderGrey;
        }        
        .open-flip-book {
            border-top: 1px solid $articleToolbarBorderGrey;
            border-bottom: 1px solid $articleToolbarBorderGrey;
        }
        .jump-to-block {
            border-bottom: 1px solid $articleToolbarBorderGrey;
        }
        .drop-down-sec {
            border-bottom: 1px solid $articleToolbarBorderGrey;
        }
        .menu-list {
            .icon-bar {
                ul {
                    padding: 0 52px;
                    margin-bottom: 0;
                    li {
                        padding-left: 0;
                        padding-right: 0;
                        &:last-child {
                            padding-left: 34px;
                        }
                    }
                }
            }
            .drop-down {
                    width: 100%;
                    height: 30px;
                    border: solid 1px $articleToolbarSelectBorder;
                    @include font($font07, 13px, 1.2, $black, 0.5px);
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: $articleToolbarSelectBg url(../../../images/icons/superscience-dropdown-arrow.png) no-repeat;                     
                    background-position:  right 11px center;
                    padding: 0 20px 0 10px;
                    &:disabled {
                        background: $articleToolbarSelectBg;
                    }
            }

        }

    }
    
}
