.marketing-app-sample-issue {
    padding: 0;
    opacity: 0.89;
    .marketing-content-tile-container {
        margin: 0 auto;
    }
    .app-issue-container {
        padding-left: 40px;
        padding-right: 16px;
        margin: 0;
        .marketing-app-sample-issue-container {
            margin-top: 29px;
            margin-bottom: 29px;
            .sn3-button {
                display: none;
            }
            .sw-button {
                display: block;
            }
            .marketing-contentTile-title {
                @include font($font07, 24px, 1.67, $white);
                margin-bottom: 5px;
                text-align: center;
                span.title-text {
                    position: absolute;
                    left: 20px;
                    right: 20px;
                    bottom: 0;
                }
                span.title-space-text {
                    position: static;
                    visibility: hidden;
                }
                .mobile-title {
                    display: none;
                }
            }
            .issue-title {
                @include font($fontN5, 24px, 1.38, $white);
                margin-top: 9px;
                max-width: 96%;
            }
            .issue-desc {
                @include font($font04, 20px, 1.35, $white);
                margin-top: 10px;
            }
            .button-container {
                text-align: center;
                margin-top: 23px;
                .marketing-sample-issue-btn {
                    @include font($font09, 13px, 1.54, $black, 1px);
                    min-width: 265px;
                    height: 40px;
                    border: none;
                    border-radius: 8px;
                    display: inline-block;
                    padding: 10px 0;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .marketing-app-sample-issue-tiles {
                padding-left: 11px;
                .sample-title-container {
                    display: flex;
                    flex-wrap: nowrap;
                }
            }
        }
    }
}

@include respond-to ('small-and-down') {
    .marketing-app-sample-issue {
        padding-bottom: 20px;
        margin-top:-55px;
        .marketing-content-tile-container {
            max-width: 100%;
            .content-tile-body {
                height: 210px;
                .image-container-resource {
                    height: 210px !important; //already the style was writtten in important, I need to override that
                    max-width: 100%;
                    padding: 0 10px;
                }
                .row.game-video-wrapper {
                    .image-container {
                        height: 210px;
                    }
                }
            }
        }
        .app-issue-container {
            padding-left: 20px;
            padding-right: 9px;
            .marketing-app-sample-issue-container {
                .marketing-contentTile-title {
                    @include font($font07, 16px, 2.5, $white);
                    .mobile-title {
                        display: flex;
                        flex-wrap: nowrap;
                    }
                }
                .issue-title {
                    @include font($fontN5, 18px, 1.11, $white);
                    max-width: 100%;
                }
                .issue-desc {
                    @include font($font04, 16px, 1.38, $white);
                    padding-right: 25px;
                }
                .button-container {
                    text-align: center;
                    margin-top: 23px;
                    .marketing-sample-issue-btn {
                        @include font($font09, 15px, 1.25, $black, 1px);
                        min-width: 275px;
                        border-radius: 20px;
                    }
                }
                .marketing-app-sample-issue-tiles {
                    padding: 0;
                    margin-left: -11px;
                }
            }
        }
    }
}

@include respond-to ('small-and-up') {
    .marketing-app-sample-issue {
        margin-top: -200px;
        display: inline-block;
    }
}