<div data-sly-test="${wcmmode.edit}">Article - Date + Byline</div>
<div data-sly-use.issueLink="com.scholastic.classmags.migration.controllers.IssueLinkUse">
	<div class="iconHyperlink-component-wrapper ">
            <div class="iconHyperlink-component"> 
                <div class="iconHyperlink-content">
					<div data-sly-test="${issueLink.issueDate}" class="issuer-date issuer">
						<a href="${issueLink.parentIssuePath}">${issueLink.issueDate}</a>
                    </div>
                    <div data-sly-test="${properties.authorName}" class="issuer-name-wrapper issuer">
	                    <div data-sly-test="${properties.fileReference}" data-sly-unwrap><img src = "${properties.fileReference}"/></div>
	                    <span>${properties.authorName}</span>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="clearfix"></div>
