<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure
	Misc - Promote Magazines Component</div>

<div
	data-sly-use.promoteMagazinesUse="com.scholastic.classmags.migration.controllers.PromoteMagazinesUse">
	<div class="scholastic-magazine-wrapper">
		<div class="scholastic-magazine-content">
			<div class="magazine-title-wrapper">
				<span
					class="${properties.promoteMagsLabel ? 'magazine-title' : 'magazine-title no-right-border'}">${properties.promoteTitle}</span>
				<a data-sly-test="${properties.promoteMagsLabel}"
					href="${promoteMagazinesUse.promoteMagazine.promoteMagsPath}">
					<span class="view-all-magazine text-right">${properties.promoteMagsLabel}
				</span> <span class="icon sw-icon icon-right right-arrow"></span>
				</a>
			</div>
			<div class="row nomarLR">
				<div class="col-md-3  scholastic-image pad10 magazine-content">
					<img src="${properties.promoteMagsImageFileReference}"
						class="img-responsive" />
				</div>
				<div class="col-md-9 content-container">
					<div class="row nomarLR">
						<div data-sly-list="${promoteMagazinesUse.magsDataList}">
							<div
								data-sly-test="${item.magazineName && item.magazineDescription}"
								class="col-md-4  pad10 magazine-content">
								<div class="magazine-subtitle">
									<a href="${item.magazinePath}">${item.magazineName}</a>
								</div>
								<div class="separator"></div>
								<div class="magazine-desc">${item.magazineDescription}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scholastic-magazine-content-hash"></div>
	</div>
</div>