<div class="textHyperlink-container flexible-title-hyperlink" ng-if="titlePosition =='left'">
<div class="textHyperlink-hash-container">
    <div class="textHyperlink-hash-content"></div>
</div>
    <div class="textHyperlink-wrapper" ng-style="{'background-color' : bgcolor}">
        <h2 class="textHyperlink-text" ng-style="{'background-color' : bgcolor,'color' : color, 'font-size': titleFontSize+'px'}" ng-bind-html="title">{{title}}<span class="textHyperlink-count" ng-if="recordsCount">({{recordsCount}})</span></h2>
        <a href="{{hyperLinkUrl}}" class="textHyperlink-link pull-right" ng-if="hyperLinkText">{{hyperLinkText}}<span class="icon sw-icon icon-right right-arrow"></span></a>
    </div>
    <a href="{{hyperLinkUrl}}" class="textHyperlink-link pull-right" ng-if="hyperLinkText">{{hyperLinkText}}<span class="icon sw-icon icon-right right-arrow"></span></a>
</div>

<div class="textHyperlink-container flexible-title-hyperlink right" ng-if="titlePosition =='right'">
<div class="textHyperlink-content">
    <div class="textHyperlink-content-wrapper">
       <div  class="flexible-title" ng-bind-html="title" ng-style="{'color' : color, 'font-size': titleFontSize+'px'}">{{title}}</div>
    </div>
   
</div>
</div>