.issueHigh-wrapper {
    margin-top: -2px;
    background-color: transparent;

    .issueHigh-content {
        padding-bottom: 0;
        padding-top: 0;

        .issueHigh-header {
            position: relative; 
            .textHyperlink-container-content {
                .textHyperlink-link {
                    display: none;
                }
            }           
            .text-desc {
                margin-bottom: 0;

                .text-desc-bold {
                    display: none;
                }

                .text-desc-normal {
                    display: none;
                }

                .issue-high-icons {
                    margin:0;
                    position: absolute;
                    top:-1px;
                    right:40px;    
                    background: $white;
                    padding-left: 12px;                
                }
            }
        }

        .issue-highlighting-img {
            padding-left: 69px;
            padding-right: 26px;

            .issue-highlight-img-bg {
                background: none;
                padding: 0;
                border: 0;

                .issue-img-center {
                    .issue-high-img-class {
                        max-width: 265px !important;
                        max-height: 355px !important;
                    }

                    img {
                        max-height: 355px !important;
                        box-shadow: none;
                    }
                }
            }

            .issue-mag-view-container {
                width: 265px;
                position: initial;
                margin: 25px auto 0;

                .issue-mag-view {
                    @include font($fontPE4, 18px, 1.11, $white, 0.5px);
                    background: $submitButtonColor;
                    min-height: 40px;
                    width: 100%;
                    text-transform: capitalize;
                }
            }
        }

        .issue-tile-wrapper {
            padding-left: 25px;
            padding-right: 20px;

            .issue-high-des-sec-tiles {
                height: 200px;
                margin-bottom: 20px;
                margin-right: 0;
                
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    margin-bottom: 0;
                }

                .des-sec-tiles-boxshadow {
                    box-shadow: none;
                    border-radius: 8px;

                    .issueHigh-titles {
                        border: 0 none;
                        min-height: 50px;
                        background: $dynamathTilesHeaderBlue;
                        border-radius: 8px 8px 0 0;
                        @include font($fontV9, 20px, 0.9, $white, 1px);

                        a {
                            @include font($fontV9, 20px, 0.9, $white, 1px);
                            padding: 16px 20px;
                        }
                    }

                    .key-asset-content {
                        border: 2px solid $dynamathIssueHighBorder;
                        border-top: 0;
                        border-radius: 0 0 8px 8px;
                        padding: 25px 20px 7px;
                        min-height: 150px;

                        .key-asset-desc {
                            @include font($fontU4, 16px, 1.5, $black, 0.3px);

                            &.tile-desc {
                                max-height: 58px;
                                height: 58px;
                                margin-bottom: 20px;
                            }
                        }

                        .social-icons {
                            .sw-icon {
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }

        .issueHigh-header {
            .magazine-issue-high-component-bg {
                margin-top: 0;

                .resources-container {
                    float: left;
                    margin-bottom: 55px;
                    margin-top: 24px;

                    .background-color-div-sn3 {
                        background-color: $dynamathBackgroundGrey;
                        min-height: 380px;
                        position: absolute;
                        max-width: 1440px;
                        margin-top: 81px;
                        z-index: -1;
                        top: 129px;
                        margin-left: 0;
                        width: 100%;
                    }
                }
            }

            .textHyperlink-container-wrapper {
                margin-left: 69px;
                margin-right: 40px;
                .textHyperlink-wrapper {
                    
                    height: auto;

                    .textHyperlink-text {
                        @include font($fontPE4, 34px, 1.06, $black, 1.1px);
                        padding: 0;
                    }

                    .textHyperlink-link {
                        @include font($fontP7, 14px, 1, $black, 0.5px);
                    }
                }


                .text-link-connector {
                  background-color: $white;
                  height: 4px;
                  background-image: radial-gradient($dynamathTopLinksTitleBorder 38%, transparent 45%);
                  background-image: -ms-radial-gradient($dynamathTopLinksTitleBorder 38%, transparent 45%);
                    background-image: -moz-radial-gradient($dynamathTopLinksTitleBorder 38%, transparent 45%);
                    background-image: -webkit-radial-gradient($dynamathTopLinksTitleBorder 38%, transparent 45%);
                  background-size: 13px 13px;
                  background-position: 0 0;
                  background-repeat: repeat-x;
                  padding-top: 14px;
                  border: 0;
                  top: 12px;
                  margin-left: 12px;
                  &.hide-ruler {
                    visibility: visible;
                  }
                }

                .textHyperlink-link {
                    @include font($fontSL7, 14px, 1, $black, 0.5px);
                }
            }
        }
    }
}


.top-links-component-main-wrapper {
    .top-links-component-container {
        .hash-container {
            display: none;
        }
        .top-links-content-wrapper {
            padding: 45.5px 40px 52px 70px;
            .image-wrapper {
                .magazine-view-button {
                    text-transform: capitalize;
                    margin-top: 25px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    @include font($fontPE4, 18px, 1.11, $white, 0.5px);
                    background-color:$dynamathTopLinksButton;
                }
            }
            .text-wrapper {
                padding-left: 50px;
                width: 80.10%;
                .title-icon-wrapper {
                    .title-placeholder {
                       @include font($fontPE4, 34px, 1.06, $black, 1.1px);
                    }
                   
                    padding-bottom: 22px;
                    background-image: radial-gradient($dynamathTopLinksTitleBorder 35%, transparent 35%);
                    background-image: -ms-radial-gradient($dynamathTopLinksTitleBorder 35%, transparent 35%);
                    background-image: -moz-radial-gradient($dynamathTopLinksTitleBorder 35%, transparent 35%);
                    background-image: -webkit-radial-gradient($dynamathTopLinksTitleBorder 35%, transparent 35%);
                    background-size: 12px 12px;
                    background-repeat: repeat-x;
                    background-size: 14px 14px;
                    background-position: bottom;
                }
                .description {
                    margin-top: 10px;
                   @include font($fontP7, 15px, 1.6, $black, 0.5px);
                }
                .featured-assets-wrapper {
                    margin-top:8px;
                    .featured-asset {
                        .dynamath-content-tile-container {
                            border: 0;
                            .content-tile-body {
                                   background: transparent;            
                                   border:0;
                                   height:215px;                           
                                .title {                                   
                                    @include font($fontP5, 18px, 1.17, $black, 0.3px);
                                }
                                
                                .row{
                                    display:none;
                                    &.dynamath-content-tile-image,&.dynamath-content-tile-title{
                                     display:block;
                                    }
                                }
                            }
                        }
                    }
                }
                .key-assets-wrapper {
                    margin-top: 20px;
                    .key-asset-container {
                        height: 85px;
                        background-color: $issueTopKeyAssetsBackground;
                        border-bottom: 0;
                        .key-asset {
                            .key-asset-name {
                                @include font($fontP5, 14px, 1, $black, 0.5px);
                            }
                        }
                        .bottomcolor-container {
                            height: 4px;
                            background-color: $dynamathTopLinksButton;
                        }
                    }
                }
            }
        }
    }
}