<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Configure Marketing Subscribe Product Display</div>

<div class="subscription-product-display">
    <div class="row subscription-product-display-main-section">
        <div class="col-md-12 subscription-product-display-container">
            <div class="subscription-product-display-section">
                <div class="row">
                    <div class="col-md-12 subscription-product-display-section-title">
                        <span>${properties.sectionTitle}</span>
                    </div>
                </div>
                <div class="row subscription-product-display-container-content">
                    <div class="col-md-4 col-xs-6 subscription-product-display-section-image">
                        <img src="${properties.magazineCoverPath}" alt="Subscription Magazine Image" />
                    </div>
                    <div class="col-md-8 col-xs-6 subscription-product-display-section-description">
                        <span class="subscription-magazine-name">${properties.imageTitle}</span>
                        <span class="subscription-magazine-grades">${properties.grade}</span>
                        <span class="subscription-magazine-issues">Issues: <span class="subscription-magazine-issues-count">${properties.issues}</span></span>
                        <span class="subscription-magazine-price">Per student: <span class="subscription-magazine-price-value">${properties.perStudent}</span></span>
                        <div class="subscription-magazine-quantity">
                            <div class="form-group">
                                <label class="subscription-magazine-quantity-text" for="quantity-input">Quantity:</label>
                                <input type="number" class="subscription-magazine-quantity-input form-control" onkeypress="return event.keyCode > 48" ng-keyup="saveMagazineQuantity($event, 0)" id="quantity-input" min="1" max="999" value="0" data-magazine-title="${properties.imageTitle}"
                                    data-magazine-name="${properties.magazineName}" data-magazine-path="${properties.magazineCoverPath}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
