.thankyou-back-to-previous-wrapper {
    .thankyou-container {
        margin-top: 4px;
        
        .thankyou-content-pad-container {
            a {
                color: $darkNavyBlue;
                
                &:focus, &:hover, &:active {
                    color: $darkNavyBlue;
                    cursor: pointer;
                }
            }
        }
    }
    
    .back-to-previous-wrapper { 
        .back-to-previous-pad-container {
            padding-left: 3px;    
        }
        
        .back-to-previous-text {
            a {
                @include font($font09, 14px, 1, $contentTileSubjectBlue, 0.5px);
                
                &:focus, &:hover, &:active {
                    @include font($font09, 14px, 1, $contentTileSubjectBlue, 0.5px);
                }
            }
        }
    }
}