$activeTabColor: #199d8d !default;
$inActiveTabColor: #cbcbcb !default;
$inActiveFontColor:#303030 !default;
$actioninactiveSortColor: #006ebe !default;
$actionDropdownBorderColor: #d7d7d7 !default;
$actionDropdownBackgroundColor: #f4f4f4 !default;
$actionBreadcrumbColor: #555555 !default;
$ActionTDItitle: #4a4a4a !default;
$ActionContentTileDesc: #23666c !default;
$ActionTDIDescription: #39393a !default;
$ActionButtonBackground: #199d8d !default;
$TDIcontentTileBackground: #eff0f2 !default;
$actionExplorebarColor: #eff2f3 !default;
$actionContenttileColor: #f1f1f1 !default;
$actionSubjectsCovered: #006ebe !default
$actionFooterBorderColor: rgba(255, 255, 255, 0.6) !default;
$actionGlobalFooterBackgroundColor: #2171ab !default;
$marketingActionDarkBlue: #2171ab !default;
$marketingActionLightBlue: #1657a0 !default;
$marketingActionBlue: #1557a0 !default;
$marketingActionSeaBlue: #00aaba !default;
$marketingActionBorderBlue: #00aeef !default;
$textHyperlinkColor :#0083ca !default;
$marketingActionCTAYellow: #f8e81c !default;
$marketingActionMobileCTAYellow: #f8e71c !default;
$marketingActionVideo: #ec233b !default;
$marketingActionVideoBorder: #56c1ca !default;
$contactUsBorderRightColor: rgba(0, 170, 186, 0.4);
$requiredFieldColor: #696a6c !default;
$actionArticleImageBorder: #c6c6c6 !default;
$actionArticleCreditColor: #464646 !default;
$actionHorizontalDivider: #34c7b5 !default;
$emailFormInputFontColor:  #858585 !default;
