.thankyou-back-to-previous-wrapper {
    .thankyou-container {
        .thankyou-content {
            font-family: 'ProximaNova-Regular';
        }
    }

    .back-to-previous-wrapper {
        .back-to-previous-text {
            a {
                font-family: 'ProximaNova-Bold';

                &:active,
                &:focus,
                &:hover {
                    font-family: 'ProximaNova-Bold';
                }
            }
        }
    }
}
