.app-nav-bar-main-container {
    .app-nav-primary {
        background-color: $white;
    }

    .navbar-default {
        margin-bottom: 0;
        border: 0;
    }

    .science-logo {
        width: 130.66px;
        margin-left: 27px;
        margin-right: 45px;
        padding: 11px 0 6px;

        a {
            padding: 0;
            height: 51.5px;
            background: url("/etc/designs/scholastic/classroom-magazines-migration/upfront/images/globalNav/upfront.png") no-repeat center;
            background-size: 100%;
        }
    }

    .app-nav-main-item-link {
        @include font($fontSL7, 13px, null, $gray, 0.5px);
        line-height: normal;
        padding-top: 29px;
        padding-left: 27px;
        padding-right: 27px;

        &:active,
        &:focus,
        &:hover {
            @include font($fontSL7, 13px, null, $gray, 0.5px);
            line-height: normal;
        }

        &.bookmarks {
            padding-left: 20px;
            padding-top: 30px;
            padding-right: 13px;
        }
    }

    .nav-search-form {
        margin-top: 23px;

        input {
            @include font($fontSL4, 13px, null, $globinpPlaceholdText, 0.5px);
            line-height: normal;
            border: 1px solid $gray;
            border-right: 0;

            &:-moz-placeholder,
            &::-moz-placeholder,
            &::-webkit-input-placeholder,
            :-ms-input-placeholder {
                @include font($fontSL4, 13px, null, $globinpPlaceholdText, 0.5px);
                line-height: normal;
            }
        }

        button {
            @include font($fontSL7, 13px, 1.08, $white, 0.5px);
            background-color: $upfrontVotingCastVote;
            border: 0;
        }
    }

    .login-control {
        padding-right: 33px;
        padding-top: 18px;
        margin-left: -21px;

        li {
            a {
                @include font($fontSL9, 13px, null, $gray, 0.5px);
                line-height: normal;


                &:active,
                &:focus,
                &:hover {
                    @include font($fontSL9, 13px, null, $gray, 0.5px);
                    line-height: normal;
                }  
            }
        }

        .subscribe-text {
            @include font($fontSL7, 11px, null, $gray, 0.5px);
            line-height: normal;    

            &:active,
            &:focus,
            &:hover {
                @include font($fontSL7, 11px, null, $gray, 0.5px);
                line-height: normal;
            }    
        }
    }

    .dropdown {
        .magazine {
            @include font($fontSL7, 14px, null, $gray, 0.5px);
            line-height: normal;

            &:active,
            &:focus,
            &:hover {
                @include font($fontSL7, 14px, null, $gray, 0.5px);
                line-height: normal;
            } 
        }

        .app-nav-main-item-link {
            color: $gray;

            &:active,
            &:focus,
            &:hover {
                color: $gray;
            }
        }
    }

    .logged-in-dropdown {
        .login-menu {
            top: 75px;

            &:before, &:after{
                left: 255px;
            }
            
            .dropdown-title, .subscription {
                @include font($fontK9, 14px, 0.89, $black, 1.5px);
            }

            #sdm-portal-link, #sdm-logout {
                @include font($fontSL5, 14px, 1.2, $black, normal);
                color: $black !important;
            }
        }

        &.open {
            a:focus {
                background-color: $white;
            }

            .login-toggle {
                background-color: $white;

                &:hover {
                    background-color: $white;
                }
            }
        }

        .login-toggle {
            margin-right: 33px;
            padding-top: 19px;
            padding-bottom: 11px;
        }
    }

    .secondary-items {
        li {
            a {
                @include font($fontSL7, 12px, 1.17, $gray, 1.4px);
                padding: 14px 31px 12px;

                &:active,
                &:focus,
                &:hover {
                    color: $gray;
                }
            }
        }

        .see-all-subjects {
            a {
                @include font($fontSL7, 12px, 1.17, $gray, 1.4px);

                &:active,
                &:focus,
                &:hover {
                    color: $gray;
                }
            }
        }

        .explore {
            @include font($fontSL7, 13px, 1.08, $gray, 0.5px);
            padding: 14px 9px 12px 28px;

            &:active,
            &:focus,
            &:hover {
                color: $gray;
            }
        }

        .subjects {
            padding-right: 33px;
        }
    }

    .app-navbar-secondary {
        border: 0;
        background-color: $votingContentBackgroundGrey;
    }

    @media (min-width:1440px) {
        .science-logo {
            width: 147px;

            a {        
                height: 58px;
            }
        }

        .app-nav-main-item-link {
            @include font($fontSL7, 16px, null, $gray, 0.5px);
            line-height: normal;

            &:active,
            &:focus,
            &:hover {
                @include font($fontSL7, 16px, null, $gray, 0.5px);
                line-height: normal;
            }
        }

        .dropdown {
            .magazine {
                @include font($fontSL7, 14px, null, $gray, 0.4px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontSL7, 14px, null, $gray, 0.4px);
                    line-height: normal;
                }
            }
        }
    }

    @include respond-to ('small-and-down') {        
        .magazine-logo-tablet-mobile {
            background: url("/etc/designs/scholastic/classroom-magazines-migration/upfront/images/globalNav/upfront.png") no-repeat center;
            background-size: 100%;
            height: 58px;
        }
    }

    @include respond-to ('xssmall') {
       .magazine-logo-tablet-mobile {
            height: 58px;
        }
    }
}
