<!--/*

    Issue article aggregator component.

*/-->
<div data-sly-test.placeholder="${!wcmmode.disabled}">
    Configure Issue - Article Aggregator component
</div>
<div data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse" data-sly-unwrap>
<div data-sly-unwrap data-sly-use.issueArticleAggregator="com.scholastic.classmags.migration.controllers.IssueArticleAggregatorUse">
<div data-sly-unwrap data-sly-list.issueAggregator="${issueArticleAggregator.articleAggregator}">

<!-- Featured article markup starts -->
    <div class="iarticle-aggregator" ng-controller="articleAggregatorController" ng-init="pagePath='${issueAggregator.resourcesObject.bookmarkPath @ context='uri'}'">
    <div class="${(issueAggregator.featuredArticleFlag == true && (globalAccess.magazineName != 'junior' && globalAccess.magazineName != 'dynamath' && globalAccess.magazineName != 'upfront' ))? 'featured-article-main-container' : 'iarticle-content-container'}">
        <sly data-sly-test="${(issueAggregator.featuredArticleFlag && (globalAccess.magazineName != 'junior' && globalAccess.magazineName != 'dynamath' && globalAccess.magazineName != 'upfront'))}" data-sly-unwrap>
        <div class="featured-content-wrapper">
        	<div class="iarticle-content-container-hash featured-hash"></div>
	            <div class="featured-article">
	                <div class="featured-article-content">
	                    <a href="${issueAggregator.resourcesObject.pagePath}"><img src="${issueAggregator.resourcesObject.imagePath}" class="img-responsive featured-image" /></a>
	                    <div class="featured-article-des-sec">
	                        <div class="featured-article-title-wrapper">
	                            <a href="${issueAggregator.resourcesObject.pagePath}" class="featured-article-title wordBreak">${issueAggregator.resourcesObject.title}</a>
	                           <div class="icon-wrapper pull-right">
                                 <a href="javascript:void(0)" ng-click="addBookmark()" ng-if="!isBookmarkAdded" sw-authorize="teacherorstudent">
                                     <span class="sw-icon bookmark-icon"></span>
                                 </a>
                                 <a href="javascript:void(0)" ng-click="deleteBookmark()" ng-if="isBookmarkAdded">
                                     <span class="sw-icon bookmarked-icon"></span>
                                 </a>
	                                <div data-sly-test="${wcmmode.edit || globalAccess.shareableToTeacher}" data-sly-unwrap>
	                                    <div data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=issueAggregator.resourcesObject.pagePath}" data-sly-unwrap>
                                        <a href=""><span class="sw-icon upload-icon"><sw-show-popover link-url="${globalLink.externalizedDomain}"></sw-show-popover></span></a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>

							<div class="feature-border"></div>

                            <div data-sly-test="${issueAggregator.resourcesObject.tags || issueAggregator.articleLexileLevels}" class="featured-article-tags-wrapper">
	                            <div class="featured-article-tags-content">
	                                <div data-sly-list="${issueAggregator.resourcesObject.tags}" data-sly-unwrap>
	                                    <span class="featured-article-sub-title wordBreak">${item}</span>                                  
	                                </div>
                                    <div class="reading-levels"><span>Reading Level:</span>${issueAggregator.articleLexileLevels}
                                    </div>
	                            </div>
	                            <div class="feature-border"></div>
	                        </div>
	                        <!-- <h4 class="featured-article-des-title wordBreak">Biologists study endagered red pandas to learn how to save them in the wild</h4> -->
	                        <p class="featured-article-des wordBreak">${issueAggregator.resourcesObject.description}</p>
	                    </div>

	                </div>
	            </div>
            </div>
        </sly>
        <!-- Featured article markup ends -->
        <!-- Article markup starts -->
        <sly data-sly-test="${( !issueAggregator.featuredArticleFlag || (globalAccess.magazineName == 'junior' || globalAccess.magazineName == 'dynamath' || globalAccess.magazineName == 'upfront') )}" data-sly-unwrap>
        <div class="iarticle-non-featured-hash-container">
        <div class="iarticle-content-container-hash iarticle-hash "></div>
        <div class="row nomarLR iarticle-content">
                <div class="iarticle-content-wrapper clearfix">
                    <div class="col-sm-5 col-xs-12 nopadLR article-image">
                        <a href="${issueAggregator.resourcesObject.pagePath}">
                        <sw-image src="${issueAggregator.resourcesObject.imagePath}" alt="Classroom magazines image" height="404px" width="100%"></sw-image>
                        </a>
                    </div>
                    <div class="col-sm-7 col-xs-12 nopadLR">
                        <div class="iarticle-aggregator-des-sec">
                        <div class="iarticle-aggre-subtags">
                        <div data-sly-list="${issueAggregator.resourcesObject.tags}" data-sly-unwrap>
                                    <span class="iarticle-aggre-sub-title wordBreak">${item}</span>
                                </div>
                        </div>
                            <div class="iarticle-aggre-title-wrapper">
                                <a href="${issueAggregator.resourcesObject.pagePath}" class="iarticle-aggre-title wordBreak">${issueAggregator.resourcesObject.title}</a>
                                <div class="icon-wrapper pull-right">
                                    <a href="javascript:void(0)" ng-click="addBookmark()" ng-if="!isBookmarkAdded" sw-authorize="teacherorstudent">
                                        <span class="sw-icon bookmark-icon"></span>
                                    </a>
                                    <a href="javascript:void(0)" ng-click="deleteBookmark()" ng-if="isBookmarkAdded">
                                        <span class="sw-icon bookmarked-icon"></span>
                                    </a>
                                    <div data-sly-test="${wcmmode.edit || globalAccess.shareableToTeacher}" data-sly-unwrap>
                                        <div data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=issueAggregator.resourcesObject.pagePath}" data-sly-unwrap>
                                        <a href=""><span class="sw-icon upload-icon"><sw-show-popover link-url="${globalLink.externalizedDomain}"></sw-show-popover></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="iarticle-title-bottom-border"></div>

                            <div data-sly-test="${issueAggregator.resourcesObject.tags || issueAggregator.articleLexileLevels}" class="iarticle-tags-wrapper">
                                <div class="iarticle-tags-content">
                                    <div data-sly-list="${issueAggregator.resourcesObject.tags}" data-sly-unwrap>
                                    <span class="iarticle-aggre-sub-title wordBreak">${item}</span>
                                </div>
                                
                                </div>
                                <div data-sly-test="${issueAggregator.articleLexileLevels}" data-sly-unwrap>
                                    <div class="reading-levels"><span>Reading Level:</span>${issueAggregator.articleLexileLevels}
                                    </div>
                                </div>
                            </div>
                            <div data-sly-test="${issueAggregator.resourcesObject.tags || issueAggregator.articleLexileLevels}" class="iarticle-tags-bottom-border"></div>
                            <!-- <h4 class="iarticle-aggregator-des-title wordBreak">Biologists study endagered red pandas to learn how to save them in the wild</h4>-->
                            <p class="iarticle-aggregator-des wordBreak">${issueAggregator.resourcesObject.description}</p>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        </sly>
        <!-- Article markup ends -->
        <!-- Article resources starts -->
    <div data-sly-test="${issueAggregator.articleResources.size}" class="article-resources-main-container resources-container">
            <div class="article-resources-content pad30">
                <div class="row nomarLR article-tiles row-wrapper">
                <div data-sly-unwrap data-sly-list="${issueAggregator.articleResources['video']}">
                    <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                        <div class="article-resources-heading">
                            <!--              <span class="icon video-icon"></span>-->
                            <span data-sly-test="${itemList.first}" class="article-title">VIDEOS <span class="contentType-count">(${issueAggregator.articleResources['video'].size})</span></span>
                        </div>
                         <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "video"
                        position = "vertical"
                        video-length= "${item.videoDuration}"
                        video-id = "${item.videoId}"
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "false"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile>
                </div>
                </div>
                <!-- Skill sheets -->
                <div data-sly-unwrap data-sly-list="${issueAggregator.articleResources['skillsSheet']}">
                    <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                         <div class="article-resources-heading ${itemList.first ? 'skill-sheet' : ''}">
                             <span data-sly-test="${itemList.first}" class="article-title">SKILLS SHEETS <span class="contentType-count">(${issueAggregator.articleResources['skillsSheet'].size})</span></span>
                         </div>
                         <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=item.pagePath}">

                         <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "skillsSheet"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "${wcmmode.edit || globalAccess.shareableToTeacher ? 'true':'false'}"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url="${globalLink.externalizedDomain}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile> </div>
                 </div>
                 </div>
                <!-- skill sheet ends -->
                <!-- Game starts -->
                <div data-sly-unwrap data-sly-list="${issueAggregator.articleResources['game']}">
                    <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                    <div class="article-resources-heading">
                        <span data-sly-test="${itemList.first}" class="article-title">GAMES <span class="contentType-count">(${issueAggregator.articleResources['game'].size})</span></span>
                    </div>

                    <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "game"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "false"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url=""
                        view-article-link-url="${item.articlePagePath}"
                        game-id="${item.gameModel.containerId @ context='text'}"
                        game-flash-container="${item.gameModel.containerPath @ context='uri'}"
                        game-path="${item.gameModel.gamePath @ context='uri'}"
                        game-type="${item.gameModel.gameType}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile>
                </div>
                </div>
                <!-- Game ends -->
                <!-- Slideshow starts -->
                <div data-sly-unwrap data-sly-list="${issueAggregator.articleResources['slideshow']}">
                    <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                       <div class="article-resources-heading">
                           <span data-sly-test="${itemList.first}" class="article-title">SLIDESHOWS <span class="contentType-count">(${issueAggregator.articleResources['slideshow'].size})</span></span>
                       </div>

                      <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "article"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "false"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url=""
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile>
                </div>
                </div>
                <!-- Slideshow ends -->
                <!-- Lesson Plan starts -->
                <div data-sly-unwrap data-sly-list="${issueAggregator.articleResources['lessonPlan']}">
                <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                    <div class="article-resources-heading">
                        <span data-sly-test="${itemList.first}" class="article-title">LESSON PLAN <span class="contentType-count">(${issueAggregator.articleResources['lessonPlan'].size})</span></span>
                    </div>
                    <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=item.pagePath}">

                    <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "lessonPlan"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "${wcmmode.edit || globalAccess.shareableToTeacher ? 'true':'false'}"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url="${globalLink.externalizedDomain}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile> </div>
                 </div>
                 </div>
                <!-- Lesson plan ends -->
                <!-- Download starts -->
                <div data-sly-unwrap data-sly-list="${issueAggregator.articleResources['download']}">
                    <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                         <div class="article-resources-heading ${itemList.first ? 'skill-sheet' : ''}">
                             <span data-sly-test="${itemList.first}" class="article-title">DOWNLOAD <span class="contentType-count">(${issueAggregator.articleResources['download'].size})</span></span>
                         </div>
                         <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=item.pagePath}">

                         <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "download"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "${wcmmode.edit || globalAccess.shareableToTeacher ? 'true':'false'}"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url="${globalLink.externalizedDomain}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile> </div>
                 </div>
                </div>
                <!-- Download ends -->
                <!-- Poll starts -->
                <div data-sly-unwrap data-sly-list="${issueAggregator.articleResources['poll']}">
                    <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                         <div class="article-resources-heading ${itemList.first ? 'skill-sheet' : ''}">
                             <span data-sly-test="${itemList.first}" class="article-title">POLL <span class="contentType-count">(${issueAggregator.articleResources['poll'].size})</span></span>
                         </div>
                         <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=item.pagePath}">

                         <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "article"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "${wcmmode.edit || globalAccess.shareableToTeacher ? 'true':'false'}"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url="${globalLink.externalizedDomain}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile> </div>
                 </div>
                </div>
                <!-- Poll ends -->
                <!-- Blog starts -->
                <div data-sly-unwrap data-sly-list="${issueAggregator.articleResources['blog']}">
                    <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                         <div class="article-resources-heading ${itemList.first ? 'skill-sheet' : ''}">
                             <span data-sly-test="${itemList.first}" class="article-title">BLOG <span class="contentType-count">(${issueAggregator.articleResources['blog'].size})</span></span>
                         </div>
                         <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=item.pagePath}">

                         <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "article"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "${wcmmode.edit || globalAccess.shareableToTeacher ? 'true':'false'}"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url="${globalLink.externalizedDomain}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile> </div>
                 </div>
                </div>
                <!-- Blog ends -->
                <div class="see-all">
                            <h5>
                                <a href="javascript:void(0)" ng-show="isShow" data-state="expand" ng-click="updateTiles('expand',$event);"><span class="title">expand to see all article resources</span>
                      <span class="sw-icon expand-collapse-arrow down-black-arrow"></span>
                          </a>
                            </h5>

                            <h5>
                                <a href="javascript:void(0)" ng-hide="isShow" data-state="collapse" ng-click="updateTiles('collapse',$event);"><span class="title">
                          collapse to see less resources </span>
                      <span class="sw-icon expand-collapse-arrow down-black-arrow up-black-arrow"></span>
                          </a>
                            </h5>
                        </div>
                </div>
            </div>
    </div>
    <!-- Article resources ends -->
    </div>

    <div ng-class="{'in':isSpinnerShow}" class="spinnercontainer">
      <img src="/etc/designs/scholastic/classroom-magazines-migration/images/icons/spinner.gif">
    </div>
    </div>
</div>
</div>
</div>
