.app-nav-bar-main-container {
    .logged-in-dropdown {
        .login-menu {
            .dropdown-title, .subscription {
                @include font($fontS7, 14px, 1.16, $black, 1px);
            }

            #sdm-logout, #sdm-portal-link {
                color: $contentTileSubjectBlue !important;
            }    
        }

        &.open {
            a:focus {
                background-color: $tabBgBlue;
            }

            .login-toggle {
                background-color: $tabBgBlue;

                &:hover {
                    background-color: $tabBgBlue;
                }
            }
        }
    }

    .app-nav-primary {
        background-color: $tabBgBlue;
    }

    .app-nav-main-item-link {
        text-align: center;
    }

    .science-logo {
        width: 183px;
        padding: 16px 0 0 0;
        margin-left: 23px;
        margin-right: 20px;

        a {
            background: url('/etc/designs/scholastic/classroom-magazines-migration/superscience/images/globalNav/superscience.png') no-repeat center;
            background-size: 100%;
            padding-top: 26.65px;
            padding-bottom: 26.65px;
        }
    }

    .nav-search-form {
        button {
            background-color: $superScienceSearchButtonOrange;
            color: $white;
            border: 0;
        }
    }

    .app-navbar-secondary {
        border: 1px solid $superScienceExploreBarBorder;
        border-top: 0;
    }

    .secondary-items {
        li {
            a {
                @include font($fontS7, 12px, 1.17, $superScienceExploreBar, 1.4px);
                padding-bottom: 12px;

                &:active,
                &:focus,
                &:hover {
                    color: $superScienceExploreBar;
                }
            }
        }

        .explore {
            padding-bottom: 13px;
        }
    }
}
@media (min-width:1440px) {
    .app-nav-bar-main-container {
        .science-logo {
            padding-bottom: 14px;
            width: 206px;
            margin-left: 23px;
            margin-right: 20px;

            a {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }

        .logged-in-dropdown {
            &.open {
                a:focus {
                    background-color: $tabBgBlue;
                }

                .login-toggle {
                    background-color: $tabBgBlue;

                    &:hover {
                        background-color: $tabBgBlue;
                    }
                }
            }
        }
    }
}

@include respond-to ('small-and-down') {
    .app-nav-bar-main-container {
        .magazine-logo-tablet-mobile {
            height: 26px;
            background: url('/etc/designs/scholastic/classroom-magazines-migration/superscience/images/globalNav/superscience.png') no-repeat center;
            background-size: 100%;
        }
    }
}

@include respond-to ('xssmall') {
    .app-nav-bar-main-container {
        .magazine-logo-tablet-mobile {
            height: 20px;
            background-size: 100%;
        }
    }
}
