.brightcoveComponent-container {
    .brightcoveComponent-text-wrapper {
        .brightcoveComponent-title {
            font-family: 'Geometric706BT-MediumB';
            
        }

        .brightcoveComponent-desc {
            font-family: 'Geometric706BT-BlackB';
        }
    }
}
