.junior-content-tile-container {
    $borderColor: $contentTileBorderGray;
    $backgroundColor: $white;
    max-width: 325px;
    position: relative;

    .row {
        margin: 0;
        padding: 0;
    }

    .content-tile-body {
        height: 400px;
        border: 1px solid $borderColor;
        background: $backgroundColor;
        position: relative;

        .title-class .title {
            @include font($fontC9, 22px, 0.95, $black, normal);
            max-height: 60px;
        }
    }

    .content-info {
        border: 1px solid $borderColor;
        border-top: none;
        height: 220px;
    }

    p {
        margin: 0;
    }

    .content-hub-header {
        border-bottom: 4px solid $contentHeaderBorderBlue;
        height: 50px;
        background-color: $tabBgBlue;
        padding: 18px 0 18px 20px;
    }

    .bookmark-header {
        height: 50px;
        background-color: $tabBgBlue;
        border-bottom: 4px solid $contentHeaderBorderBlue;

        .bookmark-title {
            @include font($fontPE4, 16px, 0.81, $white, normal);
            padding-top: 11px;
            padding-left: 5px;
            text-transform: uppercase;
        }

        .bookmark-date {
            @include font($fontP5, 10px, 1.2, $liteAsh6, 0.5px);
            padding-top: 5px;
            padding-left: 5px;
        }

        .bookmark-type {
            @include font($fontP5, 10px, 1.2, $liteAsh6, 0.5px);
            padding-top: 5px;
            float: right;
            min-width: 73px;
            padding-right: 20px;
        }
    }

    .content-date {
        @include font($fontPE4, 16px, 0.81, $white, normal);
        text-transform: uppercase;
    }

    .title {
        padding: 10px 20px 7px;
        @include font($fontP7, 16px, 1.5, $black, normal);
        max-height: 80px;
        text-decoration: none;
        display: block;
    }

    .subject {
        background: $contentTileSubjectRed;
        padding: 14px 20px 10px;
        max-height: 36px;
        @include font($fontPA9, 14px, 1.14, $white, normal);
        text-transform: uppercase;
    }

    .description {
        /*height: 48px;*/
        height: 60px;
        padding: 0 20px;
        @include font($fontP4, 17px, 1.29, $black, normal);
    }

    .icons-row {
        position: absolute;
        bottom: 15px;
        width: 100%;
        min-height: 32px;

        .sw-icon, .sw-content-icon,
        .view-article-link {
            display: inline-block;
            vertical-align: middle;
        }

        .sw-content-icon
         {
            margin-left: 0;
        }
        .sw-icon{
            margin-left: 10px;
        }
        .sw-icon:first-child {
            margin-left: 10px;
        }

        .sw-content-icon:first-child {
            margin-left: 10px;
        }

        .view-article-link {
            @include font($fontP7, 14px, 1, $tabBgBlue, normal);
            padding-right: 20px;
            padding-top: 10px;
            float: right;

            a {
                color: $tabBgBlue;

                &:active,
                &:focus,
                &:hover,
                &:visited {
                    color: $tabBgBlue;
                    text-decoration: none;
                }
            }
        }
    }

    .image-container {
        max-width: 325px;
        /*height: 180px;*/
        height: auto;

        text-align: center;
        position: relative;

        /*background-color: $lightGray3;*/
        background-color: $white;

        div[ng-bind-html="containerGameDesc"]{
         display: none;
        }


        div[ng-bind-html="containerGameTitle"]{
          display: none;
        }

        .content-image {
            max-width: 100%;
            max-height: 180px;
            /*@include center-both;*/
        }
    }

    .image-container-resource {
        max-width: 298.8px;
        /*height: 162.91px;*/
        text-align: center;
        position: relative;
        margin: 17.1px 17.1px 0;
        overflow: hidden;

        /*background-color: $lightGray3;*/
        background-color: $white;

        .content-image {
            width: auto;
            height: auto;
            max-width: 98%;
            @include shadow(rgba(0, 0, 0, 0.5), 0 3px 7px 0);
        }

        div[ng-bind-html="containerGameDesc"]{
         display: none;
        }


        div[ng-bind-html="containerGameTitle"]{
          display: none;
        }
    }

    .resource-wrapper {
        background-color: $lightGray3;
        border-bottom: 2.3px solid $juniorThickGreyLineColor;
    }

    .video-play-icon {
        @include center-both;
    }

    .video-time-frame {
        position: absolute;
        background-color: $black;
        bottom: 0.25px;
        right: 0;
        @include font($font7, 11px, 1.27, $white, 1px);
        width: 50px;
        height: 20px;
        padding: 3px 10.5px;
        display: none;
    }

    @include respond-to ('large') {
        .description {
            height: 60px;
        }
    }

}

.junior-content-tile-container-horizontal {
    $borderColor: #efefef;
    $backgroundColor: #ffffff;
    height: 300px;
    background-color: $backgroundColor;
    border: 1px solid $borderColor;
    max-width: 440px;

    .padding-content {
        padding: 20px 20px 20px 0;
        height: 295px;
    }

    .title {
        padding-left: 10px;
        @include font($fontC9, 18px, 1.06, $black, normal);
        text-decoration: none;
        display: block;
        height: 40px;
    }

    .subject {
        background: $contentTileSubjectRed;
        margin-left: 10px;
        padding: 6px;
        display: inline-block;
        @include font($fontPA9, 14px, 1.14, $white, normal);
        max-height: 40px;
    }

    .display-date {
        margin: 0 0 0 10px;
        @include font($font5, 10px, 1.4, $black, 0.3px);
        margin-bottom: 7px;
    }

    .description {
        max-height: 120px;
        padding: 0 0 0 10px;
        @include font($fontP4, 17px, 1.29, $black, normal);
    }

    .row {
        margin: 0;
        padding: 0;
    }

    .padding-image {
        padding: 20px 0 20px 20px;
    }

    .image-container {
        max-width: 190px;
        /*height: 260px;*/
        height: auto;
        text-align: center;
        position: relative;

        /*background-color: $lightGray3;*/
        background-color:$white;

        .content-image {
            max-width: 100%;
            max-height: 260px;
            /*@include center-both;*/
        }
    }

    .icons-row {
        position: absolute;
        bottom: 15px;
        width: 100%;

        .sw-icon, .sw-content-icon,
        .view-article-link {
            display: inline-block;
            vertical-align: middle;
        }

        .sw-icon, .sw-content-icon {
            margin-left: 10px;
        }

        .sw-icon:first-child {
            margin-left: 5px;
        }

         .sw-content-icon:first-child {
            margin-left: 5px;
        }
    }
}

.contenthub-bookmark .content-tile-body {
    border-top: 0;
}


@media only screen and (min-width: 1024px) and (max-width: 1200px) { 
    .image-container-resource {
        height: 112.1px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) { 
    .image-container-resource {
        height: 135.99px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) { 
    .image-container-resource {
        height: 148px;
    }
}

@media only screen and (min-width: 1366px) { 
    .image-container-resource {
        height: 162.91px;
    }
}

@include respond-to('1440px'){
    .junior-content-tile-container {
         .image-container {
                height: 180px;
            .content-image{
                height: 100%;
                width: 100%;
            }
        }

        .image-container-resource {
                height: 162.91px;
            .content-image {
                height: auto;
                width: 98%;
            }
        }

        .content-tile-body .content-module .content-module-container .content-wrapper .content-one-up .img-container img{
            height: 180px;
            width: 100%;
        }
    }

    .junior-content-tile-container-horizontal {
        .image-container {   
            height: 260px;
            .content-image {
                width:100%;
                height: 100%;
            }
        }
    }

}
