.brightcoveComponent-container {
    background-color: $imagePopupGreyBackground;
    border-radius: 8px;
    border: solid 2px $geoGameBorder;   

    .brightcoveComponent-text-wrapper {
        .brightcoveComponent-title {
             @include font($fontSL5, 16px, 1.29, $black, 0.5px);
            margin-bottom: 5px;
        }

        .brightcoveComponent-desc {
            @include font($fontSL4, 14px, 1.29, $black, 0.5px);
            margin-bottom: 20px;
        }
    }
}


