.marketing-app-nav-bar-main-container {
	max-width: 1440px;

	.navbar-default {
		background-color: transparent;
		border-color: transparent;
		margin-bottom: 0;
	}

	.app-nav-primary {
		background-color: $footerBkg;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	}

	.nav-primary-items {
		padding: 0;
	}

	.menu-list {
		width: 100%;
	}

	.pop-over-menu-div {
		display: none;
	}

	.science-logo {
		width: 205px;
		padding: 18px 0 20px;

		.scholastic-logo-header {
			width: 138px;
			height: 17px;
			padding-left: 23px;
		}

		a {
			display: inline-block;
			width: 95%;
			background: url('../../../images/globalNav/science-world-nav-log.png') no-repeat center;
			background-size: 100%;
			vertical-align: middle;
			margin-top: 6px;
			margin-left: 21px;
			height: 36px;
		}
	}

	.app-nav-main-item-link {
		@include font($font09, 8px, null, $white, 0.2px);
		line-height: normal;
		text-align: left;
		padding-top: 0;
		padding-bottom: 0;
		cursor: pointer;
	}

	.dropdown {
		.app-nav-main-item-link {
			@include font($font09, 16px, null, $white, 0.5px);
			border: none;

			&:active,
			&:focus,
			&:hover {
				color: $white;
			}

			&:active {
				border: none;
			}
		}

		.delimitter,
		.magazine {
			@extend .app-nav-main-item-link;

			&:active,
			&:focus,
			&:hover {
				color: $white;
			}
			border: none;
			outline: none;
		}

		.magazine {
			@include font($font07, 7px, null, $white, 0.2px);
			line-height: normal;
			text-align: center;
		}

		&.js-dropdown-dynamic {
			padding-top: 53px;

			&:nth-child(2) {
				.app-nav-main-item-link {
					padding-left: 41.5px;
				}
			}

			&:nth-child(4) {
				.app-nav-main-item-link {
					padding-right: 32.5px;
					border-right: 1px solid $white;
				}
			}

			&:nth-child(5) {
				.app-nav-main-item-link {
					@include font($font07, 14px, null, $white, 0.5px);
				}
			}

			.app-nav-main-item-link {
				padding-left: 32.5px;
				padding-right: 0;
			}

			&.open {
				.app-nav-main-item-link {
					&:active,
					&:focus,
					&:hover {
						color: $white;
						background-color: transparent;
					}
				}
			}
		}
	}

	.cta-button-container {
		padding-top: 35px;

		.primary-button {
			@include font($font09, 20px, 1, $black);
			width: 122px;
			height: 50px;
			text-align: center;
			background-color: $marketingGlobalNavYellow;
			padding: 7px 0;
			border: none;
			margin-right: 20px;
		}

		.secondary-button {
			@include font($font07, 20px, null, $white);
			width: 89px;
			height: 50px;
			text-align: center;
			background-color: transparent;
			padding: 7px 0;
			border: solid 1px $white;
			margin-right: 25px;
		}
	}

	.app-navbar-secondary {
		background-color: $white;
		padding-left: 42px;
		border-bottom: 1px solid rgba(158,157,157, 0.5);

		.menu-list {
			height: 40px;
		}
	}

	.secondary-items {
		width: 100%;

		li {
			a {
				@include font($fontN7, 11px, 1.27, $tabBgBlue, 1.3px);
				text-transform: uppercase;
				text-align: center;
				padding-top: 14px;
				padding-right: 22.5px;
				padding-left: 22.5px;

				&:active,
				&:focus,
				&:hover {
					color: $tabBgBlue;
				}
			}
		}

		.explore {
			text-transform: capitalize;
			@include font($font09, 13px, 1.08, $globalNavExporeGray, 0.5px);
			text-align: center;
			padding: 13px 18px 13px 0;

			&:active,
			&:focus,
			&:hover {
				color: $globalNavExporeGray;
			}
		}

		.subjects {
			text-transform: capitalize;
			padding-right: 0;
		}
	}

	.loginPrompt-wrapper {
		.modal {
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
		}

		.login-dialog {
			width: 500px;

			.login-content {
				width: 500px;
				min-height: 500px;
				border-radius: 0;
				background-color: $bodyGrey;

				.login-content-wrapper {
					padding-left: 30px;
					padding-right: 30px;
				}

				a {
					text-decoration: none;
				}

				.modal-close-button {
					padding-top: 19px;

					&.close-notsubscribe-modal {
						padding-top: 12px;
						padding-bottom: 7px;
					}

					&:after {
						content: '';
						clear: both;
						display: block;
					}

					.close-button {
						opacity: 1;
						padding-right: 18px;
						position: relative;

						&:focus {
							outline: none;
						}

						span {
							&.sw-icon {
								position: relative;
								top: 4px;
							}
						}
					}
				}

				.login-header {
					border-bottom: transparent;
					padding: 0;

					.login-title {
						@include font($font09, 32px, null, null, 1px);
						color: $black1;
						text-align: center;
					}
				}

				.login-body {
					padding-top: 18px;
					padding-bottom: 30px;

					.login-wait {
						text-align: center;
						width: 300px;
						margin: auto;
						padding-top: 8px;

						p {
							@include font($font04, 16px, null, null, 0.4px);
							padding-top: 20px;
							padding-bottom: 50px;
							color: $black1;
						}

						img {
							transform: rotate(59deg);
						}
					}

					.selector-section {
						margin-top: 20px;
					}

					label {
						@include font($font04, 16px, null, null, 0.5px);
						color: $black1;
					}

					.teacher-block {
						text-align: center;

						.teacher-sec {
							padding-top: 25px;
						}
					}

					.not-subscribe-teacher-block {
						text-align: center;
						padding-left: 25px;

						.teacher-sec {
							padding-top: 25px;
						}
					}

					.student-block {
						text-align: center;
						padding-left: 30px;

						.student-sec {
							padding-top: 21px;
						}
					}

					.student-sec,
					.teacher-sec {
						position: relative;

						label {
							& > input[type="radio"] {
								visibility: hidden;
								position: absolute;

								&+ span {
									&.sw-icon {
										cursor: pointer;
										position: relative;
										top: 2px;
									}
								}

								&:checked {
									&+span {
										&.sw-icon {
											&.radio-unchecked-icon {
												background-position: -170px -334px;
											}
										}
									}
								}
							}
						}
					}

					.subscriber-sec {
						text-align: center;
						padding-top: 25px;

						&.bottom-subscribe-sec {
							padding-top: 30px;
							padding-bottom: 20px;
						}

						p {
							@include font($font04, 14px, null, null, 0.4px);
							margin-bottom: 0;
							color: $black1;
						}

						a {
							@include font($font09, 14px, null, $liteBlue2, 0.4px);
						}
					}
				}

				.border-sec-notyetsubscribe {
					padding-bottom: 30px;
					padding-top: 20px;
				}

				.border-section {
					padding-bottom: 40px;
					padding-top: 40px;
				}

				.middle-border {
					margin: 0 auto;
					width: 200px;
					border: 2px solid $lightGray1;
					border-radius: 100px;
				}

				.not-yet-login-account {
					@include font($font09, 20px, null, null, 0.6px);
					color: $black1;
					text-align: center;
					padding-bottom: 16px;
				}

				.notyet-subscriber-sec {
					&.subscribe-now {
						text-align: center;
						float: none;
						padding: 13px 0 0;

						&:after {
							content: '';
							clear: both;
							display: block;
						}
					}

					.not-yet-subscribe {
						@include font($font09, 18px, null, null, 0.6px);
						text-align: center;
						padding-bottom: 7px;
						color: $black1;
					}

					a {
						@include font($font09, 14px, 1.38, $liteBlue2, 0.4px);
					}

					.description {
						@include font($font04, 14px, 1.38, null, 0.4px);
						color: $black1;
						margin-bottom: 0;
					}

					.teachers-only {
						@include font($font04, 11px, 1.5, null, 0.3px);
						color: $black2;
					}

					.middle-border {
						width: 182px;
					}
				}
			}
		}
	}

	@include respond-to ('xssmall') {
		.navbar-default {
			.navbar-toggle {
				&:focus,
				&:hover {
					background-color: transparent;
				}
			}
		}

		.app-nav-header {
			.menu-link-block,
			.search-icon-block {
				padding-top: 6px;
			}

			.search-logo-block {
				padding-top: 3px;
				margin-bottom: 5.2px;
			}

			.search-logo-block {
				.scholastic-logo-header {
					width: 110px;
					height: 13.6px;
				}
			}

			.menu-icon-block {
				padding: 9px 0 0 35px;
				margin-right: 23px;

				.nav-header-item {
					.icon-bar {
						background: $white;
						width: 26px;
						border-radius: 0;

						+ .icon-bar {
							margin-top: 5px;
						}
					}

					&.nav-menu-icon {
						margin-top: 18px;
						margin-bottom: 0;
						border-radius: 0;
					}
				}
			}

			.profile-icon-block {
				padding-top: 7px;
				padding-right: 5px;

				.secondary-button {
					@include font($font07, 16px, null, $white);
					border: solid 2px $white;
					width: 70px;
					height: 36px;
					background: none;
					padding: 4px 0 5px;
				}
			}
		}

		.secondary-items {
			display: none;
		}

		.nav-search-form {
			margin-top: 0;

			input {
				width: 140px;
			}

			button {
				width: 70px;
			}
		}

		.magazine-logo-tablet-mobile {
			display: inline-block;
			width: 150px;
			height: 20px;
			background: url('../../../images/globalNav/science-world-nav-log.png') no-repeat center;
			background-size: 100%;
			vertical-align: middle;
		}

		.nav-header-item {
			border: none;
			margin: 10px 0;
			padding: 0;
			cursor: pointer;
		}

		.navbar-header {
			width: 100%;
		}

		.app-nav-secondary {
			display: none;
		}

		.nav-control {
			display: none;
		}

		.app-nav-header {
			.header-icon {
				cursor: pointer;
			}
		}

		.nav-search-icon {
			display: block;
		}

		.navbar-toggle {
			display: block;
		}

		.navbar-collapse {
			display: none;
		}

		#nav-primary-block {
			display: none;
		}

		.js-nav-menu {
			margin-top: 44px;

			.menu-list {
				width: 100%;
				padding-right: 20px;
				margin: 0;
				padding-left: 20px;
				min-width: 225px;
			}

			.js-dropdown,
			.js-dropdown-menu,
			.js-dropdown-submenu-menu,
			ul:first-child {
				li {
					padding: 0 10px 29px 0;

					&.dropdown {
						.app-nav-main-item-link {
							padding-left: 0;
							color: $marketingGlobalNavBlue;

							&:active,
							&:focus,
							&:hover {
								color: $marketingGlobalNavBlue;
								background: transparent;
							}
						}
					}

					a {
						@include font($font09, 16px, null, $marketingGlobalNavBlue, 0.5px);
						text-decoration: none;
						cursor: pointer;
					}

					&.dropdown {
						&:nth-child(5) {
							border-top: 1px solid $marketingBorderGrey;
							border-bottom: 1px solid $marketingBorderGrey;
							padding-top: 20px;
							padding-bottom: 21px;
						}
					}
				}
			}

			.js-dropdown-menu {
				width: 90%;
				margin-left: -30px;
				list-style-type: none;
			}

			.js-dropdown-submenu-menu {
				width: 90%;
				margin-left: -30px;
				list-style-type: none;
			}

			#secondary-items-nav {
				margin-top: 30px;
				width: 100%;

				li {
					a {
						@include font($fontN7, 11px, null, $tabBgBlue, 0.8px);
						text-align: left;
						cursor: pointer;
						padding: 0 0 27px;
					}

					&:last-child {
						a {
							border-bottom: 1px solid $marketingBorderGrey;
						}
					}
				}
			}

			.primary-button {
				@include font($font09, 16px, 1.25, $black, 1px);
				width: 82%;
				height: 40px;
				border-radius: 100px;
				background-color: $yellow;
				border: none;
				margin-left: 20px;
				margin-top: 19px;
			}
		}

		.hidden-nav {
			display: none;
		}

		.see-all-subjects {
			float: left;

			.subjects {
				padding-right: 15px;
			}
		}

		.magazine-logo-tablet-mobile {
			width: 164px;
			height: 32.8px;
			background-size: 100%;
			margin-top: 5.4px;
		}

		.js-nav-menu {
			#secondary-items-nav {
				width: 100%;

				li {
					&:nth-child(1) {
						display: none;
					}
				}
			}
		}

		.pop-over-menu-div {
			background: $white;
			position: absolute;
			left: 0;
			top: 0;
			display: block;

			.cta-button-container {
				display: none;
			}
		}
	}
}
