.marketing-magazineOptionDisplay {
    .width {
        width: 233px;
        @include respond-to('medium-and-up') {
            width: 100%;
        }
    }
    .magazine-option-display {
        background-image: radial-gradient(circle at 50% 50%, #028ce6, #004978);
        text-align: center;
        margin: 0 auto;
        padding-top: 23px;
        padding-bottom: 72px;
        .magazine {
            .title {
                p {
                    @extend .width;
                    margin: 42px auto 11px auto;
                }
                @include font($fontSE9, 28px, 1.14, $white);
            }
            .img-btn-container {
                .img-container {
                    display: block;
                    img {
                        @extend .width;
                    }
                }
                .button {
                    @extend .width;
                    @include font($fontSL5, 20px, 0.8, $black);
                    background: $yellow;
                    display: inline-block;
                    padding: 12px 0;
                    border-radius: 100px;
                    margin-top: 13px;
                }
            }
        }
    }
}

@include respond-to('medium-and-up') {
    .marketing-magazineOptionDisplay {
        .width {
            width: 100%;
        }
        .magazine-option-display {
            padding-bottom: 77px;
            .magazine {
                @include respond-to('medium-and-up') {
                    padding-right: 7px;
                    margin-right: 23px;
                    &:nth-child(5n + 1) {
                        margin-left: 5.278%;
                    }
                }
            }
        }
    }
}