.cm-migration-image-container {
    .image-popup-image-layout {
	    .image-popup-image-container {
            border: solid 2px $dynamathArticleImageBorderColor;
            background-color: $dynamathArticleImageBackgroundColor;
	        .caption-section {
	    	 	.img-popup-credits {
	    	 	 	@include font($fontU4, 10px, 1.2, $lightGrey2, 0.5px);
	    	 	 	margin-bottom: 10px;
                    text-align: left;
	    	 	 }
	    	 	 .img-popup-caption {
	    	 	 	@include font($fontP5, 14px, 1.29, $black, 0.3px);
                    margin-bottom:7px;
	    	 	 }
	    	 }
	    }
    } 
}  