.textHyperlink-container-content {

    .flexible-title-custom-background{
        padding-top: 0;
        background-color: none;
    }
    .enablePadding {
        .textHyperlink-container-wrapper {
            &.left {
                .textHyperlink-text {
                    padding: 9px 0 9px 40px;
                }
                .text-link-connector {
                    margin-left: 15px;
                    margin-right: 40px;
                }
            }
            &.right {
                .textHyperlink-text {
                    padding: 9px 40px 9px 0;
                }
                .text-link-connector {
                    margin-right: 15px;
                    margin-left: 40px;
                }
            }
            .text-link-connector {
                top: 20px;
            }            
        }    
        .textHyperlink-link {
                margin: 15px 40px 15px 0;
        }
    }
    .textHyperlink-container-wrapper {
        display: flex;        
        &.left {
            flex-direction: row;
            .textHyperlink-text {
                padding: 0 0 0 40px;
            }
            .text-link-connector {
                margin-left: 15px;
                margin-right: 40px;
                top: 12px;
            }
        }

        &.right {
            flex-direction: row-reverse;
            .textHyperlink-text {
                padding: 0 40px 0 0;
            }
            .text-link-connector {
                margin-right: 15px;
                margin-left: 40px;
                top: 12px;
            }
            
        }

        .text-link-connector {
            height: 4px;
            flex-grow: 1;
            position: relative;
            top: 12px;
            background-image: radial-gradient($black 38%, transparent 45%);
            background-image: -ms-radial-gradient($black 38%, transparent 45%);
            background-image: -moz-radial-gradient($black 38%, transparent 45%);
            background-image: -webkit-radial-gradient($black 38%, transparent 45%);
            background-size: 13px 13px;
            background-position: 0 0;
            background-repeat: repeat-x;
            padding-top: 14px;
            border: 0;
            margin-left: 15px;
            background-color: transparent;

            &.hide-ruler {
                visibility: hidden;
            }
        }
        .textHyperlink-text {
            padding:0;
            margin: 0;
            position: initial;
            @include font($fontPE4, 34px, 1, $black, 1.1px);
            p {
                margin-bottom: 0;
            }

        }
        

    }

    .textHyperlink-link {
        margin: 15px 40px 15px 0;
        @include font($fontP7, 14px, 1, $dynamathLinkBlue, 0.5px);
        text-decoration: none;
        .icon-right {
            margin-left: 10px;
            position: relative;
            top: 3px;
        }
    }
}
