.recent-issues-container {
        background-color: $white;
    .recent-issue-content-wrapper {
        .recent-issue-date {
            @include font($fontGB9, 18px, 1.17, $black);
            margin-top: 12px;
        }
    }
}
