.scholastic-main-wrapper {
	.fyre {
		margin-bottom: 20px;

		.fyre-stream-stats {
			display: none;
		}

		.fyre-user-loggedout {
			font-family: 'Lato-Bold';
		}

		.fyre-box-wrapper {
			a {
				&.fyre-user-profile-link {
					font-family: 'Lato-Bold';
				}
			}
		}

		.fyre-box-list {
			li {
				a {
					font-family: 'Lato-Regular';
				}
			}
		}

		.fyre-auth {
			margin-top: 0;
		}

		.fyre-stream-livecount {
			font-family: 'Lato-Bold';
		}

		.fyre-stream-sort {
			a {
				font-family: 'Lato-Regular';

				&:active,
				&:focus,
				&:hover {
					font-family: 'Lato-Regular';
				}

				&.fyre-stream-sort-selected {
					font-family: 'Lato-Bold';
				}
			}
		}

		a {
			&.fyre-comment-username {
				font-family: 'Lato-Bold';
			}
		}

		.fyre-comment {
			p {
				font-family: 'Lato-Regular';
			}
		}

		.fyre-comment-like-btn,
		.fyre-comment-reply {
			font-family: 'Lato-Regular';
		}

		.fyre-pending {
			font-family: 'Lato-Bold';
		}

		.fyre-comment-actions {
			a {
				&.fyre-delete-link,
				&.fyre-share-link {
					font-family: 'Lato-Regular';
				}
			}
		}

		.fyre-comment-wrapper {
			time {
				&.fyre-comment-date {
					font-family: 'Lato-Regular';
				}
			}
		}

		.fyre-editor {
			margin-top: 0;

			.fyre-editor-container {
				.fyre-editor-editable {
					&.editable {
						background-color: $white;
						border: 1px solid $commentInputBorder;
						border-radius: 0;
						box-shadow: none;
						font-family: 'Lato-Regular';
					}
				}
			}

			.fyre-editor-toolbar {
				.goog-toolbar {
					& > div {
						font-family: 'Lato-Regular';
						border-bottom-color: $commentInputBorder;
						border-right-color: $commentInputBorder;
						border-left-color: $commentInputBorder;

						&.goog-toolbar-separator {
							border-bottom-color: $commentInputBorder;
						}

						&.fyre-button-left {
							&:nth-child(2) {
								border-bottom-color: $commentInputBorder;
								border-left-color: $commentInputBorder;
								border-radius: 0;
							}

							.fyre-button-left-outer-box {
								.fyre-button-left-inner-box {
									text-shadow: none;
								}
							}
						}

						&.fyre-button-right {
							&.fyre-post-button {
								font-family: 'Lato-Bold';

								.fyre-button-right-outer-box {
									.fyre-button-right-inner-box {
										text-shadow: none;
									}
								}
							}

							&:last-child {
								border-right-color: $commentInputBorder;
								border-radius: 0;
							}
						}
					}
				}

				.fyre-share-container {
					& > span {
						& > a {
							font-family: 'Lato-Regular';

							&:active,
							&:focus,
							&:hover {
								font-family: 'Lato-Regular';
							}
						}
					}
				}
			}
		}
	}
}
