.article-sidebar-component-wrapper {
    .article-sidebar-content-wrapper {
        .image-wrapper {
            .image-credit {
                font-family: "Lato-Regular";
            }
        }

        .article-section-content {
            .article-section-title {
                font-family: "Signika-Bold";
            }

            .article-section-text {
                font-family: "Lato-Regular";
            }
        }

        &.top {
            .article-section-title {
                font-family: "Signika-Bold";
            }

            .image-wrapper {
                .image-icon-container {
                    .image-credit {
                        font-family: "Lato-Regular";
                    }
                }

                .article-section-content {
                    .article-section-text {
                        font-family: "Lato-Regular";
                    }
                }
            }
        }

        &.bottom {
            .article-section-title {
                font-family: "Signika-Bold";
            }

            .image-wrapper {

                .image-credit {
                    font-family: "Lato-Regular";
                }
            }

            .article-section-content {
                .article-section-text {
                    font-family: "Lato-Regular";
                }
            }
        }
    }
}