.buttonContainerFullWidthSubscription {
    width: 185px;
    float: right;
    margin-top: 20px;

    .btn {
        @include font($font07, 16px, 1.18, $white, 0.8px);
        text-align: center;
        cursor: pointer;
        width: 100%;
        padding: 15px 0;
        text-transform: uppercase;
        background-color: $marketingSubscriptionOrangeColor;
        min-width: auto;
        border-radius: 100px;
        height: 50px;

        &:focus {
            outline: none;
        }
    }
}

@include respond-to ('xssmall') {
    .buttonContainerFullWidthSubscription {
        width: 335px;
        margin: 19px 20px 0;
    }
}
