.content-module {
    .content-module-container {
        &.game-container-bg {
            border-radius: 8px;
            border: 2px solid $imagePopupBorderGrey;
        }
        
        .content-wrapper {
            background-color: $snGlobalNavExploreColor;
            border-radius: 8px;
            
            img {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
            
            .rteContent {
                @include font($fontSL9, 16px, 1.5, $black, 0.5px);
            }
            
            div[ng-bind-html=containerGameDesc] {
                @include font($fontSL4, 14px, 1.29, $black, 0.5px);
                padding-bottom: 18px;
            }
        }
    }
}