.issueHigh-wrapper {
    background-color: $white;

    .issueHigh-content {
        padding: 29px 0 42px;

        .issue-highlighting-img {
            padding-left: 40px;

            .issue-highlight-img-bg {
                border: 1px solid $dimLiteGray;
                padding: 26px 14px 5px;
                position: relative;
                height: 378px;
                background: url('../../../images/lines-grey.png') repeat;
                background-color: $white;

                .issue-img-center {
                    .issue-high-img-class {
                        margin: auto;
                    }

                    img {
                        max-width: 100%;
                        max-height: 314px;
                        margin: 0 auto;
                        box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.3);
                    }
                }
            }

            .issue-mag-view-container {
                width: 91%;
                position: absolute;
                bottom: -17px;
                text-align: center;

                .issue-mag-view {
                    background-color: $yellow;
                    @include font($font09, 13px, 1.54, $black, 1px);
                    text-align: center;
                    text-transform: uppercase;
                    border-radius: 100px;
                    padding: 7px 0 8px;
                    border: 0;
                    margin: 0 auto;
                    min-height: 35px;
                    width: 85%;
                }
            }
        }

        .issue-tile-wrapper {
            .issue-high-des-sec-tiles {
                margin-bottom: 22px;
                padding-right: 20px;
                padding-left: 0;
                height: 178px;

                .des-sec-tiles-boxshadow {
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
                    background-color: $white;
                    height: 100%;

                    .issueHigh-titles {
                        background-color: $tabBgGrey;
                        border-bottom: 3px solid $yellow;
                        margin: 0;
                        max-height: 46px;

                        a {
                            @include font($font07, 16px, 1.13, $black, 0.5px);
                            max-height: 46px;
                            display: block;
                            padding: 11px 18px 10px;

                            &:active,
                            &:focus,
                            &:hover {
                                text-decoration: none;
                            }
                        }

                        span {
                            @include font($font3,15px,18px);
                            line-height: 18px;
                            color: $black;
                        }
                    }

                    .key-asset-content {
                        padding: 17px 18px 7px;

                        .key-asset-desc {
                            @include font($font04, 16px, 1.5, $black, 0.5px);
                            margin-bottom: 21px;

                            &.tile-desc {
                                max-height: 48px;
                                height: 48px;

                                p {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }

                        .social-icons {
                            width: 100%;
                            min-height: 32px;
                        }
                    }
                }
            }
        }

        .sw-icon {
            background-repeat: no-repeat;
            display: inline-block;
        }

        .issueHigh-text {
            margin: 0 35px 0 0;

            p {
                &.text-date {
                    margin-bottom: 0;
                }
            }

            .text-date {
                @include font($fontN5, 28px, 1.14, $black, 1px);
                /*border-bottom: 2px solid $bluishGreen2;*/
                padding-bottom: 15px;
            }

            .arrow-right-next-icon {
                background-image: url("../../../images/icons/icon-arrow-right.png");
                background-repeat: no-repeat;
                width: 8px;
                height: 12px;
                display: inline-block;
                vertical-align: bottom;
                margin-left: 6px;
            }

            a {
                text-decoration: none;
            }
        }

        .text-desc {
            margin: 0 0 27px 40px;

            .text-desc-bold {
                @include font($font07, 18px, 1.44, $black, 0.9px);
            }

            .text-desc-normal {
                @include font($font04, 18px, 1.44, $black, 0.9px);
            }
        }

        .issue-high-desc {
            @include font($font04, 16px, 1.38, $black, 0.5px);
            margin-top: 14px;
            margin-bottom: 15px;
        }

        .social-icons {
            &.text-desc-social-icons {
                text-align: right;
                margin-top: -7px;

                a {
                    vertical-align: bottom;
                }

                .sw-icon {
                    &.download-icon {
                        float: none;
                        vertical-align: bottom;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &.upload-icon {
                        vertical-align: bottom;
                    }
                }
            }

            .sw-icon {
                margin-right: 10px;
                display: inline-block;

                &.download-icon {
                    float: left;
                }
            }
        }

        .issueHigh-hash-content {
            background: url('../../../images/lines-grey.png') repeat;
            min-height: 74px;
            display: block;
        }

        .issueHigh-text {
            background: $white;
            position: relative;
            height: 47px;

            .text-date {
                @include font($fontN5, 28px, 1.14, $black, 1px);
                display: inline-block;
                background: $white;
                padding: 32px 43px 15px 40px;
                margin: 0;
                position: absolute;
                bottom: 0;
            }
        }
    }
}

@include respond-to ('xssmall') {
    .issueHigh-wrapper {
        .issueHigh-content {
            .social-icons {
                display: inline-block;
            }

            .sw-icon {
                &.print-icon {
                    margin-left: 0;
                }
            }

            .issue-highlighting-img {
                padding-left: 35px;
                padding-right: 20px;
                margin: 0 auto 20px;

                .issue-highlight-img-bg {
                    border: 1px solid $dimLiteGray;
                }
            }

            .issue-tile-wrapper {
                padding-left: 34px;
                padding-right: 20px;

                .issueHigh-des-sec-tiles {
                    .des-sec-tiles-boxshadow {
                        .issueHigh-titles {
                            font-size: 16px;
                            margin-bottom: 15px;
                        }
                    }
                }
            }

            .issueHigh-text {
                .key-asset-desc {
                    font-size: 20px;
                }

                .text-date {
                    font-size: 25px;
                }
            }
        }
    }
}

@include respond-to ('xsmall-max-and-up') {
    .issueHigh-wrapper {
        .issueHigh-content {
            .issue-highlighting-img {
                margin-bottom: 20px;
            }
        }
    }
}

@include respond-to ('small') {
    .issueHigh-wrapper {
        .issueHigh-content {
            .issue-tile-wrapper {
                .issue-high-des-sec-tiles {
                    .des-sec-tiles-boxshadow {
                        .issueHigh-titles {
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            .issue-highlighting-img {
                padding-left: 35px;
                padding-right: 20px;
                margin-bottom: 0;

                img {
                    height: auto;
                }
            }
        }
    }
}
