.article-hero-caption-container {
    .article-hero-caption-wrapper {
        .article-hero-caption-title {
            @include font($fontSL4, 10px, 1.2, $lightGrey2, 0.5px);
        }
        .article-hero-caption-des {
            @include font($fontSL4, 12px, 1.17, $black, 0.5px);
        }
    }
}




