.textHyperlink-container-content {
    margin-top:7px;
    .textHyperlink-container-wrapper {
        .text-link-connector{
            background-color: #fff; 
            background-image: radial-gradient($dynamathDotColor 38%, transparent 45%);
            margin-right:49px;
            margin-left:8px;
            background-size: 13px 13px;
            background-position: 0 0;
            background-repeat: repeat-x;
            padding-top: 14px;
            flex-grow: 1;
            top: 23px;
            position: relative;
        }
        .textHyperlink-text{
            padding-right:10px;
        }
    }
}


.search-resources-main-container {
    .search-main-content {
        .main-title{
            display:flex;
            .title-container {
                @include font($fontPE4, 34px, 1, $black, 1px);
                margin-left: 40px;
                margin-top:6px;
            }

            .title-count {
                @include font($fontPE4, 22px, 1.64, $black, 0.7px);
                margin-left: 8px;
                position:relative;
                top:7px;
            }
            .dot-block {
                background-color: #fff; 
                background-image: radial-gradient($dynamathDotColor 38%, transparent 45%);
                margin-right:49px;
                margin-left:8px;
                background-size: 13px 13px;
                background-position: 0 0;
                background-repeat: repeat-x;
                padding-top: 14px;
                flex-grow: 1;
                top: 20px;
                position: relative;
            }
        }
        .articles-resources-issues-container {
            margin-top: 35px;

            .articles-resources-issues-tabs {
                margin-bottom:35px;
                ul{
                     border-bottom:4px solid $tabComponentActiveColor;
                     li.active { 
                        background-color: $tabComponentActiveColor;	     	
			     		&:before,&:after,&:focus,&:hover{
			     			background-color: $tabComponentActiveColor;
			     		}
                        &:before{
                                border-top-left-radius: 8px;
                        }
                        &:after{
                            border-top-right-radius: 8px;
                        }
                        a {
                            @include font($fontP7, 14px, 1, $white, 1px);
                            margin: 0;
                            padding: 23px 0 17px 0;
                        }	     

                    }
                    li{
                        background-color:$tabComponentInActiveStateColor;
                        width:49.93%;
                        float:left;
                        &:before,&:after,&:focus,&:hover{
                            background-color: $tabComponentInActiveStateColor;
                        }
                        &:before{
                            border-top-left-radius: 8px;
                         }
                        &:after{
                            border-top-right-radius: 8px;
                        }
                        &:nth-child(2) {
                            float:right;
                       }
                        a{
                            @include font($fontP7, 14px, 1, $inActiveStateFontColor, 1px);
                            margin: 0;
                            padding: 23px 0 17px 0;
                        }

                    }
			     }
            }

            .tab-content {
                clear: both;
                padding-top: 0px;
                .tab-pane {
                    .search-resources-section {
                        padding-left: 14.83px;
                        padding-right: 30px;
                    }
                    .filter-section-container {
                        .search-facets {
                            margin-left: 11.50%;
                        }
                        .filter-category-section {
                            &.filter-reset-section {
                                padding-top: 5px;
                                padding-bottom: 3px;
                                border-bottom: 1px solid $liteAsh2;

                                .filter-category-items-container {
                                    ul {
                                        .filter-category-item {
                                            &:last-child {
                                                margin-bottom: 25px;
                                            }
                                        }
                                    }

                                    .filter-category-item {
                                        @include font($fontP7, 13px, 1.08, null, 0.5px);
                                        color: $dynamathFilterCategoryItemColor;
                                        cursor: pointer;
                                        position: relative;
                                        margin-top: 14px;
                                        margin-bottom: 25px;
                                    }
                                }
                            }

                            &.filter-bookmark-section {
                                padding-top: 16px;
                            }

                            .filter-category-heading {
                                @include font($fontP7, 13px, 1, $black, 0.9px);
                                margin-bottom: 15px;
                            }

                            .filter-category-items-container {
                                ul {
                                    margin-bottom: 0;

                                    .filter-category-item {
                                        @include font($fontP7, 13px, 1.08, null, 0.5px);
                                        color: $dynamathFilterCategoryItemColor;
                                        cursor: pointer;
                                        width: 100%;
                                        position: relative;
                                        margin: 0 auto 20px;

                                        .sw-icon {
                                            position: relative;
                                            top: -1px;
                                        }

                                        &:last-child {
                                            margin-bottom: 18px;
                                        }
                                        label {
                                            width: 100%;
                                            margin-bottom: 0;
                                            position: relative;
                                            @include font($fontP5, 12px, 1.08, $black, 0.5px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .pagination-directive-wrapper{
                        margin-top:4px;
                        .paginationBottom{
                            margin-bottom:30px;
                        }
                    }
                }
                 .search-zero-results-container {
                    .title {
                        font-family: 'ProximaNova-Medium';
                    }
                    .try-another-keyword {
                        font-family: 'ProximaNova-Medium';
                    }
                    .search-guidlines{
                         .search-tips{
                            font-family: 'ProximaNova-Bold';
                         }
                         .steps-for-search{
                            font-family: 'ProximaNova-Regular';
                         }
                    }
                }
            }
        }

        .search-resources-content {
            .sort-by-wrapper {
                height: 13px;
                margin-bottom: 27px;
                .sort-by-text {
                    @include font($fontP7, 13px, 1, $black, 0.5px);
                    padding-left: 9px;
                }

                .sort-by-category {
                    a {
                        @include font($fontP5, 13px, 1, null, 0.5px);
                        color: $dynamathSortByCategoryItemColor;
                    }

                    &.active-sort {
                        a {
                            @include font($fontP7, 13px, 1, $black, 0.5px);
                        }
                    }
                }
            }
        }
    }
}
