.online-resources {
    padding-bottom: 50.7px;

    .online-resources-head {
        @include font($fontPE4, 35px, 1.14, $marketingGrey);
    }

    .marketing-video-game-container {
        border: none;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQoU2N8/fXXfwYiACNIoSg3GyMhtaMK8YYQ0cEDAKC2J+Tc/Pr7AAAAAElFTkSuQmCC") repeat;
        border-radius: 8px;
        border: 1px solid $dynamathLightGrey;
        background-size: 3.8%;

        .marketing-video-container {
            padding: 0 37px;
            margin-top: -15px;

            .marketing-video-container-title {
                margin-bottom: 16px;

                span {
                    @include font($fontPE4, 24px, 1.21, $dynamathThickBlue);
                    display: inline-block;
                    padding: 0;
                    background: transparent;

                    p {
                        margin-bottom: 0;
                    }
                }
            }

            .marketing-content-tile-container {
                .content-tile-body {
                    height: auto;

                    .game-video-wrapper {
                        .image-container {
                            background: transparent;
                            max-width: 100%;
                            text-align: center;
                        }
                    }
                }

                .image-container {
                    .content-image {
                        max-height: 206px;
                        position: relative;
                        top: 0;
                        left: 0;
                        transform: translate(0);
                    }
                }
            }
        }

        .marketing-game-container {
            padding: 19px 37px 30px;

            .marketing-game-container-title {
                margin-bottom: 0;

                span {
                    @include font($fontPE4, 24px, 1.21, $dynamathThickBlue);
                    display: inline-block;

                    p {
                        margin-bottom: 12px;
                    }
                }
            }

            .game-top-controls {
                .game-top-controls-content {
                    background: url("../../.././../images/CM-Marketing/marketing-contenttiles-game-top.png") no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .online-resources {
        padding-top: 44px;
        padding-bottom: 43.2px;

        .online-resources-head {
            @include font($fontPE4, 30px, 1, $marketingGrey);
            margin-bottom: 19px;
            padding: 0 20px;
        }

        .online-resources-head-image {
            padding-left: 0;
        }

        .online-resources-description {
            @include font($fontP5, 20px, 1.4, $marketingGrey);
            display: block;
            text-align: center;
            padding: 0 20px;

            p {
                margin-bottom: 19px;

                .online-resources-description-1 {
                    @include font($fontP7, 24px, 1.17, $black);
                    margin-bottom: 13px;
                    display: inline-block;
                }
            }
        }

        .marketing-video-game-container {
            margin-top: 44px;

            .marketing-video-container {
                padding: 0 30.7px;

                .marketing-content-tile-container {
                    max-width: 269.5px;

                    .content-tile-body {
                        height: 170.8px;
                    }

                    .image-container {
                        max-width: 269.5px;

                        .content-image {
                            max-height: 170.8px;
                        }
                    }
                }

                .marketing-video-container-title {
                    margin-bottom: 6.4px;

                    span {
                        p {
                            margin: 0;
                        }
                    }
                }
            }

            .marketing-game-container {
                padding: 15.8px 30.7px 24.9px;

                .marketing-content-tile-container {
                    max-width: 268.7px;

                    .content-tile-body {
                        .content-module {
                            .content-module-container {
                                &.game-container-bg {
                                    max-height: 199px;
                                }

                                .content-wrapper {
                                    .content-one-up {
                                        .img-container {
                                            max-height: 199px;
                                            margin-bottom: 0;

                                            img {
                                                max-height: 199px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .image-container {
                        max-width: 269.5px;
                    }
                }

                .marketing-game-container-title {
                    margin-bottom: 2px;

                    span {
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
