.article-Obj-skills-pad-container {
    .article-learnObj-keyskills-container {
        .learnKey-single-sec-wrapper {
            padding-top: 23px;
            padding-bottom: 13px;
            &:last-child {
                padding-bottom: 30px;
            }
            .learnKey-section-title {
                @include font($fontP9, 20px, 1.05, $black, 1px);
                margin-bottom: 3px;
            }
            .learnKey-section-content {
                @include font($fontP4, 13px, 1.62, $black, 0.5px);
            }
        }
    }
}

@media only screen and (min-width: $screen-md-min) {
    .article-Obj-skills-pad-container {
        margin-bottom: 38px;
        margin-top: 35px;
    }
}