.buttonContainerFullWidth {
  width: 100%;
  .btn {
    @include font($font09, 26px, 0.77, $black, 2px);
    text-align: center;
    cursor: pointer;
    width: 100%;
    background-color: $yellow;
    padding: 24px 0;
    text-transform: uppercase;
  }
}
