<div data-sly-test.placeholder="${!wcmmode.disabled}">Page - Contact
	Component</div>
<div class="contact-us-layout container-fluid" ng-controller="contactUsController">


<div class="contact-us-wrapper">
	<div class="contact-us-container row">
		<div class="col-md-10 col-md-offset-2 contactus-right-container">
			<div class="row">
				<div class="col-md-11 contact-info">
					<div class="contact-info-bar">
						<ul>
							<li>
								<p>Subscribers:</p>
								<div class="contact-detail-text">
									<span class="sw-icon phone-icon"></span>${properties.vanityNumber}
									<span class="info-text">${properties.tollFreeNumber}</span>
								</div>
							</li>
							<li>
								<p>To Place An Order:</p>
								<div class="contact-detail-text">
									<span class="sw-icon phone-icon"></span>${properties.orderNumber}
								</div>
							</li>
							<li>
								<p>Email:</p>
								<div class="contact-detail-text email-text">${properties.email}</div>
							</li>
							<li>
								<p>Fax:</p>
								<div class="contact-detail-text">${properties.fax}</div>
							</li>
						</ul>
					</div>
					<div class="contact-info-text">${properties.introText @ context='html'}</div>
					<div data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=properties.thankYouPage}" data-sly-unwrap>
                		<input type="hidden" name="currentPagePath" ng-model="pageDirectPath" ng-init="pageDirectPath = '${globalLink.formattedUrl}'">
            		</div>      
					<div class="alert alert-danger row" role="alert" ng-show="isError">
						Server Error Occured. Please try again!
					</div>
				</div>


			</div>

                

			<div>
				<div
					data-sly-resource="${'form' @ resourceType='scholastic/classroom-magazines-migration/components/content/contact-us-form'}"></div>
			</div>

		</div>
<!-- 		<div ng-class="{'showSpinner':isContactSpinnerShow}" ng-show="isContactSpinnerShow" class="spinnercontainer">
            <img src="/etc/designs/scholastic/classroom-magazines-migration/images/icons/spinner.gif">
        </div> -->
	</div>
</div>
</div>

