.globalFooter-main-container{
    .globalFooter-content{
            background-color: $tabBgBlue;
        .globalFooter-bottom{
            .links{
                a{
                     @include font($font07, 10px, null, $contentTileSubjectBlue, 0.3px);  
                     line-height: normal;
                }
            }
        }
        .footerContentWrapper{
            .footer-socialIcons{
                span{
                    margin-right: 15px;
                }
            }
            .footerlinks{
                p{
                    margin-top: 4px;
                }
                a{
                    @include font($font7, 12px, 2.08, $white, normal);
                }
            }
            .footerTitle{
                margin-bottom: 5px;
                @include font($font8, 15px, 1, $white, normal);
            }
            .footerPhoneNo{
                .phonelink{
                    @include font($font8, 13px, 2.31, $white, 0.4px);
                }
            }
        }
    }
}
