.globalFooter-main-container {
    .globalFooter-content {
        background-color: $mathGlobalFooterBg;

        .row {
            padding-bottom: 43px;
        }

        .footerContentWrapper {
            .footerTitle {
                border-bottom: 1px solid $mathFooterTitleBorder;
                @include font($fontC7, 15px, 1, $white, normal);
                padding-bottom: 6px;
            }

            .footerPhoneNo {
                margin-top: 5px;

                .phonelink {
                    @include font($fontB7, 13px, 2.31, $white, 0.4px);
                }
            }

            .footerlinks {
                a {
                    @include font($fontB7, 13px, 2, $white, normal);
                }

                p {
                    margin-top: 0;

                    &:first-child {
                        margin-top: 6px;
                    }
                }

                &.phoneNumber {
                    p {
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        .globalFooter-bottom {
            background-color: $mathFooterGreyBg;

            .links {
                a {
                    @include font($fontB7, 10px, null, $mathFooterBottomTextBlue, 0.3px);
                    line-height: normal;
                }
            }

            .keep-right {
                margin-top: 10px;
            }

            .desc {
                @include font($fontB4, 10px, 1.4, $mathFooterTextGrey, 0.3px);
            }

            .scholastic-logo {
                margin-bottom: 8.1px;
            }
        }
    }
}
