.sw-icon {
    background: url('/etc/designs/scholastic/classroom-magazines-migration/action/clientlibs/action-core/styles/core/icons/Icons-Action.png') no-repeat;
    display: inline-block;
    &.search-icon {
        background-position: -169px -19px;
        width: 40px;
        height: 40px;
    }
    &.hamburger-menu {
        background-position: -349px -191px;
        width: 31px;
        height: 39px;
    }
    &.facebook-icon {
        background-position: -109px -19px;
        width: 32px;
        height: 32px;
    }
    &.pinterest-icon {
        background-position: -109px -139px;
        width: 32px;
        height: 32px;
    }
    &.twitter-icon {
        background-position: -109px -79px;
        width: 33px;
        height: 32px;
    }
    &.person-icon {
        background-position: -169px -85px;
        width: 40px;
        height: 40px;
    }
    &.refresh-icon {
        background-position: -109px -307px;
        width: 18px;
        height: 18px;
    }
    &.page-info {
        background-position: -289px -19px;
        width: 34px;
        height: 34px;
    }
    &.down-arrow {
        background-position: -19px -139px;
        width: 14px;
        height: 9px;
    }
    &.down-black-arrow {
        background-position: -19px -254px;
        width: 14px;
        height: 10px;
    }
    &.down-white-arrow {
        background-position: -19px -254px;
        width: 14px;
        height: 10px;
    }
    &.left-arrow {
        background-position: -19px -176px;
        width: 9px;
        height: 14px;
    }
    &.right-arrow {
        background-position: -19px -97px;
        width: 9px;
        height: 14px;
    }
    &.left-grey-arrow {
        background-position: -59px -203px;
        width: 12px;
        height: 20px;
    }
    &.right-grey-arrow {
        background-position: -59px -252px;
        width: 12px;
        height: 20px;
    }
    &.down-full-arrow {
        background-position: -19px -18px;
        width: 10px;
        height: 10px;
    }
    &.left-arrow-icon {
        background-position: -108px -198px;
        width: 28px;
        height: 28px;
    }
    &.right-arrow-icon {
        background-position: -108px -253px;
        width: 28px;
        height: 28px;
    }
    &.grey-close-btn {
        background-position: -59px -300px;
        width: 15px;
        height: 16px;
    }
    &.blue-close-btn {
        background-position: -20px -58px;
        width: 10px;
        height: 11px;
    }
        &.checkbox-unchecked {
        background-position: -59px -19px;
        width: 18px;
        height: 18px;
    }
    &.checkbox-checked {
        background-position: -59px -64px;
        width: 18px;
        height: 20px;
    }
    &.checkbox-checked-disabled {
        background-position: -59px -110px;
        width: 18px;
        height: 20px;
    }
    &.bookmark-icon {
        background-position: -229px -204px;
        width: 36px;
        height: 36px;
    }
    &.bookmarked-icon {
        background-position: -229px -267px;
        width: 34px;
        height: 34px;
    }
    &.download-icon {
        background-position: -289px -81px;
        width: 34px;
        height: 34px;
    }
    &.downloaded-icon {
        background-position: -59px -157px;
        width: 19px;
        height: 18px;
    }
    &.print-icon {
        background-position: -289px -205px;
        width: 34px;
        height: 34px;
    }
    &.upload-icon {
        background-position: -289px -143px;
        width: 34px;
        height: 34px;
    }
    &.expand-icon {
        background-position: -229px -19px;
        width: 38px;
        height: 38px;
    }
        &.stack-window-icon {
        background-position: -229px -143px;
        width: 38px;
        height: 38px;
    }
        &.plus-icon {
        background-position: -169px -151px;
        width: 25px;
        height: 26px;
    }
        &.yellow-page-icon {
        background-position: -168px -198px;
        width: 52px;
        height: 52px;
    }
        &.papers-stack-icon {
        background-position: -289px -267px;
        width: 34px;
        height: 34px;
    }
        &.page-edit-icon {
        background-position: -169px -275px;
        width: 26px;
        height: 26px;
    }
        &.sound-icon {
        background-position: -349px -84px;
        width: 26px;
        height: 19px;
    }
        &.sound-small-icon {
        background-position: -229px -652px;
        width: 24px;
        height: 18px;
    }
        &.page-arrow-icon {
        background-position: -349px -19px;
        width: 34px;
        height: 34px;
    }
        &.two-page-icon {
        background-position: -229px -81px;
        width: 34px;
        height: 34px;
    }
        &.close-icon {
        background-position: -348px -259px;
        width: 47px;
        height: 47px;
    }
        &.close-big-icon {
        background-position: -347px -141px;
        width: 24px;
        height: 24px;
    }
        &.phone-icon {
        background-position: -21px -292px;
        width: 12px;
        height: 15px;
    }
        &.video-icon {
        background-position: -19px -351px;
        width: 72px;
        height: 73px;
    }
        &.login-teacher-icon {
        background-position: -19px -451px;
        width: 75px;
        height: 69px;
    }
        &.login-student-icon {
        background-position: -19px -549px;
        width: 92px;
        height: 69px;
    }
        &.cta-btn-yellow {
        background-position: -19px -662px;
        width: 182px;
        height: 43px;
    }
        &.bulb-icon {
            background-position: -109px -404px;
            width: 27px;
            height: 44px;
    }
        &.radio-unchecked-icon {
        background-position: -169px -376px;
        width: 18px;
        height: 19px;
    }
        &.radio-checked-icon {
        background-position: -169px -333px;
        width: 18px;
        height: 19px;
    }
        &.radio-unchecked-big-icon {
        background-position: -289px -383px;
        width: 24px;
        height: 24px;
    }
        &.radio-checked-big-icon {
        background-position: -289px -334px;
        width: 24px;
        height: 24px;
    }
        &.checkbox-checked-big-icon {
        background-position: -289px -437px;
        width: 38px;
        height: 38px;
    }
        &.checkbox-unchecked-big-icon {
        background-position: -289px -502px;
        width: 38px;
        height: 39px;
    }
        &.cta-btn-grey {
        background-position: -19px -732px;
        width: 182px;
        height: 43px;
    }
        &.copy-link-btn {
        background-position: -228px -703px;
        width: 123px;
        height: 29px;
    }
    &.number-one-icon {
        background-position: -228px -376px;
        width: 40px;
        height: 39px;
    }
    &.number-two-icon {
        background-position: -228px -438px;
        width: 40px;
        height: 39px;
    }
    &.number-three-icon {
        background-position: -228px -500px;
        width: 40px;
        height: 39px;
    }
    &.medium-size-blue-down-full-arrow {
        background-position: -169px -475px;
        width: 10px;
        height: 8px;
    }
    &.dropdown-arrow {
        background-position: -168px -513px;
        width: 8px;
        height: 15px;
    }
    &.large-size-blue-down-full-arrow {
        background-position: -169px -623px;
        width: 12px;
        height: 12px;
    }
    &.grey-up-full-arrow {
        background-position: -169px -552px;
        width: 9px;
        height: 8px;
    }
    &.user-dropdown-blue-arrow {
        background-position: -229px -574px;
        width: 13px;
        height: 9px;
    }
    &.black-up-full-arrow {
        background-position: -169px -587px;
        width: 10px;
        height: 9px;
    }
    &.user-dropdown-white-arrow {
        background-position: -109px -365px;
        width: 13px;
        height: 10px;
    }
    &.settings-icon {
        background-position: -349px -330px;
        width: 20px;
        height: 20px;
    }
    &.dashboard-icon {
        background-position: -349px -378px;
        width: 21px;
        height: 17px;
    }
    &.expand-artResources-button-yellow {
        background-position: -19px -803px;
        width: 353px;
        height: 38px;
    }
    &.two-page-big-icon {
        background-position: -169px -418px;
        width: 38px;
        height: 30px;
    }
    &.phone-liteblue-icon {
        background-position: -230px -334px;
        width: 14px;
        height: 15px;
    }
     &.white-crossMark-icon {
        background-position: -349px -259px;
        width: 47px;
        height: 47px;
    }
    &.chat-icon {
        background-position: -289px -663px;
        width: 17px;
        height: 17px;
    }
     &.double-arrows-blueRounded-icon {
        background-position: -289px -560px;
        width: 78px;
        height: 78px;
    }
     &.scholasctic-icon {
        background-position: -229px -753px;
        width: 139px;
        height: 19px;
    }
    
}