[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
html {
  font-size: 100%;
}

.acs-commons-resp-colctrl-col {
    padding: 0 !important;
    margin: 0 !important;
}

body{
    background-color: $bodyGrey;
}

.nomarL{
    margin-left:0;
}
.nopadL{
    padding-left:0;
}
.nomarLR{
    margin-left:0;
    margin-right:0;
}
.nopadLR{
    padding-left:0;
    padding-right:0;
}
.wordBreak{
    word-wrap:break-word;
}
.pad30{
    padding-left:30px;
    padding-right:30px;
}
.pad10{
    padding-left:10px;
    padding-right:10px;
}

.mar20{
    margin-bottom: 20px;
}

.pad0{
    padding-left:0;
    padding-right:0;
}
.nopadR{
    padding-right:0;
}

.spinnercontainer {
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.3;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
        text-align: center;
    }
    &.in{
        display: block;
    }
}

.scholastic-main-wrapper{
    min-height:600px;
    max-width: 1280px;
    margin: auto;
}

.textCenter{
text-align:center;
}

@-ms-viewport{
    width: auto;
}
