/* -----------------------------------------------

CONSTANTS
  - colors
  - fonts
  - breakpoints
 ----------------------------------------------- */

/* block to declare colors*/
$liteBlue:#0099ff !default;  //liteblue
$navyBlue:#0000FF !default;  //navyblue
$linkBlue:#3333FF !default;
$liteGray:#999999 !default;
$lightgray: lightgray !default;
$dimLiteGray:#efefef !default;
$videoLiteGray: #cdd3d5;
$gray:#333333 !default;   // Gray
$skyBlue:#28aedd !default;   // Skyblue
$orange:#fb5e00 !default;   // Orange
$blue:#015ddb !default;   // Blue
$violet:#ab1763 !default;   // Violet
$white:#ffffff !default;   // white
$liteBlue3:#0000FF !default;   // lightblue
$liteAsh1:#ddd !default;      // lightAsh
$liteAsh2:#d8d8d8 !default;   // lightAsh
$liteAsh3:#e3e3e3 !default;  // lightAsh
$liteAsh4:#f4f4f4 !default;  // lightAsh
$liteAsh7:#504c51 !default;  // lightAsh
$liteAsh6:#444444 !default;  // lightAsh
$liteAsh8:#47585f !default;  // lightAsh
$liteAsh9:#cdd3d5 !default;  // lightAsh
$liteAsh10:#eff1f4 !default; // lightAsh
$litePink:#dbbde5 !default;
$liteGreen:#b5efce !default;
$bluishGreen:#ace6e8 !default;
$globalNavBlue:#00487c !default;
$searchBoxGray: rgba(255, 255, 255, 0.8) !default;
$searchButtonGreen: #5ac695 !default;
$globalNavBorderGrayColor: #d5d1d3 !default;
$globalNavExporeGray: #7c7c7c !default;
$globalNavPopoverGray: #F2F2F2 !default;
$bluishGreen2: #68d2db !default;
$darkRed: #ea2128 !default;
$lightBlack: #191919 !default;
$black1: rgba(0, 0, 0, 0.9);
$black2: rgba(0, 0, 0, 0.6);
$lightGray1:#d5dee4;
$tabBgGrey: #e2e4e7 !default;
$tabBgBlue: #00aeef !default;
$tabBgGreyText: #818387 !default;
$globinpPlaceholdText: #00171f !default;
$formInputGrey: #f0f2f5 !default;
$errorFieldTextColor: #d60000 !default;
$loginMenuBorder: #cfd0d2 !default;

/* text colors */
$black:#000000 !default;   // Black
$liteBlue2:#2c7aec !default; //liteblue
$textLinkBlue: #00C3DE !default;
$liteAsh5:#0c3d6c !default;
$darkGray:#666666 !default;
$bodyGrey: #f9fafb !default;
$liteGray2:#5a5a5a !default;
$breadGray: #555555 !default;
$zindex-popover-gloablnav: 10;
$liteBlue4:#0db6d6;
$deepRed: #fe424d !default;
$ashGrey: #95a0a9 !default;
$liteBlue5: #eff4fb !default;
$mediumGrey: #aaa !default;
$linkblue: #06447f !default;
$dimGreen: #68d2db !default;
$bkgGrey:#ecedee !default;
$skillSheetTileNewBg: #3498db !default;
$issueTileBgBlue: #eff5fc !default;
$issueGridButtonFontColor: #174877 !default;
$lightGrey2: #606162 !default;
$yellow: #fff200 !default;
$footerBkg:#0071bc !default;
$lightGray3: #f2f2f3 !default;
$contentHubHeaderBorder: #d8dee0 !default;
$darkNavyBlue:#0054a6 !default;  //DarkNayblue
$titleHyperlinkColor:#00a6fb !default; //blue
$resourcesColor:#00a99d !default; //green
$emailEditorFieldBackground: #f0f2f5 !default;
$emailSubjectFieldGrey: #777c81 !default;
$requiredFieldstextGrey: #898989 !default;
$contactUsBlue:#27bbf2 !default; //blue
$contactSelectGrey: #ecf0f5 !default; //litegrey
$contactSelectBorderGrey: #d5dae0 !default; //litegrey
$contactGreyText: #696a6c !default; //litegrey
$contactAlertSuccessGreen: #3c763d !default;
$contactAlertDangerRed: #a94442 !default;
$slideShowDescriptionBorderGrey: #e0dfdf !default;
$slideShowHeaderTextBorderGrey: #f4f6f8 !default;
$paginationDropdownBackgroundGrey: #f9f9f9 !default;
$errorPageBlack: #4a4a4a !default;
$errorPageYellow: #ffea00 !default;

/* Voting color*/
$votingBackgroundBlue:#0083ca !default;
$votingPollSubmitBackgroundGreen:#39a340 !default;
$votingContentBackgroundGrey:#f3f3f3 !default;
$votingContentBorderGrey:#b5b8b9 !default;
$votingResultsBtnBlue:#00a5e5 !default;
$votingSuccessLabelTextGreen:#289c30 !default;
$votingSuccessbackgroundGreen:#e0efe1 !default;
$votingEndedLabelTextGrey:#6a6c6c !default;
$votingSuccessbackgroundGrey:#e5e6e6 !default;

/*commenting colors*/
$commentFormDescText: #282828 !default;
$commentLabelTextGrey: #595a5b !default;
$commentInputBorder: #d7d7d7 !default;
$commentFormNoteText: #828282 !default;
$commentHeadingBorderColor: #909090 !default;
$commentBottomBorderGrey: #c2c4c4 !default;

$marketingSubscriptionGrey: #110c0e !default;
$marketingSubscriptionLightGrey: #1e1d1e !default;
$marketingSubscriptionBorderGrey: #c8c8c8 !default;
$subscriptionTextGrey: #2b2a2b !default;
/* block to declare font */
@font-face {
  font-family: 'LibreFranklin';
  src: url('/styles/core/fonts/Libre_Franklin/LibreFranklin-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'LibreFranklin-Black';
  src: url('/styles/core/fonts/Libre_Franklin/LibreFranklin-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'LibreFranklin-Bold';
  src: url('/styles/core/fonts/Libre_Franklin/LibreFranklin-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'LibreFranklin-ExtraBold';
  src: url('/styles/core/fonts/Libre_Franklin/LibreFranklin-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'LibreFranklin-ExtraLight';
  src: url('/styles/core/fonts/Libre_Franklin/LibreFranklin-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'LibreFranklin-Light';
  src: url('/styles/core/fonts/Libre_Franklin/LibreFranklin-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'LibreFranklin-Medium';
  src: url('/styles/core/fonts/Libre_Franklin/LibreFranklin-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'LibreFranklin-Regular';
  src: url('/styles/core/fonts/Libre_Franklin/LibreFranklin-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'LibreFranklin-SemiBold';
  src: url('/styles/core/fonts/Libre_Franklin/LibreFranklin-SemiBold.ttf') format('truetype');
}



@font-face {
  font-family: 'Lato';
  src: url('/styles/core/fonts/Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Black';
  src: url('/styles/core/fonts/Lato/Lato-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('/styles/core/fonts/Lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Hairline';
  src: url('/styles/core/fonts/Lato/Lato-Hairline.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Light';
  src: url('/styles/core/fonts/Lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('/styles/core/fonts/Lato/Lato-Regular.ttf') format('truetype');
}


@font-face{
    //font-family:"Neo Sans W01 Medium";
    font-family:"NeoSansStd-Medium";
    src:url("/styles/core/fonts/NeoSans/85c8556d-8a76-4037-a2e2-0f5fd9dabc03.eot?#iefix");
    src:url("/styles/core/fonts/NeoSans/85c8556d-8a76-4037-a2e2-0f5fd9dabc03.eot?#iefix") format("eot"),
        url("/styles/core/fonts/NeoSans/f056e9e7-3bb5-4f21-b861-ed2a47a0700b.woff2") format("woff2"),
        url("/styles/core/fonts/NeoSans/b0eddbbb-9e8e-4e08-bde1-965bb945f73a.woff") format("woff"),
        url("/styles/core/fonts/NeoSans/b2931674-c992-42a0-aa22-e9cb15d3383d.ttf") format("truetype"),
        url("/styles/core/fonts/NeoSans/af9d27b2-3ca0-47ca-8d5d-4c4665df6305.svg#af9d27b2-3ca0-47ca-8d5d-4c4665df6305") format("svg");
}
/*
@font-face{
font-family:"NeoSansW01-MediumItalic";
    src:url("Fonts/46228353-fa44-4946-aa72-d9c49319ef68.eot?#iefix");
    src:url("Fonts/46228353-fa44-4946-aa72-d9c49319ef68.eot?#iefix") format("eot"),url("Fonts/6d6d6fb5-b943-440b-8b6a-d00d21516a19.woff2") format("woff2"),url("Fonts/aa38b8f5-f338-48c6-8aa2-eac9e9498213.woff") format("woff"),url("Fonts/b54e6a91-f4ef-40b4-8f81-fee406bc1e4f.ttf") format("truetype"),url("Fonts/d8104530-e31f-4ad8-ae41-c65113c59931.svg#d8104530-e31f-4ad8-ae41-c65113c59931") format("svg");
}
*/

@font-face{
    //font-family:"Neo Sans W01 Bold";
    font-family:"NeoSansStd-Bold";
    src:url("/styles/core/fonts/NeoSans/a0b14394-4dd9-4421-98cf-dfe2f8dc6251.eot?#iefix");
    src:url("/styles/core/fonts/NeoSans/a0b14394-4dd9-4421-98cf-dfe2f8dc6251.eot?#iefix") format("eot"),
        url("/styles/core/fonts/NeoSans/82a34ab2-92d9-48c4-989d-50d5bd54fdd1.woff2") format("woff2"),
        url("/styles/core/fonts/NeoSans/ecedcc38-3aec-48a5-a693-fbfac59dd0ed.woff") format("woff"),
        url("/styles/core/fonts/NeoSans/2974017c-634d-4238-9381-e3f0b95a150c.ttf") format("truetype"),
        url("/styles/core/fonts/NeoSans/0b4cc213-f9e9-4cb1-aa3c-64e91a1328dc.svg#0b4cc213-f9e9-4cb1-aa3c-64e91a1328dc") format("svg");
}

/*
@font-face{
font-family:"NeoSansW01-BoldItalic";
src:url("Fonts/0fe971f7-547f-457f-83c3-3c8e2a508baa.eot?#iefix");
src:url("Fonts/0fe971f7-547f-457f-83c3-3c8e2a508baa.eot?#iefix") format("eot"),url("Fonts/c47e6637-cc18-4473-81da-8a9c7930ce28.woff2") format("woff2"),url("Fonts/1c88b47a-311d-482e-9568-4e4eb1409dbb.woff") format("woff"),url("Fonts/c905cace-cc74-4611-8d5e-14426b91e330.ttf") format("truetype"),url("Fonts/5946ff35-b866-4617-8dd1-8ce5133ff617.svg#5946ff35-b866-4617-8dd1-8ce5133ff617") format("svg");
}
*/

@font-face{
    //font-family:"Neo Sans W01 Black";
    font-family:"NeoSansStd-Black";
    src:url("/styles/core/fonts/NeoSans/a18848f0-fc35-4303-b859-765085dc8136.eot?#iefix");
    src:url("/styles/core/fonts/NeoSans/a18848f0-fc35-4303-b859-765085dc8136.eot?#iefix") format("eot"),
        url("/styles/core/fonts/NeoSans/35cfb856-b935-45e7-b54f-b60e4b23e03c.woff2") format("woff2"),
        url("/styles/core/fonts/NeoSans/424ba691-179e-4d47-8ab9-e7eedc23c30f.woff") format("woff"),
        url("/styles/core/fonts/NeoSans/fc12c0b1-38e2-4dba-acfd-e2c26fd997a4.ttf") format("truetype"),
        url("/styles/core/fonts/NeoSans/30ec1a46-ee1b-4ded-a51c-5c4db7940e1b.svg#30ec1a46-ee1b-4ded-a51c-5c4db7940e1b") format("svg");
}

/*
@font-face{
font-family:"NeoSansW01-BlackItalic";
src:url("Fonts/a6b7e79b-ec1d-47af-a7bd-3ee929f395aa.eot?#iefix");
src:url("Fonts/a6b7e79b-ec1d-47af-a7bd-3ee929f395aa.eot?#iefix") format("eot"),url("Fonts/f9b0390a-6b5e-4059-8d47-3c0bb374ba6c.woff2") format("woff2"),url("Fonts/e092dc4e-a79a-4dd6-bed1-a691d495140f.woff") format("woff"),url("Fonts/cc22a70b-d5a9-4c24-a243-d484a03130b4.ttf") format("truetype"),url("Fonts/9e9a0b19-a155-47d9-b07d-83f320fdb1d5.svg#9e9a0b19-a155-47d9-b07d-83f320fdb1d5") format("svg");
}
*/

/* block to declare Signika fonts for super science */
@font-face {
  font-family: 'Signika-Regular';
  src: url('/styles/core/fonts/Signika/Signika-Regular.ttf') format('truetype'),
       url('/styles/core/fonts/Signika/Signika-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Signika-Bold';
  src: url('/styles/core/fonts/Signika/Signika-Bold.ttf') format('truetype'),
       url('/styles/core/fonts/Signika/Signika-Bold.otf') format('otf');
}

@font-face {
  font-family: 'Signika-Light';
  src: url('/styles/core/fonts/Signika/Signika-Light.ttf') format('truetype'),
       url('/styles/core/fonts/Signika/Signika-Light.otf') format('otf');
}
@font-face {
  font-family: 'Signika-SemiBold';
  src: url('/styles/core/fonts/Signika/Signika-Semibold.ttf') format('truetype'),
       url('/styles/core/fonts/Signika/Signika-Semibold.otf') format('otf');
}


/* block to declare Cooper fonts for Junior */

@font-face{
    font-family:"CooperBlackStd";
    src:url("/styles/core/fonts/Proxima-Cooper/a37bd7d4-24f8-4e1d-9265-c0d67f5c38b3.eot?#iefix");
    src:url("/styles/core/fonts/Proxima-Cooper/a37bd7d4-24f8-4e1d-9265-c0d67f5c38b3.eot?#iefix") format("eot"),
        url("/styles/core/fonts/Proxima-Cooper/a16ba49e-2f15-4cfd-9668-c7768fa1059b.woff2") format("woff2"),
        url("/styles/core/fonts/Proxima-Cooper/732d93c0-0db5-4976-bfb4-cd1ae5bc5899.woff") format("woff"),
        url("/styles/core/fonts/Proxima-Cooper/1e6c2be8-9da3-486b-858f-711c9479d467.ttf") format("truetype"),
        url("/styles/core/fonts/Proxima-Cooper/502b02b4-02b7-4e98-8f44-780b9d649bab.svg#502b02b4-02b7-4e98-8f44-780b9d649bab") format("svg");
}

@font-face{
    font-family:"CooperBlackItalic";
    src:url("/styles/core/fonts/Proxima-Cooper/246f4446-0234-4cd4-8453-41ae44ce469b.eot?#iefix");
    src:url("/styles/core/fonts/Proxima-Cooper/246f4446-0234-4cd4-8453-41ae44ce469b.eot?#iefix") format("eot"),
        url("/styles/core/fonts/Proxima-Cooper/226545b8-7b57-4752-97c2-b341c48f39a2.woff2") format("woff2"),
        url("/styles/core/fonts/Proxima-Cooper/4ee4a1b6-a7a6-42ae-9f72-d99cf7933daf.woff") format("woff"),
        url("/styles/core/fonts/Proxima-Cooper/466e7c2f-b4ec-4ed2-ab0d-bce6affdfc82.ttf") format("truetype"),
        url("/styles/core/fonts/Proxima-Cooper/978dd82f-5348-40d6-8cc7-36a0ef4faf56.svg#978dd82f-5348-40d6-8cc7-36a0ef4faf56") format("svg");
}

/* block to declare Proxima fonts for Junior */

@font-face{
    font-family:"ProximaNova-Regular";
    src:url("/styles/core/fonts/Proxima-Cooper/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
    src:url("/styles/core/fonts/Proxima-Cooper/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),
        url("/styles/core/fonts/Proxima-Cooper/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),
        url("/styles/core/fonts/Proxima-Cooper/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),
        url("/styles/core/fonts/Proxima-Cooper/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),
        url("/styles/core/fonts/Proxima-Cooper/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
}

@font-face{
    font-family:"ProximaNova-RegularItalic";
    src:url("/styles/core/fonts/Proxima-Cooper/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix");
    src:url("/styles/core/fonts/Proxima-Cooper/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix") format("eot"),
        url("/styles/core/fonts/Proxima-Cooper/129d49d6-5492-4ed1-96f7-0528c6d53abc.woff2") format("woff2"),
        url("/styles/core/fonts/Proxima-Cooper/9c69c878-2255-4027-8632-ed3635cddf45.woff") format("woff"),
        url("/styles/core/fonts/Proxima-Cooper/b7eb3871-e910-4522-9982-effb425a2714.ttf") format("truetype"),
        url("/styles/core/fonts/Proxima-Cooper/a0d89860-20e5-4bc0-b6c5-eae8ae0ebbbf.svg#a0d89860-20e5-4bc0-b6c5-eae8ae0ebbbf") format("svg");
}

@font-face{
        font-family:"ProximaNova-Medium";
        src:url("/styles/core/fonts/Proxima-Cooper/b918fc25-caba-4cf5-8606-d77742e476f4.eot?#iefix");
        src:url("/styles/core/fonts/Proxima-Cooper/b918fc25-caba-4cf5-8606-d77742e476f4.eot?#iefix") format("eot"),
        url("/styles/core/fonts/Proxima-Cooper/e898042a-5eb9-4810-b578-c3993ab58f0f.woff2") format("woff2"),
        url("/styles/core/fonts/Proxima-Cooper/cb9d4f02-d326-46b0-a857-930cce057f80.woff") format("woff"),
        url("/styles/core/fonts/Proxima-Cooper/75cafc03-22e4-41b0-8bc2-1b9081506ecc.ttf") format("truetype"),
        url("/styles/core/fonts/Proxima-Cooper/efb9f6bb-840c-47d2-a504-11c8c352aded.svg#efb9f6bb-840c-47d2-a504-11c8c352aded") format("svg");
    }
    @font-face{
        font-family:"ProximaNova-Bold";
        src:url("/styles/core/fonts/Proxima-Cooper/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
        src:url("/styles/core/fonts/Proxima-Cooper/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"),
        url("/styles/core/fonts/Proxima-Cooper/0d416408-95c6-4ad7-b08d-e60573d3b37d.woff2") format("woff2"),
        url("/styles/core/fonts/Proxima-Cooper/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),
        url("/styles/core/fonts/Proxima-Cooper/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"),
        url("/styles/core/fonts/Proxima-Cooper/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
    }
    @font-face{
        font-family:"ProximaNova-Extrabld";
        src:url("/styles/core/fonts/Proxima-Cooper/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix");
        src:url("/styles/core/fonts/Proxima-Cooper/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix") format("eot"),
        url("/styles/core/fonts/Proxima-Cooper/eb39afe0-709e-46d6-92ad-db5c3bfd24a9.woff2") format("woff2"),
        url("/styles/core/fonts/Proxima-Cooper/19dd5cf2-ac2d-48d5-901a-c432fd291ee2.woff") format("woff"),
        url("/styles/core/fonts/Proxima-Cooper/22cfbfa4-f607-4751-92eb-6fa194353e57.ttf") format("truetype"),
        url("/styles/core/fonts/Proxima-Cooper/3d6b6348-e05f-4123-b19a-3bfd02c7f361.svg#3d6b6348-e05f-4123-b19a-3bfd02c7f361") format("svg");
    }
    @font-face{
        font-family:"ProximaNova-Black";
        src:url("/styles/core/fonts/Proxima-Cooper/9b05cd3b-19d8-496a-816b-8de46cf24af1.eot?#iefix");
        src:url("/styles/core/fonts/Proxima-Cooper/9b05cd3b-19d8-496a-816b-8de46cf24af1.eot?#iefix") format("eot"),
        url("/styles/core/fonts/Proxima-Cooper/a086d1e1-d71a-4248-bc5b-6a91bbda0756.woff2") format("woff2"),
        url("/styles/core/fonts/Proxima-Cooper/43106d4c-07a9-48c0-bdeb-d82f359c85f5.woff") format("woff"),
        url("/styles/core/fonts/Proxima-Cooper/7783372a-b74a-4eb3-902f-ab18b106eb46.ttf") format("truetype"),
        url("/styles/core/fonts/Proxima-Cooper/22e79766-6290-47c1-b1af-93665675dd48.svg#22e79766-6290-47c1-b1af-93665675dd48") format("svg");
    }
    @font-face{
        font-family:"ProximaNovaACond-Black";
        src:url("/styles/core/fonts/Proxima-Cooper/79a1bdbc-326c-4707-9fb9-89ecbc140417.eot?#iefix");
        src:url("/styles/core/fonts/Proxima-Cooper/79a1bdbc-326c-4707-9fb9-89ecbc140417.eot?#iefix") format("eot"),
        url("/styles/core/fonts/Proxima-Cooper/b8e8499d-8cfa-4c10-9067-f0387c41a518.woff2") format("woff2"),
        url("/styles/core/fonts/Proxima-Cooper/08a2d4ce-69e7-47a7-bd74-f50f514d714c.woff") format("woff"),
        url("/styles/core/fonts/Proxima-Cooper/343107a0-8fd8-477b-a166-cd92c9d3f049.ttf") format("truetype"),
        url("/styles/core/fonts/Proxima-Cooper/8ef726b9-bc15-4b14-9daf-6fe0ba9c8c1a.svg#8ef726b9-bc15-4b14-9daf-6fe0ba9c8c1a") format("svg");
    }

/* block to declare Serifa and Slate fonts for SN3,SN4 magazine */


    @font-face{
        font-family:"SerifaStd-Thin";
        src:url("/styles/core/fonts/Slate-Serifa/24a8ed25-29b6-4478-b700-4822066a0a37.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/24a8ed25-29b6-4478-b700-4822066a0a37.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/e9b1ef17-412e-4f3c-accf-0cdf7ce1e463.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/9fa8f1f4-2740-4acc-8a75-373303b827b3.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/7974331e-ccb2-4bc8-ad55-864344bf2e33.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/e525116a-38f4-439a-94e5-069ae2efa33e.svg#e525116a-38f4-439a-94e5-069ae2efa33e") format("svg");
    }

    @font-face{
        font-family:"SerifaStd-ThinItalic";
        src:url("/styles/core/fonts/Slate-Serifa/613ae861-c76b-4bf0-be83-b83528dca15c.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/613ae861-c76b-4bf0-be83-b83528dca15c.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/d8972158-7dd6-4015-b33a-4eec393a8c85.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/279c0d84-6073-4336-806e-ee8b4500ecfb.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/e82dafcf-1984-45af-8fc6-309e1ec1461e.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/a354d64a-9bc7-40b6-a8f9-27a4197e9d67.svg#a354d64a-9bc7-40b6-a8f9-27a4197e9d67") format("svg");

    }

    @font-face{
        font-family:"SerifaStd-ExtraLight";
        src:url("/styles/core/fonts/Slate-Serifa/6288082a-c36c-4574-b454-31746b339b75.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/6288082a-c36c-4574-b454-31746b339b75.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/9f63a851-438d-4e08-8193-aac35f1c7ddb.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/39628152-7edf-4b67-8f1f-c1ae3a57b21d.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/2404199c-ded1-4b5b-be85-c2fdf31cb249.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/7e33b029-1eb0-4340-bfd7-6f614e9c5434.svg#7e33b029-1eb0-4340-bfd7-6f614e9c5434") format("svg");

    }

    @font-face{
        font-family:"SerifaStd-ExtraLightItalic";
        src:url("/styles/core/fonts/Slate-Serifa/c1ea1303-19b6-4e80-b1f8-cec8adfe4af2.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/c1ea1303-19b6-4e80-b1f8-cec8adfe4af2.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/db507347-d093-4dd3-9fbc-e8b0d1e8d0dc.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/3094ede2-edef-4e00-9ee1-d701f06ea06a.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/816b6b2c-3ad1-4fcb-9e53-8d61ee7a639b.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/f62aad3b-f309-4a42-b71e-ecd4f318e4f8.svg#f62aad3b-f309-4a42-b71e-ecd4f318e4f8") format("svg");

    }

    @font-face{
        font-family:"SerifaStd-Light";
        src:url("/styles/core/fonts/Slate-Serifa/ede3e4b9-6264-4f63-bf25-93a312b5a81a.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/ede3e4b9-6264-4f63-bf25-93a312b5a81a.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/16adf98c-1200-4f97-bdd9-5d039f9741dd.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/5c14d232-1795-482f-b98f-73b060df175d.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/db9e2878-258b-4afb-a0bf-7264a8164036.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/8c7078f1-172b-4b89-9c96-9b797f733865.svg#8c7078f1-172b-4b89-9c96-9b797f733865") format("svg");

    }

    @font-face{
        font-family:"SerifaStd-LightItalic";
        src:url("/styles/core/fonts/Slate-Serifa/4c69b180-ccb6-46a1-9983-dd66f937c288.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/4c69b180-ccb6-46a1-9983-dd66f937c288.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/b689e652-6890-472d-8896-217e9318b1bc.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/0ea41df8-dd48-455c-ba10-cea13f45e6c1.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/74004d83-7297-4a83-8473-9e16a1390ff8.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/b288c661-5b30-4dd7-84db-35909e50823e.svg#b288c661-5b30-4dd7-84db-35909e50823e") format("svg");

    }

    @font-face{
        font-family:"SerifaStd-Regular";
        src:url("/styles/core/fonts/Slate-Serifa/5f54c55b-c37c-4e25-8da5-4a455005ef1e.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/5f54c55b-c37c-4e25-8da5-4a455005ef1e.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/cd15d03d-fd43-468a-b888-3df4ae070b00.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/67152728-05bc-46ab-a9b5-a32dbc43e415.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/cc6b9283-a62f-4b2b-8b78-f35f7a42f276.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/59240aab-b257-43ba-b8ae-1184001de365.svg#59240aab-b257-43ba-b8ae-1184001de365") format("svg");

    }

    @font-face{
        font-family:"SerifaStd-Bold";
        src:url("/etc/designs/scholastic/classroom-magazines-migration/clientlibs/classmags-migration-core/styles/core/fonts/Slate-Serifa/5f54c55b-c37c-4e25-8da5-4a455005ef1e.eot?#iefix");
        src:url("/etc/designs/scholastic/classroom-magazines-migration/clientlibs/classmags-migration-core/styles/core/fonts/Slate-Serifa/5f54c55b-c37c-4e25-8da5-4a455005ef1e.eot?#iefix") format("eot"),
       url("/etc/designs/scholastic/classroom-magazines-migration/clientlibs/classmags-migration-core/styles/core/fonts/Slate-Serifa/cd15d03d-fd43-468a-b888-3df4ae070b00.woff2") format("woff2"),
       url("/etc/designs/scholastic/classroom-magazines-migration/clientlibs/classmags-migration-core/styles/core/fonts/Slate-Serifa/67152728-05bc-46ab-a9b5-a32dbc43e415.woff") format("woff"),
       url("/etc/designs/scholastic/classroom-magazines-migration/clientlibs/classmags-migration-core/styles/core/fonts/Slate-Serifa/cc6b9283-a62f-4b2b-8b78-f35f7a42f276.ttf") format("truetype"),
       url("/etc/designs/scholastic/classroom-magazines-migration/clientlibs/classmags-migration-core/styles/core/fonts/Slate-Serifa/59240aab-b257-43ba-b8ae-1184001de365.svg#59240aab-b257-43ba-b8ae-1184001de365") format("svg");
    }

    @font-face{
        font-family:"SerifaStd-Black";
        src:url("/styles/core/fonts/Slate-Serifa/d2746be7-a5ee-43c8-a62e-9c549ed6058f.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/d2746be7-a5ee-43c8-a62e-9c549ed6058f.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/a7d0be0a-ed34-4117-af15-9b1a27e23f9b.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/addf50c8-1dc1-41e3-ba3d-5e3e9a653295.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/f2882d46-fad7-4b8a-a212-238dc1206429.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/975604bd-545e-4359-9304-a1bb16311287.svg#975604bd-545e-4359-9304-a1bb16311287") format("svg");
    }



    @font-face{
        font-family:"SlateStd-ExtraLight";
        src:url("/styles/core/fonts/Slate-Serifa/3dc533c3-745d-41d7-9d0a-165a623cec9b.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/3dc533c3-745d-41d7-9d0a-165a623cec9b.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/443ceb9a-576f-4f01-8072-1b5e16848faa.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/8d90dadd-915f-4838-b610-4fb8cad8a324.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/90fe9ab9-afc5-43ca-9bb7-564a82045808.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/90170f09-fd56-4d81-9183-89f4d3023375.svg#90170f09-fd56-4d81-9183-89f4d3023375") format("svg");
    }

    @font-face{
        font-family:"SlateStd-ExtraLightItalic";
        src:url("/styles/core/fonts/Slate-Serifa/3068eaa6-2d16-45d7-9d13-b00b81e5705d.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/3068eaa6-2d16-45d7-9d13-b00b81e5705d.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/677f0ee2-30de-45fc-aead-44ce6f995069.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/514fad5e-2c05-4493-94a2-bd308ad36e53.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/10a18c50-a953-44f7-a292-77744fd28f9c.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/0fcb97c8-ff58-4a2f-86c1-ef8ba4d2cfea.svg#0fcb97c8-ff58-4a2f-86c1-ef8ba4d2cfea") format("svg");
    }

    @font-face{
        font-family:"SlateStd-Light";
        src:url("/styles/core/fonts/Slate-Serifa/8770f5ba-b290-4c39-8053-fa62b4504af6.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/8770f5ba-b290-4c39-8053-fa62b4504af6.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/27bac2f4-abde-44e8-8ad8-1328f155ebc6.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/f0e21b22-be82-4646-8834-929f21697b8b.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/e34fcf36-14df-42f7-b779-2715c5e4cf48.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/cee327ea-b14e-45be-860f-f5d226b92bf3.svg#cee327ea-b14e-45be-860f-f5d226b92bf3") format("svg");

    }

    @font-face{
        font-family:"SlateStd-LightItalic";
        src:url("/styles/core/fonts/Slate-Serifa/66595dce-119d-40ee-8845-c922b798f51c.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/66595dce-119d-40ee-8845-c922b798f51c.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/10f7936b-3da7-45fa-a247-49b976d77a5b.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/da19e923-e1a4-4125-b571-aaec1eaea1f1.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/c5b18de6-b98d-4176-95ec-280edc1ecbc9.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/5bd800fd-d759-4593-85b2-2ae5f3b34571.svg#5bd800fd-d759-4593-85b2-2ae5f3b34571") format("svg");
font-weight: 300;
font-style: italic;
    }

    @font-face{
        font-family:"SlateStd";
        src:url("/styles/core/fonts/Slate-Serifa/0ccb23cc-e65f-4f1a-adee-23462447a4f9.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/0ccb23cc-e65f-4f1a-adee-23462447a4f9.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/77c289f3-3401-45a7-b754-9804fe541516.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/fc86544e-4e5f-4492-a80e-16b5745bb869.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/52e5df46-b718-4238-9f2e-c141505a48c3.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/f18b502a-d62a-4454-96ee-ab538e38e037.svg#f18b502a-d62a-4454-96ee-ab538e38e037") format("svg");

    }

    @font-face{
        font-family:"SlateStd-Italic";
        src:url("/styles/core/fonts/Slate-Serifa/af814612-2c89-473a-891b-9d8683e56da0.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/af814612-2c89-473a-891b-9d8683e56da0.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/dc6eb005-728e-40b0-a439-d7991fc6e80f.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/5e69749b-81e9-423a-a310-cb7ecb810a8d.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/14049a11-98e1-4b34-8d1d-de82753a0619.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/d1528ae2-a27a-446d-ac6a-160a9ff9b677.svg#d1528ae2-a27a-446d-ac6a-160a9ff9b677") format("svg");

    }

    @font-face{
        font-family:"SlateStd-Medium";
        src:url("/styles/core/fonts/Slate-Serifa/6c114a84-aeac-4533-a8f3-798922cc0300.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/6c114a84-aeac-4533-a8f3-798922cc0300.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/8df29452-77ca-4e75-9e4b-d1783379751b.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/90807bcf-e7e3-43ac-9ebb-a96364087325.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/389822d1-6f97-438c-a4a1-5f97d1005a3f.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/e2bc308f-8bfe-48a1-89d7-a5a8ac370ff0.svg#e2bc308f-8bfe-48a1-89d7-a5a8ac370ff0") format("svg");

    }

    @font-face{
        font-family:"SlateStd-MediumItalic";
        src:url("/styles/core/fonts/Slate-Serifa/7ebd6be5-d902-4431-9798-f02eb003d771.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/7ebd6be5-d902-4431-9798-f02eb003d771.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/03034b79-99a1-4817-9fba-d50f4737fbf2.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/2be5690c-8be4-41d9-90f1-bda9a497f4a5.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/914a7465-15fb-4335-b053-d51347db7f70.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/a310d281-7e9b-4b19-a94a-6a109a390385.svg#a310d281-7e9b-4b19-a94a-6a109a390385") format("svg");

    }

    @font-face{
        font-family:"SlateStd-Bold";
        src:url("/styles/core/fonts/Slate-Serifa/fce4d9fd-68c9-4ad9-b540-f7f958aaa7c7.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/fce4d9fd-68c9-4ad9-b540-f7f958aaa7c7.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/297d76b2-c035-4282-9d9a-1a2b677efbeb.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/2ba90e1d-8ec8-4aa3-b82d-e77ab3f6fdda.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/56e9b083-e986-47d7-bfc8-da81847feb7a.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/db978b75-1d87-4a94-98f8-4f05471202da.svg#db978b75-1d87-4a94-98f8-4f05471202da") format("svg");

    }

    @font-face{
        font-family:"SlateStd-BoldItalic";
        src:url("/styles/core/fonts/Slate-Serifa/be249883-41a5-454f-8593-fce01bf1e9ef.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/be249883-41a5-454f-8593-fce01bf1e9ef.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/039f9566-b2c6-4b0f-893b-25cc317067aa.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/f5df482d-4cec-496d-b389-467bca12f319.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/37170a44-cf5f-438f-8847-85970dbbfe7d.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/5f106acc-9f2c-41cb-8023-add909e6b9d2.svg#5f106acc-9f2c-41cb-8023-add909e6b9d2") format("svg");
    }

    @font-face{
        font-family:"SlateStd-Black";
        src:url("/styles/core/fonts/Slate-Serifa/07c39739-022e-4316-a810-e50083952993.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/07c39739-022e-4316-a810-e50083952993.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/e4ec59bf-6f6b-43b4-8029-40e865888d44.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/acc38200-60f8-4371-8311-ab06a77e1e41.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/8be1db05-cb45-4b9c-9e61-72c4c901c7e4.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/a01f078e-5a5f-41b2-8351-650710627e03.svg#a01f078e-5a5f-41b2-8351-650710627e03") format("svg");

    }

    @font-face{
        font-family:"SlateStd-BlackItalic";
        src:url("/styles/core/fonts/Slate-Serifa/3a2ae4f6-1967-41be-924c-d1d073ee5b77.eot?#iefix");
        src:url("/styles/core/fonts/Slate-Serifa/3a2ae4f6-1967-41be-924c-d1d073ee5b77.eot?#iefix") format("eot"),url("/styles/core/fonts/Slate-Serifa/f3c40125-4f41-4ded-ad9c-57954dc3a8ff.woff2") format("woff2"),url("/styles/core/fonts/Slate-Serifa/bb69869e-20a1-42e1-b8d2-f7669c50db12.woff") format("woff"),url("/styles/core/fonts/Slate-Serifa/b973975b-3bb9-4662-845e-3fbcfcbd8629.ttf") format("truetype"),url("/styles/core/fonts/Slate-Serifa/a83a7d8a-2b47-4426-b18c-619bb1b448dd.svg#a83a7d8a-2b47-4426-b18c-619bb1b448dd") format("svg");

    }
	    @font-face{
        font-family:"UtopiaStd-Regular";
        src:url("/styles/core/fonts/Utopia/2a0c47b9-7c72-4622-a2a6-753b1928c4f7.eot?#iefix");
        src:url("/styles/core/fonts/Utopia/2a0c47b9-7c72-4622-a2a6-753b1928c4f7.eot?#iefix") format("eot"),
 url("/styles/core/fonts/Utopia/d7079586-2da2-49e9-9ac2-9643ce1e6e9d.woff2") format("woff2"),
 url("/styles/core/fonts/Utopia/cf097660-b052-407e-8446-064d8b9e4efc.woff") format("woff"),
 url("/styles/core/fonts/Utopia/521c33af-0500-4311-ac9c-866d131d0dc5.ttf") format("truetype"),
 url("/styles/core/fonts/Utopia/de2ff455-5efa-4560-b525-48c8b68417be.svg#de2ff455-5efa-4560-b525-48c8b68417be") format("svg");
    }

    @font-face{
        font-family:"UtopiaStd-RegularItalic";
        src:url("/styles/core/fonts/Utopia/d1496733-2656-4184-a72d-8a9abb8fad48.eot?#iefix");
        src:url("/styles/core/fonts/Utopia/d1496733-2656-4184-a72d-8a9abb8fad48.eot?#iefix") format("eot"),
 url("/styles/core/fonts/Utopia/b58a7ef2-1af1-4388-bea9-35a36e882eee.woff2") format("woff2"),
 url("/styles/core/fonts/Utopia/91100087-f732-4de0-aa71-80eccd860c00.woff") format("woff"),
 url("/styles/core/fonts/Utopia/ebb5c4d7-df95-4959-9bf3-9f1dbef0b9cd.ttf") format("truetype"),
 url("/styles/core/fonts/Utopia/0b69d819-2210-4ff4-ab5b-0838cc946334.svg#0b69d819-2210-4ff4-ab5b-0838cc946334") format("svg");
    }

    @font-face{
        font-family:"UtopiaStd-SemiBold";
        src:url("/styles/core/fonts/Utopia/d5fed3ad-edc2-4327-8935-e26e14c8baaa.eot?#iefix");
        src:url("/styles/core/fonts/Utopia/d5fed3ad-edc2-4327-8935-e26e14c8baaa.eot?#iefix") format("eot"),
 url("/styles/core/fonts/Utopia/dbb99ba0-3c0a-4fd6-8f9b-2b7ff3d2e260.woff2") format("woff2"),
 url("/styles/core/fonts/Utopia/efbc2e9f-6b31-4eb7-922f-8921a6b5887a.woff") format("woff"),
 url("/styles/core/fonts/Utopia/7d2c07ad-1a16-44e1-807a-8a99ad350911.ttf") format("truetype"),
 url("/styles/core/fonts/Utopia/931720e3-ce48-482b-a766-b5a13f39f8bc.svg#931720e3-ce48-482b-a766-b5a13f39f8bc") format("svg");
    }

    @font-face{
        font-family:"UtopiaStd-SemiBoldItalic";
        src:url("/styles/core/fonts/Utopia/9c6955d3-dd02-4d13-8f96-29d251b5a82b.eot?#iefix");
        src:url("/styles/core/fonts/Utopia/9c6955d3-dd02-4d13-8f96-29d251b5a82b.eot?#iefix") format("eot"),
 url("/styles/core/fonts/Utopia/2c4e71f2-2511-4a71-a411-c420bcecfc42.woff2") format("woff2"),
 url("/styles/core/fonts/Utopia/6877e27d-d08e-48d3-b710-7db954948cf9.woff") format("woff"),
 url("/styles/core/fonts/Utopia/d3b28446-2108-4970-b265-3ab0e7d10094.ttf") format("truetype"),
 url("/styles/core/fonts/Utopia/447c18c8-8bb3-490c-9ade-adf41dd84981.svg#447c18c8-8bb3-490c-9ade-adf41dd84981") format("svg");
    }

    @font-face{
        font-family:"UtopiaStd-Bold";
        src:url("/styles/core/fonts/Utopia/5a9f4a76-39ad-4893-a7c6-27840b6bc03c.eot?#iefix");
        src:url("/styles/core/fonts/Utopia/5a9f4a76-39ad-4893-a7c6-27840b6bc03c.eot?#iefix") format("eot"),
 url("/styles/core/fonts/Utopia/033c5d49-c85b-41e0-a737-a20db01765e2.woff2") format("woff2"),
 url("/styles/core/fonts/Utopia/b4afd2bd-5ded-45ce-930a-91bcbd795971.woff") format("woff"),
 url("/styles/core/fonts/Utopia/458089c5-dfe5-4af9-8c14-ca3b91d09fd1.ttf") format("truetype"),
 url("/styles/core/fonts/Utopia/555811b3-72e5-44bb-a8db-c89fa420cc84.svg#555811b3-72e5-44bb-a8db-c89fa420cc84") format("svg");
    }

    @font-face{
        font-family:"UtopiaStd-BoldItalic";
        src:url("/styles/core/fonts/Utopia/73864753-f778-4197-8f29-20bf6b453109.eot?#iefix");
        src:url("/styles/core/fonts/Utopia/73864753-f778-4197-8f29-20bf6b453109.eot?#iefix") format("eot"),
 url("/styles/core/fonts/Utopia/300b38e5-cb62-4c94-a8f1-ffc8eccf5525.woff2") format("woff2"),
 url("/styles/core/fonts/Utopia/d3fda490-8060-48cd-a0fa-540e33cc7048.woff") format("woff"),
 url("/styles/core/fonts/Utopia/80090c4c-7b5e-434a-a8f5-12a8c15adf34.ttf") format("truetype"),
 url("/styles/core/fonts/Utopia/99e30d7f-001d-488e-8848-6f1ea4cceafd.svg#99e30d7f-001d-488e-8848-6f1ea4cceafd") format("svg");
    }

   @font-face {
          font-family: "BasicCommercialLTCom-ExtraLight";
          src: url("/styles/core/fonts/Commerical-Canaro/9dcb4e2d-058e-4612-a332-2daafe0479e7.eot?#iefix");
          src: url("/styles/core/fonts/Commerical-Canaro/9dcb4e2d-058e-4612-a332-2daafe0479e7.eot?#iefix") format("eot"),
               url("/styles/core/fonts/Commerical-Canaro/c8ea4955-f5ed-486e-8fe1-c93b8cbd2566.woff2") format("woff2"),
               url("/styles/core/fonts/Commerical-Canaro/820a8f20-1c96-461f-af29-c4d7c8501607.woff") format("woff"),
               url("/styles/core/fonts/Commerical-Canaro/ed0450c0-0a6c-4f1b-b53c-648861a95de8.ttf") format("truetype"),
               url("/styles/core/fonts/Commerical-Canaro/56f5655f-7190-49b7-9bde-2829caa5b5d0.svg#56f5655f-7190-49b7-9bde-2829caa5b5d0") format("svg");
      }

      @font-face {
          font-family: "BasicCommercialLTCom-ExtraLightItalic";
          src: url("/styles/core/fonts/Commerical-Canaro/873d0bed-18e5-4674-a7ae-4ebfdc8fbcbf.eot?#iefix");
          src: url("/styles/core/fonts/Commerical-Canaro/873d0bed-18e5-4674-a7ae-4ebfdc8fbcbf.eot?#iefix") format("eot"),
               url("/styles/core/fonts/Commerical-Canaro/c285d951-2df6-42ed-8efa-c0a990db8867.woff2") format("woff2"),
               url("/styles/core/fonts/Commerical-Canaro/234a474e-b851-4d2f-bd60-b373962e3c0c.woff") format("woff"),
               url("/styles/core/fonts/Commerical-Canaro/8780517d-f5a7-46e7-ac33-5d880a0f7c52.ttf") format("truetype"),
               url("/styles/core/fonts/Commerical-Canaro/fca966c3-2fc9-468f-96a8-8cac179647d3.svg#fca966c3-2fc9-468f-96a8-8cac179647d3") format("svg");
      }

      @font-face {
          font-family: "BasicCommercialLTCom-Roman";
          src: url("/styles/core/fonts/Commerical-Canaro/b79b3f0d-337c-493e-9dba-346560fd6d7f.eot?#iefix");
          src: url("/styles/core/fonts/Commerical-Canaro/b79b3f0d-337c-493e-9dba-346560fd6d7f.eot?#iefix") format("eot"),
               url("/styles/core/fonts/Commerical-Canaro/5689664f-5706-4ecb-a6b5-18882ba249e3.woff2") format("woff2"),
               url("/styles/core/fonts/Commerical-Canaro/a96530dd-c9a4-4cd4-89c1-843e8965eba1.woff") format("woff"),
               url("/styles/core/fonts/Commerical-Canaro/8a8c36d9-a5cc-4614-b098-5e57c6e09ca7.ttf") format("truetype"),
               url("/styles/core/fonts/Commerical-Canaro/0ad7bf84-e32e-42e6-ae85-68acbb28f50a.svg#0ad7bf84-e32e-42e6-ae85-68acbb28f50a") format("svg");
      }

      @font-face {
          font-family: "BasicCommercialLTCom-RomanItalic";
          src: url("/styles/core/fonts/Commerical-Canaro/24cd9a2c-861c-4939-b1e7-192d0048c2da.eot?#iefix");
          src: url("/styles/core/fonts/Commerical-Canaro/24cd9a2c-861c-4939-b1e7-192d0048c2da.eot?#iefix") format("eot"),
               url("/styles/core/fonts/Commerical-Canaro/5f052fc9-d9fb-4553-a377-cc609e0e80a2.woff2") format("woff2"),
               url("/styles/core/fonts/Commerical-Canaro/a57b1d4c-74ae-4bd3-a710-7b65f94f3d39.woff") format("woff"),
               url("/styles/core/fonts/Commerical-Canaro/c2e8b545-3566-4eb6-bcd4-4335fd5f1b6f.ttf") format("truetype"),
               url("/styles/core/fonts/Commerical-Canaro/d3b5b70f-8f3b-4fe6-845a-1e537bfc9ed1.svg#d3b5b70f-8f3b-4fe6-845a-1e537bfc9ed1") format("svg");
      }

      @font-face {
          font-family:"BasicCommercialLTCom-Bold";
          src: url("/styles/core/fonts/Commerical-Canaro/1398268c-cf49-4567-ba48-8ff7d12bbbe5.eot?#iefix");
          src: url("/styles/core/fonts/Commerical-Canaro/1398268c-cf49-4567-ba48-8ff7d12bbbe5.eot?#iefix") format("eot"), url("/styles/core/fonts/Commerical-Canaro/259b2e27-d686-457d-bee9-027466b3b679.woff2") format("woff2"), url("/styles/core/fonts/Commerical-Canaro/fb411e31-380f-4a7f-a4c3-daaacd9aa217.woff") format("woff"), url("/styles/core/fonts/Commerical-Canaro/bdcaa507-aa33-4a68-af05-eefb168255fc.ttf") format("truetype"), url("/styles/core/fonts/Commerical-Canaro/432e459a-c917-431c-8099-76cbb7c83210.svg#432e459a-c917-431c-8099-76cbb7c83210") format("svg");
      }

      @font-face {
          font-family:"BasicCommercialLTCom-BoldItalic";
          src: url("/styles/core/fonts/Commerical-Canaro/20bcd037-8426-4cd3-a23f-0d0ff3d552cd.eot?#iefix");
          src: url("/styles/core/fonts/Commerical-Canaro/20bcd037-8426-4cd3-a23f-0d0ff3d552cd.eot?#iefix") format("eot"),
          url("/styles/core/fonts/Commerical-Canaro/e01ceaaf-1264-4260-babd-60e553ad40ae.woff2") format("woff2"),
          url("/styles/core/fonts/Commerical-Canaro/4bffa866-cd89-4b79-92af-85f736460ed3.woff") format("woff"),
          url("/styles/core/fonts/Commerical-Canaro/e74fa805-41d9-484c-9b6f-2394d33f1f9e.ttf") format("truetype"),
          url("/styles/core/fonts/Commerical-Canaro/ee22bfae-d456-42f9-b02c-70ca73a351ef.svg#ee22bfae-d456-42f9-b02c-70ca73a351ef") format("svg");
      }

      @font-face {
          font-family:"BasicCommercialLTCom-Blk";
          src: url("/styles/core/fonts/Commerical-Canaro/9bf2775e-20df-428d-a8c6-d65f79bb2f7b.eot?#iefix");
          src: url("/styles/core/fonts/Commerical-Canaro/9bf2775e-20df-428d-a8c6-d65f79bb2f7b.eot?#iefix") format("eot"),
               url("/styles/core/fonts/Commerical-Canaro/2d96c912-e30a-46fd-92a5-bdf139cab30b.woff2") format("woff2"),
               url("/styles/core/fonts/Commerical-Canaro/80fccca1-ffd4-473b-a074-d231aacb770d.woff") format("woff"),
               url("/styles/core/fonts/Commerical-Canaro/1a7a2eda-596c-4998-ade8-fc84327b1df9.ttf") format("truetype"),
               url("/styles/core/fonts/Commerical-Canaro/c77bdcc5-4854-4e35-aee2-1895f7d93168.svg#c77bdcc5-4854-4e35-aee2-1895f7d93168") format("svg");
      }
      @font-face {
          font-family:"BasicCommercialLTCom-BlkItalic";
          src: url("/styles/core/fonts/Commerical-Canaro/9b885c60-3e27-413d-83a7-3927cc83d31c.eot?#iefix");
          src: url("/styles/core/fonts/Commerical-Canaro/9b885c60-3e27-413d-83a7-3927cc83d31c.eot?#iefix") format("eot"),
               url("/styles/core/fonts/Commerical-Canaro/0a07a261-2c3c-4a7e-bd8d-c8e44fff3e93.woff2") format("woff2"),
               url("/styles/core/fonts/Commerical-Canaro/f29831a5-7bbd-43e9-b88d-af4ed94db9ba.woff") format("woff"),
               url("/styles/core/fonts/Commerical-Canaro/8879ef38-1360-4fda-9701-c1f43b6590a4.ttf") format("truetype"),
               url("/styles/core/fonts/Commerical-Canaro/e5484034-0c39-457d-82f3-f6354935a29f.svg#e5484034-0c39-457d-82f3-f6354935a29f") format("svg");
      }


  @font-face {
  font-family: "Canaro-Thin";
  src: url("/styles/core/fonts/Commerical-Canaro/a7a88c12-ceac-4472-8081-f0eea18e8c66.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/a7a88c12-ceac-4472-8081-f0eea18e8c66.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/11b6adeb-4923-479c-98ca-3f9ee6e6950e.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/729ed6c5-61dd-41e1-87c5-26954dc0c9fb.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/7e3b3bef-e61d-4f1e-a5ad-e5352d754f66.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/5322fa15-611f-4a35-81da-1d9c2aa2d885.svg#5322fa15-611f-4a35-81da-1d9c2aa2d885") format("svg");
  }

  @font-face {
  font-family: "Canaro-ThinItalic";
  src: url("/styles/core/fonts/Commerical-Canaro/081d0ae3-4e3e-46a7-bbd9-a6fe0f66589b.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/081d0ae3-4e3e-46a7-bbd9-a6fe0f66589b.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/2070d074-c198-427c-b927-65eda6a02550.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/6411df00-0288-4e13-8934-01487c5db7eb.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/2bb37ac7-2055-43fb-a1f5-a1258bdfd9e3.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/84ffca3f-b502-4bd4-8495-446a3b6ee870.svg#84ffca3f-b502-4bd4-8495-446a3b6ee870") format("svg");
  }

  @font-face {
  font-family: "Canaro-ExtraLight";
  src: url("/styles/core/fonts/Commerical-Canaro/df45e274-5774-4aa4-95f7-ed2af35fc270.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/df45e274-5774-4aa4-95f7-ed2af35fc270.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/10857077-7d7d-4793-81b3-08213bb9c668.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/356c6135-4534-42b0-ae8b-11c60df15fd4.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/d163aa1e-a07e-4c34-82b5-cb23182ec87c.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/d7c2a8d2-b7ea-4b9c-a5b3-d7736a494cf9.svg#d7c2a8d2-b7ea-4b9c-a5b3-d7736a494cf9") format("svg");
  }

  @font-face {
  font-family: "Canaro-ExtraLightItalic";
  src: url("/styles/core/fonts/Commerical-Canaro/5968a17c-5c4e-44c5-a8f7-5c3971538c32.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/5968a17c-5c4e-44c5-a8f7-5c3971538c32.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/99587ec4-8d76-4106-bd90-13dd9e3483c3.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/89069492-6e76-4724-9232-7895b8fb3e1b.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/bcdfb55f-3daa-4588-a679-ce2de2f96da6.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/eae4d5e3-b11f-45fd-a685-79e04b6de47f.svg#eae4d5e3-b11f-45fd-a685-79e04b6de47f") format("svg");
  }

  @font-face {
  font-family: "Canaro-Light";
  src: url("/styles/core/fonts/Commerical-Canaro/7476f755-51c1-454f-93fa-b2ed72b83772.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/7476f755-51c1-454f-93fa-b2ed72b83772.eot?#iefix") format("eot"),
  url("/styles/core/fonts/Commerical-Canaro/f790e9dd-8840-41d4-99ea-6942b90bac53.woff2") format("woff2"),
  url("/styles/core/fonts/Commerical-Canaro/ddf5119a-dbb8-4c4d-a117-f4f3205b1294.woff") format("woff"),
  url("/styles/core/fonts/Commerical-Canaro/65210f14-e309-48fb-8496-7c6badd7b7fa.ttf") format("truetype"),
  url("/styles/core/fonts/Commerical-Canaro/87a4871d-5775-440f-969a-6357eff82441.svg#87a4871d-5775-440f-969a-6357eff82441") format("svg");
  }

  @font-face {
  font-family: "Canaro-LightItalic";
  src: url("/styles/core/fonts/Commerical-Canaro/55eca8a8-3e69-49e9-a132-cea7672ba737.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/55eca8a8-3e69-49e9-a132-cea7672ba737.eot?#iefix") format("eot"),
  url("/styles/core/fonts/Commerical-Canaro/a7bc4340-4c71-4662-9c43-623aaeb554c8.woff2") format("woff2"),
  url("/styles/core/fonts/Commerical-Canaro/7d7653c1-efed-478c-a9f4-a649492ab33c.woff") format("woff"),
  url("/styles/core/fonts/Commerical-Canaro/78d37c46-0746-495a-96f5-903cbe527767.ttf") format("truetype"),
  url("/styles/core/fonts/Commerical-Canaro/e9b3c187-4694-491f-ada4-da98efe57211.svg#e9b3c187-4694-491f-ada4-da98efe57211") format("svg");
  }

  @font-face {
  font-family: "Canaro-Book";
  src: url("/styles/core/fonts/Commerical-Canaro/71649f9d-d567-4927-b7f1-fe9c8b822dce.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/71649f9d-d567-4927-b7f1-fe9c8b822dce.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/953f8512-6428-4a7c-a6fe-cb9e078b8453.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/0d081cec-6321-4f8a-a328-7f7c4974669d.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/3f8ada24-5774-4dba-ac13-1a4ddcbf811e.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/503fbd93-47a4-4376-acec-9e1793ef4678.svg#503fbd93-47a4-4376-acec-9e1793ef4678") format("svg");
  }

  @font-face {
  font-family: "Canaro-BookItalic";
  src: url("/styles/core/fonts/Commerical-Canaro/9e0f1418-3f24-41ac-aa37-a67105055bc9.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/9e0f1418-3f24-41ac-aa37-a67105055bc9.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/0ddbb584-997d-4b67-b022-6569374f04dc.woff2") format("woff2"), url("/styles/core/fonts/Commerical-Canaro/22e2e36d-4af2-409e-a4a5-0e58bf6838a1.woff") format("woff"), url("/styles/core/fonts/Commerical-Canaro/79e86c2c-bd0a-4b8c-8ede-fbb6d1c4346d.ttf") format("truetype"), url("/styles/core/fonts/Commerical-Canaro/a0118e89-0070-4ba5-a25e-e5dc76c64991.svg#a0118e89-0070-4ba5-a25e-e5dc76c64991") format("svg");
  }

  @font-face {
  font-family: "Canaro-Medium";
  src: url("/styles/core/fonts/Commerical-Canaro/f19128b3-1da3-4a6c-8641-c7df4bc4a70b.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/f19128b3-1da3-4a6c-8641-c7df4bc4a70b.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/0f5e581d-5e4a-4e88-b069-335ae8085633.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/fd0c341c-fac1-4644-a0d2-748ba9e0a13d.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/a95d841b-b5c7-4973-9b73-ff83268cff1f.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/d8a657db-9136-4dc5-8a7b-d137e5cf9f32.svg#d8a657db-9136-4dc5-8a7b-d137e5cf9f32") format("svg");
  }

  @font-face {
  font-family: "Canaro-MediumItalic";
  src: url("/styles/core/fonts/Commerical-Canaro/d19297f6-3739-4586-8e6a-206fa0610951.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/d19297f6-3739-4586-8e6a-206fa0610951.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/c51c3a55-c984-4c74-96e1-4c247f1b135a.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/211188a0-4d37-4537-9c32-fb098b67a06f.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/debeaba0-4e74-4c91-8438-0bdfd29dacf4.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/e0d63372-8a7c-45cd-9ff9-2ebc1b60e578.svg#e0d63372-8a7c-45cd-9ff9-2ebc1b60e578") format("svg");
  }

  @font-face {
  font-family: "Canaro-SemiBold";
  src: url("/styles/core/fonts/Commerical-Canaro/c98d6e9e-048d-492f-a4bd-abad54c335cf.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/c98d6e9e-048d-492f-a4bd-abad54c335cf.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/db4a2daf-7111-46a6-821a-3429e92a4a56.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/297b3df0-1aef-4e18-ae18-5fcd34095189.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/abea8cac-2a5e-4b22-bbf5-b9b234e9e742.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/fd9d1de8-54b7-491a-bc11-a98fa70008c4.svg#fd9d1de8-54b7-491a-bc11-a98fa70008c4") format("svg");
  }

  @font-face {
  font-family: "Canaro-SemiBold";
  src: url("/styles/core/fonts/Commerical-Canaro/34b8218a-44da-441c-b838-a4e636f8f916.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/34b8218a-44da-441c-b838-a4e636f8f916.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/5f29342c-fe33-434e-aacd-0d7e4548497a.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/1eb609fd-2bbe-42df-afbb-5863f86e3142.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/c60c194f-c2a3-4ca6-8b91-6213b81be075.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/441a24d2-a8e0-46df-9354-03b895c012c6.svg#441a24d2-a8e0-46df-9354-03b895c012c6") format("svg");
  }

  @font-face {
  font-family: "Canaro-Bold";
  src: url("/styles/core/fonts/Commerical-Canaro/357b7423-8427-4ed4-84d1-1a68ac0f520d.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/357b7423-8427-4ed4-84d1-1a68ac0f520d.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/58e55c23-fd7f-4960-909e-1be50d48d158.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/6c656763-d32f-40f8-9a57-13328c829c6e.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/709e1a93-fe22-4d4b-9703-ae25e0f2c5ff.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/93a01b96-9a20-42a2-8199-0897915587ec.svg#93a01b96-9a20-42a2-8199-0897915587ec") format("svg");
  }

  @font-face {
  font-family: "Canaro-BoldItalic";
  src: url("/styles/core/fonts/Commerical-Canaro/57f91ca1-c033-4ac9-8d2c-98ee7c780c2d.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/57f91ca1-c033-4ac9-8d2c-98ee7c780c2d.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/75f11ff7-a7d4-417c-b3c8-00aa9f0c4046.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/ab874d30-76a1-467d-9d7e-42735994eb48.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/3f897e9f-2986-4d9d-90d3-17e4c0ea7821.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/d75a558c-5fa3-4168-9a8a-cee17f0d4e4c.svg#d75a558c-5fa3-4168-9a8a-cee17f0d4e4c") format("svg");
  }

  @font-face {
  font-family: "Canaro-ExtraBold";
  src: url("/styles/core/fonts/Commerical-Canaro/1471f6f6-d277-4188-8b41-9f9fa89f3c28.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/1471f6f6-d277-4188-8b41-9f9fa89f3c28.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/4f137c11-2d1d-48f1-8bed-85f4d3827092.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/2d0dfcba-9b8f-421f-9335-e1502ec20522.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/9f451954-7d6c-4f0a-a93c-857481be5a44.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/2987d181-0dc0-48de-b19b-6fed4539e011.svg#2987d181-0dc0-48de-b19b-6fed4539e011") format("svg");
  }

  @font-face {
  font-family: "Canaro-ExtraBoldItalic";
  src: url("/styles/core/fonts/Commerical-Canaro/3aa37c6c-f582-40f7-a658-ad618687495c.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/3aa37c6c-f582-40f7-a658-ad618687495c.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/2f52ca84-3f8d-4aab-81d1-3e53518a7c7d.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/7987ba0f-40bb-440e-88c6-904e50af1f1c.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/69c22413-9a2a-49fa-af63-7a95418813ff.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/ea4c4ba1-8716-4324-8411-5cf8acdfa05d.svg#ea4c4ba1-8716-4324-8411-5cf8acdfa05d") format("svg");
  }

  @font-face {
  font-family: "Canaro-Black";
  src: url("/styles/core/fonts/Commerical-Canaro/6ba7a991-3ae3-4c0a-9c9a-006bcc649161.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/6ba7a991-3ae3-4c0a-9c9a-006bcc649161.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/7b287a94-bb85-43cf-be38-4000967920c2.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/48077fdb-333d-489d-865a-b62b7159dc42.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/260b60a3-2d4d-4683-b84a-169f5453d41a.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/ae9001ba-36f2-4063-8743-7a31b34017fb.svg#ae9001ba-36f2-4063-8743-7a31b34017fb") format("svg");
  }

  @font-face {
  font-family: "Canaro-BlackItalic";
  src: url("/styles/core/fonts/Commerical-Canaro/c3eb3eef-1996-4abe-9487-6fd98327d740.eot?#iefix");
  src: url("/styles/core/fonts/Commerical-Canaro/c3eb3eef-1996-4abe-9487-6fd98327d740.eot?#iefix") format("eot"),
       url("/styles/core/fonts/Commerical-Canaro/b8faccf6-6ce4-4e56-854c-bf603da554b5.woff2") format("woff2"),
       url("/styles/core/fonts/Commerical-Canaro/de0b9067-28e9-481b-a1b5-d893e9465a3d.woff") format("woff"),
       url("/styles/core/fonts/Commerical-Canaro/c6a0a952-0b2b-44b4-b304-69945c7d2886.ttf") format("truetype"),
       url("/styles/core/fonts/Commerical-Canaro/cd5e840b-09cb-4d8e-abcc-59c8a34ecb01.svg#cd5e840b-09cb-4d8e-abcc-59c8a34ecb01") format("svg");
  }

    @font-face{
        font-family:"VAGRounded-Thin";
        src:url("/styles/core/fonts/VAGRounded/e273b79b-33c0-430f-8738-aab8efa43256.eot?#iefix");
        src:url("/styles/core/fonts/VAGRounded/e273b79b-33c0-430f-8738-aab8efa43256.eot?#iefix") format("eot"),url("/styles/core/fonts/VAGRounded/753751e3-a547-4d30-b947-3b273c85eed3.woff2") format("woff2"),url("/styles/core/fonts/VAGRounded/c95f2739-000f-435b-9f69-b15e08684fbf.woff") format("woff"),url("/styles/core/fonts/VAGRounded/fbdb5ece-a359-490f-93dd-281a95391bca.ttf") format("truetype"),url("/styles/core/fonts/VAGRounded/82bc38ad-b605-4832-9221-8a058f83cd4b.svg#82bc38ad-b605-4832-9221-8a058f83cd4b") format("svg");
    }
    @font-face{
        font-family:"VAGRounded-Light";
        src:url("/styles/core/fonts/VAGRounded/9dd81e7a-1707-4dc7-81df-40e93445eba7.eot?#iefix");
        src:url("/styles/core/fonts/VAGRounded/9dd81e7a-1707-4dc7-81df-40e93445eba7.eot?#iefix") format("eot"),url("/styles/core/fonts/VAGRounded/882d2ff7-f20c-4a57-9eef-762dc3771395.woff2") format("woff2"),url("/styles/core/fonts/VAGRounded/8db590ec-51e3-4b26-bd16-e6e2a54b86bd.woff") format("woff"),url("/styles/core/fonts/VAGRounded/28486545-985e-4236-9f9e-75b18b163a00.ttf") format("truetype"),url("/styles/core/fonts/VAGRounded/8f970467-2b07-48c7-90c6-08e5545ad175.svg#8f970467-2b07-48c7-90c6-08e5545ad175") format("svg");
    }
    @font-face{
        font-family:"VAGRounded-Bold";
        src:url("/styles/core/fonts/VAGRounded/79b059b6-2d21-45e5-8b2a-a96e5b2c027f.eot?#iefix");
        src:url("/styles/core/fonts/VAGRounded/79b059b6-2d21-45e5-8b2a-a96e5b2c027f.eot?#iefix") format("eot"),url("/styles/core/fonts/VAGRounded/1932cf6d-7af4-4bca-8c5d-21dbdb848b41.woff2") format("woff2"),url("/styles/core/fonts/VAGRounded/a0ae295c-02a9-4bcd-ab23-4a32452e53c5.woff") format("woff"),url("/styles/core/fonts/VAGRounded/929539b8-d388-43d1-9d5d-8340906d4ab6.ttf") format("truetype"),url("/styles/core/fonts/VAGRounded/ba6c5c16-fa06-4652-a990-818695edf7f1.svg#ba6c5c16-fa06-4652-a990-818695edf7f1") format("svg");
    }

    @font-face{
        font-family:"VAGRounded-Black";
        src:url("/styles/core/fonts/VAGRounded/c7efe5e3-058a-4745-bb0f-5ca39bfd46e3.eot?#iefix");
        src:url("/styles/core/fonts/VAGRounded/c7efe5e3-058a-4745-bb0f-5ca39bfd46e3.eot?#iefix") format("eot"),url("/styles/core/fonts/VAGRounded/74623a02-2313-4f8b-9478-901e6cbd694b.woff2") format("woff2"),url("/styles/core/fonts/VAGRounded/a420c994-dc3d-43df-b2e2-5cc5c4abcdee.woff") format("woff"),url("/styles/core/fonts/VAGRounded/72a5a2ac-a49c-4621-9801-00ab1b690ab4.ttf") format("truetype"),url("/styles/core/fonts/VAGRounded/986e9e8b-bf78-4c69-8522-2454745b9551.svg#986e9e8b-bf78-4c69-8522-2454745b9551") format("svg");
    }



    @font-face{
        font-family:"Geometric706BT-MediumB";
        src:url("/styles/core/fonts/Geometric-StoneInformal/230f83a3-3959-4892-af28-c460a3a85e98.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/230f83a3-3959-4892-af28-c460a3a85e98.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/084b7298-c67e-47ad-ba0e-8185b7c9a67b.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/8ec1aba7-872c-4161-b5db-139e254a67cf.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/113a215f-d0b3-4a36-aa89-061fda75c4a3.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/0b132525-ca2e-45f0-9ea3-0d6dc070de6b.svg#0b132525-ca2e-45f0-9ea3-0d6dc070de6b") format("svg");
    }


	 @font-face{
        font-family:"GeometricSlab703BT-XtraLight";
        src:url("/styles/core/fonts/Geometric-StoneInformal/6930abf6-6941-4a77-937e-650d4903dcbf.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/6930abf6-6941-4a77-937e-650d4903dcbf.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/8d749149-214f-482b-9c36-5ab862c28be5.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/5956503a-9715-4858-a5cd-5754266f3d9f.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/248bb583-a35e-495f-89b0-ce10ead1c214.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/fa7ffc34-3a05-43fc-b5ea-fcb61b437e83.svg#fa7ffc34-3a05-43fc-b5ea-fcb61b437e83") format("svg");
    }

    @font-face{
        font-family:"GeometricSlab703BT-XtraLightItalic";
        src:url("/styles/core/fonts/Geometric-StoneInformal/ee1dfa32-cb4f-4764-9b49-5a904696eecb.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/ee1dfa32-cb4f-4764-9b49-5a904696eecb.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/4c1dc746-0da0-4c78-9478-a7e2a956df7b.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/f83ce10e-3eeb-4f58-a201-bb7b55d6a1ea.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/dd3dc1a2-ee4a-4c32-ac13-7bd491d99f6c.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/ce829a51-647b-4413-945b-92c1a22955c4.svg#ce829a51-647b-4413-945b-92c1a22955c4") format("svg");
    }

    @font-face{
        font-family:"GeometricSlab703BT-XtraMedium";
        src:url("/styles/core/fonts/Geometric-StoneInformal/132742b1-82af-4b51-b10c-3a06062622b0.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/132742b1-82af-4b51-b10c-3a06062622b0.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/174223cc-5b7f-40dd-90fa-ab7db5896932.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/7b73fa27-9de1-4b58-85e6-c82d7ef4219e.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/2e438059-1ff2-4063-be5c-68a9f94c9d1e.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/cf501705-bd49-4d18-9d4c-305de4cfa07c.svg#cf501705-bd49-4d18-9d4c-305de4cfa07c") format("svg");
    }

    @font-face{
        font-family:"GeometricSlab703BT-XtraMediumItalic";
        src:url("/styles/core/fonts/Geometric-StoneInformal/34f7136b-5df1-47cf-b441-0d2c272ffd8a.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/34f7136b-5df1-47cf-b441-0d2c272ffd8a.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/a10a4d38-b16e-4f29-bc2f-a605536b4cf4.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/0a083c5c-7b0e-4867-9efa-1000b608ad2a.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/687d2c3f-c302-4a32-a81c-37bbfc136060.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/a3988f6a-f447-4502-9a22-f0b3cd36ac11.svg#a3988f6a-f447-4502-9a22-f0b3cd36ac11") format("svg");
    }

    @font-face{
        font-family:"GeometricSlab703BT-XtraBold";
        src:url("/styles/core/fonts/Geometric-StoneInformal/80892f3c-b98f-46aa-b241-6151c001b59d.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/80892f3c-b98f-46aa-b241-6151c001b59d.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/42320547-1e9b-4a01-8a58-ba52ac6756c4.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/59343243-3b26-433a-bded-e9b4854cdf1a.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/609508ca-0523-425d-ae66-6ab70a7cdafa.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/f2abb55f-b97b-43a0-afd5-245339fb2ea5.svg#f2abb55f-b97b-43a0-afd5-245339fb2ea5") format("svg");
    }

    @font-face{
        font-family:"GeometricSlab703BT-XtraBoldItalic";
        src:url("/styles/core/fonts/Geometric-StoneInformal/4181573a-6fde-4cb1-a717-b692a1ec8541.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/4181573a-6fde-4cb1-a717-b692a1ec8541.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/1bfedc9d-8ed7-420f-8a10-936a3675c135.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/2df6e735-a66f-49f7-92d6-ab8b3d7d8ddc.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/b834b11d-0034-4e2c-9fca-8522ca06df84.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/2a5edb80-4d93-40c3-91ea-47b1b3190422.svg#2a5edb80-4d93-40c3-91ea-47b1b3190422") format("svg");
    }

    @font-face{
        font-family:"GeometricSlab703BT-XtraBlack";
        src:url("/styles/core/fonts/Geometric-StoneInformal/2ac7d3b8-c869-4794-9f9d-c521404c73a9.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/2ac7d3b8-c869-4794-9f9d-c521404c73a9.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/b5b8889d-8691-4da6-bdba-1fa3b5678587.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/545e7a8c-3454-4669-a2f0-633061b88af7.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/2c90db7c-666e-4348-af7b-ea453c5eeb03.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/57589e19-0f90-4725-8dee-3fef8f3003e1.svg#57589e19-0f90-4725-8dee-3fef8f3003e1") format("svg");
    }

    @font-face{
        font-family:"GeometricSlab703BT-XtraBlackItalic";
        src:url("/styles/core/fonts/Geometric-StoneInformal/963361fb-199f-4e2a-8877-d3ecf52530a6.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/963361fb-199f-4e2a-8877-d3ecf52530a6.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/bce53bbc-44e9-40bd-a684-ed333cd4621b.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/69bf49a9-b221-43bc-9930-6100607b1c9f.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/ba200264-6b3f-4e7b-b9e1-cf7275280831.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/d66ee320-b77f-4535-ae98-4469981d6abf.svg#d66ee320-b77f-4535-ae98-4469981d6abf") format("svg");

    }

    @font-face{
        font-family:"Geometric706BT-BlackB";
        src:url("/styles/core/fonts/Geometric-StoneInformal/54941089-6769-43b3-bec3-35d96993e74c.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/54941089-6769-43b3-bec3-35d96993e74c.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/c3ba4203-1eba-4452-a625-a0d1f6b274b0.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/73ac2689-0419-4aa9-afd7-6726e24909d8.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/031c31fe-43e0-41c7-927e-0e2785a916b4.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/8835d887-541b-47fe-b32c-5e5d1e0b736e.svg#8835d887-541b-47fe-b32c-5e5d1e0b736e") format("svg");
    }

    @font-face{
        font-family:"StoneInformalStd-Medium";
        src:url("/styles/core/fonts/Geometric-StoneInformal/c732a7ee-fa3f-4047-8839-7c70c16885cb.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/c732a7ee-fa3f-4047-8839-7c70c16885cb.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/d1df16d2-a059-48d3-97b6-baea0babe957.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/ba65b342-22a7-4cbe-9929-28dd8bf3271c.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/ae4cfac4-b575-489b-8bf3-62c2f31005c4.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/fe98d84e-610f-47f4-b588-49607c33b8e3.svg#fe98d84e-610f-47f4-b588-49607c33b8e3") format("svg");
    }

    @font-face{
        font-family:"StoneInformalStd-MediumItalic";
        src:url("/styles/core/fonts/Geometric-StoneInformal/7b095859-5299-4e99-b2cd-0b8b53ab60d3.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/7b095859-5299-4e99-b2cd-0b8b53ab60d3.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/8956d85b-45f2-4184-98e7-5035452c5765.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/6522987f-890d-4b1f-bcf3-fa4c9016aceb.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/18cf1d5f-c7a5-4daf-a53e-92a9d848e4e1.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/d709e68e-008b-4362-b31d-f28f815ee731.svg#d709e68e-008b-4362-b31d-f28f815ee731") format("svg");
    }

    @font-face{
        font-family:"StoneInformalStd-SemiBold";
        src:url("/styles/core/fonts/Geometric-StoneInformal/7b363a50-ef74-498b-bcc7-7b18ca77f730.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/7b363a50-ef74-498b-bcc7-7b18ca77f730.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/8899fab9-14cb-4040-9ee4-45a9dbf08137.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/2f27f1a0-6caa-49db-9236-e1a755787578.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/ba96cba3-879b-4926-8d08-613658d6b26f.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/7bed9f89-4041-43c3-8f04-d9636e91272f.svg#7bed9f89-4041-43c3-8f04-d9636e91272f") format("svg");
    }

    @font-face{
        font-family:"StoneInformalStd-SemiBoldItalic";
        src:url("/styles/core/fonts/Geometric-StoneInformal/fe381fb4-2894-4a48-a004-b4b9f6e94ee0.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/fe381fb4-2894-4a48-a004-b4b9f6e94ee0.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/a9801f35-5b7f-4c59-9418-0bb3de81b2db.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/e5597c57-757f-4222-80fe-33a05e280a53.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/ffa7f557-7161-425b-b376-3bbebe353baf.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/c8694c14-bf88-4cf3-93d3-5fffcb0f0ecf.svg#c8694c14-bf88-4cf3-93d3-5fffcb0f0ecf") format("svg");
    }

    @font-face{
        font-family:"StoneInformalStd-Bold";
        src:url("/styles/core/fonts/Geometric-StoneInformal/cbd50184-e14c-4143-a6f4-dd3b510f3d75.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/cbd50184-e14c-4143-a6f4-dd3b510f3d75.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/580202c6-0d37-4c1a-8cc7-850402a4cdb0.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/5edf2fc9-41f1-4801-a7e1-7e6c18416303.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/19510b44-268d-48a2-bffe-b8b00830ec82.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/921938a1-4848-4fe8-9e6d-93ec99c51fe8.svg#921938a1-4848-4fe8-9e6d-93ec99c51fe8") format("svg");
    }

    @font-face{
        font-family:"StoneInformalStd-BoldItalic";
        src:url("/styles/core/fonts/Geometric-StoneInformal/8a459cbc-5194-4760-ad97-291c6469e788.eot?#iefix");
        src:url("/styles/core/fonts/Geometric-StoneInformal/8a459cbc-5194-4760-ad97-291c6469e788.eot?#iefix") format("eot"),url("/styles/core/fonts/Geometric-StoneInformal/6948ee67-5dbc-4542-b5ed-d3f7b51e510e.woff2") format("woff2"),url("/styles/core/fonts/Geometric-StoneInformal/56604abc-be4d-4eb7-b2dd-ff247e46c915.woff") format("woff"),url("/styles/core/fonts/Geometric-StoneInformal/50ca6828-11ea-4bc6-a5e0-e64f589547dd.ttf") format("truetype"),url("/styles/core/fonts/Geometric-StoneInformal/0d37cf80-d138-4e71-86ca-e4cf2c7870a3.svg#0d37cf80-d138-4e71-86ca-e4cf2c7870a3") format("svg");
    }



$fontFamily1: 'LibreFranklin';
$font1: ('family': 'LibreFranklin-Thin', 'weight': 100); // thin
$font2: ('family': 'LibreFranklin-ExtraLight', 'weight': 200); // extralight
$font3: ('family': 'LibreFranklin-Light', 'weight': 300); // light
$font4: ('family': 'LibreFranklin-Regular', 'weight': 400); // regular
$font5: ('family': 'LibreFranklin-Medium', 'weight': 500); // medium
$font6: ('family': 'LibreFranklin-SemiBold', 'weight': 600); // semiBold
$font7: ('family': 'LibreFranklin-Bold', 'weight': 700); // bold
$font8: ('family': 'LibreFranklin-ExtraBold', 'weight': 800); // extraBold
$font9: ('family': 'LibreFranklin-Black', 'weight': 900); // black

$fontFamily2: 'Lato';
$font01: ('family': 'Lato-Hairline', 'weight': 100); // thin
$font02: ('family': 'Lato', 'weight': 200); // extralight
$font03: ('family': 'Lato', 'weight': 300); // light
$font04: ('family': 'Lato-Regular', 'weight': 400); // regular
$font05: ('family': 'Lato', 'weight': 500); // medium
$font06: ('family': 'Lato', 'weight': 600); // semiBold
$font07: ('family': 'Lato-Bold', 'weight': 700); // bold
$font08: ('family': 'Lato', 'weight': 800); // extraBold
$font09: ('family': 'Lato-Black', 'weight': 900); // black

$fontFamily3: 'NeoSansStd';
$fontN5: ('family': 'NeoSansStd-Medium', 'weight': 500); // medium
$fontN7: ('family': 'NeoSansStd-Bold', 'weight': 700); // bold
$fontN9: ('family': 'NeoSansStd-Black', 'weight': 900); // black

$fontFamily4: 'Signika';
$fontS3: ('family': 'Signika-light', 'weight': 300); // light
$fontS4: ('family': 'Signika-Regular', 'weight': 400); // regular
$fontS6: ('family': 'Signika-SemiBold', 'weight': 600);// semibold
$fontS7: ('family': 'Signika-Bold', 'weight': 700); //bold

$fontFamily5: 'CooperStd';
$fontC9: ('family': 'CooperBlackStd', 'weight': 900); // black

$fontFamily6: 'ProximaNova';
$fontP4: ('family': 'ProximaNova-Regular', 'weight': 400); // regular
$fontP5: ('family': 'ProximaNova-Medium', 'weight': 500); // medium
$fontP7: ('family': 'ProximaNova-Bold', 'weight': 700); // bold
$fontP9: ('family': 'ProximaNova-Black', 'weight': 900); // black

$fontFamily7: 'ProximaNovaACond';
$fontPA9: ('family': 'ProximaNovaACond-Black', 'weight': 900); // Altcond-black

$fontFamily8: 'ProximaNova-Extrabld';
$fontPE4: ('family': 'ProximaNova-Extrabld', 'weight': 400); // extraBold


$fontFamily9: 'SlateStd';
$fontSL2: ('family': 'SlateStd-ExtraLight', 'weight': 200); // extralight
$fontSL3: ('family': 'SlateStd-Light', 'weight': 300); // light
$fontSL4: ('family': 'SlateStd', 'weight': 400); // regular
$fontSL5: ('family': 'SlateStd-Medium', 'weight': 500); // medium
$fontSL7: ('family': 'SlateStd-Bold', 'weight': 700); // bold
$fontSL9: ('family': 'SlateStd-Black', 'weight': 900); // black

$fontFamily10: 'SerifaStd';
$fontSE1: ('family': 'SerifaStd-Thin', 'weight': 100); // thin
$fontSE2: ('family': 'SerifaStd-ExtraLight', 'weight': 200); // extralight
$fontSE3: ('family': 'SerifaStd-Light', 'weight': 300); // light
$fontSE4: ('family': 'SerifaStd-Regular', 'weight': 400); // regular
$fontSE7: ('family': 'SerifaStd-Bold', 'weight': 700); // black
$fontSE9: ('family': 'SerifaStd-Black', 'weight': 900); // black

$fontFamily11: 'UtopiaStd';
$fontU4: ('family': 'UtopiaStd-Regular', 'weight': 400); // normal
$fontU6: ('family': 'UtopiaStd-SemiBold', 'weight': 600); // SemiBold
$fontU7: ('family': 'UtopiaStd-Bold', 'weight': 700); // bold

$fontFamily12: 'BasicCommercialLTCom';
$fontB2: ('family': 'BasicCommercialLTCom-ExtraLight', 'weight': 200); // extralight
$fontB4: ('family': 'BasicCommercialLTCom-Roman', 'weight': 400); // regular
$fontB7: ('family': 'BasicCommercialLTCom-Bold', 'weight': 700); // bold
$fontB8: ('family': 'BasicCommercialLTCom-Blk', 'weight': 800); // extraBold

$fontFamily13: 'Canaro';
$fontC1: ('family': 'Canaro-Thin', 'weight': 100); // thin
$fontC2: ('family': 'Canaro-ExtraLight', 'weight': 200); // extralight
$fontC3: ('family': 'Canaro-Light', 'weight': 300); // light
$fontC4: ('family': 'Canaro-Book', 'weight': 400); // regular
$fontC5: ('family': 'Canaro-Medium', 'weight': 500); // medium
$fontC6: ('family': 'Canaro-SemiBold', 'weight': 600); // semiBold
$fontC7: ('family': 'Canaro-Bold', 'weight': 700); // bold
$fontC8: ('family': 'Canaro-ExtraBold', 'weight': 800); // extraBold
$fontC9: ('family': 'Canaro-Black', 'weight': 900); // black

$fontFamily14: 'VAGRounded';
$fontV1: ('family': 'VAGRounded-Thin', 'weight': 100); // thin
$fontV2: ('family': 'VAGRounded-Light', 'weight': 200); // light
$fontV7: ('family': 'VAGRounded-Bold', 'weight': 700); // bold
$fontV9: ('family': 'VAGRounded-Black', 'weight': 900); // black


$fontFamily15: 'GeometricSlab703BT-Xtra';
$fontG2: ('family': 'GeometricSlab703BT-XtraLight', 'weight': 200);// light
$fontG5: ('family': 'GeometricSlab703BT-XtraMedium', 'weight': 500); // light
$fontG7: ('family': 'GeometricSlab703BT-XtraBold', 'weight': 700); // bold
$fontG9: ('family': 'GeometricSlab703BT-XtraBlack', 'weight': 900); // black

$fontFamily16: 'Geometric706BT-B';
$fontGB5: ('family': 'Geometric706BT-MediumB', 'weight': 500); // light
$fontGB9: ('family': 'Geometric706BT-BlackB', 'weight': 900); // black


$fontFamily17: 'StoneInformalStd';
$fontSI5: ('family': 'StoneInformalStd-Medium', 'weight': 500); // light
$fontSI6: ('family': 'StoneInformalStd-SemiBold', 'weight': 600); // semiBold
$fontSI7: ('family': 'StoneInformalStd-Bold', 'weight': 700); //bold


/*block for declaring breakponts*/

$screen-xs-min: 320px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;


/* super science */
$contentTileSubjectBlue: #0054a6 !default;
$contentTileOrangeLine: #ffcb04 !default;

/*Junior content tiles*/

$contentTileSlideshowViolet: #9b59b6;
$contentTileGameOrange: #e67e22;
$contentTileSkillSheetGray: #cbcbcb;
$contentTileActivityYellow: #2ecc71;
$contentTileLessonPlanGreen: #f1c40f;
$contentTileBorderGray: #efefef;
$contentHeaderBorderBlue: #0C5CA8;
$contentTileSubjectRed: #ed1c24;
