.article-resources-main-container {
    &#TeachingResourcesComponent{
             background-color: $bodyGrey;
                   .textHyperlink-container{
						.textHyperlink-wrapper{
							.textHyperlink-text {
								background-color: $bodyGrey;
								padding:0px;
								margin-bottom:13px;
								@include font($fontP9, 28px, 1.14, $gray, -1px);
								padding-left:42px;
							}
						} 
				   }
				.article-resources-content{
				  background: url(../../../../images/lines-grey.png) repeat;
				  padding:0;
				    .article-tiles {
							padding:12px 35px 23px 35px;
							margin-bottom:15.3px;
							
							.col-md-3{
							  padding:0 10px 0 7px;
							  margin-top:10px;
							  margin-bottom:0;
							}
				    }
                     
				}
    }
    
}
