.article-hero-caption-container {
    .article-hero-caption-wrapper {
        .article-hero-caption-title {
            font-family: BasicCommercialLTCom-Roman;
        }
        .article-hero-caption-des {
            font-family: BasicCommercialLTCom-Roman;
        }
    }
}