.marketing-app-tdi-component {
    background-image: radial-gradient(circle at 52% 44%, $white, $sn56GradientBackground);

    &.contentTile {
        padding-bottom: 40px;
        background-color: $sn56BgGrey;

        .app-tdi-content {
            text-align: center;
            padding-bottom: 10px;

            p {
                @include font($fontSE9, 23px, 1.39, $sn56TDIContentTileDescription, 0.7px);
            }
        }

        .app-tdi-header {
            p {
                @include font($fontSE9, 35px, 1.14, $sn56ThickBlueColor, null);
            }
        }
    }

    .app-tdi-header {
        p {
            @include font($fontSE9, 35px, 1.14, $sn56ThickBlueColor, null);
        }
    }

    .app-tdi-content {
        p {
            @include font($fontSL7, 30px, 1.57, $sn56TDIDescription, null);

            .hyperlink {
                @include font($fontSL5, 24px, 1.96, $sn56ContentGrey, null);
            }
        }
    }

    .app-description {
        .desc {
            @include font($fontSL5, 22px, 1.23, $marketingGrey, null);
        }

        .secondary-button {
            background-color: $textHyperlinkColor;
            @include font($fontSL9, 15px, 1.33, $white, 1.2px);
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-tdi-component {
        &.contentTile {
            background-image: radial-gradient(circle at 52% 44%, $white, $sn56Background);

            .app-tdi-content {
                p {
                    @include font($fontSE9, 16px, 1.75, $sn56TDIContentTileDescription, 0.6px);
                }
            }
        }

        .app-tdi-header {
            margin-top: 42px;

            p {
                @include font($fontSE9, 30px, 1, $sn56ThickBlueColor, 1px);
            }
        }

        .app-tdi-content {
            p {
                @include font($fontSL7, 20px, 1.2, $sn56TDIDescription, null);

                .hyperlink {
                    @include font($fontSL5, 14px, 1.71, $sn56ContentGrey, null);
                }
            }
        }

        &.mobileCarousel {
            background-image: radial-gradient(circle at 52% 44%, $white, $sn56MobileCarousel);
        }

        .carousel-container {
            margin-top: 17px;
            margin-bottom: 34%;
        }

        .carousel {
            .carousel-indicators {
                bottom: -15%;
                margin-bottom: 0;
            }
        }

        .app-description {
            .secondary-button {
                display: inline-block;
                padding: 10px 31.22px;
                border-radius: 8px;
            }
        }
    }
}
