<script src="//cdn.livefyre.com/Livefyre.js"> </script>
<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure Media - Comments</div>
<sly data-sly-use.comments="com.scholastic.classmags.migration.controllers.CommentsUse">
	<sly data-sly-test="${comments.siteId && comments.networkName}">	
		<script>
		var networkConfig = {
		  network: ${comments.networkName @context= 'scriptComment'}
		};
		  
		var convConfig = {
		  siteId: ${comments.siteId @context= 'scriptComment'},
		  articleId: ${comments.articleId @context= 'scriptComment'},
		  el: 'livecomments',
		  checksum: ${comments.checkSum @context= 'scriptComment'},
		  collectionMeta: ${comments.metaToken @context= 'scriptComment'}
		};
		
		Livefyre.require([
		  'fyre.conv#3', 
		  'auth'], 
		  function (Conv, auth) {
		    new Conv(networkConfig, [convConfig], function (commentsWidget) {}());
		   auth.delegate({
		    login: function (cb) {
		      cb(null,{livefyre:${comments.metaToken @context= 'scriptComment'}});
		    },
		    logout: function (cb) {
		      cb(null);
		    },
		    viewProfile: function (author) {
		      console.log(author);
		    },
		    editProfile: function (author) {
		      console.log(author);
		    }
		  }); 
		});
		
		      
		</script>
		
		<div id="livecomments">
		</div>
	</sly>	
</sly>