.current-issue-hero-component {
    /*margin: 0 40px;*/
    background-color: $juniorLiteGray;
    .current-issue-tile-wrapper {
        margin-top: 0;
    }
    .past-issue-wrapper {
        margin-left: 0;
        .past-issue-image-wrapper {
            padding-right: 5px;
            .current-issue-img-center {
                max-width: 265px !important; /* In Junior Magazine current issue image has different width as compare to science world that is why we have given !important here */
                
                max-height: 355px !important; /* In Junior Magazine current issue image has different height as compare to science world that is why we have given !important here */
                margin: 0;
            }
        }
    }

    .hero-component-title-des { 
        
        @include font($fontP9, 28px, 1.14, $gray, -1px);
        a {
            @include font($fontP9, 28px, 1.14, $gray, -1px);
        }
    }
    .highlights-issue-date {
        display: block;
        
        .current-issue-highlights-text-container {
            border-bottom: 2px solid $juniorCurrentIssueBottomBorder;
            padding-bottom: 2px;
            margin-bottom: 26px;
            .issue-date {
                display: inline-block;
                height: 30px;
                padding: 2px 0 0 18px;
                border-left: 2px solid $black;
                vertical-align: top;
                @include font($fontP7, 20px, 1.2, $gray, 0.5px);
            }
            .current-issue-highlights-text {
                @include font($fontP9, 28px, 1.14, $gray, -1px);
                display: inline-block;
                padding-right: 10px;
                text-transform: uppercase;
                margin: 0;
            }
        }
    }
    &.past-issue-list-main-container {
        .past-issue-list-sub-container {
            margin: 0 40px;
            .pci-resources-container {
                .past-issue-list-main-content {
                     padding: 0;
                    .current-issue-img-pad-container {
                           padding: 0;
                    }
                    a {
                        .explore-latest-button {
                            max-width: 265px;
                            @include font($fontPE4, 14px, 1.43, $black, 0.3px);
                            background-color: $juniorSearchButtonGreen;
                            margin: 0;
                        }
                    }
                    
                    .tile-wrapper-past-date {
                              padding: 0;
                        
                        .date-tile-wrapper-center {
                            .past-issue-date-container {
                                display: none;
                            }
                        }
                    }
                    .explore-button-link {
                        bottom: 41px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .current-issue-hero-component {
        .current-issue-tile-wrapper {
          margin: 0;
            padding: 0;
            .current-issue-content-tiles {
                /*padding: 0;*/
                .junior-content-tile-container{
                    float: right;
                }
            }
        }
        &.past-issue-list-main-container {
            .past-issue-list-sub-container {
                margin: 0 40px;
                .pci-resources-container {
                    .past-issue-list-main-content {
                        a{
                            .explore-latest-button{
                                width: 97%;
                            }
                        }
                        .current-issue-img-pad-container {
                            padding: 0;
                            width: 20.25%;
                        }
                        .tile-wrapper-past-date {
                            padding: 0;
                            width: 79.75%;
                        }
                        .explore-button-link {
                            bottom: 46px;
                        }
                    }
                }
            }
        }
    }
}
