.contact-us-layout {
     
    .contact-us-wrapper {

        .contact-us-container {            
            .contactus-right-container{
                padding-top: 2px;
                .contact-info {                
                    padding-right: 87px;

                    .contact-info-bar {
                        transform: skew(0);
                        border-radius: 8px;
                        background: $superScienceGrey;
                        border: solid 2px $superScienceBorderGrey; 
                        margin-left: 0; 
                                            
                        ul {

                            transform: skew(0);
                             padding: 28.5px 24px 28.5px 32px;

                            li {
                                border-right: 2px solid $superScienceBorderGrey;
                                p {
                                    @include font($fontS7, 20px, 1.2, $darkNavyBlue, 0.6px);
                                    margin-bottom: 3px;
                                    
                                }
                                .contact-detail-text {
                                    @include font($font07, 16px, 1.88, $black, 0.5px);
                                    .sw-icon.phone-icon {
                                        background-position: -231px -336px;
                                    }
                                    &.email-text {
                                        line-height: 1;
                                        padding-top: 5px;                                    
                                    }
                                }
                                .info-text {
                                    display: block; 
                                    line-height: 1.15;
                                    margin-left: 24px;                               
                                }
                            }
                    
                        }            
                    }

               
                }
                .contact-form-questions {
                     margin-top: 64px;
                    .question-row {
                        margin-bottom: 41px;
                        .sl-no {
                            width: 36px;
                            height: 36px;
                            background: $superScienceSkyBlue;
                            transform: skew(0deg);
                            @include font($fontS7, 22px, 1, $white, 1.2px);
                            padding: 7px 0;
                            margin-left: 15px;
                            border-radius: 36px;
                            span {
                                transform: skew(0deg);
                            }
                        }

                        .question-container { 
                            padding-left: 17px;
                            p {
                                @include font($fontS7, 22px, 1, $black, 1px);
                                margin-bottom: 19px;
                            }
                            label {
                                @include font($font04, 18px, 1.22, $black, 1px);
                            }
                            select {
                                border: 1px solid $superScienceSelectBorder;
                                @include font($font04, 14px, 1.1, $black, 0.8px);
                                background: $superScienceSelectBg url(../../../images/icons/superscience-dropdown-arrow.png) no-repeat;
                                background-position: right 14px center;
                            }
                        }
                    }

                    .contact-form-container {
                            .contact-form {
                                .contact-form-row {                                    
                                    label {
                                        @include font($font04, 16px, 1.38, $black, 0.9px);
                                    }
                                    input[type="text"], input[type="email"], select, textarea {
                                        background: $superScienceSelectBg;
                                        border: 1px solid $superScienceSelectBorder;
                                        @include font($font04, 14px, 1, $black, 0.8px);
                                    }
                                    select {
                                        background: $superScienceSelectBg url(../../../images/icons/superscience-dropdown-arrow.png) no-repeat;
                                        background-position: right 14px center;
                                    }  
                                          
                                }

                                .required-text {
                                    @include font($font04, 12px, 1.83, $superScienceRequiredTextGrey, 0.7px);
                                }
                                .contact-submit-btn {
                                    background: $superScienceSearchButtonOrange;   
                                    @include font($font09, 13px, 1.54, $white, 1px);
                                }
                            }
                            .contact-form{
                                &.col-md-6.padL14 {
                                    padding-left: 14px;
                                }
                                .contact-form-row .alert-success{
                                    margin-left: -18px;
                                }
                            }
                            .contact-form-image {
                                padding-left: 10px;
                            }
                        }
                }
                
            
            }
        }
    }

}