.common-header {
    margin-top: 30px; //Remove this while integrating
    background: url('../../../images/lines-grey.png') repeat;
    min-height: 130px;

    &-title {
        background: $yellow;
        height: 90px;
        padding: 27px 39px 31px 38px;
        margin-left: 19%;
        margin-top: 40px;
        display: inline-block;
        opacity: 0.9;

        &-text {
            @include font($fontN5, 40px, 0.8, $black, 1.4px);
        }
    }
}
