.error-page-wrapper {
	background: url("../../../images/lines-grey.png") repeat;
	.mar0 {
		margin: 0;
	}
	.error-page {
		margin: 0 auto;
		padding: 0;
		float: none;

		.error-page-container {
			width: 100%;
			min-height: 723px;
			background-position: right top;
			margin: 0 0 0 8px;
			background-color: $white;
			.error-page-content {
				text-align: center;
				padding-right: 0;
				padding-left: 39px;
				margin-top: 142px;
				h2 {
					@include font($fontN5, 78px, 0.9, $errorPageBlack, 0.1px);
					text-align: center;
					margin: 0;
				}
				p {
					@include font($font04, 16px, 1.5, $black, 0.5px);
					text-align: center;
					padding: 0;
					margin-top: 15px;
					margin-left: 11px;
				}
				.error-btn {
					@include font($font07, 14px, 1, $black, 0.6px);
					background: $errorPageYellow;
					min-width: 165px;
					height: 34px;
					margin-top: 37px;
					padding: 10px 0;
					text-align: center;
					border: 0 none;
					border-radius: 50px;
					margin-left: 2px;
				}
			}
		}
	}
}
