<!DOCTYPE html>
<html>

<head>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css" />
    <style>
        /*
    .spinnercontainer {
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.3;
        top: 0;
        left: 0;
        position: absolute;
    }
    
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
        text-align: center;
    }
        */
    </style>
</head>

<body ng-app="scienceWorld">
    <div ng-controller="spinnerController" class="">
        <div>
            <button ng-click="btnClick()">loader</button>
        </div>
        <div ng-class="{'in':isSpinnerShow}" class="spinnercontainer">
            <img src="../../../images/icons/spinner.gif">
        </div>
    </div>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../app.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="spinnerController.js"></script>
</body>

</html>
