.past-issue-list-main-container {
	.past-issue-list-main-content {
		a {
			.explore-latest-button {
				background-color: $mathCurrIssueButtonBlue;
				@include font($fontC7, 12px, 1.17, $white, 1px);
			}
		}

		.tile-wrapper-past-date {
			.past-issue-date-container {
				border-bottom-color: $black;
				padding-bottom: 13px;

				&:after,
				&:before {
					width: 8px;
					height: 8px;
					position: absolute;
					content: '';
					top: 92%;
					background-color: $black;
					border-radius: 100%;
				}

				&:after {
					right: 0;
				}

				&:before {
					left: 0;
				}
			}
		}
	}
}

@include respond-to ('medium-and-up') {
	.past-issue-list-main-container {
		.past-issue-list-main-content {
			.tile-wrapper-past-date {
				.date-tile-wrapper-center {
					.past-issue-date-container {
						border-bottom-color: $black;
					}
				}
			}
		}
	}
}
