.error-page-wrapper {	
	background: url("../../../images/ss-lines.jpg") repeat;
	.error-page {
		.error-page-container {
			padding-left: 55px;
			margin-left: 2px;
			.error-page-content {
				padding-right: 21px;
				padding-left: 0px;
				margin-top: 129px;
				h2 {
					@include font($fontS7, 78px, 0.9, $errorPageBlack, 0.1px);
				}
				p {
					@include font($font04, 16px, 1.5, $black, 0.5px);
					margin-top: 10px;
					margin-left: 0;
				}
				.error-btn {
					@include font($font09, 13px, 1.54, $white, 1px);
					background: $ssErrorPageOrange;
					min-width: 216px;
					height: 40px;
					margin-top: 40px;
					margin-left: 2px;
				}
			}
		}
	}
}