<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure Topics</div>
<div data-sly-use.topic="com.scholastic.classmags.migration.controllers.TopicsUse" data-sly-list="${topic.topics}" data-sly-unwrap>	
	<label for="${itemList.index}">
	<input id="${itemList.index}" type="radio" radiogroup="help" name="help" value="${item}" ng-init="helpOptions[${itemList.index}]=false" ng-click="onSelectOptionsChange('${item}', ${itemList.index})"/> 
		<span class="sw-icon radio-unchecked-icon" ng-class="{'checked': (helpOptions[${itemList.index}]==true)}">
		</span>
		<span class="radio-text">${item}</span> </label>
</div>