<div>
    <div data-sly-resource="${'global-navigation-container' @ resourceType='scholastic/classroom-magazines-migration/components/content/global-nav-container'}"></div>
    <div data-sly-resource="${'marketing-global-navigation-container' @ resourceType='scholastic/classroom-magazines-migration/components/content/CM-Marketing/marketing-global-nav-container'}"></div>
</div>
<div>
	<sly data-sly-resource="${ @path='data-page-par', resourceType='wcm/foundation/components/parsys'}"></sly>
</div>
