<!DOCTYPE html>
<html>

<head>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="ng-cloak">
        <div class="container-fluid app-nav-bar-main-container" ng-controller="globalNavigationController" ng-init="searchPagePath='/content/test_folder/scienceworld/search';recordsPerPage=12;">
            <input id="sw-sdm-home-page-logged-in" type="hidden" value="http://www.google.com"/>
            <input id="sw-sdm-home-page-logged-out" type="hidden" value="http://www.yahoo.com"/>

            <!-- home page logged in ${globalNavContainerUse.homePageLoggedIn} -->
            <!-- home page logged out ${globalNavContainerUse.homePageLoggedOut} -->

            <div class="global-nav-container">
                <nav class="navbar navbar-default app-navbar-header">
                    <div class="row app-nav-primary">
                        <div class="col-xs-12 col-sm-12">
                            <div class="row navbar-header app-nav-header">
                                <div class="col-xs-2 col-sm-1 menu-icon-block">
                                    <button class="navbar-toggle collapsed pull-left nav-header-item nav-menu-icon" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="menu-link" class="col-xs-2 col-sm-1 navbar-toggle pull-left nav-header-item menu-link-block" data-toggle="collapse" data-target=".navbar-collapse">
                                    <a href="" class="nav-menu-link">MENU</a>
                                </div>
                                <div class="col-xs-5 col-sm-4 navbar-toggle pull-left nav-header-item search-logo-block">
                                    <a href="" class="magazine-logo-tablet-mobile"></a>
                                </div>
                                <div class="col-sm-4 nav-header-item navbar-toggle pull-left" data-target=".navbar-collapse">
                                    <!--
                                    <form class="navbar-form nav-search-form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Keyword">
                                        </div>
                                        <button type="submit" ng-click="search('/content/classroom-magazines/science-world/issues/search.html')" class="btn btn-default">Search</button>
                                    </form>
                                    -->
                                    <form class="navbar-form nav-search-form">
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <button type="submit" class="input-group-addon">Search</button>
                                    </form>
                                </div>
                                <div class="col-xs-1 col-sm-1 navbar-toggle nav-search-icon pull-left nav-header-item search-icon-block" data-toggle="collapse" data-target=".navbar-collapse">
                                    <!-- <img src="../../images/globalNav/search-icon.png" class="header-icon" /> -->
                                    <span class="header-icon sw-icon search-icon"></span>
                                </div>
                                <div class="col-xs-2 col-sm-1 navbar-toggle nav-header-item pull-left profile-icon-block" data-toggle="collapse" data-target=".navbar-collapse">
                                    <!-- <img class="pull-right" src="../../images/globalNav/profile-icon.png" /> -->
                                    <span class="pull-right sw-icon person-icon"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" id="nav-primary-block">
                            <div class="row collapse navbar-collapse">
                                <div class="col-md-12 nav-primary-items">
                                    <ul class="nav navbar-nav menu-list">
                                        <!-- Latest Issue-->
                                        <li class="dropdown js-dropdown hidden-nav science-logo">
                                            <a href="" ng-click="userRedirection()"></a>
                                        </li>
                                        <!-- Latest Issue-->
                                        <li class="dropdown js-dropdown">
                                            <a class="app-nav-main-item-link" tabindex="0" data-toggle="dropdown" data-submenu="">Latest Issue</a>
                                            <ul class="dropdown-menu js-dropdown-menu">
                                                <li class="dropdown-submenu js-dropdown-submenu">
                                                    <a tabindex="0">Action</a>
                                                    <ul class="dropdown-menu js-dropdown-submenu-menu">
                                                        <li><a tabindex="0">Sub action</a></li>
                                                        <li><a tabindex="0">Something else here</a></li>
                                                    </ul>
                                                </li>
                                                <li><a tabindex="0">Something else here</a></li>
                                                <li><a tabindex="0" href="http://www.google.com">Separated link</a></li>
                                            </ul>
                                        </li>
                                        <!-- Past Issues-->
                                        <li class="dropdown js-dropdown">
                                            <a class="app-nav-main-item-link" tabindex="0" data-toggle="dropdown" data-submenu="">All Issues</a>
                                            <ul class="dropdown-menu js-dropdown-menu">
                                                <li class="dropdown-submenu js-dropdown-submenu">
                                                    <a tabindex="0">Action</a>
                                                    <ul class="dropdown-menu js-dropdown-submenu-menu">
                                                        <li><a tabindex="0">Sub action2</a></li>
                                                        <li><a tabindex="0">Something else here2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a tabindex="0">Something else here2</a></li>
                                                <li><a tabindex="0">Separated link2</a></li>
                                            </ul>
                                        </li>
                                        <!-- Videos -->
                                        <li class="dropdown js-dropdown">
                                            <a class="app-nav-main-item-link" tabindex="0" data-toggle="dropdown" data-submenu="">Videos</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu">
                                                    <a tabindex="0">Action</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a tabindex="0">Sub action</a></li>
                                                        <li><a tabindex="0">Something else here</a></li>
                                                    </ul>
                                                </li>
                                                <li><a tabindex="0">Something else here</a></li>
                                                <li><a tabindex="0">Separated link</a></li>
                                            </ul>
                                        </li>
                                        <!-- Breaking News -->
                                        <li class="dropdown js-dropdown">
                                            <a class="app-nav-main-item-link" tabindex="0" data-toggle="dropdown" data-submenu="">Breaking News</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu">
                                                    <a tabindex="0">Action</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a tabindex="0">Sub action</a></li>
                                                        <li><a tabindex="0">Something else here</a></li>
                                                    </ul>
                                                </li>
                                                <li><a tabindex="0">Something else here</a></li>
                                                <li><a tabindex="0">Separated link</a></li>
                                            </ul>
                                        </li>
                                        <li class="js-dropdown hidden-nav">
                                            <a class="app-nav-main-item-link delimitter" tabindex="0">
                                                <img src="../../images/globalNav/delimitter-vertical.png" />
                                            </a>
                                        </li>
                                        <li class="dropdown js-dropdown">
                                            <a class="app-nav-main-item-link magazine" tabindex="0"> All our magazines</a>
                                        </li>
                                        <li class="login-control hidden-nav pull-right" ng-if="isLoggedIn">
                                            <ul>
                                                <li data-toggle="modal" data-target="#myModal" class="login-modal pull-right">
                                                    <a href="" ng-click="hideWait()">Login</a>
                                                </li>
                                                <li class="nav-subscribe-text">
                                                    <a class="subscribe-text" href="www.google.com">Not a subscriber? <b class="font-wt-black">Subcribe now</b></a>
                                                </li>
                                            </ul>
                                        </li>



                                        <!-- login dropdown starts here -->
                                        <li class="logged-in-dropdown pull-right" ng-if="!isLoggedIn">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle login-toggle">
                                                <span class="sw-icon person-icon"></span>
                                                <!-- <span class="sw-icon user-dropdown-white-arrow"></span> -->
                                                <!--<img ng-src="{{profileLink}}">-->
                                            </a>
                                            <ul class="dropdown-menu login-menu">
                                                <li class="dropdown-title">welcome Beth<b>&nbsp;&nbsp;{{profileName}}</b></li>
                                                <li class="my-dash-board">
                                                    <span class="sw-icon dash-board-icon"></span>
                                                    <a class="dash-board-name">My Dashboard</a>
                                                </li>

                                                <li class="log-out">
                                                    <span class="sw-icon log-out-icon"></span>
                                                    <a class="log-out-name">Log Out</a>
                                                </li>
                                                
                                                <li class="border-divider"></li>
                                                <li class="subscription">Current Subscriptions</li>
                                                <li class="col-md-12 image-column">
                                                    <div class="col-md-6">
                                                    <sw-image src="../../images/Dropdown.png" alt="Login Image" height="auto" width="85px"></sw-image>
                                                    <a class="img-name">ScienceWorld</a>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <sw-image src="../../images/Dropdown.png" alt="Login Image" height="auto" width="85px"></sw-image>
                                                    <a class="img-name">Scholastic News 3</a>
                                                    </div>
                                                </li>

                                                <li class="col-md-12 image-column">
                                                    <div class="col-md-6">
                                                    <sw-image src="../../images/Dropdown.png" alt="Login Image" height="auto" width="85px"></sw-image>
                                                    <a class="img-name">ScienceWorld</a>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <sw-image src="../../images/Dropdown.png" alt="Login Image" height="auto" width="85px"></sw-image>
                                                    <a class="img-name">Scholastic News 3</a>
                                                    </div>
                                                </li>
                                                <li class="subscription-link">
                                                <a href="" class="subscriptions">See All Subscriptions</a>
                                                <span class="sw-icon  right-arrow subscriptions-arrow-icon"></span>
                                                </li>
                                            </ul>
                                        </li>
                                         <li class="dropdown js-dropdown pull-right" ng-if="isLoggedIn">
                                            <a class="app-nav-main-item-link magazine bookmarks" tabindex="0"> My Bookmarks</a>
                                        </li>
                                        <li class="nav-control hidden-nav pull-right">
                                            <!--
                                            <form class="navbar-form navbar-left nav-search-form">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" ng-model="searchText" placeholder="Enter Keyword">
                                                </div>
                                                <button type="submit" ng-click="search('/content/classroom-magazines/science-world/issues/search.html')" class="btn btn-default">Search</button>
                                            </form>
                                            -->
                                            <form class="navbar-form nav-search-form">
                                                <input type="text" class="form-control" placeholder="Enter Keyword">
                                                <button type="submit" class="input-group-addon">Search</button>
                                            </form>
                                        </li>
                                        <!-- login drop down ends here -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row collapse navbar-collapse app-navbar-secondary">
                        <ul id="secondary-items-nav" class="nav navbar-nav menu-list secondary-items">
                            <li>
                                <a class="explore" href="">Explore: </a>
                            </li>
                            <li>
                                <a href="">American History</a>
                            </li>
                            <li>
                                <a href="">Current Events</a>
                            </li>
                            <li>
                                <a href="">Geography</a>
                            </li>
                            <li>
                                <a href="">International</a>
                            </li>
                            <li>
                                <a href="">World History</a>
                            </li>
                            <li class="see-all-subjects">
                                <a class="subjects" href="">See All Subjects</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="mobile-hover">
                <div class="pop-over-menu-div">
                    <div class="nav-mobile-icons">
                        <span class="pull-left popover-icon"><a class="glyphicon glyphicon-arrow-left menu-back"></a></span>
                        <span class="pull-right popover-icon"><a class="glyphicon glyphicon-remove menu-close"></a></span>
                    </div>
                    <div class="js-nav-menu">
                    </div>
                </div>
            </div>
            <div id="font-load-LatoR">&nbsp;</div>
            <div id="font-load-LatoB">&nbsp;</div>

            <!-- modal starts here -->
            <div class="loginPrompt-wrapper">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog login-dialog" role="document">
                        <div class="modal-content login-content">
                            <div class="modal-close-button close-notsubscribe-modal">
                                <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close" ng-click="goBack()">
                                    <span aria-hidden="true">
                                        <span class="sw-icon close-big-icon"></span>
                                    </span>
                                </button>
                            </div>
                            <div class="login-content-wrapper">
                                <div class="modal-header login-header">
                                    <h4 class="modal-title login-title" id="myModalLabel">Log into your account</h4>
                                </div>
                                <div class="modal-body login-body" ng-show="!showWait">
                                    <div class="row nomarLR">
                                        <div class="col-xs-offset-1 col-xs-5 teacher-block">
                                            <span class="sw-icon login-teacher-icon"></span>
                                        </div>
                                        <div class="col-xs-4 student-block">
                                            <span class="sw-icon login-student-icon"></span>
                                        </div>
                                    </div>
                                    <div class="row nomarLR selector-section">
                                        <div class="col-xs-offset-1 col-xs-5">
                                            <div class="teacher-sec">
                                                <form>
                                                    <label for="teacher">
                                                    <input class="teacher-selector" type="radio" name="role" id="teacher" value="teacher" ng-model="isOptionSelected" ng-click="login('${properties.sdmTeacherLoginUrl}', 'staff')" />
                                                    <span class="sw-icon radio-unchecked-icon"></span>
                                                    <span>I am a teacher</span></label>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="student-sec">
                                                <form>
                                                    <label for="student">
                                                    <input class="student-selector" type="radio" name="role" value="student" id="student" ng-model="isOptionSelected" ng-click="login('${properties.sdmStudentLoginUrl}', 'student')" />
                                                    <span class="sw-icon radio-unchecked-icon"></span>
                                                    <span>I am a student</span></label>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="subscriber-sec">
                                        <p>Are you already a subscriber but don't have an account yet?</p>
                                        <a href="${properties.sdmCreateAccountUrl}">Create an account now</a>
                                    </div>
                                    <div class="row nomarLR notyet-subscriber-sec">
                                        <div class="border-section">
                                            <div class="middle-border"></div>
                                        </div>
                                        <p class="not-yet-subscribe">
                                            <span>Not yet a subscriber?</span></p>
                                        <div class="col-xs-6">
                                            <a href="" id="subscribe-now-link">Subscribe now</a>
                                            <p class="description">to receive access to our website and our print magazine.</p>
                                            <p class="teachers-only">(Teachers only)</p>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="">Browse a sample issue</a>
                                            <p class="description">to learn more about what Scholastic offers.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body login-body" ng-show="showWait">
                                    <div class="login-wait">
                                        <div class="row">
                                            <img src="../../../images/globalNav/login-loading-icon.png" />
                                        </div>
                                        <div class="row">
                                            <p>You are being redirecting to Scholastic's authentication page...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer goback-footer-sec" ng-show="showWait">
                                    <div class="go-back-footer" data-dismiss="modal" ng-click="goBack()">
                                        <span><img src="../../../images/globalNav/go-back-icon.png"/></span>
                                        <span>GO BACK</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loginPrompt-wrapper">
                <div class="modal fade" id="sw-authorize-login-prompt-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog login-dialog" role="document">
                        <div class="modal-content login-content">
                            <div class="modal-close-button">
                                <button type="button" class="close close-button" aria-label="Close" id="sw-authorize-login-prompt-close">
                                    <span aria-hidden="true">
                                        <span class="sw-icon close-big-icon"></span>
                                    </span>
                                </button>
                            </div>
                            <div class="modal-header login-header">
                                <h4 class="modal-title login-title" id="myModalLabel">
                                Not yet a subscriber?</h4>
                            </div>
                            <div class="modal-body login-body js-sw-login-modal-body" id="swModelshowBody">
                                <div class="col-xs-offset-3 col-xs-6 notyet-subscriber-sec subscribe-now">
                                    <a href="" id="subscribe-now-link2">Subscribe now</a>
                                    <p class="description">to receive access to our website and our print magazine.</p>
                                    <p class="teachers-only">(Teachers only)</p>
                                </div>
                                <div class="border-sec-notyetsubscribe">
                                    <div class="middle-border"></div>
                                </div>
                                <div class="row nomarLR not-yet-login-account">
                                    <p>Log into your account</p>
                                </div>
                                <div class="row nomarLR">
                                    <div class="col-xs-offset-1 col-xs-5 not-subscribe-teacher-block">
                                        <span class="sw-icon login-teacher-icon"></span>
                                    </div>
                                    <div class="col-xs-4 student-block">
                                        <span class="sw-icon login-student-icon"></span>
                                    </div>
                                </div>
                                <div class="row nomarLR selector-section">
                                    <div class="col-xs-offset-1 col-xs-5">
                                        <div class="col-xs-offset-1 teacher-sec">
                                            <form>
                                                <label for="teacher"><input class="teacher-selector" type="radio" name="role" id="teacher" value="teacher" ng-model="isOptionSelected" ng-click="login('${properties.sdmTeacherLoginUrl}', 'staff')" />
                                                <span class="sw-icon radio-unchecked-icon"></span><span>I am a teacher</span></label>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="student-sec">
                                            <form>
                                                <label for="student"><input class="student-selector" type="radio" name="role" value="student" id="student" ng-model="isOptionSelected" ng-click="login('${properties.sdmStudentLoginUrl}', 'student')" />
                                                <span class="sw-icon radio-unchecked-icon"></span>
                                                <span>I am a student</span></label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="subscriber-sec bottom-subscribe-sec">
                                    <p>Are you already a subscriber but don't have an account yet?</p>
                                    <a href="">Create an account now</a>
                                </div>
                            </div>
                            <div class="modal-body login-body js-sw-login-modal-wait">
                                <div class="login-wait">
                                    <div class="row">
                                        <img src="../../../images/globalNav/login-loading-icon.png" />
                                    </div>
                                    <div class="row">
                                        <p class="redirect-massage">You are being redirecting to Scholastic's authentication page...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer goback-footer-sec js-sw-login-modal-wait">
                                <div class="go-back-footer" data-dismiss="modal" ng-click="goBack()">
                                    <span><img src="../../../images/globalNav/go-back-icon.png"/></span>
                                    <span id="modal-go-back">GO BACK</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal ends here -->
            <div id="sdm-nav" class="sdm-nav"></div>
        </div>
    </div>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../../../bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/bootstrap-submenu.js"></script>
    <script src="../app.js"></script>
    <script src="../login/authorizationService.js"></script>
    <script src="../login/authorizeDirective.js"></script>
    <script src="globalNavigationController.js"></script>
    <script src="../common/swImage/swImageDirective.js"></script>
</body>

</html>
