.tab-component-layout {
    .main-tabs {
        border-bottom: 4px solid $liteBlue2;
        padding-left: 40px;
        padding-right: 40px;
        position: relative;

        li {
            background-color: transparent;
            border-right: 0;
            position: relative;
            padding-right: 4px;
            text-align: center;

            &:last-child {
                padding-right: 0;
            }

            a {
                border-top-left-radius: 43px;
                border-top-right-radius: 49px;
                background-color: $tabComponentGreyBackground;
                height: 54px;
                margin-right: 0;
                border: none;
                padding-right: 20px;
                padding-top: 19px;
                padding-bottom: 14px;

                &:active,
                &:focus,
                &:hover {
                    border-top-left-radius: 43px;
                    border-top-right-radius: 49px;
                    border: 0;
                    background-color: $tabComponentGreyBackground;
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 31px;
                    height: 100%;
                    background-color: $tabComponentGreyBackground;
                    left: 2px;
                    top: 0;
                    border-top-left-radius: 0;
                    transform: skewX(-10deg);
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 36px;
                    height: 100%;
                    background-color: $tabComponentGreyBackground;
                    right: 3px;
                    top: 0;
                    border-top-right-radius: 0;
                    transform: skewX(10deg);
                }

                span {
                    &.tab-names {
                        @include font($font07, 13px, 1.08, $TabInactiveColor, 0.9px);
                        display: inline-block;
                        width: 71%;
                        text-transform: uppercase;
                        word-wrap: break-word;
                    }
                }
            }

            &.active {
                border-bottom: none;
                border-right: 0;

                a {
                    background-color: $liteBlue2;
                    position: relative;
                    border-right: 0;

                    &:active,
                    &:after,
                    &:before,
                    &:focus,
                    &:hover {
                        background-color: $liteBlue2;
                    }

                    &:before {
                        width: 31px;
                        height: 100%;
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 2px;
                        right: auto;
                        border-top-left-radius: 0;
                        transform: skewX(-10deg);
                        border-top: 0;
                        border-left: 0;
                    }

                    span {
                        &.tab-names {
                            @include font($font07, 13px, 1.08, $white, 0.9px);
                        }
                    }
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .tab-component-layout {
        .main-tabs {
            li {
                a {
                    span {
                        &.tab-names {
                            display: inline-block;
                            width: 60%;
                            word-break: break-all;
                        }
                    }
                }
            }
        }
    }
}

@include respond-to ('small') {
    .tab-component-layout {
        .main-tabs {
            li {
                a {
                    span {
                        &.tab-names {
                            display: inline-block;
                            width: 67%;
                            word-break: break-all;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    .tab-component-layout {
        .main-tabs {
            li {
                a {
                    span {
                        &.tab-names {
                            width: 81%;
                        }
                    }
                }
            }
        }
    }
}
