<div data-sly-resource="${'eReader' @ resourceType='scholastic/classroom-magazines-migration/components/content/ereader-configuration'}"></div>
<div data-sly-resource="${'entitlement' @ resourceType='scholastic/classroom-magazines-migration/components/content/entitlement'}"></div>
<div>
    <sly data-sly-resource="${ @path='par', resourceType='wcm/foundation/components/parsys'}"></sly>
</div>
