.recent-issues-container {
        background-color: $dynamathBackgroundGrey;
        padding-top: 15px;
    .recent-issue-content-wrapper {
        .recent-issue-date {
            @include font($fontPE4, 20px, 1, $black);
        }
    }
}
