.article-resources-main-container {
    &#TeachingResourcesComponent{
        background-color: transparent;
        .textHyperlink-hash-container{
               display:none;
        } 
        .textHyperlink-container{
            .textHyperlink-wrapper{
                overflow: hidden;
                .textHyperlink-text{
                    @include font($fontK9, 28px, 1.14, $black, 1.5px);
                    padding-bottom:31px;
                    text-transform: capitalize;
                    padding-left: 40px;
                }
            } 
        }  
        .article-resources-content{
            padding-bottom: 49px;
          .article-resources-heading{
            .article-title{
               // @include font($fontP7, 16px, 1.5, $black, 0.5px);
            }
          }
        }
    }   
}
