.marketing-app-hero-banner {
    .app-banner-component {
        .app-banner-content-image {
            padding-left: 0px;
            padding-right: 0px;
            display: none;
        }
    }
    .arrow-image {
        position: absolute;
        bottom: -38px;
        height: 76px;
        width: 100%;
        left: 0;
    }
    .app-banner-content {
        .app-banner-details {
            width: inherit;
            text-align: center;
            margin-top: 19.712%;
            padding: 0;
            .banner-title {
                text-align: center;
                margin: 0 157px;
                @include font($fontSE9, 65px, 0.89, $white, null);
            }
            .banner-desc {
                text-align: center;
                @include font($fontSL7, 31.5px, 1.21, $yellow);
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-hero-banner {
        .arrow-image {
            display: block !important;
            position: absolute;
            bottom: -38px;
            height: 76px;
            width: 100%;
            left: 10px;
        }
        .app-banner-content {
            .app-banner-details {
                margin-top: 140px;
                .banner-title {
                    @include font($fontSE9, 29px, 0.9, $white);
                    margin: 0 23px;
                    padding-bottom: 11px;
                }
                .banner-desc {
                    @include font($fontSL7, 18px, 1, $yellow, 0.5px);
                    margin: 0 31px;
                }
            }
        }
    }
}

@include respond-to ('medium-and-down') {
    .marketing-app-hero-banner {
        .arrow-image {
            background: url('../../../images/CM-Marketing/down_arrows_mobile.png') no-repeat center;
            left: 0;
        }
    }
}

@include respond-to ('small-and-medium') {
    .marketing-app-hero-banner {
        .app-banner-component {
            .app-banner-content-image {
                padding-left: 0px;
                padding-right: 0px;
                margin-top: 90px;
            }
            .app-banner-content {
                .app-banner-details {
                    .banner-title {
                        @include font($fontSE9, 48px,0.92,$white);
                        margin: 0px;
                    }
                    .banner-desc {
                        @include font($fontSL7,28px,0.64,$yellow);
                    }
                }
            }
        }
    }
}
