<div data-sly-test.placeholder="${!(wcmmode.disabled || properties.heroImageFileReference)}">Configure
	Media - Hero Image Component</div>
<div class="article-hero-img-caption-wrapper">
	<div id="HeroImageComponent" class="article-hero-image-layout">
				<img class="img-responsive article-hero-image"
					src="${properties.heroImageFileReference}" />
	</div>
	<div data-sly-test="${properties.credits || properties.caption}">
		<div  class="article-hero-caption-container">
			<div class="article-hero-caption-wrapper">
		        <div class="article-hero-caption-title">${properties.credits}</div>
		        <div class="article-hero-caption-des">${properties.caption @context='html'}</div>
		    </div>
		</div>
	</div>
</div>