.marketing-app-hero-banner {
    .app-banner-details {
        .banner-title {
            @include font($fontC7, 67.5px, 0.96, $white, null);
        }

        .banner-desc {
            @include font($fontB7, 26.2px, 1.45, $white, 0.1px);
        }

        .button-container {
            .primary-button {
                @include font($fontC9, 24px, 0.83, $white, 1.8px);
                background-color: $mathCurrIssueButtonBlue;
                padding: 8.5px 45px;
            }

            .app-login {
                span {
                    @include font($fontB4, 19px, 1.05, $white, null);
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-hero-banner {
        .app-banner-details {
            .banner-title {
                @include font($fontC7, 28px, 1, $white);
            }

            .banner-desc {
                @include font($fontB7, 16px, 1.25, $white);
            }

            .button-container {
                .primary-button {
                    @include font($fontC9, 16px, 1.25, $white, 1px);
                }

                .app-login {
                    span {
                        @include font($fontB4, 14px, 1.43, $white, null);
                    }
                }
            }
        }

        .app-banner-component {
            margin-right: 0;
        }

        .app-banner-content {
            margin-left: 15px;
        }
    }
}
