.article-subjs-covered-pad-container {
	.article-subjs-covered-container {
		.article-subjs-covered-content {
			.subjs-covered-title {
				@include font($fontGB9, 13px, 1.08, $black, 0.5px);
			}
			.subjs-tag-wrapper {
				.names-subj {
					.subj-title {
                        @include font($fontGB9, 16px, 0.75, $actionSubjectsCovered, 1.1px);
						.subj-title-link {
							@include font($fontGB9, 16px, 0.75, $actionSubjectsCovered, 1.1px);				
						}
					} 
					.subj-tags-wrapper {
						    @include font($fontGB5, 13px, 1.54, $black, 0.5px);
						.subj-tags{
							@include font($fontGB5, 13px, 1.54, $black, 0.5px);
						}
					}
				}			
			}
		}	
	}
}