.scholastic-magazine-wrapper {
    .scholastic-magazine-content {
        padding: 0 20px 97.9px 40px;

        .scholastic-image {
            margin-top: 50px;            
        }
        
        .magazine-title-wrapper {
            padding-bottom: 3px;

            span.magazine-title {
                    @include font($fontP9, 28px, 1.14, $gray, -1px);
                    padding-right: 18px;
                    border-right: 0;
                    text-transform: uppercase;
                }

                span.view-all-magazine {
                	@include font($fontPE4, 14px, 1, $titleHyperlinkColor, 0.5px);
               	    border-left: 2px solid $liteAsh2;
				    height: 30px;
				    display: inline-block;
				    padding: 8px 0 8px 20px;
                }
        }

        .content-container {
        	margin-top: 50px;
        }
    }

    .scholastic-magazine-content-hash {
            display: none;
        }
}

