.iconHyperlinkComponent-wrapper{
    
    img{
        width: 22px;
        height: 20px;

    }
 	.icon{
            width:30px;
            height:30px;
            display:inline-block;
        &.skillsheet-icon{
            background-image: url('../../images/iconText/stylesheet.png');
        }
             &.video-icon{
            background-image: url('../../images/iconText/video.png');
        }
             &.article-icon{
            background-image: url('../../images/iconText/stylesheet.png');
        }
             &.issue-icon{
            background-image: url('../../images/iconText/video.png');
        }
        }
    a {

    text-decoration:none;
    
    span{
        font-family: 'Helvetica';
        font-weight: 400;
        font-style: normal;
        color: #3333FF;
        margin-left:5px;
        }
        }

}