.subscription-product-display {
    margin: 40px 0 0;

    .subscription-product-display-main-section {
        margin-left: 0;
    }

    .subscription-product-display-container {
        background-color: $bodyGrey;
        padding: 25px 0 49px 30px;

        .subscription-product-display-section {
            .subscription-product-display-container-content {
                margin: 26px 0 0;
            }

            .subscription-product-display-section-image {
                max-width: 200px;
                padding: 0;

                img {
                    width: 100%;
                }
            }

            .subscription-product-display-section-title {
                span {
                    @include font($font07, 28px, 1.07, $gray);
                }
            }

            .subscription-product-display-section-description {
                padding-left: 20px;
                margin-top: 2px;

                .subscription-magazine-name {
                    @include font($font07, 18px, 1.33, $marketingSubscriptionGrey);
                    margin: 0;
                    display: block;
                }

                .subscription-magazine-grades {
                    @include font($font04, 16px, 1.5, $marketingSubscriptionGrey);
                    margin: 0;
                    display: block;
                }

                .subscription-magazine-issues {
                    @include font($font04, 16px, 1.5, $marketingSubscriptionGrey);
                    margin: 12px 0 0;
                    display: block;

                    .subscription-magazine-issues-count {
                        font-weight: bold;
                    }
                }

                .subscription-magazine-price {
                    @include font($font04, 16px, 1.5, $marketingSubscriptionGrey);
                    margin: 0;
                    display: block;

                    .subscription-magazine-price-value {
                        font-weight: bold;
                    }
                }

                .subscription-magazine-quantity {
                    margin-top: 34px;

                    .form-group {
                        margin-bottom: 0;
                    }

                    .subscription-magazine-quantity-text {
                        @include font($font04, 16px, 1.5, $marketingSubscriptionGrey);
                    }

                    .subscription-magazine-quantity-input {
                        @include font($font04, 16px, null, $marketingSubscriptionLightGrey);
                        min-height: 40px;
                        width: 54px;
                        display: inline-block;
                        border: 1px solid $marketingSubscriptionBorderGrey;
                        margin-left: 11px;
                        padding: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .subscription-product-display {
        margin: 38px 0 0;

        .subscription-product-display-main-section {
            margin: 0 20px;
        }

        .subscription-product-display-container {
            padding: 25px 0 48px 20px;

            .subscription-product-display-section {
                .subscription-product-display-section-image {
                    max-width: 140px;
                }

                .subscription-product-display-section-description {
                    padding-left: 19px;
                    margin-top: 2px;
                    padding-right: 0;

                    .subscription-magazine-quantity {
                        .subscription-magazine-quantity-input {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}
