<div data-sly-test="${wcmmode.edit && !properties.fileReference}">Misc - AEM Image</div>

    <div class="image-main-container ">
        <div class="image-content">
            <img src="${properties.fileReference}" class="img-responsive "/>
        </div>
    </div>