.marketing-app-sample-issue {
    .app-issue-container {
        .marketing-app-sample-issue-container {
            .marketing-app-sample-issue-tiles {
                .sample-title-container {
                    margin-bottom: 8px;
                    margin-top: -16px;
                }
            }
            .issue-title {
                @include font($fontCR9, 24px, 1.38, $white);
            }
            .issue-secondary-title {
                @include font($fontP6, 20px, 1.65, $white);
            }
            .issue-desc {
                @include font($fontP4, 20px, 1.25, $white);
            }
            .button-container {
                .marketing-sample-issue-btn {
                    @include font($font09, 13px, 1.54, $black, 1px);
                    border-radius: 100px;
                }
            }
            .marketing-contentTile-title {
                @include font($fontP7, 24px, 1.67, $white);
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-sample-issue {
        .app-issue-container {
            .marketing-app-sample-issue-container {
                .marketing-app-sample-issue-tiles {
                    .mob-sample-pad {
                        margin-top: 15px;
                    }
                }
                .issue-title {
                    @include font($fontCR9, 20px, 1.2, $white);
                }
                .issue-secondary-title {
                    @include font($fontP6, 16px, 1.25, $white);
                }
                .issue-desc {
                    @include font($fontP4, 16px, 1.38, $white);
                }
                .button-container {
                    margin-top: 6px;
                    .marketing-sample-issue-btn {
                        @include font($fontPE4, 14px, 1.43, $black, 1.1px);
                    }
                }
                .marketing-contentTile-title {
                    @include font($fontP7, 16px, 2.5, $white);
                }
            }
        }
    }
}
