.marketing-app-nav-bar-main-container {
    .app-navbar-secondary {
        border: 0px;
    }
    .navbar-default {
        border-bottom-width: 0px;
        border-top-width: 0px;
    }
    .app-nav-primary {
        background-color: $dynamathFooterBackgroundGreen;
    }
    .app-nav-header {
        .search-logo-block {
            .scholastic-logo-header {
                display: none;
            }
        }
    }
    .science-logo {
        .scholastic-logo-header {
            display: none;
        }
    }
    .dropdown {
        .app-nav-main-item-link {
            @include font($fontPE4, 16px, null, $white, 0.5px);
        }
        &.js-dropdown-dynamic {
            padding-top: 42px;
            &:nth-child(5) {
                padding-top: 43.9px;
                .app-nav-main-item-link {
                    @include font($fontP7, 14px, null, $white, 0.5px);
                }
            }
            &:nth-child(2) {
                .app-nav-main-item-link {
                    padding-left: 21px;
                }
            }
        }
    }
    .cta-button-container {
        padding-top: 32.7px;
        .primary-button {
            @include font($fontP7, 20px, 1, $white);
            background: $marketingDynamathThickBlue;
            width: 121.9px;
            height: 46.7px;
        }
        .secondary-button {
            @include font($fontP7, 20px, null, $white);
            width: 88.9px;
            height: 46.7px;
            border-width: 2px;
            border-radius: 5px;
        }
    }
    .science-logo {
        width: 257.5px;
        margin-left: 21px;
        padding: 10.3px 0 5px;
        a {
            padding: 0;
            height: 87.4px;
            background: url("/etc/designs/scholastic/classroom-magazines-migration/dynamath/images/globalNav/dynamath.png") no-repeat center;
            background-size: 100%;
            margin: 0;
        }
    }
    .app-navbar-secondary {
        background: $marketingDynamathLightGrey;
        padding-left: 41px;
        border-bottom: 0.9px solid rgba(199, 203, 205, 0.5);
        .menu-list {
            height: auto;
        }
    }
    .secondary-items {
        padding: 12.1px 0;
        li {
            padding-right: 30px;
            a {
                @include font($fontV9, 12px, 1.17, $marketingDynamathThickBlue, 1.3px);
                padding: 0.5px 0 0;
            }
        }
        .explore {
            @include font($fontV7, 13px, 1.08, $dynamathExploreGrey, 0.5px);
            padding: 0;
            &:active, &:focus, &:hover {
                color: $dynamathExploreGrey;
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-nav-bar-main-container {
        .navbar-default {
            border-bottom-width: 0px;
            border-top-width: 0px;
        }
        .app-nav-header {
            .profile-icon-block {
                padding-top: 4px;
                .secondary-button {
                    border-radius: 5px;
                }
            }
            .menu-icon-block {
                padding-top: 16px;
            }
            .search-logo-block {
                padding: 0;
                margin: 0;
                .scholastic-logo-header {
                    display: none;
                }
            }
        }
        .magazine-logo-tablet-mobile {
            width: 137.8px;
            height: 50px;
            margin: 8px 0 0;
            background: url("/etc/designs/scholastic/classroom-magazines-migration/dynamath/images/globalNav/dynamath.png") no-repeat;
            background-size: 100%;
        }
        .pop-over-menu-div {
            .js-nav-menu {
                .primary-button {
                    @include font($fontP7, 16px, 1.25, $white);
                    background: $marketingDynamathThickBlue;
                    border-radius: 0;
                }
                ul.menu-list:first-child {
                    li.dropdown {
                        &.js-dropdown {
                            a {
                                @include font($fontPE4, 16px, null, $marketingDynamathThickBlue, 0.5px);
                            }
                        }
                    }
                }
                ul:first-child {
                    li {
                        &.dropdown.js-dropdown:nth-child(5) {
                            a {
                                @include font($fontP7, 14px, null, $marketingDynamathThickBlue, 0.5px);
                            }
                        }
                    }
                }
                #secondary-items-nav {
                    margin-top: 29px;
                    padding: 0 0 0 20px;
                    li {
                        a {
                            @include font($fontV9, 12px, null, $marketingDynamathThickBlue, 1.3px);
                            padding-bottom: 26px;
                        }
                    }
                }
                .js-dropdown {
                    &.dropdown {
                        .app-nav-main-item-link {
                            color: $marketingDynamathThickBlue;
                            &:active, &:focus, &:hover {
                                color: $marketingDynamathThickBlue;
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }
        .secondary-items {
            li {
                padding-right: 20px;
            }
        }
    }
}
