.slide-show-component-layout {
    .slide-show-image {
        height:410px;
        position: relative;
        background-color: $globalNavPopoverGray;
    }
    .launch-slide-show {
        @include font($fontSL5, 16px, 1.29, $black, 0.5px);
        background-color: $imagePopupGreyBackground;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        line-height: 70px;
    }
    .slide-show-component-wrapper {
        border-radius: 8px;
        border: solid 2px $geoGameBorder;
    }

    .slide-show-description {
        .slide-show-des-block { 
            .page-title {
                @include font($fontSL4, 14px, 1.38, $black, 0.5px);
                p{
                    margin:0;
                }
            }
            .page-name {
                @include font($fontSL4, 15px, 1.25, $black, 0.5px)
            }
        }
    }
    .coverimage-wrapper {
        .cover-image {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
   
    .slide-show-header {
        .slide-show-header-name {
            @include font($fontSL7, 18px, 1.5, $black, 0.5px);
        }
        .total-img-present-img {
            @include font($fontSL5, 18px, 2, $liteAsh7, 0.4px);
        }
    }
   
    .page-num {
        @include font($fontSL7, 20px, null, $white, 1.5px);
    }

}
