.article-hero-caption-container {
    .article-hero-caption-wrapper {
        .article-hero-caption-title {
            @include font($font04, 16px, 0.88, $black, 0.3px);
        }
        .article-hero-caption-des {
           @include font($font04, 16px, 0.88, $black, 0.3px);
        }
    }
}