.current-issue-hero-component {
    position: relative;
    a {
        text-decoration: none;
    }

    .current-issue-tile-wrapper {
        margin-top: 35px;
    }

    .curr-issue-right-arrow {
        vertical-align: bottom;
        margin-left: 6px;
    }

    .past-issue-wrapper {
        margin-left: 25px;
        position: relative;
        min-height: 473px;
    }

    .hero-component-title-des {
        @include font($font07, 22px, 1.09, $black, 0.6px);
        padding-bottom: 4px;
        float: left;

        a {
            @include font($font07, 22px, 1.09, $black, 0.6px);

            &:active,
            &:focus,
            &:hover {
                color: $black;
            }
        }
    }

    &.past-issue-list-main-container {
        .past-issue-list-main-content {
            .explore-button-link {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }

            .explore-latest-button {
                padding: 10px 36px;
                margin: 0 auto;
                text-align: center;
                min-height: 40px;
            }

            .view-all-articles {
                @include font($font09, 14px, 1, $liteBlue2, 0.5px);
                text-align: right;
            }

            a {
                &.view-all-articles {
                    text-align: right;
                }
            }

            .past-issue-date-container {
                display: table;
                width: 100%;

                .hero-component-title-des,
                .view-article-container {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }

    .past-issue-list-main-container {
        padding: 0 0 0 2px;

        .pci-row-wrapper {
            margin-top: 0;
        }
    }

    .current-issue-hero-component-hash {
        background: url('../../../images/lines-grey.png') repeat;
        min-height: 378px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
