.online-resources {
    .online-resources-head {
        @include font($fontG7, 35px, 1.14, $marketingGrey);
    }
    .marketing-video-game-container {
        margin-left: 20px;
        border-radius: 8px;
        border: 1px solid $marketingActionVideoBorder;
        .marketing-video-container {
            padding: 0 37px;
            margin-top: -22px;
            .marketing-video-container-title {
                margin-bottom: 18px;
                span {
                    @include font($fontGB9, 20px, 2, $marketingActionVideo);
                    display: inline-block;
                    padding: 0;
                    p {
                        margin-bottom: 0;
                    }
                }
            }
            .marketing-content-tile-container {
                .content-tile-body {
                    .game-video-wrapper {
                        .image-container {
                            background: transparent;
                            max-width: 100%;
                            text-align: center;
                        }
                    }
                }
                .image-container {
                    .content-image {
                        max-height: 206px;
                        position: relative;
                        top: 0;
                        left: 0;
                        transform: translate(0);
                    }
                }
            }
        }
        .marketing-game-container {
            padding: 19px 37px 30px;
            .marketing-game-container-title {
                margin-bottom: 0;
                span {
                    @include font($fontGB9, 20px, 2, $marketingActionVideo);
                    display: inline-block;
                    p {
                        margin-bottom: 12px;
                    }
                }
            }
            .game-top-controls {
                .game-top-controls-content {
                    background: url("../../.././../images/CM-Marketing/marketing-contenttiles-game-top.png") no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .online-resources {
        padding: 44px 0 60px 0;
        .online-resources-head {
            @include font($fontG7, 30px, 1, $marketingGrey);
            margin-bottom: 15px;
            padding: 0 20px;
        }
        .online-resources-head-image {
            padding-left: 10px;
        }
        .online-resources-description {
            @include font($fontGB9, 22px, 1.18, $black);
            display: block;
            text-align: center;
            padding: 0 20px;
            p {
                margin-bottom: 19px;
                .online-resources-description-1 {
                    @include font($fontGB5, 18px, 1.4, $marketingGrey);
                    margin-bottom: 13px;
                    display: inline-block;
                }
            }
        }
        .marketing-video-game-container {
            margin-top: 41px;
            .marketing-video-container {
                padding: 0 31px;
                .marketing-content-tile-container {
                    max-width: 269.5px;
                    .content-tile-body {
                        height: 170.8px;
                    }
                    .image-container {
                        max-width: 269.5px;
                        .content-image {
                            max-height: 170.8px;
                        }
                    }
                }
                .marketing-video-container-title {
                    margin-bottom: 6.4px;
                    span {
                        p {
                            margin: 0;
                        }
                    }
                }
            }
            .marketing-game-container {
                padding: 14.3px 35.4px 25.2px;
                .marketing-content-tile-container {
                    max-width: 268.7px;
                    margin-bottom: 3.6px;
                    .content-tile-body {
                        .content-module {
                            .content-module-container {
                                &.game-container-bg {
                                    max-height: 199px;
                                }
                                .content-wrapper {
                                    .content-one-up {
                                        .img-container {
                                            max-height: 199px;
                                            margin-bottom: 0;
                                            img {
                                                max-height: 199px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .image-container {
                        max-width: 269.5px;
                    }
                }
                .marketing-game-container-title {
                    margin-bottom: 2px;
                    span {
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
