.pastIssueGrid-main-container {
    .pastIssueGrid-main-content {
        margin-top: 14px;

        .issue-container {
            margin-bottom: 35px;

            .issue-cover {
                position: relative;
                width: auto;
                height: 322px;

                img {
                    /*width: 100%;
                    height: 100%;*/
                }

                .sw-icon {
                    position: absolute;
                    top: 10%;
                    right: 10%;
                }
            }

            .issue-date {
                @include font($font07, 11px, 1.45, $black, 0.8px);
                word-wrap: break-word;

                a {
                    text-decoration: none;
                    color: $black;
                }
            }
        }
    }
}

@include respond-to ('small' ) {
    .pastIssueGrid-main-container {
        .pastIssueGrid-main-content {
            .issue-container {
                .issue-date {
                    text-align: center;
                }
            }
        }
    }
}

@include respond-to ('xsmall' ) {
    .pastIssueGrid-main-container {
        .pastIssueGrid-main-content {
            .issue-container {
                .issue-date {
                    text-align: center;
                }
            }
        }
    }
}
