.marketing-globalFooter-main-container {
    position: relative;
    
    .globalFooter-content {
        background-color: $footerBkg;

        .link-wrapper:last-child {
            max-width: 210px;
            margin-right: 60px;
            padding-right: 0;
        }

        .row {
            padding: 30px 0 44px 41px;
            max-height: 180px;
            @include respond-to ('xssmall'){
                padding-bottom: 0;
                max-height: inherit;
            }

            .link-wrapper:first-child {
                padding-left: 0;
            }
        }

        .footerContentWrapper {
            height: 120px;

            &.social-links {
                height: auto;
                border-right: 0 none;

                .footerTitle {
                    border-bottom-width: 1px;
                }
            }

            .footerTitle {

                @include respond-to ('xssmall') {
                    @include font($fontSL7, 17px, 1.18, $white, 0.3px);
                }

                @include font($fontSL7, 15px, 1, $white);
                margin-bottom: 13px;
                word-wrap: break-word;
                border-bottom: 1px solid $liteAsh2;
                padding-bottom: 8px;

                &.footerTitleSocialIcon {
                    border-bottom-width: 1px;
                }
            }

            .footerPhoneNo {
                .phoneIcon {
                    margin-right: 10.9px;
                }

                .phonelink {

                    @include respond-to ('xssmall') {
                        @include font($fontSL5, 17px, 0.65, $white, 0.8px);
                    }

                    @include font($fontSL5, 13px, 2.31, $white, 0.4px); 
                    word-wrap: break-word;

                    a {
                        color: $white;
                    }
                }

                span {
                    vertical-align: middle;
                }

                .liveIcon {
                    background: url('../../../images/CM-Marketing/livechat.png') no-repeat center;
                    width: 15px;
                    height: 15px;
                    padding-left: 18px;
                }

                .livelink {
                    margin-left: 7px;

                    @include respond-to('xssmall') {
                        @include font($fontSL5, 17px, 1.47, $white, 0.8px);
                    }

                    @include font($fontSL5, 13px, 2, $white);
                    word-wrap: break-word;

                    a {
                        color: $white;
                    }
                }
            }

            .footerlinks {
                p {

                    @include respond-to('xssmall') {
                        @include font($fontSL5, 17px, 1.47, $white, 0.8px);
                    }

                    @include font($fontSL5, 13px, 2, $white);
                    margin-bottom: 0;
                }

                a {

                    @include respond-to ('xssmall') {
                        @include font($fontSL5, 17px, 1.47, $white, 0.8px);
                    }

                    @include font($fontSL5, 13px, 2, $white);
                    text-decoration: none;
                }
            }

            .footer-socialIcons {
                .sw-icon {
                    &.googleplus-icon {
                        width: 24px;
                        height: 24.5px;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-size: 24px 24.5px;
                        object-fit: contain;
                        background-image: url('../../../images/icons/googleplusIcon.png');
                    }
                }

                span {
                    margin-right: 15px;
                    @include respond-to('xs-small'){
                        margin-right: 30px;
                    }
                }
            }
        }

        .globalFooter-bottom {
            background-color: $whitegrey;
            padding: 0 55px 0 39px;

            .keep-right {
                float: right;
                margin-top: 11px;
            }

            .links {
                text-align: right;
                padding-top: 14px;
                padding-bottom: 14px;
                padding-right: 43px;

                &:last-child {
                    border-right: none;
                }

                a {
                    @include font($font07, 10px, null, $liteBlue2, 0.3px);
                    text-decoration: none;
                }
            }

            .desc {
                @include font($font04, 10px, 1.4, $liteGray2, 0.3px);
                word-wrap: break-word;
                text-align: right;
                margin-top: 17px;
                margin-bottom: 14px;
            }

            .scholastic-logo {
                margin-top: 9px;
                margin-bottom: 9.1px;
                height: 22px;
                max-width: 177.5px;
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-globalFooter-main-container {
        .globalFooter-content {
            max-height: 546px;
            .footerContentWrapper {
                height: 150px;

                &.social-links {
                    .footerTitleSocialIcon {
                        border-bottom: none;
                    }

                    .footer-socialIcons {
                        margin-top: 0;
                    }
                }
            }

            .link-wrapper:last-child {
                padding-left: 0;
                margin-right: 0;
                padding-right: 15px;
                max-width: inherit;
            }

            .globalFooter-bottom {
                padding: 0 40px;
                text-align: center;

                .keep-right {
                    margin: 0 auto;

                    .links {
                        &.links-term {
                            text-align: left;
                        }
                    }

                    .desc {
                        text-align: center;
                        margin-bottom: 0;
                        margin-top: 18px;
                        display: block;
                    }
                }
            }
        }
    }
}

@include respond-to ('xssmall-and-up') {
    .marketing-globalFooter-main-container {
        .globalFooter-content {
            .globalFooter-bottom {
                max-height: 100px;

                .scholastic-logo {
                    margin-top: 21px;
                    margin-bottom: 21px;
                    width: 177.5px;
                }

                .keep-right {
                    display: block;

                    .links {
                        padding: 0;

                        &.links-term {
                            padding-left: 30px;
                            position: relative;
                            right: 5px;
                        }

                        a {
                            @include font($font07, 12px, null, $liteBlue2, 0.3px);
                        }
                    }

                    .desc {
                        @include font($font04, 12px, 1.17, $liteGray2, 0.3px);
                        text-align: center;
                        margin-bottom: 0;
                        margin-top: 18px;
                        display: block;
                        position: relative;
                        left: -7px;
                    }
                }
            }

            .footerContentWrapper {
                height: auto;

                &.social-links {
                    .footer-socialIcons {
                        padding-left: 15px;
                    }

                    .footerTitle {
                        max-width: inherit;
                    }
                }
            }
            text-align: center;

            .row {
                padding: 30px 20px 44px;

                div {
                    .link-wrapper {
                        margin-bottom: 45px;
                    }
                }
            }
        }
    }
}
