<div data-sly-test="${wcmmode.edit}">Configure Marketing Add to Cart</div>
<div data-sly-use.magazines="com.scholastic.classmags.migration.controllers.ProductDisplayUse">
    <div class="marketing-subscription-cart-container" ng-controller="marketingAddToCartController">
        <div class="row">
            <div class="col-md-12 subscription-product-display-container-right">
                <div class="subscription-product-display-container-right-container">
                    <p class="subscription-product-display-container-right-container-title">
                        ${properties.sectionTitle}
                    </p>
                    <div class="subscription-product-display-magazines">
                        <div data-sly-list.magazineList="${magazines.productDisplay}" data-sly-unwrap>
                            <div class="row subscription-product-display-magazine">
                                <div class="col-md-2 col-xs-3 subscription-product-display-magazine-image">
                                    <img src="${magazineList.magazinePath}" alt="Magazine Image" />
                                </div>
                                <div class="col-md-10 col-xs-9 subscription-product-display-magazine-details">
                                    <span class="subscription-magazine-details-name">${magazineList.magazineTitle}</span>
                                    <span class="subscription-magazine-details-grades">${magazineList.magazineDescription}</span>
                                    <div class="subscription-magazine-details-quantity">
                                        <div class="subscription-magazine-learn">
                                            <a data-ng-href="" class="subscription-magazine-learn-link hidden-xs" uib-popover-template="'learnMore-${magazineListList.index}.html'" popover-placement="left">${magazineList.learnMorelabel}</a>
                                            <a data-ng-href="" class="subscription-magazine-learn-link visible-xs" uib-popover-template="'learnMore-${magazineListList.index}.html'" popover-placement="top">${magazineList.learnMorelabel}</a>
                                            <script type="text/ng-template" id="learnMore-${magazineListList.index}.html">
                                                <div class="subscription-magazine-learn-modal" id="learnMore-${magazineListList.index}">
                                                    <div class="subscription-magazine-learn-modal-dialog">
                                                        <div class="subscription-magazine-learn-modal-content">
                                                            <div class="subscription-magazine-learn-modal-header">
                                                                <span class="sw-icon grey-close-btn pull-right" ng-click="closePopover($event)"></span>
                                                            </div>
                                                            <div class="subscription-magazine-learn-modal-body">
                                                                ${magazineList.learnMorePopup @ context = 'html'}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </script>
                                            <div class="pull-right">
                                                <input type="number" class="form-control subscription-magazine-details-quantity-input" min="1" max="999" value="0" onkeypress="return event.keyCode > 48" ng-keyup="saveMagazineQuantity($event, ${magazineListList.index}, true)" data-magazine-title="${magazineList.magazineTitle}"
                                                    data-magazine-name="${magazineList.magazineName}" data-magazine-path="${magazineList.magazinePath}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="view-all-magazines">
                            <a href="${properties.viewAllLink}" class="view-all-magazines-link">${properties.viewAllLabel}<span class="sw-icon right-arrow"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
