.answer-question-block {
	.answer-question {
		@include font($fontP7, 22px, 1.64, $questionsColor, 0.5px);
	    padding-top: 20px; 
    }
    .answer-image-block {
    	.image-caption {
    		@include font($fontP4, 13px, 1.69, $black, 0.3px);
    		padding-top: 10.8px;
    	}
    	.answered-content {
    	@include font($fontP4, 18px, 1.44, $black);
    	}
    }
}