.voting-component-main-wrapper {
  .student-voting-poll-view {
    .student-view-title {
      @include font($fontSL7, 24px, 1, $white, 0.3px);
      background-color: $votingBackgroundBlue;
      padding: 11px 30px 13px;
    }

    .voting-poll-content {
      padding: 31px 120px 30px 30px;
      background-color: $votingContentBackgroundGrey;
      border: solid 1px $votingContentBorderGrey;

      .student-view-question {
        @include font($fontSL4, 22px, 1.09, $black);
      }

      .student-view-answer {
        margin-top: 34px;

        .submit-button {
            margin-top:41px;
          .voting-poll-button {
            width: 265px;
            height: 40px;
            border-radius: 100px;
            background-color: $votingPollSubmitBackgroundGreen;
            text-align: center;
            padding-top: 9px;
            padding-bottom: 11px;
            display: inline-block;
            @include font($fontSL9, 18px, 1.11, $white, 0.4px);
            text-decoration: none;
          }
        }

        .field-error-text {
          @include font($fontSL4, 14px, 1.57, $errorFieldTextColor, 0.5px);
        }

        .label-text {
          margin-bottom: 0;
          @include font($fontSL4, 22px, 1.18, $black);

          input[type="radio"] {
            visibility: hidden;
            position: absolute;
            &:checked +.sw-icon{
              background-position: -169px -334px;
              width: 18px;
              height: 18px;
            }
          }

          span {
            vertical-align: middle;

            &.option-text {
              padding-left: 9px;
            }
          }
        }

        .row {
            margin-bottom:0;
          .col-md-8 {
            width: 63.7%;
          }
        }

        .field-error-text {
          display: none;

          &.field-error-text-visible {
            display: block;
            margin-top: 4px;
          }
        }
      }

      .after-voting-success-content {
        @include font($fontSL4, 22px, 1.09, $votingSuccessLabelTextGreen);
        background-color: $votingSuccessbackgroundGreen;
      }

      .after-voting-ended-content {
        @include font($fontSL4, 22px, 1.09, $votingEndedLabelTextGrey);
        background-color: $votingSuccessbackgroundGrey;
      }

      .after-voting-ended-content,
      .after-voting-success-content {
        padding-top: 18px;
        padding-bottom: 20px;
        text-align: center;
        margin-top: 25px;
      }

      .student-poll-results {
        .poll-results-title {
          margin-top: 40px;
          @include font($fontSL5, 24px, 1, $black, 0.3px);
        }

        .poll-results-presentation {
          margin-top: 14px;
          background-color: $white;
        }
      }
    }

    .voting-show-results-btn {
      text-align: center;
      margin-top: 25px;

      a {
        padding-left: 53px;
        width: 250px;
        height: 36px;
        border-radius: 100px;
        background-color: $votingResultsBtnBlue;
        padding-top: 10px;
        padding-bottom: 12px;
        text-align: center;
        @include font($fontSL7, 16px, 0.88, $white, 1px);
        display: inline-block;
        text-decoration: none;

        .sw-icon {
          margin-left: 35px;

          &.up-black-arrow {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .teacher-voting-poll-view {
    .teacher-view-title {
      @include font($fontSL7, 24px, 1, $white, 0.3px);
      background-color: $votingBackgroundBlue;
      padding: 11px 30px 13px;
    }

    .voting-poll-content {
      padding: 31px 120px 30px 30px;
      background-color: $votingContentBackgroundGrey;
      border: solid 1px $votingContentBorderGrey;

      .teacher-view-question {
        @include font($fontSL4, 22px, 1.09, $black);
      }

      .teacher-view-answer {
        margin-top: 34px;

        .submit-button {
          margin-top: 24px;
          .voting-poll-button {
            width: 265px;
            height: 40px;
            border-radius: 100px;
            background-color: $votingPollSubmitBackgroundGreen;
            text-align: center;
            padding-top: 9px;
            padding-bottom: 11px;
            display: inline-block;
            @include font($fontSL9, 18px, 1.11, $white, 0.4px);
            text-decoration: none;
          }
        }

        .field-error-text {
          @include font($fontSL4, 14px, 1, $errorFieldTextColor, 0.5px);
          margin-top: 8px;
        }

        .label-text {
          @include font($fontSL4, 22px, 1.18, $black);
          margin-bottom: 0;
          input {
            display: inline-block;
            width: 80px;
            height: 36px;
            border: solid 1px $votingContentBorderGrey;
          }

          span {
            vertical-align: middle;

            &.option-text {
              padding-left: 11px;
            }
          }
        }

        .row {
          margin-bottom:0;
          .col-md-8 {
            width: 63.7%;
          }
        }

        .field-error-text {
          display: none;

          &.field-error-text-visible {
            display: block;
          }
        }
      }

      .after-voting-success-content {
        @include font($fontSL4, 22px, 1.09, $votingSuccessLabelTextGreen);
        background-color: $votingSuccessbackgroundGreen;
      }

      .after-voting-ended-content {
        @include font($fontSL4, 22px, 1.09, $votingEndedLabelTextGrey);
        background-color: $votingSuccessbackgroundGrey;
      }

      .after-voting-ended-content,
      .after-voting-success-content {
        padding-top: 18px;
        padding-bottom: 20px;
        text-align: center;
        margin-top: 25px;
      }

      .teacher-poll-results {
        .poll-results-title {
          margin-top: 40px;
          @include font($fontSL5, 24px, 1, $black, 0.3px);
        }

        .poll-results-presentation {
          margin-top: 14px;
          background-color: $white;
        }
      }
    }

    .voting-show-results-btn {
      text-align: center;
      margin-top: 25px;

      a {
        padding-left: 53px;
        width: 250px;
        height: 36px;
        border-radius: 100px;
        background-color: $votingResultsBtnBlue;
        padding-top: 10px;
        padding-bottom: 12px;
        text-align: center;
        @include font($fontSL7, 16px, 0.88, $white, 1px);
        display: inline-block;
        text-decoration: none;

        .sw-icon {
          margin-left: 35px;

          &.up-black-arrow {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
