<div data-sly-test="${wcmmode.edit}">Config - Footer Social Component </div>
<div data-sly-test="${properties.disabledForStudents}">This is disabled for Students.</div>
<div data-sly-use.socialLinks="com.scholastic.classmags.migration.controllers.SocialLinksConfigUse">
	<div class="globalFooter-main-container">
		<div data-sly-test="${socialLinks.socialIcons}" data-sly-unwrap>
		<div class="globalFooter-content " >
    		<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="footerContentWrapper social-links">
						<div class="footerTitle nopadL col-xs-4 col-sm-12  col-md-12 ">${properties.sectionHeading}</div>
					    <div class="footer-socialIcons nopadL col-xs-8 col-sm-12 col-md-12">
					    	<div data-sly-list.socialIcon="${socialLinks.socialIcons}">
					        	<a href="${socialIcon.linkPath}"><span class="sw-icon ${socialIcon.linkIcon}"></span></a>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
