.tab-component-layout {
    .main-tabs {
        border-bottom: 4px solid $sn56TabBackground;

        li {
            a {
                &:before {
                    border-top-left-radius: 6px;
                }

                &:after {
                    border-top-right-radius: 6px;
                }

                span {
                    &.tab-names {
                        @include font($fontSL7, 14px, 1, $sn3TabInactiveColor, 1px);
                    }
                }
            }

            &.active {
                a {
                    background-color: $sn56TabBackground;

                    &:active,
                    &:after,
                    &:before,
                    &:focus,
                    &:hover {
                        background-color: $sn56TabBackground;
                    }

                    &:before {
                        border-top-left-radius: 6px;
                    }

                    span {
                        &.tab-names {
                            @include font($fontSL7, 14px, 1, $white, 1px);
                        }
                    }
                }
            }
        }
    }
}
