.back-to-top {
    cursor: pointer;
    padding-left: 10px;
    .back-to-top-text {
        @include font($font8, 14px, 1, $liteBlue2, 0.5px);
        margin-left: 9px;
        position: relative;
        bottom: 8px;
    }
}
