.online-resources {
  padding-top: 43px;
  .online-resources-head {
    @include font($fontP9, 35px, 1.21, $JuniorTDItitle);
  }
  .marketing-video-game-container {
    border-radius: 8px;
    border: 1px solid $JuniorLightGray;
    background-size: 3.8%;
    .marketing-video-container {
      padding: 0 37px;
      margin-top: -21px;
      .marketing-video-container-title {
        span {
          @include font($fontP6, 20px, 2, $JuniorTDIcontentTileDesc);
          display: inline-block;
          padding: 0;
          background: $white;
          p {
            margin-bottom: 12px;
          }
        }
      }
      .marketing-content-tile-container {
        .content-tile-body {
          .game-video-wrapper {
            .image-container {
              background: transparent;
            }
          }
        }
      }
    }
    .marketing-game-container {
      padding: 23px 37px 30px;
      .marketing-game-container-title {
        span {
          @include font($fontP6,
          20px,
          2,
          $JuniorTDIcontentTileDesc);
          display: inline-block;
          p {
            margin-bottom: 12px;
          }
        }
      }
      .game-top-controls {
        .game-top-controls-content {
          background: url("../../.././../images/CM-Marketing/marketing-contenttiles-game-top.png") no-repeat;
          background-size: 100%;
        }
      }
    }
  }
}

@include respond-to ('xssmall') {
  .online-resources {
    padding-top: 46px;
    .online-resources-head {
      @include font($fontP9, 24px, 1.08, $JuniorTDItitle, 0.5px);
      margin-bottom: 19px;
      padding: 0 37px;
    }
    .online-resources-head-image {
      padding-left: 21px;
    }
    .marketing-video-game-container {
      margin-top: 25.6px;
      .marketing-video-container {
        padding: 0 31px;
        .marketing-video-container-title {
          margin-bottom: 8px;
          span {
            @include font($fontP6, 16px, 2.5, $JuniorTDIcontentTileDesc);
            p {
              margin: 0;
            }
          }
        }
      }
      .marketing-game-container {
        padding: 19px 31px 25px;
        .marketing-game-container-title {
          margin-bottom: 2px;
          span {
            @include font($fontP6, 16px, 2.5, $JuniorTDIcontentTileDesc);
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
