.marketing-subscription-product-recommendation {
    position: relative;
    .scholastic-magazine-content {
        padding: 40px 30px 60px 40px;
        max-width: 870px;
        margin: 0 auto;
        .magazine-title-wrapper {
            padding-bottom: 27px;
            width: 100%;
            span {
                vertical-align: middle;
                &.magazine-title {
                    @include font($font07, 24px, 1, $gray, 0.6px);
                    padding-right: 11px;
                }
                &.view-all-magazine {
                    @include font($font09, 14px, 1, $liteBlue2, 0.5px);
                    padding-left: 7px;
                }
            }
            .sw-icon {
                &.right-arrow {
                    display: inline-block;
                    margin-left: 5.6px;
                }
                &.sw-icon {
                    &.right-arrow {
                        margin-top: 3px;
                    }
                }
            }
            a {
                text-decoration: none;
            }
        }
        .content-container {
            padding-left: 0;
            padding-right: 0;
            margin-top: 0;
            .magazine-content {
                margin-bottom: 20px;
                .image-holder {
                    max-width: 185px;
                }
                .magazine-image {
                    width: 100%;
                }
                .magazine-subtitle {
                    margin-top: 30px;
                    @include font($font07, 20px, 1.1, $subscriptionTextBlue, 0.5px);
                    a {
                        color: $subscriptionTextBlue;
                    }
                }
                .separator {
                    width: 30px;
                    height: 4px;
                    border-radius: 100px;
                    background-color: $liteAsh11;
                    margin-top: 17px;
                }
                .magazine-desc {
                    @include font($font04, 16px, 1.38, $black, normal);
                    margin-top: 13px;
                }
                &:nth-child(2n) {
                    padding-right: 0;
                }
                &:nth-child(2n+1) {
                    clear: both;
                }
            }
        }
    }
}

@include respond-to('small') {
    .marketing-subscription-product-recommendation {
        .scholastic-magazine-content {
            margin-bottom: 50px;
            padding-left: 40px;
            padding-right: 40px;
            .magazine-title-wrapper {
                margin-bottom: 30px;
            }
            .content-container {
                margin-top: 0;
                .magazine-content {
                    margin-bottom: 20px;
                    &.pad10 {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

@include respond-to('xssmall') {
    .marketing-subscription-product-recommendation {
        .scholastic-magazine-content {
            padding: 34px 20px 12px;
            .magazine-title-wrapper {
                padding-bottom: 12px;
                span {
                    &.magazine-title {
                        line-height: 1.17;
                    }
                }
            }
            .magazine-mobile-title-wrapper {
                margin-bottom: 59px;
                .view-all-magazine {
                    @include font($font09, 14px, 1, $liteBlue2, 0.5px);
                }
                .sw-icon {
                    &.right-arrow {
                        position: relative;
                        top: 3px;
                        margin-left: 2px;
                    }
                }
                a {
                    text-decoration: none;
                }
            }
            .content-container {
                margin-top: 0;
                .magazine-content {
                    margin-bottom: 48px;
                    padding-left: 0;
                    padding-right: 0;
                    .magazine-image {
                        width: calc(100% - 15px);
                    }
                    .magazine-content-cntr {
                        padding-right: 0;
                        padding-left: 10px;
                    }
                    .magazine-subtitle {
                        margin-top: -11px;
                    }
                    .magazine-desc {
                        margin-top: 13px;
                    }
                }
            }
        }
    }
}
