.globalFooter-main-container {
    max-width: 1440px;
    margin: auto;

    .globalFooter-content {
        background-color: $footerBkg;

        .row {
            padding: 30px 0 42px 41px;

            .link-wrapper {
                padding: 0;
                margin-right: 41px;
            }
        }

        .footerContentWrapper {
            height: 108px;
            max-width: 285px;

            &.social-links {
                height: auto;
                max-width: 210px;
                border-right: 0 none;
            }

            .footerTitle {
                @include font($font09, 15px, 1, $white,normal);
                word-wrap: break-word;
                border-bottom: 1px solid $liteAsh2;
                padding-bottom: 8px;

                &.footerTitleSocialIcon {
                    border-bottom-width: 1px;
                    margin-bottom: 13px;
                }
            }

            .footerPhoneNo {
                margin-top: 3px;

                .phoneIcon {
                    margin-right: 10.9px;
                }

                .phonelink {
                    @include font($font07, 13px, 2.31, $white, 0.4px);
                    word-wrap: break-word;

                    a {
                        color: $white;
                        text-decoration: none;
                    }
                }

                span {
                    vertical-align: middle;
                }
            }

            .footerlinks {
                p {
                    @include font($font07, 12px, 2.08, $white,normal);
                    margin-bottom: 0;
                    margin-top: 5px;

                    &:last-child {
                        margin-top: 0;
                    }
                }

                a {
                    @include font($font07, 12px, 2.08, $white);
                    text-decoration: none;
                }

                &.phoneNumber {
                    p {
                        margin-top: 0;
                    }
                }
            }

            .footer-socialIcons {
                .sw-icon {
                    &.googleplus-icon {
                        width: 24px;
                        height: 24.5px;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-size: 24px 24.5px;
                        object-fit: contain;
                        background-image: url('../../../images/icons/googleplusIcon.png');
                    }
                }

                span {
                    margin-right: 9px;
                }
            }
        }

        .globalFooter-bottom {
            background-color: $white;
            padding: 0 55px 0 39px;

            .keep-right {
                float: right;
                margin-top: 11px;
            }

            .links {
                text-align: right;
                padding-top: 14px;
                padding-bottom: 14px;
                padding-right: 43px;

                &:last-child {
                    border-right: none;
                }

                a {
                    @include font($font07, 10px, null, $liteBlue2, 0.3px);
                    text-decoration: none;
                    line-height: normal;
                }
            }

            .desc {
                @include font($font04, 10px, 1.4, $liteGray2, 0.3px);
                word-wrap: break-word;
                text-align: right;
                margin-top: 17px;
                margin-bottom: 14px;
                padding-top: 14px;
                padding-bottom: 14px;
            }

            .scholastic-logo {
                margin-top: 9px;
                margin-bottom: 7.1px;
                height: 22px;
                max-width: 177.5px;
            }
        }
    }
}

@include respond-to ('xssmall') {
    .globalFooter-main-container {
        .globalFooter-content {
            .footerContentWrapper {
                height: 150px;
                max-width: 100%;

                &.social-links {
                    max-width: 100%;

                    .footerTitleSocialIcon {
                        border-bottom: none;
                    }

                    .footer-socialIcons {
                        margin-top: 0;
                    }
                }
            }

            .link-wrapper:last-child {
                padding-left: 0;
            }

            .globalFooter-bottom {
                padding: 0 40px;
                text-align: center;

                .keep-right {
                    float: none;
                    margin: 0 auto;

                    .links {
                        &.links-term {
                            text-align: left;
                        }
                    }

                    .desc {
                        text-align: center;
                        margin-top: 10px;
                        display: block;
                    }
                }
            }
        }
    }
}
@media (min-width:1440px) {
    .globalFooter-main-container {
        .globalFooter-content {
            .row {
                .link-wrapper {
                    margin-right: -5px;
                }
            }
        }
    }
}
