.thankyou-back-to-previous-wrapper {
    .thankyou-container {
        margin-top: 25px;

        .thankyou-content {
            @include font($fontSL4, 16px, 1.38, $black, 0.5px);
        }

        .thankyou-content-pad-container {
            a {
                color: $sn4FaqQuestionColor;

                &:hover, &:active, &:focus {
                    color: $sn4FaqQuestionColor;
                    cursor: pointer;
                }
            }
        }
    }

    .back-to-previous-wrapper {
        margin-bottom: 35px;

        .back-to-previous-text {
            a {
                @include font($fontSL7, 14px, 1, $sn4FaqQuestionColor, 0.5px);

                &:hover, &:active, &:focus {
                    @include font($fontSL7, 14px, 1, $sn4FaqQuestionColor, 0.5px);
                }
            }
        }
    }
}
