.iconHyperlinkComponent-wrapper {
    width: 100%;
    .iconHyperlinkComponent-content {
        display: table;
        .icon-download {
            width: 22px;
            height: 20px;
            display: inline-block;
            background-image: url('../../../images/iconHyperlink/downloadIcon.png');
        }
        a {
            text-decoration: none;
                display: table-cell;
    			vertical-align: middle;
            span {
               
                font-family: 'Helvetica';
                font-weight: 400;
                font-style: normal;
                color: #3333FF;
            }
        }
        &.text-center {
            margin: 0 auto;
        }
        span {
             @extend .nopadL;
        		display: table-cell;
            	vertical-align: middle;
                padding-left: 5px;
            }
    }
}