.past-issue-list-main-container {
	background-color: $juniorLiteGray;
	.past-issue-list-main-content {
		a {

			.explore-latest-button {
				background-color: $juniorSearchButtonGreen;
				@include font($font09, 13px, 1.54, $black, 1px);
			}
		}


	}

	
}


