.marketing-app-nav-bar-main-container{
	max-width: 1440px;

	.navbar-default {
    	background-color: transparent;
    	border-color: transparent;
	}
	
	.app-nav-primary {
        background-color: $footerBkg;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .nav-primary-items {
        padding: 0;
    }
    
    .menu-list {
        width: 100%;
    }
    
    .science-logo {
        width: 100px;
        padding: 0px 0 10px 3px;

        a {
            display: inline-block;
            width: 97%;
            background: url('../../../images/globalNav/science-world-nav-log.png') no-repeat center;
            background-size: 100%;
            vertical-align: middle;
        }
    }
    
    .app-nav-main-item-link {
        @include font($font09, 8px, null, $white, 0.2px);
        line-height: normal;
        text-align: left;
        padding-top: 30px;
        padding-bottom: 0px;
        cursor: pointer;
    }
    
    .dropdown {
        .app-nav-main-item-link {
            color: $white;
            border: none;

            &:active,
            &:focus,
            &:hover {
                color: $white;
            }

            &:active {
                border: none;
            }
        }

        .delimitter,
        .magazine {
            @extend .app-nav-main-item-link;

            &:active,
            &:focus,
            &:hover {
                color: $white;
            }
            border: none;
            outline: none;
        }

        .magazine {
            @include font($font07, 7px, null, $white, 0.2px);
            line-height: normal;
            text-align: center;
        }
    }
    
    .cta-button-container{
    	padding-top: 18px;
    	.primary-button{
    		@include font($font09, 10px, null, $black, 1px);
   			width: 65px;
    		text-align: center;
    		background-color: #fff200;
    		line-height: 1;
    		border-radius: 2.5px;
    		padding: 8px 0px;
    		border: none;
    		margin-right:10px;
    	}
    	
    	.secondary-button{
    		@include font($font07, 10px, null, $white, 1px);
   			width: 45px;
    		text-align: center;
    		background-color: transparent;
    		line-height: 1;
    		border-radius: 2.5px;
    		padding: 8px 0px;
    		border: solid 1px $white;
    		margin-right:6px;
    	}
    }
    
    .app-navbar-secondary {
        background-color: $white;
        border: 1px solid $globalNavBorderGrayColor;

        .menu-list {
            height: 20px;
        }
    }
    
    .secondary-items {
        width: 100%;

        li {
            a {
                @include font($fontN7, 5.5px, 1.27, $tabBgBlue, 0.6px);
                text-transform: uppercase;
                text-align: center;
                padding-top: 7px;

                &:active,
                &:focus,
                &:hover {
                    color: $tabBgBlue;
                }
            }
        }

        .explore {
            text-transform: capitalize;
            @include font($font09, 6.5px, 1.08, $globalNavExporeGray, 0.2px);
            text-align: center;
            padding-top: 6px;
            padding-left: 0;

            &:active,
            &:focus,
            &:hover {
                color: $globalNavExporeGray;
            }
        }

        .subjects {
            text-transform: capitalize;
            padding-right: 0;
        }
    }
    

    @include respond-to ('small-and-down') {
    	#app-nav-primary-block {
            display: none;
        }
    }
}