$imagePopupGreyBackground:#f3f3f3 !default;  //lite grey
$imagePopupBorderGrey:#e1e2e2 !default;  // grey
$snGlobalNavExploreColor: #f3f3f3 !default;
$snIssueHighBgColor: #ececec !default;
$allIssuesTitleColor: #0066b3 !default;
$textHyperlinkTitleColor: #e17b00 !default;
$textHyperlinkColor: #0083ca !default;
$paginationSelectBorder: #d7d7d7 !default;
$paginationSelectBackground: #f9f9f9 !default;
$sn3TabsBackgroundColor:  #f19c0e !default;
$sn3TabInactiveColor: #303030 !default;
$tabComponentGreyBackground: #cbcbcb !default;
$IssueTeachingTitleGreen:#39a340 !default;
$sn3FaqBorderColor: #0099d5 !default;
$emailFormInputFontColor: #858585 !default;
$aggregatorHashBorderSN3:#f4f4f4 !default;
$featuredborderGreySN3:#d1d3d4 !default;
$aggregatorBorderBlue:#00a5e5 !default;
$contentTileBackground: #dce1e2 !default;
$bookmarkDateColor: #616364;
$sn3ArticleToolbarBg: #f9fcff !default;
$sn3ArticleBorderColor: #b4ddec !default;
$sn3ArticleToolbarBottomBorder:#b4ddec !default;
$sn3ArticleToolbarDropdown: #dadbde !default;
$sn3ThickBlue: #0066b3 !default;
$sn3borderBlue: rgba(255, 255, 255, 0.3) !default;
$sn3LightGray: #a2a7a9 !default;
$sn3GreyText: #696a6c !default;
$sn3Green: #39a340 !default;
$sn3BgGrey: #f4f4f4 !default;
$sn3BorderGrey: #d7d7d7 !default;
$sn3GlobalFooterBorderBlue: #98cde9 !default;
$sn3GlobalFooterLogoBackground: #fafbfb !default; // lite grey
$sn3lowerFooterBlueText: #0066b3 !default; //lite blue
$sn3GlobalFooterBorderBlue2: rgba(255, 255, 255, 0.6) !default;
$sn3ThickGreyLineColor: #dfe1e2 !default;
$sn4FaqAnsQuestion: #1657a0 !default;
$articleSidebarTitle:#168550 !default;
$articleimageCreditSn4:#606162 !default;


$geoGlobalNavPrimarColor: #298c2c !default;
$geoGlobalNavButton: #faa61a !default;
$geoFaqQuestionColor: #0054a6 !default;
$sn3NumberBlue: #0083ca !default;
$geoFaqBorder: #0099d4 !default;
$geoEmailButtonColor: #f7941d !default;
$geoContactUsHeaderBg: #458647 !default;
$geoActiveTabColor: #f09c0f !default;
$geoGameBorder: #e1e1e2 !default;
$geoSeeAllLinkColor: #009ce1 !default;
$geoArticleToolbarBorder: #b4dcec !default;
$geoTeachingResourcesTileColor:  #d23339 !default;
$geoContentTileSkillBackgroundColor: #f2f2f3 !default;
$geoToolbarBackground: #f9fbfe !default;
$geoTopLinksTitleBorder: #298c2b !default;
