.answer-question-block{
	    padding-left: 20px;
	    padding-bottom: 10px;
	.answer-question{
		@include font($font07, 22px, 1.64, $liteBlue2, 1.2px);
		margin: 0;
		padding-top: 20px;
	}
	.answer-image-block{
		.answered-image{
			padding-top: 20px;
		}
		.image-caption{
			@include font($font5, 13px, 1.69, $black, 0.5px);
			margin: 0;
    		padding-top: 10.8px;
		}
		.answered-content{
			@include font($font04, 16px, 1.5, $black, normal);
			padding-top: 20px;
		}
	}
}