.content-module {
    .content-module-container {
        .content-wrapper {
            .rteContent {
                font-family: 'KarnakPro-Black';
            }

            div[ng-bind-html=containerGameDesc] {
                font-family: 'SlateStd-Medium';
            }
        }
    }
}
