.thankyou-back-to-previous-wrapper {
    .thankyou-container {
        .thankyou-content {
            font-family: Canaro-Book;
        }
    }
    
    .back-to-previous-wrapper {
        
        .back-to-previous-text {
            a {
                font-family: Canaro-Bold;
                
                &:hover, &:active, &:focus {
                    font-family: Canaro-Bold;
                }
            }
        }
    }
}