.article-sidebar-component-wrapper {
    .article-section-title {
        font-family: 'Geometric706BT-BlackB';
    }
    .article-sidebar-content-wrapper {  
        .image-wrapper {
            .image-credit {
                font-family: 'Geometric706BT-MediumB';
            }
        }
        .article-section-content {
            .article-section-text {
                font-family: 'StoneInformalStd-Medium';
            }
        }

        &.top {
            .article-section-title {
                font-family: 'Geometric706BT-BlackB';
            }

            .image-wrapper {
                    .image-credit {
                        font-family: 'Geometric706BT-MediumB';
                    }
            }
            .article-section-content {
                    .article-section-text {
                        font-family: 'StoneInformalStd-Medium';
                    }
                }
        }

        &.bottom {
            .article-section-title {
                font-family: 'Geometric706BT-BlackB';
            }

            .image-wrapper {

                .image-credit {
                    font-family: 'Geometric706BT-MediumB';
                }
            }

            .article-section-content {
                .article-section-text {
                    font-family: 'StoneInformalStd-Medium';
                }
            }
        }
    }
}