.article-subjs-covered-pad-container {
    padding: 0;

    .article-subjs-covered-container {
        .article-subjs-covered-content {
            border-top: 1px solid $liteAsh2;
            border-bottom: 1px solid $liteAsh2;
            padding: 11px 9px 26px 8px;

            .subjs-covered-title {
                @include font($fontSL7, 20px, 1.05, $black, 1px);
                padding-right: 18px;
                padding-left: 19px;
                margin-bottom: 15px;

                li,
                ol,
                p,
                ul {
                    margin: 0;
                }
            }

            .subjs-tag-wrapper {
                .names-subj {
                    margin-bottom: 26px;

                    .subj-title {
                        @include font($fontSL7, 12px, 1.33, $upfrontVotingCastVote, 0.9px);

                        .subj-title-link {
                            @include font($fontSL7, 12px, 1.33, $upfrontVotingCastVote, 0.9px);
                            text-align: center;
                            margin-bottom: 0;
                        }
                    }

                    .subj-tags-wrapper {
                        @include font($fontSL7, 12px, 1.33, $gray, 0.9px);

                        .subj-tags {
                            @include font($fontSL7, 12px, 1.33, $gray, 0.9px);
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $screen-md-min) {
    .article-subjs-covered-pad-container {
        margin-top: 22px;
        max-width: 210px;
    }
}
@media (min-width:1440px) {
    .article-subjs-covered-pad-container {
        margin-left: 39px;
        padding: 0;

        .article-subjs-covered-container {
            .article-subjs-covered-content {
                padding-right: 9px;
                padding-left: 8px;

                .subjs-tag-wrapper {
                    .names-subj {
                        .subj-tags-wrapper {
                            padding-left: 13px;
                            padding-right: 11px;
                        }
                    }
                }
            }
        }
    }
}
