<div>
<div class="content-tile-container" sw-authorize="{{role}}" ng-if="position=='vertical'">
    <div ng-if="displayStyle=='contenthub' || displayStyle == 'bookmark'">
        <div class="content-hub-header" ng-if="displayStyle == 'contenthub'">
            <p class="content-date"> {{displayDate}} </p>
        </div>
        <div class="bookmark-header" ng-if="displayStyle == 'bookmark'">
            <div class="row">
                <div class="col-md-12">
                    <p class="bookmark-title"> {{bookmarkTitle}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="bookmark-date">{{bookmarkDate}}</p>

                </div>
            <div class="col-md-6">
                    <p class="bookmark-type">{{bookmarkType}}</p>
            </div>
            </div>

        </div>
    </div>


    <div class="content-tile-body">
    <div class="row"
        ng-class="{'resource-wrapper': (contentType == 'skillsSheet' || contentType == 'lessonPlan'
                  || contentType == 'Lesson Plans' || contentType == 'Skills Sheets'),
                  'border-image-container-radius': (displayStyle!= 'bookmark' && displayStyle!= 'contenthub'),
                  'lesson-plan':(contentType == 'lessonPlan' || contentType == 'Lesson Plans')}">
        <div ng-class="{'image-container-resource': (contentType == 'skillsSheet' || contentType == 'lessonPlan'
                  || contentType == 'Lesson Plans' || contentType == 'Skills Sheets'),
        'image-container': (contentType != 'skillsSheet' && contentType != 'lessonPlan'
                            && contentType!= 'Lesson Plans' && contentType!= 'Skills Sheets'),
                       'border-image-container-radius': (displayStyle!= 'bookmark' && displayStyle!= 'contenthub' &&
                    !(contentType == 'skillsSheet' || contentType == 'lessonPlan'
                  || contentType == 'Lesson Plans' || contentType == 'Skills Sheets'))
                       }">
            <a href="{{imageHyperlink}}"> <img class="content-image" ng-class="{'border-image-container-radius': (displayStyle!= 'bookmark' && displayStyle!= 'contenthub' &&
                !(contentType == 'skillsSheet' || contentType == 'lessonPlan'
                  || contentType == 'Lesson Plans' || contentType == 'Skills Sheets'))}" ng-src="{{imageSrc}}" /> </a>

            <!-- video play icon -->
            <div ng-if="contentType=='video' || contentType == 'Videos'" class="video-play-icon">
                <a  href="" class="video_play" data-toggle="modal" data-video="{{videoId}}" target="_self">
                <span class="sw-icon video-icon"></span>
                </a>
            </div>

            <!-- vido time frame -->
            <div ng-if="(contentType=='video' || contentType == 'Videos') && videoLength" class="video-time-frame">
                <span  aria-hidden="true" >{{videoLength}}</span>
            </div>

        </div>
    </div>
    <div class="row">
      <a class="title" href="{{imageHyperlink}}" data-ng-bind="contentTitle" data-ellipsis></a>
    </div>
    <div class="row">
            <p class="subject" data-ng-bind="subject" data-ellipsis></p>
        </div>

        <div class="row">
            <p class="description" data-ng-bind="description" data-ellipsis></p>
        </div>
        <div class="row icons-row">
          <div class="sw-icon" ng-if="isBookmarkAdded">
              <a href="javascript:void(0)" ng-click="deleteBookmark()">
                  <span class="sw-icon bookmarked-icon"></span>
              </a>
          </div>

          <div class="sw-icon" ng-if="!isBookmarkAdded">
              <a href="javascript:void(0)" ng-click="addBookmark()"  sw-authorize="teacherorstudent">
                  <span class="sw-icon bookmark-icon"></span>
              </a>
          </div>
            <div ng-if="showDownload" class="sw-icon">
                <a href="{{imageHyperlink}}" target="_blank" ng-if="showDownloadIcon">
                    <span class="sw-icon download-icon"></span>
                </a>
            </div>
            <div ng-if="showShare" class="sw-icon">
                <sw-show-popover link-url="{{shareLinkUrl}}"></sw-show-popover>
            </div>
            <!--
            <div class="sw-icon">
                <span class="sw-icon print-icon"></span>
            </div>
            -->
            <div ng-if="showView" class="view-article-link">
                <a href={{viewArticleLinkUrl}}>{{articleLinkText}}</a>
            </div>
        </div>

    </div>
</div>

<div class="content-tile-container-horizontal" ng-if="position=='horizontal'" sw-authorize="{{role}}">
    <div class="row">
        <div class="col-md-6 padding-image">
            <div class="image-container">
                <a href="{{imageHyperlink}}"> <img class="content-image" ng-src="{{imageSrc}}" /> </a>
            </div>
        </div>
        <div class="col-md-6 padding-content">
            <div class="row">
                <a class="title" href="{{imageHyperlink}}" data-ng-bind="contentTitle" data-ellipsis></a>
            </div>
            <div class="row">
                <p class="description" data-ng-bind="description" data-ellipsis></p>
            </div>
            <div class="row icons-row">
              <!--
              <div class="sw-icon">
                  <span class="sw-icon bookmark-icon"></span>
              </div>
              -->
            <div ng-if="showDownload" class="sw-icon">
                <a href="{{imageHyperlink}}" target="_blank" ng-if="showDownloadIcon">
                    <span class="sw-icon download-icon"></span>
                </a>
            </div>
            <div ng-if="showShare" class="sw-icon">
                <sw-show-popover link-url="{{shareLinkUrl}}"></sw-show-popover>
            </div>
            <!--
            <div class="sw-icon">
                <span class="sw-icon print-icon"></span>
            </div>
            -->
            <!--
            <div ng-if="showView" class="view-article-link">
                <a href={{imageHyperlink}}>View Article</a>
            </div>
            -->
        </div>
        </div>
    </div>

</div>
