<!DOCTYPE html>
<html>
<head>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css" />
</head>

<body>
    <div ng-app="scienceWorld" class="ng-cloak">
        <div class="pastIssueGrid-main-container" ng-controller="issueGridController">
            <div class="pastIssueGrid-main-content container">
              <div class="row nomarLR row-wrapper">
                <div class="col-md-3 col-sm-4 col-xs-6 tile"  ng-repeat="issueItem in issueItems">
                 <div class="issue-container">
                 <div class="issue-cover">
            				 <a href="#" ng-href="{{issueItem.linkto}}">
            				 <img src="" ng-src="{{issueItem.imgsrc}}"/></a>
                 <!--<span class="icon save-icon"></span>-->
                 </div>
                 <a class="issue-date" href="">{{issueItem.issuedate}}</a>
                 </div>
                 </div>
              </div>
            </div>
        <div class="pagination-wrapper clearfix">
        <div class="paginationBottom" id="paginationBottomGrid" ng-show="totalRecords>12">
          <ul>
		    <li class="pageViewAll" ng-click="onpageViewAll()"><a href="#">View {{totalRecords}}</a></li>
			<li class="pageNextPipe">|</li>
            <li class="pagePrevious" ng-class="pageNumber===1?'disabled-link':''" ng-click="onpagePrevious()">
			  <span class="glyphicon glyphicon-chevron-left"></span>
              <a href="#">Prev</a>
            </li>
            <li class="pageLabel">
			<select ng-options="page for page in pages" ng-model="pageNumber" ng-change="onPageSelection()"></select>
              of {{totalPageCount}}
            </li>
            <li class="pageNext" ng-click="onpageNext()" ng-class="pageNumber===totalPageCount?'disabled-link':''">
              <a href="#">Next</a>
			  <span class="glyphicon glyphicon-chevron-right"></span>
            </li>
          </ul>
        </div>

        </div>
        </div>
    </div>


    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../app.js"></script>
	<script src="issueGridController.js"></script>
	<script src="issueGridDataFactory.js"></script>



</body>

</html>
