.breaking-news-banner-container{
	.breaking-news-banner-wrapper{
	background-color:$breakingNewsBannerBackgroundColor;
	    padding-top: 12px;
    	padding-bottom: 18px;
		.breaking-news-banner-title{
			@include font($fontP7, 24px, 0.58, $white, 1.2px);
			    padding-left: 52px;
    			padding-right: 30px;
    			padding-top: 6px;
    			word-wrap:break-word;
    			&.col-xs-2{
    			width:20.2%;
    			}
		}
		.breaking-news-banner-description{
			@include font($fontP5, 21px, 1.05, $white, normal);
			padding-left:23px;
			border-left:2px solid $white;
			padding-right: 92.5px;
			.breaking-news-banner-readmore{
				@include font($fontP5, 20px, null, $white, normal);
				line-height:normal;
			}
			&.col-xs-8{
    			width:76.2%;
    			}
		}
		
		.sw-icon{ 
			&.white-crossMark-icon{
				display: inline-block;
				margin-top: 5px;
			    cursor: pointer;
			}
    	}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1366px) {
	.breaking-news-banner-container{
		.breaking-news-banner-wrapper{
			.breaking-news-banner-title{
				line-height: 0.78;
			}
		}
	}  
}