.article-Obj-skills-pad-container {
	.article-learnObj-keyskills-container {
		.learnKey-single-sec-wrapper {
			.learnKey-section-title {
				font-family: 'SlateStd-Bold';
			}
			.learnKey-section-content {
				font-family: 'SlateStd';
			}
		}	
	}
}