.answer-question-block{
	    padding-left: 0;
	    padding-bottom: 10px;
	.answer-question{
		@include font($font04, 22px, 1.09, $black, -0.2px);
		margin: 0;
		padding-top: 20px;
	}
	.answer-image-block{
		.answered-image{
			padding-top: 20px;
		}
		.image-caption{
			@include font($font5, 13px, 1.69, $black, 0.5px);
			margin: 0;
    		padding-top: 10.8px;
		}
		.answered-content{
			@include font($font04, 17px, 1.29, $black, normal);
			padding-top: 20px;
		}
	}
}