.article-title-layout {
    .article-title-heading {
        @include font($fontSL7, 48px, 0.83, $black, 1px);
    }

    .article-title-dek {
        font-family: 'UtopiaStd-Regular';
    }

    .sub-title {
       @include font($fontSL7, 24px, 1.17, $black, 1px);
    }

}
