.app-nav-bar-main-container{
    .app-nav-primary {
        background-color: $spinGlobalNavPrimarColor;
        min-height: 90px;
        box-shadow: none;
    }

    .app-navbar-secondary{
        display: none !important //to overwride nav bootstrap navbar styles; 
    }

    .navbar-default {
        border-bottom: 0;
    }

    .app-nav-main-item-link {
        @include font($fontSL7, 13px, null, $white, 0.5px);
        line-height: normal;
        padding-top:33px;
    }

    .logged-in-dropdown {
        a {
            padding-top:25px;
        }
    }

    .science-logo {
        padding:0;
        position: relative;
        cursor: pointer;
        width: 209px;
        padding-left: 20px;
 
        a {
            width: 100%;
            background: url('../../../images/globalNav/sciencespin-logo.png') no-repeat center;
            background-size: 100%;
            padding: 35px 0;
        }
    }

    .nav-search-form {
        margin-top: 30px;
        input {
            @include font($fontSL4, 13px, null, $globinpPlaceholdText, 0.5px);
            line-height: normal;
        }

        button {
            background-color: $spinGlobalNavButton;
            @include font($fontSL7, 13px, 1.08, $white, 0.5px);
            border: 0;
        }
    }

    .login-control {
        padding-right: 15px;
        padding-top: 22px;

        li {
            a {
                @include font($fontSL9, 13px, null, $white, 0.5px);
                line-height: normal;


                &:focus, &:hover, &:active {
                    @include font($fontSL9, 13px, null, $white, 0.5px);
                    line-height: normal;
                }
            }
        }

        .subscribe-text {
            @include font($fontSL7, 11px, null, $white, 0.5px);
            line-height: normal;

            &:focus, &:hover, &:active {
                @include font($fontSL7, 11px, null, $white, 0.5px);
                line-height: normal;
            }

            b {
                @include font($fontSL9, 11px, null, $white, 0.5px);
                line-height: normal;
            }
        }
    }

    .bookmarks {
        padding-left: 20px;
    }

    @include respond-to ('small-and-down') {
        .magazine-logo-tablet-mobile {
            background: url('../../../images/globalNav/sciencespin-logo.png') no-repeat center;
            display: inline-block;
            width: 150px;
            height: 36px;
            position: relative;
            left: 50%;
            @include translateX(-50%);
            background-size: 59%;
            vertical-align: middle;
        }
    }

    @include respond-to ('xssmall') {
        .magazine-logo-tablet-mobile {
            width: 120px;
            height: 43px;
            background-size: 89%;
        }
    }

    @media (min-width:1440px) {
        .secondary-items {
            a {
                padding-left: 21px;
                padding-right: 21px;
            }

            .explore {
                padding-left: 25px;
            }
        }

        .app-nav-main-item-link {
            @include font($fontSL7, 16px, null, $white, 0.5px);
            line-height: normal;
            padding-left: 18px;
            padding-right: 19px;
            padding-top: 41px;
        }

        .science-logo {
            padding: 0;
            padding-top: 10px;
            width: 224.7px;
            margin-right: 20px;
            margin-left: 20px;

            a {
                width: 100%;
                height: 73px;
                background-size: 100%;
                padding: 35px 0;
            }
        }

        .dropdown {
            .magazine {
                &.bookmarks {
                    @include font($fontSL7, 14px, null, $white, 0.4px);
                    padding-right: 0;

                    &:focus, &:hover, &:active {
                        @include font($fontSL7, 14px, null, $white, 0.4px);
                    }
                }
            }
        }

        .logged-in-dropdown {
            a {
                padding-left: 13px;
                padding-top:25px;
            }
        }
    }
}
