.scholastic-main-wrapper {
	.fyre {
		.fyre-editor {
			.fyre-editor-container {
				.fyre-editor-editable {
					&.editable {
						border-radius: 5px 5px 0 0;
					}
				}
			}

			.fyre-editor-toolbar {
				.goog-toolbar {
					& > div {
						&.fyre-button-left {
							&:nth-child(2) {
								border-radius: 0 0 0 5px;
							}
						}

						&.fyre-button-right {
							&:last-child {
								border-radius: 0 0 5px 0;
							}
						}
					}
				}
			}
		}
	}
}
