.articleStyleTitle-component {
	min-height: 40px;

	.articleStyleTitle-container {
		background: $resourcesColor;
		position: relative;
		height: 40px;
		margin-bottom: 20px;

		h2 {
			@include font($fontS7, 28px, 1.14, $white, 1px);
			display: inline-block;
			background: $resourcesColor;
			padding: 13px 40px;
			margin: 0;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 0 0 50px 0;

			&::before {
				content: '';
				width: 23px;
				height: 29px;
				display: block;
				position: absolute;
				right: 15px;
				top: 31px;
				background: $bodyGrey;
				z-index: 1;
				transform: skew(-30deg);
				@include radius(4px);
			}

			&::after {
				content: '';
				height: 27px;
				width: 27px;
				position: absolute;
				bottom: 0;
				right: 14px;
				background: inherit;
				border-radius: 5px;
				z-index: 9;
				transform: skew(-30deg);
			}
		}
	}

	.articleStyleTitle-link {
		@include font($font09, 14px, 1, $contentTileSubjectBlue, 0.5px);
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-decoration: none;
		margin-right: 37.4px;

		.icon {
			&.icon-right {
				display: inline-block;
				margin-left: 5.6px;
				width: 7.2px;
				height: 12px;
				position: relative;
				top: 1px;
			}
		}
	}
}
