.marketing-app-tdi-component {
  &.contentTile {
    margin-bottom: 70px;
    .junior-content-tile-container {
      .content-tile-body {
        .title-class {
          .title {
            @include font($fontP9, 22px, 1.05, $black);
          }
        }
      }
      .description {
        @include font($fontP4, 17px, 1.29, $black);
      }
      .subject {
        @include font($fontPA9, 14px, 1.14, $black, 0.5px);
      }
    }
    .app-tdi-header {
      p {
        @include font($fontP9, 35px, 0.97, $JuniorTDItitle, 1.2px);
      }
    }
    .app-tdi-content {
      p {
        max-width: 100%;
        text-align: center;
        @include font($fontP6, 22px, 1.45, $JuniorTDIcontentTileDesc, 0.8px);
      }
    }
  }
  .app-tdi-header {
    p {
      @include font($fontP9, 33px, 0.97, $JuniorTDItitle, 1.2);
    }
    text-align: center;
  }
  .app-tdi-content {
    p {
      max-width: 518px;
      @include font($fontP6, 30px, 1.37, $JuniorTDItitle, null);
      .hyperlink {
        @include font($fontP6, 24px, 1.71, $JuniorHyperlink, null);
      }
    }
  }
  .app-description {
    .desc {
      @include font($fontS3, 21px, 1.29, $JuniorAppDesc, null);
    }
    .secondary-button {
      background-color: $JuniorButtonBackground;
      @include font($font09, 13px, 1.54, $white, 1px);
      border-radius: 8px;
    }
  }
}

@include respond-to('xssmall') {
  .marketing-app-tdi-component {
    &.contentTile {
      margin-bottom: 50px;
      .junior-content-tile-container {
        .content-tile-body {
          margin-bottom: 20px;
          .title-class {
            .title {
              @include font($fontP9, 22px, 1.05, $black);
            }
          }
        }
        .description {
          @include font($fontP4, 17px, 1.29, $black);
        }
        .subject {
          @include font($fontPA9, 14px, 1.14, $black, 0.5px);
        }
      }
      .app-tdi-content {
        p {
          @include font($fontP6, 18px, 1.78, $JuniorTDIcontentTileDesc, 0.6px);
        }
      }
      .app-tdi-header {
        p {
          @include font($fontP9, 24px, 1.08, $JuniorTDItitle, 0.5px);
        }
      }
    }
    .app-tdi-header {
      p {
        @include font($fontP9, 24px, 1, $JuniorTDItitle, null);
      }
    }
    .app-tdi-content {
      p {
        @include font($fontP6, 20px, 1.4, $JuniorTDItitle, null);
        .hyperlink {
          @include font($fontP6, 16px, 1.75, $JuniorHyperlink, null);
        }
      }
    }
    &.mobileCarousel {
      background-color: $white;
    }
    .app-description {
      .desc {
        @include font($fontS3, 18px, 1.22, $JuniorAppDesc, null);
      }
      .secondary-button {
        background-color: $JuniorButtonBackground;
        @include font($font09, 14px, 1.43, $white, 1.1px);
        min-height: 40px;
        min-width: 275px;
        border-radius: 8px;
      }
    }
  }
}
