.article-hero-caption-container {
    .article-hero-caption-wrapper {
        /*background-color: $bkgGrey;*/
        
        background-color: $white;
        padding: 13px 40px 21px 40px;
        .article-hero-caption-title {
            @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
        }
        .article-hero-caption-des {
            margin-top: 6px;
            @include font($font04, 12px, 1.17, $black, 0.5px);
        }
    }
}

.article-hero-img-caption-wrapper {
    margin-bottom: 31px;    
}


