<div data-sly-test="${wcmmode.edit}">Page - FAQ Questions</div>
<div data-sly-use.questionSet="com.scholastic.classmags.migration.controllers.FAQQuestionSetUse" data-sly-unwrap>	
<div class="questions-set">
    <h3 class="subject-area">${properties.subjectArea}</h3>
    <div class="question-block">
    	<div data-sly-list.question="${questionSet.questionList}">
    		<a class="question" href="#${question.questionId}">${question.question}</a>
    	</div>
    </div>
</div>
</div>