.answer-question-block{
	padding-left: 0;
	padding-bottom: 10px;
	.answer-question{
			@include font($fontSL5, 22px, 1.27, $geoFaqQuestionColor, 1px);
	}
	.answer-image-block{
		.image-caption{
			@include font($fontSL4, 13px, 1.69, null, 0.5px);
		}
		.answered-content{
			@include font($fontSL4, 18px, 1.44, $black, normal);
			padding-top: 20px;
            padding-bottom: 30px;
		}
	}
}

