.contact-us-layout {
  .contact-us-wrapper {
    .contact-us-container {
      .contactus-right-container {
        .contact-form-questions {
          .contact-form-container {
            .contact-form {
              .contact-form-row {
                label {
                  @include font($fontP5, 16px, 1.38, $black, 0.3px);
                }
              }
            }
          }
        }

        .contact-info {
          .contact-info-text p {
            @include font($fontP4, 16px, 1.38, $black, 0.3px);
          }

          .contact-info-bar {
            width: 975px;
            height: 135px;
            border-radius: 10px;
            border: 2px solid #00abf0;
            transform: none;
            background: none;
            margin-left: 0;

            ul {
              transform: none;

              li {
                border-right: 2px solid rgba(0, 171, 240, 0.3);

                .contact-detail-text {
                  @include font($fontP6, 16px, 1.88, $black, 0.3px);

                  .sw-icon.phone-icon {
                    background-position: -231px -336px;
                  }
                }

                p {
                  @include font($fontPE4, 22px, 1.09, $contactInfoBarColor, 0.3px);
                }
              }
            }
          }
        }

        .contact-form-questions {
          margin-top: 64px;

          .question-row {
            .sl-no {
              @include font($fontV9, 24px, 0.92, $white, 1.3px);
              background: $slNumberColor;
              transform: none;
              width: 36px;
              height: 36px;
              border-radius: 18px;
            }

            .question-container {
              margin-top: 4px;
              padding-left: 17px;

              p {
                @include font($fontPE4, 22px, 1, $black);
                margin-bottom: 19px;
              }

              select {
                @include font($fontP4, 14px, 1, $black, 0.3px);
                background: $inputFieldBackground url("../../../images/dropdown.png") no-repeat;
                background-position: right 13px center;
                border: 1px solid $inputFieldBorder;
              }

              label {
                @include font($fontP5, 18px, 1.22, $black, 0.3px);
                margin-bottom: 10px;
              }
            }
          }

          .contact-form-container {
            .contact-form {
              .contact-form-row {
                margin-bottom: 26px;

                label {
                  margin-bottom: 4px;
                }

                input[type="email"],
                input[type="text"],
                select,
                textarea {
                  background: $inputFieldBackground;
                  border: 1px solid $inputFieldBorder;
                  @include font($fontP4, 14px, 1, $black, 0.3px);
                }

                select {
                  background: $inputFieldBackground url("../../../images/dropdown.png") no-repeat;
                  background-position: right 13px center;
                }
              }

              .required-text {
                @include font($fontP5, 12px, 1.83, $requiredFieldColor, 0.3px);
                margin-bottom: 29px;
              }

              .contact-submit-btn {
                background: $submitButtonColor;
                @include font($fontPE4, 18px, 1.11, $white, 0.5px);
              }
            }
          }
        }
      }
    }
  }
}
