.brightcoveComponent-container{
    background-color:$white;
    border: solid 1px $videoLiteGray;
    margin-bottom: 40px;
    max-width: 670px;
    .brightcovePlayer-Placeholder{
        
        margin-bottom:10px;
        position: relative;
    }
    .brightcoveComponent-text-wrapper{
        padding:0 20px;
        .brightcoveComponent-title{
            @include font($font09, 16px, 1.5, $black, 0.5px);
            margin-bottom:4px;
        }
        .brightcoveComponent-desc{
           @include font($font04, 13px, 1.38, $black, 0.5px);
            margin-bottom: 38px;
        }
    }
}

#brightcoveComponentcontainer{
    .brightcovePlayerPlaceholder{
        .brightcovecontainer{
            margintop: 0;
        }
    }
}