.marketing-app-sample-issue {
    .app-issue-container {
        .marketing-app-sample-issue-container {
            .marketing-app-sample-issue-tiles {
                margin-top: 42px;
                .sample-title-container {
                    margin-bottom: 8px;
                    margin-top: -16px;
                }
            }
            .issue-title {
                @include font($fontGB9, 30px, 1.07, $white);
                margin-top: 30px;
            }
            .issue-desc {
                @include font($fontGB5, 17px, 1.29, $white);
            }
            .sw-button {
                display: block;
            }
            .sn3-button {
                display: none;
            }
            .button-container {
                .marketing-sample-issue-btn {
                    @include font($fontGB9, 16px, 1.25, $white, 0.3px);
                    border-radius: 100px;
                }
            }
            .marketing-contentTile-title {
                @include font($fontGB9, 24px, 1.67, $white);
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-sample-issue {
        .app-issue-container {
            .marketing-app-sample-issue-container {
                .marketing-app-sample-issue-tiles {
                    .mob-sample-pad {
                        margin-top: 15px;
                    }
                }
                .issue-title {
                    @include font($fontGB9, 24px, 1.04, $white);
                }
                .issue-desc {
                    @include font($fontGB5, 16px, 1.31, $white);
                }
                .sw-button {
                    display: none;
                }
                .sn3-button {
                    display: block;
                }
                .button-container {
                    .marketing-sample-issue-btn {
                        @include font($fontGB9, 16px, 1.25, $white, 0.3px);
                    }
                }
                .marketing-contentTile-title {
                    @include font($fontGB9, 16px, 2.5, $white);
                }
            }
        }
    }
}
@include respond-to ('1440px') {
    .marketing-app-sample-issue {
        .app-issue-container {
            .marketing-app-sample-issue-container {
                .marketing-sample-issue-text-container {
                    min-width: 395px;
                }
                .marketing-app-sample-issue-tiles {
                    max-width: 989px;
                }
            }
        }
    }
}

