.online-resources {
    position: relative;
    background: $white;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 38px;
    overflow: hidden;

    .online-resources-head {
        @include font($fontN7, 35px, 1.14, $marketingGrey);
        margin-bottom: 27px;
        text-align: center;

        @include respond-to ('xssmall') {
            @include font($fontN7, 25px, 1.04, $marketingGrey);
            margin-bottom: 28px;
        }

        p {
            margin: 0;
        }
    }

    .online-resources-description {
        display: none;
    }

    .online-resources-head-image {
        @include respond-to ('xssmall') {
            padding-left: 20px;
        }

        @include respond-to ('large') {
            height: 830px;
        }

        @include respond-to ('1440px') {
            height: auto;
        }
    }

    .illustration-img {
        margin: 0 0 10px -2px;

        @include respond-to ('small-and-up') {
            width: 100%;
            margin-left: 0;
            padding-left: 35px;
        }

        @include respond-to ('1440px') {
            width: auto;
        }
    }

    .marketing-video-game-container {
        max-width: 399px;
        height: auto;
        border-style: solid;
        border-top-width: 22px;
        border-bottom-width: 19px;
        border-left-width: 16px;
        border-right-width: 17px;
        border-image: url("../../../images/lines-grey.png") 15;
        position: relative;

        @include respond-to ('large') {
            top: 232px;
            right: 25px;
        }

        @include respond-to ('1440px') {
            top: 270px;
            right: 0;
            left: 33px;
        }

        @include respond-to ('xssmall') {
            margin-left: 20px;
            max-width: 335px;
            margin-top: 20px;
            height: auto;
            border-top-width: 18px;
            border-bottom-width: 18.4px;
            border-left-width: 14px;
            border-right-width: 15px;
        }

        .marketing-video-container {
            padding: 0 21px 0 20px;
            margin-top: -28px;

            .marketing-video-container-title {
                text-align: center;
                margin-bottom: 23px;

                span {
                    @include font($font07, 24px, 1.67, $marketingGrey);
                    padding: 0 24px;
                    background: $white;
                    display: inline-block;

                    @include respond-to ('xssmall') {
                        @include font($font07, 18px, 2.22, $marketingGrey);
                        height: 40px;
                        display: inline-block;
                    }
                }

                @include respond-to ('xssmall') {
                    margin-bottom: 6.7px;
                }
            }

            .marketing-content-tile-container {
                max-width: 325px;

                .content-tile-body {
                    height: 182px;

                    .game-video-wrapper {
                        height: 100%;

                        .image-container {
                            border: 0;
                            height: 100%;
                        }
                    }

                    @include respond-to ('xssmall') {
                        height: 156.2px;
                    }
                }

                @include respond-to ('xssmall') {
                    max-width: 272px;
                }
            }

            @include respond-to ('xssmall') {
                margin-top: -33px;
                padding: 0 18.6px 0 15.4px;
            }
        }

        .marketing-game-container {
            padding: 19px 19px 19px 23px;

            .marketing-game-container-title {
                text-align: center;
                margin-bottom: 4px;

                span {
                    @include font($font07, 24px, 1.67, $marketingGrey);
                    display: inline-block;

                    @include respond-to ('xssmall') {
                        @include font($font07, 18px, 2.22, $marketingGrey);
                    }
                }

                @include respond-to ('xssmall') {
                    margin-bottom: 6.8px;
                }
            }

            .game-top-controls {
                .game-top-controls-content {
                    display: block;
                    background: url("../../../images/CM-Marketing/marketing-contenttiles-game-top.png") no-repeat;
                    height: 23px;
                    background-size: 100%;

                    @include respond-to ('xssmall') {
                        height: 19.3px;
                    }
                }
            }

            .marketing-content-tile-container {
                max-width: 324px;

                .content-tile-body {
                    height: auto;

                    .game-video-wrapper {
                        height: 100%;

                        .image-container {
                            border: 0;
                            height: 100%;
                            max-width: 100%;
                        }
                    }

                    .content-module {
                        .content-module-container {
                            .content-one-up {
                                .img-container {
                                    max-height: 240px;

                                    @include respond-to ('xssmall') {
                                        max-height: 201.5px;
                                    }

                                    .popup-img-icon {
                                        display: none;
                                    }
                                }
                            }

                            &.game-container-bg {
                                max-height: 240px;
                            }

                            .content-wrapper {
                                .content-one-up {
                                    .img-container {
                                        img {
                                            max-height: 240px;
                                            height: auto !important;

                                            @include respond-to ('xssmall') {
                                                max-height: 201.5px;
                                            }
                                        }
                                    }

                                    .rteContent {
                                        display: none;
                                    }
                                }

                                div[ng-bind-html=containerGameDesc] {
                                    display: none;
                                }
                            }
                        }
                    }

                    @include respond-to ('xssmall') {
                        height: auto;
                    }
                }

                @include respond-to ('xssmall') {
                    max-width: 272px;
                }
            }

            @include respond-to ('xssmall') {
                padding: 6.1px 18.6px 20px 15.4px;
            }
        }
    }

    .marketing-video-game-content-new {
        display: none;
    }

    @include respond-to ('xssmall') {
        padding-top: 46px;
        padding-bottom: 33.7px;
    }
}
