.error-page-wrapper {
	.error-page {
		.error-page-container {
			.error-page-content {
				h2 {
					font-family: 'ProximaNova-Medium';
				}

				p {
					font-family: 'ProximaNova-Regular';
				}

				.error-btn {
					font-family: 'ProximaNova-Bold';
				}
			}
		}
	}
}
