.iarticle-aggregator{
	.iarticle-non-featured-hash-container{
		position:relative;
		.iarticle-content-container-hash {
			background: none;
			min-height: 84.9%;
			background-color: $dynamathIaggregatorBackground;

			&.featured-hash {
				min-height: 90.45%;
			}
		}
	}
     
	.iarticle-content-container-hash {
		background: none;
		min-height: 84.9%;
		background-color: $dynamathIaggregatorBackground;

		&.featured-hash {
			min-height: 90.45%;
		}
	}

    .iarticle-content-container{
    	margin-bottom:60px;
    	.iarticle-content{
    		padding-top:67px;
    	}
		.iarticle-aggre-subtags{
			text-transform: uppercase;
			display:inline-block;
			padding-bottom: 10px;
			@include font($fontV9, 13px, 1.23, $slNumberColor, 1.3px);
			span{
			padding-right: 15px;
				&:last-child{
					padding-right: 0;
				}
			}
		}
		.iarticle-tags-wrapper{
		border-bottom:0;
			.iarticle-tags-content{
				display:none;
			}
		}

		.iarticle-aggre-title-wrapper{
			  @include font($fontPE4, 24px, 1.33, $black, 0.5px);
			  padding-bottom: 22px;
		      background-image: radial-gradient($dynamathDotColor 38%, transparent 45%);
		      background-image: -ms-radial-gradient($dynamathDotColor 38%, transparent 45%);
		      background-image: -moz-radial-gradient($dynamathDotColor 38%, transparent 45%);
		      background-image: -webkit-radial-gradient($dynamathDotColor 38%, transparent 45%);
		      background-repeat: repeat-x;
		      background-size: 14.6px 14.6px;
		      background-position: bottom; 
		      margin-bottom:10px;
		      border-bottom: 0;
		      .iarticle-aggre-title{
		      	@include font($fontPE4, 24px, 1.33, $black, 0.5px);
		      }
		}
		.iarticle-aggregator-des-sec{
			margin-top:39px;
			.iarticle-aggregator-des{
				margin-top:25px;
				@include font($fontU4, 18px, 1.44, $black, 0.3px);
			}
			.iarticle-tags-bottom-border{
				display:block;
				border-radius: 100px;
  				background-color: $dynamathAggregatorBorder;
  				height: 1px;
			}
		} 
		.iarticle-content{
			 .iarticle-content-wrapper{
			 	border-radius: 10px;
  				border: solid 2px $dynamathIssueHighBorder;
  				.article-image{
  					img{
  						@include border-radius-separate(7px, 0, 7px, 0);
  					}
  				} 
			 }
		}
		
		.article-resources-main-container{
			.article-resources-content{
				    margin-top: 41px;
				    .article-resources-heading{
				    	.article-title{
				    		@include font($fontP7, 16px, 1.5, $black, 0.5px);
				    	}
				    } 
				    .see-all{
				    	h5{
				    		[data-state="expand"],[data-state="collapse"]{
				    			margin-top:30px;
				    			background-color: $submitButtonColor;
				    			span.title{
				    				@include font($fontPE4, 16px, 0.88, $white, 0.5px);
				    			}
				    			.sw-icon{
					    			&.down-black-arrow{
									background-position: -19px -255px;
									width: 14px;
									height: 9px;
					    			}
				    			}
				    		}
				    	} 
				    } 
			}
		} 
    } 
    
		.featured-article-main-container{
			.featured-content-wrapper{
				.featured-article{
					.featured-article-content {
						.featured-article-des-sec{
							margin-top:39px;
							.featured-article-title-wrapper{
								.featured-article-title{
									@include font($fontPE4, 24px, 1.33, $black, 0.5px);
								}
							} 
						}
					}
				} 
			} 
		} 
		.reading-levels{
			margin-top:0;
			@include font($fontSL5, 13px, 1.23, $black, 1px);
			span{
				@include font($fontP7, 13px, 1, $black, 1px);
				text-transform: uppercase;
			}
		} 
} 