.pastIssueGrid-container {
    margin-top: 23px;

    .pastIssueGrid-main-container {
        .textHyperlink-container-wrapper {
            margin-bottom: 56px;
            padding-left: 40px;
            padding-right: 40px;
            
            .textHyperlink-wrapper {
                .textHyperlink-text {
                    @include font($fontSE9, 32px, 0.78, $geoFaqBorder, 0.3px);
                }

                .textHyperlink-count {
                    @include font($fontSE9, 20px, 1.25, $geoFaqBorder, 0.2px);
                    margin-left: 10px;
                    position: relative;
                    bottom: 3px;
                }
            }

            .text-link-connector {
                background: $geoFaqBorder;
                margin-left: 15px;
                top: 2px;
            }
        }

        .pastIssueGrid-main-content {
            .issue-container {
                .issue-cover {
                    border: 0;
                    height: auto;

                    img {
                        max-height: 312px;
                    }
                }

                .issue-date {
                    @include font($fontSL5, 14px, 1.14, $black, normal);
                    padding: 10.6px 0 13.4px;
                    background: $spinAllIssuesButtonBg;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
