<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure
	General - MyBookmarks Component</div>

<div class="bookmarks-main-container resources-container"
	ng-controller="myBookmarksController" ng-cloak>
	<div class="bookmarks-main-content">
		<div class="bookmarks-header">
            <div class="main-title">
			     <span class="title-container">My Bookmarks</span> 
                 <span class="title-count" ng-if="bookmarksCount >= 0">({{bookmarksCount}})</span>
                 <div class="dot-block"></div>
            </div>
		</div>
		<div class="row articles-resources-issues-container pad0 nomarLR">
			<div class="articles-resources-issues-tabs pad0">
				<ul class="nav nav-tabs" id="myTab">
					<li class="col-md-6 col-sm-6 col-xs-6 pad0"
						ng-class="{'active':currentTab === 'articlesTab'}"
						data-target="#articlesTab" data-toggle="tab"
						ng-click="openTab('articlesTab', 'articleTabData')"><a href="javascript:void(0);">Articles
							& Teaching Resources</a></li>
					<li class="col-md-6 col-sm-6 col-xs-6 pad0"
						ng-class="{'active':currentTab === 'issuesTab'}"
						data-target="#issuesTab" data-toggle="tab"
						ng-click="openTab('issuesTab', 'issueTabData')"><a
						href="javascript:void(0);">Issues</a></li>
				</ul>
			</div>
			<div class="tab-content clearfix pad0" ng-if="articleList.length > 0">
				<div class="tab-pane clearfix active" id="{{currentTab}}">
					<div
						class="col-md-3 col-sm-3 col-xs-4 filter-section-container pad0">
						<div class="bookmarks-facets">
							<div class="filter-category-section filter-magazine-section"
								ng-if="magazinesData.length > 0">
								<div class="filter-category-heading">FILTER BY MAGAZINE</div>
								<div class="filter-category-items-container">
									<form>
										<ul class="clearfix">
											<li class="filter-category-item js-magazine"
												ng-repeat="magazine in magazinesData"
												ng-if="magazine.count > 0"><input type="checkbox"
												id="{{magazine.id}}" value="" ng-disabled="!magazine.count"
												ng-model="magazine.isSelected" ng-change="filterBookmarks()">
												<label for="{{magazine.id}}"></label> <span>{{magazine.name}}
													({{magazine.count}})</span></li>
										</ul>
									</form>
								</div>
							</div>
							
							<div class="filter-category-section filter-type-section"
								ng-if="contentTypesData.length > 0">
								<div class="filter-category-heading">FILTER BY TYPE</div>
								<div class="filter-category-items-container">
									<form>
										<ul class="clearfix">
											<li class="filter-category-item js-type"
												ng-repeat="type in contentTypesData | orderBy"><input
												type="checkbox" id="contentType{{$index}}" value=""
												ng-disabled="!type.count" ng-model="type.isSelected"
												ng-change="filterBookmarks()"> <label
												for="contentType{{$index}}"></label> <span>
													{{type.contentType}} ({{type.count}})</span></li>
										</ul>
									</form>
								</div>
							</div>
							
							<div class="filter-category-section filter-subject-section">
								<div class="filter-category-heading">FILTER BY SUBJECT</div>
								<span class="filter-category-select-text" ng-if="!isMagazineSelected">Select a magazine first</span>
								<div class="filter-category-items-container" ng-if="isMagazineSelected">
									<form>
										<ul class="clearfix">
											<li class="filter-category-item js-subject"
												ng-repeat="subject in subjectsData"><input
												type="checkbox" id="{{subject.id}}" value=""
												ng-disabled="!subject.count" ng-model="subject.isSelected"
												ng-change="filterBookmarks('subject')" /> <label
												for="{{subject.id}}"></label> <span>{{subject.name}}
													({{subject.count}})</span></li>
										</ul>
									</form>
								</div>
							</div>
							<div class="filter-category-section filter-reset-section"
								ng-if="subjectsData.length > 0 || magazinesData.length > 0 || contentTypesData.length > 0">
								<div class="filter-category-items-container">
									<form>
										<ul class="clearfix">
											<li class="filter-category-item" ng-click="resetFilters()">
												<span class="sw-icon refresh-icon refresh"
												aria-label="Reset All Filters"></span> <span>Reset
													All Filters</span>
											</li>
										</ul>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-8 bookmarks-section pad0">
						<div class="bookmarks-content">
							<div class="row sort-by-wrapper nomarLR">
								<span class="sort-by-text">Sort By:</span> <span
									class="sort-by-category"
									ng-class="{'active-sort':sortCondition==='publishedDate'}"><a
									href="" ng-click="sortBookmarks('publishedDate', true)">Date
										Published</a></span> <span class="sort-by-category"
									ng-class="{'active-sort':sortCondition==='title'}"><a
									href="" ng-click="sortBookmarks('title', false)">Title</a></span>
                                 <span class="sort-by-category"
									ng-class="{'active-sort':sortCondition==='bookmarkDateSaved'}"><a
									href="" ng-click="sortBookmarks('bookmarkDateSaved', true)">Date Saved</a></span>
							</div>
							<div class="row bookmarks-tiles row-wrapper equal-row-wrapper">
								<div
									class="col-md-4 col-sm-6 col-xs-6 bookmarks-tiles-content pad10"
									ng-repeat="article in pagedAlerts[currentPage-1] | orderBy:sortCondition:sortDirection">
									<sw-content-tile image-src ="{{article.imagePath}}"
										image-hyperlink="{{article.pagePath}}"
										content-title="{{article.title}}"
										display-date="{{article.displayDate}}"
										subject="{{article.tags.join(', ') | uppercase}}"
										description="{{article.description}}"
										content-type="{{article.contentType}}"
										display-style="bookmark"
										bookmark-title="{{magazineList[article.magazineType]}}"
										bookmark-date="{{article.sortingDate}}"
										bookmark-type="{{article.contentType}}" position="vertical"
										video-length="{{article.videoDuration}}"
										video-id="{{article.videoId}}" style-type="regular"
										show-download-icon="{{article.contentTileFlags.downloadEnabled}}"
										show-share-icon="{{article.contentTileFlags.shareEnabled}}"
										show-view-article-link="{{article.contentTileFlags.viewArticleEnabled}}"
										view-article-link-url="{{article.articlePagePath}}"
										user-role="{{article.userRole}}"
										share-link-url="{{article.shareLinkUrl}}"
										game-id="{{article.gameModel.containerId}}"
										game-flash-container="{{article.gameModel.containerPath}}"
										game-path="{{article.gameModel.gamePath}}"
										game-type="{{article.gameModel.gameType}}"
										article-link-text="View Article"
										get-bookmark-paths="getBookmarkPaths({path: path, operation: operation})"
										bookmark-path="{{article.bookmarkPath}}">
									</sw-content-tile>
								</div>
							</div>
							<div class="row">
								<sw-pagination total-page-count="totalPageCount" on-next="goToNextPage()" on-previous="goToPrevPage()" on-change="setPage(currentPage)" records="records" pages="pages" bookmark-current-page="page" my-bookmark-page="true" my-bookmark-total-records="pagedAlerts"></sw-pagination>
							</div>
							<!--Modal Starts-->
							<div class="modal fade" id="articleVideo" tabindex="-1"
								role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">×</span>
											</button>
											<h4 class="modal-title"></h4>
										</div>
										<div class="modal-body">
											<!-- Start of Brightcove Player -->
											<!--
																						By use of this code snippet, I agree to the Brightcove Publisher T and C
																						found at https://accounts.brightcove.com/en/terms-and-conditions/.
																						-->
											<object id="myExperience5115612056001"
												class="BrightcoveExperience">
												<param name="bgcolor" value="#FFFFFF" />
												<param name="width" value="474" />
												<param name="height" value="400" />
												<param name="playerID" value="" />
												<param name="playerKey"
													value="AQ~~,AAAAAFv844g~,BASb5BU03X-uQzvS8z7DzGIDGHVv6Vy2" />
												<param name="isVid" value="true" />
												<param name="dynamicStreaming" value="true" />
												<param name="@videoPlayer" value="" />
											</object>
											<!--
																							This script tag will cause the Brightcove Players defined above it to be created as soon
																							as the line is read by the browser. If you wish to have the player instantiated only after
																							the rest of the HTML is processed and the page load is complete, remove the line.
																							-->
											<!-- End of Brightcove Player -->
										</div>
									</div>
								</div>
								<!--Modal Ends-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-class="{'in':isSpinnerShow}" class="spinnercontainer">
		<img
			src="/etc/designs/scholastic/classroom-magazines-migration/images/icons/spinner.gif">
	</div>
</div>
