.questions-set{
	.subject-area{
        @include font($fontS7, 22px, 1, $black, 0.5px);
    }
    .question-block {
        padding: 9px 0 0 18px;
        .question{
            @include font($font04, 18px, 2, $contentTileSubjectBlue, 1px);
        }
    }
}