<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure Marketing
	Global Navigation Subscribe Component</div>

<div
	data-sly-use.globalNavSubscribeUse="com.scholastic.classmags.migration.controllers.GlobalNavSubscribeUse">

	<div
		data-sly-test="${globalNavSubscribeUse.isUserLoggedOutFlag || !wcmmode.disabled}">
		
	</div>
</div>

