.answer-question-block{
	    padding-left: 0;
	    padding-bottom: 0;
	.answer-question{
        @include font($fontSL5, 22px, 1.27, $sn4FaqAnsQuestion, 1px);
		padding-top: 0;
	}
	.answer-image-block{
		.answered-content{
            @include font($fontSL4, 18px, 1.44, $black, normal);
			padding-top: 20px;
            padding-bottom: 30px;
		}
	}
}