.bookmarks-main-container {
    background: $white;
    margin-top: 16px;

    .bookmarks-main-content {
        .bookmarks-header {
            margin-left: 40px;

            .title-container {
                @include font($fontN5, 32px, 1.25, $black, 1px);
            }

            .title-count {
                @include font($font04, 16px, 1.5, $black, 0.5px);
                margin-left: 26px;
            }
        }

        .articles-resources-issues-container {
            margin-top: 28.1px;

            .articles-resources-issues-tabs {
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }

                ul {
                    box-sizing: border-box;

                    li {
                        position: relative;
                        background-color: $tabBgGrey;
                        height: 54px;
                        text-transform: uppercase;
                        cursor: pointer;

                        a {
                            @include font($font6, 12px, 1.17, $tabBgGreyText, 1px);
                            margin-right: 0;
                            border: 0;
                            background-color: transparent;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                            padding-left: 0;
                            padding-right: 0;
                        }

                        &.active {
                            background-color: $tabBgBlue;
                            cursor: default;

                            a {
                                color: $white;
                            }

                            &:before {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                border-top: 35px solid $tabBgGrey;
                                border-left: 33px solid $tabBgBlue;
                                width: 0;
                            }
                        }
                    }

                    li:last-child {
                        pointer-events: none;
                    }
                }
            }

            .tab-content {
                clear: both;
                padding-top: 31px;

                .tab-pane {
                    &:after {
                        content: "";
                        display: block;
                        clear: both;
                    }

                    .bookmarks-section {
                        padding-left: 14.83px;
                        padding-right: 30px;
                    }

                    .filter-section-container {
                        padding-left: 0;
                        padding-right: 0;
                    }

                    .filter-section-container {
                        .bookmarks-facets {
                            padding-left: 40px;
                            width: 210px;
                            @include font($font7, 13px, 1, $black, 1px);
                        }

                        ul {
                            padding-left: 0;

                            li {
                                list-style-type: none;
                            }
                        }

                        .filter-category-section {
                            border-top: 1px solid $liteAsh2;
                            padding-top: 28px;

                            &.filter-reset-section {
                                padding-top: 21px;
                                padding-bottom: 4px;
                                border-bottom: 1px solid $liteAsh2;

                                .filter-category-items-container {
                                    .filter-category-item {
                                        @include font($font09, 13px, 1.08, $liteBlue2, 0.5px);
                                        cursor: pointer;

                                        span {
                                            left: 21px;
                                            top: 4px;

                                            &.refresh {
                                                left: 0;
                                                top: 3px;
                                            }
                                        }
                                    }
                                }
                            }

                            &.filter-bookmark-section {
                                padding-top: 16px;
                            }

                            .filter-category-heading {
                                @include font($font09, 13px, 1, $black, 1px);
                                margin-bottom: 13px;
                            }

                            .filter-category-items-container {
                                ul {
                                    margin-bottom: 0;

                                    .filter-category-item {
                                        @include font($font04, 12px, 1.08, $black, 0.5px);
                                        padding-top: 12px;
                                        padding-bottom: 12px;
                                        cursor: pointer;
                                        width: 100%;
                                        position: relative;
                                        margin: 0 auto 15px;

                                        &:last-child {
                                            margin-bottom: 28px;
                                            padding-bottom: 4px;
                                        }

                                        span {
                                            position: absolute;
                                            left: 20px;
                                            top: 3px;
                                        }

                                        label {
                                            width: 16px;
                                            height: 16px;
                                            cursor: pointer;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            background: $white;
                                            border-radius: 2px;
                                            border: 1px solid $liteAsh2;

                                            &:after {
                                                content: '';
                                                width: 9px;
                                                height: 5px;
                                                position: absolute;
                                                top: 4px;
                                                left: 3px;
                                                border: 3px solid $black;
                                                border-top: none;
                                                border-right: none;
                                                background: $white;
                                                opacity: 0;
                                                transform: rotate(-45deg);
                                            }
                                        }

                                        input[type=checkbox] {
                                            display: none;

                                            &:checked {
                                                +label {
                                                    background-color: $liteBlue2;

                                                    &:after {
                                                        opacity: 1;
                                                        border-color: $white;
                                                        background-color: $liteBlue2;
                                                    }
                                                }
                                            }
                                        }

                                        input[type=checkbox][disabled] {
                                            +label {
                                                background: $liteAsh2;
                                                cursor: default;

                                                &:after {
                                                    content: '';
                                                    width: 9px;
                                                    height: 5px;
                                                    position: absolute;
                                                    top: 3px;
                                                    left: 2px;
                                                    border: 3px solid $white;
                                                    border-top: none;
                                                    border-right: none;
                                                    background: $liteAsh2;
                                                    opacity: 1;
                                                    transform: rotate(-45deg);
                                                }

                                                +span {
                                                    @include font($font04, 12px, 1.08, $liteAsh2, 0.5px);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bookmarks-content {
            .sort-by-wrapper {
                @include font($font5, 12px, 1.08, $black, 0.5px);
                height: 13px;
                margin-bottom: 27px;

                span {
                    border-left-style: solid;
                    border-left-color: $liteAsh2;
                    border-left-width: 2px;
                    padding-left: 18px;
                    margin-right: 16px;

                    &:first-child,
                    &:nth-child(2) {
                        border-left: none;
                    }

                    &:nth-child(2) {
                        padding-left: 0;
                    }

                    a {
                        text-decoration: none;
                    }
                }

                .sort-by-text {
                    @include font($font5, 12px, 1.08, $black, 0.5px);
                    padding-left: 9px;
                }

                .sort-by-category {
                    @include font($font04, 12px, 1.08, $liteBlue2, 0.5px);

                    &:first-child {
                        border-left: 0;
                        padding-left: 0;
                    }

                    a {
                        @include font($font5, 12px, 1.08, $liteBlue2, 0.5px);
                    }

                    &.active-sort {
                        a {
                            @include font($font7, 12px, 1.08, $black, 0.5px);
                        }
                    }
                }
            }

            .bookmarks-heading {
                background-color: $white;
                border: solid 1px $dimLiteGray;
                padding: 19px 0 19px 20px;
                position: relative;

                .bookmarks-title {
                    @include font($font04, 11px, 1.09, $liteAsh6, 0.6px);
                    position: absolute;
                    top: 50%;
                    transform: translate(0%, -50%);
                }
            }

            .bookmarks-tiles {
                @extend .nomarLR;

                .bookmarks-tiles-content {
                    margin-bottom: 20px;
                }

                .tile-container {
                    background-color: $white;
                    border: solid 1px $dimLiteGray;
                    padding: 20px 20px 10px;
                    position: relative;

                    .asset-placholder {
                        width: 100%;
                        height: 160px;
                        position: relative;
                        margin-bottom: 11px;
                        background-color: $globalNavPopoverGray;
                        margin: 0 auto 11px;
                        overflow: hidden;

                        img {
                            max-width: 285px;
                            max-height: 160px;
                            @include center-both;
                        }

                        span.icon {
                            @include center-both;

                            &.icon-video-play {
                                width: 70px;
                                height: 70px;
                                background-image: url('../../../images/icons/icon-video-play.png');
                                background-size: 70px 70px;
                                background-repeat: no-repeat;
                            }
                        }

                        &.asset-bg-pad {
                            padding: 15px 15px 0;
                        }

                        &.asset-pinkbg-color {
                            background-color: $litePink;

                            img {
                                height: 142px;
                            }
                        }

                        &.asset-greenbg-color {
                            background-color: $liteGreen;

                            img {
                                height: 142px;
                            }
                        }

                        &.asset-bluegreenbg-color {
                            background-color: $bluishGreen;

                            img {
                                height: 142px;
                            }
                        }
                    }

                    .title-content {
                        text-align: left;
                        word-wrap: break-word;

                        .tile-title {
                            @include font($fontN5, 18px, 1.17, $black, 0.5px);
                            margin-bottom: 4px;

                            a {
                                text-decoration: none;
                                color: $black;
                            }

                            &.font-black {
                                color: $black;
                            }
                        }

                        .tilesub-title {
                            @include font($fontN7, 10px, 1.6, $liteBlue2, 0.8px);
                            margin-bottom: 11px;
                        }

                        .tile-desc {
                            @include font($font04, 16px, 1.5, $black, 0.5px);
                            height: 72px;
                            margin-bottom: 36px;
                        }

                        .tile-icons {
                            position: absolute;
                            bottom: 8px;

                            a {
                                margin-right: 9px;
                                float: left;

                                .sw-icon {
                                    width: 32px;
                                    height: 32px;
                                    display: inline-block;
                                    background-repeat: no-repeat;
                                    background-color: $liteBlue5;
                                    border-radius: 32px;

                                    &.upload-icon {
                                        background-image: url('../../../images/icons/icon-share.png');
                                    }

                                    &.download-icon {
                                        background-image: url('../../../images/icons/icon-download.png');
                                    }
                                }
                            }
                        }

                        .view-article {
                            @include font($font09, 14px, 1, $liteBlue2, 0.5px);
                            position: absolute;
                            bottom: 27px;
                            right: 20px;

                            a {
                                text-decoration: none;
                                color: $liteBlue2;
                            }
                        }
                    }
                }

                &.issues-tab-bookmarks-tiles {
                    .issue-single-tile {
                        padding: 0 10px;

                        .issue-tile {
                            background-color: $white;
                            padding: 15px;
                            margin-bottom: 15px;

                            .img-wrapper {
                                position: relative;
                                max-width: 187px;
                                height: 200px;
                                text-align: center;

                                a {
                                    text-align: center;

                                    img {
                                        max-width: 100%;
                                        max-height: 200px;
                                    }
                                }
                            }

                            .issue-date-btn {
                                text-transform: capitalize;
                                background-color: $liteBlue5;
                                border-radius: 8px;
                                @include font($font7, 10px, 1.6, $liteAsh5, 0.8px);
                                padding: 10px 0;
                                border: 0;
                                margin: 13px auto 0;
                                text-align: center;

                                &:active,
                                &:focus,
                                &:hover {
                                    cursor: pointer;
                                }

                                a {
                                    @include font($font7, 10px, 1.6, $liteAsh5, 0.8px);

                                    &:active,
                                    &:focus,
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /*Pagination styles starts*/
        .pagination-main-container {
            float: right;
            right: 50%;
            position: relative;

            .pagination-wrapper {
                width: 100%;
                float: right;
                right: -50%;
                position: relative;

                .paginationBottom {
                    margin: 33px auto 60px;

                    ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0 0 5px;
                        height: 15px;
                        font-family: arial, verdana, sans-serif;
                        font-size: 9px;
                        letter-spacing: 1px;
                        @include font($font5, 15px, null, $liteBlue2, 1px);

                        li {
                            float: left;
                            margin: 0 0 0 6px;
                            padding: 0;
                            height: auto;
                            line-height: 15px;
                            vertical-align: middle;
                            font-size: 15px;

                            span {
                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            &.pagePrevious {
                                margin-left: 0;
                            }

                            &.pageNext,
                            &.pagePrevious {
                                .glyphicon {
                                    top: 0;
                                }

                                a {
                                    vertical-align: top;
                                    position: relative;
                                    top: 1px;
                                }
                            }

                            &.pageLabel {
                                position: relative;
                                top: -3px;
                            }

                            &.pageNextPipe {
                                color: $mediumGrey;
                            }

                            &.disabled-link {
                                opacity: 0.6;
                                cursor: not-allowed;

                                &:hover {
                                    cursor: not-allowed;
                                }

                                a,
                                span {
                                    &:hover {
                                        cursor: not-allowed;
                                    }
                                }
                            }

                            a {
                                font-weight: bold;
                                line-height: 15px;
                                text-transform: uppercase;
                                text-decoration: none;
                                font-size: 15px;

                                &.disableLink {
                                    color: grey;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*Pagination styles ends*/
    .modal {
        .modal-content {
            text-align: center;
            box-shadow: none;
            border: 0;
            margin-top: 50px;
            width: 85%;
            margin: 0 auto;

            object {
                width: 85%;
                margin: 0 auto;
            }
        }
    }

    .content-tile-container {
        .bookmark-header {
          .row:nth-child(2) {
              div:first-child {
                  padding-right: 0;
              }
          }
        }
    }
}
