<div data-sly-test="${wcmmode.edit}">
    Config - Footer Container component
</div>
<div data-sly-resource="${ @path='global-footer-par', resourceType='wcm/foundation/components/parsys'}"></div>
<div data-sly-resource="${'social-links' @ resourceType='scholastic/classroom-magazines-migration/components/content/social-links-config'}"></div>
