<div data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse" data-sly-unwrap>
    <sly data-sly-test.noCreditCaption="${!(properties.jcr:credits && properties.jcr:caption)}"></sly>
    <div data-sly-test="${wcmmode.edit || globalAccess.visible}" data-sly-unwrap>
        <div class="cm-migration-image-container" ng-controller="articleHeroImageController" data-sly-use.cmMigrationImageUse="com.scholastic.classmags.migration.controllers.CmMigrationImageUse">
            <div data-sly-test="${wcmmode.edit && !properties.fileReference}">Configure Article - Image component</div>
            <div data-sly-test="${properties.fileReference}" data-sly-unwrap>
                <div id="HeroImageComponent" class="image-popup-image-layout">
                    <div class="image-popup-image-container" ng-class="${noCreditCaption}? 'cm-migration-image-bottom-radius':''">
                        <a target="_blank" href="${cmMigrationImageUse.cmMigrationImage.hyperlink}">
                            <sw-image src="${properties.fileReference}" alt="Classroom magazines image" height="auto" width="670px"
                            modal-toggle="modal" modal-target=".${cmMigrationImageUse.uniqueId}" image-popup-class="cm-image-wrapper"
                            pop-up-image-configured="${properties.fileReference && properties.filePopupReference}" image-class="sn4-image-background"></sw-image>
                        </a>
                        <div class="caption-section">
                            <div data-sly-test="${properties.jcr:credits}" data-sly-unwrap>
                                <div class="img-popup-credits wordBreak">${properties.jcr:credits}</div>
                                </div>
                            <div data-sly-test="${properties.jcr:caption}" data-sly-unwrap>
                                <div class="img-popup-caption wordBreak">${properties.jcr:caption @context='html'}</div>
                            </div>
                        </div>
                        <div data-sly-test="${properties.fileReference && properties.filePopupReference}" class="popup-img-icon">
                            <span data-toggle="modal" class="sw-icon expand-icon" data-target=".${cmMigrationImageUse.uniqueId}"></span>
                        </div>
                        <div class="modal modal-wide ${cmMigrationImageUse.uniqueId}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <span class="close sw-icon close-icon" data-dismiss="modal"></span>
                            <div class="modal-dialog modal-lg popup-modal-image-container" role="document">
                                <div class="image-popup-content">
                                    <sw-image src="${properties.filePopupReference}" alt="Image component popup" image-class="article-hero-modal-image"></sw-image>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
