.iarticle-aggregator {
    .iarticle-content-container {
        margin-bottom: 50px;
        .iarticle-aggre-title {
            @include font($fontSL7, 30px, 1.07, $black, 1px);
        }
        .iarticle-tags-wrapper {
            margin-top:9px;
            border-bottom: 0;
            padding-bottom: 10px;
            .iarticle-tags-content {
                .iarticle-aggre-sub-title {
                    @include font($fontSL7, 14px, 1.14, $black, 1px);
                    text-transform: uppercase;
                }
            }
        }
        .iarticle-aggre-title-wrapper {
            border-bottom: 0;
            padding-bottom: 10px;
                margin-bottom: 0;
        }
        .iarticle-aggregator-des-sec {
            margin-top: 37px;
            padding-left: 27px;
            .iarticle-aggregator-des {
                @include font($fontU4, 20px, 1.3, $black, 0.6px);
                margin-top: 20px;
            }
            .iarticle-title-bottom-border{
                display: block;
                height: 2px;
                border-radius: 100px;
                background-color: $featuredborderGreySN3;
            }
            .iarticle-tags-bottom-border{
                display: block;
                height: 1px;
                border-radius: 100px;
                background-color: $featuredborderGreySN3;
            }
        }
        .iarticle-content {
            padding: 58px 40px 56px 40px;

            .iarticle-content-wrapper {
                border-radius: 8px;
                border: solid 2px $featuredborderGreySN3;
                .article-image {
                    @include border-radius-separate(8px, 0, 8px, 0px);
                    img {
                        @include border-radius-separate(5px, 0, 5px, 0);
                    }
                }
            }
        }
        .iarticle-non-featured-hash-container{
            position:relative;
        }
    }
    .featured-article-main-container {
        .featured-content-wrapper {
            .featured-article {
                padding: 30px 40px 49px 40px;

                .featured-article-content {
                    border-radius: 8px;
                    border: solid 2px $featuredborderGreySN3;
                    img {
                        &.featured-image {
                            @include border-radius-separate(7px, 7px, 0, 0);
                        }
                    }
                    .featured-article-des-sec {
                        .featured-article-des {
                            @include font($fontU4, 20px, 1.3, $black, 0.6px);
                            padding-bottom: 78px;
                            margin-top:25px;
                        }
                        .featured-article-title-wrapper {
                            padding-bottom: 11px;
                            border-bottom: 2px solid $featuredborderGreySN3;
                            border-bottom: none;
                            margin-bottom: 0;
                            .featured-article-title {
                                @include font($fontSL7, 30px, 1.07, $black, 1px);
                            }
                        }
                        .feature-border{
                            display: block;
                            height: 2px;
                            border-radius: 100px;
                            background-color: $featuredborderGreySN3;
                        }
                        .featured-article-tags-wrapper {
                            .featured-article-tags-content {
                                margin-top: 7px;
                                border-bottom:0;
                                margin-bottom:0;
                                .featured-article-sub-title {
                                    @include font($fontSL7, 14px, 1.14, $black, 1px);
                                    text-transform: uppercase;
                                }
                            }
                            .feature-border{
                                display: block;
                                height: 1px;
                                border-radius: 100px;
                                background-color: $featuredborderGreySN3;
                            }
                        }
                    }
                }
            }
        }
        .article-resources-main-container {
            display: none;
            .article-resources-content {
                margin-bottom: 60px;
            }
        }
    }
    .iarticle-content-container-hash {
        background: none;
        min-height: 100%;
        background-color: $aggregatorHashBorderSN3;
        &.featured-hash {
            min-height: 100%;
        }
    }
    .article-resources-main-container {
        display: none;
        .article-resources-content {
            .article-resources-heading {
                margin-bottom: 8px;
                .article-title {
                    @include font($fontSL5, 16px, 1.5, $black, 0.5px);
                }
            }
            .see-all {
                h5 {
                    [data-state="expand"], [data-state="collapse"] {
                        border-radius: 100px;
                        margin-top: 30px;
                        background-color: $spinGlobalNavButton;
                        span.title {
                            @include font($fontSL7, 16px, 0.88, $black, 1px);
                        }
                    }
                }
                .sw-icon.down-black-arrow {
                    background-position: -20px -253px;
                    width: 13px;
                    height: 11px;
                    position: relative;
                    top: 1px;
                }
                .sw-icon.down-black-arrow.up-black-arrow {
                    top: 3px
                }
            }
        }
    }
}