body{
    background-color: $white;
}
.acs-commons-resp-colctrl-row{
    .custom-background{
        background-color: $dynamathContentTilesBackground;
    }
}

p, li, a{
    b{
        font-family: 'UtopiaStd-Bold';
    }
}