$dynamathTabBorderBottomColor: #941b91 !default;
$dynamathInactiveTabColor: #ced1d2 !default;
$dynamathInactiveTabTextColor: #303030 !default;
$dynamathFilterCategoryItemColor: #006ebe !default;
$dynamathSortByCategoryItemColor: #0083ca !default;
$dynamathLinkBlue : #006ebe !default;
$dynamathArticleToolbarBorderColor: #dce0e2 !default;
$dynamathArticleToolbarBackgroundColor: #f9fafa !default;
$dynamathArticleToolbarDropdownBorder: #dadbde !default;
$dynamathDotColor: #00abf0 !default;
$iconBackgroundColor: #e4e6e7 !default;
$dynamathTopLinksTitleBorder: #f99300 !default;
$dynamathTopLinksButton: #006ebe !default;
$contactInfoBarColor:#006ebe !default;
$slNumberColor:#009d22 !default;
$inputFieldBackground:#f4f4f4 !default;
$inputFieldBorder: #d7d7d7 !default;
$requiredFieldColor: #5d5d5d !default;
$submitButtonColor:#006ebe !default;
$emailInputFieldTextColor:#525252 !default;
$emailRequiredTextColor:#5e5e5e !default;
$dynamathVotingTitle: #38a750 !default;
$dynamathVotingCastVoteButton: #006ebe !default;
$tabComponentActiveColor:#941b91 !default;
$inActiveStateFontColor: #303030 !default;
$tabComponentInActiveStateColor: #ced1d2 !default;
$dynamathFooterBackgroundGreen: #38a750 !default;
$dynamathFooterBorder: rgba(255, 255, 255, 0.6) !default;
$dynamathFooterLinkText: #006ebe !default;
$dynamathArticleImageBorderColor: #dce0e2 !default;
$dynamathArticleImageBackgroundColor: #f9fafa !default;
$dynamathButtonColor: #f8e81c !default;
$dynamathTilesHeaderBlue : #0093ce !default;
$dynamathIssueHighBorder: #c2ccd0 !default;
$dynamathBackgroundGrey: #eceeef !default;
$dynamathContentTileBorder: #c2ccd0 !default;
$dynamathContentTileHeaderBorder: #8dc63f !default;
$dynamathContentTileHeaderBackground: #ededed !default;
$dynamathContentTileSkillBorder: #dfe1e2 !default;
$dynamathContentTileSkillBackground: #f2f2f3 !default;
$dynamathBookmarkTileDateColor: #616364 !default;
$dynamathTDItitleColor: #4a4a4a !default;
$dynamathContentTileDesc: #bd10e0 !default;
$TDIcontentTileBackground: #eff0f2 !default;
$dynamathBlackDescription: #39393a !default;
$dynamathButtonBackground: #f7941d !default;
$dynamathExploreGrey: #6b6f70 !default;
$dynamathExploreBarBorder: #c7cbcd !default;
$dynamathButtonBackground: #f7941d !default;
$dynamathCurrentIssueBackground: #f7f7f7 !default;
$dynamathContentTilesBackground: #eceeef !default;
$dynamathIaggregatorBackground: #f4f5f6 !default;
$dynamathArticleImageBackground:#f9fafa !default;
$dynamathSubjectsCoveredDotBorder: #00abf0 !default;
$dynamathLightGrey: #dddddd !default;
$dynamathThickBlue: #073f95 !default;
$marketingDynamathThickBlue: #006ebe !default;
$marketingDynamathLightGrey: #f9fafb !default;
$dynamathAggregatorBorder:#d1d3d4 !default;
$dynamathContentTileBorder: #c2ccd0 !default;
$dynamathContentTileHeaderBorder: #8dc63f !default;
$dynamathContentTileHeaderBackground: #ededed !default;
$dynamathContentTileSkillBorder: #dfe1e2 !default;
$dynamathContentTileSkillBackground: #f2f2f3 !default;
$dynamathBookmarkTileDateColor: #616364 !default;
$questionsColor:#006ebe !default;
$borderColor: #8dc63f !default;
$marketingDynamathBorderGrey: #e3e3e3 !default;
$marketingDynamathBlue: #00aeef !default;
$dynamathLearnMore: #1399ec !default;
$blogPostHeadingColor: #525657 !default;
$blogPostDateColor: #74797c !default;
$blogCategoryBorderColor: #e7ecef !default;
$blogCategoryTitleColor: #6a6b6b !default;
