.thankyou-back-to-previous-wrapper {
    position: relative;
    
    .col-md-offset-2 {
        margin-left: 7.066%;
    }
    
    .thankyou-hash-background {
        display: block;
        background: url('../../../images/lines-grey.png') repeat;
        min-height: 118px;
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        z-index: -1;
    }
    
    .thankyou-container {
        background-color: $white;
        border: 1px solid rgba(204, 204, 204, 0.44);
        margin-top: 35px;
        position: relative;
        top: -5px;
        
        .thankyou-content {
            @include font($fontP4, 17px, 1.29, $black, normal);
        }
        
        .thankyou-content-pad-container {
            margin-top: 33px;
            
            a {
                color: $tabBgBlue;
                
                &:focus, &:hover, &:active {
                    color: $tabBgBlue;
                }
            }
        }
    }
    
    .back-to-previous-wrapper {
        margin-bottom: 117px;
        
        .back-to-previous-text {
            a {
                @include font($fontPE4, 14px, 1, $tabBgBlue, normal);
                
                &:focus, &:hover, &:active {
                    @include font($fontPE4, 14px, 1, $tabBgBlue, normal);
                }
            }
        }
    }
}