.current-issue-hero-component {
    background-color: $dynamathCurrentIssueBackground;
    .current-issue-hero-component-hash{
        background-image: none;
    }
    .hero-component-title-des {
        a {
            @include font($fontP7, 28px, 0.86, $black, 0.5px);
        }
    }
    .past-issue-wrapper {
        .current-issue-img-center {
            margin-left:12px;
        }
    }
    &.past-issue-list-main-container {
        background-color: $dynamathCurrentIssueBackground;
        .past-issue-list-main-content {
            .tile-wrapper-past-date {
                padding-left:23px;
                .date-tile-wrapper-center {
                    .past-issue-date-container{
                        margin-top:3px;
                        margin-bottom:10px;
                        @include font($fontP4, 28px, 0.86, $black, 0.5px);
                        border-bottom: 0px;
                        display:flex;
                        .view-article-container{
                            background-image: radial-gradient($tabComponentActiveColor 38%, transparent 45%);
                            margin-right:0px;
                            margin-left:10px;
                            background-size: 13px 13px;
                            background-position: 0 0;
                            background-repeat: repeat-x;
                            padding-top: 14px;
                            flex-grow: 1;
                            top: 5px;
                            position: relative;
                            a{
                               visibility: hidden;
                            }
                        }
                        .latest-issue-text{
                            display:none;
                        }
                        
                    }
                
                }
            
            }
            .explore-button-link {
                top:418px;
            }
            a{
                .explore-latest-button{
                    background-color: $dynamathVotingCastVoteButton;
                    @include font($fontPE4, 18px, 1.11, $white, 0.5px);
                    padding:10px 0px;
                    margin-left:13px;
                    margin-right:12px;
                    text-transform: capitalize;
                }
            }
        }
        
    }
    .current-issue-tile-wrapper {
        margin-top:5px;
    }
    .highlights-issue-date{
        display:block;
        @include font($fontPE4, 34px, 1.06, $white, 1px);
        padding:13px 63px 7px;
        background-color: $tabComponentActiveColor;
        margin-bottom:31px;
        vertical-align: middle;
        .capitalize-text{
            text-transform: capitalize;
        }
    }
}