.content-tiles-misc-container{    
    .download-icon{
        background-image: url('../../../images/icons/icon-download.png');
        height: 32px;
        width: 32px;
        display: inline-block;
        margin-left:10px;
    }  
    
    span.icon {
        @include center-both;
        &.icon-video-play {
            width: 62px;
            height: 62px;
            background-image: url('../../../images/icons/icon-video-play.png');
            background-size: 62px 62px;
            background-repeat: no-repeat;

        }
    }
    
    .issue-horizontal-height{
        height: 268px;
    }
    
    .article-horizontal-height{
        height: 245px;
    }
    .article-vertical-height{
        height: 375px; 
    }
    
    .article-horizontal-height-large{
        height: 231px;
    }
    
    .share-icon {
            width: 32px;
            height: 32px;
            background-size: 32px 32px;
            background-image: url("../../../images/icons/icon-share.png");
            display: inline-block;  
            float:left;
    }
        
    .content-issue-container{           
        background-color: $white;           
        padding: 20px;
        margin: 5px;
        
        .row{
            margin: 0;
            padding: 0;
        }
        
        .tile-image{              
            max-width: 100%;
            max-height: 231px;
        }        
        .content-image{            
            max-width: 168px;
            max-height: 231px;        
            padding: 0;
            position: relative;  
            text-align: center;
        }         
        
        .content-title{  
            @include font($font7, 18px, 1.17, $liteBlue2, 0.5px); 
            margin: 0;
            margin-bottom: 12px; 
                      
        }         
        .content-description{
            @include font($font04, 16px, 1.5, $black, 0.5px);
            height: 120px;
        } 
        
        .content-description-v{
            @include font($font04, 16px, 1.5, $black, 0.5px);
            height: 72px;
        }
        .margin-v{
            margin-top:11px;
        }      
    }
    
    .content-misc-container{   
        background-color: $white;  
        padding: 20px;
        margin: 5px;
        
        .content-image{
            max-width: 253px;
            max-height: 142px;
            padding: 0;            
            padding: 0;
            position: relative;    
            text-align: center;
        } 
        
         .tile-image{         
            max-width: 100%;
            max-height: 142px;
        }
        

        .tile-icons{
            position: absolute;
            bottom: 10px;
            .share-icon-v {
                width: 32px;
                height: 32px;
                background-size: 32px 32px;
                background-image: url("../../../images/icons/icon-share.png");
                display: inline-block;
				float:left;				
                
            }
        }
 
        .content-image-article-horizontal{
            max-width: 195px;
            max-height: 168px;
            padding: 0;           
            padding: 0;
            position: relative;   
            text-align: center
          
        } 
        
         .tile-image-article-horizontal{            
            max-width: 100%;
            max-height: 195px;
        }
        
        
        .content-image-article-large{
            max-width: 372px;
            max-height: 195px;
            padding: 0;          
            padding: 0;
            position: relative;    
            text-align: center;
        } 
        
         .tile-image-article-large{         
            max-width: 100%;
            max-height: 195px;
        }
        
        
        .custom-image{
            max-width: 342px;
            max-height: 195px;
            padding: 0;            
            padding: 0;
            position: relative;    
            text-align: center;
        } 
        
         .custom-tile-image{         
            max-width: 100%;
            max-height: 195px;
        }
        
        .row{
            margin: 0;
            padding: 0;
        }
        
        .content-title{              
            @include font($font7, 18px, 1.17, $liteBlue2, 0.5px);
            margin: 0;
            margin-bottom: 6px;             
        }
        
        .content-subject{
            @include font($font7, 10px, 1.6, $liteAsh5, 0.8px);       
            margin: 0;
            margin-bottom: 11px;
        }
        
        .content-date{
            @include font($font5, 10px, 1.4, $black, 0.3px);
            margin: 0;
        }
        
        .content-description{
            @include font($font04, 16px, 1.5, $black, 0.5px);
            height: 75px;
            margin-bottom: 10px;
        }
        
        .video-thumbnail-image{
            position: relative;
            max-width: 285px;
            max-height: 160px;
        }
        
        .video-play-icon{
            font-size: 300%;
            color:#000000;
            z-index: 1;
            @include center-both;
            background-image: url('../../../images/icons/icon-video-play.png');
            height: 74px;
            width: 74px;
        }
        .margin-v{
            margin-top:11px;
        } 
        
        .content-description-v{
            @include font($font04, 16px, 1.5, $black, 0.5px);
            height: 72px;
            margin-bottom: 40px;
        }
        
        .video-timeframe{
            position: absolute;
            background-color:$black;
            bottom: 0;
            right: 0;
            @include font($font7, 11px, 1.27, $white, 1px);
            width: 50px;
            height: 20px;
            padding: 4.5px 10.5px;
        }
    
    }    
}