.about-your-subscription {
    padding: 24px 20px 40px 20px;
    .title {
        @include font($font07, 28px, 1.14, $gray);
        margin-bottom: 9px;
    }
    .description {
        @include font($font02, 16px, 1.5, $black);
        padding-bottom: 34px;
        border-bottom: 1px solid $subscriptionBorderGray;
    }
    .secondary-title {
        @include font($font07, 28px, 0.93, $gray);
        margin-top: 36px;
        margin-bottom: 15px;
    }
    .secondary-description {
        @include font($font02, 16px, 1.25, $black, 0.5px);
        margin-bottom: 21px;
    }
    .password-label {
        @include font($font02, 16px, 1.38, $black, 0.9px);
    }
    .sub-password {
        margin-bottom: 20px;
    }
    .sub-btn {
        @include font($font02, 14px, 1, $subscriptionBorderGray, 0.9px);
        padding: 0px;
        button {
            border: 1px solid $subscriptionBorderGray;
            color: $subscriptionBorderGray;
        }
    }
}

@include respond-to ('small-and-up') {
    .about-your-subscription {
        padding: 28px 30px 40px 30px;
        .title {
            @include font($font07, 28px, 0.86, $gray);
            margin-bottom: 19px;
        }
        .description {
            @include font($font02, 16px, 1.5, $black);
        }
        .secondary-title {
            @include font($font07, 28px, 0.93, $gray);
        }
        .secondary-description {
            @include font($font02, 16px, 1.25, $black, 0.5px);
        }
        .sub-password {
            margin-bottom: 0px;
        }
        .sub-btn {
            padding: 0 20px;
        }
    }
}