$rem-base: 16px !default;
@function strip-unit($num) {   
        @return $num / ($num * 0 + 1); 
}

@function convert-to-rem($value, $base-value: $rem-base)  {
    $value: strip-unit($value) / strip-unit($base-value) * 1rem;
    @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
    @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
    $max: length($values);
    @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }
    $remValues: ();
    @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
    }
    @return $remValues;
}

@mixin font-size($size) {
    font-size: $size; //Fallback in px
    font-size: rem-calc($size);
}

@mixin font($font, $size, $line-height-multiplier: null, $color: null, $spacing: null) {
    @if type-of($font == map) {
        font-family: map-get($font, 'family');
    @if map-has-key($font, 'weight') {
        font-weight: map-get($font, 'weight');
        }
    } 
    @else{
    font-family: $font;
    }    
    @include font-size($size);
    @if ($line-height-multiplier){
        $line-height-computed: strip-unit($line-height-multiplier);
        line-height: $line-height-computed;
    }
    @if ($color){
        color: $color;
    }
    @if ($spacing){
        letter-spacing: $spacing;
    }
}

