.app-nav-bar-main-container {
    .logged-in-dropdown {
        .login-menu {
            top: 70px;

            &:after, &:before{
                left: 257px;
            }

            .dropdown-title, .subscription {
                @include font($fontSE9, 14px, 0.94, $black, normal);
            }

            #sdm-portal-link, #sdm-logout {
                @include font($fontSL7, 14px, 1, $sn56ArticleLinkColor, 0.5px);
                color: $sn56ArticleLinkColor !important;
            }

            .dropdown-title, .subscription {
                @include font($fontSE9, 14px, 0.94, $black, normal);
            }

            #sdm-portal-link, #sdm-logout {
                @include font($fontSL7, 14px, 1, $sn56ArticleLinkColor, 0.5px);
                color: $sn56ArticleLinkColor !important;
            }
        }

        &.open {
            a:focus {
                background-color: $sn56GlobalNavigationBlue;
            }

            .login-toggle {
                background-color: $sn56GlobalNavigationBlue;

                &:hover {
                    background-color: $sn56GlobalNavigationBlue;
                }
            }
        }
    }

    .app-navbar-secondary {
        background-color: $snGlobalNavExploreColor;
        border-bottom: 0;
    }

    .app-nav-primary {
        background-color: $sn56GlobalNavigationBlue;
        box-shadow: none;
    }

    .navbar-default {
        border-bottom: 0;
    }

    .app-nav-main-item-link {
        @include font($fontSL7, 13px, null, $white, 0.5px);
        line-height: normal;
        padding-top: 28px;
    }

    .secondary-items {
        li {
            a {
                @include font($fontSL7, 12px, 1.17, $sn56ThickBlueColor, 1.4px);

                &:active,
                &:focus,
                &:hover {
                    @include font($fontSL7, 12px, 1.17, $sn56ThickBlueColor, 1.4px);
                }
            }
        }

        .explore {
            @include font($fontSL9, 13px, 1.08, $sn56GlobalNavExploreColor, 0.5px);
            padding-left: 25px;

            &:active,
            &:focus,
            &:hover {
                @include font($fontSL9, 13px, 1.08, $sn56GlobalNavExploreColor, 0.5px);
            }
        }

        .subjects {
            padding-right: 25px;
        }

        .see-all-subjects {
            a {
                @include font($fontSL7, 15px, 0.93, $sn56ThickBlueColor, 0.5px);

                &:active,
                &:focus,
                &:hover {
                    color: $sn56ThickBlueColor;
                }
            }
        }
    }

    .science-logo {
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 25px;
        width: 213px;
        position: relative;
        cursor: pointer;
        margin-left: 0;
        margin-right: 0;

        &::after {
            content: 'Edition 5/6';
            position: relative;
            bottom: -4px;
            @include font($fontSL7, 12px, null, $white, normal);
            line-height: normal;
            opacity: 0.8;
            vertical-align: bottom;
            cursor: pointer;
        }

        a {
            width: 65.59%;
            background: url('../../../images/globalNav/SN56-logo.png') no-repeat center;
            background-size: 100%;
            padding: 25.6px 0;
        }
    }

    .nav-search-form {
        margin-top: 23px;

        input {
            @include font($fontSL4, 13px, null, $sn56globinpPlaceholdText, 0.5px);
            line-height: normal;
            background-color: $sn56GlobalNavInputBackground;

            &:-moz-placeholder,
            &::-moz-placeholder,
            &::-webkit-input-placeholder,
            :-ms-input-placeholder {
                @include font($fontSL4, 13px, null, $sn56globinpPlaceholdText, 0.5px);
                line-height: normal;
            }
        }

        button {
            background-color: $sn56CheckBlue;
            @include font($fontSL7, 13px, 1.08, $white, 0.5px);
            border: 0;
        }
    }

    .login-control {
        padding-right: 25px;
        padding-top: 17px;

        li {
            a {
                @include font($fontSL9, 13px, null, $white, 0.5px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontSL9, 13px, null, $white, 0.5px);
                    line-height: normal;
                }
            }
        }

        .subscribe-text {
            @include font($fontSL7, 11px, null, $white, 0.5px);
            line-height: normal;

            &:active,
            &:focus,
            &:hover {
                @include font($fontSL7, 11px, null, $white, 0.5px);
                line-height: normal;
            }

            b {
                @include font($fontSL9, 11px, null, $white, 0.5px);
                line-height: normal;
            }
        }
    }

    .bookmarks {
        padding-left: 20px;
    }

    .nav-menu-link {
        @include font($fontSL7, 14px, null, $white, 0.4px);
        line-height: normal;

        &:active,
        &:focus,
        &:hover {
            @include font($fontSL7, 14px, null, $white, 0.4px);
            line-height: normal;
        }
    }

    .logged-in-dropdown {
        .login-toggle {
            padding-left: 14px;
            margin-right: 25px;
            padding-top: 15px;
        }
    }

    @include respond-to ('small-and-down') {
        .magazine-logo-tablet-mobile {
            background: url('../../../images/globalNav/SN56-logo.png') no-repeat center;
            display: inline-block;
            width: 150px;
            height: 36px;
            position: relative;
            left: 50%;
            @include translateX(-50%);
            background-size: 59%;
            vertical-align: middle;
        }

        .js-nav-menu {
            ul {
                &:first-child {
                    li {
                        a {
                            @include font($fontSL7, 14px, null, $sn56ThickBlueColor, 0.3px);
                            font-weight: 800;
                            line-height: normal;
                        }
                    }
                }
            }
        }

        .app-nav-header {
            .search-logo-block {
                &:after {
                    content: 'Edition 5/6';
                    position: relative;
                    bottom: 8px;
                    @include font($fontSL7, 12px, null, $white, normal);
                    line-height: normal;
                    opacity: 0.8;
                    vertical-align: bottom;
                    cursor: pointer;
                }
            }
        }
    }

    @include respond-to ('xssmall') {
        .magazine-logo-tablet-mobile {
            width: 120px;
            height: 43px;
            background-size: 89%;
        }
    }
    @media (min-width:1440px) {
        .secondary-items {
            a {
                padding-left: 21px;
                padding-right: 21px;
            }
        }

        .app-nav-main-item-link {
            @include font($fontSL7, 16px, null, $white, 0.5px);
            line-height: normal;
            padding-left: 16px;
            padding-right: 18px;
        }

        .science-logo {
            padding-right: 0;
            width: 230px;

            a {
                width: 68.245%;
                background-size: 100%;
                padding: 28.8px 0;
            }
        }

        .dropdown {
            .magazine {
                &.bookmarks {
                    @include font($fontSL7, 14px, null, $white, 0.4px);
                    line-height: normal;
                    padding-right: 0;

                    &:active,
                    &:focus,
                    &:hover {
                        @include font($fontSL7, 14px, null, $white, 0.4px);
                        line-height: normal;
                    }
                }
            }
        }

        .logged-in-dropdown {
            &.open {
                a:focus {
                    background-color: $sn56GlobalNavigationBlue;
                }

                .login-toggle {
                    background-color: $sn56GlobalNavigationBlue;

                    &:hover {
                        background-color: $sn56GlobalNavigationBlue;
                    }
                }
            }
        }
    }
}
