.email-form-thankyou-container {
    .email-thankyou-wrapper {
        margin-top: 4px;
        
        .form-field-wrapper {
            .form-field-input {
                background-color: $articleToolbarSelectBg;
                border: 1px solid $articleToolbarSelectBorder;
            }
            
            .error-field-outline {
                border: 1.2px solid $superScienceErrorFieldTextColor;
            }
        }
        
        .email-form-all-fields-container {
            .send-button-wrapper {
                .send-button {
                    background-color: $issueHighMagazineButton;
                    @include font($font09, 13px, 1.54, $white, 1px);
                }
            }
        }
        
        .back-to-previous-wrapper {
            .back-to-previous-text {
                @include font($font09, 14px, 1, $contentTileSubjectBlue, 0.5px);
            }
        }
    }
}