.article-title-layout {
    padding-bottom: 10px;
    padding-top: 20px;

    .article-title-heading {
        @include font($fontSL7, 48px, 0.83, $black, 1px);
    }

    .article-title-dek {
        @include font($fontSL5, 20px, 1.35, $black, 1.1px);
    }

    .sub-title {
        @include font($fontSL9, 26px, 1.12, $black, 1.4px);
    }

    .article-title-component {
        div,
        p {
            word-wrap: break-word;
        }

        ol,
        ul {
            word-wrap: break-word;

            li {
                word-wrap: break-word;
            }
        }
    }
}
