.bookmarks-main-container {
    margin-top: 23px;

    .bookmarks-main-content {
        .bookmarks-header {
            .title-container {
                @include font($fontSE9, 32px, 0.78, $geoFaqBorder, 0.3px);
            }

            .title-count {
                @include font($fontSE9, 20px, 1.25, $geoFaqBorder, 0.2px);
                margin-left: 10px;
                position: relative;
                bottom: 3px;
            }
        }

        .articles-resources-issues-container {
            margin-top: 36px;

            .articles-resources-issues-tabs {
                ul {
                    border-bottom: 4px solid $spinActiveTabColor;

                    li {
                        &:before {
                            border-top-left-radius: 9px;
                        }

                        &:after {
                            border-top-right-radius: 9px;
                        }

                        a {
                            @include font($fontSL7, 14px, 1, $sn3TabInactiveColor, 1px);
                            margin-top: 3px;
                        }

                        &.active {
                            background-color: $spinActiveTabColor;

                            &:after {
                                background-color: $spinActiveTabColor;
                            }

                            &:before {
                                background-color: $spinActiveTabColor;
                            }

                            a {
                                @include font($fontSL7, 14px, 1, $white, 1px);
                            }
                        }
                    }
                }
            }

            .tab-content {
                padding-top: 33px;

                .tab-pane {
                    .bookmarks-section {
                        padding-top: 2px;
                    }

                    .filter-section-container {
                        padding-left: 40px;

                        .bookmarks-facets {
                            padding-left: 0;
                        }

                        .filter-category-section {
                            .filter-category-heading {
                                @include font($fontSL7, 14px, 0.93, $black, 1.1px);
                                margin-bottom: 12px;
                            }

                            .filter-category-items-container {
                                ul {
                                    .filter-category-item {
                                        @include font($fontSL4, 12px, 1.08, $black, 0.5px);
                                        padding-top: 4px;
                                        margin-bottom: 24px;

                                        span {
                                            left: 22px;
                                            top: 2px;
                                        }

                                        input[type=checkbox] {
                                            &:checked {
                                                + label {
                                                    background: $aggregatorBorderBlue;

                                                    &:after {
                                                        background: $aggregatorBorderBlue;
                                                    }

                                                    + span {
                                                        @include font($fontSL5, 12px, 1.08, $black, 0.5px);
                                                    }
                                                }
                                            }
                                        }

                                        label {
                                            border: 1px solid $sn3LightGray;
                                        }

                                        &:last-child {
                                            padding-bottom: 12px;
                                        }
                                    }
                                }
                            }

                            &.filter-reset-section {
                                padding-top: 28px;
                                padding-bottom: 0;

                                .filter-category-items-container {
                                    ul {
                                        .filter-category-item {
                                            padding-bottom: 14px;

                                            span {
                                                @include font($fontSL7, 13px, 1.08, $textHyperlinkColor, 0.5px);
                                                left: 22px;
                                                top: 2px;

                                                &.refresh {
                                                    left: 0;
                                                    top: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bookmarks-content {
            .sort-by-wrapper {
                .sort-by-text {
                    @include font($fontSL5, 13px, 1, $black, 0.5px);
                    padding-left: 10px;
                }

                span {
                    margin-right: 18px;
                    padding-left: 20px;

                    &:nth-child(2) {
                        a {
                            border-left: 0;
                            padding-left: 0;
                        }
                    }
                }

                .sort-by-category {
                    padding-left: 0;
                    border-left: 0;

                    a {
                        @include font($fontSL5, 13px, 1, $textHyperlinkColor, 0.5px);
                        padding-left: 20px;
                        border-left: 2px solid $liteAsh2;
                    }

                    &.active-sort {
                        a {
                            @include font($fontSL7, 13px, 1, $black, 0.5px);
                        }
                    }
                }
            }
        }
    }
}
