.scholastic-main-wrapper {
	.fyre {
		.fyre-box-wrapper {
			a {
				&.fyre-user-profile-link {
					font-family: 'SlateStd-Bold';
				}
			}
		}

		.fyre-user-loggedout {
			font-family: 'SlateStd-Bold';
		}

		.fyre-box-list {
			li {
				a {
					font-family: 'SlateStd';
				}
			}
		}

		.fyre-stream-livecount {
			font-family: 'SlateStd-Bold';
		}

		.fyre-stream-sort {
			a {
				font-family: 'SlateStd';

				&:active,
				&:focus,
				&:hover {
					font-family: 'SlateStd';
				}

				&.fyre-stream-sort-selected {
					font-family: 'SlateStd-Bold';
				}
			}
		}

		a {
			&.fyre-comment-username {
				font-family: 'SlateStd-Bold';
			}
		}

		.fyre-comment {
			p {
				font-family: 'SlateStd';
			}
		}

		.fyre-comment-like-btn,
		.fyre-comment-reply {
			font-family: 'SlateStd';
		}

		.fyre-pending {
			font-family: 'SlateStd-Bold';
		}

		.fyre-comment-actions {
			a {
				&.fyre-delete-link,
				&.fyre-share-link {
					font-family: 'SlateStd';
				}
			}
		}

		.fyre-comment-wrapper {
			time {
				&.fyre-comment-date {
					font-family: 'SlateStd';
				}
			}
		}

		.fyre-editor {
			.fyre-editor-container {
				.fyre-editor-editable {
					&.editable {
						font-family: 'SlateStd';
					}
				}
			}

			.fyre-editor-toolbar {
				.goog-toolbar {
					& > div {
						font-family: 'SlateStd';

						&.fyre-button-right {
							&.fyre-post-button {
								font-family: 'SlateStd-Bold';
							}
						}
					}
				}

				.fyre-share-container {
					& > span {
						& > a {
							font-family: 'SlateStd';

							&:active,
							&:focus,
							&:hover {
								font-family: 'SlateStd';
							}
						}
					}
				}
			}
		}
	}
}
