.content-tile-container {
    border: 2px solid $featuredborderGreySN3;
    border-radius: 8px;
    border-bottom: 0;

    .border-image-container-radius {
        @include border-radius-separate(5px, 5px, 0, 0);
    }

    .content-tile-body {
        @include border-radius-separate(6px, 6px, 6px, 6px);
        border: 0;
        border-bottom: 2px solid $featuredborderGreySN3;

        .resource-wrapper {
            background: $geoContentTileSkillBackgroundColor;
            border-bottom-color: $sn3ThickGreyLineColor;
        }

        .image-container {
            background: $white;
            height: auto;
            border-radius: 0;

            &.border-image-container-radius {
                @include border-radius-separate(5px, 5px, 0, 0);
            }

            .border-image-container-radius {
                @include border-radius-separate(5px, 5px, 0, 0);
            }
        }

        .image-container-resource {
            background: $geoContentTileSkillBackgroundColor;
            border-bottom: 2.3px solid $featuredborderGreySN3;
            margin-top: 17.11px;
        }

        .content-module {
            .content-module-container {
                .content-wrapper {
                    @include border-radius-separate(5px, 5px, 0, 0);

                    .content-one-up {
                        .img-container {
                            @include border-radius-separate(5px, 5px, 0, 0);
                        }
                    }
                }
            }
        }
    }

    .title {
        @include font($fontSL7, 24px, 1, $black, normal);
        padding: 14px 20px 6px;
    }

    .subject {
        @include font($fontSL7, 12px, 1.33, $allIssuesTitleColor, 1px);
    }

    .description {
        @include font($fontU4, 18px, 1.33, $black, normal);
    }

    .icons-row {
        padding-left: 15px;

        .sw-icon {
            margin-left: 0;
            margin-right: 10px;

            &:first-child {
                margin-left: 0;
            }
        }

        .view-article-link {
            @include font($fontSL7, 14px, 1, $textHyperlinkColor, 0.5px);
            margin-left: 0;

            a {
                color: $textHyperlinkColor;

                &:active,
                &:focus,
                &:hover,
                &:visited {
                    color: $textHyperlinkColor;
                }
            }
        }
    }

    .bookmark-header {
        .bookmark-title {
            @include font($fontSL5, 14px, 0.93, $black, 0.5px);
        }

        .bookmark-date {
            @include font($fontSL4, 12px, 1, $bookmarkDateColor, 0.3px);
        }

        .bookmark-type {
            @include font($fontSL4, 12px, 1, $bookmarkDateColor, 0.6px);
        }
    }

    .content-hub-header {
        @include border-radius-separate(6px, 6px, 0, 0);
        border-top: none;
        border-left: none;
        border-right: none;

        .content-date {
            @include font($fontSL5, 14px, 0.93, $black, 0.3px);
        }
    }

    .bookmark-header,
    .content-hub-header {
        border: 0;
        background-color: $snIssueHighBgColor;
        border-bottom: 3px solid $aggregatorBorderBlue;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
}

.content-tile-container-horizontal {
    border: 2px solid $featuredborderGreySN3;
    border-radius: 8px;

    .padding-content {
        padding: 25px 16px 15px 0;

        .title {
            @include font($fontSL7, 18px, 1.17, $black, normal);
            padding-left: 20px;
            padding-bottom: 12px;
        }

        .description {
            @include font($fontU4, 16px, 1.38, $black, 0.5px);
            padding-left: 20px;
        }

        .icons-row {
            padding-left: 20px;

            .sw-content-icon {
                &:first-child {
                    margin-left: 0;
                }
            }

            .sw-icon {
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}



@include respond-to('1440px'){
    .content-tile-container {
        .content-tile-body {
         .image-container {
                height: 180px;
            .content-image{
                height: 100%;
                width: 100%;
            }
        }

        .image-container-resource {
                height: 162.91px;
            .content-image {
                height: auto;
                width: 98%;
            }
        }
        }

        .content-tile-body .content-module .content-module-container .content-wrapper .content-one-up .img-container img{
            height: 180px;
            width: 100%;
        }
    }

    .content-tile-container-horizontal {
        .image-container {   
            height: 260px;
            .content-image {
                width:100%;
                height: 100%;
            }
        }
    }
}