.issueHigh-wrapper {
    background-color: $mathExploreBarGrey;

    .issueHigh-content {
        .issueHigh-header {
            .textHyperlink-container-wrapper {
                .textHyperlink-wrapper {
                    height: 51px;
                    background-color: $mathIssuehighBackground;

                    .textHyperlink-text {
                        padding: 0;
                        margin: 0;
                        padding-left: 39px;
                        @include font($fontC6, 36px, 0.89, $white, normal);
                    }
                }
            }
        }
    }
}
.top-links-component-main-wrapper {
    .top-links-component-container {
        .hash-container {
            display: none;
        }
        .top-links-content-wrapper {
            padding: 43px 39px 58px 70px;
            .image-wrapper {
                .magazine-view-button {
                    text-transform: uppercase;
                    margin-top: 30px;
                    padding: 13.3px auto 11.1px auto;
                    @include font($fontC7, 12px, 1.17, $white, 1px);
                    background-color: $mathSearchButtonBlue;
                }
            }
            .text-wrapper {
                padding-left: 51px;
                width: 80.10%;
                .title-icon-wrapper {
                        padding-bottom: 13px;
                        border-bottom: 2px solid $mathIssueHighlightBelowTitle;
                        position: relative;
                    
                        &:after,
                        &:before {
                            width: 8px;
                            height: 8px;
                            position: absolute;
                            content: '';
                            top: 91%;
                            background-color: $black;
                            border-radius: 100%;
                        }

                        &:after {
                            right: 0;
                        }

                        &:before {
                            left:0;
                        }
                    
                    .title-placeholder {
                        @include font($fontC7, 30px, 1.07, $mathIssueHighlightTitle, 0.5px);
                    }
                }
                .description {
                    margin-top: 16px;
                    @include font($fontB8, 15px, 1.6, $black, 0.5px);
                }
                .featured-assets-wrapper {
                    margin-top: 9px;
                    .featured-asset {
                        .content-tile-container {
                            border: 0;
                            .content-tile-body {
                                .title {
                                    @include font($fontB4, 18px, 1.17, $black, 0.3px);
                                }
								
								.content-tile-image-wrapper {
                                        &.rounded-border {
                                            border-radius: 0;
                                            border-style: none;
                                            border-width: 0;
                                            .image-container {
                                                border-radius: 0;
                                                img {
                                                    border-radius: 0;
                                                }
                                            }
                                      }
                                 }
                            }
                        }
                    }
                }
                .key-assets-wrapper {
                    margin-top: 30px;
                    .key-asset-container {
                        
                        background-color: $mathKeyAssetBacgroundGrey;
                        .key-asset {
                            .key-asset-name {
                               @include font($fontB4, 15px, 0.93, $black, 0.6px);
                            }
                        }
                        .bottomcolor-container {
                            background-color: $mathcurrentIssueHeroTitleGreen;
                        }
                    }
                }
            }
        }
    }
}
