<div data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse" data-sly-unwrap>
	<div data-sly-test="${wcmmode.edit || globalAccess.visible}" data-sly-unwrap>
		<div data-sly-test="${!properties.fileReference && wcmmode.edit}"> Placeholder for Misc - Text Over Image component</div>
		<div ng-app="scienceWorld" data-sly-test="${properties.fileReference}">
			<div class="textOverImage-main-container">
		    	<div class="textOverImage-content ${properties.textAlignment}">
			    	<img src="${properties.fileReference}" class="textOverImage full-width"  />
			        <div data-sly-test="${properties.title || properties.description}" class="title-desc-wrapper">
			        	<h2 data-sly-test="${properties.title}" class="textOverImage-title" style = "color : ${properties.textColor @context= 'styleToken'};">${properties.title @context = 'html'}</h2>
			            <div data-sly-test="${properties.description}" class="textOverImage-desc" style = "color : ${properties.textColor @context= 'styleToken'};">${properties.description @context = 'html'}</div>
			        </div>
		        </div>
		    </div>
		</div>
	</div>
	<div class="vpaddingComponent-container">
        <div class="vpaddingComponent-content vheight40">
        </div>
    </div>
</div>
