.recent-issues-container {
        background-color: $votingContentBackgroundGrey;
        padding: 21.5px 17px 37px 39px;
    .recent-issue-content-wrapper {
            padding: 0 22px;
        .recent-issue-date {
            @include font($fontSL7, 18px, 1.17, $black, 0.5px);
            margin-top: 12px;
        }
    }
}
