.subscription-progress-bar-main {
    .subscription-progress-bar {
        margin: 30px 11.7% 0;

        .subscription-progress-bar-container {
            border-bottom: 0;
            padding-left: 15px;

            .subscription-progress-bar-content {
                text-align: center;
                padding: 0 20px 0 0;
                margin: 0;

                &.disabledTab {
                    pointer-events: none;
                }

                &.active {
                    a {
                        @include font($font07, 12px, null, $white);
                        border: 0;
                        background: #0359a4;
                        border-radius: 0;
                    }
                }

                .nav-wedge {
                    position: absolute;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 18px 0 18px 16px;
                    border-top-color: inherit;
                    border-bottom-color: inherit;
                    border-right-color: inherit;
                    border-left-color: transparent;
                    -moz-transform: scale(0.9999);
                    z-index: 9;
                    left: -15.9px;
                    display: block;
                }

                .nav-arrow {
                    position: absolute;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 18px 0 18px 16px;
                    border-top-color: transparent;
                    border-bottom-color: transparent;
                    border-right-color: transparent;
                    border-left-color: inherit;
                    -moz-transform: scale(0.9999);
                    z-index: 9;
                    right: 4px;
                    display: block;
                }

                a {
                    @include font($font07, 12px, null, $liteGray);
                    border-radius: 0;
                    background-color: #f6f6f6;
                    line-height: normal;
                    margin-right: 0;
                    border: none;
                    height: 36px;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        .tab1 {
            .subscription-address-summary {
                display: none;
            }

            .marketing-subscription-order-summary {
                .subscription-product-display-magazine-details {
                    .subscription-magazine-price {
                        display: block;
                    }

                    .subscription-magazine-quantity {
                        .subscription-quantity-edit-btn {
                            display: block;
                        }
                    }
                }
            }

            .subscription-order-summary {
                .subscription-order-summary-title {
                    display: none;
                }
            }
        }

        .tab2 {
            .subscription-address-summary {
                display: block;
            }

            .marketing-subscription-order-summary {
                .subscription-product-display-magazine-details {
                    .subscription-magazine-price {
                        display: block;
                    }

                    .subscription-magazine-quantity {
                        .subscription-quantity-edit-btn {
                            display: block;
                        }
                    }
                }
            }
        }

        .marketing-subscription-order-summary {
            .subscription-product-display-magazine-details {
                .subscription-magazine-price {
                    display: none;
                }

                .subscription-magazine-quantity {
                    .subscription-quantity-edit-btn {
                        display: none;
                    }
                }
            }
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    }

    .subscription-error-modal {
        .modal-content {
            background-color: $white;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
            border-radius: 0;
        }

        .modal-header {
            border-bottom: 0;
            padding: 10px 10px 0 0;
        }

        .modal-body {
            padding: 46px 59px 70px;
        }

        .error-container {
            text-align: center;
            @include font($font04, 18px, null, $subscriptionTextGrey, 0.6px);
        }

        &.modal {
            text-align: center;
            padding: 0 !important;
        }

        &.modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            max-width: 528px;
        }
    }

    @include respond-to ('xssmall') {
        .subscription-progress-bar {
            margin: 30px 0 0;

            .subscription-progress-bar-container {
                padding-left: 35px;

                .subscription-progress-bar-content {
                    padding: 0;

                    .subscription-progress-bar-text {
                        @include font($font07, 10px, null, $black);
                        color: #b3cde3;
                        border-radius: 0;
                        padding: 0;
                        height: 0;
                        top: 35px;
                        right: 28%;
                    }

                    .subscription-progress-bar-symbol {
                        height: 30px;
                        width: 30px;
                        float: left;
                        border-radius: 100%;
                    }

                    .nav-line {
                        width: 100px;
                        height: 2px;
                        background-color: #b3cde3;
                        display: inline-block!important;
                    }

                    &.active {
                        .subscription-progress-bar-text {
                            @include font($font07, 10px, null, $black);
                            color: #0359a4;
                        }

                        .subscription-progress-bar-symbol {
                            border-radius: 100%;
                        }
                    }

                    &:first-child {
                        .subscription-progress-bar-symbol {
                            margin-left: 18px;
                        }
                    }

                    &:nth-child(2) {
                        .subscription-progress-bar-text {
                            right: 35%;
                        }
                    }
                }
            }
        }

        .subscription-error-modal {
            .modal-content {
                padding: 0 20px;
            }

            .modal-body {
                padding: 24px 20px 48px;
            }

            .modal-dialog {
                max-width: 335px;
            }
        }
    }
}
