.pastIssueGrid-container {
    .pastIssueGrid-main-container{
  .pastIssueGrid-main-content{
     margin-top:14px;
    .issue-container{
        .issue-date  {
            margin-bottom:30px;
            @include font($fontP7, 14px, 1.14, $black, 0.3px);
            background-color:$dynamathBackgroundGrey;
        }
    } 
  } 

    .textHyperlink-container-wrapper{
        margin-bottom:44px;
        margin-top:25px;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        align-items: center;
        .textHyperlink-wrapper{
            .textHyperlink-text{
                    margin: 0;
                   @include font($fontPE4, 34px, 1.06, $black, 1px);
                .textHyperlink-count {
                    margin-left: 10px;
                    position: relative;
                    bottom: 3px;
                   @include font($fontPE4, 22px, 1.64, $black, 0.7px);
                }
            }
        } 
        .text-link-connector{
            flex-grow: 1;
            margin-left:18px;
            background-image: radial-gradient($dynamathTabBorderBottomColor 38%, transparent 45%);
            background-image: -ms-radial-gradient($dynamathTabBorderBottomColor 38%, transparent 45%);
            background-image: -moz-radial-gradient($dynamathTabBorderBottomColor 38%, transparent 45%);
            background-image: -webkit-radial-gradient($dynamathTabBorderBottomColor 38%, transparent 45%);
            background-repeat: repeat-x;
            background-size: 15px 15px;
            background-position: center;
            height:14px;
            background-color: transparent;
        }
    } 
    .pagination-directive-wrapper{
        .paginationBottom{
            margin-bottom:16px;
            ul{
                li{
                    select{
                     letter-spacing:1px;
                    }
                } 
            } 
        }
    } 
} 
}
