<!DOCTYPE html>
<html class="no-js" lang="en" />
	
	{{> head meta-title=home.meta-title meta-description=home.meta-description}}

	<body class="index">
		<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>

			<p>
				This is the header
			</p>

        </header>

        <a href="/about">About Page</a>

		{{> footer footer-class="home-footer"}}

	</body>
</html>