.marketing-globalFooter-main-container {
    .globalFooter-content {
        background-color: $sn56GlobalNavigationBlue;
        .link-wrapper:last-child {
            margin-right: 60px;
            padding-right: 0;
        }
        .row {
            padding: 30px 0 44px 41px;
            max-height: 180px;
            .link-wrapper:first-child {
                padding-left: 0;
            }
        }
        .footerContentWrapper {
            &.social-links {
                .footerTitle {
                    border-bottom-width: 1px;
                }
            }
            .footerTitle {
                @include font($fontSL7, 15px, 1, $white);
                margin-bottom: 13px;
                &.footerTitleSocialIcon {
                    border-bottom-width: 1px;
                }
            }
            .footerPhoneNo {
                .phonelink {
                    @include font($fontSL5, 13px, 2.31, $white, 0.4px);
                }
                .liveIcon {
                    background: url('../../../images/CM-Marketing/livechat.png') no-repeat center;
                }
                .livelink {
                    @include font($fontSL5, 13px, 2, $white);
                }
            }
            .footerlinks {
                p {
                    @include font($fontSL5, 13px, 2, $white);
                }
                a {
                    @include font($fontSL5, 13px, 2, $white);
                }
            }
            // .sw-icon {
            //     background-image: url(../../clientlibs/scholasticnews-core/styles/core/icons/icons-sn-new.png);
            // }
            .footer-socialIcons {
                .sw-icon {
                    &.googleplus-icon {
                        background-image: url('../../../images/icons/googleplusIcon.png');
                    }
                }
            }
        }
    }
}

@include respond-to ('xssmall-and-up') {
    .marketing-globalFooter-main-container {
        .globalFooter-content {
            max-height: 546px;
            margin-bottom: 55px;
            .row {
                padding: 28px 20px 28.67px;
                max-height: inherit;
            }
            .footerContentWrapper {
                height: 150px;
                .footerTitle {
                    @include font($fontSL7, 17px, 1.18, $white, 0.3px);
                    padding-bottom: 5px;
                    margin-bottom: 16px;
                }
                .footerPhoneNo {
                    .phonelink {
                        @include font($fontSL5, 17px, 0.65, $white, 0.8px);
                    }
                    .livelink {
                        @include font($fontSL5, 17px, 1.47, $white, 0.8px);
                    }
                }
                .footerlinks {
                    p {
                        a {
                            @include font($fontSL5, 17px, 1.47, $white, 0.8px);
                        }
                    }
                    &.phoneNumber {
                        p:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                &.social-links {
                    .footerTitleSocialIcon {
                        border-bottom: none;
                    }
                    .footer-socialIcons {
                        .span {
                            margin-right: 30px;
                        }
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
