.past-issue-list-main-container {
	// margin-bottom: 20px;
	background-color: $white;

	.clear-fix-class {
		&:after {
			content: '';
			clear: both;
			display: block;
		}
	}

	.past-issue-list-main-content {
		margin-bottom: 31px;

		a {
			text-align: center;

			&:active,
			&:focus,
			&:hover {
				text-decoration: none;
			}

			&.title {
				text-align: left;
			}

			.explore-latest-button {
				width: 89.5%;
				text-align: center;
				text-transform: uppercase;
				background-color: $yellow;
				border-radius: 100px;
				@include font($font09, 13px, 1.54, $black, 1px);
				padding: 7px 0 8px;
				border: 0;
				margin: 23px auto 0;
				min-height: 35px;
			}
		}

		.title {
			a {
				text-align: left;
			}
		}

		.tile-wrapper-past-date {
			.past-issue-date-container {
				position: relative;
				border-bottom: 2px solid $tabBgBlue;
				padding-bottom: 8px;

				.past-issue-date-content {
					@include font($font07, 22px, 1.09, $black, 0.6px);

					a {
						@include font($font7, 22px, 1.14, $black, 1px);
						color: $liteBlue2;

						&:active,
						&:focus,
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.pci-row-wrapper,
	.row-wrapper {
		margin-top: 36px;

		&.hidden-md {
			.tile-container-wrapper {
				margin-bottom: 10px;
			}
		}
	}
}
/*Pagination styles start*/
.pagination-wrapper {
	text-align: center;

	.paginationBottom {
		width: auto;
		margin: 10px auto 63px;
		text-align: center;
		display: inline-block;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			@include font($font5, 15px, null, $liteBlue2, 1px);

			&:after {
				content: '';
				clear: both;
				display: block;
			}

			li {
				float: left;
				margin: 0 0 0 6px;
				padding: 0;
				line-height: 15px;
				vertical-align: middle;
				font-size: 15px;

				span {
					&:hover {
						cursor: pointer;
					}
				}

				&.pagePrevious {
					margin-left: 0;
				}

				&.pageNext,
				&.pagePrevious {
					.glyphicon {
						top: 0;
					}

					a {
						vertical-align: top;
						position: relative;
						top: 1px;
					}
				}

				&.pageNextPipe {
					color: $mediumGrey;
				}

				&.pageLabel {
					position: relative;
					top: -3px;
				}

				&.disabled-link {
					opacity: 0.6;
					cursor: not-allowed;

					&:hover {
						cursor: not-allowed;
					}

					a,
					span {
						&:hover {
							cursor: not-allowed;
						}
					}
				}

				a {
					font-weight: bold;
					line-height: 15px;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 15px;

					&.disableLink {
						color: grey;
					}
				}
			}
		}
	}
}
/*Pagination styles end*/
@include respond-to ('xssmall') {
	.past-issue-list-main-container {
		.past-issue-list-main-content {
			.tile-wrapper-past-date {
				.past-issue-date-container {
					border-bottom: 0;
				}
			}
		}
	}
}

@include respond-to ('small-min-and-up') {
	.past-issue-list-main-container {
		.past-issue-list-main-content {
			.past-issue-wrapper {
				width: auto;
				height: auto;
				position: relative;
			}

			.tile-wrapper-past-date {
				text-align: center;
				position: relative;

				.date-tile-wrapper-center {
					margin-top: 24%;

					.past-issue-date-container {
						border-bottom: 0;

						.past-issue-date-content {
							word-break: break-all;
						}
					}

					a {
						&:active,
						&:focus,
						&:hover {
							text-decoration: none;
						}

						.explore-latest-button {
							margin: 20px auto 0;
							padding: 10px 25px;
						}
					}

					.title {
						a {
							text-align: left;
						}
					}
				}
			}
		}
	}
}

@include respond-to ('small') {
	.past-issue-list-main-container {
		.past-issue-list-main-content {
			.tile-wrapper-past-date {
				position: relative;

				.past-issue-date-container {
					border-bottom: 0;
				}

				.date-tile-wrapper-center {
					margin-top: 15%;
				}

				a {
					&:active,
					&:focus,
					&:hover {
						text-decoration: none;
					}

					.explore-latest-button {
						margin: 20px auto 0;
					}
				}

				.title {
					a {
						text-align: left;
					}
				}
			}
		}
	}
}

@include respond-to ('xsmall-max-and-up') {
	/*min-width: 767px*/
	.past-issue-list-main-container {
		.past-issue-list-main-content {
			.tile-desc {
				margin-bottom: 13px;
			}

			.tile-wrapper-past-date {
				.past-issue-date-container {
					border-bottom: 0;

					.past-issue-date-content {
						text-align: center;
					}
				}

				a {
					&:active,
					&:focus,
					&:hover {
						text-decoration: none;
					}

					.explore-latest-button.hidden-lg {
						display: block;
						margin: 20px auto 0;
					}
				}

				.title {
					a {
						text-align: left;
					}
				}

				.pci-row-wrapper,
				.row-wrapper {
					&.hidden-xs {
						display: none;
					}
				}
			}

			.past-issue-wrapper {
				a {
					text-align: center;

					&:active,
					&:focus,
					&:hover {
						text-decoration: none;
					}

					.explore-latest-button.hidden-xs {
						display: none;
					}
				}
			}
		}

		.past-issue-list-sub-container {
			.pci-row-wrapper,
			.row-wrapper {
				&.hidden-md {
					margin-bottom: 30px;
				}
			}
		}
	}
}

@include respond-to ('small-and-up') {
	/*min-width 768px*/
	.past-issue-list-main-container {
		.pci-row-wrapper,
		.row-wrapper {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
}

@include respond-to ('small-max-and-up') {
	/*min-width: 991px*/
	.past-issue-list-main-container {
		.past-issue-list-main-content {
			.past-issue-wrapper {
				a {
					text-align: center;

					&:active,
					&:focus,
					&:hover {
						text-decoration: none;
					}

					.explore-latest-button.hidden-xs {
						display: none;
					}
				}
			}

			.tile-wrapper-past-date {
				a {
					&:active,
					&:focus,
					&:hover {
						text-decoration: none;
					}

					.explore-latest-button.hidden-md {
						display: block;
						margin: 20px auto 0;
					}
				}

				.title {
					a {
						text-align: left;
					}
				}

				.date-tile-wrapper-center {
					margin-top: 17%;
				}

				.pci-row-wrapper,
				.row-wrapper {
					&.hidden-xs {
						display: none;
					}
				}
			}
		}
	}
}

@include respond-to ('medium-and-up') {
	/*min-width: 992px*/
	.past-issue-list-main-container {
		.past-issue-list-main-content {
			.tile-wrapper-past-date {
				margin-top: 0;

				.date-tile-wrapper-center {
					margin-top: 0;

					.past-issue-date-container {
						border-bottom: 2px solid $tabBgBlue;

						.past-issue-date-content {
							text-align: left;
						}
					}
				}

				a {
					&:active,
					&:focus,
					&:hover {
						text-decoration: none;
					}

					.explore-latest-button.hidden-md {
						display: none;
					}
				}

				.title {
					a {
						text-align: left;
					}
				}

				.pci-row-wrapper,
				.row-wrapper {
					&.hidden-xs {
						display: block;
					}
				}
			}

			.past-issue-wrapper {
				a {
					text-align: center;

					&:active,
					&:focus,
					&:hover {
						text-decoration: none;
					}

					.explore-latest-button.hidden-xs {
						display: block;
					}
				}
			}
		}
	}
}
