.bookmarks-main-container {
    background-color:$mathExploreBarGrey;
    .bookmarks-main-content {
        .bookmarks-header{
            .title-container{
                @include font($fontC7, 30px, 1.33, $black);;
            }
            .title-count{
                @include font($fontB4, 16px, 1.5, $black, 0.5px);
                margin-left:10px;
            }
        }
        .articles-resources-issues-container{ 
            .articles-resources-issues-tabs {
                ul {
                    margin-top:10px;
                    margin-bottom:10px;
                    border-bottom: 4px solid $matchTabActiveBackgroundColor;
                }
            }
            .tab-content {
                .tab-pane {
                    .filter-section-container {
                        width:25%;
                        .search-facets{
                            margin-left:10.50%;
                        }
                    }
                    .bookmarks-section{
                        width:75%;
                    }
                }
            }
        }
        .bookmarks-content {
            .sort-by-wrapper{
                margin-top:3px;
                span{
                    margin-right:20px;
                    &:first-child, &:nth-child(2){
                        @include font($fontB4, 12px, 1.08, $black, 0.5px);//changed to 400
                    }
                }
                .sort-by-category {
                    &.active-sort {
                        a{
                            @include font($fontB7, 12px, 1.08, $black, 0.5px);
                        }
                    }
                    a{
                        @include font($fontB4, 12px, 1.08, null, 0.5px);
                        color:$mathSearchButtonBlue;
                    }
                }
            }
            .bookmarks-tiles{
                .bookmarks-tiles-content{
                  margin-bottom:29px;
                }
            } 

            .pagination-directive-wrapper{
                margin-bottom:75px;
                .paginationBottom{
                    margin-top:32px;
                }
            }
        }
        .articles-resources-issues-container {
            margin-top:0px;
            .articles-resources-issues-tabs{ 
                ul {
                    margin-top:14px;
                    padding-right:0px;
                    padding-left: 0px;
                    li {
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                        min-height:45px;
                            &:first-child{
                                margin-right:2px;
                                width:49.70%;
                                background-color: $matchTabActiveBackgroundColor;
                            }
                            &:nth-child(2){
                                float:right;
                                width:49.70%;
                                opacity:0.99;
                                background-color: $mathGlobalFooterBg;
                            }
                            &:after, &:before{
                                transform:skewX(0);
                                background-color: transparent
                            }
                        &.active{
                            @include font($fontB7, 13px, 1.14, $white);
                            &:after, &:before{
                                transform:skewX(0);
                                background-color: transparent
                            }
                            a{
                                width:100%;
                                @include font($fontC6, 28px, 1.14, $white);//changed to 700
                            }
                        }
                        a{
                            width:100%;
                            @include font($fontC6, 28px, 1.14, $white);//changed to 700
                        }
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    .filter-section-container {
                        .filter-category-section {
                            .filter-category-heading{
                                @include font($fontC7, 13px, 1, $black, 1px);
                            }
                            .filter-category-select-text{
                                @include font($fontB4, 12px, 1.08, $black, 1px);
                            }
                            .filter-category-items-container {
                                ul {
                                    .filter-category-item {
                                        margin-bottom:24px;
                                        span{
                                            @include font($fontB4, 12px, 1.08, $black, 1px);
                                        }
                                        label{
                                            @include font($fontB4, 12px, 1.08, $black, 1px);
                                        }
                                        &:last-child{
                                            margin-bottom:24px;
                                        }
                                    }
                                }
                            }
                            &.filter-reset-section {
                                .filter-category-items-container {
                                    .filter-category-item {
                                        span{
                                            @include font($fontB8, 13px, 1.08, null, 0.5px);
                                            color: $mathSearchButtonBlue;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.app-nav-bar-main-container {
    .global-nav-container {
        .app-navbar-header{
            margin-bottom:0px;
        }
    }
}


