<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Configure Title Description Image component</div>
<div class="ng-cloak">
    <sly data-sly-test.isColor="${properties.listFrom == 'bgimage'}">
        <div class="container-fluid marketing-app-tdi-component ${properties.contentType}" data-tdi-show-description ng-controller="marketingTDIController as mtc" style="background:url(${properties.backgroundImage @context='uri'})">
    </sly>
    <sly data-sly-test="${!isColor}">
        <div class="container-fluid marketing-app-tdi-component ${properties.contentType}" data-tdi-show-description ng-controller="marketingTDIController as mtc" style="background: ${properties.backgroundColor @context='styleString'}">
    </sly>
        <div data-sly-test="${properties.descriptionPosition == 'center'}" class="col-xs-12 pad0">
            <div class="col-xs-12 pad0">
                <div class="app-tdi-header">${properties.rteFieldTitle @ context= 'html'}</div>
                <div class="app-tdi-content visible-xs">${properties.rteFieldDescription @ context= 'html'}</div>
            </div>
            <div class="app-tdi-banner-image">
                <img src="${properties.fileReference}" data-sly-test="${properties.fileReference}" alt="" class="hidden-xs"/>
                <img src="${properties.mobileImage}" data-sly-test="${properties.mobileImage}" alt="" class="visible-xs-inline-block"/>
            </div>
            <div class="app-description" data-sly-test="${properties.buttonTitle}">
                <span class="desc">${properties.buttonDescription @ context = 'html'}</span>
                <a href="${properties.buttonLink @ context = 'uri'}" class="secondary-button" style="background: ${properties.buttonColor @context='styleString'}">${properties.buttonTitle}</a>
            </div>
        </div>
        <div data-sly-test="${properties.descriptionPosition == 'left'}" class="col-xs-12 pad0">
            <div>
                <div class="app-tdi-header">${properties.rteFieldTitle @ context= 'html'}</div>
            </div>
            <div class="app-tdi-content">
                <div class="col-xs-12 col-md-5 pad0">${properties.rteFieldDescription @ context= 'html'}</div>
                <div class="col-xs-12 col-md-7 pad0 marketing-app-tdi-padleft ">
                    <img src="${properties.fileReference}" class="hidden-xs" alt=""/>
                    <img src="${properties.mobileImage}" alt="" class="visible-xs-inline-block"/>
                </div>
            </div>
        </div>
        <!--Carousel container-->
        <div data-sly-test="${properties.contentType == 'mobileCarousel'}" data-sly-unwrap>
            <div class="col-xs-12 pad0 visible-xs carousel-container" data-sly-use.carouselUse="com.scholastic.classmags.migration.controllers.MobileCarouselUse">
                <div uib-carousel active="active" interval="mtc.carouselOptions.interval" no-wrap="mtc.carouselOptions.noWrap">
                    <div data-sly-list.carouselImagesPath="${carouselUse.mobileCarouselImages}" data-sly-unwrap>
                        <div uib-slide ng-swipe-left="$parent.next()" ng-swipe-right="$parent.prev()"  index="${carouselImagesPathList.index}">
                            <img ng-src="${carouselImagesPath}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Content-tile container-->
        <div class="col-xs-12 content-tile-par">
            <sly data-sly-resource="${ @path='par', resourceType='wcm/foundation/components/parsys'}"></sly>
        </div>
    </div>
</div>