.bookmarks-main-container {
    background-color:$white;
    .bookmarks-main-content {
        .bookmarks-header{
            margin-bottom: 13px;
            .main-title{
               display:flex;
                .title-container{
                    @include font($fontPE4, 34px, 1, $black, 1px);
                   
                   margin-top:6px;
                }
                .title-count{
                    @include font($fontPE4, 22px, 1.64, $black, 0.7px);
                    margin-left:10px;
                    position:relative;
                    top:7px;
                }
                .dot-block{
                    background-color: #fff;
                    background-image: radial-gradient($dynamathSubjectsCoveredDotBorder 38%, transparent 45%);
                    margin-right:49px;
                    margin-left:8px;
                    background-size: 13px 13px;
                    background-position: 0 0;
                    background-repeat: repeat-x;
                    padding-top: 14px;
                    flex-grow: 1;
                    top: 20px;
                    position: relative;
                }
            }
        }
        .articles-resources-issues-container{ 
            .articles-resources-issues-tabs {
                ul {
                    margin-top:25px;
                    margin-bottom:0px;
                    border-bottom: 4px solid $tabComponentActiveColor;
                }
            }
            .tab-content {
                .tab-pane {
                    .filter-section-container {
                        width:25%;
                        .bookmarks-facets{
                            margin-top:3px;
                        }
                    }
                    .bookmarks-section{
                        width:75%;
                    }
                }
            }
        }
        .bookmarks-content {
            .sort-by-wrapper{
                margin-top:3px;
                .sort-by-text {
                    @include font($fontP7, 13px, 1, $black, 0.5px);
                    padding-left: 9px;
                }
                .sort-by-category {
                    &.active-sort {
                        a{
                            @include font($fontP7, 13px, 1, $black, 0.5px);
                        }
                    }
                    a{
                        @include font($fontP5, 13px, 1, null, 0.5px);
                        color: $dynamathSortByCategoryItemColor;
                    }
                }
            }
        }
        .articles-resources-issues-container {
            margin-top:0px;
            .articles-resources-issues-tabs{
                ul {
                        border-bottom:4px solid $tabComponentActiveColor;
                        li.active {
                            background-color: $tabComponentActiveColor;	     	
                            &:before,&:after,&:focus,&:hover{
                                background-color: $tabComponentActiveColor;
                            }
                            &:before{
                                border-top-left-radius: 8px;
                            }
                            &:after{
                                 border-top-right-radius: 8px;
                            }
                            a{
                                @include font($fontP7, 14px, 1, $white, 1px);
                                margin: 0;
                                padding: 23px 0 17px 0;
                            }	     		    	
                        }
                        li{
                            background-color:$tabComponentInActiveStateColor;
                            &:before,&:after,&:focus,&:hover{
                                background-color: $tabComponentInActiveStateColor;
                            }
                           &:before{
                                border-top-left-radius: 8px;
                            }
                            &:after{
                                 border-top-right-radius: 8px;
                            }
                            a{
                                @include font($fontP7, 14px, 1, $inActiveStateFontColor, 1px);
                                margin: 0;
                                padding: 23px 0 17px 0;
                            }
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    .filter-section-container {
                        .filter-category-section {
                            .filter-category-heading{
                                @include font($fontP7, 13px, 1, $black, 0.9px);
                            }
                            .filter-category-select-text{
                                @include font($fontP4, 12px, 1.08, $black, 0.5px);
                            }
                            .filter-category-items-container {
                                ul {
                                    .filter-category-item {
                                        margin-bottom:16px;
                                        span{
                                            @include font($fontP5, 12px, 1.08, $black, 0.5px);
                                        }
                                        &:last-child{
                                            margin-bottom:24px;
                                        }
                                    }
                                }
                            }
                            &.filter-reset-section {
                                .filter-category-items-container {
                                    .filter-category-item {
                                        margin-bottom:4px;
                                        margin-top:3px;
                                        span{
                                            @include font($fontP7, 13px, 1.08, null, 0.5px);
                                            color: $dynamathFilterCategoryItemColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .pagination-directive-wrapper{
                        margin-bottom:75px;
                        .paginationBottom{
                            margin-top:32px;
                        }
                    }
                }
            }
        }
    }
}
