.thankyou-back-to-previous-wrapper {
    .thankyou-container {
        margin-top: 53px;
        margin-left: 43px;

        .thankyou-content {
            @include font($fontSL4, 16px, 1.38, $black, 0.5px);
        }

        .thankyou-content-pad-container {
            a {
                color: $sn56ArticleLinkColor;

                &:active,
                &:focus,
                &:hover {
                    color: $sn56ArticleLinkColor;
                    cursor: pointer;
                }
            }
        }
    }

    .back-to-previous-wrapper {
        margin-bottom: 35px;

        .back-to-previous-text {
            a {
                @include font($fontSL7, 14px, 1, $sn56ArticleLinkColor, 0.5px);

                &:active,
                &:focus,
                &:hover {
                    @include font($fontSL7, 14px, 1, $sn56ArticleLinkColor, 0.5px);
                }
            }
        }
    }
}
@media (min-width:1440px) {
    .email-form-thankyou-container {
        .email-thankyou-wrapper {
            margin-left: 41px;
        }
    }
}
