<div data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse" data-sly-unwrap>
<div data-sly-test="${wcmmode.edit || globalAccess.visible}" data-sly-unwrap>
<div data-sly-test.placeholder="${!wcmmode.disabled}">Below is the Article Page - Toolbar Component</div>
<div data-sly-use.articleToolbarUse="com.scholastic.classmags.migration.controllers.ArticleToolbarUse">
    <div id="ArticleToolbarComponent">
        <div class="article-toolbar-layout" ng-controller="articleToolbarController" ng-init="pagePath='${articleToolbarUse.bookmarkPath @ context='uri'}'">
            <div class="article-toolbar container">
                <div class="row menu-list">
                    <div class="icon-bar">
                    <div>
                        <ul class="list-inline list-icons">
                            <li ng-show="!isBookmarkAdded">
                                <div data-sly-unwrap>
                                    <div data-sly-unwrap>
                                        <a href="javascript:void(0)" sw-authorize="teacherorstudent" ng-click="addBookmark()"><span class="sw-icon bookmark-icon"></span></a>
                                    </div>
                                </div>
                            </li>
                            <li ng-show="isBookmarkAdded">
                                <div data-sly-unwrap>
                                    <div data-sly-unwrap>
                                        <a href="javascript:void(0)" ng-click="deleteBookmark()"><span class="sw-icon bookmarked-icon"></span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div data-sly-test="${wcmmode.edit || globalAccess.shareableToTeacher}" data-sly-unwrap>
                                    <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=currentPage.path}">
                                        <a href=""><span class="sw-icon upload-icon">
                                        <sw-show-popover link-url="${globalLink.externalizedDomain}"></sw-show-popover>
                                        </span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div data-sly-use.eReader="com.scholastic.classmags.migration.controllers.EReaderUse" data-sly-unwrap>
                    <div class="row menu-list open-flip-book" data-sly-test="${articleToolbarUse.digitalIssueLink && !eReader.newEReaderPath && (eReader.showMagazineLink || wcmmode.edit)}">
                        <div class="toolbar-sec-2">
                        <!-- overriding the click event on <a> tag since it was getting opened in the new tab and itself also-->
                            <a href="${articleToolbarUse.digitalIssueLink}" target="_blank" ng-click="openMagazine($event)">
                                <div class="sw-icon two-page-icon"></div>
                                <p class="icon-description">Open Magazine View</p>
                            </a>
                        </div>
                    </div>
                    <div class="row menu-list open-flip-book" data-sly-test="${eReader.newEReaderPath && (eReader.showMagazineLink || wcmmode.edit)}">
                        <div class="toolbar-sec-2">
                            <a href="javascript:void(0);" onclick="reader.open()" target="_blank">
                                <div class="sw-icon two-page-icon"></div>
                                <p class="icon-description">Open Magazine View</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row menu-list jump-to-block" ng-if="isTeachingPresent">
                <h6 class="title title-jump-to">JUMP TO</h6>
                    <div class="toolbar-sec-3">
            <div ng-if="isTeachingPresent">
                        <a href="#TeachingResourcesComponent">
                            <span class="sw-icon papers-stack-icon"></span>
                            <span class="icon-description icon-des-teaching-resources">Teaching Resources</span>
                        </a>


                    </div>
                </div>
            </div>
               <!--   <div class="row menu-list">
                <p class="title title-language">LANGUAGE</p>
                <div class="toolbar-sec-4">
                        <select class="drop-down">
                            <option value="english">English</option>
                            <option value="spanish">Spanish</option>
                        </select>
                    </div>
                </div> -->
                <div class="row menu-list drop-down-sec" data-sly-test="${articleToolbarUse.lexileLevels}">
                <p class="title title-lexile-level">READING LEVEL</p>
                <div class="lexile-level-drop-down">
                    <div class="toolbar-sec-5">
                        <select ng-init="lexilLevelCount = (${articleToolbarUse.lexileLevels.size} <= 1)" ng-disabled="lexilLevelCount" class="sw-icon down-full-arrow drop-down" sw-article-lexil-level>
                            <div data-sly-list="${articleToolbarUse.lexileLevels}" data-sly-unwrap>
                            <option value="${itemList.count}" data-toolbar="${item}">Level - ${item}</option>
                            </div>
                        </select>
                    </div>
                </div>
            </div>
               <!--
               <div class="row icon-text-container">
               <div class="menu-list icon-text">
                    <a href="#" target="_blank">
                        <span class="icon speaker-icon"></span>
                        <span class="icon-description">Read Aloud</span>
                    </a>

                </div>
                <div class="menu-list icon-text">
                    <a href="#" target="_blank">
                        <span class="icon note-icon"></span>
                        <span class="icon-description">Add Note</span>
                    </a>

                </div>
                <div class="menu-list icon-text">
                    <a href="#" target="_blank">
                        <span class="icon highleter-icon"></span>
                        <span class="icon-description">Text Highlighter</span>
                    </a>
                </div>
                </div> -->
                <div class="row menu-list go-back-to-issues" data-sly-test="${articleToolbarUse.parentIssuePagePath}">
                    <a href="${articleToolbarUse.parentIssuePagePath}" target="_self">
                        <span class="sw-icon page-arrow-icon"></span>
                        <span class="icon-description">Go Back to Issue</span>
                    </a>

                </div>
            </div>
            <div ng-class="{'in':isSpinnerShow}" class="spinnercontainer">
			          <img src="/etc/designs/scholastic/classroom-magazines-migration/images/icons/spinner.gif">
		        </div>
        </div>
    </div>
</div>
</div>
</div>
