.textOverImage-main-container {
    .textOverImage-content {
        position: relative;
        max-height: 260px;
        height: 260px;
        font-style: normal;
        .textOverImage {
            width: 100%;
            height: 100%;
        }
        .title-desc-wrapper {
            width: 98%;
            position: absolute;
            padding: 10px 30px;
            .textOverImage-title {
                @include font($font7, 32px, 1.25, $black, 1px);                                
                margin-bottom: 9px;
            }
            .textOverImage-desc {
                @include font($font07, 18px, 1.666, $black, 1px);    
              
            }
        }
        &.top-left {
            .title-desc-wrapper {
                top: 0%;
            }
        }
        &.top-right {
            .title-desc-wrapper {
                top: 0%;
                text-align: right;
            }
        }
        &.top-center {
            .title-desc-wrapper {
                top: 0%;
                text-align: center;
            }
        }
        &.bottom-left {
            .title-desc-wrapper {
                bottom: 5%;
                left: 0;
            }
        }
        &.bottom-right {
            .title-desc-wrapper {
                bottom: 5%;
                text-align: right;
            }
        }
        &.bottom-center {
            .title-desc-wrapper {
                bottom: 5%;
                text-align: center;
            }
        }
        &.center-left {
            .title-desc-wrapper {
                top: 25%;
                left: 0;
            }
        }
        &.center-right {
            .title-desc-wrapper {
                top: 25%;
                text-align: right;
            }
        }
        &.center-center {
            .title-desc-wrapper {
                top: 25%;
                text-align: center;
            }
        }
    }
}
@include respond-to('small') {
    .textOverImage-main-container {
        .textOverImage-content {
            width: auto;
            .title-desc-wrapper {
                .textOverImage-desc {
                    line-height: 20px;
                }
            }
        }
    }
}
@include respond-to('xsmall') {
    .textOverImage-main-container {
        .textOverImage-content {
            width: auto;
            max-height: 350px;
            img {
                height: 100%;
            }
            .title-desc-wrapper {
                .textOverImage-title {
                    font-size: 23px;
                    line-height: 25px;
                }
                .textOverImage-desc {
                    font-size: 11px;
                }
            }
        }
    }
}