.article-hero-caption-container {
    .article-hero-caption-wrapper {
        .article-hero-caption-title {
            font-family: 'ProximaNova-Regular';
        }
        .article-hero-caption-des {
            font-family: 'ProximaNova-Regular';
        }
    }
}

.article-hero-img-caption-wrapper {
    margin-bottom: 23px;    
}


