.buttonContainerFullWidth {
    background: $yellow;
    text-align: center;
    padding: 9px 0;

    .btn {
        @include font($fontGB9, 24px, 0.83, $black, 0.9px);
        border-radius: 100px;
        max-width: 315px;
        background-color: $marketingActionCTAYellow;
        padding: 13.67px 0 13px;
    }

    @include respond-to ('xssmall') {
        .btn {
            @include font($fontGB9, 18px, 1.11, $black, 0.9px);
            max-width: 250px;
            background-color: $marketingActionMobileCTAYellow;
            padding: 9.34px 0;
        }
    }
}
