.iarticle-aggregator{
	.iarticle-non-featured-hash-container{
		position:relative;
		.iarticle-content-container-hash {
			background: none;
			min-height: 84.9%;
			background-color: $upfrontIaggregatorBackground;

			&.featured-hash {
				min-height: 90.45%;
			}
		}
	}
     
	.iarticle-content-container-hash {
		background: none;
		min-height: 84.9%;
		background-color: $upfrontIaggregatorBackground;

		&.featured-hash {
			min-height: 90.45%;
		}
	}

    .iarticle-content-container{
    	margin-bottom:105px;
    	.iarticle-content{
    		padding-top:44px;
    	}
		.iarticle-aggre-subtags{
			text-transform: uppercase;
			display:inline-block;
			@include font($fontSL7, 14px, 1.14, $white, 0.5px);
			padding: 2.2px 2.1px 3.7px 5.2px;
			background-color: $upfrontIaggregatorTagsBackground;
			span{
			padding-right: 15px;
				&:last-child{
					padding-right: 0;
				}
			}
		}
		.iarticle-tags-wrapper{
		border-bottom:0;
		padding-bottom:0;
			.iarticle-tags-content{
				display:none;
			}
		}


		.iarticle-aggre-title-wrapper{
			  @include font($fontK9, 34px, 1.18, $black, 1.5px); 
			  padding-bottom: 4px;
		      margin-bottom:13.1px;
		      margin-top:14.9px;
		      border-bottom: 2.2px solid $black;
		      padding-right: 43px;
		      .iarticle-aggre-title{
		      	@include font($fontK9, 34px, 1.18, $black, 1.5px); 
		      }
		      .icon-wrapper {
		       	a{
		       		padding-right: 3px;
		       	}
		      }
		}
		.iarticle-aggregator-des-sec{
			margin-top:29.5px;
			.iarticle-aggregator-des{
				margin-top:36.6px;
				@include font($font04, 18px, 1.22, $black);
			}
			/* .iarticle-tags-bottom-border{
				display:block;
				border-radius: 100px;
  				background-color: $dynamathAggregatorBorder;
  				height: 1px;
			}
			*/
		} 
		.iarticle-content{
			 .iarticle-content-wrapper{
  				border: solid 1px $upfrontIagregatorBorder;
  				
			 }
		}
		
		.article-resources-main-container{
			.article-resources-content{
				    margin-top: 70px;
				    .article-resources-heading{
				    margin-bottom:9px;
				    	.article-title{
				    		@include font($fontSL7, 20px, 0.9, $gray, 1.5px);
				    	}
				    } 
				    .see-all{
				    	h5{
				    		[data-state="expand"],[data-state="collapse"]{
				    			margin-top:39px;
				    			background-color: $upfrontIaggregatorButtonBackgroundBlue;
				    			padding: 11px 20px 11px 42px;
				    			span.title{
				    				@include font($fontSL7, 16px, 0.88, $white, 0.3px);
				    			}
				    			.sw-icon{
					    			&.down-black-arrow{
									background-position: -19px -255px;
									width: 14px;
									height: 9px;
					    			}
				    			}
				    		}
				    	} 
				    } 
			}
		} 
    } 
		.reading-levels{
			margin-top:0;
			@include font($fontSL7, 13px, 1, $black, 1px);
			span{
				@include font($fontSL7, 13px, 1, $black, 1px);
				text-transform: uppercase;
			}
		} 
} 