.article-resources-main-container {
    &#TeachingResourcesComponent{
        background-color: $mathExploreBarGrey;       
        .textHyperlink-container{
            .textHyperlink-wrapper{
                background-color: $mathvotingTitle;
                height: 45px;
                margin-bottom: 20px;

               .textHyperlink-text {
                   @include font($fontC6, 28px, 1.14, $white);
                   background-color: $mathvotingTitle;
                   margin-left: 40px;
                   margin-bottom: 6px;
                   padding: 0;
                   vertical-align: middle;                
                }
            }              
        } 
    } 
    .article-resources-content {
        background-color: $mathExploreBarGrey;
        .article-resources-heading {
            .article-title{
                @include font($fontB8, 16px, 1.5, $black, 0.5px);
                margin-bottom:13px;
            }
        }
    }
}