.marketing-app-sample-issue {
    .app-issue-container {
        .marketing-app-sample-issue-container {
            margin-top: 31px;
            margin-bottom: 28px;

            .issue-title {
                @include font($fontPE4, 24px, 1.17, $white);
                margin-top: 13px;
            }

            .issue-desc {
                @include font($fontP4, 17px, 1.29, $white);
                margin-top: 11px;
            }

            .button-container {
                .marketing-sample-issue-btn {
                    @include font($fontP9, 14px, 1.43, $white, 1.1px);
                    border-radius: 100px;
                }
            }

            .marketing-contentTile-title {
                @include font($fontP7, 24px, 1.67, $white);
                margin-bottom: 4px;

                span.title-text {
                    left: 0;
                    right: 0;
                }

                span.title-space-text {
                    padding: 0;
                }
            }

            .marketing-content-tile-container {
                .row.game-video-wrapper {
                    .image-container {
                        border: none;
                    }
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-sample-issue {
        .app-issue-container {
            padding-right: 10px;

            .marketing-app-sample-issue-container {
                margin-top: 25px;
                margin-bottom: 20px;

                .sw-button {
                    display: none;
                }

                .sn3-button {
                    display: block;
                }

                .issue-title {
                    margin-top: 0;
                }

                .issue-desc {
                    @include font($fontP4, 17px, 1.29, $white, 0.2px);

                    p {
                        margin-bottom: 12px;
                    }
                }

                .button-container {
                    margin-top: 30px;

                    .marketing-sample-issue-btn {
                        @include font($fontP9, 14px, 1.43, $white, 1.1px);
                    }
                }

                .marketing-contentTile-title {
                    @include font($fontP7, 17px, 2.35, $white);
                }

                .marketing-content-tile-container {
                    .row.game-video-wrapper {
                        .image-container {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}
