.email-form-thankyou-container {
  .email-thankyou-wrapper {
    .email-editor-description-text {
      @include font($fontGB5, 18px, 1.44, $black, 0.5px);
    }

    .email-form-all-fields-container {
      margin-top: 16px;

      .send-button-wrapper {
        .send-button {
          background-color: $marketingActionSeaBlue;
          @include font($fontGB9, 16px, 1.25, $white, 0.3px);
        }
      }
    }

    .form-field-wrapper {
      margin-bottom: 0;

      .label-text {
        @include font($fontGB5, 16px, 1.38, $black, 0.3px);
        margin-bottom: 5px;
      }

      .form-field-input {
        background-color: $actionDropdownBackgroundColor;
        border: 1px solid $actionDropdownBorderColor;
        @include font($fontGB5, 14px, 1.57, $emailFormInputFontColor, 0.3px);
      }
    }

    .required-fields-text {
      @include font($fontGB5, 12px, 1.83, $requiredFieldstextGrey, 0.3px);
    }
  }

  .back-to-previous-wrapper {
    .back-to-previous-text {
      @include font($fontGB9, 14px, 1, $actioninactiveSortColor);
    }
  }
}
