.article-text-image-layout {
    .article-text-image {
        .img-column {
            background: $imagePopupGreyBackground;
            border: 1px solid $sn4PopupImageBorderColor;
            border-radius: 8px;
            img {
                border-radius: 8px 8px 0 0;
            }
        }
        .caption {
            @include font($fontSL4, 14px, 1.29, $black, 0.5px);
        }

        .credits {
            @include font($fontSL4, 10px, 1.2, $lightGrey2, 0.5px);
            margin-top: 12px;
        }
        &.left,
        &.right {
            .caption {
                margin: 0 20px 28px;
                display: block;
                p:last-child {
                    margin-bottom: 0;
                }
            }
            .credits {
                text-align: right;
                margin: 10px 15px 11px;
            }
        }
        .text-column{
            font-family: 'UtopiaStd-Regular';
        }
    }
}

.article-text-image-top-layout {
    .article-image {
        border-radius: 8px 8px 0 0;
    }
    .top-article-container {
        background: $imagePopupGreyBackground;
        border: 1px solid $sn4PopupImageBorderColor;
        border-radius: 8px;
    }
    .caption {
        @include font($fontSL4, 14px, 1.29, $black, 0.5px);
        margin: 0 20px 28px;
        display: block;
        p:last-child {
            margin-bottom: 0;
        }
    }

    .credits {
        @include font($fontSL4, 10px, 1.2, $lightGrey2, 0.5px);
        margin-right: 15px;
        tex-align: right;
    }
    .text-column {
        @include font($fontU4, 18px, 1.67, $black, 0.5px);
    }
}

#article-text-page-container{
    .back-to-top{
        .back-to-top-text{
            font-family: SlateStd-Medium;
        }
    }
    }  
