body{
    background-color: $white;
}
.title-hyperlink-custom-background {
    background-color: $snGlobalNavExploreColor;
    padding-top: 50px;
}
.acs-commons-resp-colctrl-row{
    .custom-background{
        background-color: $snGlobalNavExploreColor;
        padding: 30px 0 50px 0;
        margin-bottom: 4px;
        overflow: hidden;
    }
}