.marketing-app-hero-banner {
    .app-banner-issue-image {
        max-width: 440px;
    }
    .app-banner-content {
        .app-banner-details {
            .banner-title {
                text-align: left;
                @include font($fontK9, 60.9px, 1.07, $white);
                max-width: 797px;
            }
            .banner-desc {
                text-align: left;
                @include font($fontSL4, 33.5px, 1.13, $white, 0.6px);
            }
            .button-container {
                margin-top: 55px;
                .primary-button {
                    @include font($fontSL7, 24px, 0.83, $white, 1.8px);
                    border-radius: 100px;
                    background-color: #ed1c24;
                    padding: 12px 57.4px;
                }
            }
            .app-login {
                margin-top: 19px;
                span {
                    @include font($fontSL4, 19px, 1.05, $white);
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-hero-banner {
        .app-banner-content {
            .app-banner-details {
                margin-top: 101px;
                .banner-title {
                    text-align: center;
                    @include font($fontK9, 32px, 0.94, $white);
                    margin: 0 2px;
                }
                .banner-desc {
                    text-align: center;
                    @include font($fontSL4, 16px, 1.13, $white, 0.6px);
                    margin: 0 19px;
                    margin-top: 10px;
                }
                .button-container {
                    margin-top: 19px;
                    .primary-button {
                        @include font($fontSL7, 20px, 1, $white, 2.1px);
                    }
                }
                .app-login {
                    margin-top: 11px;
                    span {
                        @include font($fontSL4, 15px, 1.33, $white);
                    }
                }
            }
        }
    }
}
