$mathGlobalNavBoxShadow: rgba(0, 0, 0, 0.2) !default;
$mathGlobalNavLinkBlue: #aeefff !default;
$mathSearchFormBackgroundColor: rgba(255, 255, 255, 0.8) !default;
$mathSearchButtonBlue: #01a9f0 !default;
$mathExploreBarGrey: #f9fafb !default;
$mathExploreBarBlueFont: #0054a6 !default;
$mathGlobalFooterBg: #027db1 !default;
$mathFooterTitleBorder: rgba(255, 255, 255, 0.6) !default;
$mathFooterBottomTextBlue: #0066b3 !default;
$mathFooterTextGrey: #5a5a5a !default;
$mathFooterGreyBg: #fafbfb !default;
$exploreBarBorderGrey: rgba(158, 157, 157, 0.5) !default;
$mathcurrentIssueHeroTitleGreen: #8fc93a !default;
$mathCurrIssueButtonBlue: #01a9f0 !default;
$mathArticleToolbarDropdownBackgroundColor: #f1f3f4 !default;
$mathArticleToolbarDropdownBorder: #dadbde !default;
$mathArticleToolbarDropdownBackground: #eff1f4 !default;
$mathArticleToolbarBorderColor: #d3d7d8 !default;
$mathTabBoder: #7dbbd5 !default;
$matchTabActiveBackgroundColor:rgba(2, 125, 177, 0.5) !default;
$mathvotingTitle:#8F007A !default;
$mathSubjectsCovered: #979797 !default;
$mathSubjectsTitle: #027db1 !default;
$mathContactUsGrey: #eef0f1 !default;
$mathContactUsBorderGrey: #d3d7d8 !default;
$mathContactUSParagraphColor:#00a1ab !default;
$mathContactUSSelectColor:#f1f3f4 !default;
$sn4FaqAnsQuestion: #1657a0 !default;
$articleSidebarTitle:#168550 !default;
$articleimageCreditSn4:#606162 !default;
$mathSubjectsTitle: #027db1 !default;
$mathIssuehighBackground: #338271 !default;
$mathVotingSeeResults:#00a1ab !default;
$mathHorizontalContentTileBorder: #d3d6d8 !default;
$mathSearchDateContentTileBorder: #80bed8 !default;
$mathSkillsSheetBackgroundcolor: #a6a6a6 !default;
$mathContentTileViewArticleBlue: #0095da !default;
$mathFaqHighlightColor: #1397eb !default;
$mathIssueHighlightTitle:#000f20 !default;
$mathKeyAssetBacgroundGrey:#eceeef !default;
$mathIssueHighlightTitle:#333333 !default;
$contentTileSubjectBlue: #0054a6 !default;
$gray:#333333 !default;
$issueDateBgColor:#00a4ff !default;
$popUpImageBorderColor:#c7c9ca !default;
$mathIssueHighlightBelowTitle:#333333 !default;
$mathArticleImageBorder: #c7c9ca !default;
$mathOrange: #f8ac01 !default;
$mathGreen: #a4d23b !default;
$white: #ffffff !default;
$mathIssueAggArticleGrey: rgba(150, 150, 150, 0.5) !default;
$snMathsHeaderButton: #01a9f0 !default;
$marketingMathExplore: #7c7c7c !default;
$sn56grey: #d9dbde !default;
$mathButtonColor: #f8e81c !default;
$mathTDItitleColor: #4a4a4a !default;
$TDIcontentTileBackground: #eff0f2 !default;
$mathBlue: #00aeef !default;
$mathButtonBackground: #f7941d !default;
$mathContentTileDesc: #bd10e0 !default;
$marketingThickBlue: #073f95 !default;
$mathLightGrey: #dddddd !default;
$ContentTileSubject: #00697b !default;
$marketingMathBorderGrey: #e3e3e3 !default;
$mathLearnMore: #9b9b9b !default;