.bookmarks-main-container {
    background-color: $upfrontBackgroundColor;
    margin-top:2px;
    .bookmarks-main-content {
        .bookmarks-header{
            margin-bottom: 33px;
            margin-left: 40px;
            .main-title{
                .title-container{
                    @include font($fontK9, 28px, 1.14, $upfrontIaggregatorButtonBackgroundBlue, 1.5px);
                }
                .title-count{
                    @include font($font07, 24px, null, $black);
                    margin-left:10px;
                    position:relative;
                }
            }
        }
        .articles-resources-issues-container{ 
            
            .tab-content {
                .tab-pane {
                    .filter-section-container {
                        width:25%;
                        .bookmarks-facets{
                            margin-top:3px;
                        }
                    }
                    .bookmarks-section{
                        width:75%;
                    }
                }
            }
        }
        .bookmarks-content {
            .sort-by-wrapper{
                margin-top:3px;
                .sort-by-text {
                    @include font($font04, 12px, 1.08, $black, 0.5px);
                    padding-left: 9px;
                }
                .sort-by-category {
                    &.active-sort {
                        a{
                            @include font($font07, 12px, 1.08, $black, 0.5px);
                        }
                    }
                    a{
                        @include font($fontP5, 12px, 1.08, null, 0.5px);
                        color: $upfrontInactiveSortColor;
                    }
                }
            }
        }
        .articles-resources-issues-container {
            margin-top:0px;
            .articles-resources-issues-tabs{
                        ul {
          padding-right: 38px;
          padding-left: 40px;
          border-bottom: 4px solid $upfrontIaggregatorButtonBackgroundBlue;

          li.active {
            background-color: $upfrontIaggregatorButtonBackgroundBlue;

            &:before {
              background-color: $upfrontIaggregatorButtonBackgroundBlue;
              border-top-left-radius: 8px;
            }

            &:after {
              background-color: $upfrontIaggregatorButtonBackgroundBlue;
              border-top-right-radius: 8px;
            }

            a {
              @include font($fontSL7, 18px, 1, $white, 1.7px);
            }
          }

          li {
            background-color: $inActiveTabColor;

            &:before {
              background-color: $inActiveTabColor;
              border-top-left-radius: 8px;
            }

            &:after {
              background-color: $inActiveTabColor;
              border-top-right-radius: 8px;
            }

            a {
             @include font($fontSL7, 18px, 0.78, $inActiveTabFontColor, 1.3px);
            }
          }
        }
            }
            .tab-content {
                .tab-pane {
                    .filter-section-container {
                        .filter-category-section {
                            &:nth-child(1){
                                border-top:0px;
                                padding-top: 4px;
                            }
                            .filter-category-heading{
                                @include font($fontSL7, 14px, 0.93, $black, 1.1px);
                                
                            }
                            .filter-category-select-text{
                                @include font($fontSL7, 13px, 1, $black);
                            }
                            .filter-category-items-container {
                                ul {
                                    .filter-category-item {
                                        margin-bottom:16px;
                                        span{
                                            @include font($fontSL7, 13px, 1, $black);
                                            padding-left:3px;
                                        }
                                        &:last-child{
                                            margin-bottom:24px;
                                        }
                                    }
                                }
                            }
                            &.filter-reset-section {
                                .filter-category-items-container {
                                    .filter-category-item {
                                        margin-bottom:4px;
                                        margin-top:3px;
                                        span{
                                            @include font($fontSL7, 14px, 1, null);
                                            color: $upfrontInactiveSortColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .pagination-directive-wrapper{
                        margin-bottom:75px;
                        .paginationBottom{
                            margin-top:32px;
                        }
                    }
                }
            }
        }
    }
}
