.contact-us-layout {
  .contact-us-wrapper {
    .contact-us-container {
      .contactus-right-container {
        padding-top: 57px;

        .contact-info {
          padding-right: 87px;

          .contact-info-bar {
            background: $mathContactUsGrey;
            transform: skew(0deg);
            margin-left: 0;
            border: solid 2px #d3d7d8;
            border-radius: 8px;
            width: 975px;
            height: 135px;
          
             ul {
               padding: 28.5px 24px 28.5px 32px;
               transform: skew(0deg);
              

             li {
                border-right: 2px solid $mathContactUsBorderGrey;

             p {
                @include font($fontC6, 20px, 1.02, $mathContactUSParagraphColor, 0.6px);
                margin-bottom: 3px;
                }

                .contact-detail-text {
                  @include font($font07, 16px, 1.88, $black, 0.0px);
                  
                }

                .info-text {
                  line-height: 1.4;
                }
              }
            }
          }

          .contact-info-text {
             margin-top: 46px;
             padding-right: 75px;

            p {
              @include font($fontB4, 16px, 1.38, $black, 0.9px);

            a {
              color: $black;
              border-bottom: 1px solid $black;
              }
            }
          }
        }
         .sw-icon.phone-icon {
            background-position: -231px -336px;
            width: 12px;
            height: 14px;
}
         .contact-form-questions {
            margin-top: 64px;

          .question-row {
            margin-bottom: 21px;
          .sl-no {
            width: 36px;
            height: 36px;
            background: $mathContactUSParagraphColor;
            transform: skew(0deg);
            @include font($fontC8, 18px, 1.22, $white, 1px);
            border-radius: 36px;

           span {
            transform: skew(0deg);
              }
            }

          .question-container {
             padding-left: 17px;
             margin-bottom: 21px; 
              p {
              @include font($fontC4, 16px, 1.38px, $black, 0.9px);
              min-width:217px;
              height:22px;
              margin-bottom: 16px;
              }

              label {
              @include font($fontB4, 16px, 1.38, $black, 0.9px);
                 margin-bottom: 16px; 
               }

              select {
              border: 1px solid  #dadbde;
              @include font($fontB4, 16px, 1.38, $black, 0.9px);
              background: $mathContactUSSelectColor url("../../../images/dropdown.png") no-repeat;
              background-position: right 13px center;
              }
            }
          }

          .contact-form-container {
              margin-bottom: 33px;

            .contact-form {
            .contact-form-row {
              margin-bottom: 26px;
              label {
                  @include font($fontB4, 16px, 1.38, $black, 0.9px);               
                  margin-bottom: 4px;
              }

              input[type="email"],
              input[type="text"],
              select,
              textarea {
                background: $mathContactUSSelectColor;
                border: 1px solid #dadbde;
                @include font($fontSL4, 14px, 1.38, $black, 0.9px);
                }

              select {
                background: $mathContactUSSelectColor url("../../../images/dropdown.png") no-repeat;
                background-position: right 13px center;
                }
              }

             .required-text {
                @include font($fontB4, 16px, 1.38, $black, 0.9px);
                margin-bottom: 30px;
                margin-top: 5px;
              }

              .contact-submit-btn {
                background: $mathSearchButtonBlue;
                width: 220px;
                height: 40px;
                border-radius: 100px;
                @include font($font09, 13px, 1.54, $white, 1px);
              }
            }

             .contact-form-image {
                margin-top: 15px;
            }
          }
        }
      }
    }
  }
}
