.sch_list.video_list{
    .sch_list_item_content_image{
        padding: 10px 13px 0 13px;
        
        a{
            display: block;
            position: relative;
            &:after {
                background-color: rgba(0,0,0,0.4);
                border: solid 2px #fff;
                bottom: 8px;
                box-shadow: 1px 1px 0 rgba(0,0,0,0.8);
                color: #fff;
                content: "\f04b";
                display: block;
                font-family: FontAwesome;
                font-size: 18px;
                height: 32px;
                left: 8px;
                line-height: 32px;
                position: absolute;
                text-align: center;
                width: 32px;
            }
        }
    }
    .sch_list_item_content{
      border-bottom: solid 5px black;
      border-top: none;
    }
}

body.modal_open{
    height: 100%;
    overflow-x: hidden;
}

.s_video_player {
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 150%;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 11000;
    overflow: hidden;
    .container{
        margin: 0 auto;
        padding: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 600px;
        height: 413px;
        transform: translate(-50%, -50%);
        max-height: 100%;
    }

    .fa.fa-times {
        background-color: #00ccff;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        height: 32px;
        line-height: 32px;
        position: absolute;
        right: 10px;
        text-align: center;
        top: 0;
        width: 32px;
    }

    .video-js{
        height: 100%;
        width: 100%;
    }
}

@include respond-to('small') {
    .s_video_player{
        .container{
            height: 350px;
            width: 500px;
        }
    }
}

@include respond-to('xssmall') {
    .s_video_player{
        .container{
            height: 300px;
            width: 378px;
        }
    }
}

