.cm-migration-image-container {
	.image-popup-image-layout {
		.image-popup-image-container{
		  	background-color: $imagePopupGreyBackground;
			 border: solid 2px $imagePopupBorderGrey;
			 border-radius: 8px;

            img {
                @include border-radius-separate(6px, 6px, 0, 0);
            }
			 .caption-section{
			 	padding:0;
				  .img-popup-credits{
				  	@include font($fontSL4, 10px, 1.2, $lightGrey2, 0.5px);
					text-align:left;
					padding-right:15px;
					padding-left:20px;
				}
				.img-popup-caption{
					@include font($fontSL4, 14px, 1.29, $black, 0.5px);
					padding:0 20px 23px 20px;
				}
			}

			.modal-dialog{
				.image-popup-content{
					img{
						border-radius:0;
					}
				}
			}

			&.cm-migration-image-bottom-radius {
					img {
							@include border-radius-separate(6px, 6px, 6px, 6px);
					}
			}
		}
	}
}
