.article-Obj-skills-pad-container {
	.article-learnObj-keyskills-container {
		.learnKey-single-sec-wrapper {
			padding-top: 29px;
			.learnKey-section-title {
				@include font($fontC7, 13px, 1.08, $black, 1px);
			}

			.learnKey-section-content {
				@include font($fontB4, 12px, 1.83, $black, 0.5px);
			}
		}
	}
}

@media only screen and (min-width: $screen-md-min) {
	.article-Obj-skills-pad-container {
		margin-top: 7px;
		margin-bottom: 29px;
	}
}
