.answer-subject-area-block{
	padding-top:20px;
	.answer-subject-area{
		@include font($fontSE7, 28px, 0.79, null, 0.5px);
	}
}

.answer-faq-container{
	padding-bottom:20px;
	.answer-faq {
		padding-left:20px;
	}
}