.marketing-app-hero-banner {
    .app-banner-issue-image {
        max-width: 438px;
    }
    .app-banner-content {
        .app-banner-details {
            .banner-title {
                text-align: left;
                @include font($fontG7, 60px, 1.17, $white);
                max-width: 797px;
            }
            .banner-desc {
                text-align: left;
                @include font($fontGB5, 28px, 1.36, $white, 0.3px);
            }
            .button-container {
                margin-top: 55px;
                .primary-button {
                    @include font($fontGB9, 24px, 0.83, $white, 1px);
                    border-radius: 100px;
                    background-color: #00aaba;
                    padding: 8.34px 45px;
                }
            }
            .app-login {
                margin-top: 19px;
                span {
                    @include font($fontGB5, 17px, 1.18, $white);
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-hero-banner {
        .app-banner-content {
            .app-banner-details {
                .banner-title {
                    text-align: center;
                    @include font($fontG7, 30px, 0.93, $white);
                    margin: 0 2px;
                }
                .banner-desc {
                    text-align: center;
                    @include font($fontGB5, 16px, 1.13, $white, 0.3px);
                    margin: 0 19px;
                    margin-top: 10px;
                }
                .button-container {
                    margin-top: 19px;
                    .primary-button {
                        @include font($fontGB9, 18px, 1.11, $white, 1px);
                        padding: 8.5px 51.5px;
                    }
                }
                .app-login {
                    margin-top: 11px;
                    span {
                        @include font($fontGB5, 14px, 1.43, $white);
                    }
                }
            }
        }
    }
}
