.article-Obj-skills-pad-container {
	.article-learnObj-keyskills-container {
		.learnKey-single-sec-wrapper {
			padding-top: 30px;
			padding-bottom: 30px;

			.learnKey-section-title {
				@include font($fontP7, 13px, 1.08, $black, 1px);
				margin-bottom: 10px;
			}

			.learnKey-section-content {
				@include font($fontP4, 12px, 1.5, $black, 0.5px);
			}
		}
	}
}

@media only screen and (min-width: $screen-md-min) {
	.article-Obj-skills-pad-container {
		margin-top: 17px;
		margin-bottom: 40px;
	}
}