<!--/*

	EReader configuration component.

*/-->
<div data-sly-test.placeholder="${!wcmmode.disabled}">
    	Configure E-Reader configuration component
</div>
<div id="eReader-page-path" data-eReader-core-path="${currentPage.path}"></div>
<div data-sly-use.eReaderUse="com.scholastic.classmags.migration.controllers.EReaderUse" data-sly-unwrap>
<script type="text/javascript" src="/etc/designs/scholastic/classroom-magazines-migration/clientlibs/reader/bundle.reader.js"></script>
<script>
		// Pass configurations to the Reader.
	    var reader = new Reader({
	    pathToReader: '/etc/designs/scholastic/classroom-magazines-migration/clientlibs/reader/index.html',
	    pageId:"${properties.pageId @ context='unsafe'}",
	    epub: "${properties.linkToEReaderNew @ context='unsafe'}",
	   	persistenceService:
		    { 
		   		accessTokenUrl: '/bin/classmags/getjwttoken',
		   		apiBaseUrl: 'https://ereader-services-qa.hosting-sbx.scholastic.tech/api/v1/books/${eReaderUse.ePubISBN @ context='unsafe'}'
		    }
	    },${eReaderUse.ePubISBN @ context='unsafe'});
</script>
</div>
