.marketing-app-nav-bar-main-container {
    .app-nav-primary {
        background-color: $sn56GlobalNavigationBlue;
    }

    .navbar-default {
        border: 0;
    }

    .science-logo {
        padding: 10px 0 7px 7px;
        width: 222px;
        position: relative;
        cursor: pointer;

        &::after {
            content: 'Edition 5/6';
            position: relative;
            bottom: 8px;
            @include font($fontSL7, 12px, null, $white);
            opacity: 0.8;
            vertical-align: bottom;
        }

        .scholastic-logo-header {
            display: none;
        }

        a {
            margin-left: 7px;
            width: 61%;
            background: url('../../../images/globalNav/SN56-logo.png') no-repeat center;
            padding: 27.6px 0;
            background-size: 97%;
            margin-top: 20px;
        }
    }

    .dropdown {
        .app-nav-main-item-link {
            @include font($fontSL7, 16px, null, $white, 0.5px);
        }

        .magazine {
            @include font($fontSL7, 16px, null, $white, 0.5px);
        }

        &.js-dropdown-dynamic {
            &:nth-child(5) {
                .app-nav-main-item-link {
                    @include font($fontSL7, 16px, null, $white, 0.6px);
                }
            }
        }
    }

    .cta-button-container {
        padding: 35px 0 15px;

        .primary-button {
            @include font($fontSL7, 20px, 1, $white);
            background-color: $sn56LightBlue;
        }

        .secondary-button {
            border-radius: 5px;
            @include font($fontSL7, 20px, null, $white);
        }
    }

    .secondary-items {
        li {
            a {
                @include font($fontSL7, 12px, 1.17, $marketingPromoteMagazineLink, 1.4px);

                &:active,
                &:focus,
                &:hover {
                    color: $marketingPromoteMagazineLink;
                }
            }
        }

        .explore {
            @include font($font09, 13px, 1.08, $sn56GlobalNavExploreColor, 0.5px);

            &:active,
            &:focus,
            &:hover {
                color: $sn56GlobalNavExploreColor;
            }
        }
    }

    @include respond-to ('xssmall') {
        .app-nav-header {
            .search-logo-block {
                min-width: 163px;
                margin-top: 0;
                padding-top: 0;

                &:after {
                    content: 'Edition 5/6';
                    position: relative;
                    @include font($fontSL7, 12px, null, $white, normal);
                    line-height: normal;
                    opacity: 0.8;
                    vertical-align: bottom;
                    cursor: pointer;
                }

                .scholastic-logo-header {
                    display: none;
                }
            }
        }

        .app-nav-header {
            .menu-icon-block {
                padding: 0 0 0 35px;
                margin-right: 23px;

                .nav-header-item {
                    .icon-bar {
                        background: $white;
                        width: 26px;
                        border-radius: 0;

                        + .icon-bar {
                            margin-top: 5px;
                        }
                    }

                    &.nav-menu-icon {
                        margin-top: 34px;
                        margin-bottom: 0;
                        height: 20px;
                    }
                }
            }

            .profile-icon-block {
                .secondary-button {
                    @include font($fontSL7, 16px, null, $white);
                    border-radius: 5px;
                }
            }
        }

        .magazine-logo-tablet-mobile {
            display: inline-block;
            width: 98px;
            height: 50px;
            background: url('../../../images/globalNav/SN56-logo.png') no-repeat center;
            background-size: 100%;
        }

        .nav-header-item {
            margin: 8px 0;
        }

        .js-nav-menu {
            .js-dropdown,
            .js-dropdown-menu,
            .js-dropdown-submenu-menu,
            ul:first-child {
                li {
                    &.dropdown {
                        .app-nav-main-item-link {
                            @include font($fontSL7, 16px, null, $sn56TabBackground, 0.5px);
                            padding-left: 0;

                            &:active,
                            &:focus,
                            &:hover {
                                color: $sn56TabBackground;
                            }
                        }
                    }
                }

                li {
                    &.dropdown.js-dropdown:nth-child(5) {
                        a {
                            @include font($fontSL7, 16px, null, $sn56TabBackground, 0.6px);
                        }
                    }
                }
            }

            #secondary-items-nav {
                li {
                    a {
                        @include font($fontSL7, 12px, null, $sn56TabBackground, 0.9px);
                    }

                    &:last-child {
                        a {
                            border-bottom: 1px solid sn56grey;
                        }
                    }
                }
            }

            .primary-button {
                @include font($fontSL7, 16px, 1.25, $white);
                background-color: $sn56LightBlue;
                border-radius: 0;
            }
        }

        .js-nav-menu {
            #secondary-items-nav {
                @include font($fontSL7, 12px, null, $sn56TabBackground, 0.9px);
            }
        }
    }
}
