.textHyperlink-container-content {
    .flexible-title-custom-background{
        padding-top: 51px;
        background-color: $votingContentBackgroundGrey;
    }
    .textHyperlink-container-wrapper {
        &.left {
            flex-direction: row;
        }

        &.right {
            flex-direction: row-reverse;

            .text-link-connector {
                margin-right: 15px;
                margin-left: 0;
            }

            .textHyperlink-link {
                margin-left: 0;
                margin-right: 15px;
            }
        }

        .text-link-connector {
            &.hide-ruler {
                visibility: hidden;
            }
        }
    }
}

.flexible-title-hyperlink {
    &.textHyperlink-container {
        .textHyperlink-wrapper {
            height:52px;
            .textHyperlink-text {
                 padding: 26px 93px 16px 40px;
                 top: -22px;
                p {
                    margin: 0;
                }
                
            }
        }
    }
    &.textHyperlink-container {
        &.right {
            .textHyperlink-content{
                .textHyperlink-content-wrapper{
                    background: url(../../../images/lines-grey.png) repeat;
                    padding-top: 40px;
                    padding-left: 229px;
                    
                .flexible-title{
                    opacity: 0.9;
                    background-color: $yellow; 
                    padding: 27px 40px 31px 41px;
                    display: inline-block;
                    @include font($fontN5, 40px, 0.8, $black, 1.4px);
                    p{
                        margin:0;
                    }
                }
                    
                }
                
            } 
            
        }
    }
}