.answer-question-block{
    .answer-question{
        @include font($font07, 22px, 1.64, $contentTileSubjectBlue, 1px);
    }
    .answer-image-block{
        .answered-content{
            @include font($font04, 16px, 1.5, $black, normal);
            a{
                color: $darkNavyBlue;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .image-caption{
            @include font($font5, 13px, 1.69, $black, 0.5px);
        }
    }
}