.share-popover-layout {
    display: inline-block;
}
.popover-content {
    .popover-text {
        @include font($font04, 16px, 1.5, $black, 0.5px);
        width: 250px;
        height: 30px;
    }
    .js-share-popover-close{
		float: right;
		top: -6px;
		right: -9px;
		cursor:pointer;
    }
}
