.article-text-image-layout {
    .article-text-image {
        .credits {
            font-family: 'ProximaNova-Regular';
        }

        .img-column{
            border: solid 2px $dynamathArticleToolbarBorderColor;
            background-color: $dynamathArticleImageBackground;
        }

        &.left,
        &.right {

            .text-column {
                @include font($fontU4, 18px, 1.67, $black);
            }

            .credits {
              @include font($font04, 10px, 1.2, $lightGrey2, 0.5px); 
              padding: 0 15px; 
            }

            .caption {
                @include font($fontP5, 14px, 1.29, $black, 0.3px);
                    p{
                        padding: 0 15px; 
                        padding-bottom:25px;
                    }
            }
        }

    }
}

.article-text-image-top-layout {
    .article-text-image {
        .top-article-container{
             border: solid 2px $dynamathArticleToolbarBorderColor;
             background-color: $dynamathArticleImageBackground;
            .caption {
                @include font($fontP5, 14px, 1.29, $black, 0.3px);
                margin-top:0;
                padding-left: 20px;
                    p{
                     margin:0;
                    }
                padding-bottom:25px;
            }

            .credits {
                @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
                padding-left: 20px;
                margin-top: 12px;
                    p{
                     margin:0;
                    }
            }
            .top-article-text-image{
                margin-bottom:12px;
            }
        }
        
        .text-column {
            @include font($fontU4, 18px, 1.67, $black);
            margin-top: 40px;
        }

    }
}

#article-text-page-container{
    .back-to-top{
        .back-to-top-text{
            font-family: 'ProximaNova-Bold';
        }
    }
    }  