<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure Page - Search Results Component</div>
<div data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse" data-sly-unwrap>
    <div class="search-resources-main-container resources-container" data-sly-use.search="com.scholastic.classmags.migration.controllers.SearchResultsUse" ng-controller="searchResourceListSearchPageController" ng-cloak>
        <div class="search-main-content">
            <div class="main-title">
                <span class="title-container"> Search Results for &#8220;{{searchText}}&#8221;</span>
                <span class="title-count" ng-if="totalArticlesResources >= 0 || totalIssues >= 0">({{totalArticlesResources + totalIssues}})</span>
                <div class="dot-block"></div>
            </div>
            <div class="row articles-resources-issues-container pad0 nomarLR">
                <div class="articles-resources-issues-tabs pad0">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="col-md-6 col-sm-6 col-xs-6 pad0" ng-class="{'active':currentTab=='article'}" data-target="#articlesResourcesTab" data-toggle="tab" ng-click="openTab('article')">
                            <a>articles &#38; resources <span ng-if="totalArticlesResources >= 0">({{totalArticlesResources}})</span></a>
                        </li>
                        <li class="col-md-6 col-sm-6 col-xs-6 pad0" ng-class="{'active':currentTab=='issue'}" data-target="#issuesTab" data-toggle="tab" ng-click="openTab('issue')">
                            <a>issues <span ng-if="totalIssues >= 0">({{totalIssues}})</span></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content clearfix pad0">
                    <div class="tab-pane clearfix" id="articlesResourcesTab" ng-class="{'active': currentTab === 'article'}" ng-if="resultsCount > 0">
                        <div class="col-md-3 col-sm-3 col-xs-4 filter-section-container pad0">
                            <div class="search-facets">
                                <div class="filter-category-section filter-type-section">
                                    <div class="filter-category-heading">FILTER BY TYPE</div>
                                    <div class="filter-category-items-container">
                                        <form>
                                            <ul class="clearfix">
                                                <div data-sly-list.contentFilter="${search.contentFilters}" data-sly-unwrap>
                                                    <div data-sly-test="${contentFilter.render}" data-sly-unwrap>
                                                        <li class="filter-category-item js-type">
                                                            <input type="checkbox" id="${contentFilter.id}" value="">
                                                            <label for="${contentFilter.id}"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> ${contentFilter.contentType}
														                                </span></label>
                                                        </li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                                <div class="filter-category-section filter-subject-section">
                                    <div class="filter-category-heading">FILTER BY SUBJECT</div>
                                    <div class="filter-category-items-container">
                                        <form>
                                            <ul class="clearfix">
                                                <div data-sly-list.subjectFilter="${search.subjectFilters}" data-sly-unwrap>
                                                    <li class="filter-category-item js-subject">
                                                        <input type="checkbox" id="${subjectFilter.id}" value="">
                                                        <label for="${subjectFilter.id}"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> ${subjectFilter.contentType}</span></label>
                                                    </li>
                                                </div>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                                <!--
                  							<div class="filter-category-section filter-bookmark-section">
                  								<div class="filter-category-items-container">
                  									<form>
                  										<ul class="clearfix">
                  											<li class="filter-category-item"><input type="checkbox"
                  												id="filter-bookmark-item-one" value=""><label
                  												for="filter-bookmark-item-one"></label> <span> Show
                  													Only My Bookmarks </span></li>
                  										</ul>
                  									</form>
                  								</div>
                  							</div>
                  							-->
                                <div class="filter-category-section filter-reset-section">
                                    <div class="filter-category-items-container">
                                        <form>
                                            <ul class="clearfix">
                                                <li class="filter-category-item" ng-click="clearFilters()">
                                                    <span class="sw-icon refresh-icon refresh"></span>
                                                    <span>Reset All Filters </span>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-8 search-resources-section pad0">
                            <div class="search-resources-content">
                                <div class="row sort-by-wrapper nomarLR">
                                    <span class="sort-by-text">Sort By:</span>
                                    <span class="sort-by-category" ng-class="{'active-sort':sortCondition=='published'}"> <a
                    									href="" ng-click="sortBy('published')">Date Published</a>
                    									</span>
                                    <span class="sort-by-category" ng-class="{'active-sort':sortCondition=='title'}"> <a
                  									href="" ng-click="sortBy('title')">Title</a>
                  								</span>
                                </div>
                                <div class="row search-tiles row-wrapper equal-row-wrapper">
                                    <div class="col-md-4 col-sm-6 col-xs-6 mar20 pad10" ng-repeat="article in articleList" sw-authorize="{{article.user_type_s}}">
                                        <sw-content-tile image-src="{{article.thumbnail_s}}"
                                                         image-hyperlink="{{article.id}}"
                                                         content-title="{{article.title_t}}"
                                                         display-date="{{article.published_date_t}}"
                                                         subject="{{article.subject_tags_ss.join(', ') | uppercase}}"
                                                         description="{{article.description_t}}"
                                                         content-type="{{article.type_s}}"
                                                         position="vertical"
                                                         video-length="{{video_duration_s}}"
                                                         video-id="{{article.video_id_s}}"
                                                         style-type="regular"
                                                         show-download-icon="{{article.downloadable_b}}"
                                                         show-share-icon="{{article.shareable_b}}"
                                                         show-view-article-link=""
                                                         view-article-link-url="{{article.container_url_s}}"
                                                         user-role="{{article.user_type_s}}"
                                                         share-link-url="{{article.share_url_s}}"
                                                         display-style="contenthub"
                                                         game-id="{{article.unique_id_s}}"
                                                         game-flash-container="{{article.flash_container_s}}"
                                                         game-path="{{article.game_path_s}}"
                                                         game-type="{{article.game_type_s}}"
                                                         bookmark-path="{{article.bookmarkPath_s}}">
                                        </sw-content-tile>
                                    </div>
                                </div>
                                <sw-pagination total-issue-page-count="totalPageCount" on-next="onpageNext()" on-previous="onpagePrevious()" on-change="onPageSelection()" records="records" pages="pages" total-search-articles-resources="totalArticlesResources" my-bookmark-page="false"></sw-pagination>
                                <!--Modal Starts-->
                                <div class="modal fade" id="articleVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title"></h4>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Start of Brightcove Player -->
                                                <!--
                                                By use of this code snippet, I agree to the Brightcove Publisher T and C
                                                found at https://accounts.brightcove.com/en/terms-and-conditions/.
                                                -->
                                                <object id="myExperience5115612056001" class="BrightcoveExperience">
                                                    <param name="bgcolor" value="#FFFFFF" />
                                                    <param name="width" value="474" />
                                                    <param name="height" value="400" />
                                                    <param name="playerID" value="" />
                                                    <param name="playerKey" value="AQ~~,AAAAAFv844g~,BASb5BU03X-uQzvS8z7DzGIDGHVv6Vy2" />
                                                    <param name="isVid" value="true" />
                                                    <param name="dynamicStreaming" value="true" />
                                                    <param name="@videoPlayer" value="" />
                                                </object>
                                                <!--
                                                This script tag will cause the Brightcove Players defined above it to be created as soon
                                                as the line is read by the browser. If you wish to have the player instantiated only after
                                                the rest of the HTML is processed and the page load is complete, remove the line.
                                                -->
                                                <!-- End of Brightcove Player -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--Modal Ends-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="articleResourcesIssuesTab" ng-class="{'active': currentTab === 'issue'}" ng-if="resultsCount > 0">
                        <div class="col-xs-4 col-sm-4 col-md-3 filter-section-container pad0">
                            <div class="search-facets">
                                <div class="filter-category-section filter-subject-section">
                                    <div class="filter-category-heading">FILTER BY SUBJECT</div>
                                    <div class="filter-category-items-container">
                                        <form>
                                            <ul class="clearfix">
                                                <div data-sly-list.subjectFilter="${search.subjectFilters}" data-sly-unwrap>
                                                    <li class="filter-category-item js-subject">
                                                        <input type="checkbox" id="${subjectFilter.id}" value="">
                                                        <label for="${subjectFilter.id}"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> ${subjectFilter.contentType}</span></label>
                                                    </li>
                                                </div>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                                <div class="filter-category-section filter-reset-section">
                                    <div class="filter-category-items-container">
                                        <form>
                                            <ul class="clearfix">
                                                <li class="filter-category-item" ng-click="clearFilters()">
                                                    <span class="sw-icon refresh-icon refresh"></span>
                                                    <span> Reset All Filters </span>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-9 search-resources-section">
                            <div class="search-resources-content">
                                <div class="row sort-by-wrapper nomarLR">
                                    <span class="sort-by-text">Sort By:</span>
                                    <span class="sort-by-category" ng-class="{'active-sort':sortCondition=='published'}">
                                 <a href="" ng-click="sortBy('published')">Date Published</a>
                              </span>
                                    <span class="sort-by-category" ng-class="{'active-sort':sortCondition=='title'}">
                                 <a href="" ng-click="sortBy('title')">Title</a>
                              </span>
                                </div>
                                <div class="row nomarLR search-tiles issues-tab-search-tiles row-wrapper equal-row-wrapper">
                                    <div class="col-xs-6 col-sm-4 col-md-3 issue-single-tile" ng-repeat="issue in issuesList" sw-authorize="{{article.user_type_s}}">
                                        <div class="issue-tile">
                                            <div class="img-wrapper">
                                                <a ng-href="{{issue.id}}">
                                                    <img ng-src="{{issue.thumbnail_s}}">
                                                </a>
                                            </div>
                                            <div class="issue-date-btn">
                                                <a ng-href="{{issue.id}}">{{issue.published_date_t}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- pagination for issues tab starts -->
                                <sw-pagination total-issue-page-count="totalPageCount" on-next="onpageNext()" my-bookmark-page="false" on-previous="onpagePrevious()" on-change="onPageSelection()" records="records" pages="pages" total-search-articles-resources="totalArticlesResources" total-search-issue-resources="totalIssues"></sw-pagination>
                                <!-- pagination for issues tab ends -->
                            </div>
                        </div>
                    </div>
                    <div class="search-zero-results-container" ng-if="resultsCount == 0">
                        <div class="title" ng-bind="bindTitle('${properties.title}')">
                            ${properties.title}
                        </div>
                        <div class="try-another-keyword">
                            ${properties.description}
                        </div>
                        <div class="search-guidlines">
                            <h3 class="search-tips">Search Tips</h3>
                                <div class="steps-for-search">${properties.searchTips @ context='html'}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-class="{'in':isSpinnerShow}" class="spinnercontainer">
            <img src="/etc/designs/scholastic/classroom-magazines-migration/images/icons/spinner.gif">
        </div>
    </div>
</div>
