.tab-component-layout{ 
    .main-tabs {
    	border-bottom:4px solid $tabComponentActiveColor;
          li.active {
          	  
            a,a:hover,a:focus,a:after,a:before{
                background-color: $tabComponentActiveColor;
                }
                a:before{
                	border-top-left-radius: 8px;
                }
                a:after{
                	border-top-right-radius: 8px;
                }
            a {
            	span.tab-names{
            		@include font($fontP7, 14px, 1, $white, 1px);
            	}
            }            
        }
            li {

        	a,a:hover,a:focus,a:after,a:before{
                background-color: $tabComponentInActiveStateColor;
                padding-top: 23px;
                padding-bottom: 17px;
            }
            	a{
            		span.tab-names{
            			@include font($fontP7, 14px, 1, $inActiveStateFontColor, 1px);
            		}}
            		a:before{
            			border-top-left-radius: 8px;
            		}
            	    a:after{
            	    	border-top-right-radius: 8px;
            	    }
            	 
            }
    }
}