.subscription-address-form {
    .subscription-billing-address-form {
        background-color: $bodyGrey;
        padding: 23px 30px 40px;
        margin-top: 20px;

        .subscription-address-container {
            margin: 0;

            .subscription-billing-title {
                padding: 0;

                span {
                    @include font($font07, 28px, null, $gray);
                }
            }

            .subscription-billing-option {
                padding: 0;

                .subscription-billing-check {
                    margin-top: 18px;
                    margin-bottom: 0;

                    label {
                        @include font($font04, 18px, 1.22, $black, 1px);
                    }
                }
            }

            .subscription-address-details {
                border-top: 1px solid $tabBgGrey;
                padding: 25px 0 0;
                margin-top: 30px;

                .subscription-address-group {
                    .subscription-address-text {
                        @include font($font04, 16px, 1.38, $black, 0.9px);
                    }

                    .subscription-address-val {
                        @include font($font04, 16px, 1.38, $black, 0.9px);
                        height: 40px;
                        border: 1.2px solid $tabBgGrey;
                        padding: 9px 0 9px 20px;
                    }
                }
            }
        }
    }

    .subscription-shipping-address-form {
        .subscription-address-container {
            .subscription-address-details {
                border-top: 0;
                padding: 0;
                margin-top: 24px;
            }

            .subscription-billing-option {
                .subscription-billing-check {
                    margin-bottom: 0;
                    margin-top: 18px;

                    label {
                        @include font($font04, 16px, null, $gray, 0.5px);
                    }
                }
            }
        }
    }
}
