<!--/*

	Entitlement component.

*/-->
<div data-sly-test="${wcmmode.edit}">
    Misc - Entitlement component
</div>
<div data-sly-use.entitlements="com.scholastic.classmags.migration.controllers.EntitlementUse" data-sly-unwrap>

<div data-sly-test="${entitlements.redirect && entitlements.errorPage}">
    	<script type="text/javascript">
    		window.location.href = "${entitlements.errorPage @context= 'scriptComment'}";
		</script>
</div>

</div>