<div data-sly-test.placeholder="${!wcmmode.disabled}">
              Configure Page - Contact Thanks component
</div>
<div class="container-fluid pad0 thankyou-back-to-previous-wrapper">
	<div class="thankyou-hash-background"></div>
    <div class="thankyou-container">                    
        <div class="thankyou-content row nomarLR">
            <div class="col-md-8 col-md-offset-2 pad0 thankyou-content-pad-container">${properties.thankYouMessage @context='html'}</div>
        </div>
        <div data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=properties.backToPreviousPath}" data-sly-unwrap>
			<div data-sly-test="${properties.backToPreviousText}" data-sly-unwrap>
			    <div class="back-to-previous-wrapper row nomarLR">
			        <div class="col-md-2 col-md-offset-2 pad0 back-to-previous-pad-container">
			            <span class="sw-icon left-arrow-icon back-to-previous-icon"></span>
			            <div class="back-to-previous-text">
			                <a href="${globalLink.formattedUrl}">${properties.backToPreviousText}</a>
			            </div>
			        </div>
			    </div>
		    </div>
		</div>
    </div>
</div>
