.current-issue-hero-component {
    position: relative;

    a {
        text-decoration: none;
    }

    .current-issue-tile-wrapper {
        margin-top: 35px;
    }

    .curr-issue-right-arrow {
        vertical-align: bottom;
        margin-left: 6px;
    }

    .past-issue-wrapper {
        margin-left: 25px;
        position: relative;
        min-height: 473px;

        .current-issue-img-center {
            margin: 0 auto;
        }
    }

    .hero-component-title-des {
        @include font($font07, 22px, 1.09, $black, 0.6px);
        padding-bottom: 4px;
        float: left;

        a {
            @include font($font07, 22px, 1.09, $black, 0.6px);

            &:active,
            &:focus,
            &:hover {
                color: $black;
            }
        }
    }

    &.past-issue-list-main-container {
        .past-issue-list-main-content {
            .tile-wrapper-past-date{
                padding-right: 38px;
                padding-left: 23.97px;
            }
            .current-issue-img-pad-container{
              padding-left: 23px;
              padding-right: 0;
            }
            .junior-current-issue-title{
                display: none;
            }
            .explore-button-link {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }

            .explore-latest-button {
                padding: 10px 36px;
                margin: 0 auto;
                text-align: center;
                min-height: 40px;
            }

            .view-all-articles {
                @include font($font09, 14px, 1, $liteBlue2, 0.5px);
                text-align: right;
            }

            a {
                &.view-all-articles {
                    text-align: right;
                }
            }

            .past-issue-date-container {
                display: table;
                width: 100%;

                .hero-component-title-des,
                .view-article-container {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }

    &.past-issue-list-main-container {
        padding: 0;
    }

    .current-issue-hero-component-hash {
        background: url('../../../images/lines-grey.png') repeat;
        min-height: 378px;
        position: absolute;
        bottom: 0;
        left: 2px;
        right: 0;
    }
    
    .highlights-issue-date,
    .issue-date,.open-magazine-link {
        display: none;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) { 

    .current-issue-hero-component{
        .past-issue-wrapper{
            .current-issue-img-center{
                width: 196px;
                height: 262.2px;
                img{
                    width:100%;
                    height:100%;
                }
            }
        } 
    } 
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) { 
    .current-issue-hero-component{
        .past-issue-wrapper{
            .current-issue-img-center{
                width: 240px;
                height: 321.1px;
                img{
                    width:100%;
                    height:100%;
                }
            }
        } 
    } 
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) { 
    .current-issue-hero-component{
        .past-issue-wrapper{
            .current-issue-img-center{
                width: 270px;
                height: 361.2px;
                img{
                    width:100%;
                    height:100%;
                }
            }
        } 
    } 
}

@media only screen and (min-width: 1366px) { 
    .current-issue-hero-component{
        .past-issue-wrapper{
            .current-issue-img-center{
                width: 290px;
                height: 388px;
                img{
                    width:100%;
                    height:100%;
                }
            }
        } 
    } 
}