<div
	data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse"
	data-sly-unwrap>
	<div data-sly-test="${wcmmode.edit || globalAccess.visible}"
		data-sly-unwrap>
		<div
			data-sly-test="${!(properties.contentTileContentType=='custom' || properties.contentTileLink) && wcmmode.edit}">
			Configure General - Content Tile component</div>
		<div data-sly-unwrap
			data-sly-use.contentTile="com.scholastic.classmags.migration.controllers.ContentTileUse">
			<div
				data-sly-test="${(properties.contentTileContentType=='customPage' || properties.contentTileContentType=='customAsset' || properties.contentTileLink)}"
				data-sly-unwrap>
				<div data-sly-unwrap
					data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=contentTile.contentTileObject.pagePath}">
					<sw-content-tile
						image-src="${contentTile.contentTileObject.associatedImage}"
						image-hyperlink="${contentTile.contentTileObject.pagePath}"
						content-title="${contentTile.contentTileObject.contentTileTitle}"
						display-date="${contentTile.contentTileObject.sortingDate}"
						subject="${contentTile.contentTileObject.tags}"
						description="${contentTile.contentTileObject.contentTileDesc}"
						content-type="${contentTile.contentTile.contentTileContentType}"
						position="${contentTile.contentTile.contentTileImagePos}"
						video-id="${contentTile.contentTileObject.videoId}"
						video-length="${contentTile.contentTileObject.videoDuration}"
						style-type="${properties.styleType}"
						show-download-icon="${(contentTile.contentTile.contentTileContentType != 'customPage' && contentTile.contentTile.contentTileContentType != 'customAsset') ? contentTile.contentTileFlags.getStringValueOfDownloadEnabled : properties.contentTileCustomDownloadFlag}"
						show-share-icon="${(wcmmode.edit || globalAccess.shareableToTeacher) && ((contentTile.contentTile.contentTileContentType != 'video' && contentTile.contentTile.contentTileContentType != 'customPage' && contentTile.contentTile.contentTileContentType != 'customAsset')  || ((contentTile.contentTile.contentTileContentType == 'customPage' || contentTile.contentTile.contentTileContentType == 'customAsset') && properties.contentTileCustomShareFlag))  ? 'true':'false'}"
						show-view-article-link="${contentTile.contentTileFlags.getStringValueOfViewArticleEnabled}"
						view-article-link-url="${contentTile.contentTile.contentTileArticlePagePath}"
						share-link-url="${globalLink.externalizedDomain}"
						game-id="${contentTile.contentTileObject.gameModel.containerId @ context='text'}"
						game-flash-container="${contentTile.contentTileObject.gameModel.containerPath @ context='uri'}"
						game-path="${contentTile.contentTileObject.gameModel.gamePath @ context='uri'}"
						game-type="${contentTile.contentTileObject.gameModel.gameType}"
						bookmark-path="${contentTile.contentTileObject.bookmarkPath}"
						user-role="${contentTile.contentTileObject.userType}">
					</sw-content-tile>
				</div>
			</div>
		</div>
	</div>
</div>
