.marketing-app-hero-banner {
    max-width: 1440px;
    .app-banner-component {
        position: relative;
        .app-banner-content-image {
            padding-left: 0;
        }
    }
    .app-banner-image {
        width: 100%;
    }
    .app-banner-content {
        &.place-holder {
            position: static;
            visibility: hidden;
            min-height: 320px;
        }
        position: absolute;
        top: 0;
        width: 100%;
    }
    .app-banner-issue-image {
        max-width: 440px;
        margin-top: 19%;
        padding: 20px;
    }
    .banner-title {
        @include font($fontN7, 59px, 1.1, $white, null);
    }
    .banner-desc {
        @include font($font07, 25.5px, 1.49, $white, 0.1px);
        margin-top: 20px;
    }
    .button-container {
        text-align: center;
        float: right;
        margin-top: 51px;
        padding-right: 16%;
        .primary-button {
            @include font($font09, 21px, 0.95, $black, 0.4px);
            background-color: #fff200;
            border: none;
            border-radius: 100px;
            text-transform: uppercase;
            text-align: center;
            padding: 13px 41px 12px 47px;
        }
        .app-login {
            margin-top: 25px;
            span {
                @include font($font04, 19px, 1.05, $white, null);
                a {
                    text-decoration: underline;
                    color: $white;
                }
            }
        }
    }
    .arrow-image {
        background: url('../../../images/CM-Marketing/down_arrows.png') no-repeat center;
        position: absolute;
        bottom: -20px;
        width: 76px;
        height: 76px;
        left: 47%;
    }
}
@include respond-to ('xssmall') {
    .marketing-app-hero-banner {
        .app-banner-image {
            width: auto;
            min-width: 100%;
            height: 100%;
            position: absolute;
        }
        .app-banner-details {
            text-align: center;
            margin-top: 121px;
            padding-right: 10px;
            padding-left: 5px;
            .banner-title {
                @include font($fontN7, 24px, 1.12, $white, null);
            }
            .banner-desc {
                margin: 6px 0 0;
                font-size: 16px;
                line-height: 1.25;
            }
            .button-container {
                float: none;
                margin-top: 38px;
                padding-right: 0;
                .primary-button {
                    padding: 10.25px 66px;
                    font-size: 16px;
                    line-height: 1.25;
                    letter-spacing: 1px;
                    min-width: 275px;
                }
                .app-login {
                    margin-top: 11px;
                    span {
                        font-size: 14px;
                        line-height: 1.43;
                    }
                }
            }
        }
    }
}
@include respond-to ('small-and-medium') {
    .marketing-app-hero-banner {
        .app-banner-image {
            width: auto;
            height: 100%;
            position: absolute;
        }
        .app-banner-details {
            text-align: center;
            margin-top: 121px;
            padding-right: 10px;
            padding-left: 5px;
            padding-bottom: 50px;
            .banner-title {
                @include font($fontSE9, 48px, 0.92, $white, null);
            }
            .banner-desc {
                @include font($fontSL7, 28px, 0.64, $white, null);
                margin: 6px 0 0;
                font-size: 16px;
                line-height: 1.25;
            }
            .button-container {
                float: none;
                margin-top: 38px;
                padding-right: 0;
                .primary-button {
                    padding: 10.25px 66px;
                    font-size: 16px;
                    line-height: 1.25;
                    letter-spacing: 1px;
                    min-width: 275px;
                }
                .app-login {
                    margin-top: 11px;
                    span {
                        font-size: 14px;
                        line-height: 1.43;
                    }
                }
            }
        }
    }
}
@include respond-to ('large') {
    .marketing-app-hero-banner {
        .app-banner-content {
            padding-left: 25px;
            &.place-holder {
                display: none;
            }
            .app-banner-image-container {
                max-width: 100%;
                margin-top: 19%;
            }
            .app-banner-details {
                margin-top: 24.5%;
                padding-left: 33px;
            }
        }
    }
}
