.marketing-app-tdi-component {
  background-color: $white;
  &.contentTile {
    background-color: $contentTileBackgroundColor;
    padding-bottom: 50px;
    .app-tdi-content {
      p {
        text-align: center;
        @include font($fontSL5, 25px, 1.28, $upfrontContentTileDesc, 0.8px);
      }
    }
    .app-tdi-header {
      p {
        @include font($fontSL9, 33px, 1.21, $upfrontBorderBottomColor, 1.3px);
      }
    }
  }
  .app-tdi-header {
    p {
      @include font($fontSL9, 33px, 1.21, $upfrontBorderBottomColor, 1.3px);
    }
  }
  .app-tdi-content {
    p {
      @include font($fontSL5, 30px, 1.37, $upfrontBorderBottomColor, null);
      .hyperlink {
        @include font($fontSL5, 24px, 1.71, $upfrontHyperlinkColor, null);
      }
    }
  }
  .app-description {
    .desc {
      @include font($fontSL5, 21px, 1.29, $upfrontDesciptionColor, null);
    }
    .secondary-button {
      background-color: $upfrontContentTileDesc;
      @include font($fontSL7, 16px, 1.25, $white, 2px);
      min-height: 40px;
      min-width: 265px;
      border-radius: 100px;
      padding: 14px 26px;
    }
  }
}

@include respond-to('xssmall') {
  .marketing-app-tdi-component {
    &.contentTile {
      background-color: $contentTileBackgroundColor;
      .app-tdi-content {
        display: none;
      }
      .app-tdi-header {
        p {
          @include font($fontSL9, 26px, 1.08, $upfrontBorderBottomColor, 1.3px);
        }
      }
    }
    .app-tdi-header {
      p {
        @include font($fontSL9, 26px, 1.08, $upfrontBorderBottomColor, 1.2px);
      }
    }
    .app-tdi-content {
      p {
        @include font($fontSL5, 20px, 1.3, $upfrontBorderBottomColor, null);
        .hyperlink {
          @include font($fontSL5, 14px, 1.86, $upfrontHyperlinkColor, null);
        }
      }
    }
    &.mobileCarousel {
      background-color: $white;
    }
    .app-description {
      .desc {
        text-align: center;
        @include font($fontSL5, 20px, 1.35, $upfrontDesciptionColor, null);
      }
      .secondary-button {
        background-color: $upfrontContentTileDesc;
        @include font($fontSL7, 16px, 1.25, $white, 1.2px);
        min-height: 40px;
        min-width: 205px;
        border-radius: 100px;
        padding: 7px 0px;
      }
    }
  }
}
