.contact-us-layout {

    .contact-us-wrapper {
        background: $white;
        .contact-us-container {            
            .contactus-right-container{
                padding-top: 0px;

                &.col-md-offset-2{
                    margin-left: 0;
                }
                &.col-md-10 {
                    width: 100%;
                }
                .contact-info {                
                    margin-right: 0;
                    margin-left: 0;
                    padding-left: 15px;
                    padding-right: 15px;

                    &.col-md-11  {
                        width: 100%;
                    }

                    .contact-info-bar {
                        background: $juniorBlueBg;
                        transform: skew(0deg);  
                        margin-left: 0;
                        border-bottom: 8px solid $juniorNavyBlue;                   
                        ul {
                            padding: 11px 10px 11px 72px;
                            transform: skew(0deg);
                            width: 73%;
                            li {
                                padding: 0 24px;
                                p {
                                    @include font($fontP9, 21px, 1.14, $white, 0.5px);
                                    margin-bottom: 3px;
                                }
                                .contact-detail-text {
                                    @include font($fontP5, 16px, 1.88, $white, 0.5px);
                                    span.sw-icon {
                                        margin-right: 11px;
                                    }
                                    &.email-text {
                                        padding-top: 6px;
                                        font-size: 16px;
                                    }
                                }
                                .info-text {
                                    margin-left: 23px;   
                                    margin-top: 0;
                                    line-height: 1.4;                             
                                }
                            }                  
                        }            
                    }

                    .contact-info-text {                         
                        margin-top: 39px;
                        padding-left: 0 ;
                        padding-right: 0;
                        margin-left: 97px;
                        max-width: 900px;
                        p{
                            @include font($fontP4, 17px, 1.29, $black, 0.5px);
                            margin-bottom: 24px;
                            a {
                                color: $juniorBlueBg;
                                border-bottom: 1px solid $juniorBlueBg;
                            }
                        }
                    }
                
                }
                .contact-form-questions {
                        margin-top: 44px;
                        margin-left: 96px;

                        .question-row {
                            margin-bottom: 38px;
                            .sl-no {
                                width: 39px;
                                height: 39px;
                                background: $juniorNavyBlue;
                                transform: skew(0deg);
                                @include font($fontPA9, 20px, 1.1, $white, 0.5px);
                                padding: 9px 0;
                                margin-left: 15px;
                                border-radius: 36px;
                                span {
                                    transform: skew(5deg);
                                }
                            }
                            .question-container {
                                p {
                                    @include font($fontP5, 22px, 1.09, $black, 0.5px);
                                    margin-bottom: 22px;
                                }
                                label {
                                    margin-bottom:10px;
                                    @include font($fontP4, 17px, 1.29, $black, 0.5px);
                                }
                                select {
                                    border: 1.2px solid $juniorSelectGreyBorder;
                                    @include font($fontP4, 17px, 1.29, $black, 0.5px);
                                    background: $juniorGreyBg1 url("../../../images/icons/junior-contact-dropdown-arrow.png") no-repeat;
                                    background-position: right 13px center;
                                }
                            }
                        }
                        .contact-form-container {
                            margin-bottom: 81px;
                            .contact-form {
                                padding-right: 109px;
                                padding-left: 92px;

                                .contact-form-row {
                                    margin-bottom: 21px;
                                    label {
                                        @include font($fontP4, 17px, 1.29, $black, 0.5px);
                                    }
                                    input[type="text"], input[type="email"], select, textarea {
                                        background: $juniorGreyBg;
                                        border: 1.2px solid $juniorGreyBorder;
                                        @include font($fontP4, 17px, 1.29, $black, 0.5px);
                                    }
                                    select {
                                        border: 1.2px solid $juniorSelectGreyBorder1;
                                        background: $juniorGreyBg2 url("../../../images/icons/junior-contact-dropdown-arrow.png") no-repeat;
                                        background-position: right 13px center;
                                    }      
                                }

                                .required-text {
                                    @include font($fontP4, 17px, 1.29, $black, 0.5px);
                                    margin-bottom: 31px;
                                    margin-top: 2px;
                                }
                                .contact-submit-btn {
                                    background: $juniorButtonGreen;
                                    @include font($fontPE4, 14px, 1.43, $black, 0.3px);
                                    margin-bottom: 81px;
                                }
                            }

                            .contact-form{
                                &.col-md-6.padL14 {
                                    padding-left: 14px;
                                }
                                .contact-form-row .alert-success{
                                    margin-left: -18px;
                                }
                            }
                            .contact-form-image {
                                padding-left: 10px;
                                display: none;
                            }
                        }
                     
                }
                
            
            }
        }
    }

    .alert-success {
        @include font($fontN5, 16px, 1.33, $contactAlertSuccessGreen, 1.2px);
        margin: 20px 10px 0 0;
    }
    .alert-danger {
        @include font($fontN5, 16px, 1.33, $contactAlertSuccessGreen, 1.2px);
        margin: 20px 10px 0 0;
    }

}