.tab-component-layout {
  .nav-tabs{
  li{
    margin-bottom: 0;
  }
}
 .main-tabs {
 	border-bottom: 4px solid $upfrontInactiveSortColor;
 	padding-left: 38px;
 	li.active {
 		 a,a:hover,a:focus,a:after,a:before{
 		    background-color: $upfrontInactiveSortColor;
 		  }
 		  a:after{
 		  	border-top-right-radius: 8px;
 		  }
 		  a:before{
            border-top-left-radius: 8px;
  		  }
  		  a{
  		  	span.tab-names{
  		  		@include font($fontSL7, 14px, 1, $white, 1px);
  		  	}
  		  }
 	   }
 	li{
       
 		   a,a:hover,a:focus,a:before,a:after{
       background-color:$upfrontIaggregatorBackground; 
       margin-bottom: 0;
 		}
 		a{
  		  	span.tab-names{
  		     @include font($fontSL7, 14px, 1, $inActiveTabFontColor, 1px);
  		  	}
  		  }
 		 a:after{
 		  	border-top-right-radius: 8px;
 		  }
 		  a:before{
            border-top-left-radius: 8px;
  		  }
 	}
 }
}
