.textHyperlink-container {
    .textHyperlink-hash-container {
        .textHyperlink-hash-content {
            display:none;
        }
    }
    .textHyperlink-wrapper {
        .textHyperlink-text {
            @include font($fontC6, 28px, 1.14, $gray);
        }       
    }
}

.pastIssueGrid-main-container {
    background-color: $mathExploreBarGrey;
    margin-top: 12px;
    &.container{
        max-width:1162px;
    }
    .pastIssueGrid-main-content {
        .issue-container {
            .issue-date {
                @include font($fontC7, 14px, 1.43, $white, 1.1px);
                background-color: $issueDateBgColor;
                width: 180px;
                margin-left: 25px;
                margin-top: 14px; 
            }
            .issue-cover {
                &img {
                    max-width: 233px;
                }
            }
        }
    }
}

.pagination-directive-wrapper {
    .paginationBottom {
        ul {
            li {
                a{
                    @include font($fontC7, 15px, 1, $contentTileSubjectBlue, 1px);
                    &:hover, &:active, &:focus{
                        @include font($fontC7, 15px, 1, $contentTileSubjectBlue, 1px);
                    }
                }
                select{
                    background: $mathContactUSSelectColor url("/etc/designs/scholastic/classroom-magazines-migration/math/images/dropdown-arrows.png") no-repeat;
                    background-position: right 5px center;
                    border: solid 1px $mathArticleToolbarDropdownBorder;
                }
            }
        }  
    }
}