.error-page-wrapper {
	.error-page {
		.error-page-container {
			.error-page-content {
				h2 {
					font-family: 'GeometricSlab703BT-XtraMedium';
				}

				p {
					font-family: 'GeometricSlab703BT-XtraMedium';
				}

				.error-btn {
					font-family: 'GeometricSlab703BT-XtraBold';
				}
			}
		}
	}
}
