.globalFooter-main-container {
    .globalFooter-content  {
        background-color: $sn4ContentTileBorder;
        
        .footerContentWrapper {
            .footerTitle {
                @include font($fontSL7, 15px, 1, $white, normal);
                border-bottom: 1px solid $sn4GlobalFooterBorderBlue2;
                
                &.footerTitleSocialIcon {
                    border-bottom-width: 1px;
                    padding-bottom: 9px;
                    margin-bottom: 10px;
                }
            }
            
            .footerPhoneNo {
                .phonelink {
                    @include font($fontSL5, 13px, 2.31, $white, 0.4px);
                }
            }
            
            .footerlinks {
                p {
                    @include font($fontSL5, 13px, 2, $white, normal);
                }
                a {
                    @include font($fontSL5, 13px, 2, $white);
                    letter-spacing: normal;
                }
            }
            .footer-socialIcons {
                span {
                    margin-right: 5px;
                }
            }
        }
        
        .globalFooter-bottom {
            background-color: $sn4GlobalFooterLogoBackground;
            
            .scholastic-logo {
                margin-bottom: 8.1px;
            }
            
            .links {
                padding-right: 48px;
                
                a {
                    @include font($fontSL5, 10px, null, $sn4FaqAnsQuestion, 0.3px);
                    line-height: normal;
                }
            }
            
            .keep-right {
                margin-top: 10px;
            }
            
            .desc {
                @include font($fontSL4, 10px, 1.4, $sn4RightsReservedGrey, 0.3px);
            }
        }
    }
}