.voting-component-main-wrapper {
  .student-voting-poll-view,
  .teacher-voting-poll-view {

    .student-view-title,
    .teacher-view-title {
      font-family:"Canaro-Bold";
      background-color:$mathvotingTitle;
     
    }

    .voting-poll-content {
      
      .student-view-question,
      .teacher-view-question {
        font-family:"BasicCommercialLTCom-Roman";

      }

      .student-view-answer,
      .teacher-view-answer {

        .submit-button {
          .voting-poll-button {
            background-color:$mathSearchButtonBlue;
             font-family: "Canaro-Bold";
          }
        }

      }

      .after-voting-success-content {
        font-family:"Canaro-Book";
      }

      .after-voting-ended-content {
        font-family:"Canaro-Book";
      }

      
      .student-poll-results,
      .teacher-poll-results {
        .poll-results-title {
         font-family: "Canaro-Medium";
        }
  
      }
    }

    .voting-show-results-btn {
      a {
      
        background-color:$mathVotingSeeResults;
        font-family:"Canaro-Bold";
       
      }
    }
  }

  .student-voting-poll-view {
    .voting-poll-content {
      .student-view-answer {
       
        .field-error-text {
          font-family:"BasicCommercialLTCom-Roman";
        }

        .label-text {
          font-family:"BasicCommercialLTCom-Roman"; 
        }
      }
    }
  }

  .teacher-voting-poll-view {
    .voting-poll-content {
      .teacher-view-answer {
       
        .field-error-text {
          font-family:"BasicCommercialLTCom-Roman";
        }

        .label-text {
            font-family:"BasicCommercialLTCom-Roman";
        }
      }
    }
  }
}
