.content-tile-body{
	.content-module{
		 .content-module-container{
		 	.content-wrapper{
		 	@include border-radius-separate(6px, 6px, 0, 0);  
			  .content-one-up{
				   .img-container{
				   		@include border-radius-separate(6px, 6px, 0, 0);  
						   img{
							@include border-radius-separate(6px, 6px, 0, 0);  
						   }
				   }
			  }
			 }
		  }
	  }
  }

.content-module {
    .content-module-container {
        &.game-container-bg {
            border-radius: 8px;
            border: 2px solid $superScienceBorderGrey;
        }
        
        .content-wrapper {
            border-radius: 8px;
            background-color: $ssGameComponentBg;
            
            img {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
            
            .rteContent {
                @include font($fontS6, 16px, 1.5, $black, 0.5px);
                font-weight: 900;
            }
            
            div[ng-bind-html=containerGameDesc] {
                @include font($fontS4, 14px, 1.29, $black, 0.5px);
                padding-bottom: 24px;
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) { 
    .content-tile-body .content-module .content-module-container .content-wrapper .content-one-up .img-container img {
        height: 141.8px;
    }

    
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) { 
    .content-tile-body .content-module .content-module-container .content-wrapper .content-one-up .img-container img{
        height: 146.29px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) { 
    .content-tile-body .content-module .content-module-container .content-wrapper .content-one-up .img-container img {
        height: 153.09px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) { 
    .content-tile-body .content-module .content-module-container .content-wrapper .content-one-up .img-container img {
        height: 170.18px;
    }
}

@media only screen and (min-width: 1366px) { 
    .image-container-resource {
        height: 180px;
    }
}
@include respond-to('1440px'){
   
   .content-tile-body{
	.content-module{
		 .content-module-container{
		 	.content-wrapper{

			  .content-one-up{
				   .img-container{
				   		width: 100%;
		 				height: auto;
						   img{
							width: 100%;
							height: 100%;  
						   }
				   }
			  }
			 }
		  }
	  }
  }
}

