<div data-sly-test.placeholder="${!wcmmode.disabled}">
Contact Us Form</div>

<div class="contact-form-questions" 
	data-recipient="${properties.recipient}" 
	data-form-submit="${currentPage.path}.contactussubmit.html" 
	data-subtopics-endpoint="${currentPage.path}.subtopics.html">

	<form name="contactForm" novalidate role="form" 
			ng-submit="contactForm.$valid && submitContactForm()">
	<input type="hidden" value="${currentPage.path}.contactussubmit.html" name="form-submit" ng-model="currentPagePath" ng-init="currentPagePath = '${currentPage.path}.contactussubmit.html'"/>
	<input type="hidden" value="${currentPage.path}.subtopics.html" name="form-subtopics" ng-model="currentRadioPagePath" ng-init="currentRadioPagePath = '${currentPage.path}.subtopics.html'"/>
		<div class="question-row row">
			<div class="sl-no col-md-1"><span>1</span></div>
			<div class="question-container col-md-11">
				<p>${properties.step1Title}</p>
				<div data-sly-resource="${'topics' @ resourceType='scholastic/classroom-magazines-migration/components/content/contact-us-topics'}"></div>
			</div>
		</div>
		<div class="question-row row">
			<div class="sl-no col-md-1"><span>2</span></div>
			<div class="question-container col-md-11">
				<p>${properties.step2Title}</p>
				<label class="select-issue" for="shipping">Select an issue:</label> 
				<select name="issue"  ng-model="issueData" ng-init="issueOptionsDisabled=true" ng-disabled="issueOptionsDisabled">
					<option selected="selected" value="">-Please Select-</option>
                    <option ng-repeat="questions in dropdownOptions" value="{{questions.subTopicTitle}}">{{questions.subTopicTitle}}</option>
				</select>
			</div>
		</div>
		<div class="question-row row">
			<div class="sl-no col-md-1"><span>3</span></div>
			<div class="question-container col-md-11">
				<p>${properties.step3Title}</p>
				
				<label for="contactEmail">
					<input id="contactEmail" type="radio" ng-model="contactCheck" radiogroup="contact" name="contact" value="cEmail" ng-checked="true" ng-init="isEmailChecked=true"  ng-click="isEmailChecked=true"  checked="checked">
				<span
					class="sw-icon radio-unchecked-icon"  ng-class="{'checked': isEmailChecked==true}"></span><span class="radio-text">Email</span>
				</label> 
				
				<label for="phone">
					<input id="phone" type="radio" ng-model="contactCheck" radiogroup="contact" name="contact" value="cPhone" ng-click="isEmailChecked=false"> <span class="sw-icon radio-unchecked-icon" ng-class="{'checked': isEmailChecked!=true}"></span>
					<span class="radio-text">Phone</span>
				</label>

                                    
			</div>
		</div>
		<div class="contact-form-container row"	ng-hide="contactCheck == 'cPhone'">
			<div class="contact-form col-md-6">
				<div class="contact-form-row">
                    <label>*Name:</label>
                    <input type="text" ng-class="{'error-input': (contactForm.$submitted && contactForm.name.$pristine) || (contactForm.name.$invalid && contactForm.name.$touched)}" ng-model="contactUsData.contactDetails.name" name="name" ng-required="true" />
                    <p class="field-error-text" ng-class="{'field-error-text-visible': (contactForm.$submitted && contactForm.name.$pristine) || (contactForm.name.$touched && contactForm.name.$invalid)}">This field is required</p>
                </div>
                <div class="contact-form-row">
                    <label>*Email:</label>
                    <input type="text" ng-model="contactUsData.contactDetails.email" name="email" ng-class="{'error-input': (contactForm.$submitted && contactForm.email.$pristine) || (contactForm.email.$invalid && contactForm.email.$touched) || (contactForm.email.$error.pattern)}" ng-pattern="/^[\u00C0-\u1FFF\u2C00-\uD7FF\w._%+-]+@[\u00C0-\u1FFF\u2C00-\uD7FF\w.-]+\.[\u00C0-\u1FFF\u2C00-\uD7FF\w]{2,4}$/" ng-required="true" />                                        
                    <p  class="field-error-text" ng-class="{'field-error-text-visible': (contactForm.$submitted && contactForm.email.$pristine) || (contactForm.email.$touched && contactForm.email.$invalid && !contactForm.email.$error.pattern)}">This field is required</p>
                    <p class="field-error-text" ng-class="{'field-error-text-visible': contactForm.email.$error.pattern}">Please enter a valid email id</p>
                </div>
				
				<div class="contact-form-row">
                    <label>*School Name:</label>
                    <input type="text" ng-class="{'error-input': (contactForm.$submitted && contactForm.schoolName.$pristine) || (contactForm.schoolName.$invalid && contactForm.schoolName.$touched)}" ng-model="contactUsData.contactDetails.schoolName" name="schoolName" ng-required="true" />
                    <p class="field-error-text" ng-class="{'field-error-text-visible': (contactForm.$submitted && contactForm.schoolName.$pristine) || (contactForm.schoolName.$touched && contactForm.schoolName.$invalid)}">This field is required</p>
                </div>

                <div class="contact-form-row">
                    <label>*School State:</label>
                    <div data-sly-test="${properties.stateInputType == 'textinput'}">
                    <input type="text" ng-class="{'error-input' : (contactForm.$submitted && contactForm.schoolState.$pristine) || (contactForm.schoolState.$invalid && contactForm.schoolState.$touched)}" ng-model="contactUsData.contactDetails.schoolState" name="schoolState" ng-required="true" />
                    </div>
                    <div data-sly-test="${properties.stateInputType == 'select'}">
					<select  ng-class="{'error-input' : (contactForm.$submitted && contactForm.schoolState.$pristine) || (contactForm.schoolState.$invalid && contactForm.schoolState.$touched)}" ng-model="contactUsData.contactDetails.schoolState" name="schoolState" ng-required="true">
						<option ng-selected="true" value="">-Please Select-</option>
						<div  data-sly-use.ds="${'com.scholastic.classmags.migration.controllers.GenericListRenderer' @ listpath=properties.statesPath}" data-sly-list.list="${ds.values}" data-sly-unwrap> 
							<option value="${list.value}">${list.title} </option>
						</div>
					</select>
					</div>
                    <p  class="field-error-text" ng-class="{'field-error-text-visible': (contactForm.$submitted && contactForm.schoolState.$pristine) || (contactForm.schoolState.$invalid && contactForm.schoolState.$touched)}">This field is required</p>
                </div>				

				<div class="contact-form-row">
                    <label>Grade Taught:</label>
                    <div data-sly-test="${properties.gradesInputType == 'textinput'}">
                    <input type="text" ng-model="contactUsData.contactDetails.grade" name="grade" />
                    </div>
                    <div data-sly-test="${properties.gradesInputType == 'select'}">
                    <select name="grade" ng-model="contactUsData.contactDetails.grade"> 
                    	 <option ng-selected="true" value="">-Please Select-</option>
                    	 <div data-sly-use.ds="${'com.scholastic.classmags.migration.controllers.GenericListRenderer' @ listpath=properties.gradesPath}" data-sly-list.list="${ds.values}" data-sly-unwrap>
                         <option value="${list.value}">${list.title} </option>
                         </div>                                      
                    </select>
                    </div>
                </div>

				<div class="contact-form-row marB0">
                    <label>Message:</label>
                    <textarea name="message" ng-model="contactUsData.contactDetails.message"></textarea>
                </div>
                <p class="required-text">*Required fields</p>
				
				<button ng-hide="contactFormHide" class="contact-submit-btn" type="submit" name="contact-submit">SUBMIT</button>
				
			</div>


			<div data-sly-test="${properties.fileReference}" class="contact-form-image col-md-6 pull-right">
				<sw-image src="${properties.fileReference}"
					alt="email the editor image" height="540px" width="555px"></sw-image>
			</div>

		</div>

		
                    <div class="contact-form-container row" ng-hide="contactCheck != 'cPhone'">
                    <div class="contact-form col-md-6 padL14">
				<div class="contact-form-row alert alert-success" role="alert">
				<p>Please call us at 1-800-343-234 so we can address your issue</p>
                    </div>
                    </div>
            </div>
            <sw-back-to-top></sw-back-to-top>
	</form>
</div>
