<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Configure Hero Banner component</div>
<div class="ng-cloak">
    <div class="container-fluid marketing-app-hero-banner">
        <div class="row app-banner-component">
            <img class="app-banner-image hidden-xs hidden-sm hidden-md" src="${properties.fileReference}" />
            <img class="app-banner-image visible-xs visible-sm visible-md" src="${properties.mobileImageHeroBanner}" />
            <!--Any changes made here needs to be added to next div.app-banner-content, as that is a place-holder-->
            <div class="app-banner-content">
                <div class="col-xs-12 jnr_schl_desc">
                    <div class="col-md-4 hidden-xs hidden-sm hidden-md app-banner-content-image">
                        <a href="javascript:void(0);" onclick="reader.open()" target="_blank" ><img class="app-banner-issue-image" src="${properties.issueImage}" /></a>
                    </div>
                    <div class="col-xs-12 col-lg-8 pad0 app-banner-details">
                        <div class="banner-title">${properties.title}</div>
                        <div class="banner-desc">${properties.descriptionTitle}</div>
                        <div class="button-container">
                            <a href="${properties.buttonLink @ context = 'uri'}" data-sly-test="${properties.buttonTitle}" target="_blank" class="primary-button">${properties.buttonTitle}</a>
                            <div class="app-login">
                                <span>${properties.rteFieldTextBelowButton @ context= 'html'}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-banner-content place-holder">
                <div class="col-xs-12">
                    <div class="col-md-4 hidden-xs hidden-sm hidden-md app-banner-content-image">
                        <img class="app-banner-issue-image" src="${properties.issueImage}" />
                    </div>
                    <div class="col-xs-12 col-lg-8 pad0 app-banner-details">
                        <div class="banner-title">${properties.title}</div>
                        <div class="banner-desc">${properties.descriptionTitle}</div>
                        <div class="button-container">
                            <a href="${properties.buttonLink @ context = 'uri'}" data-sly-test="${properties.buttonTitle}" target="_blank" class="primary-button">${properties.buttonTitle}</a>
                            <div class="app-login">
                                <span>${properties.rteFieldTextBelowButton @ context= 'html'}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 arrow-image hidden-xs"></div>
        </div>
    </div>
</div>
