.globalFooter-main-container {
   .globalFooter-content {
        background-color: $dynamathFooterBackgroundGreen;

        .row {
            padding: 31px 0 42px 41px;
        }

        .footerContentWrapper {
            .footerTitle  {
                @include font($fontPE4, 15px, 1, $white, normal);
                padding-bottom: 7px;
                border-bottom: 1px solid $dynamathFooterBorder;

                &.footerTitleSocialIcon {
                    margin-bottom: 10px;
                }
            }

            .footerPhoneNo {
                margin-top: 5px;

                .phonelink {
                    @include font($fontP5, 13px, 2.31, $white, 0.4px);
                }
            }

            .footerlinks {
                a {
                    @include font($fontP5, 13px, 2, $white, normal);
                }

                p {
                    margin-top: 1px;

                    &:first-child {
                        margin-top: 7px;
                    }
                }

                &.phoneNumber {
                    p {
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }

            .footer-socialIcons {
                span {
                    margin-right: 6px;
                }
            }
        }

        .globalFooter-bottom {
            background-color: $whitegrey;
            padding-right: 56px;

            .links {
                padding-right: 40px;

                a {
                    @include font($fontP7, 10px, null, $dynamathFooterLinkText, 0.3px);
                    line-height: normal;
                }
            }

            .keep-right {
                margin-top: 10px;
            }

            .desc {            
                @include font($fontP5, 10px, 1.4, $liteGray2, 0.3px);
            }

            .scholastic-logo {
                margin-bottom: 8.1px;
            }
        }
    }
}



