.bookmarks-main-container {
    margin-top: 18px;

    .bookmarks-main-content {
        .bookmarks-header {
            .title-container {
                @include font($fontS7, 32px, 1.25, $black, 1px);
            }

            .title-count {
                margin-left: 20px;
            }

            .bookmarks-content {
                .sort-by-wrapper {
                    margin-top: 3px;

                    .sort-by-text {
                        padding-left: 10px;
                        margin-right: 20px;
                    }
                }

                span {
                    padding-left: 16px;

                    &:last-child {
                        margin-right: 25px;
                    }
                }
            }
        }

        .articles-resources-issues-container {
            margin-top: 26px;

            .tab-content {
                padding-top: 34px;

                .tab-pane {
                    .filter-section-container {
                        .bookmarks-facets {
                            padding-left: 40px;
                            margin-left: 0;
                        }

                        .filter-category-section {
                            padding-top: 27px;

                            &.filter-reset-section {
                                padding-top: 28px;
                                padding-bottom: 0;

                                .filter-category-items-container {
                                    ul {
                                        .filter-category-item {
                                            @include font($font09, 13px, 1.08, $contentTileSubjectBlue, 0.5px);
                                            margin-bottom: 27px;
                                            padding-bottom: 6px;

                                            span {
                                                left: 23px;
                                                top: 2px;

                                                &.refresh {
                                                    top: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .filter-category-items-container {
                                .filter-category-item {
                                    padding-top: 12px;
                                    padding-bottom: 5px;
                                    margin-bottom: 24px;
                                }
                            }
                        }
                    }

                    .bookmarks-section {
                        padding-left: 14.97px;
                        padding-right: 30px;
                    }
                }
            }

            .articles-resources-issues-tabs {
                ul {
                    border-bottom: 4px solid $resourcesColor;

                    li {
                        background-color: $tabComponentGreyBackground;

                        &:before {
                            background-color: $tabComponentGreyBackground;
                            border-top-left-radius: 9px;
                        }

                        &:after {
                            background-color: $tabComponentGreyBackground;
                            border-top-right-radius: 9px;
                        }

                        a {
                            @include font($font07, 12px, 1.17, $black, 1px);
                            margin-top: 3px;
                        }

                        &.active {
                            background-color: $resourcesColor;

                            a {
                                @include font($font07, 12px, 1.17, $white, 1px);
                            }

                            &:after {
                                background-color: $resourcesColor;
                            }

                            &:before {
                                background-color: $resourcesColor;
                            }
                        }
                    }
                }
            }
        }
    }

    .content-tile-container {
        .bookmark-header {
            .row:nth-child(2) {
                div:first-child {
                    padding-right: 0;
                }
            }
        }
    }

    .pagination-directive-wrapper {
        .paginationBottom {
            margin-top: 31px;
        }
    }
}
