.article-toolbar-layout {
    .article-toolbar {
        width: 210px;
        height: auto;
        z-index: 999;
        margin-left: 25px;
        background-color: $white;
        border: solid 1px $liteAsh9;
        padding-bottom: 7px;

        .toolbar-sec-2 {
            padding-top: 9px;
            padding-bottom: 7px;
            padding-left: 20px;
        }

        .toolbar-sec-3 {
            padding-bottom: 7px;
        }

        .toolbar-sec-3,
        .toolbar-sec-4,
        .toolbar-sec-5 {
            padding-left: 20px;
        }

        a {
            text-decoration: none;
        }

        .icon-text-container {
            border-bottom: 1px solid $liteAsh9;
            padding-bottom: 20px;
        }

        .icon-text {
            padding-top: 20px;
            padding-left: 20px;
        }

        .go-back-to-issues {
            /*border-top: 1px solid $liteAsh9;*/
            padding-left: 20px;
            padding-top: 9px;
            /*margin-top: 20px;*/
        }

        .open-flip-book {
            border-top: 1px solid $liteAsh9;
            border-bottom: 1px solid $liteAsh9;
        }

        .jump-to-block {
            border-bottom: 1px solid $liteAsh9;
        }

        .drop-down-sec {
            border-bottom: 1px solid $liteAsh9;
        }

        .menu-list {
            &:last-child {
                border-bottom: none;
            }

            .icon-bar {
                padding-top: 19px;
                padding-bottom: 19px;

                .list-icons {
                    margin-left: 0;
                }

                ul {
                    padding-left: 26px;
                    margin-bottom: 0;

                    li {
                        padding-left: 27px;
                    }
                }
            }

            .sw-icon {
                display: inline-block;
                vertical-align: middle;
            }

            .toolbar-sec-4,
            .toolbar-sec-5 {
                padding-right: 20px;
            }

            .drop-down {
                width: 100%;
                height: 30px;
                border: solid 1px $liteAsh9;
                @include font($font07, 13px, 1.2, $black, 0.5px);
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: $liteAsh10 url('../../../images/icons/sw-dropdown-arrow.png') no-repeat;
                background-position: right 10px center;
                padding: 0 20px 0 10px;

                &:disabled {
                    background: $liteAsh10;
                }
            }

            select.drop-down::-ms-expand {
                /* for IE 11 */
                display: none;
            }

            .icon-description {
                @include font($font04, 13px, 1.38, $black, 0.5px);
                display: inline-block;
                padding-left: 9px;
                margin: 0;
            }

            .icon-des-teaching-resources {
                padding-bottom: 0;
            }

            .icon-des-videos {
                padding-bottom: 14px;
            }

            .title {
                @include font($font09, 11px, 1.45, $black, 0.8px);
                text-align: center;
            }

            .title-jump-to {
                margin: 0;
                padding-top: 14px;
                padding-bottom: 7px;
            }

            .title-language {
                padding-top: 10px;
                padding-bottom: 7px;
                margin: 0;
            }

            .title-lexile-level {
                padding-top: 15px;
                padding-bottom: 7px;
                margin: 0;
            }

            .lexile-level-drop-down {
                padding-bottom: 14px;
            }

            .icon-image {
                width: 22px;
                height: 20px;
            }
        }

        &.position-fixed {
            position: fixed;
            top: 20px;
        }
    }
}
