.article-title-layout {
    .article-title-heading {
        @include font($fontC9, 34px, 1.18, $black, normal);
    }
    .article-title-dek{
        @include font($fontP5, 22px, 1.09, $black, normal);
    }
    .sub-title{
        @include font($fontP7, 20px, null, $contentTileSubjectRed, normal);
        line-height:normal;        
    }

}
