.textHyperlink-container {
    .textHyperlink-hash-container {
        .textHyperlink-hash-content {
            display: none;
        }
    }

    .textHyperlink-wrapper {
        height: auto;
        background: transparent;

        .textHyperlink-text {
            @include font($fontP9, 28px, 1.14, $gray, -1px);
            padding: 0 18px 4px 40px;
            text-transform: uppercase;
            position: initial;
            float: left;
            background: transparent;
        }

        .textHyperlink-link {
            @include font($fontPE4, 14px, 1, $titleHyperlinkColor, 0.5px);
            position: initial;
            border-left: 2px solid $liteAsh2;
            height: 30px;
            padding-left: 24px;
            padding-top: 9px;
            display: block;
            transform: none;
            float: left !important; //Important is used to override pull-right style

            .icon {
                &.icon-right {
                    position: relative;
                    top: 2px;
                    margin-left: 10px;
                }
            }
        }
    }
}
