.cm-migration-image-container {
    .image-popup-image-layout {
        .image-popup-image-container {
            /*background-color: $bodyGrey;*/
            border: solid 2px $issueHighTitleborderGrey;
            @include radius(8px);

            img {
                @include border-radius-separate(6px, 6px, 0, 0);
            }

            .caption-section {
                .img-popup-credits {
                    margin-bottom: 6.5px;
                }

                .img-popup-caption {
                    @include font($font04, 14px, 1.29, $black, 0.5px);
                    margin-top: 6.5px;
                    padding-bottom: 15px;
                }
            }

            &.cm-migration-image-bottom-radius {
                img {
                    @include border-radius-separate(6px, 6px, 6px, 6px);
                }
            }
        }

        .popup-modal-image-container {
            .image-popup-content {
                .article-hero-modal-image {
                    img {
                        @include border-radius-separate(0, 0, 0, 0);
                    }
                }
            }
        }
    }
}
