<div class="textHyperlink-container-content">
    <sw-image ng-if="imageUrl" src="{{imageUrl}}" alt="Flexible Title Hyperlink image" height="auto" width="auto"></sw-image>
    <div class="textHyperlink-container-wrapper {{titlePosition}}">
        <div class="textHyperlink-wrapper">
            <h2 class="textHyperlink-text" ng-style="{'color' : color, 'font-size': titleFontSize+'px', 'background-color' : backgroundColor}" ng-bind-html="title">{{title}}<span class="textHyperlink-count" ng-if="recordsCount">({{recordsCount}})</span></h2>
        </div>
        <a href="{{hyperLinkUrl}}" class="textHyperlink-link pull-right" ng-if="hyperLinkText">{{hyperLinkText}}<span class="icon sw-icon icon-right right-arrow"></span></a>
    </div>
</div>
