.junior-content-tile-container {
    $borderColor: $contentTileBorderGray;
    $backgroundColor: $white;
    max-width: 325px;

    .row {
        margin: 0;
        padding: 0;
    }

    .content-tile-body {
        height: 400px;
        border: 1px solid $borderColor;
        background: $backgroundColor;
        position: relative;

        .lesson-plan {
            background-color: $contentTileActivityYellow;
        }

        .game {
            background-color: $contentTileGameOrange;
        }

        .slideshow {
            background-color: $contentTileSlideshowViolet;
        }

        .activity {
            background-color: $contentTileLessonPlanGreen;
        }

        .skills-sheet {
            background-color: $contentTileSkillSheetGray;
        }

        .title-class .title {            
            @include font($fontC9, 22px, 0.95, $black, normal);
        }
    }

    .content-info {
        border: 1px solid $borderColor;
        border-top: none;
        height: 220px;
    }

    p {
        margin: 0;
    }

    .content-hub-header {
        border-bottom: 4px solid $contentHeaderBorderBlue;
        height: 50px;
        background-color: $tabBgBlue;
        padding: 18px 0 18px 20px;
    }

    .bookmark-header {
        height: 50px;
        background-color: $tabBgBlue;
        border-bottom: 4px solid $contentHeaderBorderBlue;

        .bookmark-title {
            @include font($fontPE4, 16px, 0.81, $white, normal);
            padding-top: 9px;
            text-transform: uppercase;
        }

        .bookmark-date {
            @include font($fontP5, 10px, 1.2, $liteAsh6, normal);
            padding-top: 5px;
        }

        .bookmark-type {
            @include font($fontP5, 10px, 1.2, $liteAsh6, normal);
            padding-top: 5px;
            float: right;
        }
    }

    .content-date {
        @include font($fontPE4, 16px, 0.81, $white, normal);
        text-transform: uppercase;
    }

    .title {
        padding: 10px 20px 7px;
        @include font($fontP7, 16px, 1.5, $black, normal);
        max-height: 80px;
        text-decoration: none;
        display: block;
    }

    .subject {
        background: $contentTileSubjectRed;
        margin: 13px 20px 0 20px;
        padding: 6px;
        display: inline-block;
        max-height: 26px;
        @include font($fontPA9, 14px, 1.14, $white, normal);
    }

    .description {
        max-height: 48px;
        padding: 0 20px;
        @include font($fontP4, 17px, 1.29, $black, normal);
    }

    .icons-row {
        position: absolute;
        bottom: 15px;
        width: 100%;
        min-height: 32px;

        .sw-icon,
        .view-article-link {
            display: inline-block;
            vertical-align: middle;
        }

        .sw-icon {
            margin-left: 7px;
        }

        .view-article-link {
            @include font($fontP7, 14px, 1, $tabBgBlue, normal);
            padding-right: 20px;
            padding-top: 10px;
            float: right;

            a {
                &:active,
                &:focus,
                &:hover,
                &:visited {
                    color: $tabBgBlue;
                    text-decoration: none;
                }
            }
        }
    }

    .image-container {
        max-width: 325px;
        height: 180px;
        text-align: center;
        position: relative;
        background-color: $lightGray3;

        .content-image {
            max-width: 100%;
            max-height: 180px;
            @include center-both;
        }
    }

    .image-container-resource {
        max-width: 298.8px;
        height: 164.9px;
        text-align: center;
        position: relative;
        margin: 17.1px 17.1px 0;
        overflow: hidden;
        background-color: $lightGray3;

        .content-image {
            width: auto;
            height: auto;
            max-width: 98%;
            @include shadow(rgba(0, 0, 0, 0.5), 0 3px 7px 0);
        }
    }

    .resource-wrapper {
        background-color: $lightGray3;
    }

    .video-play-icon {
        @include center-both;
    }

    .video-time-frame {
        position: absolute;
        background-color: $black;
        bottom: 0.25px;
        right: 0;
        @include font($font7, 11px, 1.27, $white, 1px);
        width: 50px;
        height: 20px;
        padding: 3px 10.5px;
    }

    @include respond-to ('large') {
        .description {
            max-height: 72px;
        }
    }

}

.junior-content-tile-container-horizontal {
    $borderColor: #efefef;
    $backgroundColor: #ffffff;
    height: 300px;
    background-color: $backgroundColor;
    border: 1px solid $borderColor;
    max-width: 440px;

    .padding-content {
        padding: 20px 20px 20px 0;
        height: 295px;
    }

    .title {
        padding-left: 10px;
        @include font($fontC9, 18px, 1.06, $black, normal);        
        text-decoration: none;
        display: block;
        height: 40px;
    }

    .subject {
        background: $contentTileSubjectRed;
        margin-left: 10px;
        padding: 6px;
        display: inline-block;
        @include font($fontPA9, 14px, 1.14, $white, normal);
        max-height: 40px;
    }

    .display-date {
        margin: 0 0 0 10px;
        @include font($font5, 10px, 1.4, $black, 0.3px);
        margin-bottom: 7px;
    }

    .description {
        max-height: 120px;
        padding: 0 0 0 10px;
        @include font($fontP4, 17px, 1.29, $black, normal);
    }

    .row {
        margin: 0;
        padding: 0;
    }

    .padding-image {
        padding: 20px 0 20px 20px;
    }

    .image-container {
        max-width: 190px;
        height: 260px;
        text-align: center;
        position: relative;
        background-color: $lightGray3;

        .content-image {
            max-width: 100%;
            max-height: 260px;
            @include center-both;
        }
    }

    .icons-row {
        position: absolute;
        bottom: 15px;
        width: 100%;

        .sw-icon,
        .view-article-link {
            display: inline-block;
            vertical-align: middle;
        }

        .sw-icon {
            height: 32px;
            width: 32px;
            margin-left: 10px;
        }

        .sw-icon:first-child {
            margin-left: 5px;
        }
    }
}

.contenthub-bookmark .content-tile-body {
    border-top: 0;
}