.textHyperlink-container-content {
  .enablePadding {
    .textHyperlink-container-wrapper {
      .text-link-connector {
        background-image: radial-gradient($borderColor 38%, transparent 45%);
        background-size: 13px 13px;
        background-position: 0 0;
        background-repeat: repeat-x;
        margin-left: 4px;
      }

      .textHyperlink-text {
        padding: 9px 12px 9px 0;
      }
    }
  }
}

.question-set-faq {
  &:last-child {
    .questions-set {
      padding-bottom: 30px;
    }
  }
}

.questions-set {
  padding-bottom: 42px;

  .subject-area {
    @include font($fontP7, 24px, 0.92, $black, 0.5px);
  }

  .question-block {
    padding-top: 12px;

    .question {
      @include font($fontP5, 20px, 1.8, $questionsColor, 0.3px);
    }
  }
}
