.article-title-layout {
    .article-title-heading {
       @include font($fontS7, 48px, 0.83, $black, 1px);
        
    }
    
    .article-title-dek {
        @include font($font04, 24px, 1.25, $black, 1px);
    }

    .sub-title {
        @include font($fontS7, 24px, 1.25, $black, 1.3px);
    }

}
