<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure
	Blog Categories Component</div>
<div
	data-sly-use.blogCategoriesUse="${'com.scholastic.classmags.migration.controllers.BlogCategoriesUse' @ url=currentNode.path}">
    <div class="blog-category-wrapper">
            <div class="blog-categories">
            	<p class="blog-category-heading">CATEGORIES</p>
        
                <div data-sly-unwrap
                  data-sly-list.blogCategoriesData="${blogCategoriesUse.blogCategoriesDataList}">
                    <p class="category">
                        <a  href="${blogCategoriesData.blogCategoryLink}">
                            ${blogCategoriesData.blogCategoryTitle}
                        </a>
                    </p>
                </div>
            </div>
        </div>
	</div>