.thankyou-back-to-previous-wrapper {
    .thankyou-container {
        margin: 29px 37px 0;
        .thankyou-content {
            @include font($font04, 16px, 1.38, $black, 0.9px);
            margin-bottom: 60px;
        }
        
        .thankyou-content-pad-container {
            padding-left: 3px;
            padding-right: 3px;
            
            p, ul, ol, ul li, ol li{
                margin: 0;
            }
            
            a {
                letter-spacing: 0.7px;
                color: $liteBlue2;
                text-decoration: underline;

                &:hover, &:active, &:focus {
                    color: $liteBlue2;
                    letter-spacing: 0.7px;
                    text-decoration: underline;
                }
            }
        }        
    }
    
    .back-to-previous-wrapper {
        margin: 0 37px 60px;
        
        .back-to-previous-pad-container {
            padding-left: 3px;
            position: relative;
        }

        .back-to-previous-icon {
            vertical-align: middle;
        }

        .back-to-previous-text {
            display: inline-block;
            vertical-align: middle;
            margin-left: 4px;
            position: relative;
            top: 1px;
            
            a {
                @include font($font8, 14px, 1, $liteBlue2, 0.5px);
                
                &:hover, &:active, &:focus {
                    @include font($font8, 14px, 1, $liteBlue2, 0.5px);
                    text-decoration: none;
                }
            }
        }
    }
}

@media (min-width:1440px) { 
    .thankyou-back-to-previous-wrapper {
        .thankyou-container, .back-to-previous-wrapper {
            margin-left: 41px;
            margin-right: 40px;
        }       
    }
}