<div data-sly-test="${wcmmode.edit}">Configure Article - Sidebar component
</div>
<div data-sly-use.articleSidebar="com.scholastic.classmags.migration.controllers.ArticleSidebarUse">
	<sly data-sly-test.borderColor=",'border' : '1px solid ${properties.titleBackgroundColor}'"/>
	<sly data-sly-test.border="${properties.titleBackgroundColor ? borderColor : ''}"/>
    <sly data-sly-test.image="{'background-image' : 'url(${properties.backgroundImage})' ${border}}" />
    <sly data-sly-test.color="{'background-color' : '${properties.backgroundColor}' ${border}}" />
    <div class="article-sidebar-component-wrapper ${(wcmmode.edit || wcmmode.design) ? '':'js-article-sidebar-wrapper'}  ${properties.textAlignment}" ng-style="${properties.backgroundImage ? image : color}" data-sidebar="${properties.lexileLevel}">
        <div data-sly-test="${properties.textAlignment == 'top'}" data-sly-unwrap>
            <div data-sly-test="${properties.title}" class="article-section-title" ng-style="{'font-size': '${properties.titleFontSize}','color': '${properties.titleFontColor}','text-align': '${properties.titleAlignment }','background-color':'${properties.titleBackgroundColor}' }">${properties.title}</div>

            <div class="article-sidebar-content-wrapper top">
                <div data-sly-test="${properties.fileReference}" data-sly-unwrap>
                    <div class="image-wrapper">
                        <div class="image-icon-container">
                            <sw-image src="${properties.fileReference}" alt="Article section Image" height="auto" width="670px" modal-toggle="modal" modal-target=".${articleSidebar.uuid}" image-popup-class="cm-image-wrapper" pop-up-image-configured="${properties.fileReference && properties.filePopupReference}" image-class="sn4-image-background"></sw-image>
                            <div data-sly-test="${properties.fileReference && properties.filePopupReference}" class="popup-img-icon">
                                <span data-toggle="modal" class="sw-icon expand-icon" data-target=".${articleSidebar.uuid}"></span>
                            </div>
                        </div>
                        <div data-sly-test="${properties.credits}" class="image-credit">${properties.credits}</div>
                    </div>
                </div>
                <div data-sly-test="${properties.sectionText}" class="article-section-content">
                    <div class="article-section-text" ng-style="{'font-size': '${properties.fontSize}','color': '${properties.fontColor}'}">${properties.sectionText @context='html'}
                    </div>
                </div>
                <div data-sly-test="${properties.filePopupReference}" class="modal modal-wide ${articleSidebar.uuid}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <span class="close sw-icon close-icon" data-dismiss="modal"></span>
                    <div class="modal-dialog modal-lg popup-modal-image-container" role="document">
                        <div class="image-popup-content">
                            <sw-image src="${properties.filePopupReference}" alt="Image component popup" image-class="article-hero-modal-image"></sw-image>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div data-sly-test="${properties.textAlignment == 'bottom'}" data-sly-unwrap>
            <div class="article-sidebar-content-wrapper bottom">
                <div data-sly-test="${properties.title}" class="article-section-title" ng-style="{'font-size': '${properties.titleFontSize}','color': '${properties.titleFontColor}','text-align': '${properties.titleAlignment }','background-color':'${properties.titleBackgroundColor}' }">${properties.title}</div>

                <div data-sly-test="${properties.sectionText}" class="article-section-content">
                    <div class="article-section-text" ng-style="{'font-size': '${properties.fontSize}','color': '${properties.fontColor}'}">${properties.sectionText @context='html'}
                    </div>
                </div>
                <div data-sly-test="${properties.fileReference}" data-sly-unwrap>
                    <div class="image-wrapper">
                        <div class="image-icon-container">
                            <sw-image src="${properties.fileReference}" alt="Article section Image" height="auto" width="670px"></sw-image>
                        </div>
                        <div data-sly-test="${properties.credits}" class="image-credit">${properties.credits}</div>
                    </div>
                </div>
                <div data-sly-test="${properties.filePopupReference}" class="modal modal-wide ${articleSidebar.uuid}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <span class="close sw-icon close-icon" data-dismiss="modal"></span>
                    <div class="modal-dialog modal-lg popup-modal-image-container" role="document">
                        <div class="image-popup-content">
                            <sw-image src="${properties.filePopupReference}" alt="Image component popup" image-class="article-hero-modal-image"></sw-image>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-sly-test="${properties.textAlignment == 'right'}" data-sly-unwrap>
            <div data-sly-test="${properties.title}" class="article-section-title" ng-style="{'font-size': '${properties.titleFontSize}','color': '${properties.titleFontColor}','text-align': '${properties.titleAlignment}','background-color':'${properties.titleBackgroundColor}'}">${properties.title}</div>

            <div class="article-sidebar-content-wrapper right">
                <div class="image-wrapper" data-sly-test="${properties.fileReference}">
                    <sw-image src="${properties.fileReference}" alt="Article section Image" height="auto" width="300px"></sw-image>
                    <div data-sly-test="${properties.credits}" class="image-credit">${properties.credits}</div>
                </div>
                <div class="article-section-content">
                    <div data-sly-test="${properties.sectionText}" class="article-section-text" ng-style="{'font-size': '${properties.fontSize}','color': '${properties.fontColor}'}">${properties.sectionText @context='html'}
                    </div>
                </div>
            </div>
        </div>
        <div data-sly-test="${properties.textAlignment == 'left'}" data-sly-unwrap>
            <div data-sly-test="${properties.title}" class="article-section-title" ng-style="{'font-size': '${properties.titleFontSize}','color': '${properties.titleFontColor}','text-align':'${properties.titleAlignment }','background-color':'${properties.titleBackgroundColor}'}">${properties.title}</div>

            <div class="article-sidebar-content-wrapper left">
                <div class="article-section-content">
                    <div data-sly-test="${properties.sectionText}" class="article-section-text" ng-style="{'font-size': '${properties.fontSize}','color': '${properties.fontColor}'}">${properties.sectionText @context='html'}
                    </div>
                </div>
                <div class="image-wrapper" data-sly-test="${properties.fileReference}">
                    <sw-image src="${properties.fileReference}" alt="Article section Image" height="auto" width="300px"></sw-image>
                    <div data-sly-test="${properties.credits}" class="image-credit">${properties.credits}</div>
                </div>
            </div>
        </div>
    </div>
</div>
