.past-issue-list-main-container {

	.past-issue-list-main-content {

		a {

			.explore-latest-button {
				background-color: $superScienceSearchButtonOrange;
				@include font($font09, 13px, 1.54, $white, 1px);
			}
		}


	}

	
}


