.brightcoveComponent-container {
    .brightcoveComponent-text-wrapper {
        .brightcoveComponent-title {
            font-family: 'ProximaNova-Bold';
        }

        .brightcoveComponent-desc {
            font-family: 'ProximaNova-Medium';
        }
    }
}
