.marketing-app-hero-banner{
	max-width: 1440px;
	
	.app-banner-image{
		width: 100%;
		position: relative;
	}
	
	.app-banner-content{
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	.app-banner-issue-image{
		padding: 11% 4% 0 1%;
	}
	
	.app-banner-details{
		margin-top: 10%;
		padding-right: 137px;
	}
	
	.banner-title{
		@include font($fontN7, 59px, 1.1, $white, null);
	}
	
	.banner-desc{
		@include font($font07, 25.5px, 1.49, $white, 0.1px);
		margin-top: 20px;
	}
	
	.button-container{
		text-align: center;
		float: right;
		margin-top: 40px;
		.primary-button{
			background-color: #fff200;
			border: none;
			border-radius: 100px;
			text-transform: uppercase;
			text-align: center;
			padding: 13px 41px 12px 47px;
			@include font($font09, 21px, 0.95, $black, 0.4px);
		}
		
		.app-login{
			margin-top: 22px;
			span{
				@include font($font04, 19px, 1.05, $white, null);
				a{
					text-decoration: underline;
					color: $white;
				}
			}
		}
	}
	
	.arrow-image{
		background: url('../../../images/amStudent.png') no-repeat center;
		position: absolute;
		bottom: -20px;
		width: 76px;
		height: 76px;
		left: 50%;
	}
}