<!DOCTYPE html>
<html>

<head>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css" />
</head>

<body>
    <div class="contact-us-layout container-fluid" ng-app="scienceWorld" ng-controller="contactUsController">
        <common-header header-text="Contact Us"></common-header>
        <common-header header-text="Thank You" style="display: none;"></common-header>
        <div class="contact-us-wrapper">
            <div class="contact-us-container row">
                <div class="col-md-10 col-md-offset-2 contactus-right-container">
                    <div class="row">
                    <div class="col-md-11 contact-info">
                        <div class="contact-info-bar">
                            <ul>
                                <li>
                                    <p>Subscribers</p>
                                    <div class="contact-detail-text"><span class="sw-icon phone-icon"></span>1-800-SCHOLASTIC <span class="info-text">(1-800-724-6527)</span></div>
                                </li>
                                <li>
                                    <p>To Place An Order:</p>
                                    <div class="contact-detail-text"><span class="sw-icon phone-icon"></span>1-800-SCHOLASTIC</div>
                                </li>
                                <li>
                                    <p>Email:</p>
                                    <div class="contact-detail-text email-text">magazinescs@scholast.com</div>
                                </li>
                                <li>
                                    <p>Fax:</p>
                                    <div class="contact-detail-text">1-800-724-6527</div>
                                </li>
                            </ul>
                        </div>
                        <div class="contact-info-text">
                            <p>Our customer service representatives are here to help you with any problem, question or concern you may have. Our success depends on responding quickly to our customers’ needs. You may receive a follow-up e-mail or phone call. We will attempt to respond within one business day.</p>
                            <p>Please complete the following and then click “Submit.” Required information is preceded by an asterisk (*). All other information is optional. Before you write us, you may want to read our <a href="#">online privacy policy statement</a></p> 
                        </div>                                
                    </div>
                    </div>

                    <div class="contact-form-questions">
                        <form name="contactForm" novalidate role="form" ng-submit="contactForm.$valid && submitContactForm()">
                            <div class="question-row row">
                                <div class="sl-no col-md-1"><span>1</span></div>
                                <div class="question-container col-md-11">
                                    <p>What can we help you with?</p>                                    
                                    <label for="shipping"><input id="shipping" type="radio" radiogroup="help" name="help" value="Subscription" ng-model="contactUsData.topic"><span class="sw-icon radio-unchecked-icon"></span><span class="radio-text">Subscription and shipping</span> </label>
                                    
                                    <label for="student"><input id="student" type="radio" ng-model="contactUsData.topic" radiogroup="help" name="help"><span class="sw-icon radio-unchecked-icon"></span><span class="radio-text">Student access</span></label>
                                    
                                    <label for="technical"><input id="technical" type="radio" ng-model="contactUsData.topic" radiogroup="help" name="help"><span class="sw-icon radio-unchecked-icon"></span><span class="radio-text">Technical issue</span></label>
                                    
                                    <label for="something"><input id="something" type="radio" ng-model="contactUsData.topic" radiogroup="help" name="help"><span class="sw-icon radio-unchecked-icon"></span><span class="radio-text">Something else</span></label>
                                </div>
                            </div>
                            <div class="question-row row">
                                <div class="sl-no col-md-1"><span>2</span></div>
                                <div class="question-container col-md-11">
                                    <p>Select an issue:</p>
                                    <label for="shipping">Select an issue:</label>
                                    <select name="issue"  ng-model="contactUsData.Issue" ng-disabled="!contactUsData.topic">
                                        <option ng-selected="true">-Please Select-</option>
                                        <option>How will my magazines be shipped?</option>
                                        <option>How will my magazines be shipped?</option>
                                    </select>
                                </div>
                            </div>
                            <div class="question-row row">
                                <div class="sl-no col-md-1"><span>3</span></div>
                                <div class="question-container col-md-11">
                                    <p>How would you like to contact us?</p>
                                    
                                    <label for="contactEmail"><input id="contactEmail" type="radio" ng-model="contactCheck" radiogroup="contact" name="contact" value="cEmail" checked><span class="sw-icon radio-unchecked-icon"></span><span class="radio-text">Email</span> </label>
                                    
                                    <label for="phone"><input id="phone" type="radio" ng-model="contactCheck" radiogroup="contact" name="contact" value="cPhone"><span class="sw-icon radio-unchecked-icon"></span><span class="radio-text">Phone</span></label>
                                </div>
                            </div>
                            <div class="contact-form-container row" ng-hide="contactCheck == 'cPhone'">
                                <div class="contact-form col-md-6">
                                    <div class="contact-form-row">
                                        <label>*Name:</label>
                                        <input type="text" ng-class="{'error-input': (contactForm.$submitted && contactForm.name.$pristine) || (contactForm.name.$invalid && contactForm.name.$touched) || (contactForm.name.$error.pattern)}" ng-model="contactUsData.contactDetails.name" name="name" ng-pattern="/^[a-zA-Z\s]+$/" ng-required="true" />
                                        <p class="field-error-text" ng-class="{'field-error-text-visible': (contactForm.$submitted && contactForm.name.$pristine) || (contactForm.name.$touched && contactForm.name.$invalid && !contactForm.name.$error.pattern)}">This field is required</p>
                                        <p class="field-error-text" ng-class="{'field-error-text-visible': contactForm.name.$error.pattern}">Please enter a valid name</p>
                                    </div>
                                    <div class="contact-form-row">
                                        <label>*Email:</label>
                                        <input type="text" ng-model="contactUsData.contactDetails.email" name="email" ng-class="{'error-input': (contactForm.$submitted && contactForm.email.$pristine) || (contactForm.email.$invalid && contactForm.email.$touched) || (contactForm.email.$error.pattern)}" ng-pattern="/^[\u00C0-\u1FFF\u2C00-\uD7FF\w._%+-]+@[\u00C0-\u1FFF\u2C00-\uD7FF\w.-]+\.[\u00C0-\u1FFF\u2C00-\uD7FF\w]{2,4}$/" ng-required="true" />                                        
                                        <p  class="field-error-text" ng-class="{'field-error-text-visible': (contactForm.$submitted && contactForm.email.$pristine) || (contactForm.email.$touched && contactForm.email.$invalid && !contactForm.email.$error.pattern)}">This field is required</p>
                                        <p class="field-error-text" ng-class="{'field-error-text-visible': contactForm.email.$error.pattern}">Please enter a valid email id</p>
                                    </div>
                                    <div class="contact-form-row">
                                        <label>*School Name:</label>
                                        <input type="text" ng-class="{'error-input': (contactForm.$submitted && contactForm.schoolName.$pristine) || (contactForm.schoolName.$invalid && contactForm.schoolName.$touched) || (contactForm.schoolName.$error.pattern)}" ng-model="contactUsData.contactDetails.schoolName" name="schoolName"  ng-pattern="/^[a-zA-Z.\s]+$/" ng-required="true" />
                                        <p class="field-error-text" ng-class="{'field-error-text-visible': (contactForm.$submitted && contactForm.schoolName.$pristine) || (contactForm.schoolName.$touched && contactForm.schoolName.$invalid && !contactForm.schoolName.$error.pattern)}">This field is required</p>
                                        <p class="field-error-text" ng-class="{'field-error-text-visible': contactForm.schoolName.$error.pattern}">Please enter a valid name</p>
                                    </div>
                                    <div class="contact-form-row">
                                        <label>*School State:</label>
                                        <input type="text" ng-class="{'error-input' : (contactForm.$submitted && contactForm.schoolName.$pristine) || (contactForm.schoolState.$invalid && contactForm.schoolState.$touched)|| (contactForm.schoolState.$error.pattern)}" ng-model="contactUsData.contactDetails.schoolState" name="schoolState"  ng-pattern="/^[a-zA-Z\s]+$/" ng-required="true" />
                                        <p  class="field-error-text" ng-class="{'field-error-text-visible': (contactForm.$submitted && contactForm.schoolState.$pristine) || (contactForm.schoolState.$invalid && contactForm.schoolState.$touched && !contactForm.schoolState.$error.pattern)}">This field is required</p>
                                        <p class="field-error-text" ng-class="{'field-error-text-visible': contactForm.schoolState.$error.pattern}">Please enter a valid name</p>
                                    </div>
                                    <div class="contact-form-row">
                                        <label>Grade Taught:</label>
                                        <select name="grade" ng-model="contactUsData.contactDetails.grade" ng-option="o in dropdown">
                                            <option ng-selected="true">-Please Select-</option>
                                        </select>
                                    </div>
                                    <div class="contact-form-row marB0">
                                        <label>Message:</label>
                                        <textarea name="message" ng-model="contactUsData.contactDetails.message"></textarea>
                                    </div>
                                    <p class="required-text">*Required fields</p>
                                    <button class="contact-submit-btn" type="submit" name="contact-submit">SUBMIT</button>
                                    <sw-back-to-top></sw-back-to-top>
                                </div>
                                <div class="contact-form-image col-md-6 pull-right">
                                    <sw-image src="../../images/contact-us/contact-us.png" alt="Contact Us Image" height="540px" width="555px"></sw-image>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="thankyou-wrapper">
            <p>We received your message and will be in contact with you shortly. In the meantime, please visit our FAQ’s page for resolutions to common subscription questions or Customer Service FAQ’s for general questions .</p>
        </div>
    </div>

    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../../../bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../../scripts/app.js"></script>
    <script src="../commonHeader/commonHeaderDirective.js"></script>
    <script src="../common/swImage/swImageDirective.js"></script>
    <script src="contactUsController.js"></script>
    <script src="contactUsFactory.js"></script>
    <script src="../backToTop/backToTopDirective.js"></script>


</body>

</html>
