.marketing-app-hero-banner {
    .app-banner-content {
        .app-banner-details {
            padding-left: 62px;   
            .banner-title {
                @include font($fontCR9, 60.8px, 1.07, $white);
                max-width: 797px;
                text-align: left;
            }
            .banner-desc {
                @include font($fontP7, 33.5px, 1.13, $white);
            }
            .button-container {
                .primary-button {
                    @include font($fontPE4, 24px, 0.83, $black, 1.8px);
                    border-radius: 100px;
                    background-color: #cdef04;
                    padding: 6.34px 47.5px;
                }
                .app-login {
                    span {
                        @include font($font04, 19px, 1.05, $white);
                    }
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-hero-banner {
        .app-banner-image {
            height: auto;
        }
        .app-banner-content {
            .jnr_schl_desc {
                padding-right: 0px;
            }
            .app-banner-details {
                padding-left: 0px;
                padding-right: 0px;
                margin-top: 100px;
                .banner-title {
                    @include font($fontCR9, 29px, 1.24, $white);
                    padding-right: 10px;
                }
                .banner-desc {
                    @include font($fontP7, 16px, 2.38, $white);
                    margin: 0px;
                    padding-left: 0px;
                    letter-spacing: normal;
                }
                .button-container {
                    margin-top: 14px;
                    .primary-button {
                        @include font($fontPE4, 14px, 1.43, $black, 1.1px);
                        padding: 10px 73px;
                    }
                    .app-login {
                        span {
                            @include font($font04, 14px, 1.43, $white);
                        }
                    }
                }
            }
        }
    }
}
