<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Configure Marketing Subscribe Header component</div>

<div class="marketing-subscribe-header">
    <div class="row marketing-subscribe-header-container">
        <div class="col-md-12" style="background: ${currentStyle.headerColor @ context = 'styleString'}">
            <div class="marketing-subscribe-header-container-logo">
                <img src="${currentStyle.logoPath @ context = 'uri'}" alt="Subscribe Form Logo" />
            </div>
        </div>
    </div>
</div>
