<div data-sly-test="${wcmmode.edit}">Configure Subcription Progress Bar component</div>
<div data-sly-test="${properties.tabs}" data-sly-unwrap>
    <div ng-controller="progressBarController" data-success-url="${properties.successURL @ context = 'uri'}" data-failure-url="${properties.failureURL @ context = 'uri'}" class="subscription-progress-bar-main" data-active-color="${properties.activatedColor @ context = 'styleString'}" data-deactive-color="${properties.deactivatedColor @ context = 'styleString'}">
        <div class="subscription-progress-bar">
            <div class="row">
                <ul class="nav nav-pills nav-wizard subscription-progress-bar-container">
                    <div data-sly-list.child="${properties.tabs}" data-sly-unwrap>
                        <li class="col-md-4 subscription-progress-bar-content" ng-class="{'active': ${childList.index} === activeTabIndex}" ng-click="changeTab(${childList.index})">
                            <div class="nav-wedge hidden-xs" data-sly-test="${childList.index != 0}"></div>
                            <a href="javascript:void(0);" class="subscription-progress-bar-text">${child}</a>
                            <a href="javascript:void(0);" class="visible-xs subscription-progress-bar-symbol"></a>
                            <div class="nav-arrow hidden-xs" data-sly-test="${childList.index != 2}"></div>
                            <div class="nav-line visible-xs" data-sly-test="${childList.index != 2}"></div>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="row">
                <div class="tab-content tab{{activeTabIndex}}" data-sly-list.child="${properties.tabs}">
                    <div data-sly-test.concat="${ 'tab{0}' @ format=[childList.index]}" data-sly-unwrap>
                        <div id="${concat}" class="tab-pane fade in" ng-class="{'active': ${childList.index} === activeTabIndex }">
                            <div data-sly-resource="${ @path=concat, resourceType='wcm/foundation/components/parsys'}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade subscription-error-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="sw-icon grey-close-btn pull-right" data-dismiss="modal" aria-label="Close"></span>
                    </div>
                    <div class="modal-body">
                        <div class="error-container">
                            Oops, something isn’t right. We could not store your order. <br/>Please try again or contact Customer Service at (800) 724-6527.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
