.email-form-thankyou-container {
    .email-thankyou-wrapper {
        margin-top: 24px;

        .email-editor-description-text {
            margin-bottom: 5px;
        }

        .email-editor-description-text {
            @include font($fontSL4, 16px, 1.38, $black, 0.5px);
        }

        .email-editor-description-container{
            margin-bottom: 10px;
        }

        .form-field-wrapper {
            .label-text {
                @include font($fontSL4, 16px, 1.38, $black, 0.5px);
            }

            .form-field-input {
                background-color: $aggregatorHashBorderSN3;
                border: 1px solid $paginationSelectBorder;
                @include font($fontSL4, 14px, 1.57, $emailFormInputFontColor, 0.8px);
            }

            .error-field-outline {
                border: 1.2px solid $errorFieldTextColor;
            }

            .subject-field-input {
                &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, :-ms-input-placeholder {
                    @include font($fontSL4, 14px, 1.57, $emailFormInputFontColor, 0.8px);
                }
            }
        }

        .required-fields-text {
            @include font($fontSL4, 12px, 1.83, $requiredFieldstextGrey, 0.7px);
        }

        .email-form-all-fields-container {
            .send-button-wrapper {
                .send-button {
                    background-color: $geoEmailButtonColor;
                    text-transform: capitalize;
                    @include font($fontSL7, 18px, 1.11, $white, 0.5px);
                }
            }
        }

        .email-form-image {
            display: none;
        }

        .correct-error-text {
           font-family: SlateStd;
        }       

        .field-error-text, .message-field-error {
            font-family: SlateStd;
        }
    }

    .back-to-previous-wrapper {
        margin-bottom: 35px;

        .back-to-previous-text {
            @include font($fontSL7, 14px, 1, $textHyperlinkColor, 0.5px);
        }
    }
}
