<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure Issue - Top Links Component</div>

<div data-sly-use.issueHighlightUse="com.scholastic.classmags.migration.controllers.IssueHighlightsUse">
	<div data-sly-test.loggedInUserType="${issueHighlightUse.userType}" data-sly-unwrap></div>
	<div  ng-controller="issueHighController" ng-init="pagePath='${issueHighlightUse.issueBookmarkPath @ context='uri'}'">
    

  <div data-sly-test="${!properties.enableFeaturedResources}" class="container-fluid issueHigh-wrapper pad0" >
        <div class="issueHigh-content">
			<div class="issueHigh-header">
				<div class="issueHigh-hash-content"></div>
				<!-- <div class="issueHigh-text">
                  <h2 class="text-date">${issueHighlightUse.sortingDate}</h2>
              </div> -->
              	<div data-sly-test="${!(issueHighlightUse.magazineName == 'junior')}" data-sly-unwrap>
              		<sw-flexible-title-hyperlink title="${issueHighlightUse.displayDate}" hyper-link-Text ="See All Issues" hyper-link-URL  =""></sw-flexible-title-hyperlink>
              	</div>
              	<div data-sly-test="${issueHighlightUse.magazineName == 'junior'}" data-sly-unwrap>
					 <sw-text-hyperlink title="${issueHighlightUse.displayDate}" hyper-link-Text="See All Issues" hyper-link-URL=""></sw-text-hyperlink>
				</div>
				<div class="magazine-issue-high-component-bg">
					<div class="text-desc">
						<div class="text-desc-inner-wrapper">
							<div data-sly-test="${pageProperties.pagetitle}" data-sly-unwrap>
								<span class="text-desc-bold">${pageProperties.pagetitle}:</span>
							</div>
							<span class="text-desc-normal">${pageProperties.jcr:description}</span>
						</div>
						<div class="issue-high-icons pull-right">
							<a href="javascript:void(0)" ng-show="!isIssueBookmarked" sw-authorize="teacherorstudent" ng-click="addBookmark(${itemList.index})"><span class="sw-icon bookmark-icon"></span></a>
							<a href="javascript:void(0)" ng-show="isIssueBookmarked" ng-click="deleteBookmark(${itemList.index})"><span class="sw-icon bookmarked-icon"></span></a>
						</div>
					</div>
					<div class="row nomarLR resources-container">
						<div class="background-color-div-sn3"></div>
						<div class="col-md-3 col-sm-4 col-xs-7 issue-highlighting-img">
							<div class="row nomarLR">
								<div class="col-md-12 col-sm-12 col-xs-5 issue-highlight-img-bg">
									<div class="issue-img-center">
										<a href="${issueHighlightUse.issueHighlight.issueLinkToEReader}">
											<sw-image src="${pageProperties.fileReference}" alt="Issue Highlight" height="354px" width="265px" image-class="issue-high-img-class"></sw-image>
										</a>
									</div>
									<div class="issue-mag-view-container">
										<div data-sly-use.eReader="com.scholastic.classmags.migration.controllers.EReaderUse" data-sly-unwrap>
											<a data-sly-test="${eReader.newEReaderPath && (eReader.showMagazineLink || wcmmode.edit)}" href="javascript:void(0);" onclick="reader.open()" target="_blank">
												<button class="issue-mag-view"><span>open magazine view</span></button>
											</a>
											<a data-sly-test="${issueHighlightUse.issueHighlight.issueLinkToEReader && !eReader.newEReaderPath && (eReader.showMagazineLink || wcmmode.edit)}" href="${issueHighlightUse.issueHighlight.issueLinkToEReader}" target="_blank">
												<button class="issue-mag-view"><span>open magazine view</span></button>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9 col-sm-8 col-xs-12 issue-tile-wrapper">
							<div class="row nomarLR">
								<div data-sly-list="${issueHighlightUse.assetDataList}">
									<div data-sly-test="${wcmmode.edit || loggedInUserType == 'teacher'}" data-sly-unwrap>
										<div class="col-md-4 col-sm-6 col-xs-4 issue-high-des-sec-tiles clearfix">
											<div class="des-sec-tiles-boxshadow" ng-init="pagePaths[${itemList.index}] = '${item.issueKeyAssetsBookmarkPath @ context = 'uri'}'">
												<p class="issueHigh-titles" ng-style="{'background-color': '${item.labelColor}'}">
													<a href="${item.issueKeyAssetsLabelPath}" data-ng-bind="issueTitle${itemList.index}" data-ellipsis ng-init='issueTitle${itemList.index}="${item.issueKeyAssetsLabel}"'></a>
												</p>
												<div class="key-asset-content">
													<div class="gray-line"></div>
													<div class="key-asset-desc tile-desc" data-ng-bind-html="issueDesc${itemList.index}" data-ellipsis ng-init="issueDesc${itemList.index}='${item.description @ context = 'scriptString'}'"></div>
													<div class="social-icons">
														<!-- <a href="#" target="_blank" class="icon print-icon hidden-xs"></a> -->
														<a href="javascript:void(0)" ng-show="!isBookmarkAdded${itemList.index}" sw-authorize="teacherorstudent" ng-click="addBookmark(${itemList.index})"><span class="sw-icon bookmark-icon"></span></a>
														<a href="javascript:void(0)" ng-show="isBookmarkAdded${itemList.index}" ng-click="deleteBookmark(${itemList.index})"><span class="sw-icon bookmarked-icon"></span></a>
														<div data-sly-test="${item.issueKeyAssetsIsShareable}" data-sly-unwrap>
															<a href="${item.issueKeyAssetsLabelPath}" target="_blank" class="sw-icon download-icon" alt="download-icon"></a>
														</div>
														<div data-sly-test="${(wcmmode.edit || loggedInUserType == 'teacher') && item.issueKeyAssetsIsShareable}" data-sly-unwrap>
															<div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=currentPage.path}">
																<sw-show-popover link-url="${globalLink.externalizedDomain}"></sw-show-popover>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- here -->
		</div>
		<div ng-class="{'in':isSpinnerShow}" class="spinnercontainer">
			<img src="/etc/designs/scholastic/classroom-magazines-migration/images/icons/spinner.gif" alt="spinner image">
		</div>
	</div>
	 <div data-sly-test="${properties.enableFeaturedResources}" class="top-links-component-main-wrapper">
	   <div class="top-links-component-container">
		  <div class="hash-container"></div>
		  <div class="top-links-content-wrapper">
			 <div class="row nomarLR">
				<div class="col-sm-3 nopadLR image-wrapper">
				   <div class="image-placeholder">
					  <a href="${issueHighlightUse.issueHighlight.issueLinkToEReader}" target="_self">
						 <sw-image src="${pageProperties.fileReference}" alt="Top Issue Links" height="355px" width="265px"></sw-image>
					  </a>
				   </div>
				   <div data-sly-use.eReader="com.scholastic.classmags.migration.controllers.EReaderUse" data-sly-unwrap>
					  <a data-sly-test="${eReader.newEReaderPath && (eReader.showMagazineLink || wcmmode.edit)}" href="javascript:void(0);" onclick="reader.open()" target="_blank">
						 <div class="magazine-view-button">
							<span class="issue-mag-view">open magazine view</span>
						 </div>
					  </a>
					  <a data-sly-test="${issueHighlightUse.issueHighlight.issueLinkToEReader && !eReader.newEReaderPath && (eReader.showMagazineLink || wcmmode.edit)}" href="${issueHighlightUse.issueHighlight.issueLinkToEReader}" target="_blank">
						 <div class="magazine-view-button">
							<span class="issue-mag-view">open magazine view</span>
						 </div>
					  </a>
				   </div>
				</div>
				<div class="col-sm-9 nopadLR text-wrapper">
				   <div class="title-icon-wrapper">
					  <div class="title-placeholder">${issueHighlightUse.displayDate}
					  </div>
					  <div class="icon-placeholder">
						 <!-- <a href=""> <span class="sw-icon bookmark-icon">
							</span></a>  -->
						 <div data-sly-test="${wcmmode.edit || loggedInUserType == 'teacher'}" data-sly-unwrap>
							<div data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url= currentPage.path}" data-sly-unwrap>
							   <a href="">
								  <sw-show-popover link-url="${globalLink.externalizedDomain}"></sw-show-popover>
							   </a>
							</div>
						 </div>
					  </div>
				   </div>
				   <div class="description">${properties.resourcesLabel}</div>
				   <div class="row nomarLR featured-assets-wrapper" >
					  <div data-sly-list="${issueHighlightUse.featuredResources}" data-sly-unwrap>
                         <div data-sly-test="${item.userRole == 'everyone' || item.userRole == loggedInUserType || (item.userRole == 'teacherOrStudent' && ( loggedInUserType == 'teacher' || loggedInUserType == 'student'))}" data-sly-unwrap>
							<div class="col-sm-4 featured-asset">
							   <sw-content-tile image-src="${item.imagePath}" image-hyperlink="${item.pagePath}" content-title="${item.title}" content-type="${item.contentType}" position="vertical" video-length="${item.videoDuration}" video-id="${item.videoId}" style-type="regular" game-id="${item.gameModel.containerId @ context='text'}" game-flash-container="${item.gameModel.containerPath @ context='uri'}" game-path="${item.gameModel.gamePath @ context='uri'}" game-type="${item.gameModel.gameType}" slideshow-id="${item.slideshow.uniqueId}" slideshowdata="${item.slideshow.jsonData}" slideshow-cover-image="${item.slideshow.coverImagePath}" slideshow-disable-number="${item.slideshow.disableNumber}" slideshow-number-color="${item.slideshow.numberColor}"></sw-content-tile>
							</div>
						 </div>
					  </div>
				   </div>
				   <div class="key-assets-wrapper">
					  <div class="row nomarLR">
						 <div data-sly-list="${issueHighlightUse.assetDataList}" data-sly-unwrap>
							<div data-sly-test="${wcmmode.edit || loggedInUserType == 'teacher'}" data-sly-unwrap>
                            <div class="col-sm-2 nopadLR key-asset-container">
							   <div class="key-asset">
								  <div class="icon-wrapper" data-sly-test="${item.issueKeyAssetsIsShareable}">
										<div data-sly-test="${item.issueKeyAssetsIsShareable}" data-sly-unwrap>
										<span>
										<a href="${item.issueKeyAssetsLabelPath}" target="_blank">
										<span class="sw-icon download-black-icon"></span>
										</a>
										</span>
										</div>
									 </div>
									 <!-- <span><a href="" >
										<span class="sw-icon bookmark-icon"></span>
										</a>
										</span> -->
								  <div class="key-asset-name">
									 ${item.issueKeyAssetsLabel}
								  </div>
							   </div>
							   <div class="bottomcolor-container"></div>
                               </div>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	</div>
   </div>    
 </div>
