.divider-component {
  padding-bottom: 44.6px;
	.border-divider {
     background-color:#fff;
     background-image: radial-gradient($borderColor 38%, transparent 45%);
     background-size: 13px 13px;
     background-position: -3px 0;
     background-repeat: repeat-x;
     padding-top: 14px;
     border: 0;
	}

}