.slide-show-component-layout {
  .launch-slide-show {
    @include font($fontPE4, 16px, 1.5, $black, 0.5px);
    font-weight: 900;
    background-color: $white;
  }

  .slide-show-component-wrapper {
    border: solid 1px $juniorArticleBorder;
  }

  .slide-show-description {
    .slide-show-des-block {
      .page-title {
        @include font($fontP4, 16px, 1.25, $black, 0.5px);

        p {
          margin: 0;
        }
      }

      .page-name {
        @include font($fontP4, 15px, 1.25, $black, 0.5px)
      }
    }
  }

  .slide-show-header {
    .slide-show-header-name {
      @include font($fontP7, 16px, 2, $black, 0.4px);
      font-weight: 900;
    }

    .total-img-present-img {
      @include font($fontP5, 18px, 2, $liteAsh7, 0.4px);
    }
  }

  .page-num {
    @include font($fontP7, 20px, null, $white, 1.5px);
  }
}
