.error-page-wrapper {	
	.error-page{
		.error-page-container {
			.error-page-content {
				h2 {
					font-family: Canaro-Medium;
				}
				p {
					font-family: Canaro-Book;
				}
				.error-btn {
					font-family: Canaro-Bold;
				}
			}
		}
	}
}