.marketing-app-tdi-component {
    &.contentTile {
        .app-tdi-header {
            p {
                line-height: 0.91;
            }
            margin-bottom: 12px;
        }

        .app-tdi-content {
            p {
                @include font($fontLL01, 22px, 1.45, $errorPageBlack, 0.8px);
                margin-bottom: 12px;
            }
        }
    }

    &.mobileCarousel {
        display: none;
    }

    .marketing-FullWidthCTA {
        width: 100vw;
        margin-left: -30px;
    }

    .app-tdi-header {
        p {
            @include font($fontN7, 35px, 1.14, $errorPageBlack, null);
            margin-bottom: 0;
        }
        text-align: center;
        margin: 37px 0 38px;
    }

    .app-tdi-banner-image {
        text-align: center;
        margin-bottom: 32px;

        img {
            max-width: 100%;
        }
    }

    .app-tdi-content {
        .marketing-app-tdi-padleft {
            @include respond-to ('small-and-up') {
                padding-left: 45px;
            }
        }

        p {
            @include font($font04, 23px, 1.87, $black, null);
            margin-bottom: 0;
        }
        margin: 0 62px;

        img {
            width: 100%;
        }
    }

    .app-description {
        text-align: center;
        margin-bottom: 50px;

        .desc {
            @include font($font03, 21px, 1.29, $errorPageBlack, null);
        }

        .secondary-button {
            margin-left: 20px;
            display: inline-block;
            @include font($font09, 13px, 1.54, $white, 1px);
            text-align: center;
            cursor: pointer;
            padding: 10px 26px;
            border-radius: 8px;
            border: none;
            text-transform: uppercase;
        }
    }

    .content-tile-par {
        padding: 0 15px;

        .acs-commons-resp-colctrl-col {
            padding: 0 10px !important; //Needed important to overwrite an important style

            .content-tile-container {
                margin: 0 auto 20px;
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-tdi-component {
        &.mobileCarousel {
            display: block;
        }

        &.contentTile {
            .app-tdi-header {
                p {
                    line-height: 0.91;
                }
                margin-bottom: 7px;
            }

            .app-tdi-content {
                p {
                    font-size: 16px;
                    line-height: 2;
                    letter-spacing: 0.4px;
                    margin-bottom: 20px;
                }
            }
        }

        .marketing-FullWidthCTA {
            margin-left: -10px;
        }

        .app-tdi-header {
            p {
                @include font($fontN7, 25px, 1.12, $errorPageBlack, null);
            }
            margin: 19px 0 17px;
        }

        .app-tdi-banner-image {
            margin-bottom: -1px;
            margin-left: -15px;
            margin-right: -15px;
        }

        .app-tdi-content {
            p {
                @include font($font04, 14px, 1.71, $black, null);
            }
            margin: 0;
            text-align: center;
        }

        .app-description {
            text-align: center;
            margin-top: 38px;

            .desc {
                font-size: 16px;
                line-height: 1.25;
            }

            .secondary-button {
                display: block;
                margin: 18px auto;
                padding: 10px 34.22px;
                border-radius: 100px;
            }
        }

        .content-tile-par {
            padding: 0;

            .acs-commons-resp-colctrl-col {
                .content-tile-container {
                    margin-bottom: 20px;
                }
            }
        }

        .carousel {
            .item {
                padding-bottom: 40px;

                img {
                    min-width: 329px;
                    margin-left: -18px;
                }
            }

            .carousel-control {
                display: none;
            }

            .carousel-indicators {
                bottom: 0;

                li {
                    width: 6px;
                    height: 6px;
                    background-color: #d8d8d8;

                    &.active {
                        margin: 1px;
                        background-color: #f7941e;
                    }
                }
            }
        }
    }
}
