.content-module {
    .content-module-container {
        .content-wrapper {
            .rteContent {
                font-family: 'GeometricSlab703BT-XtraBold';
            }

            div[ng-bind-html=containerGameDesc] {
                font-family: 'StoneInformalStd-Medium';
            }
        }
    }
}
