<div data-sly-use.globalNavContainerUse="com.scholastic.classmags.migration.controllers.GlobalNavContainerUse" data-sly-unwrap>
    <div class="container-fluid marketing-app-nav-bar-main-container" ng-controller="globalNavigationController" ng-init="searchPagePath='${currentPage.path}';recordsPerPage=12;">
        <div class="global-nav-container">
            <input id="sw-sdm-home-page-logged-in" type="hidden" value="${globalNavContainerUse.homePageLoggedIn}" />
            <input id="sw-sdm-home-page-logged-out" type="hidden" value="${globalNavContainerUse.homePageLoggedOut}" />
            <nav class="navbar navbar-default app-navbar-header">
                <div class="row app-nav-primary">
                    <div class="col-xs-12 col-sm-12 pad0">
                        <div class="row navbar-header app-nav-header">
                            <div class="col-xs-2 col-sm-1 menu-icon-block">
                                <button class="navbar-toggle collapsed pull-left nav-header-item nav-menu-icon" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
              `               </button>
                            </div>

                            <div class="col-xs-5 col-sm-4 navbar-toggle pull-left nav-header-item search-logo-block">
                                <img src="/etc/designs/scholastic/classroom-magazines-migration/images/scholasticIcon.png" class="scholastic-logo-header">
                                <a href="" class="magazine-logo-tablet-mobile"></a>
                            </div>
                            <div class="navbar-toggle nav-header-item pull-right profile-icon-block" data-toggle="collapse" data-target=".navbar-collapse">
                                <!-- <img class="pull-right" src="/etc/designs/scholastic/classroom-magazines-migration/images/globalNav/profile-icon.png"/> -->
                                <span class="pull-right sw-icon person-icon" ng-if="isLoggedIn"></span>
                                <button data-toggle="modal" data-target="#myModal" type="button" class="secondary-button" ng-if="!isLoggedIn">Log in</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="app-nav-primary-block">
                        <div class="row collapse navbar-collapse">
                            <div class="col-md-12 nav-primary-items">
                                <ul class="nav navbar-nav menu-list">
                                    <li class="dropdown js-dropdown hidden-nav science-logo">
                                        <img src="/etc/designs/scholastic/classroom-magazines-migration/images/scholasticIcon.png" class="scholastic-logo-header">
                                        <a></a>
                                    </li>
                                    <!-- Latest Issue-->
                                    <div data-sly-resource="${ @path='global-nav-par', resourceType='wcm/foundation/components/parsys'}"></div>

                                    <li class="pull-right cta-button-container">
                                        <button type="submit" class="primary-button">Subscribe</button>
                                        <button data-toggle="modal" data-target="#myModal" type="button" class="secondary-button">Log in</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-sly-resource="${'global-nav-explore' @ resourceType='scholastic/classroom-magazines-migration/components/content/CM-Marketing/marketing-global-nav-explore'}"></div>
            </nav>
        </div>

        <div id="mobile-hover">
            <div class="pop-over-menu-div">
                <div class="js-nav-menu">
                </div>
            </div>

        </div>

        <!-- modal starts here -->
        <div class="loginPrompt-wrapper">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog login-dialog" role="document">
                    <div class="modal-content login-content">
                        <div class="modal-close-button close-notsubscribe-modal">
                            <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close" ng-click="goBack()">
                                <span aria-hidden="true">
                                    <span class="sw-icon close-big-icon"></span>
                                </span>
                            </button>
                        </div>
                        <div class="login-content-wrapper">
                            <div class="modal-header login-header">
                                <h4 class="modal-title login-title" id="myModalLabel">Log into your account</h4>
                            </div>
                            <div class="modal-body login-body" ng-show="!showWait">
                                <div class="row nomarLR">
                                    <div class="col-xs-offset-1 col-xs-5 teacher-block">
                                        <span class="sw-icon login-teacher-icon"></span>
                                    </div>
                                    <div class="col-xs-4 student-block">
                                        <span class="sw-icon login-student-icon"></span>
                                    </div>
                                </div>
                                <div class="row nomarLR selector-section">
                                    <div class="col-xs-offset-1 col-xs-5">
                                        <div class="teacher-sec">
                                            <form>
                                                <label for="teacher">
                                                    <input class="teacher-selector" type="radio" name="role" id="teacher" value="teacher" ng-model="isOptionSelected" ng-click="login('${globalNavContainerUse.sdmTeacherLoginUrl}', 'staff')" />
                                                    <span class="sw-icon radio-unchecked-icon"></span>
                                                    <span>I am a teacher</span>
                                                </label>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="student-sec">
                                            <form>
                                                <label for="student">
                                                    <input class="student-selector" type="radio" name="role" value="student" id="student" ng-model="isOptionSelected" ng-click="login('${globalNavContainerUse.sdmStudentLoginUrl}', 'student')" />
                                                    <span class="sw-icon radio-unchecked-icon"></span>
                                                    <span>I am a student</span>
                                                </label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div data-sly-test="${globalNavContainerUse.sdmCreateAccountUrl}" class="subscriber-sec">
                                    <p>Are you already a subscriber but don't have an account yet?</p>
                                    <a href="${globalNavContainerUse.sdmCreateAccountUrl}">Create an account now</a>
                                </div>
                                <div class="row nomarLR notyet-subscriber-sec">
                                    <div class="border-section">
                                        <div class="middle-border"></div>
                                    </div>
                                    <p class="not-yet-subscribe">
                                        <span>Not yet a subscriber?</span></p>
                                    <div class="${properties.sampleIssueUrl ? 'col-xs-6': 'col-xs-6 col-xs-offset-3 pad0 textCenter'}">
                                        <a href="" id="subscribe-now-link">Subscribe now</a>
                                        <p class="description">to receive access to our website and our print magazine.</p>
                                        <p class="teachers-only">(Teachers only)</p>
                                    </div>
                                    <div data-sly-test="${properties.sampleIssueUrl}" class="col-xs-6">
                                        <a href="${properties.sampleIssueUrl}">Browse a sample issue</a>
                                        <p class="description">to learn more about what Scholastic offers.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body login-body" ng-show="showWait">
                                <div class="login-wait">
                                    <div class="row">
                                        <img src="/etc/designs/scholastic/classroom-magazines-migration/images/globalNav/login-loading-icon.png" />
                                    </div>
                                    <div class="row">
                                        <p>You are being redirecting to Scholastic's authentication page...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer goback-footer-sec" ng-show="showWait">
                                <div class="go-back-footer" data-dismiss="modal" ng-click="goBack()">
                                    <span><img src="/etc/designs/scholastic/classroom-magazines-migration/images/globalNav/go-back-icon.png"/></span>
                                    <span>GO BACK</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
