.slide-show-component-layout {
    .launch-slide-show {
        @include font($font09, 16px, 1.5, $black, 0.5px);
        background-color: $bodyGrey;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .slide-show-component-wrapper {
        background-color: $bodyGrey;
        border: solid 2px $superScienceBorderGrey;
        @include radius(8px);
    }

    .slide-show-description {
        .slide-show-des-block { 
            .page-title {
                @include font($font04, 16px, 1.25, $black, 0.5px);
                p{
                    margin:0;
                }
            }
            .page-name {
                @include font($font04, 15px, 1.25, $black, 0.5px)
            }
        }
    }
    .coverimage-wrapper {
        @include border-radius-separate(8px, 8px, 0, 0);
        .cover-image {
            @include border-radius-separate(8px, 8px, 0, 0);
        }
    }
   
    .slide-show-header {
        .slide-show-header-name {
            @include font($font09, 16px, 2, $black, 0.4px);
        }
        .total-img-present-img {
            @include font($font05, 18px, 2, $liteAsh7, 0.4px);
        }
    }
   
    .page-num {
        @include font($fontSL7, 20px, null, $white, 1.5px);
    }

}
