.vocabulary-main-container-wrapper {
    .vocabulary-word {
        font-family: BasicCommercialLTCom-Bold;
    }
    .popover {
        &.fade {
            &.in { 
                .popover-content {
                    .vocabulary-wrapper {
                        .image-wrapper {
                            .photo-credit{
                                font-family: BasicCommercialLTCom-Roman;
                            }
                        }
                        .text-wrapper {
                            .popover-name-wrapper {
                                .popover-name {
                                    font-family: Canaro-Bold; 
                                }  
                            }
                            .popover-pronoutext {
                                font-family: BasicCommercialLTCom-Roman; 
                            }
                            .popover-definition {
                                font-family: BasicCommercialLTCom-Roman;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}