<!DOCTYPE html>
<html>
   <head>
    	<link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" href="../../styles/main.css" />
   </head>
   <body>
<div ng-controller="pastIssueListController" ng-cloak>


      <!-- grid html starts -->

        <div class="pastIssueGrid-main-container" data-page-path="${currentPage.path}">
        <sw-text-hyperlink title="All Issues" records-count="{{totalRecords}}"></sw-text-hyperlink>
          <div class="pastIssueGrid-main-content container">
            <div class="row nomarLR row-wrapper">
              <div class="col-md-3 col-sm-4 col-xs-6 tile"  ng-repeat="issueItem in issueItems">
               <div class="issue-container">
               <div class="issue-cover">
                  <a href="#" ng-href="{{issueItem.linkto}}">
                  <img src="" ng-src="{{issueItem.imgsrc}}"/></a>
               <!--<span class="icon save-icon"></span>-->
               </div> 
               <div class="issue-date"><a ng-href="{{issueItem.linkto}}">{{issueItem.issuedate}}</a></div>
               </div>
               </div>
            </div>
          </div>
        </div>
        <sw-pagination total-issue-page-count="totalPageCount" on-next="onpageNext()" on-previous="onpagePrevious()" on-change="onPageSelection(npm)" records="records" pages="pages" total-issue-records="totalRecords" my-bookmark-page="false"></sw-pagination>
        <!-- grid html ends -->      
      <!--Modal starts -->

      <div class="modal fade" id="articleVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
              <!-- Start of Brightcove Player -->
              <!--
                By use of this code snippet, I agree to the Brightcove Publisher T and C
                found at https://accounts.brightcove.com/en/terms-and-conditions/.
                -->
              <object id="myExperience5115612056001" class="BrightcoveExperience">
                <param name="bgcolor" value="#FFFFFF" />
                <param name="width" value="474" />
                <param name="height" value="400" />
                <param name="playerID" value="" />
                <param name="playerKey" value="AQ~~,AAAAAFv844g~,BASb5BU03X-uQzvS8z7DzGIDGHVv6Vy2" />
                <param name="isVid" value="true" />
                <param name="dynamicStreaming" value="true" />
                <param name="@videoPlayer" value="" />
             </object>
             <!--
                This script tag will cause the Brightcove Players defined above it to be created as soon
                as the line is read by the browser. If you wish to have the player instantiated only after
                the rest of the HTML is processed and the page load is complete, remove the line.
                -->
             <!-- End of Brightcove Player -->
            </div>
          </div>
        </div>
      </div>
      <!--Modal ends -->   
        

               
      </div>
      <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
      <script src="../../bower_components/angular/angular.js"></script>
      <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
      <script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
      <script src="../../../bower_components/angular-ellipsis/src/angular-ellipsis.js"></script> 
      <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="../app.js"></script>
      <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script src="../common/jquery.dotdotdot.js"></script>
     <script src="issueGridDataFactory.js"></script> 
      <script src="pastIssueListController.js"></script>
      <script src="onFinishRenderDirective.js"></script> 
      <script src="../sharePopover/sharePopoverDirective.js"></script>
      <script src="../textHyperlink/swTextHyperlinkDirective.js"></script> 
      <script src="../common/swContentTile/swContentTileDirective.js"></script>
      <script src="../pagination/swPaginationDirective.js"></script>
    </body>
</html>