<!DOCTYPE html>
<html>

<head>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css" />
</head>

<body>
    <div class="article-toolbar-layout" ng-app="scienceWorld" ng-controller="articleToolbarController">
        <div class="article-toolbar container">
            <div class="row menu-list">
                <div class="icon-bar">
                    <div>
                        <ul class="list-inline list-icons">
                            <li ng-show="!isBookmarkAdded">
                                <a href="javascript:void(0)" ng-click="addBookmark()" sw-authorize="teacherorstudent">
                                    <span class="sw-icon bookmark-icon"></span>
                                </a>
                            </li>
                            <li ng-show="isBookmarkAdded">
                                <a href="javascript:void(0)" ng-click="deleteBookmark()">
                                    <span class="sw-icon bookmarked-icon"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span class="sw-icon upload-icon"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row menu-list open-flip-book">
                <div class="toolbar-sec-2">
                    <a href="#" target="_blank">
                        <span class="sw-icon two-page-icon"></span>
                        <span class="icon-description">Open Magazine View</span>
                    </a>

                </div>
            </div>
            <div class="row menu-list jump-to-block" ng-if="isVideoComponentPresent || isTeachingPresent">
                <h6 class="title title-jump-to">JUMP TO</h6>
                <div class="toolbar-sec-3">
                    <div ng-if="isTeachingPresent">
                        <a href="#" target="_blank">
                            <span class="sw-icon papers-stack-icon"></span>
                            <span class="icon-description icon-des-teaching-resources">Teaching resources</span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="row menu-list">
                <p class="title title-language">LANGUAGE</p>
                <div class="toolbar-sec-4">
                    <select class="drop-down">
                        <option value="english">English</option>
                        <option value="spanish">Spanish</option>
                    </select>
                </div>
            </div>
            <div class="row menu-list drop-down-sec">
                <p class="title title-lexile-level">READING LEVEL</p>
                <div class="lexile-level-drop-down">
                    <div class="toolbar-sec-5">
                        <select class="drop-down">
                            <option value="english">On level</option>
                            <option value="spanish">Lower lexile</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row icon-text-container">
                <div class="menu-list icon-text">
                    <a href="#" target="_blank">
                        <span class="sw-icon sound-icon"></span>
                        <span class="icon-description">Read Aloud</span>
                    </a>

                </div>
                <div class="menu-list icon-text">
                    <a href="#" target="_blank">
                        <span class="sw-icon plus-icon"></span>
                        <span class="icon-description">Add note</span>
                    </a>

                </div>
                <div class="menu-list icon-text">
                    <a href="#" target="_blank">
                        <span class="sw-icon page-edit-icon"></span>
                        <span class="icon-description">Text highlighter</span>
                    </a>

                </div>
            </div>
            <div class="row menu-list go-back-to-issues">
                <a href="#" target="_blank">
                    <span class="sw-icon page-arrow-icon"></span>
                    <span class="icon-description">Go Back to Issue</span>
                </a>

            </div>
        </div>
        <div ng-class="{'in':isSpinnerShow}" class="spinnercontainer">
			      <img src="../../../images/icons/spinner.gif">
		     </div>
    </div>
    <!--   These are the content divs for the checking the teacheing resources and videos component -->
    <div id="TeachingResourcesComponent"></div>
    <div id="VideoComponent"></div>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../../../bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../../scripts/app.js"></script>
    <script src="articleToolbarController.js"></script>
    <script src="toolbarStickyness.js"></script>

</body>

</html>
