.sw-icon {
    background: url('/etc/designs/scholastic/classroom-magazines-migration/scholasticnews56/clientlibs/scholasticnews56-core/styles/core/icons/Icons-SN56.png') no-repeat;
    &.search-icon {
        width: 39px;
    }
    &.pinterest-icon {    
        width: 32px;
    }
    &.two-page-big-icon {
        background-position: -170px -419px;
        width: 37px;
        height: 28px;
    }
    &.large-size-blue-down-full-arrow {
        width: 11px;
    }
    &.black-up-full-arrow {
        width: 8px;
    }
    &.number-one-icon {
        height: 37px;
    }
    &.number-two-icon {
        height: 37px;
    }
    &.number-three-icon {
        height: 37px;
    }
    &.left-arrow-icon {
        height: 26px;
    }
    &.phone-liteblue-icon {
        background-position: -231px -335px;
        width: 12px;
        height: 15px;
    }
    &.upload-icon {
        height: 34px;
    }
    &.checkbox-checked {
        height: 18px;
    }
    &.checkbox-checked-disabled {
        background-position: -60px -111px;
        height: 18px;
    }
    &.radio-unchecked-big-icon {
        background-position: -290px -384px;
        width: 23px;
        height: 23px;
    }
    &.radio-checked-big-icon {
        background-position: -290px -334px;
        width: 23px;
        height: 23px;
    }
    &.checkbox-checked-big-icon {
        background-position: -290px -438px;
        width: 38px;
        height: 38px;
    }
    &.checkbox-unchecked-big-icon {
        background-position: -290px -503px;
        width: 38px;
        height: 38px;
    }
    &.sound-small-icon {
        background-position: -230px -653px;
        width: 24px;
        height: 18px;
    }
    &.copy-link-btn {
        background-position: -230px -703px;
        width: 121px;
        height: 29px;
    }
}