.marketing-scholastic-magazine-wrapper {
    .scholastic-magazine-content {
        .magazine-title-wrapper {
            border-bottom: 0px;
            border-radius: 10px;
            height: 6.5px;
            padding: 0;
            box-shadow: 0 47px 0 0 $liteAsh11;
            margin-bottom: 48px;
            span {
                &.magazine-title {
                    padding-right: 50px;
                    @include font($fontPE4, 28px, 1.14, $dynamathTDItitleColor);
                }
                &.view-all-magazine {
                    @include font($fontB7, 14px, 1, $liteBlue1, 0.5px);
                }
            }
            .sw-icon.sw-icon.right-arrow {
                color: $dynamathSortByCategoryItemColor;
            }
        }
        .content-container {
            .magazine-content {
                .magazine-subtitle {
                    @include font($fontC7, 20px, 1.15, $liteBlue1, 0.5px);
                    a {
                        color: $liteBlue1;
                    }
                }
                .magazine-desc {
                    @include font($fontB4, 18px, 1.22, $black);
                }
            }
        }
    }
}

@include respond-to('xssmall') {
    .marketing-scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            .magazine-title-wrapper {
                border-bottom: 0px;
                border-radius: 10px;
                height: 5px;
                padding: 0;
                box-shadow: 0 72px 0 0 $liteAsh11;
                margin-bottom: 120px;
                span {
                    &.magazine-title {
                        @include font($fontPE4, 24px, 1.33, $dynamathTDItitleColor);
                        padding-right: 10px;
                    }
                    &.view-all-magazine {
                        border-left: 1px solid $liteAsh11;
                    }
                }
                a {
                    display: inline-block !important; //To override the style added because of hidden-xs class.
                }
            }
            .magazine-mobile-title-wrapper {
                display: none !important; //To override the style added because of visible-xs class.
            }
            .content-container {
                .magazine-content {
                    .magazine-image{
                        max-width: 124px;
                    }
                }
            }
        }
    }
}
