.contact-us-layout {

    .contact-us-wrapper {

        .contact-us-container {            
            .contactus-right-container{
                padding-top: 53.5px;

                .contact-info {                
                    padding-right: 87px;

                    .contact-info-bar {
                        background: $sn4NavyBlue;
                        transform: skew(0deg);  
                        margin-left: 0px;
                        border-radius: 8px;

                        ul {
                            padding: 28.5px 32px 28.5px 32px;
                            transform: skew(0deg);
                            li {
                                border-right: 2px solid $sn4BorderBlue;
                                p {
                                    @include font($fontSL5, 22px, 1.09, $white, 0.6px);
                                    margin-bottom: 3px;
                                }
                                .contact-detail-text {
                                    @include font($fontSL5, 16px, 1.88, $white, 0.5px);
                                }
                                .info-text { 
                                    line-height: 1.4;                              
                                }
                            }                   
                        }            
                    }

                    .contact-info-text {                         
                        margin-top: 44.5px;
                        padding-right: 75px;
                        p{
                            @include font($fontSL4, 16px, 1.38, $black, 0.5px);
                            a {
                                color: $sn4NumberGreen;
                                border-bottom: 1px solid $sn4NumberGreen;
                            }
                        }
                    }
                
                }
                .contact-form-questions {
                        margin-top: 65px;
                        .question-row {
                            .sl-no {
                                width: 36px;
                                height: 36px;
                                background: $sn4NumberGreen;
                                transform: skew(0deg);
                                @include font($fontSL5, 22px, 1, $white, 1.2px);
                                padding: 6px 0;
                                border-radius: 36px;
                                span {
                                    transform: skew(0deg);
                                }
                            }
                            .question-container {
                                padding-left: 17px;
                                p {
                                    @include font($fontSE4, 22px, 1, $black, 0.5px);
                                    font-weight: 700;
                                    margin-bottom: 22px;
                                }
                                label {
                                    @include font($fontSL4, 18px, 1.22, $black, 0.5px);

                                }

                                select {
                                    border: 1px solid $sn4BorderGrey;
                                    @include font($fontSL4, 14px, 1, $black, 0.5px);
                                    background: $sn4BgGrey url(../../../images/icons/sn4-dropdown-arrow.png) no-repeat;
                                    background-position: right 13px center;
                                }
                            }
                        }
                        .contact-form-container {
                            .contact-form {
                                .contact-form-row {
                                    label {
                                        @include font($fontSL4, 16px, 1.38, $black, 0.5px);
                                    }
                                    input[type="text"], input[type="email"], select, textarea {
                                        background: $sn4BgGrey;
                                        border: 1px solid $sn4BorderGrey;
                                        @include font($fontSL4, 14px, 1, $black, 0.5px);
                                    }
                                    select {
                                        background: $sn4BgGrey url(../../../images/icons/sn4-dropdown-arrow.png) no-repeat;
                                        background-position: right 13px center;
                                    }
            
                                }

                                .required-text {
                                    @include font($fontSL4, 12px, 1.83, $sn4GreyText, 0.5px);
                                    margin-bottom: 30px;
                                    margin-top: 2px;
                                }
                                .contact-submit-btn {
                                    background: $sn4NavyBlue;
                                    @include font($fontSL5, 18px, 1.11, $white, 0.5px);
                                }
                            }
                            .contact-form-image {
                                display: none;
                            }
                        }
                     
                }
                
            
            }
        }
    }

}