.issueHigh-wrapper {
    background-color: transparent;

    .issueHigh-content {
        padding-bottom: 0;

        .issueHigh-header {
            .text-desc {
                margin-bottom: 0;

              .text-desc-bold {
                  display: none;
              }

              .text-desc-normal {
                  display: none;
              }

              .issue-high-icons {
                bottom: 0;
                margin-bottom: 21.33px;
                margin-top: 35px;
              }
            }
        }

        .issue-highlighting-img {
            padding-left: 69px;
            padding-right: 26px;

            .issue-highlight-img-bg {
                background: none;
                padding: 0;
                border: 0;

                .issue-img-center {
                    .issue-high-img-class {
                        max-width: 267px !important;
                        max-height: 358px !important;
                    }

                    img {
                        max-height: 358px !important;
                        box-shadow: none;
                    }
                }
            }

            .issue-mag-view-container {
                width: 265px;
                position: initial;
                margin: 25px auto 0;

                .issue-mag-view {
                    @include font($fontSL7, 18px, 1.11, $black, 0.4px);
                    background: $spinGlobalNavButton;
                    min-height: 40px;
                    width: 100%;
                }
            }
        }

        .issue-tile-wrapper {
            padding-left: 24px;
            padding-right: 22px;

            .issue-high-des-sec-tiles {
                height: 200px;
                margin-bottom: 20px;

                .des-sec-tiles-boxshadow {
                    box-shadow: none;
                    border-radius: 8px;

                    .issueHigh-titles {
                        border: 0 none;
                        min-height: 50px;
                        background: #793e96;
                        border-radius: 8px 8px 0 0;

                        a {
                            @include font($fontSL5, 20px, 0.9, $white, 0.6px);
                            padding: 16px 20px;
                        }
                    }

                    .key-asset-content {
                        border: 2px solid $featuredborderGreySN3;
                        border-top: 0;
                        border-radius: 0 0 8px 8px;
                        padding: 25px 20px 6.34px;
                        min-height: 150px;

                        .key-asset-desc {
                            @include font($fontU4, 17px, 1.41, $black, 0.5px);

                            &.tile-desc {
                                max-height: 58px;
                                height: 58px;
                                margin-bottom: 20px;
                            }
                        }

                        .social-icons {
                            .sw-icon {
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }

        .issueHigh-header {
            .magazine-issue-high-component-bg {
                margin-top: 0;

                .resources-container {
                    float: left;
                    .background-color-div-sn3 {
                        background-color: $snIssueHighBgColor;
                        min-height: 459px;
                        position: absolute;
                        max-width: 1440px;
                        margin-top: 81px;
                        z-index: -1;
                        width: 100%;
                    }
                }
            }

            .textHyperlink-container-wrapper {
                .textHyperlink-wrapper {
                    .textHyperlink-text {
                        color: $allIssuesTitleColor;
                        line-height: 1;
                        letter-spacing: 0.5px;
                    }
                }

                .text-link-connector {
                    background-color: $allIssuesTitleColor;
                }
            }
        }
    }
}
