.article-subjs-covered-pad-container {
	.article-subjs-covered-container {
		.article-subjs-covered-content {
			.subjs-covered-title {
				font-family: SlateStd-Bold;
			}
			.subjs-tag-wrapper {
				.names-subj {
					.subj-title {
						.subj-title-link {
							font-family: UtopiaStd-Bold;				
						}
					} 
					.subj-tags-wrapper {
						font-family: SlateStd;
						.subj-tags{
							font-family: SlateStd;
						}
					}
				}			
			}
		}	
	}
}