    .marketing-scholastic-magazine-wrapper {
    .scholastic-magazine-content {
        .magazine-title-wrapper {
            span {
                &.magazine-title {
                    @include font($fontG7, 28px, 1.14, $ActionTDItitle);
                }
                &.view-all-magazine {
                    @include font($fontGB9, 14px, 1, $textHyperlinkColor, 0.5px);
                }
            }
        }
        .content-container {
            .magazine-content {
                .magazine-subtitle {
                    .magazine-image {
                        width: 100%;
                    }
                    .magazine-content-cntr {
                        padding-right: 15px;
                        padding-left: 15px;
                        .magazine-subtitle {
                            @include font($fontGB9, 19px, 1.21, $textHyperlinkColor, 0.5px);
                            a {
                                color: $textHyperlinkColor;
                            }
                        }
                        .magazine-desc {
                            @include font($fontGB5, 18px, 1.22, $black);
                        }
                    }
                }
            }
        }
    }
}


@include respond-to('xssmall') {
    .marketing-scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            .magazine-title-wrapper {
                margin-bottom: 40px;
                border-bottom: 5px solid $liteAsh11;
                span {
                    &.magazine-title {
                       @include font($fontG7, 24px, 1.17, $ActionTDItitle);
                    }
                    &.view-all-magazine {
                        border-left: 1px solid $liteAsh11;
                    }
                }
                a {
                    display: inline-block !important; //To override the style added because of hidden-xs class.
                }
            }
            .magazine-mobile-title-wrapper {
                display: none !important; //To override the style added because of visible-xs class.
            }
            .content-container {
                .magazine-content {
                    .magazine-image{
                        max-width: 124px;
                    }
                }
            }
        }
    }
}

@include respond-to ('1440px') {
    .marketing-scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            .content-container {
                .magazine-content {
                    .magazine-image {
                        max-width: 185px;
                        width: auto;
                    }
                    .magazine-content-cntr {
                        padding: 0 23px;
                    }
                }
            }
        }
    }
}
