<!--/*

	Subjects Covered component.

*/-->
<div data-sly-use.subjectsCovered="com.scholastic.classmags.migration.controllers.SubjectsCoveredUse" data-sly-unwrap>
	<div data-sly-test.placeholder="${(wcmmode.edit && !subjectsCovered.subjects)}">
	    Article Page - Taxonomy component
	</div>
    <div data-sly-test="${subjectsCovered.subjects}" data-sly-unwrap>
		<div class="article-subjs-covered-pad-container">
			<div class="article-subjs-covered-container">
				<div class="article-subjs-covered-content">
					<div class="subjs-covered-title">${properties.title @context='html'}</div>
					<div class="subjs-tag-wrapper row nomarLR">
						<div data-sly-list.subjectEntry="${subjectsCovered.subjects.entrySet}" data-sly-unwrap>
							<div class="names-subj col-xs-4 col-md-12 pad0">
								<div class="subj-title">
									<a class="subj-title-link" href="/content/classroom_magazines/${subjectsCovered.magazineName}/pages/topics/${subjectEntry.key.tag.name}.html">${subjectEntry.key.tag.title}</a>
								</div>
								<div class="subj-tags-wrapper">
									<div data-sly-list.subTopic="${subjectEntry.value}" data-sly-unwrap>
										<span class="subj-tags">${subTopic.tag.title}<sly data-sly-test="${!subTopicList.last}">, </sly></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
