.pastIssueGrid-main-container {
    .pastIssueGrid-main-content {
        margin-top: 16px;
        
        .tile{
            padding-left: 25px;
            padding-right: 25px;
        }
        .issue-container {
            margin-bottom: 0;
            
            .issue-cover {
                position: relative;
                max-width: 235px;
                height: auto;
                /*background-color: $globalNavPopoverGray; */               
                /*border: 1px solid $dimLiteGray;*/
                text-align: center;
                img {
                    max-width: 100%;
                    max-height: 312px;
                    margin: 0 auto;
                }
                .sw-icon {
                    display: inline-block;
                    position: absolute;
                    top: 10%;
                    right: 10%;
                }
            }
            .issue-date {
                @include font($font07, 11px, 1.45, $black, 0.8px);
                width: 100%;
                text-transform: capitalize;
                background-color: $contactSelectGrey;
                padding: 11.6px 0 12.4px 0;
                border: 0;
                margin: 13px auto 30.8px auto;
                text-align: center;                                
                word-wrap: break-word;
                text-decoration: none;
                display: inline-block;
                min-height: 40px;
                border-radius: 100px; 
            }
        }
		.row-wrapper{
		  .col-md-3:nth-child(4n+1){
		  clear:both;
		  }
		}
    }
    .pagination-directive-wrapper {
        .paginationBottom {
            margin-top: 19px;
        }
    }
}

@include respond-to('xssmall'){
    .pastIssueGrid-main-container{
        .pastIssueGrid-main-content{
            .issue-container{
                .issue-cover{
                    width: 100%;
                    height: auto;
                    position: relative;
                   /* background-color: $globalNavPopoverGray;*/
                    margin: 0 auto;
                    img{
                        max-width: 115px;
                        max-height: 110px;
                        @include center-both;
                    }
                }
            } 

.row-wrapper{
		  
		  .col-sm-4:nth-child(3n+1){
		  clear:none;
		  }
		  .col-md-3:nth-child(4n+1){
		  clear:none;
		  }
		  .col-xs-6:nth-child(2n+1){
		  clear:both;
		  }
		}
			
        }
    }
}

@include respond-to('small'){
    .pastIssueGrid-main-container{
        .pastIssueGrid-main-content{
          .row-wrapper{
		  
		  .col-xs-6:nth-child(2n+1){
		  clear:none;
		  }
		  .col-md-3:nth-child(4n+1){
		  clear:none;
		  }
		  .col-sm-4:nth-child(3n+1){
		  clear:both;
		  }
		} 

           
        }
    }
}