<div data-sly-test.placeholder="${!wcmmode.disabled}" data-sly-unwrap>Configure Marketing - Subscription Type</div>

<div class="marketing-subscription-type" ng-show="toggleSubscriptionType">
    <div class="row marketing-subscription-type-container">
        <div class="col-md-12 marketing-subscription-type-title">
            <span>${properties.sectionTitle}</span>
        </div>
        <div class="col-md-12 marketing-subscription-fields">
            <div data-sly-list.child="${properties.subscriptionOption}" data-sly-unwrap>
                <label class="radio-inline" data-sly-test="${childList.index == 0}" ng-init="subscriptionTypeText = '${child}'">
                  <span class="marketing-subscription-check-icon sw-icon radio-unchecked-big-icon" ng-show="!subscriptionType.newSubscription"></span>
                  <span class="marketing-subscription-check-icon sw-icon radio-checked-big-icon" ng-show="subscriptionType.newSubscription"></span>
                  <input type="radio" name="subscriptionType1" ng-model="subscriptionType.newSubscription" ng-change="setSubscription('${child}')" ng-value="true"/>${child}</label>
                <label class="radio-inline" data-sly-test="${childList.index == 1}">
                  <span class="marketing-subscription-check-icon sw-icon radio-unchecked-big-icon" ng-show="subscriptionType.newSubscription"></span>
                  <span class="marketing-subscription-check-icon sw-icon radio-checked-big-icon" ng-show="!subscriptionType.newSubscription"></span>
                  <input type="radio" name="subscriptionType1" ng-model="subscriptionType.newSubscription" ng-change="setSubscription('${child}')" ng-value="false"/>${child}</label>
            </div>
        </div>
    </div>
    <div class="row marketing-subscription-auto-renewal" ng-show="subscriptionType.newSubscription">
        <div class="col-md-12 marketing-renewal-title">
            <span>${properties.descLabel}</span>
        </div>
        <div class="col-md-12 marketing-renewal-check">
            <div class="checkbox">
                <label class="renewal-check">I would like to sign up for an auto renewal of my Science World subscription for the next school year.
		                    <input type="checkbox" ng-model="subscriptionType.isAutoRenewal"/>
                        <div class="renewal-check-indicator"></div>
                    </label>
            </div>
        </div>
    </div>
    <div class="row marketing-subscription-promo" ng-show="!subscriptionType.newSubscription">
        <div class="col-md-12 marketing-promo-title">
            <span>Promo Code (optional)</span>
        </div>
        <div class="col-md-12 marketing-promo-desc">
            <span>If you are ordering in response to a catalog or mailing, please enter the last four digits of the numeric code that appears above your name on the mailing label. For example, if the code reads 20-4102, simply enter 4102 in the box below.</span>
        </div>
        <div class="col-md-12 marketing-promo-fields">
            <input type="text" class="marketing-promo-input" id="promo-code" />
            <button type="button" class="btn disabled marketing-promo-apply">Apply</button>
        </div>
        <div class="col-md-12 marketing-promo-offers">
            <i class="glyphicon glyphicon-info-sign marketing-promo-info-icon"></i>
            <span class="marketing-promo-info-text">Special offer discounts may not be reflected in the displayed price but will be included on the invoice.</span>
        </div>
    </div>
    <div class="row marketing-renewal-section" ng-show="!subscriptionType.newSubscription">
        <div class="col-md-12">
            <div class="form-group">
                <label for="orderNumber" class="marketing-order-number-text">Purchase Order Number (optional)</label>
                <input type="text" ng-model="orderNumber" class="form-control marketing-order-number-val" id="orderNumber">
            </div>
            <div class="form-group">
                <label for="customerNumber" class="marketing-order-number-text">Do you know your customer number? (optional)</label>
                <input type="text" ng-model="customerNumber" class="form-control marketing-order-number-val" id="customerNumber">
            </div>
        </div>
    </div>
</div>
