<div data-sly-test="${!(properties.subscriptionTitle || properties.subscriptionSubtitle) && wcmmode.edit}">Configure Misc - Subscription Benefits</div>

<div class="subscription-benefit-main-container">
    <div data-sly-use.subscriptionBenefitsUse="com.scholastic.classmags.migration.controllers.SubscriptionBenefitsUse" class="subscription-benefit-wrapper ">
        <div class="subscription-benefit-headline text-center">
            <div data-sly-test="${properties.subscriptionTitle}" class="subscription-benefit-title">
                ${properties.subscriptionTitle}</div>
            <div data-sly-test="${properties.subscriptionTitle && properties.subscriptionSubtitle}" class="subscription-benefit-seperator"></div>
            <div data-sly-test="${properties.subscriptionSubtitle}" class="subscription-benefit-subtitle">
                ${properties.subscriptionSubtitle @context='html'}</div>
        </div>
        <div class="row nomarLR subscription-benefit-LRmargin equal-row-wrapper">
            <div data-sly-list="${subscriptionBenefitsUse.subscriptionBenefitsDataList}" data-sly-unwrap>
                <div class="col-md-4 pad10 ">
                    <div class="subscription-benefit-content-container clearfix">
                        <div class="subscription-benefit-content text-center equal-col-wrapper">
                            <div class="icon-container">
                                <div data-sly-test="${item.subscriptionBenefitIcon}" class="${item.subscriptionBenefitIcon} icon-wrapper icon "></div>
                            </div>
                            <div class="text-wrapper">
                                <div data-sly-test="${item.subscriptionBenefitTitle}" class="title-content">${item.subscriptionBenefitTitle}</div>
                                <div data-sly-test="${item.subscriptionBenefitTitle && item.subscriptionBenefitDescription}" class="seperator"></div>
                                <div data-sly-test="${item.subscriptionBenefitDescription}" class="desc-content">${item.subscriptionBenefitDescription @context='html'}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>