.buttonContainerFullWidth {
  background-color: $yellow;
  padding: 9px;
  text-align: center;
  width: 100%;
  .btn {
    @include font($font09, 26px, 0.77, $black, 2px);
    border-radius: 100px;
    background-color: $superScienceCTAButton;
    padding: 14px;
    max-width: 315px;
  }
}

@include respond-to('xssmall') {
  .buttonContainerFullWidth {
    padding: 0;
    .btn {
      background: transparent !important; //to override the authored color, which is not required in mobile view
      max-height: 44px;
      background-color: $yellow;
      padding: 12px;
      @include font($font09, 16px, 1.25, $black, 1.2px);
    }
  }
}
