<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Configure Marketing Order Summary</div>
<input type="hidden" id="subscriptionPath" value="${currentNode.path}" />
<div data-sly-use.order="com.scholastic.classmags.migration.controllers.OrderSummaryUse">
    <div data-sly-list.magazinePrice="${order.magazinePrices}">
        <div ng-init="magazinePrices['${magazinePrice}'] = '${order.magazinePrices[magazinePrice]}'"></div>
    </div>

    <div data-sly-list.magazineShippingPrice="${order.shippingPrice}">
        <div ng-init="shippingPrices['${magazineShippingPrice}'] = '${order.shippingPrice[magazineShippingPrice]}'"></div>
    </div>
    <div class="marketing-subscription-order-summary">
        <div class="row">
            <div class="col-md-12 marketing-subscription-order-summary-right">
                <div class="marketing-subscription-order-summary-right-container">
                    <p class="marketing-subscription-order-summary-right-container-title">
                        Order Summary
                    </p>
                    <div class="subscription-product-display-magazines">
                        <div class="row subscription-product-display-magazine" ng-repeat="eachItem in cartData">
                            <div class="col-md-2 col-xs-3 subscription-product-display-magazine-image">
                                <img ng-src="{{eachItem.magazinePath}}" alt="Magazine Image" />
                            </div>
                            <div class="col-md-10 col-xs-9 subscription-product-display-magazine-details">
                                <span class="subscription-magazine-details-name">{{eachItem.magazineTitle}}</span>
                                <span class="subscription-magazine-price">Price: <span class="subscription-price-value">{{returnFormattedPrice(eachItem.magazinePrice)}}</span></span>
                                <div class="subscription-magazine-quantity" ng-show="!isEdit">
                                    <span class="subscription-total-quantity">Qty: <span class="subscription-total-quantity-val">{{eachItem.quantity}}</span></span>
                                    <span class="subscription-total-price pull-right">{{returnFormattedPrice(eachItem.subTotal)}}</span>
                                    <div><a href="javascript:void(0)" class="subscription-quantity-edit-btn" ng-click="isEdit = !isEdit;">Edit</a></div>
                                </div>
                                <div class="subscription-quantity-edit-section" ng-show="isEdit">
                                    <input type="number" class="subscription-quantity-edit-text form-control" onkeypress="return event.keyCode >= 48" ng-keyup="updateQuantity($event)" ng-model="magazineQuantity" min="1" max="999" value="{{eachItem.quantity}}" />
                                    <button type="button" class="btn subscription-quantity-save-btn pull-right" ng-click="updateMagazineQuantity($index, magazineQuantity); isEdit = (magazineQuantity > 0) ? !isEdit : isEdit;">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="subscription-address-summary">
                        <span class="subscription-address-summary-title">Shipping to:</span>
                        <div class="subscription-address-summary-details">
                            <p class="subscription-address-summary-text subscription-address-summary-name">{{shipping.name}}</p>
                            <p class="subscription-address-summary-text">{{shipping.email}}</p>
                            <p class="subscription-address-summary-text">{{shipping.school}}</p>
                            <p class="subscription-address-summary-text">{{shipping.address1}}</p>
                            <p class="subscription-address-summary-text">{{shipping.address2}}</p>
                            <p class="subscription-address-summary-text">{{shipping.city}}</p>
                            <p class="subscription-address-summary-text">{{shipping.state}}</p>
                            <p class="subscription-address-summary-text">{{shipping.zip}}</p>
                            <p class="subscription-address-summary-text">{{shipping.phone}}</p>
                        </div>
                    </div>

                    <div class="subscription-order-summary">
                        <span class="subscription-order-summary-title">Order Total:</span>
                        <div class="subscription-order-summary-details">
                            <span class="subscription-order-summary-text">Item Total</span>
                            <span class="subscription-order-summary-price pull-right">{{returnFormattedPrice(getTotalPrice())}}</span>
                        </div>
                        <div class="subscription-order-summary-details">
                            <span class="subscription-order-summary-text">Shipping & Handling</span>
                            <span class="subscription-order-summary-price pull-right">{{returnFormattedPrice(totalShippingPrice)}}</span>
                        </div>
                        <div class="subscription-order-summary-details">
                            <span class="subscription-order-summary-text">Total Price</span>
                            <span class="subscription-order-summary-price pull-right subscription-order-summary-total-price">{{returnFormattedPrice(totalPrice)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
