.subscription-progress-bar {
    margin: 30px 11.7% 0;

    .subscription-progress-bar-container {
        border-bottom: 0;
        padding-left: 15px;

        .subscription-progress-bar-content {
            text-align: center;
            padding: 0 20px 0 0;

            &:first-child {
                &:before {
                    display: none;
                }
            }

            &:last-child {
                padding-left: 1.5px;

                &:after {
                    display: none;
                }

                &:before {
                    left: -24.3px;
                }
            }

            &.active {
                a {
                    @include font($font07, 12px, null, $white);
                    border: 0;
                    background: #0359a4;
                    border-radius: 0;
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2.5px;
                }

                &::after {
                    border-color: #0359a4 transparent;
                }

                &::before {
                    border-color: transparent #0359a4;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 9px;
                bottom: 9px;
                right: -5px;
                border-width: 18px 17px 0;
                border-style: solid;
                border-color: #f6f6f6 transparent;
                display: block;
                transform: rotate(270deg);
                width: 0;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 9px;
                left: -25.9px;
                border-width: 17.3px 17.4px 0;
                border-style: solid;
                border-color: transparent #f6f6f6;
                display: block;
                transform: rotate(270deg);
                width: 0;
            }

            a {
                @include font($font07, 12px, null, $liteGray);
                border-radius: 0;
                background-color: #f6f6f6;
                line-height: normal;
                margin-right: 0;
                border: none;
            }

            &:focus {
                outline: none;
            }
        }
    }
}
