.marketing-globalFooter-main-container {
    .globalFooter-content {
        background: $marketingActionDarkBlue;

        .footerContentWrapper {
            .footerTitle {
                @include font($fontGB9, 15px, 1, $white);
                border-bottom-color: rgba(255, 255, 255, 0.6);
                margin-bottom: 6px;
            }

            .footerPhoneNo {
                .phonelink {
                    @include font($fontGB5, 13px, 2.31, $white, 0.4px);
                }

                .livelink {
                    @include font($fontGB5, 13px, 2, $white);
                }

                .liveIcon {
                    background: url('../../../images/CM-Marketing/livechat.png') no-repeat center;
                    padding-bottom: 5px;
                }
            }

            .footerlinks {
                a {
                    @include font($fontGB5, 13px, 2, $white);
                }
            }

            &.social-links {
                .footerTitle {
                    border-bottom-width: 1px;
                    margin-bottom: 10px;
                }
            }

            .footer-socialIcons {
                span {
                    margin-right: 10.6px;
                }
            }
        }

        .globalFooter-bottom {
            .links {
                padding-right: 41px;

                a {
                    @include font($fontGB5, 10px, null, $marketingActionLightBlue, 0.3px);
                }
            }

            .desc {
                @include font($fontGB5, 10px, 1.4, $liteGray2, 0.3px);
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-globalFooter-main-container {
        .globalFooter-content {
            .row {
                padding: 27px 20px 30.67px;

                .link-wrapper {
                    margin-bottom: 52px;
                }
            }

            .footerContentWrapper {
                .footerTitle {
                    @include font($fontGB9, 17px, 1.18, $white, 0.3px);
                    padding-bottom: 6px;
                    margin-bottom: 14px;
                }

                .footerPhoneNo {
                    .phonelink {
                        @include font($fontP7, 17px, 0.65, $white, 0.8px);
                    }

                    .livelink {
                        @include font($fontGB5, 17px, 1.47, $white, 0.8px);
                    }
                }

                .footerlinks {
                    p {
                        a {
                            @include font($fontGB5, 17px, 1.47, $white, 0.8px);
                        }
                    }

                    &.phoneNumber {
                        p:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .globalFooter-bottom {
                padding: 0 60.5px;
                height: 139px;

                .keep-right {
                    .desc {
                        @include font($fontGB5, 10px, 1.4, $liteGray2, 0.2px);
                        left: 0;
                    }

                    .links {
                        right: 8px;

                        a {
                            @include font($fontGB5, 12px, null, $marketingActionBlue, 0.3px);
                        }

                        &.links-term {
                            left: 3px;
                        }
                    }
                }

                .scholastic-logo {
                    margin-bottom: 24.3px;
                    margin-top: 21.2px;
                }
            }
        }
    }
}
