.globalFooter-main-container {
  border-top: 5px solid black;

  .globalFooter-content {
    background-color: $white;

    .footerContentWrapper {
      .footerTitle {
        @include font($fontSL7, 15px, 1, $gray);
        border-bottom: 1px solid $upfrontBorderBottomColor;
      }

      .footerPhoneNo {
        .sw-icon {
          &.phone-icon {
            background-position: -231px -336px;
            width: 12px;
            height: 12px;
          } 
        }

        .phonelink {
          a {
            @include font($fontSL5, 13px, 2.31, $gray, 0.4px);
          }
        }
      }

      .footerlinks {
        a {
          @include font($fontSL5, 13px, 2, $gray);
        }
      }
    }

    .globalFooter-bottom {
      background-color: $upfrontIaggregatorBackground;

      .links {
        a {
          @include font($fontSL5, 10px, null, $globalFooterBottomLinkColor, 0.3px);
        }
      }

      .desc {
        @include font($fontSL4, 10px, 1.4, $liteGray2, 0.3px);
      }
    }
  }
}
