/* super science */
$contentTileSubjectBlue: #0054a6 !default;
$contentTileOrangeLine: #ffcb04 !default;
$superScienceSearchButtonOrange: #f7941d !default;
$superScienceExploreBar: #0054a6 !default;
$darkNavyBlue:#0054a6 !default;  //DarkNayblue
$issueHighTitleborderGrey: #d3d7d8 !default;
$issueHighTitleGrey: #ebecee !default;
$issueHighTitleBorderOrange: #ffcb04 !default;
$issueHighMagazineButton: #f7941d !default;
$articleBackgroundColor:#f5f6f7 !default;
$resourcesColor:#00a99d !default; //green
$tabComponentGreyBackground: #cbcbcb !default;
$articleToolbarBorderGrey: #d3d7d8 !default;
$articleToolbarSelectBg: #f1f3f4 !default;
$articleToolbarSelectBorder: #dadbde !default;
$issueGridGrey:#eef0f1 !default;
$aggregatorBorderGreen:#8dc43f !default;
$aggregatorHashBorder:#e9eaea !default;
$currentIssueHeroTitlePurple: #812990 !default;
$superScienceErrorFieldTextColor: #d60000 !default;
$superScienceBorderGrey: #d3d7d8 !default;
$superScienceGrey:#eef0f1 !default;
$superScienceSkyBlue: #00aeef !default;
$superScienceSelectBg: #f1f3f4 !default;
$superScienceSelectBorder: #dadbde !default;
$superScienceRequiredTextGrey: #696a6c !default;
$ssContentTileGreyBorder: #dfe1e2 !default;
$ssErrorPageOrange: #f7941d !default;
$ssGameComponentBg: #f9fafb !default;
$ssIssueTopLinksAssetBackground: #e8e8e8 !default;
$superScienceExploreBarBorder: rgba(158,157,157, 0.5);
$superScienceLearnMore: #9b9b9b !default;
$superScienceTDIcontentTilebgcolor: #eff0f2 !default;
$superScienceTDIcontent: #bd10e0 !default;
$superScienceCTAButton: #f8e81c !default;
$superScienceVideo: #7fd5e8 !default;

