.buttonContainerFullWidth {
  background-color: $yellow;
  padding: 9px;
  text-align: center;
  width: 100%;
  .btn {
    @include font($fontSL7, 27px, 0.74, $sn4blue, 1.8px);
    border-radius: 100px;
    background-color: $sn4Button;
    padding: 14px;
    max-width: 315px;
  }
}

@include respond-to('xssmall') {
  .buttonContainerFullWidth {
    .btn {
      @include font($fontSL7, 16px, 1.25, $sn4blue, 1.1px);
    }
  }
}
