.article-sidebar-component-wrapper {
    background-size: 100% auto;
    //border: 1px solid $mathvotingTitle;
    .article-section-title {
        @include font($fontC7, 28px, null, $white, 0.7px);
        font-family: 'Lato-Bold';
        background: $mathvotingTitle;
        padding: 9px 25px 6px;
    }
    .article-sidebar-content-wrapper {
        max-width: 670px;
        padding-bottom: 10px;
        .image-wrapper {
            .image-credit {
                @include font($fontB4, 11px, null, $lightGrey2, 0.3px);
                font-family: 'Lato-Regular';
            }
        }
        .article-section-content {
            .article-section-title {
                @include font($fontB8, 24px, 1.17, $sn4FaqAnsQuestion, 1px);
            }
            .article-section-text {
                @include font($fontB4, 18px, 1.67, $black, 1px);
                font-family: 'Lato-Regular';
                p {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &.left,
        &.right {
            display: flex;
            padding-right: 6px;
            .image-wrapper {
                max-width: 300px;
                flex: 0 0 46%;
                width: 46%;
                margin-top: 10px;
            }
            .article-section-content {
                flex-grow: 1;
            }
        }
        &.right {
            .image-wrapper {
                margin-right: 44px;
                margin-left: 10px;
                .image-credit {
                    padding: 8px 0 0;
                    text-align: left;
                    line-height: normal;
                }
            }
            .article-section-content {
                .article-section-title {
                    padding: 23px 0 0;
                }
                .article-section-text {
                    padding: 9px 0 0;
                }
            }
        }
        &.left {
            .image-wrapper {
                margin-left: 43px;
                .image-credit {
                    padding: 8px 0 0;
                    text-align: right;
                }
            }
            .article-section-content {
                padding-left: 23px;
                .article-section-text {
                    padding: 9px 0 0;
                }
            }
        }
        &.top {
            padding: 25px 25px 17px;
            .close {
                opacity: 1;
            }
            .article-section-title {
                @include font($fontB8, 30px, 1.07, $articleSidebarTitle);
            }
            .image-wrapper {
                .image-icon-container {
                    position: relative;
                    .cm-image-wrapper {
                        cursor: pointer;
                    }
                    .popup-img-icon {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        cursor: pointer;
                    }
                    margin-top: 20px;
                }
                .image-credit {
                    @include font($fontB4, 11px, null, $lightGrey2, 0.3px);
                    margin-top: 11.1px;
                    text-align: right;
                    font-family: 'Lato-Regular';
                }
            }
            .article-section-content {
                .article-section-text {
                    margin-top: 10px;
                    @include font($fontB4, 18px, 1.44, $black, 1px);
                    font-family: 'Lato-Regular';
                }
            }
        }
        &.bottom {
            .article-section-title {
                @include font($fontC7, 28px, null, $white, 0.7px);
                font-family: 'Lato-Bold';
                background-color: $mathvotingTitle;
                padding: 9px 25px 6px;
            }
            .image-wrapper {
                padding: 16px 8px 0;
                .image-credit {
                    @include font($fontB4, 11px, null, $lightGrey2, 0.3px);
                    font-family: 'Lato-Regular';
                    margin-top: 8px;
                    text-align: right;
                }
            }
            .article-section-content {
                .article-section-text {
                    @include font($fontC6, 18px, null, $gray, 0.5px);
                    padding: 10px 13.9px 0 23px;
                    line-height: normal;
                    font-family: 'Lato-Regular';
                }
            }
        }
    }
}
