.buttonContainerFullWidth {
    text-align: center;
    padding: 9px 0;
    background-color: $lime;

    .btn {
        @include font($font09, 26px, 0.77, $black, 2px);
        border-radius: 100px;
        max-width: 315px;
        background-color: $marketingJuniorCTADefault;
        padding: 13px 0;
    }

    @include respond-to ('xssmall') {
        padding: 0;

        .btn {
            @include font($font09, 16px, 1.25, $black, 1.2px);
            max-width: 100%;
            padding: 9.34px 0;
            border-radius: 0;
            padding: 11px 0;
            background-color: $juniorSeeAllButtonGreen;
        }
    }
}
