<div class="textHyperlink-container flexible-title-hyperlink {{titlePosition}}">
    <sw-image ng-if="imageUrl" src="{{imageUrl}}" alt="Flexible Title Hyperlink image" height="auto" width="auto"></sw-image>
<div class="textHyperlink-hash-container">
    <div class="textHyperlink-hash-content"></div>
</div>
    <div class="textHyperlink-wrapper" ng-style="{'background-color' : backgroundColor}">
        <h2 class="textHyperlink-text" ng-style="{'background-color' : backgroundColor,'color' : color, 'font-size': titleFontSize+'px'}" ng-bind-html="title">{{title}}<span class="textHyperlink-count" ng-if="recordsCount">({{recordsCount}})</span></h2>
        <a href="{{hyperLinkUrl}}" class="textHyperlink-link pull-right" ng-if="hyperLinkText">{{hyperLinkText}}<span class="icon sw-icon icon-right right-arrow"></span></a>
    </div>
    <a href="{{hyperLinkUrl}}" class="textHyperlink-link pull-right" ng-if="hyperLinkText">{{hyperLinkText}}<span class="icon sw-icon icon-right right-arrow"></span></a>
</div>