.online-resources {
  padding-top: 43px;
  .online-resources-head {
    @include font($fontSL9, 33px, 1.21, $upfrontBorderBottomColor, 1.3px);
  }
  .marketing-video-game-container {
    border-radius: 8px;
    border: 1px solid $upfrontVideoGameBorderColor;
    background-size: 3.8%;
    .marketing-video-container {
      padding: 0 37px;
      margin-top: -21px;
      .marketing-video-container-title {
        span {
          @include font($fontSL5, 20px, 2, $upfrontContentTileDesc);
          display: inline-block;
          padding: 0;
          background: $white;
          p {
            margin-bottom: 12px;
          }
        }
      }
      .marketing-content-tile-container {
        .content-tile-body {
          .game-video-wrapper {
            .image-container {
              background: transparent;
            }
          }
        }
      }
    }
  }
}

@include respond-to ('xssmall') {
  .online-resources {
    padding-top: 46px;
    .online-resources-head {
      @include font($fontSL9, 26px, 1.08, $upfrontBorderBottomColor, 1.3px);
      margin-bottom: 19px;
      padding: 0 37px;
    }
    .online-resources-head-image {
      padding-left: 21px;
    }
    .marketing-video-game-container {
      margin-top: 25.6px;
      .marketing-video-container {
        padding: 0 31px;
        .marketing-video-container-title {
          margin-bottom: 8px;
          span {
            @include font($fontSL5, 20px, 2, $upfrontContentTileDesc);
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
