.cm-migration-image-container {
    .image-popup-image-layout {
        .image-popup-image-container{
            border: solid 1px rgba(150, 150, 150, 0.37);
            .caption-section {
                padding: 0;
                .img-popup-credits{
                    @include font($fontP4, 10px, null, $gray, normal);
                    line-height: normal;
                    margin-top: 2px;
                    margin-left: 11px;
                    margin-bottom: 5px;
                }
                .img-popup-caption{
                    @include font($fontP7, 18px, null, $titleHyperlinkColor, normal);
                    margin-left: 14px;
                    line-height: normal;
                    margin-top: 5px;
                    padding-bottom: 16px;
                }
            }
        }
    }
}
