.article-resources-main-container {
    .article-resources-content {

        .see-all {

            h5 {
                text-align: center;
                margin:0;
                [data-state="expand"], [data-state="collapse"] {
                    background-color: $juniorSearchButtonGreen;
                    margin-top: 25px;
                    padding: 11px 16px 9px 23.4px;
                    min-width:357px;
                    span {
                        &.title{
                            vertical-align: middle;
                            text-transform: uppercase;
                            @include font($fontPE4, 14px, 1.43, $black, 0.3px);
                            text-align:center;
                        }
                        &.sw-icon {

                            &.expand-collapse-arrow {
                                margin-top: 1px;
                                margin-left: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
