<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Configure Marketing - Subscribe About Your Subscription</div>
<div class="about-your-subscription" style="background-color: ${properties.backgroundColor @ context = 'styleString'}">
    <div class="row mar0 title">
        ${properties.title @ context = 'html'}
    </div>
    <div class="row mar0 description">
        ${properties.description @ context = 'html'}
    </div>
    <div class="row mar0 secondary-title">
        ${properties.secondaryTitle @ context = 'html'}
    </div>
    <div class="row mar0 secondary-description">
        ${properties.secondaryDescription @ context = 'html'}
    </div>
    <div class="form-group row mar0">
        <label class="password-label" for="subscriptionPwd">${properties.inputLabel @ context = 'html'}</label>
        <div class="row mar0">
            <div class="sub-password col-xs-12 col-sm-9 pad0">
                <input type="password" id="subscriptionPwd" class="form-control">
            </div>
            <div class="sub-btn col-xs-12 col-sm-3">
                <button class="form-control">${properties.buttonLabel @ context = 'html'}</button>
            </div>
        </div>
    </div>
</div>
