.top-links-component-main-wrapper {
    .top-links-component-container {
        .hash-container {
            display: none;
        }
        .top-links-content-wrapper {
            padding: 45px 40px 108px 69px;
            .image-wrapper {
                .magazine-view-button {
                    text-transform: capitalize;
                    margin-top: 32.9px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    @include font($fontSL7, 16px, 1.25, $white, 0.3px);
                    background-color:$upfrontVotingCastVote;
                }
            }
            .text-wrapper {
                padding-left: 51px;
                width: 80.10%;
                .title-icon-wrapper {
                    margin-top: -7px;
                    .title-placeholder {
                       @include font($fontK9, 36px, 0.89, $black, 1.5px);
                    }
                   
                    padding-bottom: 15px;
                    border-bottom: 4px solid $black;
                    
                }
                .description {
                    margin-top: 19px;
                   @include font($fontSL7, 15px, 1.6, $upfrontIaggregatorButtonBackgroundBlue, 0.5px);
                }
                .featured-assets-wrapper {
                    margin-top:7px;
                    .featured-asset {
                        .upfront-content-tile-container {
                            border: 0;
                            .content-tile-body {
                                   background: transparent;            
                                   border:0;
                                   height:213px;                           
                                .title {                                  
                                    @include font($fontSL5, 18px, 1.17, $black, 0.3px);
                                }
                                
                                .row{
                                    display:none;
                                    &.upfront-content-tile-image,&.upfront-content-tile-title{
                                     display:block;
                                    }
                                }
                            }
                        }
                    }
                }
                .key-assets-wrapper {
                    margin-top: 30px;
                    .key-asset-container {
                        height: 85px;
                        background-color: $issueTopKeyAssetsBackground;
                        border-bottom: 0;
                        .key-asset {
                            .key-asset-name {
                                @include font($fontSL7, 14px, 1, $black, 0.5px);
                            }
                        }
                        .bottomcolor-container {
                            height: 4px;
                            background-color: $upfrontVotingCastVote;
                        }
                    }
                }
            }
        }
    }
}