.recent-issues-container {
    padding: 0 62px 55px 63px;
    background-color: $white;
    margin-top: -2px;

    .recent-issue-content-wrapper {
        width: 20%;
        margin-top: 10px;

        &:nth-child(5n+1) {
            clear: left;
        }

        &:nth-child(-n+5) {
            margin-top: 0;
        }

        .recent-issue-date {
            margin-top: 10px;
            @include font($fontN5, 18px, 1.17, $black, 0.5px);
        }
    }
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .recent-issues-container {
        .recent-issue-content-wrapper {
            .recent-issue-img-container {
                height: 195px;
            }
        }
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .recent-issues-container {
        .recent-issue-content-wrapper {
            .recent-issue-img-container {
                height: 240px;
            }
        }
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    .recent-issues-container {
        .recent-issue-content-wrapper {
            .recent-issue-img-container {
                height: 260px;
            }
        }
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .recent-issues-container {
        .recent-issue-content-wrapper {
            .recent-issue-img-container {
                height: 285px;
            }
        }
    }
}
@media only screen and (min-width: 1366px) and (max-width: 1440px) {
    .recent-issues-container {
        .recent-issue-content-wrapper {
            .recent-issue-img-container {
                height: 303px;
            }
        }
    }
}
