.textHyperlink-container {
    min-height: 58.2px;
    margin-bottom: 34.8px;

    .textHyperlink-hash-container {
        .textHyperlink-hash-content {
            display: none;
        }
    }

    .textHyperlink-wrapper {
        background: $resourcesColor;
        position: relative;
        height: 40px;
        margin-bottom: 20px;

        .textHyperlink-text {
            @include font($fontS7, 28px, 1.14, $white, 1px);
            display: inline-block;
            background: $resourcesColor;
            padding: 13px 40px;
            margin: 0;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 0 0 50px 0;
            bottom: inherit;

            &::before {
                content: '';
                width: 23px;
                height: 20px;
                display: block;
                position: absolute;
                right: 3px;
                top: 40px;
                background: $white;
                z-index: 1;
                transform: skew(-30deg);
                @include radius(4px);
            }

            &::after {
                content: '';
                height: 27px;
                width: 27px;
                position: absolute;
                bottom: 0;
                right: 19px;
                background: inherit;
                border-radius: 5px;
                z-index: 9;
                transform: skew(-30deg);
            }
            
        }

        .textHyperlink-link {
                display: none;
            }
    }

    .textHyperlink-link {
        @include font($font09, 14px, 1, $contentTileSubjectBlue, 0.5px);
        position: relative;
        text-decoration: none;
        margin-right: 40px;
        display: block;

        .icon {
            &.icon-right {
                display: inline-block;
                margin-left: 3.4px;
                width: 7.2px;
                height: 12px;
                position: relative;
                top: 1px;
            }
        }
    }
}
