.marketing-app-tdi-component {
  &.contentTile {
    padding-bottom: 40px;
    background-color: $sn4BgGrey;
    .app-tdi-header {
      p {
        @include font($fontSE9, 35px, 1.14, $sn4TDItitleColor, null);
      }
    }
    .app-tdi-content {
      padding-bottom: 10px;
      text-align: center;
      p {
        @include font($fontSE9, 23px, 1.39, $sn4TDIdescription, 0.7px);
      }
    }
  }
  .app-tdi-header {
    p {
      @include font($fontSE9, 35px, 1.14, $sn4TDItitleColor, null);
    }
  }
  .app-tdi-content {
    p {
      @include font($fontSL7, 30px, 1.57, $sn4TDIdescription, null);
      .hyperlink {
        @include font($fontSL5, 24px, 1.96, $sn4TDIgray, null);
      }
    }
  }
  .app-description {
    .desc {
      @include font($fontSL5, 22px, 1.23, $sn4TDIbuttonDescription);
    }
    .secondary-button {
      @include font($fontSL9, 15px, 1.33, $white, 1.2px);
      padding: 10px 24px;
    }
  }
}
@include respond-to('xssmall') {
  .marketing-app-tdi-component {
    &.contentTile {
      background-color: $sn4BgGrey;
      .app-tdi-header {
        p {
          @include font($fontSE9, 30px, 1, $sn4TDItitleColor, null);
        }
      }
      .app-tdi-content {
        p {
          @include font($fontSE9, 18px, 1.78, $sn4TDIdescription, 0.5px);
        }
      }
    }
    .app-tdi-header {
      p {
        @include font($fontSE9, 30px, 1, $sn4TDICarouselTitleColor, null);
      }
    }
    .app-tdi-content {
      p {
        @include font($fontSL7, 20px, 1.2, $sn4TDIdescription, null);
        .hyperlink {
          @include font($fontSL5, 14px, 1.71, $sn4TDIgray, null);
        }
      }
    }
    .app-description {
      .desc {
        @include font($fontSL5, 18px, 1.11, $sn4TDIbuttonDescription);
      }
      .secondary-button {
        @include font($fontSL9, 13px, 1.54, $white, 1px);
        border-radius: 8px;
        max-width: 160px;
      }
    }
    &.mobileCarousel {
      background-image: radial-gradient(circle at 52% 44%, $white, $sn4bgColorComponent);
    }
    .carousel {
      .item {
        padding-bottom: 80px;
      }
      .carousel-indicators {
        margin-bottom: 30px;
      }
    }
  }
}
