.issueHigh-wrapper {
    background-color: transparent;
    margin-top: -10px;

    .issueHigh-content {
        padding-bottom: 0;
        padding: 0;

        .issueHigh-header {
            .text-desc {
                margin-bottom: 0;

                .text-desc-bold {
                    display: none;
                }

                .text-desc-normal {
                    display: none;
                }

                .issue-high-icons {
                    bottom: 0;
                    margin-bottom: 21.33px;
                    margin-top: 35px;
                }
            }
        }

        .issue-highlighting-img {
            padding-left: 69px;
            padding-right: 26px;

            .issue-highlight-img-bg {
                background: none;
                padding: 0;
                border: 0;

                .issue-img-center {
                    .issue-high-img-class {
                        max-width: 267px !important;
                        max-height: 358px !important;
                    }

                    img {
                        max-height: 358px !important;
                        box-shadow: none;
                    }
                }
            }

            .issue-mag-view-container {
                width: 265px;
                position: initial;
                margin: 25px auto 0;

                .issue-mag-view {
                    @include font($fontSL7, 18px, 1.11, $black, 0.5px);
                    background: $spinGlobalNavButton;
                    min-height: 40px;
                    width: 100%;
                    text-transform: uppercase; 
                }
            }
        }

        .issue-tile-wrapper {
            padding-left: 24px;
            padding-right: 22px;

            .issue-high-des-sec-tiles {
                height: 200px;
                margin-bottom: 20px;

                .des-sec-tiles-boxshadow {
                    box-shadow: none;
                    border-radius: 8px;

                    .issueHigh-titles {
                        border: 0 none;
                        min-height: 50px;
                        background: #793e96;
                        border-radius: 8px 8px 0 0;

                        a {
                            @include font($fontSL5, 20px, 0.9, $white, 0.6px);
                            padding: 16px 20px;
                        }
                    }

                    .key-asset-content {
                        border: 2px solid $featuredborderGreySN3;
                        border-top: 0;
                        border-radius: 0 0 8px 8px;
                        padding: 25px 20px 6.34px;
                        min-height: 150px;

                        .key-asset-desc {
                            @include font($fontU4, 17px, 1.41, $black, 0.5px);

                            &.tile-desc {
                                max-height: 58px;
                                height: 58px;
                                margin-bottom: 20px;
                            }
                        }

                        .social-icons {
                            .sw-icon {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }

        .issueHigh-header {
            .magazine-issue-high-component-bg {
                margin-top: 0;

                .resources-container {
                    float: left;
                    min-height: 458px;

                    .background-color-div-sn3 {
                        background-color: $snIssueHighBgColor;
                        min-height: 459px;
                        position: absolute;
                        max-width: 1440px;
                        margin-top: 81px;
                        z-index: -1;
                        width: 100%;
                    }
                }
            }

            .textHyperlink-container-wrapper {
                .textHyperlink-wrapper {
                    height: auto;

                    .textHyperlink-text {
                        color: $geoFaqBorder;
                        line-height: 1;
                        letter-spacing: 0.5px;
                        padding: 0.49px 0 0;
                    }
                }

                .text-link-connector {
                    background-color: $geoFaqBorder;
                    height: 5px;
                    top: 2px;
                    margin-left: 21px;

                    &.hide-ruler {
                        visibility: visible;
                    }
                }

                .textHyperlink-link {
                    color: $textHyperlinkColor;
                    display: block;
                    margin-left: 10px;
                    top: 0;

                    .icon {
                        margin-left: 7.6px;
                    }
                }
            }
        }
    }
}

.top-links-component-main-wrapper {
    .top-links-component-container {
        .hash-container {
            display: none;
        }
        .top-links-content-wrapper {
            padding: 45.5px 40px 49px 68px;
            .image-wrapper {
                .magazine-view-button {
                    text-transform: capitalize;
                    margin-top: 33px;
                    padding-top: 9px;
                    padding-bottom: 11px;
                    @include font($fontSL7, 18px, 1.11, $black, 0.4px);
                    background-color: $spinTopLinksButtonColor;
                }
            }
            .text-wrapper {
                padding-left: 54px;
                width: 80.10%;
                .title-icon-wrapper {
                    .title-placeholder {
                       @include font($fontSE9, 32px, 1, $geoFaqBorder, 0.2px);
                    }
                    padding-bottom:14px;
                    border-bottom:3px solid $geoFaqBorder;
                }
                .description {
                    margin-top: 13px;
                   @include font($fontSL7, 15px, 1.6, $black, 0.5px);
                }
                .featured-assets-wrapper {
                    margin-top:13px;
                    .featured-asset {
                        .content-tile-container {
                            border: 0;
                            .content-tile-body {                                                               
                                .title {
                                    @include font($fontSL4, 18px, 1.17, $black, 0.3px);
                                }
                            }
                        }
                    }
                }
                .key-assets-wrapper {
                    margin-top: 30px;
                    .key-asset-container {
                        height: 85px;
                        background-color: $issueTopKeyAssetsBackground;
                        border-bottom: 0;
                        .key-asset {
                            .key-asset-name {
                                @include font($fontSL5, 14px, 1, $black, 0.5px);
                            }
                        }
                        .bottomcolor-container {
                            height: 4px;
                            background-color: $geoFaqBorder;
                        }
                    }
                }
            }
        }
    }
}