.app-nav-bar-main-container {
    .logged-in-dropdown {
        .login-menu {
            top: 73px;

            .dropdown-title, .subscription {
                @include font($fontSE9, 14px, 1, $black, normal);
            }

            #sdm-portal-link, #sdm-logout {
                @include font($fontSL7, 14px, 1, $textHyperlinkColor, 0.5px);
                color: $textHyperlinkColor !important;
            }

            .dropdown-title, .subscription {
                @include font($fontSE9, 14px, 1, $black, normal);
            }

            #sdm-portal-link, #sdm-logout {
                @include font($fontSL7, 14px, 1, $textHyperlinkColor, 0.5px);
                color: $textHyperlinkColor !important;
            }
        }

        &.open {
            a:focus {
                background-color: $textHyperlinkColor;
            }

            .login-toggle {
                background-color: $textHyperlinkColor;

                &:hover {
                    background-color: $textHyperlinkColor;
                }
            }
        }

        .login-toggle {
            padding-top: 17px;
            padding-bottom: 13px;
            margin-right: 25px;
        }
    }

    .app-nav-primary {
        background-color: $textHyperlinkColor;
        box-shadow: none;
    }

    .app-navbar-secondary {
        background-color: $snGlobalNavExploreColor;
        border-bottom: 0;
    }

    .navbar-default {
        border-bottom: 0;
    }

    .app-nav-main-item-link {
        @include font($fontSL7, 13px, null, $white, 0.5px);
        line-height: normal;
        padding: 28px 18px 0 18px;

        &.bookmarks {
            padding-left: 20px;
            padding-right: 14px;
        }
    }

    .secondary-items {
        li {
            a {
                @include font($fontSL7, 12px, 1.17, $allIssuesTitleColor, 1.4px);
                padding-left: 21px;
                padding-right: 21px;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontSL7, 12px, 1.17, $allIssuesTitleColor, 1.4px);
                }
            }
        }

        .explore {
            @include font($fontSL9, 13px, 1.08, $globalNavExporeGray, 0.5px);
            padding-left: 26.5px;            

            &:active,
            &:focus,
            &:hover {
                @include font($fontSL9, 13px, 1.08, $globalNavExporeGray, 0.5px);
            }
        }

        .see-all-subjects {
            a {
                padding-right: 25px;
                @include font($fontSL7, 15px, 0.93, $sn3lowerFooterBlueText, 0.5px);

                &:active,
                &:focus,
                &:hover {
                   @include font($fontSL7, 15px, 0.93, $sn3lowerFooterBlueText, 0.5px);
                }
            }
        }
    }

    .science-logo {
        padding-top: 10px;
        padding-bottom: 14px;
        position: relative;
        cursor: pointer;
        width: 209px;
        padding-left: 20px;
        margin-left: 5px;
        margin-right: 0;

        &::after {
            content: 'Edition 3';
            position: relative;
            bottom: 8px;
            @include font($fontSL7, 12px, null, $white, normal);
            line-height: normal;
            opacity: 0.8;
            vertical-align: bottom;
            cursor: pointer;
        }

        a {
            width: 66%;
            background: url('/etc/designs/scholastic/classroom-magazines-migration/scholasticnews3/images/globalNav/SN3-logo.png') no-repeat center;
            background-size: 100%;
            padding: 25.6px 0;
        }
    }

    .nav-search-form {
        margin-top: 23px;

        input {
            @include font($fontSL4, 13px, null, $globinpPlaceholdText, 0.5px);
            line-height: normal;
        }

        button {
            background-color: $IssueTeachingTitleGreen;
            @include font($fontSL7, 13px, 1.08, $white, 0.5px);
            border: 0;
        }
    }

    .login-control {
        padding-right: 25px;
        padding-top: 17px;

        li {
            a {
                @include font($fontSL9, 13px, null, $white, 0.5px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontSL9, 13px, null, $white, 0.5px);
                    line-height: normal;
                }
            }
        }

        .subscribe-text {
            @include font($fontSL7, 11px, null, $white, 0.5px);
            line-height: normal;

            &:active,
            &:focus,
            &:hover {
                @include font($fontSL7, 11px, null, $white, 0.5px);
                line-height: normal;
            }

            b {
                @include font($fontSL9, 11px, null, $white, 0.5px);
                line-height: normal;
            }
        }
    }

    @include respond-to ('small-and-down') {
        .magazine-logo-tablet-mobile {
            background: url('../../../images/globalNav/SN3-logo.png') no-repeat center;
            display: inline-block;
            width: 150px;
            height: 36px;
            position: relative;
            left: 50%;
            @include translateX(-50%);
            background-size: 59%;
            vertical-align: middle;
        }

        .app-nav-header {
            .search-logo-block {
                &:after {
                    content: 'Edition 3';
                    position: relative;
                    bottom: -4px;
                    @include font($fontSL7, 12px, null, $white, normal);
                    line-height: normal;
                    opacity: 0.8;
                    vertical-align: bottom;
                    cursor: pointer;
                }
            }
        }
    }

    @include respond-to ('xssmall') {
        .magazine-logo-tablet-mobile {
            width: 120px;
            height: 43px;
            background-size: 89%;
        }
    }
    @media (min-width:1440px) {
        .app-nav-main-item-link {
            @include font($fontSL7, 16px, null, $white, 0.5px);
            line-height: normal;
        }

        .science-logo {
            padding-left: 26px;
            padding-right: 8px;
            padding-bottom: 0;
            margin-left: 0;
            width: 230px;

            a {
                width: 71.35%;
                padding: 28.8px 0;
            }
        }

        .dropdown {
            .magazine {
                &.bookmarks {
                    @include font($fontSL7, 14px, null, $white, 0.4px);

                    &:active,
                    &:focus,
                    &:hover {
                        @include font($fontSL7, 14px, null, $white, 0.4px);
                    }
                }
            }
        }
        
        .logged-in-dropdown {
            &.open {
                a:focus {
                    background-color: $textHyperlinkColor;
                }

                .login-toggle {
                    background-color: $textHyperlinkColor;

                    &:hover {
                        background-color: $textHyperlinkColor;
                    }
                }
            }
        }        
    }
}
