<script type="text/javascript" src="/js/vendor/console.js"></script>
<% if (includeFoundation) { %>
	<script type="text/javascript" src="/js/vendor/fastclick.js"></script>
	<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
<% } else if (includeJQuery) { %>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
<% } %>

<script type="text/javascript" src="/js/main.min.js"></script>