<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
<link rel="stylesheet" type="text/css" href="/css/main.min.css" /> <% if (includeFoundation) { %>
<script type="text/javascript" src="/js/vendor/modernizr.js"></script> <% } else { %>
<script type="text/javascript" src="/js/vendor/modernizr.min.js"></script>
<% } %>