.answer-question-block{
	.answer-question{
        @include font($fontC5, 23px, 1.22, $mathSubjectsTitle, normal);
	}
	.answer-image-block{
		.answered-content{
			@include font($fontB4, 16px, 1.38, $black, 0.9px);
            p{
                a{
                    color: $mathFaqHighlightColor;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
		}
	}
}