.marketing-app-nav-bar-main-container {
    .app-nav-primary {
        background-color: $marketingGlobalHeaderBackground;
    }

    .app-navbar-secondary {
        border-bottom: 0;
        padding-left: 41px;
    }

    .science-logo {
        width: 265.2px;
        padding: 17px 0;

        a {
            background: url('../../../images/globalNav/js_logo_png.png') no-repeat center;
            background-size: 100%;
            width: 100%;
            padding: 0;
            margin-left: 15px;
            margin-top: 9px;
            height: 37.7px;
        }

        .scholastic-logo-header {
            width: 137px;
            padding-left: 22px;
        }
    }

    .secondary-items {
        li {
            a {
                @include font($font7, 10px, 1.6, $liteAsh5, 0.8px);
                padding: 13px 0 11px 28px;

                &:active,
                &:focus,
                &:hover {
                    color: $liteAsh5;
                }
            }
        }

        .explore {
            @include font($font4, 13px, 1.08, $globalNavExporeGray, 0.5px);
            padding: 13px 0;

            &:active,
            &:focus,
            &:hover {
                color: $globalNavExporeGray;
            }
        }

        .see-all-subjects {
            float: left;

            .subjects {
                text-transform: uppercase;
            }
        }
    }

    .login-control {
        li {
            a {
                @include font($font8, 13px, null, $white, 0.4px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($font8, 13px, null, $white, 0.4px);
                    line-height: normal;
                }
            }
        }
    }

    .loginPrompt-wrapper {
        .login-dialog {
            .login-content {
                .login-body {
                    .student-sec,
                    .teacher-sec {
                        label {
                            & > input[type="radio"] {
                                &+ span {
                                    &.sw-icon {
                                        top: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .cta-button-container {
        .primary-button {
            @include font($font07, 20px, 1, $black);
            background: $lime;
            border-radius: 0;
        }

        .secondary-button {
            @include font($font07, 20px, null, $white);
            border-width: 2px;
            border-radius: 5px;
            margin-right: 26px;
        }
    }

    .dropdown {
        .app-nav-main-item-link {
            @include font($font09, 16px, null, $white, 0.5px);
        }

        &.js-dropdown-dynamic {
            padding-top: 55px;

            &:nth-child(5) {
                padding-top: 57px;

                .app-nav-main-item-link {
                    @include font($font07, 14px, null, $white, 0.5px);
                }
            }

            &:nth-child(2) {
                .app-nav-main-item-link {
                    padding-left: 47.5px;
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-nav-bar-main-container {
        .app-nav-primary {
            background-color: $tabBgBlue;
        }

        .app-nav-header {
            .profile-icon-block {
                padding-top: 4px;

                .secondary-button {
                    @include font($font07, 16px, null, $white);
                    border-radius: 5px;
                }
            }

            .menu-icon-block {
                margin-right: 26.8px;
                padding: 6px 0 0 35px;
            }

            .search-logo-block {
                padding: 0;
                margin: 0;

                .scholastic-logo-header {
                    display: none;
                }
            }
        }

        .magazine-logo-tablet-mobile {
            width: 177.6px;
            height: 43.4px;
            margin: 10px 0 0;
            background: url('/etc/designs/scholastic/classroom-magazines-migration/junior/images/globalNav/junior-scholastic.png') no-repeat center;
            background-size: 102%;
        }

        .pop-over-menu-div {
            .js-nav-menu {
                .primary-button {
                    @include font($font07, 16px, 1.25, $black);
                    background: $lime;
                    border-radius: 0;
                }

                ul.menu-list:first-child {
                    li.dropdown {
                        &.js-dropdown {
                            a {
                                @include font($font09, 16px, null, $marketingGlobalHeaderBackground, 0.5px);
                            }
                        }
                    }
                }

                ul:first-child {
                    li {
                        &.dropdown.js-dropdown:nth-child(5) {
                            a {
                                @include font($font07, 14px, null, $marketingGlobalHeaderBackground, 0.5px);
                            }
                        }
                    }
                }

                #secondary-items-nav {
                    margin-top: 26px;
                    padding: 0 0 0 20px;

                    li {
                        a {
                            @include font($font7, 10px, 1.6, $liteAsh5, 0.8px);
                            padding-bottom: 21px;

                            &:last-child {
                                padding-bottom: 26px;
                            }
                        }
                    }
                }

                .js-dropdown {
                    &.dropdown {
                        .app-nav-main-item-link {
                            color: $marketingGlobalHeaderBackground;

                            &:active,
                            &:focus,
                            &:hover {
                                color: $marketingGlobalHeaderBackground;
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }

        .secondary-items {
            li {
                padding-right: 20px;
            }
        }

    }

}
