.pagination-directive-wrapper {
	text-align: center;

	.paginationBottom {
		display: inline-block;
		margin-top: 28px;
		margin-bottom: 51px;

		ul {
			list-style-type: none;
			margin: 0;
			padding:0;
			position: relative;
            
            &:after {
                content: '';
                display: block;
                clear: both;
            }

			li {
				float: left;
				@include font($font07, 15px, 1, $liteBlue2, 1px);

				span, a {
					vertical-align: middle;
				}

				a {
					text-transform: uppercase;
					text-decoration: none;
					@include font($font07, 15px, 1, $liteBlue2, 1px);

					&:focus, &:hover, &:active {
						text-decoration: none;
						@include font($font07, 15px, 1, $liteBlue2, 1px);
					}
				}

				&.disabled-link {
					opacity: 0.6;
					cursor: not-allowed;

					a {
						cursor: not-allowed;
					}
				}

				&.pageLabel {
					margin-left: 16px;
					margin-right: 14px;
					@include font($font07, 15px, 1, $black, 1px);
					position: relative;
					top: -3px;
				}

				.sw-icon {
					&.left-arrow {
						margin-right: 6px;
					}

					&.right-arrow {
						margin-left: 6px;
					}
				}

				select {
					border: 1px solid $liteAsh9;
					width: 50px;
					-webkit-appearance: none;
					-moz-appearance:    none;
					appearance:         none;
					background: $liteAsh10 url(../../../images/icons/sw-dropdown-arrow.png) no-repeat;
    				background-position: right 3px center;
    				padding: 4px 0 4px 10px;
    				margin-right: 4px;

    				&:focus {
    					outline: none;
    				}

					option {
						background-color: $paginationDropdownBackgroundGrey;
					}
				}
			}
		}
	}
}