.icons-buttons-container {
    margin-top: 10px;
    .icon-classname-content {
        padding-left: 0;
        padding-right: 1px;
        .icon-classname-content-pad {
            padding: 10px;
            border: 1px solid $white;
            background-color: yellowgreen;
            text-align: center;
            .icon-height-container {
                min-height: 85px;
            }
            .icon-names {
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.sw-icon {
    background: url('core/icons/Icons-ScienceWorld.png') no-repeat;
    display: inline-block;
    &.search-icon {
        background-position: -169px -19px;
        width: 40px;
        height: 40px;
    }
    &.hamburger-menu {
        background-position: -349px -191px;
        width: 32px;
        height: 38px;
    }
    &.facebook-icon {
        background-position: -109px -19px;
        width: 32px;
        height: 32px;
    }
    &.pinterest-icon {
        background-position: -109px -139px;
        width: 33px;
        height: 32px;
    }
    &.twitter-icon {
        background-position: -110px -79px;
        width: 32px;
        height: 33px;
    }
    &.person-icon {
        background-position: -169px -85px;
        width: 40px;
        height: 40px;
    }
    &.refresh-icon {
        background-position: -109px -307px;
        width: 18px;
        height: 18px;
    }
    &.page-info {
        background-position: -289px -19px;
        width: 34px;
        height: 34px;
    }
    &.down-black-arrow {
        background-position: -19px -218px;
        width: 13px;
        height: 10px;
    }
    &.down-arrow {
        background-position: -19px -139px;
        width: 13px;
        height: 9px;
    }
    &.down-white-arrow {
        background-position: -19px -255px;
        width: 14px;
        height: 9px;
    }
    &.left-arrow {
        background-position: -19px -176px;
        width: 10px;
        height: 14px;
    }
    &.right-arrow {
        background-position: -19px -97px;
        width: 9px;
        height: 15px;
    }
    &.left-grey-arrow {
        background-position: -60px -203px;
        width: 12px;
        height: 22px;
    }
    &.right-grey-arrow {
        background-position: -60px -253px;
        width: 12px;
        height: 20px;
    }
    &.down-full-arrow {
        background-position: -19px -19px;
        width: 11px;
        height: 10px;
    }
    &.left-arrow-icon {
        background-position: -109px -199px;
        width: 27px;
        height: 27px;
    }
    &.right-arrow-icon {
        background-position: -109px -253px;
        width: 27px;
        height: 27px;
    }
    &.grey-close-btn {
        background-position: -59px -300px;
        width: 15px;
        height: 16px;
    }
    &.blue-close-btn {
        background-position: -20px -58px;
        width: 10px;
        height: 11px;
    }
    &.checkbox-unchecked {
        background-position: -59px -19px;
        width: 18px;
        height: 18px;
    }
    &.checkbox-checked {
        background-position: -59px -65px;
        width: 18px;
        height: 19px;
    }
    &.checkbox-checked-disabled {
        background-position: -59px -111px;
        width: 18px;
        height: 18px;
    }
    &.bookmark-icon {
        background-position: -229px -205px;
    width: 35px;
    height: 35px;
    }
    &.bookmarked-icon {
            background-position: -229px -267px;
        width: 34px;
        height: 34px;
    }
    &.download-icon {
        background-position: -289px -81px;
        width: 34px;
        height: 34px;
    }
    &.downloaded-icon {
        background-position: -59px -157px;
        width: 18px;
        height: 18px;
    }
    &.print-icon {
        background-position: -289px -205px;
        width: 35px;
        height: 34px;
    }
    &.upload-icon {
        background-position: -289px -143px;
        width: 35px;
        height: 33px;
    }
    &.expand-icon {
        background-position: -229px -19px;
        width: 38px;
        height: 37px;
    }
    &.stack-window-icon {
        background-position: -229px -143px;
        width: 39px;
        height: 39px;
    }
    &.plus-icon {
        background-position: -169px -151px;
        width: 26px;
        height: 26px;
    }
    &.yellow-page-icon {
        background-position: -166px -199px;
        width: 54px;
        height: 56px;
    }
    &.papers-stack-icon {
        background-position: -289px -266px;
        width: 35px;
        height: 35px;
    }
    &.page-edit-icon { 
        background-position: -169px -276px;
        width: 27px;
        height: 25px;
    }
    &.sound-icon {
        background-position: -348px -84px;
        width: 27px;
        height: 19px;
    }
    &.sound-small-icon {
        background-position: -229px -653px;
        width: 24px;
        height: 19px;
    }
    &.page-arrow-icon {
        background-position: -349px -19px;
        width: 34px;
        height: 34px;
    }
    &.two-page-icon {
        background-position: -229px -81px;
        width: 35px;
        height: 35px;
    }
    &.close-icon {
        background-position: -348px -259px;
        width: 48px;
        height: 48px;
    }
    &.close-big-icon {
        background-position: -347px -141px;
        width: 24px;
        height: 24px;
    }
    &.phone-icon {
        background-position: -20px -292px;
        width: 13px;
        height: 16px;
    }
    &.video-icon {
            background-position: -17px -351px;
        width: 76px;
        height: 76px;
    }
    &.login-teacher-icon {
            background-position: -19px -451px;
        width: 75px;
        height: 70px;
    }
    &.login-student-icon {
        background-position: -19px -549px;
        width: 92px;
        height: 69px;
    }
    &.cta-btn-yellow {
        background-position: -19px -663px;
        width: 182px;
        height: 42px;
    }
    &.cta-btn-grey {
            background-position: -19px -733px;
    width: 182px;
    height: 42px;
    }
    &.expand-artResources-button-yellow {
        background-position: -20px -804px;
        width: 351px;
        height: 37px;
    }    
    &.radio-unchecked-icon {
        background-position: -169px -376px;
        width: 19px;
        height: 19px;
    }
    &.radio-checked-icon {
        background-position: -169px -334px;
        width: 19px;
        height: 19px;
    }
    &.radio-uncheck-big-icon {
        background-position: -289px -383px;
        width: 25px;
        height: 24px;
    }
    &.radio-checked-big-icon {
            background-position: -289px -334px;
    width: 24px;
    height: 24px;
    }
    &.checkbox-checked-big-icon {
        background-position: -289px -437px;
        width: 38px;
        height: 39px;
    }
    &.checkbox-unchecked-big-icon {
        background-position: -289px -503px;
        width: 39px;
        height: 39px;
    }
    &.number-one-icon{
        background-position: -229px -377px;
        width: 43px;
        height: 37px;
    }
    &.number-two-icon{
        background-position: -229px -439px;
        width: 43px;
        height: 37px;
    }
    &.number-three-icon{
        background-position: -229px -501px;
        width: 43px;
        height: 37px;
    }
    &.medium-size-blue-down-full-arrow{
        background-position: -169px -475px;
        width: 10px;
        height: 8px;
    }
    &.dropdown-arrow{
        background-position: -169px -514px;
        width: 8px;
        height: 14px;
    }
    &.large-size-blue-down-full-arrow{
        background-position: -169px -623px;
        width: 12px;
        height: 11px;
    }
    &.grey-up-full-arrow{
        background-position: -169px -553px;
        width: 9px;
        height: 7px;
    }
    &.black-up-full-arrow{
        background-position: -169px -588px;
        width: 9px;
        height: 7px;
    }
    &.user-dropdown-blue-arrow{
        background-position: -229px -572px;
        width: 14px;
        height: 11px;
    }
    &.white-crossMark-icon {
        background-position: -228px -612px;
        width: 14px;
        height: 14px;
    } 
    &.user-dropdown-white-arrow {
        background-position: -109px -366px;
        width: 15px;
        height: 10px;
    } 
    &.copy-link-btn {
        background-position: -229px -703px;
        width: 124px;
        height: 29px;
    }
    &.settings-icon {
        background-position: -349px -330px;
        width: 20px;
        height: 20px;
    }
    &.dashboard-icon {
        background-position: -349px -378px;
        width: 22px;
        height: 18px;
    }
    &.scholasctic-icon {
        background-position: -229px -753px;
        width: 139px;
        height: 19px;
    }
    &.chat-icon {
        background-position: -289px -663px;
        width: 17px;
        height: 17px;
    }
    &.grey-close-btn {
        background-position: -59px -301px;
        width: 14px;
        height: 14px;
    }
    &.download-black-icon {
        background-position: -349px -418px;
        height: 19px;
        width: 19px;
    }
    &.bookmark-nonrounded {
        background-position: -349px -459px;
        width: 14px;
        height: 19px;
    }
    &.bookmarked-nonrounded {
        background-position: -349px -497px;
        width: 14px;
        height: 19px;
    }

}


.sw-icon {
    background: url('core/icons/Icons-Upfront.png') no-repeat;
    display: inline-block;
    &.search-icon {
        background-position: -169px -19px;
        width: 40px;
        height: 40px;
    }
    &.two-page-big-icon{
        background-position: -170px -420px;
        width: 40px;
        height: 40px;
    }
    &.phone-liteblue-icon{
        background-position: -231px -336px;
        width: 12px;
        height: 12px;
    }
    &.person-icon {
    background-position: -170px -86px;
    width: 40px;
    height: 40px;
}
    &.down-arrow {
    background-position: -19px -139px;
    width: 14px;
    height: 9px;
}
    &.down-black-arrow {
    background-position: -19px -176px;
    width: 9px;
    height: 14px;
}
    &.right-grey-arrow {
    background-position: -60px -253px;
    width: 11px;
    height: 20px;
}
    &.down-full-arrow {
    background-position: -19px -19px;
    width: 10px;
    height: 10px;
}
    &.left-arrow-icon {
    background-position: -109px -199px;
    width: 26px;
    height: 26px;
}
    &.right-arrow-icon {
    background-position: -109px -253px;
    width: 26px;
    height: 26px;
}
    &.bookmark-icon {
    background-position: -228px -205px;
    width: 35px;
    height: 35px;
}
    &.checkbox-checked {
    background-position: -59px -65px;
    width: 18px;
    height: 18px;
}
    &.blue-close-btn {
    background-position: -20px -58px;
    width: 10px;
    height: 10px;
}
    &.grey-close-btn {
    background-position: -58px -300px;
    width: 16px;
    height: 16px;
}
    &.print-icon {
    background-position: -289px -205px;
    width: 34px;
    height: 34px;
}
    &.upload-icon {
    background-position: -289px -143px;
    width: 34px;
    height: 34px;
}
    &.expand-icon {
    background-position: -229px -19px;
    width: 38px;
    height: 38px;
}
    &.sound-icon {
    background-position: -348px -84px;
    width: 27px;
    height: 20px;
}
    &.page-edit-icon {
    background-position: -169px -275px;
    width: 26px;
    height: 26px;
}
    &.yellow-page-icon {
    background-position: -161px -199px;
    width: 52px;
    height: 52px;
}
    &.plus-icon {
    background-position: -177px -150px;
    width: 26px;
    height: 27px;
}
    &.stack-window-icon {
    background-position: -229px -142px;
    width: 39px;
    height: 39px;
}
    &.sound-small-icon {
    background-position: -228px -651px;
    width: 25px;
    height: 19px;
}
    &.page-arrow-icon {
    background-position: -348px -18px;
    width: 35px;
    height: 35px;
}
    &.two-page-icon {
    background-position: -228px -80px;
    width: 35px;
    height: 35px;
}
    &.close-icon {
    background-position: -347px -258px;
    width: 49px;
    height: 48px;
}
    &.cta-btn-yellow {
    background-position: -19px -661px;
    width: 182px;
    height: 44px;
}
    &.login-student-icon {
    background-position: -19px -548px;
    width: 92px;
    height: 70px;
}
    &.login-teacher-icon {
    background-position: -18px -450px;
    width: 76px;
    height: 71px;
}
    &.video-icon {
    background-position: -17px -349px;
    width: 75px;
    height: 75px;
}
    &.cta-btn-grey {
    background-position: -19px -732px;
    width: 182px;
    height: 44px;
}
    &.radio-checked-icon {
    background-position: -168px -333px;
    width: 19px;
    height: 19px;
}
    &.radio-checked-big-icon {
    background-position: -289px -333px;
    width: 24px;
    height: 25px;
}
    &.checkbox-checked-big-icon {
    background-position: -289px -436px;
    width: 38px;
    height: 39px;
}
    &.number-three-icon {
    background-position: -227px -500px;
    width: 43px;
    height: 42px;
}
    &.number-two-icon {
    background-position: -227px -439px;
    width: 43px;
    height: 41px;
}
    &.number-one-icon {
    background-position: -227px -377px;
    width: 43px;
    height: 41px;
}
    &.checkbox-unchecked-big-icon {
    background-position: -289px -502px;
    width: 39px;
    height: 39px;
}
    &.dropdown-arrow {
    background-position: -169px -513px;
    width: 8px;
    height: 15px;
}
    &.large-size-blue-down-full-arrow {
    background-position: -169px -623px;
    width: 12px;
    height: 12px;
}
    &.user-dropdown-blue-arrow {
    background-position: -229px -573px;
    width: 14px;
    height: 10px;
}
    &.dashboard-icon {
    background-position: -348px -377px;
    width: 22px;
    height: 18px;
}
    &.user-dropdown-white-arrow {
    background-position: -109px -365px;
    width: 15px;
    height: 10px;
}
    &.double-arrows-blueRounded-icon {
    background-position: -272px -559px;
    width: 74px;
    height: 74px;
}
    &.scholasctic-icon {
    background-position: -229px -756px;
    width: 139px;
    height: 19px;
}
    &.chat-icon {
    background-position: -288px -662px;
    width: 18px;
    height: 17px;
}
    &.download-black-icon {
    background-position: -349px -417px;
    height: 19px;
    width: 19px;
}
    &.bookmark-nonrounded {
    background-position: -349px -459px;
    width: 14px;
    height: 18px;
}
    &.bookmarked-nonrounded {
    background-position: -349px -497px;
    width: 14px;
    height: 18px;
}
    &.expand-artResources-button-yellow {
        background-position: -19px -803px;
        width: 353px;
        height: 39px;
    }
    &.radio-unchecked-big-icon {
        background-position: -290px -384px;
        width: 22px;
        height: 22px;
    }
    &.bulb-icon {
        background-position: -110px -405px;
        width: 25px;
        height: 42px;
    } 
    &.slide-show-grey-left-arrow-icon{
        background-position: -21px -874px;
        width: 58px;
        height: 58px;
    }
    &.slide-show-red-right-arrow-icon{
        background-position: -86px -874px;
        width: 58px;
        height: 58px;
    }
    &.big-speaker-icon{
        background-position: -186px -887px;
        width: 42px;
        height: 32px;
    }
    &.slide-show-grey-right-arrow-icon{
        background-position: -21px -874px;
        width: 58px;
        height: 58px;
        transform:rotate(180deg);
    }
    &.slide-show-red-left-arrow-icon{
        background-position: -86px -874px;
        width: 58px;
        height: 58px;
        transform:rotate(180deg);
    }
}