.article-toolbar-layout {
    .article-toolbar {
        border: solid 1px $titleHyperlinkColor;
        .open-flip-book{
            border-top: 1px solid $liteAsh2;
            border-bottom: 1px solid $liteAsh2;
        }
        .jump-to-block,
        .drop-down-sec{
            border-bottom: 1px solid $juniorToolbarBottomBorder;
        }
    	.menu-list{
            .icon-bar {
                ul {
                    padding-left: 27px;
                }
            }
    		.icon-description{
                @include font($fontP7, 13px, 1.38, $titleHyperlinkColor, normal);
    		}
    		.title{
                @include font($fontP7, 12px, 1.33, $jrIssueBorderBottom, 0.9px);
    		}
	        .drop-down {
	            background: $juniorBlue url("../../../images/icons/junior-dropdown-arrow.png") no-repeat; 
	            border: 1px solid $juniorBorderBlue;
	            background-position: right 10px center;
                &:disabled {
                    background: $juniorBlue;
                }
	        }
        }
    }
}
