.app-nav-bar-main-container {
    .logged-in-dropdown {
        .login-menu {
            top:78px;
            &:before , &:after{
                left:256px;
            }
            
            .dropdown-title, .subscription{
                @include font($fontSE9, 14px, 1, $black, normal);
            }

            #sdm-logout,
            #sdm-portal-link {
                @include font($fontSL7, 14px, 1, $textHyperlinkColor, 0.5px);
                color: $textHyperlinkColor !important;
            }

            .dropdown-title, .subscription{
                @include font($fontSE9, 14px, 1, $black, normal);
            }

            #sdm-logout,
            #sdm-portal-link {
                @include font($fontSL7, 14px, 1, $textHyperlinkColor, 0.5px);
                color: $textHyperlinkColor !important;
            }
        }

        &.open {
            a:focus {
                background-color: $spinGlobalNavPrimarColor;
            }

            .login-toggle {
                background-color: $spinGlobalNavPrimarColor;

                &:hover {
                    background-color: $spinGlobalNavPrimarColor;
                }
            }
        }
    }

    .app-nav-primary {
        background-color: $spinGlobalNavPrimarColor;
        min-height: 90px;
        box-shadow: none;
    }

    .navbar-default {
        border-bottom: 0;

        &.navbar {
            margin-bottom: 8.5px;
        }
    }

    .app-nav-main-item-link {
        @include font($fontSL7, 13px, null, $white, 0.5px);
        line-height: normal;
        padding-top: 33px;

        &.bookmarks {
            padding-left: 20px;
            padding-right: 14px;
        }
    }

    .science-logo {
        padding: 0;
        position: relative;
        cursor: pointer;
        width: 209px;
        padding-left: 20px;
        margin-left: 0;
        margin-right: 0;

        &::after {
            content: '3-6';
            position: absolute;
            bottom: -3.4px;
            right: 0;
            @include font($fontSL5, 11px, null, $white, normal);
            line-height: normal;
            opacity: 0.8;
            vertical-align: bottom;
            cursor: pointer;
        }

        a {
            width: 100%;
            background: url('../../../images/globalNav/sciencespin-logo.png') no-repeat center;
            background-size: 100%;
            padding: 35px 0;
        }
    }

    .nav-search-form {
        margin-top: 30px;

        input {
            @include font($fontSL4, 13px, null, $globinpPlaceholdText, 0.5px);
            line-height: normal;
        }

        button {
            background-color: $spinGlobalNavButton;
            @include font($fontSL7, 13px, 1.08, $black, 0.5px);
            border: 0;
        }
    }

    .app-navbar-secondary {
        border: 1px solid $spinExploreBorderColor;
        border-top: 0;
        background-color: $white;
    }

    .secondary-items {
        width: 100%;

        li {
            a {
                @include font($fontS7, 12px, 1.17, $spinGlobalNavPrimarColor, 1.4px);
                padding-left: 21px;
                padding-right: 21px;

                &:active,
                &:focus,
                &:hover {
                    color: $spinGlobalNavPrimarColor;
                }
            }
        }

        .see-all-subjects {
            a {
                @include font($fontS7, 12px, 1.17, $spinGlobalNavPrimarColor, 1.4px);

                &:active,
                &:focus,
                &:hover {
                    @include font($fontS7, 12px, 1.17, $spinGlobalNavPrimarColor, 1.4px);
                }
            }
        }

        .explore {
            padding-left: 28px;
            @include font($fontS7, 13px, 1.08, $globalNavExporeGray, 0.5px);
        }
    }

    .logged-in-dropdown {
        .login-toggle {
            margin-right: 24px;
            padding-top: 20px;
        }
    }

    .login-control {
        padding-right: 28px;
        padding-top: 22px;
        padding-left: 5px;

        li {
            a {
                @include font($fontSL9, 13px, null, $white, 0.5px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontSL9, 13px, null, $white, 0.5px);
                    line-height: normal;
                }
            }
        }

        .subscribe-text,
        li.nav-subscribe-text p {
            @include font($fontSL7, 11px, null, $white, 0.5px);
            line-height: normal;

            &:active,
            &:focus,
            &:hover {
                @include font($fontSL7, 11px, null, $white, 0.5px);
                line-height: normal;
            }

            b {
                @include font($fontSL9, 11px, null, $white, 0.5px);
                line-height: normal;
            }
        }
    }

    .bookmarks {
        padding-left: 15px;
    }

    @include respond-to ('small-and-down') {
        .magazine-logo-tablet-mobile {
            background: url('../../../images/globalNav/sciencespin-logo.png') no-repeat center;
            display: inline-block;
            width: 150px;
            height: 36px;
            position: relative;
            left: 50%;
            @include translateX(-50%);
            background-size: 59%;
            vertical-align: middle;

            &::after {
                content: '3-6';
                position: absolute;
                bottom: -3.4px;
                right: 0;
                @include font($fontSL5, 11px, null, $white, normal);
                line-height: normal;
                opacity: 0.8;
                vertical-align: bottom;
                cursor: pointer;
            }
        }
    }

    @include respond-to ('xssmall') {
        .magazine-logo-tablet-mobile {
            width: 120px;
            height: 43px;
            background-size: 89%;
        }
    }
    @media (min-width:1440px) {
        .secondary-items {
            a {
                padding-left: 21px;
                padding-right: 21px;
            }
        }

        .app-nav-main-item-link {
            @include font($fontSL7, 16px, null, $white, 0.5px);
            line-height: normal;
            padding-left: 18px;
            padding-right: 19px;
            padding-top: 41px;
        }

        .science-logo {
            padding: 10px 0 0;
            width: 224.7px;
            margin-right: 20px;
            margin-left: 25px;

            a {
                width: 100%;
                height: 73px;
                background-size: 100%;
                padding: 35px 0;
            }
        }

        .dropdown {
            .magazine {
                &.bookmarks {
                    @include font($fontSL7, 14px, null, $white, 0.4px);
                    padding-left: 20px;

                    &:active,
                    &:focus,
                    &:hover {
                        @include font($fontSL7, 14px, null, $white, 0.4px);
                    }
                }
            }
        }

        .logged-in-dropdown {
            &.open {
                a:focus {
                    background-color: $spinGlobalNavPrimarColor;
                }

                .login-toggle {
                    background-color: $spinGlobalNavPrimarColor;

                    &:hover {
                        background-color: $spinGlobalNavPrimarColor;
                    }
                }
            }
        }
    }
}
