.questions-set{
	padding-bottom: 48.5px;
	.subject-area{
		@include font($fontGB9, 22px, 1, $black, 0.5px);
		margin: 0;
	}
	.question-block{
		padding: 11px 0 0 20px;
	.question{
		@include font($fontGB5, 18px, 2, $actionSubjectsCovered, 0.5px);
		margin: 0;
		display: block;
    	text-decoration: none;
	}
}
}