<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Configure Marketing - Magazine Option Display component.</div>
<div data-sly-use.magazineObject="com.scholastic.classmags.migration.controllers.MagazineOptionDisplayUse" data-sly-unwrap>
    <div class="row mar0 magazine-option-display" style="background: ${properties.bgColor @ context = 'styleString'}">
        <div data-sly-list.magazine="${magazineObject.magazineObject}" data-sly-unwrap>
            <div class="col-xs-12 col-md-2 magazine pad0">
                <div class="col-xs-12 pad0 title">
                    ${magazine.optionDisplayTitle @ context = 'html'}
                </div>
                <div class="col-xs-12 pad0 img-btn-container">
                    <a class="img-container" href="${magazine.magazineImagePathLink @ context = 'uri'}">
                        <img src="${magazine.magazineImagePath @ context = 'uri'}" alt="img">
                    </a>
                    <a href="${magazine.buttonRedirectLink @ context = 'uri'}" style="background: ${magazine.buttonColor @ context = 'styleString'}; color: ${magazine.buttonFontColor @ context = 'styleString'}" class="button">
                        ${magazine.buttonTitle @ context = 'html'}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>