<div data-sly-test="${wcmmode.edit}">Configure Subscribe Footer component</div>
<div class="subscribe-footer" style="background-color: ${properties.bgColor @ context='styleToken'}">
  ${properties.footerDescription @context = 'html'}
</div>
