.article-text + .article-title {
    .article-title-layout {
        padding: 0;
        .sub-title {
            padding-bottom: 4px;
            padding-top: 4px;
        }
    }
}

#article-text-page-container {
    .acs-commons-resp-colctrl-col {
        &:nth-child(2) {
            max-width: 861px;
            padding-right: 95px !important;
            /*acs-commons-resp-colctrl-col class has padding:0 15px !important;
                                                overiding this we have given !important here*/
        }
    }
    .back-to-top {
        text-align: center;
        padding-left: 0;
        margin-left: 0;
        cursor: default;
        margin-bottom: 4px;
        .back-to-top-icon {
            cursor: pointer;
        }
        .back-to-top-text {
            @include font($fontPE4, 14px, 1, $titleHyperlinkColor, 0.5px);
            margin-left: 8px;
            bottom: 9px;
            cursor: pointer;
        }
    }
    @media (min-width:1200px) and (max-width:1440px) {
        .back-to-top {
            padding-left: 0;
        }
    }
}

.article-text-image-layout {
    .article-text-image {
        .text-column {
            @include font($fontP4, 17px, 1.29, $black, normal);
        }
    }
}

.article-text-image-top-layout {
    .article-description {
        @include font($fontP4, 17px, 1.29, $black, normal);
    }
    .text-column {
        @include font($fontP4, 17px, 1.29, $black, normal);
    }
}

.article-text-image-layout {
    .article-text-image {
        .img-column{
            border: solid 1px $juniorArticleBorder;
            padding-bottom: 18px;
        }
        .caption {
            @include font($fontP7, 16px, null, $gray, normal);
            display: inline-block;
            padding: 10px 5px 0 11px;
            p{
                margin-bottom: 0;
            }
        }
        .credits {
            @include font($fontP4, 10px, null, $gray, normal);
            padding-left: 11px;
            margin-top: 2px;
            margin-bottom: 0;
        }
    }
}

.article-text-image-top-layout {
    .article-text-image{
        .top-article-container{
            border: solid 1px $juniorArticleBorder;
            padding-bottom: 18px;
        }
    }
    .caption {
        @include font($fontP7, 16px, null, $gray, normal);
        padding: 10px 50px 0 11px;
        p{
            margin-bottom: 0;
        }
    }
    .credits {
        @include font($fontP4, 10px, null, $gray, normal);
        padding-left: 11px;
        margin-top: 2px;
        margin-bottom: 0;
    }
}
