.textHyperlink-container {
    .textHyperlink-wrapper {
        .textHyperlink-text {
            @include font($fontK9, 30px, 0.83, $black, 1.5px);
        }
        .textHyperlink-link {
            @include font($fontSL5, 20px, 1.2, $black);
        }
    }
}
