.sw-icon {
    background: url('core/icons/icons-sciencespin.png') no-repeat;
    &.search-icon {
        width: 39px;
        height: 39px;    
    }
    &.refresh-icon {
        height: 18px;
    }
    &.bookmarked-icon {
        height: 33px;
    }

    &.user-dropdown-white-arrow {
        background-position: -110px -366px;
        width: 12px;
        height: 9px;
    }


    &.two-page-big-icon {
        background-position: -170px -419px;
        width: 37px;
        height: 28px;
    }
    &.large-size-blue-down-full-arrow {
        width: 11px;
    }
    &.black-up-full-arrow {
        width: 8px;
    }
    &.number-one-icon {
        height: 37px;
    }
    &.number-two-icon {
        height: 37px;
    }
    &.number-three-icon {
        height: 37px;
    }
    &.left-arrow-icon {
        height: 26px;
    }
    &.phone-liteblue-icon {
         height: 15px;
    }
    &.pinterest-icon {
        height: 32px;
    }

    &.twitter-icon {
        background-position: -110px -79px;
        width: 31px;
        height: 32px;
    }

    &.person-icon {
        background-position: -170px -85px;
        width: 39px;
        height: 40px;
    }

    &.page-info {
        background-position: -290px -19px;
        width: 33px;
        height: 34px;
    }

    &.upload-icon {
        background-position: -290px -143px;
        width: 33px;
        height: 34px;
    }
    
    &.expand-icon {
        height: 38px;
    }

    &.stack-window-icon {
        height: 38px;
    }

    &.papers-stack-icon {
        height: 34px;
    }

    &.user-dropdown-blue-arrow {
        background-position: -230px -573px;
        width: 12px;
        height: 10px;
    }

    &.yellow-page-icon {
        background-position: -168px -199px;
        width: 54px;
        height: 54px;
    }
    &.copy-link-btn{
       background-position: -230px -703px;
       width: 137px;
       height: 30px; 
    }
}