     .marketing-app-hero-banner {
        .app-banner-image {
            @include respond-to ('xssmall') {
                left:-60%;
            }
        }
         .app-banner-details {
             .banner-title {
                 text-align: left;
                 max-width: 735px;
                 @include font($fontSE9, 62px, 0.94, $swVocabWorldBlue, 1.1px);
                 @include respond-to ('xssmall') {
                     @include font($fontSE9, 28px, 1, $swVocabWorldBlue, 1.1px);
                     margin: 0 -4px;
                     text-align: center;
                 }
             }
             .banner-desc {
                 text-align: left;
                 @include font($fontSL7, 33.5px, 1.13, $marketingGrey, 0.6px);
                 @include respond-to ('xssmall') {
                     @include font($fontSL7, 16px, 1, $marketingGrey, 0.6px);
                     margin: 0 27px;
                     text-align: center;
                 }
             }
             .button-container {
                 margin-top: 55px;
                 @include respond-to ('xssmall') {
                     margin-top: 38px;
                 }
                 .primary-button {
                     width: 315px;
                     padding: 10px 46px;
                     @include font($fontSL7, 27px, 0.74, $white, 1.8px);
                     border-radius: 100px;
                     background-color: #00aaad;
                     @include respond-to ('xssmall') {
                         @include font($fontSL7, 16px, 1.25, $white, 1px);
                         width: 275px;
                         padding: 12px 72px;
                     }
                 }
             }
             .app-login {
                 margin-top: 19px;
                 span {
                     @include font($fontSL5, 19px, 1.05, $black, null);
                     @include respond-to ('xssmall') {
                         @include font($fontSL5, 14px, 1.43, $black, null);
                         margin-top: 11px;
                     }
                     a {
                         color: $black;
                         font-weight: bold;
                     }
                 }
             }
         }
     }
