<head>
	<meta charset="utf-8" />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Handlebars-Sample-Project | {{meta-title}}</title>
	<meta name="description" content="{{meta-description}}" />
	{{> head-includes}}
</head>