.iarticle-aggregator {
    .reading-levels {
        @include font($font07, 11px, 1.45, $black, 0.8px);

        span {
            @include font($font09, 13px, 1, $black, 1px);
            margin-right: 9px;
        }
    }

    .iarticle-content-container {
        margin-bottom: 50px;

        .iarticle-aggre-title {
            @include font($fontS7, 30px, 1.07, $black, 1px);
        }

        .iarticle-non-featured-hash-container {
            position: relative;
        }

        .iarticle-tags-wrapper {
            .iarticle-tags-content {
                .iarticle-aggre-sub-title {
                    @include font($fontS7, 11px, 1.45, $contentTileSubjectBlue,1px);
                    text-transform: uppercase;
                }
            }
            &:after{
                clear: both;
                display: block;
                content: '';
            }
        }

        .iarticle-aggre-title-wrapper {
            border-bottom: 2px solid $aggregatorBorderGreen;
            padding-bottom: 12px;
        }

        .iarticle-content {
            padding: 67px 40px 0;

            .iarticle-content-wrapper {
                border-radius: 8px;
                border: solid 2px $issueHighTitleborderGrey;

                .article-image {
                    @include border-radius-separate(8px,0,8px,0px);

                    img {
                        @include border-radius-separate(5px,0,5px,0);
                        float: left !important; //overwritting sw-image text-aling center behavior
                    }
                }
            }
        }
    }

    .featured-article-main-container {
        .featured-content-wrapper {
            .featured-article {
                .featured-article-content {
                    border-radius: 8px;
                    border: solid 2px $issueHighTitleborderGrey;

                    img {
                        &.featured-image {
                            @include border-radius-separate(7px,7px,0,0);
                        }
                    }

                    .featured-article-des-sec {
                        .featured-article-title-wrapper {
                            padding-bottom: 15px;
                            border-bottom: 2px solid $aggregatorBorderGreen;

                            .featured-article-title {
                                @include font($fontS7, 30px, 1.07, $black, 1px);
                            }
                        }

                        .featured-article-tags-wrapper {
                            .featured-article-tags-content {
                                .featured-article-sub-title {
                                    @include font($fontS7,11px,1.45,$contentTileSubjectBlue,1px);
                                    text-transform: uppercase;
                                }
                            }
                            &:after{
                                clear: both;
                                display: block;
                                content: '';
                            }
                        }
                    }
                }
            }
        }

        .article-resources-main-container {
            .article-resources-content {
                margin-bottom: 50px;
            }
        }
    }

    .iarticle-content-container-hash {
        background: none;
        min-height: 84.9%;
        background-color: $aggregatorHashBorder;

        &.featured-hash {
            min-height: 90.45%;
        }
    }

    .article-resources-main-container {
        .article-resources-content {
            .see-all {
                h5 {
                    [data-state="collapse"],
                    [data-state="expand"] {
                        border-radius: 100px;
                        background-color: $superScienceSearchButtonOrange;

                        span.title {
                            color: $white;
                        }
                    }
                }

                .sw-icon.down-black-arrow {
                    background-position: -20px -253px;
                    width: 13px;
                    height: 11px;
                    position: relative;
                    top: 1px;
                }

                .sw-icon.down-black-arrow.up-black-arrow {
                    top: 3px;
                }
            }
        }
    }
}
