.iconHyperlink-component-wrapper{
    .iconHyperlink-component{
        .issuer-date{
            &.issuer-date {
                @include font($fontP9, 14px, 1.14, $black, 0.5px);
            }
        }
        .issuer-name-wrapper{
            &.issuer-date{
                @include font($fontP9, 14px, 1.14, $black, 0.5px);
            }
            span{
                @include font($fontP7, 13px, 1.38, $black, 0.5px); 
            }
        } 
    }
}
  