body {
    background-color: $white;
}

.iarticle-aggregator {
  position: relative;

    .iarticle-content-container {
        margin-bottom: 60px;
        position: relative;

        .iarticle-content {
            position: relative;
            padding: 37px 40px 0;

            .iarticle-content-wrapper {
                background-color: $white;
				border: solid 1px $videoLiteGray;
            }
        }

        a {
            text-decoration: none;
        }

        .iarticle-aggregator-img {
            width: 100%;
        }

        .resources-container {
            .article-resources-content {
                &.container {
                    width: auto;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        .iarticle-aggregator-des-sec {
            margin-top: 35px;
            padding-right: 20px;
            padding-left:25px;

            .iarticle-aggregator-des-title {
                @include font($font04, 18px, 1.33, $black, 1px);
                line-height: normal;
                margin-top: 35px;
            }

            .iarticle-aggregator-des {
                @include font($font04, 16px, 1.5, $black, 0.5px);
                margin-top: 24px;
            }
        }

        .iarticle-aggre-title {
            @include font($fontN5, 28px, 1.14, $black, 1px);
            cursor: pointer;
        }

        .iarticle-aggre-title-wrapper {
            margin-bottom: 9px;
            border-bottom: 2px solid $tabBgBlue;
            padding-bottom:12px;

            a {
                padding-right: 15px;

                .sw-icon {
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                    background-repeat: no-repeat;
                }
            }
        }

        .iarticle-tags-wrapper {
            padding-bottom: 12px;
            border-bottom: 1px solid $liteAsh2;

            .iarticle-tags-content {
                display: inline;

                .iarticle-aggre-sub-title {
                    @include font($fontN7, 10px, 1.6, $liteBlue2, 0.8px);
                    margin-right: 30px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .lexile-level {
                display: inline;
                float: right;
                @include font($font7, 13px, 1.08, $black, 1px);

                span {
                    @include font($font04, 13px, 1.69, $black, 0.5px);
                }
            }
        }

        .article-resources-main-container {
            .article-resources-content {
                margin-top: 30px;
            }
        }
    }

    .featured-article-main-container {
      position: relative;

        .featured-article {
            padding: 27px 40px 0;

            .featured-article-content {
                background-color: $white;
                border: solid 1px $videoLiteGray;

                img {
                    &.featured-image {
                        margin-bottom: 25px;
                    }
                }

                .featured-article-des-sec {
               		 padding:0 40px;
               
                    .featured-article-title-wrapper {
                        padding-bottom: 9px;
                        border-bottom: 2px solid  $tabBgBlue;
                        margin-bottom: 9px;

                        .featured-article-title {
                            @include font($fontN5, 28px, 1.14, $black, 1px);
                            text-decoration: none;
                        }

                        .icon-wrapper {
                            .sw-icon {
                                width: 32px;
                                height: 32px;
                                display: inline-block;
                                background-repeat: no-repeat;

                            }
                        }
                    }

                    .featured-article-tags-wrapper {
                        .featured-article-tags-content {
                            padding-bottom: 11px;
                            border-bottom: 1px solid $liteAsh2;
                            margin-bottom: 25px;

                            .featured-article-sub-title {
                                @include font($fontN7, 10px, 1.6, $liteBlue2, 0.8px);
                                margin-right: 30px;
                                text-decoration: none;
                            }
                        }
                    }

                    .featured-article-des-title {
                        @include font($font04, 18px, 1.33, $black, 1px);
                        margin-bottom: 7px;
                    }

                    .featured-article-des {
                        @include font($font04, 16px, 1.5, $black, 0.5px);
                        padding-bottom: 60px;
                        margin-bottom:0;
                    }
                }
            }
        }

        .article-resources-main-container {
            .article-resources-content {
                margin-top: 30px;
                margin-bottom: 40px;
            }
        }
    }

    .iarticle-content-container-hash {
        background: url('../../../images/lines-grey.png') repeat;
        min-height: 105px;
        position: absolute;
        width: 100%;
        top: 1px;
    }
}

@include respond-to ('xssmall') {
    .iarticle-aggregator {
        .iarticle-aggregator-des-sec {
            margin-top: 10%;

            .iarticle-aggre-title-wrapper {
                .iarticle-aggre-title {
                    font-size: 20px;
                }

                .icon-wrapper {
                    a {
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}

@include respond-to ('small') {
    .iarticle-aggregator {
        .iarticle-aggregator-des-sec {
            margin-top: 5%;

            .iarticle-aggre-title-wrapper {
                .iarticle-aggre-title {
                    font-size: 1.25rem;
                }

                .icon-wrapper {
                    a {
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}
