<div data-sly-test="${wcmmode.edit}">
    Config - Footer
</div>
<div data-sly-use.footer="com.scholastic.classmags.migration.controllers.GlobalFooterUse">
	<div data-sly-test.userType="${footer.userType}"></div>
	<div class="globalFooter-main-container">
	<div class="globalFooter-content " >
    	<div class="row nomarLR">
			<div data-sly-list.column= "${footer.footerObjects}">
				<div class="col-md-3 col-sm-4 col-xs-6 link-wrapper">
                    <div class="footerContentWrapper">
                        <div class="footerTitle">${column.headingTitle}</div>
                    	<div data-sly-test="${column.phoneNumber}" class="footerPhoneNo"><span class="phoneIcon sw-icon phone-icon"></span><span class="phonelink"><a href="tel:${properties.phoneNumber}">${column.phoneNumber}</a></span></div>
	                    <div class="footerlinks ${ (column.phoneNumber)? 'phoneNumber' :''}" >
	                    	<div data-sly-list.link="${column.footerLinks}" data-sly-unwrap>
                            	<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>
									<p><a x-cq-linkchecker="skip" href="${link.path}"> ${link.label}</a></p> 
                                </div>
                                <div data-sly-test="${!wcmmode.edit}" data-sly-unwrap>
                                    <div data-sly-test="${link.userType == 'everyone'}" data-sly-unwrap>
                                        <p><a x-cq-linkchecker="skip" href="${link.path}"> ${link.label}</a></p>
                                    </div>
                                    <div data-sly-test="${(link.userType == 'student' && userType == 'student')}" data-sly-unwrap>
                                        <p><a x-cq-linkchecker="skip" href="${link.path}"> ${link.label}</a></p>
                                    </div>
                                    <div data-sly-test="${(link.userType == 'teacher' && userType == 'teacher')}" data-sly-unwrap>
                                        <p><a x-cq-linkchecker="skip" href="${link.path}"> ${link.label}</a></p>
                                    </div>
                                    <div data-sly-test="${(link.userType == 'teacherOrStudent') && (userType == 'teacher' || userType == 'student')}" data-sly-unwrap>
                                        <p><a x-cq-linkchecker="skip" href="${link.path}"> ${link.label}</a></p>
                                    </div>
                                    <div data-sly-test="${(link.userType == 'anonymous' && userType == 'anonymous')}" data-sly-unwrap>
                                        <p><a x-cq-linkchecker="skip" href="${link.path}"> ${link.label}</a></p>
                                    </div>
                                </div>
	        				</div>
	                    </div>    
                    </div>
                </div>
			</div>
			<div data-sly-test="${!(footer.socialLinks.disabledForStudents && userType == 'student') || wcmmode.edit }" data-sly-unwrap>
			<div class="col-md-3 col-sm-4 col-xs-12 link-wrapper">
		    	<div class="footerContentWrapper social-links">
		        	<div class="footerTitle footerTitleSocialIcon nopadL col-xs-4 col-sm-12  col-md-12">${footer.socialLinks.sectionHeading}</div>
		            <div class="footer-socialIcons nopadL col-xs-8 col-sm-12 col-md-12">
		            	<div data-sly-list.socialLink= "${footer.socialLinks.links}" data-sly-unwrap>
		            		<a x-cq-linkchecker="skip" href="${socialLink.linkPath}"><span class="sw-icon ${socialLink.linkIcon}"></span></a>
		                </div>
		            </div>
		       </div>
			</div>
			</div>
		</div>
        <div class="globalFooter-bottom nomarLR">
        	<span class="hidden-xs nopadLR">
        		<img src="${properties.logo || '/etc/designs/scholastic/classroom-magazines-migration/images/scholasticLogo.png'}" class="scholastic-logo" />
            </span>
            <span class="keep-right">
                  <span class= "links nopadLR">
            	<a x-cq-linkchecker="skip" href="${properties.privacyPolicy}">${properties.privacyPolicyLabel}</a>
            </span>
                  <span class=" links links-term nopadLR">
            	<a x-cq-linkchecker="skip" href="${properties.termsLink}">${properties.termsUseLabel}</a>
            </span>
                  <span class=" desc nopadLR">
            		${properties.copyrightLabel}
            	  </span>
            </span>
       </div>
	</div>
	</div>
</div>