.iconText-main-container{
    .iconText-content{
        width:100%;
        display: table;
        .text-wrapper{
            display: table-cell;
            vertical-align: top;
            padding-left:10px;
          /*float:left;
            width:75%;*/
            .title-content{
                font-family: Helvetica-Bold, "Helvetica Bold", Helvetica;
                font-weight: 700;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                color: rgb(0, 0, 0);
            }
            .desc-content{
                font-family: Helvetica;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                color: rgb(0, 0, 0);
                line-height: 20px;
                word-wrap:break-word;
            }
            &.full-width{
                width:95%;
            } 
        }
 
        &.pull-right{
            text-align:right;
            .float-right{
                float:right;
            .icon-container{
               float:left;  
            }
            }
        }
         &.text-center{
            text-align:center;
             .icon-container,.text-wrapper{
               display:block;
            }
            .icon-wrapper{
               margin:0 auto;  
            }
        }
        .icon-container{/*float:left;
                width:20%;*/
            display: table-cell;
        }

        
    }
}
