.marketing-VideoTestimonial {
    p {
        margin: 0;
    }

    .left {
        margin-right: 72px;
    }

    .right {
        padding-right: 72px;
        padding-left: 72px;
    }

    .mobile {
        margin-bottom: 23px;
    }

    .marketing-content-tile-container {
        max-width: 100%;

        .content-tile-body {
            height: auto;

            .row.game-video-wrapper {
                height: auto;

                .image-container {
                    @include respond-to ('small-and-up') {
                        border-top-width: 33px;
                        border-bottom-width: 34px;
                        border-left-width: 39px;
                        border-right-width: 31px;
                        padding: 11px 13px 9.67px 11px;
                        border-image-slice: 27;
                        border-image-repeat: round;
                    }
                    border-top-width: 20px;
                    border-bottom-width: 20px;
                    border-left-width: 10px;
                    border-right-width: 10px;
                    height: auto;
                    min-height: 115px;
                    max-width: 100%;

                    @include respond-to ('xssmall') {
                        border-image-repeat: repeat;
                        border-image-width: 35px;
                        border-image-slice: 27;
                    }

                    .video_play {
                        width: 100%;

                        @include respond-to ('xssmall') {
                            display: inline-block;
                            border: 9px solid $tabBgBlue;
                            border-radius: 8px;
                        }

                        .content-image {
                            position: static;
                            transform: initial;
                            -webkit-transform: initial;
                            max-height: 291px;
                            width: 100%;

                            @include respond-to ('xssmall') {
                                max-height: 194.5px;
                            }
                        }
                    }

                    .video-play-icon {
                        .video_play {
                            @include respond-to ('xssmall') {
                                border: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .title {
        @include font($fontN7, 22px, 1.23, $marketingGrey);
        margin-bottom: 10px;
        padding: 0 20px;

        @include respond-to ('small-and-up') {
            @include font($fontN7, 29px, 1.21, $marketingGrey);
            margin-top: 10%;
            margin-bottom: 14px;
            max-width: 570px;
            padding: 0;
        }
    }

    .description {
        @include font($font04, 16px, 1.38, $marketingGrey);
        padding: 0 20px;
        margin-bottom: 49px;

        @include respond-to ('small-and-up') {
            max-width: 670px;
            padding: 0;
            font-size: 20px;
            line-height: 1.35;
            margin-bottom: 0;
        }
    }
}
