.content-module {
    .content-module-container {
        &.game-container-bg {
            padding: 0 40px;
            border-radius: 8px;
            border: solid 2px $geoGameBorder;
        }
        .content-wrapper {
            background-color: $imagePopupGreyBackground;
            border-radius:8px;
            img{
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }            
            .rteContent {           
                @include font($fontSL5, 16px, 1.29, $black, 0.5px);
                padding: 0 20px 0 20px;
            }

            div[ng-bind-html=containerGameDesc]{
                @include font($fontSL4, 14px, 1.29, $black, 0.5px);
                 padding: 0 20px 20px 20px;
            }
        }
    }
}
