.marketing-app-hero-banner {
    .app-banner-details {
        .banner-title {
            @include font($fontPE4, 53.5px, 1.08, $white, null);
            max-width: 797px;
        }
        .banner-desc {
            @include font($fontP6, 36, 1.06, $white, null);
        }
        .button-container {
            .primary-button {
                padding: 6.5px 45.5px;
                @include font($fontPE4, 24px, 0.83, $white, 1.8px);
                background-color: $submitButtonColor;
            }
            .app-login {
                span {
                    @include font($fontB4, 19px, 1.05, $white, null);
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-hero-banner {
        .app-banner-details {
            padding-right: 0;
            padding-left: 0;
            .banner-title {
                @include font($fontPE4, 30px, 1, $white);
            }
            .banner-desc {
                @include font($fontP6, 16px, 2.38, $white);
            }
            .button-container {
                .primary-button {
                    padding: 8px 63.5px;
                    @include font($fontPE4, 16px, 1.25, $white, 1.1px);
                }
                .app-login {
                    span {
                        @include font($fontB4, 14px, 1.43, $white, null);
                    }
                }
            }
        }
    }
}
