.marketing-scholastic-magazine-wrapper {
    position: relative;
    .scholastic-magazine-content {
        padding: 40px 30px 60px 40px;
        .magazine-title-wrapper {
            padding-bottom: 20px;
            border-bottom: 5px solid $liteAsh11;
            width: 100%;
            span {
                vertical-align: middle;
                &.magazine-title {
                    @include font($fontN7, 28px, 1.14, $black, 1px);
                    padding-right: 11px;
                    border-right: 2px solid $liteAsh2;
                    &.no-right-border {
                        border-right: none;
                    }
                }
                &.view-all-magazine {
                    @include font($font07, 14px, 1, $liteBlue1, 0.5px);
                    padding-left: 7px;
                }
            }
            .sw-icon {
                &.right-arrow {
                    display: inline-block;
                    margin-left: 5.6px;
                }
                &.sw-icon {
                    &.right-arrow {
                        margin-top: 3px;
                    }
                }
            }
            a {
                text-decoration: none;
            }
        }
        .content-container {
            padding-left: 0;
            padding-right: 0;
            margin-top: 67px;
            .magazine-content {
                margin-bottom: 20px;
                .magazine-image {
                    width: 100%;
                }
                .magazine-subtitle {
                    margin-top: 15px;
                    @include font($fontN7, 20px, 1.15, $liteBlue1, 0.5px);
                    a {
                        color: $liteBlue1;
                    }
                }
                .separator {
                    width: 30px;
                    height: 4px;
                    border-radius: 100px;
                    background-color: $liteAsh11;
                    margin-top: 20px;
                }
                .magazine-desc {
                    @include font($font04, 18px, 1.22, $black, normal);
                    margin-top: 14px;
                }
                &:nth-child(3n) {
                    padding-right: 0;
                }
                &:nth-child(3n+1) {
                    clear: both;
                }
            }
        }
    }
}

@include respond-to('small') {
    .marketing-scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            margin-bottom: 50px;
            padding-left: 40px;
            padding-right: 40px;
            .magazine-title-wrapper {
                margin-bottom: 30px;
            }
            .content-container {
                margin-top: 0;
                .magazine-content {
                    margin-bottom: 20px;
                    &.pad10 {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

@include respond-to('xssmall') {
    .marketing-scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            padding: 34px 20px 12px;
            .magazine-title-wrapper {
                margin-bottom: 14px;
                padding-bottom: 9px;
                border-bottom: 2px solid $liteAsh11;
                span {
                    &.magazine-title {
                        font-size: 20px;
                        line-height: 1.2;
                        letter-spacing: normal;
                        border-right: none;
                    }
                }
            }
            .magazine-mobile-title-wrapper {
                margin-bottom: 38px;
                .view-all-magazine {
                    @include font($font07, 14px, 1, $liteBlue1, 0.3px);
                }
                .sw-icon {
                    &.right-arrow {
                        position: relative;
                        top: 3px;
                        margin-left: 2px;
                    }
                }
                a {
                    text-decoration: none;
                }
            }
            .content-container {
                margin-top: 0;
                .magazine-content {
                    margin-bottom: 48px;
                    padding-left: 0;
                    padding-right: 0;
                    .magazine-content-cntr {
                        padding-right: 0;
                        padding-left: 10px;
                    }
                    .magazine-subtitle {
                        margin-top: 6px;
                    }
                    .magazine-desc {
                        margin-top: 11px;
                        line-height: 1.33;
                    }
                }
            }
        }
    }
}
