.breadcrumb-layout {
    margin-bottom:8px;
    margin-top:18px;
    .breadcrumb-active {
        @include font($fontSL5, 13px, 1.08, null, 0.5px);
        color: $breadcrumbInactiveColor;
    }

    .breadcrumb-inactive {
        @include font($fontSL5, 13px, 1.08, null, 0.5px);
        color: $breadcrumbInactiveColor;
    }
}
