.article-sidebar-component-wrapper {
    background-size: 100% auto;
    //border: 1px solid $textHyperlinkColor;
    .article-section-title {
        @include font($fontSL9, 24px, 1.17, $sn4FaqAnsQuestion, 1px);
        background-color: $textHyperlinkColor;
        padding: 9px 25px 6px;
    }

    &.top {
        .article-section-title {
            @include font($fontSE9, 30px, 1.07, $articleSidebarTitle);
        }
    }

    .article-sidebar-content-wrapper {
        max-width: 670px;

        .image-wrapper {
            .image-credit {
                @include font($fontSL7, 24px, 1.17, $black, 1px);
            }
        }

        .article-section-content {
            .article-section-text {
                @include font($fontU4, 18px, 1.67, $black, 1px);

                p {
                 &:last-child{
                    margin-bottom: 0;
                 }  

                }
            }
        }

        &.left,
        &.right {
            display: flex;
            padding-right: 6px;

            .image-wrapper {
                max-width: 300px;
                flex: 0 0 46%;
                width: 46%;
                margin-top: 10px;
            }

            .article-section-content {
                flex-grow: 1;
            }
        }

        &.right {
            .image-wrapper {
                margin-right: 44px;

                .image-credit {
                    padding: 17.2px 43px 30px 47px;
                }
            }

            .article-section-content {
                .article-section-text {
                    padding: 9px 0 0;
                }
            }
        }

        &.left {
            .image-wrapper {
                margin-left: 43px;

                .image-credit {
                    padding: 16px 38px 0 52px;
                }
            }

            .article-section-content {
                .article-section-text {
                    padding: 9px 0 0;
                }
            }
        }

        &.top {
            padding: 0 0 23px;

            .close {
                opacity: 1;
            }

            .image-wrapper {
                .image-icon-container {
                    position: relative;

                    .cm-image-wrapper {
                        cursor: pointer;
                    }

                    img {
                        @include border-radius-separate(6px, 6px, 0, 0);
                    }

                    .popup-img-icon {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        cursor: pointer;
                    }
                    margin-top: 0;
                }

                .sn4-image-background {
                    /*text-align: left !important;*/
                }

                .image-credit {
                    @include font($fontSL9, 10px, 1.2, $lightGrey2, 0.5px);
                    margin-top: 10px;
                    text-align: left;
                    padding: 0 20px;
                }
            }

            .article-section-content {
                .article-section-text {
                    margin-top: 12px;
                    padding: 0 20px;
                    @include font($fontSL9, 14px, 1.29, $black, 0.5px);
                }
            }
        }

        &.bottom {
            .article-section-title {
                @include font($fontSE9, 30px, 1.07, $articleSidebarTitle);
                background-color: $textHyperlinkColor;
                padding: 9px 25px 6px;
            }

            .image-wrapper {
                padding: 16px 8px 0;

                .image-credit {
                    font-family: 'UtopiaStd-Regular';
                    margin-top: 8px;
                    text-align: right;
                }
            }

            .article-section-content {
                .article-section-text {
                    font-family: 'SlateStd-Medium';
                    padding-top: 10px;
                    padding-left: 23px;
                    line-height: normal;
                }
            }
        }
    }

    &.top {
        border-radius: 8px;
        border: solid 2px $geoGameBorder;
    }
}

