.custom-dialog-width {
    width: 90% !important;
}

.cq-dialog-floating .article-title-container > .coral-TabPanel-content {
  height: 24rem !important;;
}

.main-container{
    width: 57%;
    margin:auto;  
}

.science-world-image{
    width:100%;
}

.sdm-nav{
    height: 45px;
    width: 320px;
    display: block;
    float:right;    
    border:2px dashed lightgrey;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}

.rte-custom-width {
	width: 80% !important;
}