.article-hero-caption-container {
    .article-hero-caption-wrapper {
        .article-hero-caption-title {
            font-family: 'GeometricSlab703BT-XtraMedium';
        }
        .article-hero-caption-des {
            font-family: 'GeometricSlab703BT-XtraMedium';
        }
    }
}