.breadcrumb-layout {
        .breadcrumb-active {
           @include font($fontGB5, 12px, 1.17, $actionBreadcrumbColor, 0.5px);
        }

        .breadcrumb-inactive{
            @include font($fontGB5, 12px, 1.17, $actionBreadcrumbColor, 0.5px);
        }
}

@media (min-width: 1440px) {
    .breadcrumb-layout {
        .breadcrumb-active {
           @include font($fontGB5, 12px, 1.17, $actionBreadcrumbColor, 0.5px);
        }

        .breadcrumb-inactive{
            @include font($fontGB5, 12px, 1.17, $actionBreadcrumbColor, 0.5px);
        }
    }
}