.iarticle-aggregator {
    .reading-levels {
        @include font($fontP7, 11px, 1.45, $liteAsh5, 0.8px);
        margin-top: 0;

        span {
            @include font($fontP7, 13px, 1, $black, 1px);
            margin-right: 10px;
        }
    }

    .iarticle-content-container {
        .iarticle-aggre-title-wrapper {
            margin-bottom: 12px;

            a {
                max-width: 80%;
                display: inline-block;
            }
        }

        .iarticle-aggregator-des-sec {
            margin-top: 27px;

            .iarticle-aggregator-des {
                @include font($fontP4, 17px, 1.29, $black, normal);
                margin-top: 16px;
            }
        }

        .iarticle-content {
            padding-top: 30px;
        }

        .iarticle-aggre-title {
            @include font($fontC9, 32px, 1, $black, normal);
        }

        .iarticle-tags-wrapper {
            &:after {
                content: '';
                display: block;
                clear: both;
            }

            .iarticle-tags-content {
                display: none;

                .iarticle-aggre-sub-title {
                    @include font($fontPA9, 14px, 1.14, $white, 0.5px);
                    background-color: $contentTileSubjectRed;
                    padding: 2px 6px 1px 6px;
                }
            }
        }

        .iarticle-aggre-subtags {
            display: inline-block;
            margin-bottom: 8px;
            background-color: $contentTileSubjectRed;
            padding: 3px 7px 1px 7px;

            .iarticle-aggre-sub-title {
                @include font($fontPA9, 14px, 1.14, $white, 0.5px);
                text-transform: uppercase;
                padding-right: 10px;
                padding-left: 10px;
                border-right: 2px solid $white;
                margin-right:0;
                display: inline-block;
                
                &:last-child {
                    border-right: 0;
                    padding-right:0;
                }
                 &:first-child {
                    padding-left:0;
                }
            }
        }

        .article-resources-main-container {
            .article-resources-content {
                margin-top: 27px;
                margin-bottom: 47px;

                .article-resources-heading {
                    margin-bottom: 10px;

                    .article-title {
                        @include font($fontP9, 21px, 0.86, $gray, normal);
                    }
                }

            }
        }
    }

    .iarticle-content-container-hash {
        background: url('../../../../images/lines-grey.png') repeat;
    }
}
