.content-module {
    .content-module-container {
        .content-wrapper { 
            .rteContent {
                font-family: Canaro-Black;
            }
            
            div[ng-bind-html=containerGameDesc] {
                font-family: Canaro-Book;
            }
        }
    }
}





