.marketing-app-tdi-component {
    background-size: cover !important; //This is because the background image is coming inline from HTML.

    &.contentTile {
        .app-tdi-header {
            p {
                @include font($fontSE9, 35px, 1.14, $liteBlue1, null);
            }
        }

        .app-tdi-content {
            p {
                @include font($fontSL5, 23px, 1.39, $marketingTDIdescColor, 0.7px);
            }
        }
    }

    .app-tdi-header {
        p {
            @include font($fontSE9, 35px, 1.14, $marketingTDItitleColor, null);
        }
    }

    .app-tdi-content {
        p {
            @include font($fontSL7, 30px, 1.57, $marketingTDIdescColor, null);
            .hyperlink{
                @include font($fontSL5, 24px, 1.96, $marktingTDIlearnMore, null); 
            }
        }
    }

    .app-description {
        .desc {
            @include font($fontSL5, 22px, 1.23, $marketingGrey, null);
        }

        .secondary-button {
            border-radius: 8px;
            @include font($fontSL9, 15px, 1.33, $white, 1.2px);
        }
    }

    .content-tile-container {
        .title {
            @include font($fontSL7, 24px, 1.08, $black, 0.5px);
        }

        .description {
            @include font($fontU4, 18px, 1.33, $black, 0.5px);
        }

        .subject {
            @include font($fontSL7, 12px, 1.17, $searchTipsColor, 0.9px);
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-tdi-component {
        background-size: cover !important; //This is because the background image is coming inline from HTML.

        &.contentTile {
            .app-tdi-header {
                p {
                    @include font($fontSE9, 30px, 1, $marketingTDItitleColor, null);
                }
            }

            .app-tdi-content {
                p {
                    @include font($fontSL5, 16px, 2, $marketingTDIdescColor, 0.7px);
                }
            }
        }

        &.mobileCarousel {
            border-top: 7px solid $yellow;

            .app-tdi-header {
                margin: 44px 0 64px;
            }
        }

        .app-tdi-header {
            p {
                @include font($fontSE9, 30px, 1, $marketingTDItitleColor, null);
            }
        }

        .app-tdi-content {
            p {
                @include font($fontSL7, 20px, 1.2, $marketingTDIdescColor, null);
                .hyperlink{
                    @include font($fontSL5, 14px, 1.71, $marktingTDIlearnMore, null); 
                }
            }
        }

        .app-description {
            .desc{
                @include font($fontSL5, 18px, 1.11, $marketingGrey, null)
            }
            .secondary-button {
                .desc {
                    @include font($fontSL5, 18px, 1.11, $marketingGrey, null)
                }
                border-radius: 8px;
                max-width: 160px;
                padding: 10px;
                @include font($fontSL9, 13px, 1.54, $white, 1px);
            }
        }
    }
}