.marketing-app-tdi-component {
    background-color: $white;
    &.contentTile {
        background-color: $superScienceTDIcontentTilebgcolor;
        padding-bottom: 50px;
        .app-tdi-content {
            p {
                text-align: center;
                @include font($fontS3, 22px, 1.45, $superScienceTDIcontent, 0.8px);
            }
        }
        .app-tdi-header {
            p {
                @include font($fontS7, 35px, 0.91, $marketingGrey, 1.3px);
            }
        }
    }
    .content-tile-container {
        .title {
            @include font($fontS7, 18px, 1.17, $black, 0.5px);
        }
        .description {
            @include font($font04, 16px, 1.5, $black, 0.5px);
        }
        .subject {
            @include font($fontS7, 11px, 1.45, $tabBgBlue, 1px);
        }
    }
    .app-tdi-header {
        p {
            @include font($fontS7, 35px, 1.14, $marketingGrey, null);
        }
    }
    .app-tdi-content {
        p {
            @include font($fontS3, 33px, 1.52, $tabBgBlue, null);
            .hyperlink {
                @include font($fontS3, 23px, 2.17, $superScienceLearnMore, null);
            }
        }
    }
    .app-description {
        .desc {
            @include font($fontS3, 21px, 1.29, $marketingGrey, null);
        }
        .secondary-button {
            background-color: $superScienceSearchButtonOrange;
            @include font($font09, 18px, 1.11, $white, 1.4px);
            min-height: 49px;
            min-width: 275px;
            border-radius: 100px;
            padding: 14px 26px;
        }
    }
}

@include respond-to('xssmall') {
    .marketing-app-tdi-component {
        &.contentTile {
            background-color: $superScienceTDIcontentTilebgcolor;
            .app-tdi-content {
                p {
                    @include font($fontS3, 16px, 2, $superScienceTDIcontent, 0.6px);
                }
            }
            .app-tdi-header {
                p {
                    @include font($fontS7, 25px, 1.12, $marketingGrey, 0.5px);
                }
            }
        }
        .content-tile-container {
            .title {
                @include font($fontS7, 18px, 1.17, $black, 0.5px);
            }
            .description {
                @include font($font04, 16px, 1.5, $black, 0.5px);
            }
            .subject {
                @include font($fontS7, 11px, 1.45, $tabBgBlue, 1px);
            }
        }
        .app-tdi-header {
            p {
                @include font($fontS7, 25px, 1.12, $marketingGrey, 0.5px);
            }
        }
        .app-tdi-content {
            p {
                @include font($fontS3, 20px, 1.4, $tabBgBlue, null);
                .hyperlink {
                    @include font($fontS3, 14px, 2, $requiredFieldstextGrey, null);
                }
            }
        }
        &.mobileCarousel {
            background-color: $white;
        }
        .app-description {
            .desc {
                @include font($fontS3, 18px, 1.22, $marketingGrey, null);
            }
            .secondary-button {
                background-color: $superScienceSearchButtonOrange;
                @include font($font09, 13px, 1.54, $white, 1px);
                min-height: 40px;
                max-width: 275px;
                border-radius: 100px;
                padding: 7px 0px;
            }
        }
    }
}
