.marketing-app-sample-issue {
    .app-issue-container {
        .marketing-app-sample-issue-container {
            .marketing-app-sample-issue-tiles {
                .sample-title-container {
                    margin-bottom: 8px;
                    margin-top: 5px;
                }
            }
            .issue-title {
                @include font($fontC5, 24px, 1.38, $white);
            }
            .issue-desc {
                @include font($fontB4, 17px, 1.29, $white);
            }
            .sw-button {
                display: block;
            }
            .sn3-button {
                display: none;
            }
            .button-container {
                .marketing-sample-issue-btn {
                    @include font($fontC9, 14px, 1.43, $white, 1.1px);
                    border-radius: 100px;
                }
            }
            .marketing-contentTile-title {
                @include font($fontB7, 24px, 0.88, $white);
                span.title-text {
                    left: 0;
                    right: 0;
                }

                span.title-space-text {
                    padding: 0;
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-sample-issue {
        .app-issue-container {
            .marketing-app-sample-issue-container {
                .marketing-app-sample-issue-tiles {
                    .mob-sample-pad {
                        margin-top: 15px;
                    }
                }
                .issue-title {
                     @include font($fontC5, 24px, 1.38, $white);
                }
                .issue-desc {
                    @include font($fontB4, 17px, 1.29, $white);
                }
                .sw-button {
                    display: none;
                }
                .sn3-button {
                    display: block;
                }
                .button-container {
                    .marketing-sample-issue-btn {
                         @include font($fontC9, 14px, 1.43, $white, 1.1px);
                    }
                }
                .marketing-contentTile-title {
                    @include font($fontB7, 17px, 1, $white);
                }
            }
        }
    }
}
