.sw-icon {
    background: url('/etc/designs/scholastic/classroom-magazines-migration/junior/clientlibs/junior-core/styles/core/icons/Icons-JuniorScholastic.png') no-repeat;
    
    &.search-icon {
        background-position: -169px -19px;
        width: 40px;
        height: 40px;
    }
    &.facebook-icon {
        background-position: -109px -19px;
        width: 32px;
        height: 32px;
    }
    &.pinterest-icon {
        background-position: -109px -139px;
        width: 32px;
        height: 32px;
    }
    &.twitter-icon {
        background-position: -109px -79px;
        width: 32px;
        height: 32px;
    }
    &.person-icon {
        background-position: -169px -85px;
        width: 40px;
        height: 40px;
    }
    &.refresh-icon {
        background-position: -109px -307px;
        width: 18px;
        height: 18px;
    }
    &.page-info {
        background-position: -289px -19px;
        width: 34px;
        height: 34px;
    }
    &.down-arrow {
        height: 9px;
    }
    &.left-arrow-icon {
        background-position: -109px -199px;
        width: 27px;
        height: 26px;
    }
    &.right-arrow-icon {
        background-position: -109px -253px;
        width: 27px;
        height: 27px;
    }
    &.bookmark-icon {
        background-position: -229px -205px;
        width: 35px;
        height: 35px;
    }
    &.bookmarked-icon {
        background-position: -229px -267px;
        width: 35px;
        height: 34px;
    }
    &.download-icon {
        background-position: -289px -81px;
        width: 35px;
        height: 34px;
    }
    &.print-icon {
        background-position: -289px -205px;
        width: 35px;
        height: 34px;
    }
    &.upload-icon {
        background-position: -289px -143px;
        width: 34px;
        height: 34px;
    }
    &.dropdown-arrow {
        background-position: -169px -514px;
        width: 8px;
        height: 14px;
    }
    &.expand-icon {
        background-position: -229px -19px;
        width: 38px;
        height: 38px;
    }
    &.stack-window-icon {
        background-position: -229px -143px;
        width: 39px;
        height: 38px;
    }
    &.plus-icon {
        background-position: -169px -151px;
        width: 25px;
        height: 26px;
    }
    &.blue-close-btn {
        width: 10px;
        height: 11px;
    }
    &.grey-close-btn {
        height: 15px;
    }
    &.yellow-page-icon {
        background-position: -166px -200px;
        width: 56px;
        height: 56px;
    }
    &.arrow-button {
        background-position: -343px -387px;
        width: 32px;
        height: 32px;
    }
    &.down-black-arrow {
        background-position: -20px -140px;
        width: 12px;
        height: 8px;
    }
    &.close-thin-icon {
        background-position: -343px -453px;
        width: 30px;
        height: 29px;
    }
    &.close-rounded-icon {
        background-position: -342px -510px;
        width: 34px;
        height: 33px;
    }
    &.papers-stack-icon {
        background-position: -294px -268px;
        width: 25px;
        height: 30px;
    }
    &.two-page-icon {
        background-position: -230px -82px;
        width: 25px;
        height: 25px;
    }
    &.page-arrow-icon {
        background-position: -350px -19px;
        width: 25px;
        height: 26px;
    }
    &.phone-liteblue-icon {
        background-position: -231px -336px;
    }
    &.copy-link-btn {
        width: 139px;
        height: 38px;
    }
    &.number-one-icon{
        background-position: -230px -378px;
        width: 40px;
        height: 39px;
    }
    &.number-two-icon{
        background-position: -230px -440px;
        width: 40px;
        height: 39px;
    }
    &.number-three-icon{
        background-position: -230px -502px;
        width: 40px;
        height: 39px;
    }
    &.medium-size-blue-down-full-arrow{
        background-position: -170px -476px;
        width: 9px;
        height: 7px;
    }
    &.small-size-blue-down-full-arrow{
        background-position: -170px -522px;
        width: 5px;
        height: 5px;
    }
    .large-size-blue-down-full-arrow {
        background-position: -169px -623px;
        width: 12px;
        height: 12px;
    }
    &.small-size-blue-up-full-arrow{
        background-position: -170px -514px;
        width: 5px;
        height: 5px;
    }
    &.grey-up-full-arrow{
        background-position: -169px -553px;
        width: 9px;
        height: 7px;
    }
    &.black-up-full-arrow {
        background-position: -169px -588px;
        width: 9px;
        height: 7px;
    }
    &.blue-up-full-arrow{
        background-position: -231px -572px;
        width: 12px;
        height: 9px;
    }
    &.white-crossMark-icon {
        background-position: -228px -612px;
        width: 14px;
        height: 14px;
    } 
    &.expand-artResources-button-yellow {
        width: 360px;
    }
    &.double-arrows-blueRounded-icon{
        background-position: -289px -560px;
        width: 78px;
        height: 78px;
    }
    &.scholasctic-icon {
        background-position: -229px -756px;
        width: 140px;
        height: 20px;
    }
    &.user-dropdown-blue-arrow {
        background-position: -229px -572px;
        width: 14px;
        height: 11px;
    }
    &.chat-icon {
        background-position: -289px -663px;
        width: 17px;
        height: 17px;
    }
}