.acs-commons-resp-colctrl-col-60{
    .textHyperlink-container-wrapper{
        padding: 0;
    }
}
.questions-set{
        padding-bottom: 36px;
	.question-block{
		padding: 0;
	.question{
        @include font($fontSL4, 20px, 1.9, $sn56ArticleLinkColor, 1.1px);
	}
}
}
