.marketing-app-tdi-component {
    &.contentTile {
        .app-tdi-header {
            p {
                line-height: 0.91;
            }
            margin-bottom: 12px;
        }
        .app-tdi-content {

            p {
                @include font($fontLL01, 22px, 1.45, $errorPageBlack, 0.8px);
                margin-bottom: 12px;
            }
        }
    }
    &.mobileCarousel {
        display: none;
    }
    .marketing-FullWidthCTA {
        width: 100vw;
        margin-left: -30px;
    }
    .app-tdi-header {
        p {
            @include font($fontSE9, 35px, 1.14, null, $marketingSnTDI);
            margin-bottom: 0;
        }
        text-align: center;
        margin: 37px 0 38px;
    }
    .app-tdi-banner-image {
        text-align: center;
        margin-bottom: 32px;
        img {
            width: 100%
        }
    }
    .app-tdi-content {
        display: block !important;
        text-align: center;
        .marketing-app-tdi-padleft {
            padding-left: 45px;
        }
        p {
            @include font($fontSL9, 23px, 1.22, null, $marketingSnDescription);
            margin-bottom: 0;
        }
        margin: 0 62px;
        img {
            width: 100%;
        }
    }
    .app-tdi-content-2 {
        text-align: center;
        .marketing-app-tdi-padleft {
            padding-left: 45px;
        }
        
            @include font($fontU4, 24px, 1.17, null, $marketingSnDescription);
            margin-bottom: 0;
        
        margin: 0 62px;
        img {
            width: 100%;
        }
    }
    .app-description {
        text-align: center;
        margin-bottom: 50px;
        .desc {
           @include font($fontSL5, 22px, 1.23, null, $marketingSnDescription);
        }
        .secondary-button {
            margin-left: 20px;
            display: inline-block;
            @include font($fontSL9, 15px, 1.33, $white, 1.2px);
            text-align: center;
            cursor: pointer;
            padding: 10.34px 23.76px;
            border-radius: 8px;
            border: none;
            text-transform: uppercase;
        }
    }
    .content-tile-par {
        padding: 0 15px;
        .acs-commons-resp-colctrl-col {
            padding: 0 10px !important; //Needed important to overwrite an important style
            .content-tile-container {
                margin: 0 auto 20px;
            }
        }
    }
}

@include respond-to('xssmall') {
    .marketing-app-tdi-component {
        &.mobileCarousel {
            display: block;
        }
        &.contentTile {
            .app-tdi-header {
                p {
                    line-height: 0.91;
                }
                margin-bottom: 7px;
            }
            .app-tdi-content {
                p {
                    font-size: 16px;
                    line-height: 2;
                    letter-spacing: 0.4px;
                    margin-bottom: 20px;
                }
            }
        }
        .marketing-FullWidthCTA {
            margin-left: -10px;
        }
        .app-tdi-header {
            p {
                @include font($fontSE9, 32px, 0.94, null, $marketingSnTDI);
            }
            margin: 19px 0 17px;
        }
        .app-tdi-banner-image {
            margin-bottom: 15px;
        }
        .app-tdi-content {
            p {
                @include font($fontSL9, 20px, 1.2, null, $marketingSnDescription);
            }
            margin: 0px;
            text-align: center;
        }
        .app-tdi-content-2 {
            p {
                @include font($fontU4, 18px, 1.33, null, $marketingSnDescription);
            }
            margin: 0px;
            text-align: center;
        }
        .app-description {
            text-align: center;
            .secondary-button {
                padding: 10px;
                margin: 18px auto;
                padding: 10px 32px;
                border-radius: 100px;
            }
        }
        .content-tile-par {
            padding: 0;
            .acs-commons-resp-colctrl-col {
                .content-tile-container {
                    margin-bottom: 20px;
                }
            }
        }
        .carousel {
            .item {
                padding-bottom: 40px;
                img {
                    min-width: 329px;
                    margin-left: -18px;
                }
            }
            .carousel-control {
                display: none;
            }
            .carousel-indicators {
                bottom: 0;
                li {
                    width: 6px;
                    height: 6px;
                    background-color: #d8d8d8;
                    &.active {
                        margin: 1px;
                        background-color: #f7941e;
                    }
                }
            }
        }
    }
}
