.pagination-directive-wrapper {
    background-color: $white;
    border: 1px solid $contentTileBorderGray;
    
	.paginationBottom {
		margin-top: 23px;
		margin-bottom: 54px;

		ul {
			li {
                @include font($fontP7, 15px, 1, $titleHyperlinkColor, 1px);

				a {
					@include font($fontP7, 15px, 1, $titleHyperlinkColor, 1px);

					&:focus, &:hover, &:active {
						@include font($fontP7, 15px, 1, $titleHyperlinkColor, 1px);
					}
				}

				&.pageLabel {
                    @include font($fontP7, 15px, 1, $black, 1px);
				}

				select {
					border: 1px solid $juniorPaginationBorderGrey;
                    background: $juniorPaginationSelectBackground url("../../../images/icons/Junior-up-down-arrow.png") no-repeat;                    
    				background-position: right 3px center;

					option {
						background-color: $juniorPaginationDropdownBackground;
					}
				}
			}
		}
	}
}