.login-container{

div{
  border: 2px solid grey;
  padding: 25px;
  }
.main-container {
  width: 57%;
  margin: auto; 
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.sdm-nav {
  height: 45px;
  width: 320px;
  display: block;
  float: right;
  padding: 0;
}


}

.sdm-nav-header{
        background-color:#F3F3F1;

}
