.marketing-scholastic-magazine-wrapper {
    .scholastic-magazine-content {
        padding: 52px 30px 62px 40px;

        .magazine-title-wrapper {
            padding-bottom: 14px;

            span {
                &.magazine-title {
                    @include font($fontC9, 28px, 1.14, $mathTDItitleColor);
                    padding-right: 9px;
                }

                &.view-all-magazine {
                    @include font($fontB7, 14px, 1, $liteBlue1, 0.5px);
                }
            }
        }

        .content-container {
            margin-top: 67.67px;

            .magazine-content {
                margin-bottom: 0;
                padding-left: 0;
                padding-right: 20px;

                .magazine-subtitle {
                    @include font($fontC7, 20px, 1.15, $liteBlue1, 0.5px);
                    margin-top: 26px;

                    a {
                        color: $liteBlue1;
                    }
                }

                .magazine-desc {
                    @include font($fontB4, 18px, 1.22, $black);
                    margin-top: 12px;
                    padding-right: 5px;

                    p {
                        margin: 0;
                    }
                }

                .magazine-image {
                    width: 100%;
                    max-height: 248px;
                }

                .separator {
                    margin-top: 15px;
                }

                .magazine-content-cntr {
                    padding-left: 20px;
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            padding: 29px 20px 21.67px;

            .magazine-title-wrapper {
                padding-bottom: 11px;
                margin-bottom: 0;
                border-bottom-width: 5px;

                span {
                    &.magazine-title {
                        @include font($fontC9, 24px, null, $marketingGrey);
                        border-right: 2px solid $liteAsh2;
                    }
                }

                a {
                    display: inline-block!important; //To override the stayle added because of hidden-xs class
                }
            }

            .magazine-mobile-title-wrapper {
                display: none!important; //To override the stayle added because of visible-xs class
            }

            .content-container {
                margin-top: 38px;
                padding-right: 0;

                .magazine-content {
                    margin-bottom: 37px;
                    padding-right: 0;

                    .magazine-image {
                        max-height: 166px;
                        margin-top: 10px;
                        max-width: 124px;
                    }

                    .magazine-content-cntr {
                        padding-left: 9px;
                    }

                    .magazine-subtitle {
                        margin-top: 0;
                    }

                    .separator {
                        margin-top: 15px;
                    }

                    .magazine-desc {
                        margin-top: 12px;
                        padding-right: 0;

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
