.article-toolbar-layout {
    .article-toolbar {
        border:solid 1px $upfrontArticleToolbarBorderColor;
        border-radius:0px;
        background-color: $white;
        .menu-list {
            ul{
                li{
                    padding-left: 25px;
                }
            }
            .toolbar-sec-2{
                padding-top: 7px;
                .icon-description{
                    @include font($font07, 12px, 1.5, $black, 0.3px);
                    padding-left:2px;
                }
            }
            .icon-description{
                @include font($font04, 12px, 1.5, $black, 0.3px);
                padding-left:2px;
            }
            .title{
                @include font($font04, 11px, 1.45, $black, 0.5px);
                text-align: center;
            }
            .icon-bar {
                padding-top:17px;
                padding-bottom:17px;
            }
            .title-jump-to{
                padding-bottom:5px;
            }
            .drop-down{
                @include font($font04, 12px, 1.08, $black, 0.2px);
                background-color: $white;
                border-radius:4px;
                border: solid 1px $upfrontArticleToolbarDropdownBorder;
                background: $white url("/etc/designs/scholastic/classroom-magazines-migration/upfront/images/dropdown.png") no-repeat;
                background-position: right 10px center;
            }
        }
        .go-back-to-issues{
            padding-bottom:0px;
            .icon-description{
                letter-spacing: 0.2px;
            }
            
        }
        .toolbar-sec-2,.toolbar-sec-3,.toolbar-sec-4,.toolbar-sec-5{
            padding-left: 20px;
            position:relative;
        }
        .two-page-icon{
            position:relative;
        }
        .page-arrow-icon{
            position:relative;
        }
    }
}
