.voting-component-main-wrapper {
    position: relative;
    .student-voting-poll-view, .teacher-voting-poll-view {
        margin-bottom: 30px;
        .student-view-title, .teacher-view-title {
            @include font($fontSL7, 24px, 1, $white, 0.3px);
            background-color: $votingBackgroundBlue;
            padding: 11px 30px 13px;
        }
        .voting-poll-content {
            padding: 41px 30px 30px;
            background-color: $votingContentBackgroundGrey;
            border: solid 1px $votingContentBorderGrey;
            .student-view-question, .teacher-view-question {
                @include font($fontSL4, 22px, 1.09, $black);
            }
            .student-view-answer,
            .teacher-view-answer {
                .margin-top20 {
                    margin-top: 20px;
                    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                        margin-top: 0;
                    }
                }
                .submit-button {
                    .voting-poll-button {
                        width: 265px;
                        height: 40px;
                        border-radius: 100px;
                        background-color: $votingPollSubmitBackgroundGreen;
                        text-align: center;
                        padding-top: 9px;
                        padding-bottom: 11px;
                        display: inline-block;
                        @include font($fontSL9, 18px, 1.11, $white, 0.4px);
                        text-decoration: none;
                    }
                }
                .row {
                    margin-bottom: 0;
                    .col-md-8 {
                        width: 63.7%;
                    }
                }
                .field-error-text {
                    display: none;
                    &.field-error-text-visible {
                        display: block;
                    }
                }
            }
            .after-voting-success-content {
                @include font($fontSL4, 22px, 1.09, $votingSuccessLabelTextGreen);
                background-color: $votingSuccessbackgroundGreen;
            }
            .after-voting-ended-content {
                @include font($fontSL4, 22px, 1.09, $votingEndedLabelTextGrey);
                background-color: $votingSuccessbackgroundGrey;
            }
            .after-voting-ended-content,
            .after-voting-success-content {
                padding-top: 18px;
                padding-bottom: 20px;
                text-align: center;
                margin-top: 25px;
            }
            .student-poll-results,
            .teacher-poll-results {
                .poll-results-title {
                    margin-top: 40px;
                    @include font($fontSL5, 24px, 1, $black, 0.3px);
                }
                .poll-results-presentation {
                    margin-top: 14px;
                    background-color: $white;
                    display: table;
                    width: 100%;
                    .voting-results-chart, .voting-results-table {
                        display: table-cell;
                    }
                    /* .voting-results-chart{
                svg{
                        border: 1px solid red;
                    g:nth-child(1){
                        visibility: hidden;
                        opacity: 0;
                        display: none;
                    }
                    g{
                        visibility: hidden;
                        opacity: 0;
                        display: none;
                    }
                }
            }*/
                    
                    .voting-results-table {
                        vertical-align: top;
                        table {
                            margin-top: 21px;
                            width: 90%;
                            border-collapse: separate;
                            border-spacing: 0 0.5em;
                            tr {
                                @include font($fontSL4, 16px, 1.13, $votingTableHeading);
                                &.content {
                                    @include font($fontSL4, 18px, 1, $votingTableHeading);
                                    &:nth-child(even) {
                                        background-color: $votingTableRowBackground;
                                    }
                                }
                                &:last-child {
                                    @include font($fontSL5, 18px, 1, $votingTableHeading);
                                    td {
                                        padding: 10px;
                                    }
                                }
                                td {
                                    padding: 6px;
                                    span {
                                        width: 16px;
                                        height: 16px;
                                        margin: 0;
                                        display: inline-block;
                                        margin-right: 10px;
                                        vertical-align: top;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .voting-show-results-btn {
            text-align: center;
            margin-top: 25px;
            a {
                padding-left: 53px;
                width: 250px;
                height: 36px;
                border-radius: 100px;
                background-color: $votingResultsBtnBlue;
                padding-top: 10px;
                padding-bottom: 12px;
                text-align: center;
                @include font($fontSL7, 16px, 0.88, $white, 1px);
                display: inline-block;
                text-decoration: none;
                .sw-icon {
                    margin-left: 35px;
                    &.up-white-arrow {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .student-voting-poll-view {
        .voting-poll-content {
            .student-view-answer {
                margin-top: 36px;
                .submit-button {
                    margin-top: 40px;
                }
                .field-error-text {
                    @include font($fontSL4, 14px, 1.57, $errorFieldTextColor, 0.5px);
                }
                .label-text {
                    margin-bottom: 0;
                    @include font($fontSL4, 22px, 1.18, $black);
                    input[type="radio"] {
                        visibility: hidden;
                        position: absolute;
                        &:checked +.sw-icon {
                            background-position: -169px -334px;
                            width: 18px;
                            height: 18px;
                        }
                    }
                    span {
                        vertical-align: middle;
                        &.option-text {
                            padding-left: 7px;
                        }
                        &.sw-icon {
                            cursor: pointer;
                        }
                    }
                }
                .field-error-text {
                    &.field-error-text-visible {
                        margin-top: 4px;
                    }
                }
            }
        }
    }
    .teacher-voting-poll-view {
        .voting-poll-content {
            .teacher-view-answer {
                margin-top: 34px;
                .submit-button {
                    margin-top: 24px;
                }
                .field-error-text {
                    @include font($fontSL4, 14px, 1, $errorFieldTextColor, 0.5px);
                    margin-top: 8px;
                }
                .label-text {
                    @include font($fontSL4, 22px, 1.18, $black);
                    margin-bottom: 0;
                    input {
                        display: inline-block;
                        width: 80px;
                        height: 36px;
                        border: solid 1px $votingContentBorderGrey;
                        border-radius: 0;
                    }
                    span {
                        vertical-align: middle;
                        &.option-text {
                            padding-left: 11px;
                        }
                    }
                }
            }
        }
    }
}