<div data-sly-test="${!properties.columns}">You need to specify the column widths....</div>
<div data-sly-test="${properties.columns}" data-sly-unwrap>
	<div class="new-container clearfix ${properties.enableHighlightColor == 'true' ? 'custom-background ' : ''}">
			<div class="new-row">
				<div data-sly-list.child="${properties.columns}" data-sly-unwrap>
					<div class="acs-commons-resp-colctrl-col acs-commons-resp-colctrl-col-${child}">
						<div data-sly-test.concat="${ 'col{0}' @ format=[childList.index]}" data-sly-unwrap>
							<div data-sly-resource="${ @path=concat, resourceType='wcm/foundation/components/parsys'}"></div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<div class="clearfix"></div>
</div>