.brightcoveComponent-container{
    background-color: $bodyGrey;
    border: solid 2px $issueHighTitleborderGrey;
    @include radius(8px);
    .brightcovePlayer-Placeholder{
        margin-bottom: 12px;
        .video-js{
             @include border-radius-separate(6px, 6px, 0, 0);
            video{
             @include border-radius-separate(6px, 6px, 0, 0);
            }
        }
    }
    .brightcoveComponent-text-wrapper{
        .brightcoveComponent-title{
            display: none;
        }
        .brightcoveComponent-desc{
            @include font($font04, 14px, 1.29, $black, 0.5px);
            margin-bottom: 18px;
        }
    }
}