    .marketing-scholastic-magazine-wrapper {
    .scholastic-magazine-content {
        .magazine-title-wrapper {
            span {
                &.magazine-title {
                    @include font($fontN9, 28px, 1.14, $marketingGrey, null);
                    padding-right: 34px;
                }
                &.view-all-magazine {
                    @include font($font07, 14px, 1, $liteBlue1, 0.5px);
                    padding-left: 7px;
                }
            }
        }
        .content-container {
            .magazine-content {
                .magazine-content-cntr {
                    padding-right: 20px;
                    padding-left: 20px;
                    .magazine-subtitle {
                        margin-top: 15px;
                        @include font($fontN7, 20px, 1.15, $liteBlue1, 0.5px);
                        a {
                            color: $liteBlue1;
                        }
                    }
                    .magazine-desc {
                        @include font($font04, 18px, 1.33, $black, normal);
                    }
                }
            }
        }
    }
}

@include respond-to('xssmall') {
    .marketing-scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            padding: 38px 25px 51px 20px;
            .magazine-title-wrapper {
                span {
                    &.magazine-title {
                        @include font($fontN9, 20px, 1.2, $liteBlue1, null);
                        padding-right: 0;
                    }
                }
            }
            .magazine-mobile-title-wrapper {
                span {
                    &.view-all-magazine {
                        @include font($font09, 14px, 1, $liteBlue1, 0.3px);
                    }
                }
                .sw-icon {
                    &.right-arrow {
                        margin-left: 6px;
                        color: $liteBlue2;
                    }
                }
            }
            .content-container {
                .magazine-content {
                    .magazine-content-cntr {
                        margin-top: -20px;
                        padding-right: 0;
                        padding-left: 6px;
                        }
                    .magazine-image {
                        max-width: 124px;
                    }
                }
            }
        }
    }
}

@include respond-to ('1440px') {
    .marketing-scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            .content-container {
                .magazine-content {
                    .magazine-image {
                        max-width: 185px;
                        width: auto;
                    }
                    .magazine-content-cntr {
                        padding: 0 23px;
                    }
                }
            }
        }
    }
}