<div data-sly-test.placeholder="${!wcmmode.disabled}" data-sly-unwrap>Configure Marketing - Video and Game Component</div>
<div data-sly-use.videoGame="com.scholastic.classmags.migration.controllers.VideoGameUse">
<div class="online-resources row" style="background: ${properties.bgColor @context='styleString'}">
<div class="online-resources-head">${properties.rteFieldTitle @ context= 'html'}</div>
<div data-sly-test="${properties.rteDescription}" class="online-resources-description">${properties.rteDescription @ context= 'html'}</div>
<div class="marketing-video-game-content">
    <div class="col-sm-8 pad0 col-xs-12 online-resources-head-image">
       <img src="${properties.mobileImage}" alt="Mobile Image" class="visible-xs-inline illustration-img">
       <img src="${properties.fileReference}" alt="Desktop Image" class="hidden-xs illustration-img">
    </div>
    <div class="marketing-video-game-container col-sm-4 pad0 col-xs-12">
       <div data-sly-list.sample="${videoGame.tileObject}" data-sly-unwrap>
          <div class="marketing-${sample.contentType}-container">
             <div class="marketing-${sample.contentType}-container-title">
                <span>${sample.assetLabel @ context = 'html'}</span>
             </div>
             <div data-sly-test="${sample.contentType  == 'game'}" class="game-top-controls">
               <span class="game-top-controls-content"></span>
            </div>
             <sw-marketing-content-tile image-src="${sample.associatedImage}"
                image-hyperlink="${sample.pagePath}"
                content-type="${sample.contentType}"
                video-id="${sample.videoId}"
                video-length="${sample.videoDuration}"
                game-id="${sample.gameModel.containerId @ context='text'}"
                game-flash-container="${sample.gameModel.containerPath @ context='uri'}"
                game-path="${sample.gameModel.gamePath @ context='uri'}"
                game-type="${sample.gameModel.gameType}">
             </sw-marketing-content-tile>
          </div>
       </div>
    </div>
</div>

<div class="marketing-video-game-content-new">
    <div class="col-sm-8 col-sm-offset-2 pad0 col-xs-12 online-resources-head-image">
   <img src="${properties.mobileImage}" alt="Mobile Image" class="visible-xs-inline illustration-img">
   <img src="${properties.fileReference}" alt="Desktop Image" class="hidden-xs illustration-img">
</div>
    <div class="marketing-video-game-container-new pad0 col-xs-12">
   <div data-sly-list.sample="${videoGame.tileObject}" data-sly-unwrap>
      <div data-sly-test="${sample.contentType  == 'video'}" class="marketing-${sample.contentType}-container col-md-4 col-xs-12">
         <sw-marketing-content-tile image-src="${sample.associatedImage}"
            image-hyperlink="${sample.pagePath}"
            content-type="${sample.contentType}"
            video-id="${sample.videoId}"
            video-length="${sample.videoDuration}"
            game-id="${sample.gameModel.containerId @ context='text'}"
            game-flash-container="${sample.gameModel.containerPath @ context='uri'}"
            game-path="${sample.gameModel.gamePath @ context='uri'}"
            game-type="${sample.gameModel.gameType}">
         </sw-marketing-content-tile>
         <div class="marketing-${sample.contentType}-container-title">
            <span>${sample.assetLabel  @ context= 'html'}</span>
         </div>
         <div class="marketing-${sample.contentType}-container-description">
            ${sample.contentDescription @ context= 'html'}
         </div>
      </div>
      </div>

         <div class="marketing-video-game-divider"></div>
         <div data-sly-list.sample="${videoGame.tileObject}" data-sly-unwrap>
             <div data-sly-test="${sample.contentType  == 'noimage'}" class="marketing-description-container col-md-4 col-xs-12">
                <div class="marketing-description-container-title">
                   <span>${sample.assetLabel  @ context= 'html'}</span>
                </div>
                <div class="marketing-description-container-description">
					${sample.contentDescription @ context= 'html'}
                </div>
             </div>
           </div>
         <div class="marketing-video-game-divider"></div>


         <div data-sly-list.sample="${videoGame.tileObject}" data-sly-unwrap>

            <div data-sly-test="${sample.contentType  == 'game'}" class="marketing-${sample.contentType}-container col-md-4 col-xs-12">
               <sw-marketing-content-tile
                  image-src            ="${sample.associatedImage}"
                  image-hyperlink      ="${sample.pagePath}"
                  content-type         ="${sample.contentType}"
                  video-id             ="${sample.videoId}"
                  video-length         ="${sample.videoDuration}"
                  game-id              ="${sample.gameModel.containerId @ context='text'}"
                  game-flash-container ="${sample.gameModel.containerPath @ context='uri'}"
                  game-path            ="${sample.gameModel.gamePath @ context='uri'}"
                  game-type            ="${sample.gameModel.gameType}">
               </sw-marketing-content-tile>
               <div class="marketing-${sample.contentType}-container-title">
                  <span>${sample.assetLabel  @ context= 'html'}</span>
               </div>
               <div class="marketing-${sample.contentType}-container-description">
                  ${sample.contentDescription @ context= 'html'}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
