.textHyperlink-container-content {
.flexible-title-custom-background{
        padding-top: 51px;
        background-color: $snGlobalNavExploreColor;
    }
    .textHyperlink-container-wrapper {
        &.left {
            flex-direction: row;
        }

        &.right {
            flex-direction: row-reverse;

            .text-link-connector {
                margin-right: 15px;
                margin-left: 0;
            }

            .textHyperlink-link {
                margin-left: 0;
                margin-right: 15px;
            }
        }

        .text-link-connector {
            &.hide-ruler {
                visibility: hidden;
            }
        }
        .textHyperlink-text {
            p {
                margin-bottom: 0;
            }
        }
    }
}
