.buttonContainerFullWidth {
  background-color: $yellow;
  padding: 9px;
  text-align: center;
  width: 100%;
  .btn {
    @include font($fontC9, 24px, 0.83, $black, 1.8px);
    background-color: $mathButtonColor;
    padding: 14px;
    border-radius: 100px;
    max-width: 315px;
  }
}

@include respond-to('xssmall') {
  .buttonContainerFullWidth {
    .btn {
      @include font($fontC9, 16px, 1.25, $black, 1.1px);
    }
  }
}