.email-form-thankyou-container {
    position: relative;
    
    .email-the-editor-hash-background {
        display: block;
        background: url('../../../images/lines-grey.png') repeat;
        min-height: 118px;
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        z-index: -1;
    }
    
    .col-md-offset-2 {
        margin-left: 6.703%;
        
        &.correct-error-text-container {
            margin-left: 7.066%;
        }
    }
    
    .email-thankyou-wrapper {
        margin-top: 36px;
        margin-bottom: 23px;
        background-color: $white;
        border: 1px solid rgba(204, 204, 204, 0.44);
        position: relative;
        top: -5px;
        
        .email-editor-container {
            padding-top: 33px;

            .email-editor-description-container {
                padding-right: 5.771px;

                &.col-md-offset-2 {
                    margin-left: 7.066%;
                }
            }
        }
        
        .email-editor-description-text {
            @include font($fontP4, 17px, 1.29, $black, normal);
        }
        
        .email-editor-description-container, .email-editor-pad-container, .correct-error-text-container, .back-to-previous-pad-container {
            padding-left: 0;
        }
        
        .email-form-all-fields-container {
            margin-top: 58px;
        }
        
        .email-form-image {
            margin-top: 88px;
        }
        
        .email-form-all-fields-container {
            padding-right: 120.688px;
            
            .send-button-wrapper {
                margin-bottom: 44px;
                
                .send-button {
                    background-color: $juniorSearchButtonGreen;
                    padding: 11px 67px 9px;
                    @include font($fontPE4, 14px, 1.43, $black, 0.3px);
                }
            }
        }
        
        .form-field-wrapper {
            margin-bottom: 0;
            
            .label-text {
                @include font($fontP7, 18px, 0.72, $black, 0.3px);
                margin-bottom: 13px;
            }
            
            .form-field-input {
                @include font($fontP5, 18px, 0.72, $black, 0.3px);
                font-weight: 600;
            }
            
            .subject-field-input {
                margin-bottom: 22px;
                
                &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, :-ms-input-placeholder {
                    @include font($fontP5, 18px, 0.72, $black, 0.3px);
                    font-weight: 600;
                    opacity: 0.3px;
                }
            }
        }
        
        .message-field-wrapper {
            margin-bottom: 10px;
        }
        
        .required-fields-text {
            @include font($fontP4, 17px, 1.29, $black, normal);
            margin-bottom: 39px;
        }       
        
        .back-to-previous-pad-container {
            &.col-md-offset-2 {
                margin-left: 7.071%;
            }
        }
    }
    
    .back-to-previous-wrapper {
        margin-bottom: 117px;

        .back-to-previous-text {
            @include font($fontPE4, 14px, 1, $tabBgBlue, normal);
        }
    }
}

@media (min-width:1440px) {
	.email-form-thankyou-container {
        .email-thankyou-wrapper {
            margin-left: 40px;
        }
	}
}