.bookmarks-main-container {
    margin-top: 17px;
    background: $juniorLiteGray;
    padding-left: 40px;
    padding-right: 40px;

    .bookmarks-main-content {
        .bookmarks-header {
            margin-left: 0;
            padding-bottom: 6px;
            border-bottom: 2px solid $juniorMyBookmarksHeaderBorder;

            .title-container {
                @include font($fontP9, 28px, 1.14, $gray, -1px);
            }

            .title-count {
                @include font($fontP5, 24px, null, $black, normal);
                line-height: normal;
                margin-left: 4px;
            }
        }

        .bookmarks-content {
            margin-bottom: 89px;

            .sort-by-wrapper {
                .sort-by-text {
                    @include font($fontP5, 14px, 0.93, $black, normal);
                    padding-left: 10px;
                }

                .sort-by-category {
                    a {
                        @include font($fontP5, 14px, 0.93, $liteBlue2, 0.6px);
                    }

                    &.active-sort a {
                        @include font($fontP7, 14px, 0.93, $black, 0.6px);
                    }
                }

                span {
                    padding-left: 16px;

                    &:nth-child(2) {
                        margin-right: 19px;
                    }
                }
            }

            .bookmarks-tiles {
                padding-bottom: 19px;

                .bookmarks-tiles-content {
                    margin-bottom: 16px;
                }
            }
        }

        .articles-resources-issues-container {
            margin-top: 10px;

            .tab-content {
                padding-top: 0;

                .tab-pane {
                    .filter-section-container {
                        .bookmarks-facets {
                            padding-left: 0;

                            .filter-category-section {
                                border-bottom: 1px solid $liteAsh2;
                                border-top: 0;

                                &:first-child {
                                    padding-top: 0;
                                }

                                .filter-category-heading {
                                    @include font($fontPA9, 15px, 0.87, $black, 1.2px);
                                    margin-bottom: 18px;
                                }

                                .filter-category-items-container {
                                    ul {
                                        .filter-category-item {
                                            @include font($fontP5, 14px, 0.93, $black, normal);

                                            label {
                                                border: 1px solid $ashGrey;
                                            }

                                            span {
                                                left: 22px;
                                            }

                                            &:last-child {
                                                padding-bottom: 9px;
                                            }

                                            input[type=checkbox][disabled] {
                                                +label {
                                                    background: $juniorBookmarkCheckboxBackground;
                                                    cursor: default;

                                                    &:after {
                                                        content: '';
                                                        width: 8.6px;
                                                        height: 6px;
                                                        top: 4px;
                                                        left: 3px;
                                                        border: 3px solid $tabBgBlue;
                                                        background: transparent;
                                                        border-top: none;
                                                        border-right: none;
                                                    }

                                                    +span {
                                                        @include font($fontP5, 14px, 0.93, $tabBgBlue, normal);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &.filter-reset-section {
                                    padding-top: 28px;

                                    .filter-category-items-container {
                                        ul {
                                            .filter-category-item {
                                                @include font($fontP9, 14px, 1, $tabBgBlue, normal);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .bookmarks-section {
                        padding-left: 27.33px;
                        padding-right: 0;

                        .bookmarks-content {
                            background-color: $white;
                            border: solid 1px rgba(204, 204, 204, 0.44);
                            padding: 20px 40px 0 29px;
                        }
                    }
                }
            }

            .articles-resources-issues-tabs {
                ul {
                    border-bottom: 0;
                    padding-right: 0;

                    li {
                        background-color: $contentTileSkillSheetGray;

                        &:before {
                            background-color: $contentTileSkillSheetGray;
                            border-top-left-radius: 9px;
                        }

                        &:after {
                            background-color: $contentTileSkillSheetGray;
                            border-top-right-radius: 9px;
                        }

                        a {
                            @include font($fontP9, 21px, 0.86, $gray, normal);
                            margin-top: 3px;
                        }

                        &.active {
                            background-color: $juniorBookmarkActiveTabBackground;

                            &:after {
                                background-color: $juniorBookmarkActiveTabBackground;
                            }

                            &:before {
                                background-color: $juniorBookmarkActiveTabBackground;
                            }

                            a {
                                color: $gray;
                                @include font($fontPE4, 20px, 0.9, $gray, 1.5px);
                            }
                        }
                    }
                }
            }
        }
    }

    @include respond-to ('large') {
        .filter-section-container {
            width: 16.66666667%;
        }

        .bookmarks-section {
            width: 83.33333333%;
        }
    }

    @include respond-to ('medium-and-up') {
        .nav-tabs {
            li {
                width: 41.66666667%;

                &:first-child {
                    margin-left: 16.66666667%;
                }
            }
        }
    }
}
