
@mixin respond-to($media) {
  @if $media == 'xssmall-and-up' {
    @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) { @content; }
  }
  @else if $media == 'xssmall' {
    @media only screen and (max-width: $screen-xs-max) { @content; }
  } 
  @else if $media == 'small-and-down' {
    @media only screen and (max-width: $screen-sm-max) { @content; }
  }
  @else if $media == 'small-and-up' {
    @media only screen and (min-width: $screen-sm-min) { @content; }
  }
  @if $media == 'small' {
    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { @content; }
  }
  @else if $media == 'small-and-medium' {
    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) { @content; }
  }
  @else if $media == 'medium' {
    @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) { @content; }
  }
  @else if $media == 'medium-and-down' {
    @media only screen and (max-width: $screen-md-max) { @content; }
  }
  @else if $media == 'medium-and-up' {
    @media only screen and (min-width: $screen-md-min) { @content; }
  }
  @else if $media == 'large' {
    @media only screen and (min-width: $screen-lg-min) { @content; }
  }
  @else if $media == '1440px'{
    @media only screen and (min-width: $screen-classmags-max ){ @content; }
  }
}

/*
Usage

 @include respond-to('small'){
     body{
     background-color: orange;
     }
}

*/