$marketingSnTDI: #0066b3 !default;
$marketingSnDescription: #4a4a4a !default;
$marketingSnHeader: #0083ca !default;
$IssueTeachingTitleGreen: #39a340 !default;
$sn3ThickBlue: #0066b3 !default;
$sn3grey: #d9dbde !default;
$sn3Green: #39a340 !default;
$snBorderBlue: #aeefff !default;