<div class="marketing-content-tile-container">
    <div class="content-tile-body">
        <div class="row" ng-class="{'game-video-wrapper': (contentType == 'video' || contentType == 'Videos' || contentType == 'games' || contentType === 'game')}">
            <div ng-class="{'image-container-resource': (contentType == 'skillsSheet' || contentType == 'experiment' || contentType == 'lessonPlan'
                                                             || contentType == 'Lesson Plans' || contentType == 'Skills Sheets'),
                                'image-container': (contentType=='video' || contentType === 'Videos' || contentType === 'games' || contentType === 'game')}">
                <a ng-if="(contentType!== 'game' && contentType!== 'Games')" ng-href="{{(contentType=='video' || contentType == 'Videos')? 'javascript:void(0)':imageHyperlink }}" ng-class="{'video_play':(contentType=='video' || contentType == 'Videos')}" ng-attr-data-toggle="{{ (contentType=='video' || contentType == 'Videos')?'modal':''}}"
                    ng-attr-target="{{isNewWindow ? '_blank': ''}}" ng-attr-data-video="{{ (contentType=='video' || contentType == 'Videos')? videoId:''}}">
                    <img class="content-image" ng-class="{'border-image-container-radius': (displayStyle!= 'bookmark' && displayStyle!= 'contenthub' &&
                          !(contentType == 'skillsSheet' || contentType == 'experiment' || contentType == 'lessonPlan'
                            || contentType == 'Lesson Plans' || contentType == 'Skills Sheets'))}" ng-src="{{imageSrc}}" />
                    </a>

                    <!-- video play icon -->
                    <div ng-if="contentType=='video' || contentType == 'Videos'" class="video-play-icon">
                        <a  href="javascript:void(0)" class="video_play" data-toggle="modal" data-video="{{videoId}}" target="_self">
                        <span class="sw-icon video-icon"></span>
                        </a>
                    </div>

                    <div ng-if="(contentType === 'game' || contentType === 'Games') && (gameType === 'flash')">
                        <game-flash-container container-image="{{imageSrc}}" container-id="{{gameId}}" container-path="{{gameFlashContainer}}" container-game-flash-data="{{gamePath}}" container-modal="true" ng-cloak>
                        </game-flash-container>

                    </div>
                    <div ng-if="(contentType === 'game' || contentType === 'Games') && (gameType === 'html5')">
                        <game-container container-title="Play Now" container-image="{{imageSrc}}" container-game="Game" container-id="{{gameId}}" container-modal="true" container-path="{{gamePath}}" ng-cloak>
                        </game-container>
                    </div>
    </div>
</div>
</div>
</div>
