.article-resources-main-container {
    &#TeachingResourcesComponent{
    background-color: $dynamathBackgroundGrey;
        .textHyperlink-hash-container{
               display:none;
        } 
        .textHyperlink-container-wrapper{
            margin-bottom: 30px;
            .textHyperlink-wrapper{
                background-color: $dynamathTabBorderBottomColor;
                height:auto;
                .textHyperlink-text{
                    @include font($fontPE4, 28px, 1.14, $white, 0.5px);
                    padding: 9px 38px;
                    background-color: $dynamathTabBorderBottomColor;
                    position: static;
                    margin: 0;
                }
            } 
        }  
        .article-resources-content{
          padding-left:28px;
          padding-bottom:35px;
          .article-resources-heading{
            margin-bottom:7px;
            .article-title{
                @include font($fontP7, 16px, 1.5, $black, 0.5px);
            }
          }
        }
    }   
}
