<div class="articleStyleTitle-component">
    <div class="articleStyleTitle-container" ng-style="{'background-color' : bgcolor}">
        <h2 ng-style="{'background-color' : bgcolor}">{{title}}</h2>
    </div>
    <a href="{{hyperLinkUrl}}" class="articleStyleTitle-link pull-right" ng-if="hyperLinkText">{{hyperLinkText}} <span class="icon sw-icon icon-right right-arrow"></span></a>
</div>
