.pagination-directive-wrapper {
	.paginationBottom {
        margin-top: 35px;

		ul {
			li {
                @include font($fontS7, 15px, 1, $contentTileSubjectBlue, 1px);
                position: relative;
                
				a {
					@include font($fontS7, 15px, 1, $contentTileSubjectBlue, 1px); 

					&:focus, &:hover, &:active {
						@include font($fontS7, 15px, 1, $contentTileSubjectBlue, 1px); 
					}
				}
                
				&.pageLabel {
                    @include font($fontS7, 15px, 1, $black, 1px); 
                    top: -4px;
				}

				.sw-icon {
                    position: relative;
                    top: -1px;
				}

				select {
                    border: 1px solid $superScienceSelectBorder;
                    background: $superScienceSelectBg url(../../../images/icons/SuperScience-up-down-arrow.png) no-repeat;
                    background-position: right 3px center;
                    
					option {
						background-color: $superScienceSelectBg;
					}
				}
			}
		}
	}
}