.slide-show-component-layout {
  .launch-slide-show {
   font-family: 'Canaro-Black';
  }
  .slide-show-description {
    .slide-show-des-block {
      .page-title {
        font-family: 'Canaro-Book';
      }
      .page-name {
        font-family: 'Canaro-Book';
      }
    }
  }
  .slide-show-header {

    .slide-show-header-name {
      font-family: 'Canaro-Black';
    }

    .total-img-present-img {
      font-family: 'BasicCommercialLTCom-Roman';
    }
  }
  .page-num {
    font-family: 'BasicCommercialLTCom-Bold';
  }
}

.slide-show-audio-wrapper {
  .credits-text {
    @include font($fontB4, 10px, 1.2, $slideShowCreditsGrey, 0.5px);
  }

  .slide-show-title {
    @include font($fontB8, 16px, 1.44, $slideShowBlueText, 0.7px);
  }

  .slide-show-description {
    @include font($fontB4, 16px, 1.5, $slideShowDescriptionText, 0.6px);
  }
}


