.recent-issues-container {
    margin-top: -4.8px;
    padding-bottom: 52px;

    .recent-issue-content-wrapper {
        .recent-issue-date {
            @include font($fontS6, 18px, 1.17, $black, 0.5px);
        }
    }
}
