<div>
<div class="junior-content-tile-container" sw-authorize="{{role}}" ng-if="position=='vertical'" ng-class="{'contenthub-bookmark': displayStyle=='contenthub' || displayStyle == 'bookmark'}">
    <div ng-if="displayStyle=='contenthub' || displayStyle == 'bookmark'">
        <div class="content-hub-header" ng-if="displayStyle == 'contenthub'">
            <p class="content-date"> {{displayDate}} </p>
        </div>
        <div class="bookmark-header" ng-if="displayStyle == 'bookmark'">
            <div class="row">
                <div class="col-md-12">
                    <p class="bookmark-title"> {{bookmarkTitle}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="bookmark-date">{{bookmarkDate}}</p>

                </div>
            <div class="col-md-6">
                    <p class="bookmark-type">{{bookmarkType}}</p>
            </div>
            </div>

        </div>
    </div>


    <div class="content-tile-body">
    <div class="row"
        ng-class="{'resource-wrapper': (contentType == 'skillsSheet' || contentType == 'lessonPlan'  || contentType === 'game'
                  || contentType == 'Lesson Plans' || contentType == 'Skills Sheets' || contentType === 'slideshow' || contentType === 'activity'),
                  'lesson-plan':(contentType == 'lessonPlan' || contentType == 'Lesson Plans'),
                  'game': contentType === 'game','slideshow': contentType === 'slideshow','activity': contentType === 'activity',
                  'skills-sheet': contentType == 'skillsSheet' || contentType == 'Skills Sheets'}">
        <div ng-class="{'image-container-resource': (contentType == 'skillsSheet' || contentType == 'lessonPlan'
                      || contentType == 'Lesson Plans' || contentType == 'Skills Sheets' || contentType === 'game'
                      || contentType === 'slideshow' || contentType === 'activity'),
                      'image-container': (contentType != 'skillsSheet' && contentType != 'lessonPlan' && contentType !== 'game' && contentType !== 'slideshow' && contentType !== 'activity'
                            && contentType!= 'Lesson Plans' && contentType!= 'Skills Sheets')}">
            
            <a href="{{imageHyperlink}}"> <img class="content-image" ng-src="{{imageSrc}}" /> </a>

            <!-- video play icon -->
            <div ng-if="contentType=='video' || contentType == 'Videos'" class="video-play-icon">
                <a  href="" class="video_play" data-toggle="modal" data-video="{{videoId}}" target="_self">
                <span class="sw-icon video-icon"></span>
                </a>
            </div>

            <!-- vido time frame -->
            <div ng-if="(contentType=='video' || contentType == 'Videos') && videoLength" class="video-time-frame">
                <span  aria-hidden="true" >{{videoLength}}</span>
            </div>

        </div>
    </div>
    <div class="row" ng-if="subject">
            <p class="subject" data-ng-bind="subject" data-ellipsis></p>
        </div>
        <div class="row" ng-class="{'title-class': (displayStyle !== 'bookmark' && displayStyle !== 'contenthub') && (contentType === 'video' || contentType === 'article' || contentType === 'issue' || contentType === 'skillsSheet' || contentType === 'Skills Sheets')}">
          <a class="title" href="{{imageHyperlink}}" data-ng-bind="contentTitle" data-ellipsis></a>
        </div>

        <div class="row">
            <p class="description" data-ng-bind="description" data-ellipsis></p>
        </div>
        <div class="row icons-row">
            <!--
            <div class="sw-icon">
                <span class="sw-icon bookmark-icon"></span>
            </div>
            -->
            <div ng-if="showDownload" class="sw-icon">
                <a href="{{imageHyperlink}}" target="_blank" ng-if="showDownloadIcon">
                    <span class="sw-icon download-icon"></span>
                </a>
            </div>
            <div ng-if="showShare" class="sw-icon">
                <sw-show-popover link-url="{{shareLinkUrl}}"></sw-show-popover>
            </div>
            <!--
            <div class="sw-icon">
                <span class="sw-icon print-icon"></span>
            </div>
            -->
            <div ng-if="showView || viewArticleLinkUrl" class="view-article-link">
                <a href={{viewArticleLinkUrl}}>{{articleLinkText}}</a>
            </div>
        </div>

    </div>
</div>

<div class="junior-content-tile-container-horizontal" ng-if="position=='horizontal'" sw-authorize="{{role}}">
    <div class="row">
        <div class="col-md-6 padding-image">
            <div class="image-container">
                <a href="{{imageHyperlink}}"> <img class="content-image" ng-src="{{imageSrc}}" /> </a>
            </div>
        </div>
        <div class="col-md-6 padding-content">
          <div class="row" ng-if="contentType==='news'">
                  <p class="subject" data-ng-bind="subject" data-ellipsis></p>
              </div>
            <div class="row">
                <a class="title" href="{{imageHyperlink}}" data-ng-bind="contentTitle" data-ellipsis></a>
            </div>
            <div class="row" ng-if="contentType==='news'">
                    <p class="display-date" data-ng-bind="displayDate"></p>
                </div>
            <div class="row">
                <p class="description" data-ng-bind="description" data-ellipsis></p>
            </div>
            <div class="row icons-row">
            <!--
            <div class="sw-icon">
                <span class="sw-icon bookmark-icon"></span>
            </div>
            -->
            <div ng-if="showDownload" class="sw-icon">
                <a href="{{imageHyperlink}}" target="_blank" ng-if="showDownloadIcon">
                    <span class="sw-icon download-icon"></span>
                </a>
            </div>
            <div ng-if="showShare" class="sw-icon">
                <sw-show-popover link-url="{{shareLinkUrl}}"></sw-show-popover>
            </div>
            <!--
            <div class="sw-icon">
                <span class="sw-icon print-icon"></span>
            </div>
            -->
            <!--
            <div ng-if="showView" class="view-article-link">
                <a href={{imageHyperlink}}>View Article</a>
            </div>
            -->
        </div>
        </div>
    </div>

</div>
