.pagination-directive-wrapper {
	.paginationBottom {
        margin-top: 33px;
        
		ul {
			li {
                @include font($fontSL5, 16px, 0.94, $sn56ArticleLinkColor, 1px);
                
				a {
					@include font($fontSL5, 16px, 0.94, $sn56ArticleLinkColor, 1px);

					&:focus, &:hover, &:active {
						@include font($fontSL5, 16px, 0.94, $sn56ArticleLinkColor, 1px);
					}
				}
                
				&.pageLabel {
                    @include font($fontSL5, 16px, 0.94, $black);
				}

				select {
					border: 1px solid $sn56BorderGrey;
					background: $sn56BgGrey url(../../../images/icons/sn56-up-down-arrow.png) no-repeat;
    				background-position: right 3px center;

					option {
						background-color: $sn56PaginationGrey;
					}
				}
			}
		}
	}
}