.article-toolbar-layout {
    .article-toolbar {
        border:solid 2px $dynamathArticleToolbarBorderColor;
        border-radius: 10px;
        background-color: $dynamathArticleToolbarBackgroundColor;
        .go-back-to-issues{
            padding-bottom:7px;
        }
        .menu-list {
            ul{
                li{
                    padding-left: 25px;
                }
            }
            .icon-description{
                @include font($fontP5, 13px, 1.38, $black, 0.2px);
                padding-left:2px;
            }
            .title{
                @include font($fontPE4, 11px, 1.45, $black, 0.9px);
                text-align: center;
            }
            .icon-bar {
                padding-top:17px;
                padding-bottom:17px;
            }
            .title-jump-to{
                padding-bottom:5px;
            }
            .drop-down{
                @include font($fontP4, 12px, 1.08, $black, 0.2px);
                background-color: $white;
                border-radius:4px;
                border: solid 1px $dynamathArticleToolbarDropdownBorder;
                background: $white url("/etc/designs/scholastic/classroom-magazines-migration/dynamath/images/dropdown.png") no-repeat;
                background-position: right 10px center;
                &:disabled {
                    background: $slNumberColor;
                }
            }
        }
        .toolbar-sec-2,.toolbar-sec-3,.toolbar-sec-4,.toolbar-sec-5{
            padding-left: 20px;
            position:relative;
        }
        .two-page-icon{
            position:relative;
        }
        .page-arrow-icon{
            position:relative;
        }
    }
}
