<div data-sly-use.voting="com.scholastic.classmags.migration.controllers.VotingUse">
	<div data-sly-test.placeholder="${!(wcmmode.disabled || properties.question)}">Configure
		Media - Voting Component</div>

<div data-sly-test="${properties.question}" data-sly-unwrap>
	<div class="voting-component-main-wrapper" style="width:670px;" ng-controller="votingPollController">
			 <!-- ${currentNode.path} ${voting.disableVotingDate} ${properties.uuid}-->
			 <div class="voting-poll-view" data-disableVotingDate="${voting.disableVotingDate}" data-questionId="${properties.uuid}" data-currentpath="${currentNode.path}" data-reporttype="${properties.reportType}">
				<div class="student-voting-poll-view" ng-if="isStudent" >
					 <div class="student-view-title">What do you think?
					 </div>
					 <div class="voting-poll-content">
							<div class="student-view-question">${properties.question}
							</div>
							<div class="student-view-answer" ng-if="!showThanksMessage && !showVoteEnded">
								 <form name="studentDataForm" novalidate  role="form">
										<div class="form-group row nopadLR nomarLR">
											 <div class="col-xs-8 nopadLR">
											 <div data-sly-list.answer="${voting.answerOptions}">
													<div class="col-xs-4 nopadLR">
														 <label for="studentoption${answerList.index}" class="label-text"> <input  type="radio"
																class="form-control form-field-input"

																id="studentoption${answerList.index}" value="studentoption${answerList.index}"
																name="studentQuestionOptions"
																ng-model="studentData.options" ng-click="studentFormError=false"> <span class="sw-icon radio-unchecked-icon"></span> <span class="option-text">${answer.option}</span> </label>
													</div>
													</div>
											 </div>
											 <div class="col-xs-4 nopadLR">
													<span class="field-error-text" ng-class="{'field-error-text-visible':studentFormError}">Please make a selection.</span>
											 </div>
										</div>
										<div class="submit-button">
											 <a href="javascript:void(0);" class="voting-poll-button" ng-click="validatePollData('studentDataForm')">Cast Your Vote
											 </a>
										</div>
								 </form>
							</div>
							<div class="after-voting-success-content" ng-if="showThanksMessage">
								${properties.acknowledgement}
							</div>
							<div class="after-voting-ended-content" ng-if="showVoteEnded">
								Voting has ended. See final results below.
							</div>
							<div class="student-poll-results" ng-show="pollshow" >
								 <div class="poll-results-title">Results</div>
								 <div class="poll-results-presentation" id="poll-results-presentation">
								 </div>
							</div>
					 </div>
					 <div class="voting-show-results-btn">
							<a href="javascript:void(0)" ng-show="pollshow" data-state="expand" ng-click="showHidePollResults()">See results
							<span class="sw-icon expand-collapse-arrow down-black-arrow"></span>
							</a>
							<a href="javascript:void(0)" ng-show="!pollshow" data-state="collapse" ng-click="showHidePollResults()">Hide results
							<span class="sw-icon expand-collapse-arrow down-black-arrow up-black-arrow"></span>
							</a>
					 </div>
				</div>

		 <div class="teacher-voting-poll-view" ng-if="isTeacher">
				<div class="teacher-view-title">What does your class think?
				</div>
				<div class="voting-poll-content">
					 <div class="teacher-view-question">Do kids need homework?
					 </div>
					 <div class="teacher-view-answer" >
							<form name="teacherDataForm" novalidate role="form" ng-if="!showThanksMessage && !showVoteEnded" >
								 <div class="form-group row nopadLR nomarLR">
										<div class="col-xs-12 nopadLR">
										<div data-sly-list.answer="${voting.answerOptions}">
											 <div class="col-xs-4 nopadLR">
													<label for="teacheroption${answerList.index}" class="label-text"> <input  type="text" ng-change="removeErrors()"
														 class="form-control form-field-input"
														 id="teacheroption${answerList.index}"
														 name="teacherQuestionOptions"
														 ng-model="teacheroption${answerList.index}"  required numeric-only
                     >  <span class="option-text">${answer.option}</span> </label>
											 </div>
											 </div>
										</div>
										<div class="col-xs-12 nopadLR">
											 <span class="field-error-text" ng-class="{'field-error-text-visible': (teacherDataFormError)}">Sorry, please make sure that the total number of votes is between 1-40.</span>
                     <span class="field-error-text" ng-class="{'field-error-text-visible': (teacherDataFormServerError)}">serrver error</span>
                     <span class="field-error-text" ng-class="{'field-error-text-visible': (teacherFormInvalid)}">Please vote for atleast one</span>
										</div>
								 </div>
								 <div class="submit-button">
										<a href="javascript:void(0);" class="voting-poll-button" ng-click="validatePollData('teacherDataForm')">Cast Your Vote
                     </a>
										</input>
								 </div>
							</form>
					 </div>
					 <div class="after-voting-success-content" ng-if="showThanksMessage">
						 ${properties.acknowledgement}
					 </div>
					 <div class="after-voting-ended-content" ng-if="showVoteEnded">
						Voting has ended. See final results below.
					 </div>
					 <div class="teacher-poll-results" ng-show="pollshow">
							<div class="poll-results-title">Results</div>
							<div class="poll-results-presentation" id="poll-results-presentation">
							</div>
					 </div>
				</div>
				<div class="voting-show-results-btn">
					 <a href="javascript:void(0)" ng-show="pollshow" data-state="expand" ng-click="showHidePollResults()">See results
					 <span class="sw-icon expand-collapse-arrow down-black-arrow"></span>
					 </a>
					 <a href="javascript:void(0)" ng-show="!pollshow" data-state="collapse" ng-click="showHidePollResults()">Hide results
					 <span class="sw-icon expand-collapse-arrow down-black-arrow up-black-arrow"></span>
					 </a>
				</div>
		 </div>

			</div>
		 </div>

	</div>

</div>
	
