<!DOCTYPE html>
<html>
   <head>
      <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" href="../../styles/main.css" />
   </head>
   <body>
      <div class="voting-component-main-wrapper" style="width:670px;" ng-controller="VotingPollController">
          <div class="voting-poll-view" data-disableVotingDate="1493317800000" data-questionId="1111100000" data-currentpath="http://localhost:4502/content/classroom_magazines/scienceworld/issues/2016-17/090516/testarticle/jcr:content/par/voting">
            <div class="teacher-voting-poll-view">
            <div class="teacher-view-title">What does your class think?
            </div>
            <div class="voting-poll-content">
               <div class="teacher-view-question">Do kids need homework?
               </div>
               <div class="teacher-view-answer">
                  <form name="teacherDataForm" novalidate role="form">
                     <div class="form-group row nopadLR nomarLR">
                        <div class="col-xs-12 nopadLR">
                           <div class="col-xs-4 nopadLR">
                              <label for="teacheroption1" class="label-text"> <input  type="text"
                                 class="form-control form-field-input"
                                 id="teacheroption1"
                                 name="teacherQuestionOptions"
                                 ng-model="teacherData.option1" ng-change="teacherDataFormError=false" numeric-only
                                 >  <span class="option-text">Yes</span> </label>
                           </div>
                           <div class="col-xs-4 nopadLR">
                              <label for="teacheroption2" class="label-text"> <input  type="text"
                                 class="form-control form-field-input"
                                 id="teacheroption2"
                                 name="teacherQuestionOptions"
                                 ng-model="teacherData.option2" ng-change="teacherDataFormError=false" numeric-only
                                 >  <span class="option-text">No</span>  </label>
                           </div>
                           <div class="col-xs-4 nopadLR">
                              <label for="teacheroption3" class="label-text"> <input  type="text"
                                 class="form-control form-field-input"
                                 id="teacheroption3"
                                 name="teacherQuestionOptions"
                                 ng-model="teacherData.option3" ng-change="teacherDataFormError=false" numeric-only
                                 >  <span class="option-text">Maybe</span> </label>
                           </div>
                        </div>
                        <div class="col-xs-12 nopadLR">
                           <span class="field-error-text" ng-class="{'field-error-text-visible': (teacherDataFormError || teacherDataFormServerError )}">Sorry, please make sure that the total number of votes is between 1-40.</span>
                        </div>
                     </div>
                     <div class="submit-button">
                        <a href="javascript:void(0);" class="voting-poll-button" ng-click="validatePollData('teacherDataForm')">Cast Your Vote
                        </a>
                     </div>
                  </form>
               </div>
               <div class="after-voting-success-content">
                 Thanks for your vote!
               </div>
               <div class="after-voting-ended-content">
                Voting has ended. See final results below.
               </div>
               <div class="teacher-poll-results" ng-show="pollshow">
                  <div class="poll-results-title">Results</div>
                  <div class="poll-results-presentation">
                  </div>
               </div>
            </div>
            <div class="voting-show-results-btn">
               <a href="javascript:void(0)" ng-show="pollshow" data-state="expand" ng-click="showHidePollResults()">See results
               <span class="sw-icon expand-collapse-arrow down-black-arrow"></span>
               </a>
               <a href="javascript:void(0)" ng-show="!pollshow" data-state="collapse" ng-click="showHidePollResults()">Hide results
               <span class="sw-icon expand-collapse-arrow down-black-arrow up-black-arrow"></span>
               </a>
            </div>
         </div>
          </div>
      </div>
      <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
      <script src="../../bower_components/angular/angular.js"></script>
      <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
      <script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
      <script src="../../../bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
      <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="../../scripts/app.js"></script>
      <script src=""></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript" src="VotingPollController.js"></script>
      <script type="text/javascript" src="numericDirective.js"></script>
         google.charts.load('current', {
           'packages': ['corechart']
         });
         google.charts.setOnLoadCallback(drawChart);

         function drawChart() {
           var data = google.visualization.arrayToDataTable([
             ['Year', 'Sales', 'Expenses'],
             ['2004', 1000, 400],
             ['2005', 1170, 460],
             ['2006', 660, 1120],
             ['2007', 1030, 540]
           ]);

           var options = {
             title: 'Company Performance',
             curveType: 'function',
             legend: {
               position: 'bottom'
             }
           };

           var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

           chart.draw(data, options);
         }
      </script>
   </body>
</html>
