.email-form-thankyou-container {
    .email-thankyou-wrapper {
        margin-top: 53px;
        margin-left: 43px;

        .email-editor-description-text {
            .email-form-thankyou-container {
                .email-thankyou-wrapper {
                    margin-top: 53px;
                    margin-left: 43px;

                    .email-editor-description-text {
                        @include font($fontSL4, 16px, 1.38, $black, 0.5px);
                    }

                    .form-field-wrapper {
                        .label-text {
                            @include font($fontSL4, 16px, 1.38, $black, 0.5px);
                        }

                        .form-field-input {
                            @include font($fontSL4, 14px, 1.57, $sn56EmailFormInputFieldFontColor, 0.8px);
                            background-color: $sn56BgGrey;
                            border: 1px solid $sn56BorderGrey;
                        }

                        .error-field-outline {
                            border: 1.2px solid $errorFieldTextColor;
                        }

                        .subject-field-input {
                            &:-moz-placeholder,
                            &::-moz-placeholder,
                            &::-webkit-input-placeholder,
                            :-ms-input-placeholder {
                                @include font($fontSL4, 14px, 1.57, $sn56EmailFormInputFieldFontColor, 0.8px);
                            }
                        }
                    }

                    .required-fields-text {
                        @include font($fontSL4, 12px, 1.83, $requiredFieldstextGrey, 0.7px);
                        margin-bottom: 34px;
                    }

                    .email-form-all-fields-container {
                        .send-button-wrapper {
                            .send-button {
                                background-color: $sn56CheckBlue;
                                @include font($fontSL7, 18px, 1.11, $white, 0.5px);
                                text-transform: capitalize;
                            }
                        }
                    }

                    .email-form-image {
                        display: none;
                    }
                }

                .back-to-previous-wrapper {
                    margin-bottom: 35px;

                    .back-to-previous-text {
                        @include font($fontSL7, 14px, 1, $sn56ArticleLinkColor, 0.5px);
                    }
                }
            }
            @media (min-width:1440px) {
                .email-form-thankyou-container {
                    .email-thankyou-wrapper {
                        margin-left: 41px;
                    }
                }
            }
            @include font($fontSL4, 16px, 1.38, $black, 0.5px);
        }

        .form-field-wrapper {
            .label-text {
                @include font($fontSL4, 16px, 1.38, $black, 0.5px);
            }

            .form-field-input {
                @include font($fontSL4, 14px, 1.57, $sn56EmailFormInputFieldFontColor, 0.8px);
                background-color: $sn56BgGrey;
                border: 1px solid $sn56BorderGrey;
            }

            .error-field-outline {
                border: 1.2px solid $errorFieldTextColor;
            }

            .subject-field-input {
                &:-moz-placeholder,
                &::-moz-placeholder,
                &::-webkit-input-placeholder,
                :-ms-input-placeholder {
                    @include font($fontSL4, 14px, 1.57, $sn56EmailFormInputFieldFontColor, 0.8px);
                }
            }
        }

        .required-fields-text {
            @include font($fontSL4, 12px, 1.83, $requiredFieldstextGrey, 0.7px);
            margin-bottom: 34px;
        }

        .email-form-all-fields-container {
            .send-button-wrapper {
                .send-button {
                    background-color: $sn56CheckBlue;
                    @include font($fontSL7, 18px, 1.11, $white, 0.5px);
                    text-transform: capitalize;
                    padding: 10px 61px 10px 62px;
                }
            }
        }

        .email-form-image {
            display: none;
        }
    }

    .back-to-previous-wrapper {
        margin-bottom: 35px;

        .back-to-previous-text {
            @include font($fontSL7, 14px, 1, $sn56ArticleLinkColor, 0.5px);
        }
    }
}
@media (min-width:1440px) {
    .email-form-thankyou-container {
        .email-thankyou-wrapper {
            margin-left: 41px;
        }
    }
}
