<div data-sly-test="${wcmmode.edit}">General - Title Flexible Component</div>
<sw-flexible-title-hyperlink title           ="${properties.titleText @context='html'}"
                             color           ="${properties.fontColor}"
                             title-position  ="${properties.alignment}"
                             title-font-size ="${properties.fontSize}"
                             is-rule-exists  ="${properties.enableHorizontalRule}"
                             image-url       ="${properties.fileReference}"
                             hyper-link-Text ="${properties.linkLabel}"
                             hyper-link-URL  ="${properties.linkPath}"
                             custom-background="${properties.enableHighlightColor}"
							 background-color="${properties.flexibleTitleBgColor}"
                             connector-color="${properties.horizontalConnectorColor}"
							 >
</sw-flexible-title-hyperlink>

