.vocabulary-main-container-wrapper {
    .vocabulary-word {
        @include font($fontU7, 20px, 1.6, $swVocabWorldBlue, 1.1px);
    }
    .popover {
        &.fade {
            &.in { 
                .popover-content {
                    .vocabulary-wrapper {
                        .image-wrapper {
                            .photo-credit{
                                @include font($fontU4, 10px, 1.2, $lightGrey2, 0.5px);
                            }
                        }
                        .text-wrapper {
                            .popover-name-wrapper {
                                .popover-name {
                                    @include font($fontU7, 24px, null, $black, 1.1px); 
                                }  
                            }
                            .popover-pronoutext {
                                @include font($fontU4, 14px, 1.29, $lightGrey2, 0.5px);  
                            }
                            .popover-definition {
                                @include font($fontU4, 16px, 1.25, $swVocabBlack, 0.5px);
                                
                            }
                        }
                    }
                }
            }
        }
    }
}