.article-resources-main-container {
    .article-resources-content {
        .article-resources-heading {
            word-wrap: break-word;
        }
        .see-all {
            clear: both;
            h5 {
                text-align: center;
                margin:0;
                [data-state="expand"], [data-state="collapse"] {
                    border-radius: 100px;
                    background-color: $yellow;
                    padding: 10px 20px 12px 42px;
                    margin-top: 25px;
                    display: inline-block;
                    &:hover, &:focus, &:active{
                        text-decoration: none;
                    } 
                    span {
                        &.title{
                            vertical-align: middle;
                            text-transform: uppercase;
                            @include font($font07, 12px, 1.17, $black, 0.9px);
                        }
                        &.sw-icon {
                            &.down-black-arrow.up-black-arrow {
                                transform: rotate(180deg);
                            }
                            &.expand-collapse-arrow {
                                position: relative;
                                top: 1px;
                                margin-left: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('xssmall') {
    .article-resources-main-container {
        .article-resources-content {
            .see-all {
                span {
                    font-size: 6px;
                }
            }
        }
    }
}