.search-resources-main-container {
    .search-main-content {
        .title-container {
            @include font($fontSE9, 32px, 0.78, $sn56Black, 0.3px);
        }

        .title-count {
            @include font($fontSE9, 20px, 1.25, $sn56Black, 0.2px);
        }
        .articles-resources-issues-container {
            margin-top: 36px;

            .tab-content {
                padding-top: 35px;
                .tab-pane {
                    .filter-section-container {
                        .search-facets {
                            margin-left: 40px;
                        }

                        .filter-category-section {
                            padding-top: 27px;

                            &.filter-subject-section {
                                padding-top: 28px;

                                .filter-category-heading {
                                    margin-bottom: 12px;
                                }
                            }

                            &.filter-reset-section {
                                padding: 0;

                                .filter-category-items-container {
                                    .filter-category-item {
                                        @include font($fontSL7, 13px, 1.08, $sn56ArticleLinkColor, 0.5px);
                                        margin: 28px 0 27px;

                                        span {
                                            position: absolute;
                                            left: 22px;
                                        }
                                    }
                                }
                            }

                            .filter-category-heading {
                                @include font($fontSL7, 14px, 0.93, $black, 1.1px);
                                margin-bottom: 13px;
                            }

                            .filter-category-items-container {
                                ul {
                                    .filter-category-item {
                                        @include font($fontSL4, 12px, 1.08, $black, 0.5px);
                                        margin: 0 auto 24px;

                                        &:last-child {
                                            margin-bottom: 27px;
                                        }
                                        span {
                                            &.sw-icon {
                                                border-radius: 2px;
                                            }

                                            &.checkbox-text {
                                                left: 22px;
                                            }
                                        }

                                        label {
                                            @include font($fontSL4, 12px, 1.08, $black, 0.5px);

                                            &.checkbox-checked-disabled {
                                                span {
                                                    &.checkbox-text {
                                                        @include font($fontSL4, 12px, 1.08, $liteAsh2, 0.5px);
                                                    }
                                                }
                                            }
                                        }
                                        margin: 0 auto 24px;

                                        &:last-child {
                                            margin-bottom: 27px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .search-zero-results-container {
                    .title {
                        @include font($fontSL7, 30px, 1.47, $black, 1px);
                    }

                    .try-another-keyword {
                        @include font($fontSL4, 24px, 1.83, $black, 1px);
                    }

                    .search-guidlines {
                        border: 2px solid $sn56ToolbarBorder;

                        .search-tips {
                            @include font($fontSE9, 20px, 0.78, $sn56Black, 0.3px);
                        }

                        .steps-for-search {
                            @include font($fontSL4, 20px, 1.3, $black, 0.6x);
                        }
                    }
                }
            }

            .articles-resources-issues-tabs {
                ul {
                    border-bottom: 4px solid $sn56TabBackground;

                    li {
                        &:before {
                            border-top-left-radius: 9px;
                        }

                        &:after {
                            border-top-right-radius: 9px;
                        }

                        a {
                            @include font($fontSL7, 14px, 1, $sn3TabInactiveColor, 1px);
                            margin-top: 3px;
                        }

                        &.active {
                            background-color: $sn56TabBackground;

                            &:after {
                                background-color: $sn56TabBackground;
                            }

                            &:before {
                                background-color: $sn56TabBackground;
                            }

                            a {
                                @include font($fontSL7, 14px, 1, $white, 1px);
                            }
                        }
                    }
                }
            }
        }
        .search-resources-content {
            padding-left: 15px;
            padding-right: 30px;

            .search-tiles {
                .content-tile-container{
                    border-width: 1px;
                    .content-tile-body{
                        border-bottom-width: 1px;
                    }
                }
            }

            .sort-by-wrapper {
                span {
                    margin-right: 20px;
                    padding-left: 20px;

                    &:nth-child(2) {
                        a {
                            border-left: 0;
                            padding-left: 0;
                        }
                    }
                }

                .sort-by-text {
                    @include font($fontSL5, 13px, 1, $black, 0.5px);
                    padding-left: 10px;
                    margin-right: 21px;
                }

                .sort-by-category {
                    border-left: 0;
                    padding-left: 0;

                    a {
                        @include font($fontSL5, 13px, 1, $sn56ArticleLinkColor, 0.5px);
                        padding-left: 20px;
                        border-left: 2px solid $liteAsh2;
                    }

                    &.active-sort {
                        a {
                            @include font($fontSL7, 13px, 1, $black, 0.5px);
                        }
                    }
                }
            }
        }
    }

    &.content-hub-main-container {
        .search-main-content {
            .articles-resources-issues-container {
                .tab-content {
                    padding-top: 17px;
                    .tab-pane {
                        .filter-section-container {
                            .filter-category-section {
                                &.filter-reset-section {
                                    .filter-category-items-container {
                                        .filter-category-item {
                                            margin: 28px 0 27px;
                                            &:last-child {
                                                margin-bottom: 27px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .search-resources-content {
                .sort-by-wrapper {
                    .sort-by-text {
                        margin-right: 21px;
                    }
                }
            }
        }
    }
}
