.questions-set{
	padding-bottom: 43px;
	.subject-area{
		@include font($fontN5, 20px, 1.1, $black, 1.1px);
		margin: 0;
	}
	.question-block{
		padding: 11px 0 0 20px;
	.question{
		@include font($font04, 18px, 2, $liteBlue2, 1px);
		margin: 0;
		display: block;
    	text-decoration: none;
	}
}
}