.article-subjs-covered-pad-container {
	padding-left: 30px;
	margin-bottom: 40px;
	.article-subjs-covered-container {
		background-color: $bodyGrey;
		.article-subjs-covered-content {
			padding: 24px 9px 23px 7px;
			border-top: 1px solid $liteAsh2;
			border-bottom: 1px solid $liteAsh2;
			&:after {
				content: '';
				clear: both;
				display: block;
			}
			.subjs-covered-title {
				text-transform: uppercase;
				@include font($font07, 13px, 1.08, $black, 1px);
				text-align: center;
	    		margin-bottom: 11px;
			}
			.subjs-tag-wrapper {
				.names-subj {
					margin-bottom: 30px;
					&:last-child {
						margin-bottom: 0px;
					}
					.subj-title {
						text-align: center;
						margin-bottom: 5px;
						.subj-title-link {
							@include font($fontN7, 12px, 1.33, $liteBlue2, 1.2px);						
							text-align: center;
							cursor: pointer;
							text-decoration: none;
							text-transform: uppercase;				
						}
					} 
					.subj-tags-wrapper {
						text-align: center;
						@include font($font04, 12px, 1.33, $black, 0.5px);
						.subj-tags{
							@include font($font04, 12px, 1.33, $black, 0.5px);
							text-transform: capitalize;
							text-align: center;
						}
					}
				}			
			}
		}	
	}
}

@include respond-to('xssmall') {
	.article-subjs-covered-pad-container {
		padding-left: 0;
		margin-bottom: 0;
		.article-subjs-covered-container {
			.article-subjs-covered-content {
				padding: 28px 7px 26px 9px;
				.subjs-covered-title {
					margin-bottom: 13px;
				}
				.subjs-tag-wrapper {
					.names-subj {
						margin-bottom: 0;
						&:nth-child(3n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}	
}

@media only screen and (min-width: $screen-xs-max) {
	.article-subjs-covered-pad-container {
		padding-left: 0;
		margin-bottom: 0;
		.article-subjs-covered-container {
			.article-subjs-covered-content {
				padding: 28px 7px 26px 9px;
				.subjs-covered-title {
					margin-bottom: 13px;
				}
				.subjs-tag-wrapper {
					.names-subj {
						margin-bottom: 0;
						&:nth-child(3n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}    
}

@include respond-to('small') {
	.article-subjs-covered-pad-container {
		padding-left: 0;
		margin-bottom: 0;
		.article-subjs-covered-container {
			.article-subjs-covered-content {
				padding: 28px 7px 26px 9px;
				.subjs-covered-title {
					margin-bottom: 13px;
				}
				.subjs-tag-wrapper {
					.names-subj {
						margin-bottom: 0;
						&:nth-child(3n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}	
}

@media only screen and (min-width: $screen-sm-max) {
	.article-subjs-covered-pad-container {
		padding-left: 0;
		margin-bottom: 0;
		.article-subjs-covered-container {
			.article-subjs-covered-content {
				padding: 28px 7px 26px 9px;
				.subjs-covered-title {
					margin-bottom: 13px;
				}
				.subjs-tag-wrapper {
					.names-subj {
						margin-bottom: 0;
						&:nth-child(3n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}    
}

@media only screen and (min-width: $screen-md-min) {
	.article-subjs-covered-pad-container {
		padding-left: 30px;
		margin-bottom: 40px;
		.article-subjs-covered-container {
			.article-subjs-covered-content {
				padding: 24px 9px 23px 7px;
				.subjs-covered-title {
					margin-bottom: 13px;
				}
				.subjs-tag-wrapper {
					.names-subj {
						margin-bottom: 30px;
						&:nth-child(3n+1) {
							clear: none;
						}
					}
				}
			}
		}
	}	
}