<body>
	<div>
		<div data-sly-resource="${'marketing-global-navigation-container' @ resourceType='scholastic/classroom-magazines-migration/components/content/CM-Marketing/marketing-SubscribeHeader'}"></div>        	
    </div>
    <div >
    	<sly data-sly-include="content.html" />
    </div>
	<div>
         <sly data-sly-include="footer.html" />
     </div>					
</body>
