.vpaddingComponent-container{
    
    .vpaddingComponent-content{
        &.vheight60{
            height:60px;
        }
        &.vheight50{
            height:50px;
        }
        &.vheight40{
            height:40px;
        }
        &.vheight20{
            height:20px;
        }
        &.vheight10{
            height:10px;
        }
    }
}

@include respond-to('xssmall') {
    
    .vpaddingComponent-container{
    
    .vpaddingComponent-content{
        &.vheight60{
            height:30px;
        }
        &.vheight50{
            height:25px;
        }
        &.vheight40{
            height:20px;
        }
    }
}
    
}

//@include respond-to('small') {
//}

