<div data-sly-test.placeholder="${!wcmmode.disabled}">Marketing Configure Config - Navigation Component</div>
<div data-sly-use.globalNavConfigUse="com.scholastic.classmags.migration.controllers.GlobalNavConfigUse">
	<div data-sly-test.secondaryLevels = "${globalNavConfigUse.secondaryLevels}" data-sly-unwrap></div>
        <li class="${secondaryLevels.size !=0 ? 'dropdown js-dropdown js-dropdown-dynamic' :'dropdown js-dropdown js-dropdown-dynamic'} " >  
    	<a class="app-nav-main-item-link" tabindex="0" data-toggle="dropdown" data-submenu="" x-cq-linkchecker="skip" href= "${secondaryLevels.size == 0 ? globalNavConfigUse.primaryNavLink : ''}" >${properties.primaryNavTitle}</a>
        	<ul data-sly-test="${secondaryLevels.size !=0}" class="dropdown-menu js-dropdown-menu">
            	<div data-sly-list.secondaryLevel= "${secondaryLevels}" data-sly-unwrap>
                <div data-sly-test.secondaryTitle="${secondaryLevel.linkTitle}" data-sly-unwrap></div>
                <div data-sly-test.tertiaryLevels="${globalNavConfigUse.secondaryLevelsMap[secondaryTitle]}" data-sly-unwrap></div>
                	<li class="${tertiaryLevels.size !=0 ? 'dropdown-submenu js-dropdown-submenu' :''}">
                    	<a tabindex="0" x-cq-linkchecker="skip" href="${tertiaryLevels.size == 0 ? secondaryLevel.linkPath : ''}">${secondaryLevel.linkTitle}</a>
                       	<ul data-sly-test="${tertiaryLevels.size !=0}" class="dropdown-menu js-dropdown-submenu-menu">
                        	<div data-sly-list.tertiaryLevel="${tertiaryLevels}" data-sly-unwrap>
                            	<li><a  x-cq-linkchecker="skip" href="${tertiaryLevel.linkPath}"> ${tertiaryLevel.linkTitle}</a></li>
                            </div>
                        </ul>
                    </li>
                </div>
            </ul>
    </li>
</div>
