<!DOCTYPE html>
<html>
   <head>
      <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" href="../../styles/main.css" />
   </head>
   <body>
      <div>
      <div class="search-resources-main-container resources-container" ng-controller="searchResourceListSearchPageController" ng-cloak>
         <div class="search-main-content">
            <span class="title-container">
               Search Results for &#8220;{{searchText}}&#8221;
            </span>
            <span class="title-count" ng-if="totalArticlesResources >= 0 || totalIssues >= 0"> ({{totalArticlesResources + totalIssues}}) </span>
            <div class="row articles-resources-issues-container pad0 nomarLR">
               <div class="articles-resources-issues-tabs pad0">
                  <ul class="nav nav-tabs" id="myTab">
                     <li class="col-md-6 col-sm-6 col-xs-6 pad0" ng-class="{'active':currentTab=='article'}" data-target="#articlesResourcesTab" data-toggle="tab" ng-click="openTab('article')"><a>articles &#38; resources <span ng-if="totalArticlesResources >= 0">({{totalArticlesResources}})</span></a></li>
                     <li class="col-md-6 col-sm-6 col-xs-6 pad0" ng-class="{'active':currentTab=='issue'}" data-target="#issuesTab" data-toggle="tab" ng-click="openTab('issue')"><a>issues <span ng-if="totalIssues >= 0">({{totalIssues}})</span></a></li>
                  </ul>
               </div>
               <div class="tab-content clearfix pad0">
                  <div class="tab-pane clearfix" id="articlesResourcesTab" ng-show="currentTab=='article'">
                     <div class="col-md-3 col-sm-3 col-xs-4 filter-section-container pad0">
                        <div class="search-facets">
                           <div class="filter-category-section filter-type-section">
                              <div class="filter-category-heading">
                                 FILTER BY TYPE
                              </div>
                              <div class="filter-category-items-container">
                                 <form>
                                    <ul class="clearfix">

                                        <li class="filter-category-item js-type"><input type="checkbox" id="Article" value=""><label for="Article"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Article
                                            </span></label></li>

                                        <li class="filter-category-item js-type"><input type="checkbox" id="Skills-Sheets" value=""><label for="Skills-Sheets"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Skills Sheets
                                            </span></label></li>


                                        <li class="filter-category-item js-type">
                                          <input type="checkbox" id="handson" value="b"><label for="handson"><span class="sw-icon checkbox-unchecked"></span>
                                          <span class="checkbox-text"> Hands-On Activities (0) </span>
                                          </label>
                                       </li>


										</ul>
                                 </form>
                              </div>
                           </div>
                           <div class="filter-category-section filter-subject-section">
                              <div class="filter-category-heading">
                                 FILTER BY SUBJECT
                              </div>
                              <div class="filter-category-items-container">
                                 <form>
                                    <ul class="clearfix">

                                        <li class="filter-category-item js-subject"><input type="checkbox" id="Biology" value=""><label for="Biology"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Biology</span></label>
                                        </li>

                                        <li class="filter-category-item js-subject"><input type="checkbox" id="Chemistry" value=""><label for="Chemistry"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Chemistry</span></label>
                                        </li>

                                        <li class="filter-category-item js-subject"><input type="checkbox" id="Earth-Science" value=""><label for="Earth-Science"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Earth Science</span></label>
                                        </li>

                                        <li class="filter-category-item js-subject"><input type="checkbox" id="Physics" value=""><label for="Physics"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Physics</span></label>
                                        </li>

                                        <li class="filter-category-item js-subject"><input type="checkbox" id="Engineering" value=""><label for="Engineering"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Engineering</span></label>
                                        </li>

                                        <li class="filter-category-item js-subject"><input type="checkbox" id="Cool-Jobs" value=""><label for="Cool-Jobs"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Cool Jobs</span></label>
                                        </li>

                                         <li class="filter-category-item js-type">
                                          <input type="checkbox" id="handson" value="b"><label for="handson"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Hands-On Activities (0) </span></label>
                                       </li>

										</ul>
                                 </form>
                              </div>
                           </div>
                            <!--
                           <div class="filter-category-section filter-bookmark-section">
                              <div class="filter-category-items-container">
                                 <form>
                                    <ul class="clearfix">
                                       <li class="filter-category-item">
                                          <input type="checkbox" id="filter-bookmark-item-one" value=""><label for="filter-bookmark-item-one"></label> <span> Show Only My Bookmarks</span>
                                       </li>
                                    </ul>
                                 </form>
                              </div>
                           </div>
                            -->
                           <div class="filter-category-section filter-reset-section">
                              <div class="filter-category-items-container">
                                 <form>
                                    <ul class="clearfix">
                                       <li class="filter-category-item" ng-click="clearFilters()">
                                          <span class="sw-icon refresh-icon refresh"></span>
                                          <span> Reset All Filters </span>
                                       </li>
                                    </ul>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-9 col-sm-9 col-xs-8 search-resources-section pad0">
                        <div class="search-resources-content">
                           <div class="row sort-by-wrapper nomarLR">
                              <span class="sort-by-text">Sort By:</span>
                              <span class="sort-by-category" ng-class="{'active-sort':sortCondition=='relevance'}">
                                 <a href="" ng-click="sortBy('relevance')">Relevance</a>
                              </span>
                              <span class="sort-by-category" ng-class="{'active-sort':sortCondition=='published'}">
                                 <a href="" ng-click="sortBy('published')">Date Published</a>
                              </span>
                              <span class="sort-by-category" ng-class="{'active-sort':sortCondition=='title'}">
                                 <a href="" ng-click="sortBy('title')">Title</a>
                              </span>
                           </div>
                           <div class="row search-tiles row-wrapper equal-row-wrapper">
                              <div class="col-md-4 col-sm-6 col-xs-6 mar20 pad10" ng-repeat="article in articleList">
                                 <sw-content-tile
							               image-src = "{{article.thumbnail_s}}"
							               image-hyperlink = "{{article.id}}"
							               content-title =  "{{article.title_t}}"
							               display-date = "{{article.published_date_t}}"
							               subject ="{{article.subject_tags_ss.join(', ') | uppercase}}"
							               description = "{{article.description_t}}"
							               content-type = "contenthub"
							               position = "vertical"
							               video-length= ""
							               video-id = "{{article.video_id_s}}"
							               style-type = "regular"
							               show-download-icon = "{{article.downloadable_b}}"
							               show-share-icon = "{{article.shareable_b}}"
							               show-view-article-link=""
							               view-article-link-url="{{article.container_url_s}}"
							               user-role="{{article.user_type_s}}"
							               share-link-url="{{article.share_url_s}}"
							   ></sw-content-tile>
                              </div>
                           </div>
                           <sw-pagination total-issue-page-count="totalPageCount" on-next="onpageNext()" on-previous="onpagePrevious()" on-change="onPageSelection()" records="records" pages="pages" total-search-articles-resources="totalArticlesResources" my-bookmark-page="false"></sw-pagination>
                           <!--Modal Starts-->
                           <div class="modal fade" id="articleVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">×</span>
                                       </button>
                                       <h4 class="modal-title"></h4>
                                    </div>
                                    <div class="modal-body">
                                       <!-- Start of Brightcove Player -->
                                       <!--
                                          By use of this code snippet, I agree to the Brightcove Publisher T and C
                                          found at https://accounts.brightcove.com/en/terms-and-conditions/.
                                          -->
                                       <object id="myExperience5115612056001" class="BrightcoveExperience">
                                          <param name="bgcolor" value="#FFFFFF" />
                                          <param name="width" value="474" />
                                          <param name="height" value="400" />
                                          <param name="playerID" value="" />
                                          <param name="playerKey" value="AQ~~,AAAAAFv844g~,BASb5BU03X-uQzvS8z7DzGIDGHVv6Vy2" />
                                          <param name="isVid" value="true" />
                                          <param name="dynamicStreaming" value="true" />
                                          <param name="@videoPlayer" value="" />
                                       </object>
                                       <!--
                                          This script tag will cause the Brightcove Players defined above it to be created as soon
                                          as the line is read by the browser. If you wish to have the player instantiated only after
                                          the rest of the HTML is processed and the page load is complete, remove the line.
                                          -->
                                       <!-- End of Brightcove Player -->
                                    </div>
                                 </div>
                              </div>
                              <!--Modal Ends-->
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Issues tab content starts-->
                  <div class="tab-pane" id="articleResourcesIssuesTab" ng-show="currentTab=='issue'">
                    <div class="col-xs-4 col-sm-4 col-md-3 filter-section-container pad0">
                      <div class="search-facets">
                           <div class="filter-category-section filter-subject-section">
                              <div class="filter-category-heading">
                                 FILTER BY SUBJECT
                              </div>
                              <div class="filter-category-items-container">
                                 <form>
                                    <ul class="clearfix">
                                      <li class="filter-category-item js-subject"><input type="checkbox" id="Biology" value=""><label for="Biology"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Biology</span></label>
                                      </li>

                                      <li class="filter-category-item js-subject"><input type="checkbox" id="Chemistry" value=""><label for="Chemistry"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Chemistry</span></label>
                                      </li>

                                      <li class="filter-category-item js-subject"><input type="checkbox" id="Earth-Science" value=""><label for="Earth-Science"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Earth Science</span></label>
                                      </li>

                                      <li class="filter-category-item js-subject"><input type="checkbox" id="Physics" value=""><label for="Physics"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Physics</span></label>
                                      </li>

                                      <li class="filter-category-item js-subject"><input type="checkbox" id="Engineering" value=""><label for="Engineering"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Engineering</span></label>
                                      </li>

                                      <li class="filter-category-item js-subject"><input type="checkbox" id="Cool-Jobs" value=""><label for="Cool-Jobs"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Cool Jobs</span></label>
                                      </li>

                                       <li class="filter-category-item js-type">
                                        <input type="checkbox" id="handson" value="b"><label for="handson"><span class="sw-icon checkbox-unchecked"></span><span class="checkbox-text"> Hands-On Activities (0) </span></label>
                                      </li>
                                    </ul>
                                 </form>
                              </div>
                           </div>
                           <div class="filter-category-section filter-reset-section">
                              <div class="filter-category-items-container">
                                 <form>
                                    <ul class="clearfix">
                                       <li class="filter-category-item" ng-click="clearFilters()">
                                          <span class="sw-icon refresh-icon refresh"></span>
                                          <span> Reset All Filters </span>
                                       </li>
                                    </ul>
                                 </form>
                              </div>
                           </div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-9 search-resources-section">
                      <div class="search-resources-content">
                         <div class="row sort-by-wrapper nomarLR">
                              <span class="sort-by-text">Sort By:</span>
                              <span class="sort-by-category" ng-class="{'active-sort':sortCondition=='relevance'}">
                                 <a href="" ng-click="sortBy('relevance')">Relevance</a>
                              </span>
                              <span class="sort-by-category" ng-class="{'active-sort':sortCondition=='published'}">
                                 <a href="" ng-click="sortBy('published')">Date Published</a>
                              </span>
                              <span class="sort-by-category" ng-class="{'active-sort':sortCondition=='title'}">
                                 <a href="" ng-click="sortBy('title')">Title</a>
                              </span>
                           </div>
                        <div class="row nomarLR search-tiles issues-tab-search-tiles row-wrapper equal-row-wrapper">
                          <div class="col-xs-6 col-sm-4 col-md-3 issue-single-tile" ng-repeat="issue in issuesList">
                            <div class="issue-tile">
                              <div class="img-wrapper">
                                <a ng-href="{{issue.id}}">
                                  <img ng-src="{{issue.thumbnail_s}}">
                                </a>
                              </div>
                              <div class="issue-date-btn">
                                <a ng-href="{{issue.id}}">
                                    {{issue.published_date_t}}
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- pagination for issues tab starts -->
                        <sw-pagination total-issue-page-count="totalPageCount" on-next="onpageNext()" my-bookmark-page="false" on-previous="onpagePrevious()" on-change="onPageSelection()" records="records" pages="pages" total-search-articles-resources="totalArticlesResources" total-search-issue-resources="totalIssues"></sw-pagination>
                       <!-- pagination for issues tab ends -->
                      </div>
                    </div>
                  </div>

                  <!-- Issues tab content ends-->
               </div>
            </div>
         </div>
        <div ng-class="{'in':isSpinnerShow}" class="spinnercontainer">
            <img src="../../../images/icons/spinner.gif">
        </div>
      </div>

      </div>
      <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
      <script src="../../bower_components/angular/angular.js"></script>
      <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
      <script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
      <script src="../../../bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
      <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="../app.js"></script>
      <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script src="searchResourcesDataFactory.js"></script>
      <script src="../common/descriptionEllipses.js"></script>
      <script src="../common/jquery.dotdotdot.js"></script>
      <script src="searchResourceListSearchPageController.js"></script>
      <script type="text/javascript" src="../common/brightcove-experience.js"></script>
      <script src="../sharePopover/sharePopoverDirective.js"></script>
      <script src="../common/swContentTile/swContentTileDirective.js"></script>
      <script type="text/javascript">brightcove.createExperiences();</script>
      <script src="../pagination/swPaginationDirective.js"></script>
   </body>
</html>
