.iconHyperlink-component-wrapper {
    .iconHyperlink-component{
        margin-bottom: 47px;
    
        .iconHyperlink-content {
            .issuer {
                border-left: 2px solid $liteAsh2;

                &:first-child {
                    border-left: none;
                
                    &.issuer-name-wrapper{
                        padding-left:0;
                    }
                }
            }
        }
        .issuer-date,
        .issuer-name-wrapper {
            display: inline-block;

            &.issuer-date{
            @include font($font09, 11px, 1.45, $black, 1px);
            padding-top: 7px;
            padding-bottom: 7px;
            padding-right: 10px;
            text-transform: uppercase;
                a,a:hover{
                    text-decoration: none;
                    color: $black;
                }
            }
        }         

        .issuer-name-wrapper {
                padding-left: 19px;

                span{
                    @include font($font04, 13px, 1.38, $black, 0.5px); 
                }

                img{
                    margin-right: 10px;
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                }
        }
    }
}
