.slide-show-component-layout {
    .launch-slide-show {
        font-family: 'GeometricSlab703BT-XtraBlack';
    }

    .slide-show-description {
        .slide-show-des-block {
            .page-title {
                font-family: 'GeometricSlab703BT-XtraMedium';
            }

            .page-name {
                font-family: 'GeometricSlab703BT-XtraMedium';
            }
        }
    }

    .slide-show-header {
        .slide-show-header-name {
            font-family: 'GeometricSlab703BT-XtraBlack';
        }

        .total-img-present-img {
            font-family: 'GeometricSlab703BT-XtraMedium';
        }
    }

    .page-num {
        font-family: 'GeometricSlab703BT-XtraBold';
    }
}

.slide-show-audio-wrapper {
  .credits-text {
    @include font($fontGB5, 10px, 1.2, $slideShowCreditsGrey, 0.5px);
  }

  .slide-show-title {
    @include font($fontSI7, 16px, 1.44, $slideShowBlueText, 0.7px);
  }

  .slide-show-description {
    @include font($fontSI5, 16px, 1.5, $slideShowDescriptionText, 0.6px);
  }
}