.article-sidebar-component-wrapper {
    background-size: 100% auto;
   // border: 1px solid $textHyperlinkColor;
    .article-section-title {
        font-family: 'SlateStd-Bold';
        background-color: $textHyperlinkColor;
        padding: 9px 25px 6px;
    }

    .article-sidebar-content-wrapper {
        .image-wrapper {
            .image-credit {
                font-family: SlateStd-Bold;
            }
        }

        .article-section-content {
            .article-section-text {
                font-family: UtopiaStd-Regular;
            }
        }

        &.left,
        &.right {
            .image-wrapper {
                margin-top: 10px;
            }
        }

        &.top {
            .image-wrapper {
                .image-icon-container {
                    .image-credit {
                        font-family: SlateStd;
                    }
                }

                .article-section-content {
                    .article-section-text {
                        font-family: SlateStd-Medium;
                    }
                }
            }
        }

        &.bottom {
            .article-section-title {
                font-family: 'SlateStd-Bold';
                background-color: $textHyperlinkColor;
                padding: 9px 25px 6px;
            }

            .image-wrapper {
                padding: 16px 8px 0;

                .image-credit {
                    font-family: 'UtopiaStd-Regular';
                    margin-top: 8px;
                    text-align: right;
                }
            }

            .article-section-content {
                .article-section-text {
                    font-family: 'SlateStd-Medium';
                    padding-top: 10px;
                    padding-left: 23px;
                    line-height: normal;
                }
            }
        }
    }
}

