.bookmarks-main-container {
  .bookmarks-main-content {
   .articles-resources-issues-container {
    .articles-resources-issues-tabs {
     ul {
     	height: 57.5px;
	     	border-bottom: 4px solid $activeTabColor;
       li {
           &.active{
           	  a{
		    	@include font($fontGB9, 14px, 1, $white, 1px);
		       }
               background-color: $activeTabColor; 
               &:hover,&:focus,&:before,&:after{
           	   background-color: $activeTabColor; 
           	}
           &:before,{
                    	width: 43px;
                    }
                }
            }
        li{
        	a{
		      @include font($fontGB9, 14px, 1, $inActiveFontColor, 1px);
		     }
        	background-color: $inActiveTabColor;
        	&:before, &:after{
		    		border-top-right-radius:8px;
		    		border-top-left-radius:8px;
		    		width: 43px;
		    }
        }
       	}
      }
     }
    }
   }