.email-form-thankyou-container {
  .email-thankyou-wrapper {
    .message-field-wrapper {
      margin-bottom: 11px;
    }

    .email-editor-description-text {
      @include font($fontP4, 16px, 1.38, $black, 0.3px);
    }

    .email-form-all-fields-container {
      margin-top: 22px;
    }

    .form-field-wrapper {
      margin-bottom: 6px;
      input.error-field-outline {
      border: 1.2px solid $errorFieldTextColor;
      }
      textarea.error-field-outline {
      border: 1.2px solid $errorFieldTextColor;
      }

       .label-text {
        @include font($fontP5, 16px, 1.38, $black, 0.3px);
      }

      .form-field-input {
        background: $inputFieldBackground;
        border: 1px solid $inputFieldBorder;
        @include font($fontP4, 14px, 1.57, $emailInputFieldTextColor, 0.8px);
      }

      label {
        margin-bottom: 4px;
      }
    }

    .required-fields-text {
      @include font($fontP5, 12px, 1.83, $emailRequiredTextColor, 0.3px);
      margin-bottom: 34px;
    }

    .email-form-all-fields-container {
      .send-button-wrapper {
        .send-button {
          background: $contactInfoBarColor;
          @include font($fontPE4, 18px, 1.11, $white, 0.5px);
        }
      }
    }
  }

  .back-to-previous-wrapper {
    .back-to-previous-text {
      @include font($fontP7, 14px, 1, $submitButtonColor, 0.5px);
    }
  }
}
