.textHyperlink-container {
    min-height: 40px;

    .textHyperlink-hash-container {
        .textHyperlink-hash-content {
            background: url('../../../images/lines-grey.png') repeat;
            min-height:54px;
            display: block;
        }
    }

    .textHyperlink-wrapper {
        background: $white;
        position: relative;
        height: 68px;

        .textHyperlink-text {
            @include font($fontN5, 28px, 1.14, $black, 1px);
            display: inline-block;
            background: $white;
            padding: 26px 44px 30px 40px;
            margin: 0;
            position: absolute;
            bottom: 0;

            .textHyperlink-count {
                @include font($font04, 16px, 1.5, $black, 0.5px);
                display: inline-block;
                padding: 0 0 0 20px;
                position: relative;
                bottom: 3px;
            }
        }

        .textHyperlink-link {
            @include font($font09, 14px, 1, $liteBlue2, 0.5px);
            position: relative;
            top: 65%;
            transform: translateY(-65%);
            text-decoration: none;
            display: block;
            margin-right: 37.4px;

            .icon {
                &.icon-right {
                    display: inline-block;
                    margin-left: 10px;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }

    .textHyperlink-link {
        display: none;
    }
}
