<div data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse" data-sly-unwrap>
	<div data-sly-test="${wcmmode.edit || globalAccess.visible}" data-sly-unwrap>
		<div data-sly-test="${wcmmode.edit && !properties.title}">Misc - Icon and Text</div>
		<div data-sly-test="${properties.title}" ng-app="scienceWorld">
			<div>
		    	<div class="iconText-main-container">
		        	<div class="iconText-content ${properties.textAlignment}">
		            	<div class="float-right clearfix" >
		                    <div class="icon-container"> <div class="${properties.icons ? 'icon-wrapper icon': ''} ${properties.icons}"></div>
		                    </div>
		                    <div class="${properties.icons ? 'text-wrapper': 'text-wrapper full-width'}">
		                        <div data-sly-test="${properties.title}" class="title-content">${properties.title}
		                        </div>
		                   	    <div data-sly-test="${properties.description}" class="desc-content">${properties.description @context = 'html'}
		                   	    </div>
		                    </div>
		                </div>
		            </div>
		        </div>                    
		    </div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
