footer {
	width: 100%;
	height: 60px;
	color: $text;
	background-color: $white;

	&.home-footer {
		background-color: red;
		color: $white;
	}

	&.about-footer {
		background-color: green;
		color: yellow;
	}
}