.marketing-VideoTestimonial {
    .marketing-VideoTestimonial-container {
        .marketing-VideoTestimonial-container-divider {
            height: 3px;
            border-radius: 5px;
            background: $liteAsh3;
            margin: 0 auto;
            width: 44%;
        }
        .marketing-content-tile-container {
            .content-tile-body {
                .row.game-video-wrapper {
                    .image-container {
                        border: none;
                        background: transparent;

                        @include respond-to ('small-and-up') {
                            padding: 0;
                        }

                        .video_play {
                            .content-image {
                                max-width: 506px;
                                border: 9px solid $marketingActionBorderBlue;
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }
        }

        .title {
            @include font($fontG7, 29px, 1.21, $marketingGrey);
            margin-bottom: 0;
            margin-top: 14.73%;
        }

        .description {
            @include font($fontGB5, 18px, 1.5, $marketingGrey);
            margin-top: 4px;
        }
    }

    .left {
        margin-right: 65px;
        padding-left: 50px;
    }

    .marketing-content-tile-container {
        padding: 43.67px 0 44px;
    }
}

@include respond-to ('xssmall') {
    .marketing-VideoTestimonial {
        .marketing-VideoTestimonial-container {
            padding: 31.4px 0 36px 0;
            margin-left: 20px;
            margin-right: 20px;
            border-top: 3px solid $liteAsh3;

            .marketing-content-tile-container {
                padding: 0;

                .content-tile-body {
                    .row.game-video-wrapper {
                        .image-container {
                            .video_play {
                                background: transparent;
                                padding: 0;

                                .content-image {
                                    max-height: 194.5px;
                                    max-width: 338.3px;
                                    border-radius: 0;
                                    border: 0;
                                }
                            }
                        }
                    }
                }
            }

            .mobile {
                margin-bottom: 0;
            }

            .title {
                @include font($fontG7, 22px, 1.18, $marketingGrey);
                margin-top: 33px;
                padding: 0 4px;
            }

            .description {
                @include font($fontGB5, 16px, 1.25, $marketingGrey);
                margin-top: 11.94px;
                padding: 0 4px;
                margin-bottom: 0;
            }
        }
    }
}
