.globalFooter-main-container{
    .globalFooter-content{
            background-color: $tabBgBlue;
        .globalFooter-bottom{
            .links{
                a{
                     @include font($font07, 10px, null, $contentTileSubjectBlue, 0.3px);  
                     line-height: normal;
                }
            }
        }
        .footerContentWrapper{
            .footerlinks{
                p{
                    margin-top: 4px;
                }
            }
            .footerTitle{
                margin-bottom: 5px;
            }

            .footer-socialIcons {
                span {
                    margin-right: 5px;
                }
            }
        }
    }
}
