@import 'globalNavigation/vendor/bootstrap-submenu.min.css';

.app-nav-bar-main-container {
    max-width: 1440px;

    .app-nav-primary {
        background-color: $footerBkg;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }

    .menu-list {
        width: 100%;
    }

    .nav-subscribe-text {
        clear: both;
    }

    .bookmarks {
        @include font($font8, 13px, null, $white, 0.4px);
        line-height: normal;
        padding: 20px 0;
    }

    .app-nav-main-item-link {
        @include font($font09, 13px, null, $white, 0.5px);
        line-height: normal;
        text-align: left;
        padding-top: 28px;
        cursor: pointer;
    }

    .science-logo {
        width: 205px;
        padding: 20px 0 25px 16px;

        a {
            display: inline-block;
            width: 90%;
            background: url('../../../images/globalNav/science-world-nav-log.png') no-repeat center;
            background-size: 95%;
            vertical-align: middle;
        }
    }

    .profile-image {
        border-radius: 50%;
        height: 35px;
        margin-top: -2px;
        background-color: $issueTileBgBlue;
        padding: 1px;
        margin-top: -2px;
    }

    .goback-footer-sec {
        border-top: none; //        position: relative;
        //        bottom: 40px;
        margin-bottom: 50px;
    }

    .go-back-footer {
        text-align: center;
        @include font($font09, 14px, null, $liteBlue2, 1px);
        cursor: pointer;
    }

    .login-wait {
        text-align: center;
        width: 300px;
        margin: auto;
        padding-top: 8px;

        p {
            @include font($font04, 16px, null, null, 0.4px);
            padding-top: 20px;
            padding-bottom: 50px;
            color: $black1;
        }

        img {
            transform: rotate(59deg);
        }
    }

    .dropdown {
        .app-nav-main-item-link {
            color: $white;
            border: none;

            &:active,
            &:focus,
            &:hover {
                color: $white;
            }

            &:active {
                border: none;
            }
        }

        .delimitter,
        .magazine {
            @extend .app-nav-main-item-link;

            &:active,
            &:focus,
            &:hover {
                color: $white;
            }
            border: none;
            outline: none;
        }

        .magazine {
            @include font($font07, 13px, null, $white, 0.5px);
            line-height: normal;
            text-align: center;
        }
    }

    .nav-search-form {
        margin-top: 22px;

        input {
            width: 180px;
            background-color: $searchBoxGray;
            border: none;
            height: 30px;
            border-radius: 0;
            @include font($font04, 13px, null, $globinpPlaceholdText, 0.5px);
            line-height: normal;
            display: inline-block;
        }

        button {
            width: 80px;
            height: 30px;
            background-color: $yellow;
            border: none;
            border-radius: 0;
            @include font($font07, 13px, 1.08, $black, 0.5px);
            text-align: center;
            border: solid 1px $yellow;
            margin-left: -5px;
            display: inline-block;
        }
    }

    .login-control {
        padding-top: 17px;
        margin-left: -28px;

        li {
            list-style-type: none;

            a {
                @include font($font09, 13px, null, $white, 0.5px);
                line-height: normal;
                text-decoration: none;

                &:active,
                &:focus,
                &:hover {
                    @include font($font09, 13px, null, $white, 0.5px);
                    line-height: normal;
                }
            }
        }

        .subscribe-text {
            @include font($font07, 11px, null, $white, 0.5px);
            line-height: normal;
            text-align: right;

            &:active,
            &:focus,
            &:hover {
                @include font($font07, 11px, null, $white, 0.5px);
                line-height: normal;
            }

            .font-wt-black {
                font-weight: 900;
            }
        }
    }

    .app-navbar-secondary {
        background-color: $white;
        border: 1px solid $globalNavBorderGrayColor;

        .menu-list {
            height: 40px;
        }
    }

    .nav-primary-items {
        padding: 0;
    }

    .secondary-items {
        width: 100%;

        li {
            a {
                @include font($fontN7, 11px, 1.27, $tabBgBlue, 1.3px);
                text-transform: uppercase;
                text-align: center;
                padding-top: 14px;

                &:active,
                &:focus,
                &:hover {
                    color: $tabBgBlue;
                }
            }
        }

        .see-all-subjects {
            float: right;
        }

        .explore {
            text-transform: capitalize;
            @include font($font09, 13px, 1.08, $globalNavExporeGray, 0.5px);
            text-align: center;
            padding-top: 13px;
            padding-left: 19px;

            &:active,
            &:focus,
            &:hover {
                color: $globalNavExporeGray;
            }
        }

        .subjects {
            text-transform: capitalize;
            padding-right: 0;
        }
    }

    .nav-menu-link {
        text-decoration: none;
        @include font($font8, 14px, null, $white, 0.3px);
        padding-top: 50px;
    }

    .dropdown-menu > li > a,
    .dropdown-menu > li > a:focus,
    .dropdown-menu > li > a:hover {
        @include font($font07, 12px, 1.6, $black, 0.8px);
        cursor: pointer;
    }

    .pop-over-menu-div {
        display: none;
        z-index: $zindex-popover-gloablnav;
        margin-left: -15px;
    }

    .nav-menu-icon {
        z-index: $zindex-popover-gloablnav;
    }

    .pop-over-menu-div {
        display: none;
        position: absolute;
        width: 103%;
        background-color: $globalNavPopoverGray;
    }

    .active-block {
        display: block;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .nav-mobile-icons {
        height: 50px;
    }

    .popover-icon {
        margin: 25px;
        cursor: pointer;
    }

    .menu-back,
    .menu-close {
        text-decoration: none;
    }

    #font-load-LatoR {
        @include font($font04, 36px, null, null, 1px);
        color: $white;
        height: 0;
        width: 0;
    }

    #font-load-LatoB {
        @include font($font09, 36px, null, null, 1px);
        color: $white;
        height: 0;
        widows: 0;
    }
    @media (min-width:1440px) {
        .science-logo {
            width: 230px;
            padding-right: 15px;
            padding-left: 21px;
            a {
                width: 100%;
            }
        }
        
        .app-nav-main-item-link {
            @include font($font09, 16px, null, $white, 0.5px);
            line-height: normal;
        }

        .drop-down {
            .magazine {
                @include font($font07, 14px, null, $white, 0.5px);
                text-align: center;
            }
        }

        .nav-search-form {
            input {
                width: 209px;
            }
        }

        .secondary-items {
            .explore {
                padding-left: 24px;
            }
        }
    }

    @include respond-to ('small-and-down') {
        .navbar-default .navbar-toggle:hover {
            background: none;
        }

        .navbar-default .navbar-toggle:focus {
            background-color: $globalNavBlue;
        }

        .app-nav-header {
            .menu-link-block,
            .search-icon-block,
            .search-logo-block {
                padding-top: 6px;
            }

            .menu-icon-block {
                padding-top: 9px;
            }

            .profile-icon-block {
                //padding-right: 10px;
                padding-top: 6px;
            }
        }

        .secondary-items {
            display: none;
        }

        .nav-search-form {
            margin-top: 0;

            input {
                width: 140px;
            }

            button {
                width: 70px;
            }
        }

        .magazine-logo-tablet-mobile {
            display: inline-block;
            width: 150px;
            height: 20px;
            position: relative;
            left: 50%;
            @include translateX(-50%);
            background: url('../../../images/globalNav/science-world-nav-log.png') no-repeat center;
            background-size: 100%;
            vertical-align: middle;
        }

        .nav-header-item {
            border: none;
            margin: 10px 0;
            padding: 0;
            cursor: pointer;
        }

        .navbar-header {
            width: 100%;
        }

        .app-nav-secondary {
            display: none;
        }

        .nav-control {
            display: none;
        }

        .app-nav-header {
            .header-icon {
                /*height: 20px;
                width: 20px;*/
                cursor: pointer;
            }
        }

        .nav-search-icon {
            display: block;
        }

        .navbar-toggle {
            display: block;
        }

        .navbar-collapse {
            display: none;
        }

        #nav-primary-block {
            display: none;
        }

        .js-nav-menu {
            .menu-list {
                width: 100%;
                padding-right: 100px;
            }

            .js-dropdown,
            .js-dropdown-menu,
            .js-dropdown-submenu-menu,
            ul:first-child {
                li {
                    margin-left: 30px;
                    clear: both;
                    border-bottom: 1px solid $lightgray;
                    padding: 10px;
                    width: 100%;
                    float: left;

                    a {
                        @include font($font8, 14px, null, $liteAsh5, 0.3px);
                        padding: 0;

                        &:active,
                        &:focus,
                        &:hover {
                            color: $liteAsh5;
                        }
                        text-decoration: none;
                        cursor: pointer;

                        &:active,
                        &:focus,
                        &:hover {
                            border-color: $globalNavPopoverGray;
                        }
                    }
                }
            }

            .js-dropdown-menu {
                width: 90%;
                margin-left: -30px;
                list-style-type: none;
            }

            .js-dropdown-submenu-menu {
                width: 90%;
                margin-left: -30px;
                list-style-type: none;
            }

            #secondary-items-nav {
                margin-left: 30px;
                width: 100%;

                li {
                    width: 50%;
                    display: inline-block;

                    a {
                        text-align: right;
                        padding-top: 15px;
                        padding-left: 15px;
                    }
                }

                li:nth-child(2) {
                    clear: both;
                }
            }
        }

        .hidden-nav {
            display: none;
        }

        .nav-search-form {
            display: none;
        }

        .see-all-subjects {
            float: left;

            .subjects {
                padding-right: 15px;
            }
        }
    }

    @include respond-to ('small') {
        .nav-search-form {
            display: block;
        }

        .nav-search-icon {
            display: none;
        }
    }

    @include respond-to ('xssmall') {
        .nav-profile-icon {
            display: none;
        }

        .nav-search-form {
            display: none;
        }

        .magazine-logo-tablet-mobile {
            width: 120px;
            height: 16px;
            background-size: 100%;
        }

        .see-all-subjects {
            float: right;
        }

        .js-nav-menu {
            ul:first-child {
                padding-left: 20px;
            }

            #secondary-items-nav {
                margin-left: 30px;
                width: 100%;

                li {
                    width: 40%;
                    display: inline-block;

                    &:nth-child(1) {
                        width: 100%;
                    }
                    float: left;
                }
            }
        }
    }

    .loginPrompt-wrapper {
        .modal {
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
        }

        .login-dialog {
            width: 500px;

            .login-content {
                width: 500px;
                min-height: 500px;
                border-radius: 0;
                background-color: $bodyGrey;

                .login-content-wrapper {
                    padding-left: 30px;
                    padding-right: 30px;
                }

                a {
                    text-decoration: none;
                }

                .modal-close-button {
                    padding-top: 19px;

                    &.close-notsubscribe-modal {
                        padding-top: 12px;
                        padding-bottom: 7px;
                    }

                    &:after {
                        content: '';
                        clear: both;
                        display: block;
                    }

                    .close-button {
                        opacity: 1;
                        padding-right: 18px;
                        position: relative;

                        &:focus {
                            outline: none;
                        }

                        span {
                            &.sw-icon {
                                position: relative;
                                top: 4px;
                            }
                        }
                    }
                }

                .login-header {
                    border-bottom: transparent;
                    padding: 0;

                    .login-title {
                        @include font($font09, 32px, null, null, 1px);
                        color: $black1;
                        text-align: center;
                    }
                }

                .login-body {
                    padding-top: 18px;
                    padding-bottom: 30px;

                    .selector-section {
                        margin-top: 20px;
                    }

                    label {
                        @include font($font04, 16px, null, null, 0.5px);
                        color: $black1;
                    }

                    .teacher-block {
                        text-align: center;

                        .teacher-sec {
                            padding-top: 25px;
                        }
                    }

                    .not-subscribe-teacher-block {
                        text-align: center;
                        padding-left: 25px;

                        .teacher-sec {
                            padding-top: 25px;
                        }
                    }

                    .student-block {
                        text-align: center;
                        padding-left: 30px;

                        .student-sec {
                            padding-top: 21px;
                        }
                    }

                    .teacher-sec, .student-sec {
                        position: relative;
                        label {
                            &> input[type="radio"] {
                                visibility: hidden;
                                position: absolute;
                                &+ span {
                                    &.sw-icon {
                                        cursor: pointer;
                                        position: relative;
                                        top: 2px;
                                    }
                                }
                                &:checked {
                                    &+span {
                                        &.sw-icon {
                                            &.radio-unchecked-icon {
                                                background-position: -170px -334px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .subscriber-sec {
                        text-align: center;
                        padding-top: 25px;

                        &.bottom-subscribe-sec {
                            padding-top: 30px;
                            padding-bottom: 20px;
                        }

                        p {
                            @include font($font04, 14px, null, null, 0.4px);
                            margin-bottom: 0;
                            color: $black1;
                        }

                        a {
                            @include font($font09, 14px, null, $liteBlue2, 0.4px);
                        }
                    }
                }

                .border-sec-notyetsubscribe {
                    padding-bottom: 30px;
                    padding-top: 20px;
                }

                .border-section {
                    padding-bottom: 40px;
                    padding-top: 40px;
                }

                .middle-border {
                    margin: 0 auto;
                    width: 200px;
                    border: 2px solid $lightGray1;
                    border-radius: 100px;
                }

                .not-yet-login-account {
                    @include font($font09, 20px, null, null, 0.6px);
                    color: $black1;
                    text-align: center;
                    padding-bottom: 16px;
                }

                .notyet-subscriber-sec {
                    &.subscribe-now {
                        text-align: center;
                        float: none;
                        padding: 13px 0 0;

                        &:after {
                            content: '';
                            clear: both;
                            display: block;
                        }
                    }

                    .not-yet-subscribe {
                        @include font($font09, 18px, null, null, 0.6px);
                        text-align: center;
                        padding-bottom: 7px;
                        color: $black1;
                    }

                    a {
                        @include font($font09, 14px, 1.38, $liteBlue2, 0.4px);
                    }

                    .description {
                        @include font($font04, 14px, 1.38, null, 0.4px);
                        color: $black1;
                        margin-bottom: 0;
                    }

                    .teachers-only {
                        @include font($font04, 11px, 1.5, null, 0.3px);
                        color: $black2;
                    }

                    .middle-border {
                        width: 182px;
                    }
                }
            }
        }
    }

    .logged-in-dropdown {
        .login-toggle {
            color: $white;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            &:focus,
            &:hover {
                color: $white;
            }
        }

        .sw-icon.user-dropdown-white-arrow {
            margin-left: 5px;
            position: relative;
            top: -13px;
        }

        .login-menu {
                box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.45);
                border-radius: 4px;
                height: auto;
                border: 0;  
                padding: 28px 0 28px 0;
                right: 0;
                left: auto;
                top: 69px;
                width: 310px !important; //-to avoid SDM nav dynamic file ovveride

                &:before {
                content: '';
                display: block;  
                position: absolute;
                left: 266px;
                bottom: 100%;
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-bottom-color: $white;
            }

                &:after {
                content: '';
                display: block;  
                position: absolute;
                left: 266px;
                bottom: 100%;
                width: 0;
                height: 0;
                border: 9px solid transparent;
                border-bottom-color: white;
            }

            .dropdown-title {
                @include font($font07, 14px, null, $black, 0.5px);
                padding-left: 30px;
            }

            .my-dash-board{
                padding: 20px 0 0 30px;
                .dash-board-icon{
                    vertical-align: middle;
                    background: url('../../images/settingsicon.png') no-repeat;
                    display: inline-block;
                    background-size: 100%;
                    width: 18px;
                    height: 18px;
                }
                .dash-board-name{
                    vertical-align: middle;
                    border: 0;
                    margin-left: 2px;
                    margin-right: 0;
                    display: inline;
                    padding: 0;
                    @include font($font07, 13px, 1, $contentTileSubjectBlue, 0.5px);
                }
            }

            .log-out{
                padding-left: 30px;
                padding-top: 20px;
                .log-out-icon{
                    vertical-align: middle;
                    background: url('../../images/logouticon.png') no-repeat;
                    display: inline-block;
                    background-size: 100%;
                    width: 18px;
                    height: 18px;
                }
                .log-out-name{
                    border: 0;
                    margin-left: 3px;
                    margin-right: 0;
                    display: inline;
                    padding: 0;
                    vertical-align: middle;
                    @include font($font07, 13px, 1, $contentTileSubjectBlue, 0.5px);
                }
            }

            .border-divider{
                border-bottom: 1px solid $loginMenuBorder;
                padding-top: 29px;
            }

            .subscription{
                @include font($font07, 14px, 0.93, $black, 0.5px);
                padding-top: 21px;
                padding-left: 30px;
            }
            .image-column{
                padding-top: 20px;
                .img-name{
                    max-width: 92px;
                    margin: 15px 0 0 0;
                    display: inline-block;
                    text-decoration: none;
                    cursor: pointer;
                    border: 0;
                    @include font($font07, 13px, 1.23, $contentTileSubjectBlue, 0.5px);
                }
            }
            .subscription-link{
                padding-top: 20px;
                clear: both;
            .subscriptions{
                padding: 0 0 0 30px;
                margin: 0;
                display: inline;
                vertical-align: middle;
                @include font($font07, 13px, 1, $contentTileSubjectBlue, 0.5px);
            }
            .subscriptions-arrow-icon{
                vertical-align: middle;
                margin-left: 3px;
                margin-top: 2px;
                
            }
        }

            li {
                a {
                    @include font($font04, 16px, null, $navyBlue);
                    line-height: 48px;
                    border-bottom: 1px solid $black;
                    margin-left: 20px;
                    margin-right: 20px;

                    &:hover {
                        background-color: $white;
                    }
                }

                &:last-child {
                    a {
                        border-bottom: 0;
                    }
                }
            }
            //-to avoid SDM nav dynamic file ovveride
            #sdm-logout,
            #sdm-portal-link {
                background: none !important;
                @include font($font04, 16px, null, $navyBlue);
                color: $navyBlue !important;
                text-decoration: none !important;
                text-align: left !important;
            }

            #sdm-portal-link {
                padding: 10px 20px !important;
            }

            #sdm-logout {
                padding: 0 20px !important;
            }
        }

        &.open {
            a:focus {
                background-color: $footerBkg;
            }

            .sw-icon.user-dropdown-white-arrow {
                background-position: -231px -572px;
                padding-left: 5px;
                color: $navyBlue;
            }

            .login-toggle {
                background-color: $footerBkg;

                &:hover {
                    background-color: $footerBkg;
                }
            }
            
        }
    }

    #sdm-nav {
        display: none;
    }
}
