.pastIssueGrid-main-container {
    .pastIssueGrid-main-content {
        .tile{
            padding-left: 25px;
            padding-right: 25px;
        }
        .issue-container {
            margin-bottom: 10px;
            .issue-cover {
                position: relative;
                max-width: 235px;
                height: 314px;
                background-color: $globalNavPopoverGray;
                margin-bottom: 15px;
                border: 1px solid $dimLiteGray;
                text-align: center;
                img {
                    max-width: 100%;
                    max-height: 314px;
                    margin: 0 auto;
                }
                .icon {
                    width: 26px;
                    height: 30px;
                    display: inline-block;
                    position: absolute;
                    top: 10%;
                    right: 10%;
                    &.save-icon {
                        background-image: url('../../images/icons/saveIcon.png');
                    }
                    &.save-icon-filled {
                        background-image: url('../../images/icons/saveIconFilled.png');
                    }
                }
            }
            .issue-date {
                @include font($font7, 10px, 1.6, $liteAsh5, 0.8px);
                word-wrap: break-word;
                width: 100%;
                text-transform: capitalize;
                background-color: $liteBlue5;
                border-radius: 8px;
                padding: 10px 0 10px 0;
                border: 0;
                margin: 13px auto 30px auto;
                text-align: center;
                min-height: 35px;
                a{
                    @include font($font7, 10px, 1.6, $liteAsh5, 0.8px);
                    &:hover, &:focus, &:active{
                        text-decoration: none;
                    }
                } 
            }
        }
		.row-wrapper{
		  .col-md-3:nth-child(4n+1){
		  clear:both;
		  }
		}
    }
    /*Pagination styles start*/
    
    .pagination-wrapper{
        text-align: center;
        .paginationBottom {
            width: auto;
            margin-top: 10px;
            margin-bottom: 63px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            display: inline-block;
            ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px 0px 5px 0px;
                height: 15px;
                font-family: arial, verdana, sans-serif;
                font-size: 9px;
                letter-spacing: 1px;
                @include font($font5, 15px, null, $liteBlue2, 1px);
                li {
                    float: left;
                    margin: 0px 0px 0px 6px;
                    padding: 0px;
                    height: auto;
                    line-height: 15px;
                    vertical-align: middle;
                    &.pagePrevious {
                        margin-left: 0px;
                    }
                    &.pageNextPipe {
                        color: $mediumGrey;
                    }
                    &.disabled-link {
                        opacity:.6;
                        cursor: not-allowed;
                    }
                    a {
                        font-weight: bold;
                        line-height: 15px;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 12px;
                        &.disableLink {
                        color: grey; 
                        }
                    }
                }
            }
        }
    }
    /*Pagination styles end*/   
}

@include respond-to('xssmall'){
    .pastIssueGrid-main-container{
        .pastIssueGrid-main-content{
            .issue-container{
                .issue-cover{
                    width: 100%;
                    height: 110px;
                    position: relative;
                    background-color: $globalNavPopoverGray;
                    margin: 0 auto;
                    img{
                        max-width: 115px;
                        max-height: 110px;
                        @include center-both;
                    }
                }
            } 

.row-wrapper{
		  
		  .col-sm-4:nth-child(3n+1){
		  clear:none;
		  }
		  .col-md-3:nth-child(4n+1){
		  clear:none;
		  }
		  .col-xs-6:nth-child(2n+1){
		  clear:both;
		  }
		}
			
        }
    }
}

@include respond-to('small'){
    .pastIssueGrid-main-container{
        .pastIssueGrid-main-content{
          .row-wrapper{
		  
		  .col-xs-6:nth-child(2n+1){
		  clear:none;
		  }
		  .col-md-3:nth-child(4n+1){
		  clear:none;
		  }
		  .col-sm-4:nth-child(3n+1){
		  clear:both;
		  }
		} 

           
        }
    }
}