<div data-sly-test.placeholder="${wcmmode.edit || wcmmode.design}">Configure
	Article - Text + Image</div>
<div data-sly-use.articleTextUse="com.scholastic.classmags.migration.controllers.ArticleTextUse">

	<div data-sly-test="${properties.articleTextImagePos != 'top'}">
	    <div class="article-text-image-layout">
	        <div class="col-md-12 article-text-image ${properties.articleTextImagePos} nopadLR">
            	<div data-sly-test.noBorder="{'border': 0}" data-sly-unwrap></div>
	            <div data-sly-test="${properties.fileReference}" class="img-column" ng-style="${properties.disableBorder ? noBorder : ''}">
                    <sw-image src="${properties.fileReference}" alt="Article Image" height="auto" width="300px"></sw-image>
	                <div data-sly-test="${properties.articleTextCredits}" class="credits">${properties.articleTextCredits}</div>
                    <a data-sly-test="${properties.articleTextcaption}" class="caption" href="">${properties.articleTextcaption @ context='html'}</a>
	            </div>
	            <div id="ArticleTextDataSection" class="js-article-data-section" data-sly-list="${articleTextUse.articleDataList}">
                    <sly data-sly-test="${placeholder}">
	                   <div id="${itemlist.index}" class="text-column">${item @ context='html'}</div>
                    </sly>
                    <sly data-sly-test="${!placeholder}">
                       <div id="${itemlist.index}" class="js-article-item text-column">${item @ context='html'}</div>
                    </sly>
	            </div>
	        </div>
	    </div>
    </div>
    <div data-sly-test="${properties.articleTextImagePos == 'top'}">
    	<div class="article-text-image-top-layout">
        <div class="row nomarLR article-text-image">
            <div data-sly-test="${properties.fileReference}" class="top-article-container">
                <div class="top-article-text-image">
                <img class="img-responsive article-image" src="${properties.fileReference}" />
                </div>
                <div data-sly-test="${properties.articleTextCredits}" class="credits">${properties.articleTextCredits}</div>
                <div data-sly-test="${properties.articleTextcaption}" class="caption">${properties.articleTextcaption @ context='html'}</div>
            </div>
            
             <div id="ArticleTextDataSection" class="js-article-data-section" data-sly-list="${articleTextUse.articleDataList}">
                    <sly data-sly-test="${placeholder}">
	                   <div id="${itemlist.index}" class="text-column article-description">${item @ context='html'}</div>
                    </sly>
                    <sly data-sly-test="${!placeholder}">
                       <div id="${itemlist.index}" class="js-article-item text-column article-description">${item @ context='html'}</div>
                    </sly>
	         </div>
	            
        </div>
    </div>
    </div>
</div>
<div class="clearfix"></div>