.textHyperlink-container{
	.textHyperlink-wrapper{
		.textHyperlink-text {
			@include font($fontG7, 30px, 0.83, $black, 0.3px);
		}
		.textHyperlink-link {
        @include font($fontGB9, 14px, 1, $actioninactiveSortColor, 0.5px);
    	}
	}
}