    <div class="content-tiles-misc-container">     
                      <!--ISSUE TYPE-------------------------------------->
                    <!-- content issue left horizontal -->
      
                    <div ng-if="contentType=='issue' && position=='left'"                          
                         class="row content-issue-container issue-horizontal-height">
                        <div class="col-md-6 col-sm-6 col-xs-6 content-image" ng-if="imageSrc">
                            <a href="{{imageHyperlink}}">
                                <img class="tile-image" ng-src="{{imageSrc}}" />
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 tile-info">
                            <div>
                               <a href="{{imageHyperlink}}" target="_blank"> <h3 class="content-title">{{title}}</h3></a>
                            </div>
                            <div>
                                <p class="content-description">{{description}}</p>
                            </div>
                            <div>
                                <span class="sw-icon share-icon" ng-if="showShareIcon">
                                    <sw-show-popover link-url="{{imageHyperlink}}"></sw-show-popover>
                                </span>
                            </div>
                        </div>
                    </div>   
        
                    <!-- content issue right horizontal -->
                    <div ng-if="contentType=='issue' && position=='right'"                         
                         class="row content-issue-container issue-horizontal-height">

                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div>
                               <a href="{{imageHyperlink}}" target="_blank"> <h3 class="content-title">{{title}}</h3></a>
                            </div>
                            <div>
                                <p class="content-description">{{description}}</p>
                            </div>
                            <div>
                            <span class="sw-icon share-icon" ng-if="showShareIcon">
                                <sw-show-popover link-url="{{imageHyperlink}}"></sw-show-popover>
                            </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 content-image" ng-if="imageSrc">
                            <a href="{{imageHyperlink}}">
                                <img class="tile-image" ng-src="{{imageSrc}}" />
                            </a>
                        </div>
                        
                    </div>  
        
                    <!-- content content issue vertical top -->
                    <div ng-if="contentType=='issue' && position=='bottom'"                          
                         class="row content-issue-container">
                        <div class="row">
                            <div>
                                <a href="{{imageHyperlink}}" target="_blank"><h3 class="content-title">{{title}}</h3></a>
                            </div>
                            <div>
                                <p class="content-description-v">{{description}}</p>
                            </div>
                            <div>
                            <span class="sw-icon share-icon" ng-if="showShareIcon">
                                <sw-show-popover link-url="{{imageHyperlink}}"></sw-show-popover>
                            </span>
                        </div>
                        </div>
                        <div class="row content-image" ng-if="imageSrc">
                            <a href="{{imageHyperlink}}">
                                <img class="tile-image" ng-src="{{imageSrc}}" />
                            </a>
                        </div>
                        
                    </div>
        
                    <!-- vertical content issue vertical bottom -->
                    <div ng-if="contentType=='issue' && position=='top'"                        
                         class="row content-issue-container">
                        <div class="row content-image" ng-if="imageSrc">
                            <a href="{{imageHyperlink}}">
                                <img class="tile-image" ng-src="{{imageSrc}}" />
                            </a>
                        </div>
                        <div class="row">
                            <div>
                               <a href="{{imageHyperlink}}" target="_blank"><h3 class="content-title margin-v">{{title}}</h3></a>
                            </div>
                            <div>
                                <p class="content-description-v">{{description}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <span class="sw-icon share-icon" ng-if="showShareIcon">
                                <sw-show-popover link-url="{{imageHyperlink}}"></sw-show-popover>
                            </span>
                        </div>

                    </div>
        
                    <!--MISC TYPE-------------------------------------->
                    <!-- article/video/asset misc horizontal-->
       
                    <div ng-if="contentType!='issue' && position=='left'"                          
                         class="row content-misc-container article-horizontal-height" ng-class="{'article-horizontal-height-large': styleType == 'large'}">                        
                        <div class="col-md-6 col-sm-6 col-xs-6" 
                             ng-class="{'content-image-article-horizontal': ((contentType=='article' 
                                       || contentType =='video' || contentType =='asset' ) && styleType!='large'), 
                                       'content-image-article-large': (contentType == 'article' && styleType == 'large'), 'custom-image': contentType == 'custom'
                                       }" 
                             ng-if="imageSrc">
                            <a href="{{imageHyperlink}}">
                                <img  ng-class="{'tile-image-article-horizontal': ((contentType=='article' 
                                       || contentType =='video' || contentType =='asset' ) && styleType!='large'), 
                                       'tile-image-article-large': (contentType == 'article' && styleType == 'large'), 'custom-tile-image': contentType == 'custom'
                                       }" 
                                     ng-src="{{imageSrc}}" />
                                <a ng-if="contentType=='video'" class="video_play" href="#" data-video="{{videoId}}" target="_self"><span class="icon icon-video-play"></span></a>
                                <span ng-if="contentType=='video'" class="video-timeframe" aria-hidden="true" >{{videoLength}}</span>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div>
                                <a href="{{imageHyperlink}}" target="_blank"><h3 class="content-title">{{title}}</h3></a>
                            </div>
                            <div>
                                <h4 class="content-subject">{{subject}}</h4>
                            </div>
                            <div>
                                <h5 class="content-date">{{displayDate}}</h5>
                            </div>
                            <div>
                                <p class="content-description">{{description}}</p>
                            </div>
                        
                            <div class="row">
                                <span  ng-if="showShareIcon" class="sw-icon share-icon">
                                    <sw-show-popover link-url="{{imageHyperlink}}"></sw-show-popover>
                                </span>
                                 <a href="{{imageHyperlink}}"   target="_blank" ng-if="showDownloadIcon"><span   class="sw-icon download-icon">
                                     </span></a>
                          
                                <!--
                                <div class="col-md-2">
                                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/OQN4OF/45/f2/2f/45f22f21d2634caf8a6e99f5ab9d66a8/images/homepage_-_testimonials/u333.png?token=0d90e79ee279f4eb766614df74d5b166" />
                                </div>
                                <div class="col-md-2">
                                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/OQN4OF/45/f2/2f/45f22f21d2634caf8a6e99f5ab9d66a8/images/homepage_-_no_bookmarks___history/u466.png?token=c6cb710052ad04d3f9b934028e65437a" />
                                </div>

                                <div class="col-md-2">
                                    <img src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/OQN4OF/45/f2/2f/45f22f21d2634caf8a6e99f5ab9d66a8/images/homepage_-_testimonials/u335.png?token=d0e0705f4e175efd584f46221b654c41" />
                                </div>
                                -->
                            </div>
                         
                        </div>
                    </div>

                    <!-- misc right -->
                    <div ng-if="contentType!='issue' && position=='right'"                          
                         class="row content-misc-container article-horizontal-height" ng-class="{'article-horizontal-height-large': styleType == 'large'}">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div>
                                <a href="{{imageHyperlink}}" target="_blank"><h3 class="content-title">{{title}}</h3></a>
                            </div>
                            <div>
                                <h4 class="content-subject">{{subject}}</h4>
                            </div>
                            <div>
                                <h5 class="content-date">{{displayDate}}</h5>
                            </div>
                            <div>
                                <p class="content-description">{{description}}</p>
                            </div>
                            
                            <div class="row">
                               <span class="sw-icon share-icon" ng-if="showShareIcon">
                                   <sw-show-popover link-url="{{imageHyperlink}}"></sw-show-popover>
                               </span>
                                  <a href="{{imageHyperlink}}"   target="_blank" ng-if="showDownloadIcon"><span   class="sw-icon download-icon">
                                     </span></a>
                                <!--
                                <div class="col-md-2">
                                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/OQN4OF/45/f2/2f/45f22f21d2634caf8a6e99f5ab9d66a8/images/homepage_-_testimonials/u333.png?token=0d90e79ee279f4eb766614df74d5b166" />
                                </div>
                                <div class="col-md-2">
                                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/OQN4OF/45/f2/2f/45f22f21d2634caf8a6e99f5ab9d66a8/images/homepage_-_no_bookmarks___history/u466.png?token=c6cb710052ad04d3f9b934028e65437a" />
                                </div>

                                <div class="col-md-2">
                                    <img src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/OQN4OF/45/f2/2f/45f22f21d2634caf8a6e99f5ab9d66a8/images/homepage_-_testimonials/u335.png?token=d0e0705f4e175efd584f46221b654c41" />
                                </div>
                                -->
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6" 
                                ng-class="{'content-image-article-horizontal': ((contentType=='article' 
                                       || contentType =='video' || contentType =='asset' ) && styleType!='large'), 
                                       'content-image-article-large': (contentType == 'article' && styleType == 'large'), 'custom-image': contentType == 'custom'
                                       }"  
                             ng-if="imageSrc">
                            <a href="{{imageHyperlink}}">
                                <img 
                                ng-class="{'tile-image-article-horizontal': ((contentType=='article' 
                                       || contentType =='video' || contentType =='asset' ) && styleType!='large'), 
                                       'tile-image-article-large': (contentType == 'article' && styleType == 'large'), 'custom-tile-image': contentType == 'custom'
                                       }"  ng-src="{{imageSrc}}" />
                                <a ng-if="contentType=='video'" class="video_play" href="#" data-video="{{videoId}}" target="_self"><span class="sw-icon video-icon"></span></a>
                                <span ng-if="contentType=='video'" class="video-timeframe" aria-hidden="true" >{{videoLength}}</span>
                            </a>
                        </div>
                    </div>     

                    <!-- vertical misc issue top -->
                    <div ng-if="contentType!='issue' && position=='bottom'"                         
                         class="row content-misc-container article-vertical-height">
                        <div class="row">
                            <div>
                                <a href="{{imageHyperlink}}" target="_blank"><h3 class="content-title">{{title}}</h3></a>
                            </div>
                            <div>
                                <h4 class="content-subject">{{subject}}</h4>
                            </div>
                            <div>
                                <h5 class="content-date">{{displayDate}}</h5>
                            </div>
                            <div>
                                <p class="content-description-v">{{description}}</p>
                            </div>
                            <div>
                            <span ng-if="showShareIcon" class="sw-icon share-icon">
                                <sw-show-popover link-url="{{imageHyperlink}}"></sw-show-popover>
                            </span>
                                 <a href="{{imageHyperlink}}"   target="_blank" ng-if="showDownloadIcon"><span    class="sw-icon download-icon">
                                     </span></a>
                            </div>
                            <div class="row">
                                <!--
                                <div class="col-md-2 col-sm-2 col-xs-2 download-icon" ng-if="contentType=='asset'">
                                    
                                </div>
                                -->
                                <!--
                                <div class="col-md-2">
                                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/OQN4OF/45/f2/2f/45f22f21d2634caf8a6e99f5ab9d66a8/images/homepage_-_testimonials/u333.png?token=0d90e79ee279f4eb766614df74d5b166" />
                                </div>
                                <div class="col-md-2">
                                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/OQN4OF/45/f2/2f/45f22f21d2634caf8a6e99f5ab9d66a8/images/homepage_-_no_bookmarks___history/u466.png?token=c6cb710052ad04d3f9b934028e65437a" />
                                </div>

                                <div class="col-md-2">
                                    <img src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/OQN4OF/45/f2/2f/45f22f21d2634caf8a6e99f5ab9d66a8/images/homepage_-_testimonials/u335.png?token=d0e0705f4e175efd584f46221b654c41" />
                                </div>
                                -->
                            </div>
                        </div>
                        <div ng-if="imageSrc" class="row video-thumbnail-image content-image">
                            <a href="{{imageHyperlink}}">
                                <img class="tile-image" ng-src="{{imageSrc}}" />
                                <a ng-if="contentType=='video'" class="video_play" href="#" data-video="{{videoId}}" target="_self"><span class="sw-icon video-icon"></span></a>
                                <span ng-if="contentType=='video'" class="video-timeframe" aria-hidden="true" >{{videoLength}}</span>
                            </a>
                        </div>
                    </div>
                    
                    <!-- vertical misc issue bottom -->
                    <div ng-if="contentType!='issue' && position=='top'"                         
                         class="row content-misc-container article-vertical-height">

                        <div ng-if="imageSrc" class="row video-thumbnail-image content-image">
                            <a href="{{imageHyperlink}}">
                                <img class="tile-image" ng-src="{{imageSrc}}" />
                                <a ng-if="contentType=='video'" class="video_play" href="#" data-video="{{videoId}}" target="_self"><span class="sw-icon video-icon"></span></a>
                                <span ng-if="contentType=='video'" class="video-timeframe" aria-hidden="true" >{{videoLength}}</span>
                            </a>
                        </div>

                        <div class="row">
                            <div>
                                <a href="{{imageHyperlink}}" target="_blank"><h3 class="content-title margin-v">{{title}}</h3></a>
                            </div>
                            <div>
                                <h4 class="content-subject">{{subject}}</h4>
                            </div>
                            <div>
                                <h5 class="content-date">{{displayDate}}</h5>
                            </div>
                            <div>
                                <p class="content-description-v">{{description}}</p>
                            </div>
                            <div class="tile-icons">
                            <span ng-if="showShareIcon" class="sw-icon share-icon-v">
                                <sw-show-popover link-url="{{imageHyperlink}}"></sw-show-popover>
                            </span>
                                 <a href="{{imageHyperlink}}"   target="_blank" ng-if="showDownloadIcon"><span   class="sw-icon download-icon">
                                     </span></a>
                            </div>
                            <div class="row">
                                <!--
                                <div class="col-md-2 col-sm-2 col-xs-2 download-icon" ng-if="contentType=='asset'">
                                    
                                </div>

                                <!--
                                <div class="col-md-2">
                                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/OQN4OF/45/f2/2f/45f22f21d2634caf8a6e99f5ab9d66a8/images/homepage_-_testimonials/u333.png?token=0d90e79ee279f4eb766614df74d5b166" />
                                </div>
                                <div class="col-md-2">
                                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/OQN4OF/45/f2/2f/45f22f21d2634caf8a6e99f5ab9d66a8/images/homepage_-_no_bookmarks___history/u466.png?token=c6cb710052ad04d3f9b934028e65437a" />
                                </div>

                                <div class="col-md-2">
                                    <img src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/OQN4OF/45/f2/2f/45f22f21d2634caf8a6e99f5ab9d66a8/images/homepage_-_testimonials/u335.png?token=d0e0705f4e175efd584f46221b654c41" />
                                </div>
                                -->
                            </div>
                        </div>

                    </div>   
        </div>

  