.recent-issues-container {
    padding-left: 63px;
    padding-right: 62px;
    background-color: $white;
    margin-top: -2px;

    .recent-issue-content-wrapper {
        width: 20%;
        margin-top: 10px;

        &:nth-child(-n+5) {
            margin-top: 0;
        }

        .recent-issue-date {
            display: inline-block;
            margin-top: 10px;
            @include font($fontN5, 18px, 1.17, $black, 0.5px);
        }
    }
}
