<div data-sly-use.globalNavContainerUse="com.scholastic.classmags.migration.controllers.GlobalNavContainerUse" data-sly-unwrap>
<!-- home page logged in ${globalNavContainerUse.homePageLoggedIn} -->
<!-- home page logged out ${globalNavContainerUse.homePageLoggedOut} -->
  <div class="app-nav-bar-main-container container-fluid" ng-controller="globalNavigationController" ng-init="searchPagePath='${currentPage.path}';recordsPerPage=12;">
            <div class="global-nav-container">
            <input id="sw-sdm-home-page-logged-in" type="hidden"
            value="${globalNavContainerUse.homePageLoggedIn}"/>
            <input id="sw-sdm-home-page-logged-out" type="hidden"
            value="${globalNavContainerUse.homePageLoggedOut}"/>
                    <nav class="navbar navbar-default app-navbar-header">
                        <div class="row app-nav-primary">
                            <div class="col-xs-12 col-sm-12">
                                <div class="row navbar-header app-nav-header">
                                    <div class="col-xs-2 col-sm-1 menu-icon-block">
                                        <button class="navbar-toggle collapsed pull-left nav-header-item nav-menu-icon" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                              <span class="sr-only">Toggle navigation</span>
                                              <span class="icon-bar"></span>                                              
                                              <span class="icon-bar"></span>
                                              <span class="icon-bar"></span>
                `                        </button>
                                    </div>
                                    <div id="menu-link" class="col-xs-2 col-sm-1 navbar-toggle pull-left nav-header-item menu-link-block" data-toggle="collapse"
                                         data-target=".navbar-collapse">
                                            <a  href="" class="nav-menu-link">MENU</a>
                                    </div>

                                    <div class="col-xs-5 col-sm-4 navbar-toggle pull-left nav-header-item search-logo-block">
                                         <a href="" class="magazine-logo-tablet-mobile"></a>
                                    </div>

                                    <div class="col-sm-4 nav-header-item navbar-toggle pull-left"
                                         data-target=".navbar-collapse">

                                    <!--
                                    <form class="navbar-form nav-search-form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Keyword">
                                        </div>
                                        <button type="submit" ng-click="search('/content/classroom-magazines/science-world/issues/search.html')" class="btn btn-default">Search</button>
                                    </form>
                                    -->
                                    <form class="navbar-form nav-search-form">
                                        <input type="text" class="form-control" ng-model="searchText" placeholder="Enter Keyword">
                                        <button type="submit" class="input-group-addon"
                                        ng-click="search('${globalNavContainerUse.searchResultsUrl}')">Search</button>
                                    </form>




                                    </div>
                                    <div class="col-xs-1 col-sm-1 navbar-toggle nav-search-icon pull-left nav-header-item search-icon-block" data-toggle="collapse"
                                         data-target=".navbar-collapse">
                                        <!-- <img src="/etc/designs/scholastic/classroom-magazines-migration/images/globalNav/search-icon.png" class="header-icon"/> -->
                                        <span class="header-icon sw-icon search-icon"></span>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 navbar-toggle nav-header-item pull-left profile-icon-block" data-toggle="collapse"
                                         data-target=".navbar-collapse">
                                        <!-- <img class="pull-right" src="/etc/designs/scholastic/classroom-magazines-migration/images/globalNav/profile-icon.png"/> -->
                                        <span class="pull-right sw-icon person-icon"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" id="nav-primary-block">
                                <div class="row collapse navbar-collapse">
                                    <div class="col-md-12 nav-primary-items">
                                    <ul class="nav navbar-nav menu-list">
                                    <li class="dropdown js-dropdown hidden-nav science-logo" ng-click="userRedirection()">
                                        <a href="" ></a>
                                    </li>


                                    <div data-sly-resource="${ @path='global-nav-par', resourceType='wcm/foundation/components/parsys'}"></div>

                                    <li class="login-control hidden-nav pull-right" ng-if="!isLoggedIn">
                                        <ul>
                                            <li data-toggle="modal" data-target="#myModal" class="login-modal pull-right">
                                                <a href="" ng-click="hideWait()">Login</a>
                                            </li>
                                            <li class="nav-subscribe-text">
                                            <div data-sly-unwrap
                                                data-sly-resource="${'global-nav-subscribe' @ resourceType='scholastic/classroom-magazines-migration/components/content/global-nav-subscribe'}"></div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="logged-in-dropdown pull-right" ng-if="isLoggedIn">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle login-toggle">
                                            <span class="sw-icon person-icon"></span>
                                            <!-- <span class="sw-icon user-dropdown-white-arrow"></span> -->

                                            <!--<img ng-src="{{profileLink}}">-->
                                        </a>
                                            <ul class="dropdown-menu login-menu">
                                                <li class="dropdown-title">Welcome&nbsp;{{profileName}}</li>

                                                <li class="my-dash-board">
                                                    <span class="sw-icon settings-icon"></span>
                                                    <a href="" id="sdm-portal-link" class="dash-board-name">My Dashboard</a>
                                                </li>

                                                <li class="log-out">
                                                    <span class="sw-icon dashboard-icon"></span>
                                                    <a class="log-out-name" id="sdm-logout" href="javascript:void(0);" 
                                                    js-data-core-sdm-logout="${globalNavContainerUse.homePageLoggedOut}">Log Out</a>
                                                </li>
                                                <!-- <li><a id="sdm-portal-link" href="">Your Dashboard</a></li> -->
                                                <!--<li><a id="sdm-logout" href="${globalNavContainerUse.homePageLoggedOut}">Log Out</a></li>-->
                                                <!--<li><a id="sdm-logout" href="${globalNavContainerUse.homePageLoggedOut}">Log Out</a></li>-->
                                                <!-- <li><a id="sdm-logout" href="javascript:void(0);" 
                                                js-data-core-sdm-logout="${globalNavContainerUse.homePageLoggedOut}">Log Out</a></li> -->


                                                <li class="border-divider"></li>
                                                <li class="subscription">Current Subscriptions</li>

                                                <li class="col-md-12 image-column">
                                                    <div class="col-md-6" ng-repeat="entitlement in entitlements track by $index">
                                                    <sw-image src="{{entitlement.thumbnail}}" alt="entitlement Image" height="auto" width="85px"></sw-image>
                                                    <a class="img-name" ng-href="{{entitlement.url}}">{{entitlement.name}}</a>
                                                    </div>
                                                </li>
                                                <li class="subscription-link" ng-if="entitlementsLength>4">
                                                <a id="sdm-portal-link" href="javascript:void(0)" class="subscriptions" ng-click="seeAllSubjscriptions()">See All Subscriptions</a>
                                                <span class="sw-icon  right-arrow subscriptions-arrow-icon"></span>
                                                </li>

                                            </ul>
                                        </li>

                                    <li class="dropdown js-dropdown pull-right" ng-if="isLoggedIn">
                                            <a href="${globalNavContainerUse.myBookmarksPageUrl}" class="app-nav-main-item-link magazine bookmarks" tabindex="0"> My Bookmarks</a>
                                    </li>
                                    <li class="nav-control hidden-nav pull-right">
                                     <!--
                                    <form class="navbar-form nav-search-form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter Keyword">
                                        </div>
                                        <button type="submit" ng-click="search('/content/classroom-magazines/science-world/issues/search.html')" class="btn btn-default">Search</button>
                                    </form>
                                    -->
                                    <form class="navbar-form nav-search-form">
                                        <input type="text" class="form-control" ng-model="searchText" placeholder="Enter Keyword">
                                        <button type="submit" class="input-group-addon"
                                        ng-click="search('${globalNavContainerUse.searchResultsUrl}')">Search</button>
                                    </form>
                                    </li>

                                        <!-- login dropdown starts here -->

                                        <!-- login drop down ends here -->

                             </ul>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div data-sly-unwrap
                                                data-sly-resource="${'global-nav-explore' @ resourceType='scholastic/classroom-magazines-migration/components/content/global-nav-explore'}"></div>
                </nav>
            </div>
            <div id="mobile-hover">
                <div class="pop-over-menu-div">
                    <div class="nav-mobile-icons">
                        <span class="pull-left popover-icon"><a class="glyphicon glyphicon-arrow-left menu-back"></a></span>
                        <span class="pull-right popover-icon"><a class="glyphicon glyphicon-remove menu-close"></a></span>
                    </div>
                    <div class="js-nav-menu">
                    </div>
                </div>

            </div>
            <div id="font-load-LatoR">&nbsp;</div>
            <div id="font-load-LatoB">&nbsp;</div>

            <!-- modal starts here -->
            <div class="loginPrompt-wrapper">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog login-dialog" role="document">
                        <div class="modal-content login-content">
                            <div class="modal-close-button close-notsubscribe-modal">
                                <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close" ng-click="goBack()">
                                    <span aria-hidden="true">
                                        <span class="sw-icon close-big-icon"></span>
                                    </span>
                                </button>
                            </div>
                            <div class="login-content-wrapper">
                                <div class="modal-header login-header">
                                    <h4 class="modal-title login-title" id="myModalLabel">Log into your account</h4>
                                </div>
                                <div class="modal-body login-body" ng-show="!showWait">
                                    <div class="row nomarLR">
                                        <div class="col-xs-offset-1 col-xs-5 teacher-block">
                                            <span class="sw-icon login-teacher-icon"></span>
                                        </div>
                                        <div class="col-xs-4 student-block">
                                            <span class="sw-icon login-student-icon"></span>
                                        </div>
                                    </div>
                                    <div class="row nomarLR selector-section">
                                        <div class="col-xs-offset-1 col-xs-5">
                                            <div class="teacher-sec">
                                                <form>
                                                    <label for="teacher">
                                                        <input class="teacher-selector" type="radio" name="role" id="teacher" value="teacher" ng-model="isOptionSelected" ng-click="login('${globalNavContainerUse.sdmTeacherLoginUrl}', 'staff')" />
                                                        <span class="sw-icon radio-unchecked-icon"></span>
                                                        <span>I am a teacher</span>
                                                    </label>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                            <div class="student-sec">
                                                <form>
                                                    <label for="student">
                                                        <input class="student-selector" type="radio" name="role" value="student" id="student" ng-model="isOptionSelected" ng-click="login('${globalNavContainerUse.sdmStudentLoginUrl}', 'student')" />
                                                        <span class="sw-icon radio-unchecked-icon"></span>
                                                        <span>I am a student</span>
                                                    </label>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-sly-test="${globalNavContainerUse.sdmCreateAccountUrl}" class="subscriber-sec">
                                        <p>Are you already a subscriber but don't have an account yet?</p>
                                        <a href="${globalNavContainerUse.sdmCreateAccountUrl}">Create an account now</a>
                                    </div>
                                    <div class="row nomarLR notyet-subscriber-sec">
                                        <div class="border-section">
                                            <div class="middle-border"></div>
                                        </div>
                                        <p class="not-yet-subscribe">
                                            <span>Not yet a subscriber?</span></p>
                                        <div class="${properties.sampleIssueUrl ? 'col-xs-6': 'col-xs-6 col-xs-offset-3 pad0 textCenter'}">
                                            <a href="" id="subscribe-now-link">Subscribe now</a>
                                            <p class="description">to receive access to our website and our print magazine.</p>
                                            <p class="teachers-only">(Teachers only)</p>
                                        </div>
                                        <div data-sly-test="${properties.sampleIssueUrl}" class="col-xs-6">
                                            <a href="${properties.sampleIssueUrl}">Browse a sample issue</a>
                                            <p class="description">to learn more about what Scholastic offers.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body login-body" ng-show="showWait">
                                    <div class="login-wait">
                                        <div class="row">
                                            <img src="/etc/designs/scholastic/classroom-magazines-migration/images/globalNav/login-loading-icon.png" />
                                        </div>
                                        <div class="row">
                                            <p>You are being redirecting to Scholastic's authentication page...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer goback-footer-sec" ng-show="showWait">
                                    <div class="go-back-footer" data-dismiss="modal" ng-click="goBack()">
                                        <span><img src="/etc/designs/scholastic/classroom-magazines-migration/images/globalNav/go-back-icon.png"/></span>
                                        <span>GO BACK</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loginPrompt-wrapper">
                <div class="modal fade" id="sw-authorize-login-prompt-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog login-dialog" role="document">
                        <div class="modal-content login-content">
                            <div class="modal-close-button">
                                <button type="button" class="close close-button" aria-label="Close" id="sw-authorize-login-prompt-close">
                                    <span aria-hidden="true">
                                        <span class="sw-icon close-big-icon"></span>
                                    </span>
                                </button>
                            </div>
                            <div class="modal-header login-header">
                                <h4 class="modal-title login-title" id="myModalLabel">
                                Not yet a subscriber?</h4>
                            </div>
                            <div class="modal-body login-body js-sw-login-modal-body" id="swModelshowBody">
                                <div class="col-xs-offset-3 col-xs-6 notyet-subscriber-sec subscribe-now">
                                    <a href="" id="subscribe-now-link-2">Subscribe now</a>
                                    <p class="description">to receive access to our website and our print magazine.</p>
                                    <p class="teachers-only">(Teachers only)</p>
                                </div>
                                <div class="border-sec-notyetsubscribe">
                                    <div class="middle-border"></div>
                                </div>
                                <div class="row nomarLR not-yet-login-account">
                                    <p>Log into your account</p>
                                </div>
                                <div class="row nomarLR">
                                    <div class="col-xs-offset-1 col-xs-5 not-subscribe-teacher-block">
                                        <span class="sw-icon login-teacher-icon"></span>
                                    </div>
                                    <div class="col-xs-4 student-block">
                                        <span class="sw-icon login-student-icon"></span>
                                    </div>
                                </div>
                                <div class="row nomarLR selector-section">
                                    <div class="col-xs-offset-1 col-xs-5">
                                        <div class="col-xs-offset-1 teacher-sec">
                                            <form>
                                                <label for="teacher">
                                                    <input class="teacher-selector" type="radio" name="role" id="teacher" value="teacher" ng-model="isOptionSelected" ng-click="login('${globalNavContainerUse.sdmTeacherLoginUrl}', 'staff')" />
                                                    <span class="sw-icon radio-unchecked-icon"></span>
                                                    <span>I am a teacher</span>
                                                </label>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="student-sec">
                                            <form>
                                                <label for="student">
                                                    <input class="student-selector" type="radio" name="role" value="student" id="student" ng-model="isOptionSelected" ng-click="login('${globalNavContainerUse.sdmStudentLoginUrl}', 'student')" />
                                                    <span class="sw-icon radio-unchecked-icon"></span>
                                                    <span>I am a student</span>
                                                </label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div data-sly-test="${globalNavContainerUse.sdmCreateAccountUrl}" class="subscriber-sec bottom-subscribe-sec">
                                    <p>Are you already a subscriber but don't have an account yet?</p>
                                    <a href="${globalNavContainerUse.sdmCreateAccountUrl}">Create an account now</a>
                                </div>
                            </div>
                            <div class="modal-body login-body js-sw-login-modal-wait">
                                <div class="login-wait">
                                    <div class="row">
                                        <img src="/etc/designs/scholastic/classroom-magazines-migration/images/globalNav/login-loading-icon.png" />
                                    </div>
                                    <div class="row">
                                        <p class="redirect-massage">You are being redirecting to Scholastic's authentication page...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer goback-footer-sec js-sw-login-modal-wait">
                                <div class="go-back-footer" data-dismiss="modal" ng-click="goBack()">
                                    <span><img src="/etc/designs/scholastic/classroom-magazines-migration/images/globalNav/go-back-icon.png"/></span>
                                    <span id="modal-go-back">GO BACK</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal ends here -->
            <div id="sdm-nav" class="sdm-nav"></div>
        </div>
</div>
