.answer-question-block{
    padding-left: 121px;
    .answer-question{
        @include font($fontP5, 22px, 1.09, $black, -0.2px);
        font-weight: 600;
    }
    .answer-image-block{
        .answered-content{
           @include font($fontP4, 17px, 1.29, $black, normal);
           padding-bottom: 10px;
        }
        
    }
}