.marketing-content-tile-container {
    $borderColor: #cdd3d5;
    $backgroundColor: #ffffff;
    max-width: 210px;
    position: relative;

    .row {
        margin: 0;
        padding: 0;

        &.game-video-wrapper {
            height: 280px;

            .image-container {
                height: 280px;
                border-style: solid;
                border-image: url("../../../images/lines-grey.png") 22;
                border-top-width: 17px;
                background: white;
                border-bottom-width: 14px;
                border-left-width: 13px;
                border-right-width: 13px;
            }

            .video-play-icon {
                @include center-both;
            }
        }
    }

    .content-tile-body {
        height: 280px;
    }

    p {
        margin: 0;
    }

    .image-container {
        max-width: 210px;

        .content-image {
            max-width: 100%;
            max-height: 249px;
            @include center-both;
        }
    }

    .image-container-resource {
        max-width: 210px;
        height: 280px!important;
        text-align: center;

        .content-image {
            width: auto;
            height: 100%;
            max-width: 100%;
        }
    }
}
