.search-resources-main-container {
    background: $white;

    .search-main-content {
        .title-container {
            @include font($font7, 32px, 1.25, $black, 1px);
            margin-left: 40px;
        }

        .title-count {
            @include font($font04, 16px, 1.5, $black, 0.5px);
            margin-left: 10px;
        }

        .articles-resources-issues-container {
            margin-top: 32px;

            .articles-resources-issues-tabs {
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }

                ul {
                    box-sizing: border-box;

                    li {
                        position: relative;
                        background-color: $tabBgGrey;
                        height: 54px;
                        text-transform: uppercase;

                        &:active,
                        &:focus,
                        &:hover {
                            cursor: pointer;
                        }

                        a {
                            @include font($font6, 12px, 1.17, $tabBgGreyText, 1px);
                            margin-right: 0;
                            border: 0;
                            background-color: transparent;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                            padding-left: 0;
                            padding-right: 0;

                            &:active,
                            &:focus,
                            &:hover {
                                cursor: pointer;
                            }
                        }

                        &.active {
                            background-color: $tabBgBlue;

                            a {
                                color: $white;

                                &:active,
                                &:focus,
                                &:hover {
                                    cursor: default;
                                }
                            }

                            &:before {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                border-top: 35px solid $tabBgGrey;
                                border-left: 33px solid $tabBgBlue;
                                width: 0;
                            }

                            &:active,
                            &:focus,
                            &:hover {
                                cursor: default;
                            }
                        }
                    }
                }
            }

            .tab-content {
                clear: both;
                padding-top: 24px;

                .tab-pane {
                    &:after {
                        content: "";
                        display: block;
                        clear: both;
                    }

                    .filter-section-container,
                    .search-resources-section {
                        padding-left: 0;
                        padding-right: 0;
                    }

                    .filter-section-container {
                        .search-facets {
                            margin-left: 12.68%;
                            width: 210px;
                            @include font($font7, 13px, 1, $black, 1px);
                        }

                        ul {
                            padding-left: 0;

                            li {
                                list-style-type: none;
                            }
                        }

                        .filter-category-section {
                            border-top: 1px solid $liteAsh2;
                            padding-top: 28px;

                            &.filter-reset-section {
                                padding-top: 10px;
                                padding-bottom: 3px;
                                border-bottom: 1px solid $liteAsh2;

                                .filter-category-items-container {
                                    ul {
                                        .filter-category-item {
                                            &:last-child {
                                                margin-bottom: 25px;
                                            }
                                        }
                                    }
                                    
                                    .filter-category-item {
                                        @include font($font09, 13px, 1.08, $liteBlue2, 0.5px);
                                        cursor: pointer;
                                        position: relative;
                                        margin-top: 14px;
                                        margin-bottom: 25px;

                                        span {
                                            left: 20px;
                                            top: 4px;

                                            &.refresh {
                                                position: relative;
                                                left: 0;
                                                top: 3px;
                                            }
                                        }
                                    }
                                }
                            }

                            &.filter-bookmark-section {
                                padding-top: 16px;
                            }

                            .filter-category-heading {
                                @include font($font09, 13px, 1, $black, 1px);
                                margin-bottom:14px;
                            }

                            .filter-category-items-container {
                                ul {
                                    margin-bottom: 0;

                                    .filter-category-item {
                                        @include font($font04, 12px, 1.08, $black, 0.5px);
                                        cursor: pointer;
                                        width: 100%;
                                        position: relative;
                                        margin: 0 auto 20px;

                                        .sw-icon {
                                            position: relative;
                                            top: -1px;
                                        }
                                        
                                        &:last-child {
                                            margin-bottom: 18px;
                                        }

                                        span.checkbox-text {
                                            position: absolute;
                                            left: 20px;
                                            top: 1px;
                                            right:0;
                                        }

                                        label {
                                            width: 100%;
                                            margin-bottom: 0;
                                            position: relative;
                                            @include font($font04, 12px, 1.08, $black, 0.5px);
                                            cursor: pointer;

                                            &.checkbox-checked-disabled {
                                                span {
                                                    pointer-events: none;
                                                    cursor: default;
                                                }
                                            }
                                        }

                                        input[type=checkbox] {
                                            display: none;

                                            &:checked {
                                                +label {
                                                    .sw-icon {
                                                        &.checkbox-unchecked {
                                                            background-position: -60px -66px;

                                                            &.checkbox-checked-disabled {
                                                                background-position: -60px -112px;
                                                            }
                                                        }                                                        
                                                    }
                                                }
                                            }
                                        }

                                        input[type=checkbox][disabled] {
                                            +label {                                       
                                                +span.checkbox-text {
                                                    @include font($font04, 12px, 1.08, $liteAsh2, 0.5px);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .search-resources-content {
            .sort-by-wrapper {
                @include font($font5, 12px, 1.08, $black, 0.5px);
                height: 13px;
                margin-bottom: 27px;

                span {
                    border-left-style: solid;
                    border-left-color: $liteAsh2;
                    border-left-width: 2px;
                    padding-left: 18px;
                    margin-right: 15px;

                    &:first-child,
                    &:nth-child(2) {
                        border-left: none;
                    }

                    &:nth-child(2) {
                        padding-left: 0;
                    }

                    a {
                        text-decoration: none;
                    }
                }

                .sort-by-text {
                    @include font($font04, 12px, 1.08, $black, 0.5px);
                    padding-left: 9px;
                }

                .sort-by-category {
                    @include font($font04, 12px, 1.08, $liteBlue2, 0.5px);

                    &:first-child {
                        border-left: 0;
                        padding-left: 0;
                    }

                    a {
                        @include font($font5, 12px, 1.08, $liteBlue2, 0.5px);
                    }

                    &.active-sort {
                        a {
                            @include font($font7, 12px, 1.08, $black, 0.5px);
                        }
                    }
                }
            }

            .search-resources-heading {
                background-color: $white;
                border: solid 1px $dimLiteGray;
                padding: 19px 0 19px 20px;
                position: relative;

                .search-title {
                    @include font($font04, 11px, 1.09, $liteAsh6, 0.6px);
                    position: absolute;
                    top: 50%;
                    transform: translate(0%, -50%);
                }
            }

            .search-tiles {
                @extend .nomarLR;

                .tile-container {
                    background-color: $white;
                    border: solid 1px $dimLiteGray;
                    padding: 20px 20px 10px;
                    position: relative;

                    .asset-placholder {
                        width: 100%;
                        height: 160px;
                        position: relative;
                        margin-bottom: 11px;
                        background-color: $globalNavPopoverGray;
                        margin: 0 auto 11px;
                        overflow: hidden;

                        img {
                            max-width: 285px;
                            max-height: 160px;
                            @include center-both;
                        }

                        span.sw-icon {
                            @include center-both;
                        }

                        &.asset-bg-pad {
                            padding: 15px 15px 0;
                        }

                        &.asset-pinkbg-color {
                            background-color: $litePink;

                            img {
                                height: 142px;
                            }
                        }

                        &.asset-greenbg-color {
                            background-color: $liteGreen;

                            img {
                                height: 142px;
                            }
                        }

                        &.asset-bluegreenbg-color {
                            background-color: $bluishGreen;

                            img {
                                height: 142px;
                            }
                        }
                    }

                    .title-content {
                        text-align: left;
                        word-wrap: break-word;

                        .tile-title {
                            @include font($fontN5, 18px, 1.17, $black, 0.5px);
                            margin-bottom: 4px;

                            a {
                                text-decoration: none;
                                color: $black;
                            }

                            &.font-black {
                                color: $black;
                            }
                        }

                        .tilesub-title {
                            @include font($fontN7, 10px, 1.6, $liteBlue2, 0.8px);
                            margin-bottom: 11px;
                        }

                        .tile-desc {
                            @include font($font04, 16px, 1.5, $black, 0.5px);
                            height: 72px;
                            margin-bottom: 36px;
                        }

                        .tile-icons {
                            position: absolute;
                            bottom: 8px;

                            a {
                                margin-right: 9px;
                                float: left;

                                .sw-icon {
                                    width: 32px;
                                    height: 32px;
                                    display: inline-block;
                                    background-repeat: no-repeat;
                                    background-color: $liteBlue5;
                                    border-radius: 32px;

                                    &.upload-icon {
                                        background-image: url('../../../images/icons/icon-share.png');
                                    }

                                    &.download-icon {
                                        background-image: url('../../../images/icons/icon-download.png');
                                    }
                                }
                            }
                        }

                        .view-article {
                            @include font($font09, 14px, 1, $liteBlue2, 0.5px);
                            position: absolute;
                            bottom: 27px;
                            right: 20px;

                            a {
                                text-decoration: none;
                                color: $liteBlue2;
                            }
                        }
                    }
                }

                &.issues-tab-search-tiles {
                    .issue-single-tile {
                        padding: 0 10px;

                        &:nth-child(4n+1) {
                            clear: left;
                        }

                        .issue-tile {
                            background-color: $white;
                            padding: 15px;
                            margin-bottom: 15px;

                            .img-wrapper {
                                position: relative;
                                max-width: 187px;
                                height: 200px;
                                text-align: center;

                                a {
                                    text-align: center;

                                    img {
                                        max-width: 100%;
                                        max-height: 200px;
                                    }
                                }
                            }

                            .issue-date-btn {
                                text-transform: capitalize;
                                background-color: $liteBlue5;
                                border-radius: 8px;
                                @include font($font7, 10px, 1.6, $liteAsh5, 0.8px);
                                padding: 10px 0;
                                border: 0;
                                margin: 13px auto 0;
                                text-align: center;

                                &:active,
                                &:focus,
                                &:hover {
                                    cursor: pointer;
                                }

                                a {
                                    @include font($font7, 10px, 1.6, $liteAsh5, 0.8px);

                                    &:active,
                                    &:focus,
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .modal {
        .modal-content {
            text-align: center;
            box-shadow: none;
            border: 0;
            margin-top: 50px;
            width: 85%;
            margin: 0 auto;

            object {
                width: 85%;
                margin: 0 auto;
            }
        }
    }
}
