<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Configure Marketing Science component</div>
<div class="col-xs-12 pad0 promote_title_pad" style="background: ${properties.backgroundColor @context='styleString'} url(${properties.backgroundimage @context='uri'})">
    <div class="marketing-science-spin-cntr row mar0">
        <div class="title-desc col-xs-12 col-md-7 pad0">
            <div class="row mar0">
                <div class="title col-xs-12 pad0">
                    ${properties.title @ context = 'html'}
                </div>
                <div class="description col-xs-12 pad0">
                    ${properties.description @ context = 'html'}
                </div>
            </div>
            <div class="btn-description-cntr hidden-xs row mar0">
                <div class="btn-title col-xs-12 pad0">
                    ${properties.secondarytitle @ context = 'html'}
                </div>
                <div class="btn-description col-xs-12 pad0">
                    ${properties.secondarydescription @ context = 'html'}
                </div>
                <div class="btn-container col-xs-6 pad0">
                    <div class="row mar0">
                        <div class="subscribe-btn col-xs-6">
                            <a href="${properties.buttonLink @ context = 'uri'}" style="background: ${properties.buttonColor @ context = 'styleString'}" class="btn pad0 col-xs-12">${properties.buttonTitle}</a>
                        </div>
                        <div class="learn-btn col-xs-6">
                            <a style="background: ${properties.buttonColor2 @ context = 'styleString'}" href="${properties.buttonLink2 @ context = 'uri'}" class="btn pad0 col-xs-12">${properties.buttonTitle2}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-cntr col-xs-12 col-md-5 pad0">
            <div class="images row">
                <div class="img first-img col-xs-6">
                    <img src="${properties.spinImage @ context = 'uri'}" alt="">
                </div>
                <div class="img second-img col-xs-6">
                    <img src="${properties.spinImage2 @ context = 'uri'}" alt="">
                </div>
            </div>
            <div class="image-lables row">
                <div class="img-lable pad0 col-xs-6">
                    ${properties.labelimage @ context = 'html'}
                </div>
                <div class="img-lable second pad0 col-xs-6">
                    ${properties.labelimage2 @ context = 'html'}
                </div>
            </div>
        </div>
        <div class="btn-description-cntr visible-xs col-xs-12 pad0">
            <div class="row mar0">
                <div class="btn-title col-xs-12 pad0">
                    ${properties.secondarytitle @ context = 'html'}
                </div>
                <div class="btn-description col-xs-12 pad0">
                    ${properties.secondarydescription @ context = 'html'}
                </div>
                <div class="btn-container col-xs-12 pad0">
                    <div class="row mar0">
                        <div class="subscribe-btn col-xs-6">
                            <a style="background: ${properties.buttonColor @ context = 'styleString'}" href="${properties.buttonLink @ context = 'uri'}" class="btn pad0 col-xs-12">${properties.buttonTitle}</a>
                        </div>
                        <div class="learn-btn col-xs-6">
                            <a style="background: ${properties.buttonColor2 @ context = 'styleString'}" href="${properties.buttonLink2 @ context = 'uri'}" class="btn pad0 col-xs-12">${properties.buttonTitle2}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-spins col-xs-12 pad0">
            ${properties.rteFieldTextBelowButton @ context = 'html'}
        </div>
    </div>
</div>