<div data-sly-test="${wcmmode.edit}">Page - FAQ Answers</div>
<div data-sly-use.answer="com.scholastic.classmags.migration.controllers.FAQAnswerUse" data-sly-unwrap>
    <div class="answer-question-block">
        <div id="${answer.questionId}">
            <p class="answer-question">${answer.question}</p>
            <div class="answer-image-block">
                <div data-sly-test="${properties.fileReference}" data-sly-unwrap>
                    <div class="answered-image">
                        <sw-image src="${properties.fileReference}" alt="Answered Image" height="700.2px" width="880px"></sw-image>
                    </div>
                    <div data-sly-test="${properties.caption}" data-sly-unwrap>
                        <p class="image-caption">${properties.caption}</p>
                    </div>
                </div>
                <div data-sly-test="${properties.answer}" data-sly-unwrap>
                    <div class="answered-content">${properties.answer @context='html'}</div>
                </div>
            </div>
        </div>
    </div>
</div>
