<div data-sly-test="${wcmmode.edit}">Configure Sample Issue component</div>
<div class="ng-cloak">
    <div class="container-fluid marketing-app-sample-issue" ng-style="{'background-color':'${properties.bgColor}'}" data-sly-test="${properties.buttonTitle}">
        <div class="row app-issue-container">
            <div class="col-md-12 pad0 marketing-app-sample-issue-container" data-sly-use.contentTile="com.scholastic.classmags.migration.controllers.MarketingSampleIssueUse">
                <div class="col-md-3 pad0 marketing-sample-issue-text-container">
                    <div class="issue-title">${properties.title @ context = 'html'}</div>
                    <div data-sly-test="${properties.secondaryTitle}"class="issue-secondary-title">${properties.secondaryTitle @ context = 'html'}</div>
                    <div class="issue-desc">${properties.description @ context = 'html'}</div>
                    <div class="button-container sw-button">
                        <a href="javascript:void(0);" onclick="reader.open()" target="_blank" class="marketing-sample-issue-btn primary-button" ng-style="{'background-color':'${properties.buttonColor}'}">${contentTile.buttonValue}</a>
                    </div>
                </div>
                <div class="col-md-9 marketing-app-sample-issue-tiles">
						<div class="row mar0 hidden-xs hidden-sm sample-title-container">
							<div data-sly-list.sample="${contentTile.tileObject}" data-sly-unwrap>
								<p class="marketing-contentTile-title col-md-3"><span class="title-text">${sample.assetLabel}</span><span class="title-space-text">${sample.assetLabel}</span></p>
							</div>
						</div>
						<div class="row mar0">
							<div class="col-xs-12 col-md-6 pad0 mob-sample-pad">
									<div class="row mar0 visible-xs visible-sm mobile-title" data-sly-list.sample="${contentTile.tileObject}">
										<p class="marketing-contentTile-title col-xs-6 pad0" data-sly-test="${sampleList.index < 2}"><span class="title-text">${sample.assetLabel}</span><span class="title-space-text">${sample.assetLabel}</span></p>
									</div>
									<div class="row mar0" data-sly-list.sample="${contentTile.tileObject}">
										<div class="col-xs-6 pad0" data-sly-test="${sampleList.index < 2}" >
											<sw-marketing-content-tile
														   image-src       ="${sample.associatedImage}"
														   image-hyperlink ="${sample.pagePath}"
														   content-type    ="${sample.contentType}"
														   video-id        ="${sample.videoId}"
														   video-length    ="${sample.videoDuration}"
														   is-new-window   ="${sample.newWindow}">
											</sw-marketing-content-tile>
										</div>
									</div>

							</div>
							<div class="col-xs-12 col-md-6 pad0 mob-sample-pad">
									<div class="row mar0 visible-xs visible-sm mobile-title" data-sly-list.sample="${contentTile.tileObject}">
										<p class="marketing-contentTile-title col-xs-6 pad0"  data-sly-test="${sampleList.index >= 2}"><span class="title-text">${sample.assetLabel}</span><span class="title-space-text">${sample.assetLabel}</span></p>
									</div>
									<div class="row mar0" data-sly-list.sample="${contentTile.tileObject}">
										<div class="col-xs-6 pad0"  data-sly-test="${sampleList.index >= 2}">
											<sw-marketing-content-tile
														   image-src       ="${sample.associatedImage}"
														   image-hyperlink ="${sample.pagePath}"
														   content-type    ="${sample.contentType}"
														   video-id        ="${sample.videoId}"
														   video-length    ="${sample.videoDuration}"
														   is-new-window   ="${sample.newWindow}">
											</sw-marketing-content-tile>
										</div>
								  </div>
							</div>
					  </div>
                </div>
			     <div class="button-container sn3-button">
                    <a href="javascript:void(0);" onclick="reader.open()" target="_blank" class="marketing-sample-issue-btn primary-button" ng-style="{'background-color':'${properties.buttonColor}'}">${contentTile.buttonValue}</a>
                </div>
            </div>
        </div>
    </div>
</div>
