.recent-post-wrapper {
        .recent-posts{
        padding-right:46px;
        .recent-post-heading{
            @include font($fontPE4, 18px, 0.78, $blogPostHeadingColor, 1.7px);
            margin-top:30px;
            margin-bottom:20px;
        }
        .post-date{
            @include font($fontP7, 11px, 1, $blogPostDateColor, 0.5px);
            margin-bottom:7px;
            text-transform: uppercase;
        }
        .post-title{
            @include font($fontP7, 16px, 1.25, $blogPostHeadingColor, 0.3px);
            margin-bottom:19px;
            margin-top:0px;
        }
    }
}
