.questions-set{
	padding-bottom: 38px;
	.subject-area{
        @include font($fontC7, 22px, 1, $black, 0.5px);
	}
	.question-block{
		padding: 8px 0 0 20px;
	.question{
        @include font($fontB4, 20px, 1.8, $mathSearchButtonBlue, normal);
	}
}
}