<div class="textHyperlink-container-content">
    <sw-image ng-if="imageUrl" src="{{imageUrl}}" alt="Flexible Title Hyperlink image" height="auto" width="auto"></sw-image>
    <div class="" ng-class="{'enablePadding': '{{backgroundColor}}' !==''}">
    <div class="textHyperlink-container-wrapper {{customBackground}} {{titlePosition}}" ng-style="{'background-color' : backgroundColor}">
        <div class="textHyperlink-wrapper">
            <h2 class="textHyperlink-text" ng-style="{'color' : color, 'font-size': titleFontSize+'px'}" ng-bind-html="title">{{title}}<span class="textHyperlink-count" ng-if="recordsCount">({{recordsCount}})</span></h2>
        </div>
        <div class="text-link-connector" ng-style="{'background-image' : 'radial-gradient({{connectorColor}} 38%, transparent 45%)', 'background-color' : backgroundColor}" ng-class="{'hide-ruler': isRuleExists !== true}"></div>        
    </div>
    <a href="{{hyperLinkUrl}}" class="textHyperlink-link pull-right" ng-if="hyperLinkText">{{hyperLinkText}}<span class="icon sw-icon icon-right right-arrow"></span></a>
    </div>
</div>
