.current-issue-hero-component {
    background-color: $bodyGrey;
    .highlights-issue-date {
        display: block;
        margin-bottom: 64px;
        
        .capitalize-text {
            text-transform: capitalize;
        }
        
        .current-issue-highlights-text-container {
            background-color: $currentIssueHeroTitlePurple;
            position: relative;
            height: 50px;
            .current-issue-highlights-text {
                padding: 16px 58px 13px 40px;
                margin-bottom: 0;
                display: inline-block;                
                @include font($fontS7, 38px, 1.16, $white, 1px);
                position: relative;
                left: 0;
                top: 0;
                background-color: $currentIssueHeroTitlePurple;
                border-radius: 0 0 50px 0;
                &:before {
                    content: '';
                    width: 23px;
                    height: 29px;
                    display: block;
                    position: absolute;
                    right: 3px;
                    top: 50px;
                    background: $bodyGrey;
                    z-index: 1;
                    transform: skew(-30deg);
                     @include radius(3px);
                }
                &:after{
                    content: '';
                    height: 27px;
                    width: 17px; 
                    position: absolute;
                    bottom: 0;
                    right: 23px;
                    background: $currentIssueHeroTitlePurple;
                    border-radius: 5px;
                    z-index: 9;
                    transform: skew(-30deg);
                }
            }            
        }
    }
    &.past-issue-list-main-container {
        .past-issue-list-main-content {
            .junior-current-issue-title{
                display: none;
            }
            margin-bottom: 50px;
            .explore-latest-button {
                padding-left: 30px;
                padding-right: 30px;
            }
            .past-issue-date-container {
                .view-article-container {
                    display: none;
                }
            }
            .explore-button-link {
                bottom: -1px;
            }
        }
        .pci-row-wrapper {
            margin-top: 34px;
        }
    }
    .hero-component-title-des {
        a {
            .latest-issue-text {
                display: none;
            }
        }
    }
}

@media (min-width:1440px) {
    .current-issue-hero-component {
        .highlights-issue-date {
            .current-issue-highlights-text-container {
                .current-issue-highlights-text {
                    padding: 16px 63px 13px 56px;
                }
            }
        }
        .past-issue-wrapper {
            margin-left: 31px;
        }
        .current-issue-img-pad-container {
            padding-left: 20px;
            padding-right: 0;
        }
    }
    .past-issue-list-main-container{
        .past-issue-list-main-content{
            a {
                .explore-latest-button {
                    width: 87%;
                    max-width: 265px;
                }
            }
            .tile-wrapper-past-date {
                padding-right: 38px;
                padding-left: 26.97px;
            }
        }
    }
}
