.tab-component-layout {
    .main-tabs {
        border-bottom: 4px solid $mathTabBoder;
        padding-left:0;
        padding-right:0;
        li {
            margin-bottom: 0;
            padding-left: 10px;
            padding-right: 0;
            &:first-child {
                padding-left: 0;
            }
            a {
                background-color:  $mathGlobalFooterBg;
                height: 45px;
                margin-right: 0;
                border-radius: 0;
                padding: 8px 0;
                &:hover, &:focus, &:active {
                    border-radius: 0;
                    background-color:  $mathGlobalFooterBg;
                }

                &:before {
                    width:0;
                }
                
                &:after {
                    width:0;
                    
                }

                span {
                    &.tab-names {
                        @include font($fontC6, 28px, 1.14, $white, 0.5px);
                        text-transform: capitalize;
                    }
                }
            }

            &.active {

                a { 
                    background-color: $matchTabActiveBackgroundColor;
                    border-radius: 0;
                    
                    &:after{
                        width:0;
                    }
                    &:before {
                        width:0;                        
                    }
                    &:focus,
                    &:hover {
                        background-color: $matchTabActiveBackgroundColor;
                        border-radius: 0;
                    }

                    span {
                        &.tab-names {
                            @include font($fontC6, 28px, 1.14, $white, 0.5px);
                        }
                    }
                }
            }
        }
    }
}
