.iconHyperlink-component-wrapper {
    .iconHyperlink-component{
        margin-bottom: 47px;
    
        .iconHyperlink-content {
            .issuer {
                border-left: 2px solid $liteAsh2;

                &:first-child {
                    border-left: none;
                
                    &.issuer-name-wrapper{
                        padding-left:0;
                    }
                }
            }
        }
        .issuer-date,
        .issuer-name-wrapper {
            display: inline-block;

            &.issuer-date{
            @include font($fontSL5, 14px, 1.14, $black, 0.8px);
            padding-top: 7px;
            padding-bottom: 7px;
            padding-right: 10px;
            text-transform: uppercase;
                a,a:hover{
                    text-decoration: none;
                    color: $black;
                }
            }
        }         

        .issuer-name-wrapper {
                padding-left: 19px;

                span{
                    @include font($fontSL4, 14px, 1.29, $black, 0.5px);
                }

                img{
                    margin-right: 10px;
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                }
        }
    }
}
