.slide-show-component-layout {
  .slide-show-image {
    background-color: $white;
  }

  .launch-slide-show {
    @include font($fontSE9, 16px, 1.5, $black, 0.5px);
    background-color: $white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .slide-show-component-wrapper {
    border-radius: 8px;
    border: solid 1px $sn56PopupImageBorderColor;
  }

  .slide-show-description {
    .slide-show-des-block {
      .page-title {
        @include font($fontSL4, 16px, 1.25, $black, 0.5px);

        p {
          margin: 0;
        }
      }

      .page-name {
        @include font($fontSL4, 15px, 1.25, $black, 0.5px)
      }
    }
  }

  .coverimage-wrapper {
    @include border-radius-separate(8px, 8px, 0, 0);

    .cover-image {
      @include border-radius-separate(8px, 8px, 0, 0);
    }
  }

  .slide-show-header {
    .slide-show-header-name {
      @include font($fontSL9, 16px, 2, $black, 0.4px);
    }

    .total-img-present-img {
      @include font($fontSL5, 18px, 2, $liteAsh7, 0.4px);
    }
  }

  .page-num {
    @include font($fontSL7, 20px, null, $white, 1.5px);
  }
}
