.search-resources-main-container {
    .search-main-content {
        .title-container {
            @include font($fontS7, 32px, 1.25, $black, 1px);
        }

        .articles-resources-issues-container {
            .articles-resources-issues-tabs {
                ul {
                    border-bottom: 4px solid $resourcesColor;

                    li {
                        background-color: $tabComponentGreyBackground;

                        &:before {
                            background-color: $tabComponentGreyBackground;
                            border-top-left-radius: 9px;
                        }

                        &:after {
                            background-color: $tabComponentGreyBackground;
                            border-top-right-radius: 9px;
                        }

                        a {
                            @include font($font07, 12px, 1.17, $black, 1px);
                            margin-top: 3px;
                        }

                        &.active {
                            background-color: $resourcesColor;

                            a {
                                @include font($font07, 12px, 1.17, $white, 1px);
                            }

                            &:after {
                                background-color: $resourcesColor;
                            }

                            &:before {
                                background-color: $resourcesColor;
                            }
                        }
                    }
                }
            }

            .tab-content {
                .tab-pane {
                    .filter-section-container {
                        .filter-category-section {
                            &.filter-reset-section {
                                .filter-category-items-container {
                                    ul {
                                        .filter-category-item {
                                            @include font($font09, 13px, 1.08, $contentTileSubjectBlue, 0.5px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .search-zero-results-container {
                    .title {
                        @include font($fontS7, 30px, 1.47, $black, 1px);
                    }

                    .try-another-keyword {
                        @include font($fontS4, 24px, 1.83, $black, 1px);
                    }

                    .search-guidlines {
                        border: 2px solid $articleToolbarBorderGrey;

                        .search-tips {
                            @include font($fontS7, 20px, 1.25, $black, 1px);
                        }

                        .steps-for-search {
                            @include font($font04, 20px, 1.3, $black, 0.6px);
                        }
                    }
                }
            }
        }
    }
}
