.content-module {
    .content-module-container {        
        .content-wrapper {
            .rteContent {
                @include font($fontP9, 16px, 1.5, $black, 0.5px);
            }
            
            div[ng-bind-html=containerGameDesc] {
                @include font($fontP4, 13px, 1.38, $black, 0.5px);
            }
        }
    }
}