.subscription-benefit-main-container {
    .subscription-benefit-wrapper {
        margin-bottom: 50px;
        .subscription-benefit-headline {
            .subscription-benefit-title {
                @include font($font7, 32px, null, $black);
                margin-bottom: 17px;
            }
            .subscription-benefit-seperator {
                width: 30px;
                height: 4px;
                border-radius: 100px;
                background-color: $ashGrey;
                margin: 0 auto;
                margin-bottom: 21px;
            }
            .subscription-benefit-subtitle {
                @include font($font04, 18px, 1.67, $black, 1px);
                margin-bottom: 24px;
            }
        }
        .subscription-benefit-LRmargin {
            padding-left: 203px;
            padding-right: 203px;
            .subscription-benefit-content-container {
                .subscription-benefit-content {
                    background-color: $white;
                    border: solid 1px $dimLiteGray;
                    margin-bottom: 20px;
                    .text-wrapper {
                        .title-content {
                            @include font($font7, 16px, 1.5, $black, 0.5px);
                            margin-top: 20.8px;
                        }
                        .desc-content {
                            @include font($font04, 16px, 1.5, $black, 0.5px);
                            word-wrap: break-word;
                            margin-top: 13px;
                        }
                        .seperator {
                            width: 30px;
                            height: 4px;
                            border-radius: 100px;
                            background-color: $ashGrey;
                            margin-top: 9px;
                        }
                    }
                        &.text-center {
                            text-align: center;
                            padding: 23px 21px 22px 21px;
                            .icon-container, .text-wrapper {
                                display: block;
                            }
                            .icon-wrapper {
                                margin: 0 auto;
                            }
                            .seperator {
                                margin: 0 auto;
                                margin-top: 9px;
                            }
                        }
                        .icon {
                            width: 45px;
                            height: 36.2px;
                            background-size: 45px 36.2px;
                            background-repeat: no-repeat;
                            margin-top: 23px;
                            &.monitor {
                                background-image: url('../../../images/icons/monitor.png');
                            }
                            &.print-resource {
                                background-image: url('../../../images/icons/teaching-resources.png');
                            }
                            &.device-tablet {
                                background-image: url('../../../images/icons/device-tablet.png');
                            }
                            &.rocket {
                                background-image: url('../../../images/icons/rocket.png');
                            }
                            &.skillSheet-play {
                                background-image: url('../../../images/icons/skillSheet-play.png');
                            }
                            &.graduation {
                                background-image: url('../../../images/icons/graduation.png');
                            }
                        }
                    }
                }
            }
        }
    }

    @include respond-to('small') {
        .subscription-benefit-main-container {
            .subscription-benefit-wrapper {
                margin-bottom: 25px;
                .subscription-benefit-headline {
                    padding: 0 20px;
                }
                .subscription-benefit-LRmargin {
                    padding-left: 30%;
                    padding-right: 30%;
                }
            }
        }
    }
    @include respond-to('xssmall') {
        .subscription-benefit-main-container {
            .subscription-benefit-wrapper {
                margin-bottom: 25px;
                .subscription-benefit-headline {
                    padding: 0 20px;
                }
                .subscription-benefit-LRmargin {
                    padding-left: 20%;
                    padding-right: 20%;
                }
            }
        }
    }