.pastIssueGrid-container{
    .pastIssueGrid-main-container {
        .textHyperlink-container{
            background-color: $white;
            margin-bottom: 0;
            min-height: auto;
            
            .textHyperlink-wrapper {
                background: none;
                margin-bottom:0;
                
                .textHyperlink-text{
                    @include font($fontS7, 32px, 1.25, $black, 1px);
                    background: none;
                    margin-bottom:0;
                    color:$black;
                    margin: 0;
                    padding: 0;
                    padding-left: 40px;
                    
                    &::before{
                        display:none;
                    }
                    
                    .textHyperlink-count{
                        padding-left:24px;
                    }
                }
            }
        }
        .pastIssueGrid-main-content {
            margin: 46px 0 0;
            padding: 0 154px;
            width: auto;

            .issue-container{
                .issue-cover{
                    height:auto;
                    max-width:100%;
                    background:none;
                    border:none;
                    img{
                        max-height:311.3px;
                    }
                }

                .issue-date{
                    @include font($font07, 11px, 1.45, $black, 0.8px);
                    margin: 13px auto 30px auto;
                    background-color:$issueGridGrey;
                    border-radius:100px;
                    color:$black;		           	
                    text-transform: uppercase;		           
                }
            }
        }

        .pagination-directive-wrapper {
            .paginationBottom {
                margin-top: 21px;
            }
        }
    }
}
