.app-nav-bar-main-container {
    .app-nav-primary {
        background-color: $dynamathFooterBackgroundGreen;
    }

    .navbar-default {
        margin-bottom: 15px;
    }

    .science-logo {
        width: 230px;
        margin-left: 21px;
        margin-right: 19.5px;
        padding: 11px 0 5px;

        a {
            padding: 0;
            height: 83.5px;
            background: url("/etc/designs/scholastic/classroom-magazines-migration/dynamath/images/globalNav/dynamath.png") no-repeat center;
            background-size: 100%;
        }
    }

    .app-nav-main-item-link {
        @include font($fontPE4, 13px, null, $white, 0.5px);
        line-height: normal;
        padding-top: 43px;

        &:active,
        &:focus,
        &:hover {
            @include font($fontPE4, 13px, null, $white, 0.5px);
            line-height: normal;
        }

        &.bookmarks {
            padding-left: 11px;
            padding-top: 44px;
            padding-right: 22px;
        }
    }

    .nav-search-form {
        margin-top: 40px;
        padding-right: 12px;

        input {
            @include font($fontP4, 13px, null, $globinpPlaceholdText, 0.5px);
            line-height: normal;

            &:-moz-placeholder,
            &::-moz-placeholder,
            &::-webkit-input-placeholder,
            :-ms-input-placeholder {
                @include font($fontP4, 13px, null, $globinpPlaceholdText, 0.5px);
                line-height: normal;
            }
        }

        button {
            @include font($fontP7, 13px, 1.08, $white, 0.5px);
            background-color: $dynamathFooterLinkText;
            border: 0;
        }
    }

    .login-control {
        padding-right: 25px;

        li {
            a {
                @include font($fontP9, 13px, null, $white, 0.5px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontP9, 13px, null, $white, 0.5px);
                    line-height: normal;
                }  
            }
        }

        .subscribe-text {
            @include font($fontP7, 11px, null, $white, 0.5px);
            line-height: normal;    

            &:active,
            &:focus,
            &:hover {
                @include font($fontP7, 11px, null, $white, 0.5px);
                line-height: normal;
            }    
        }
    }

    .dropdown {
        .magazine {
            @include font($fontP7, 14px, null, $white, 0.5px);
            line-height: normal;

            &:active,
            &:focus,
            &:hover {
                @include font($fontP7, 14px, null, $white, 0.5px);
                line-height: normal;
            } 
        }
    }

    .logged-in-dropdown {
        .login-menu {
            &:before, &:after{
                left: 254px;
            }
            
            .dropdown-title, .subscription {
                @include font($fontPE4, 14px, 1.06, $black, 1.1px);
            }

            #sdm-portal-link, #sdm-logout {
                @include font($fontP7, 14px, 1, $dynamathFooterLinkText, 0.5px);
                color: $dynamathFooterLinkText !important;
            }
        }

        &.open {
            a:focus {
                background-color: $dynamathFooterBackgroundGreen;
            }

            .login-toggle {
                background-color: $dynamathFooterBackgroundGreen;

                &:hover {
                    background-color: $dynamathFooterBackgroundGreen;
                }
            }
        }

        .login-toggle {
            margin-right: 25px;
        }
    }

    .secondary-items {
        li {
            a {
                @include font($fontV9, 12px, 1.17, $dynamathFooterLinkText, 1.3px);
                padding: 14px 20px 12px 20px;

                &:active,
                &:focus,
                &:hover {
                    color: $dynamathFooterLinkText;
                }
            }
        }

        .see-all-subjects {
            a {
                @include font($fontP7, 14px, 1, $dynamathFooterLinkText, 0.5px);

                &:active,
                &:focus,
                &:hover {
                    color: $dynamathFooterLinkText;
                }
            }
        }

        .explore {
            @include font($fontP7, 13px, 1.08, $dynamathExploreGrey, 0.5px);
            padding-left: 26px;
            padding-top: 14px;
            padding-bottom: 12px;
        }
    }

    .app-navbar-secondary {
        border: 1px solid $dynamathExploreBarBorder;
        border-top: 0;
    }

    @media (min-width:1440px) {
        .science-logo {
            width: 259px;

            a {
                height: 94px;
            }
        }

        .app-nav-main-item-link {
            @include font($fontPE4, 16px, null, $white, 0.5px);
            line-height: normal;

            &:active,
            &:focus,
            &:hover {
                @include font($fontPE4, 16px, null, $white, 0.5px);
                line-height: normal;
            }
        }

        .dropdown {
            .magazine {
                @include font($fontP7, 14px, null, $white, 0.5px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontP7, 14px, null, $white, 0.5px);
                    line-height: normal;
                }
            }
        }
    }

    @include respond-to ('small-and-down') {        
        .magazine-logo-tablet-mobile {
            background: url("/etc/designs/scholastic/classroom-magazines-migration/dynamath/images/globalNav/dynamath.png") no-repeat center;
            background-size: 100%;
            height: 68px;
        }
    }

    @include respond-to ('xssmall') {
       .magazine-logo-tablet-mobile {
            height: 59px;
        }
    }
}
