.globalFooter-main-container {
 .globalFooter-content {
    background-color: $actionGlobalFooterBackgroundColor;
    .globalFooter-bottom {
 	  .scholastic-logo {
 	    margin-top: 9.2px;
 	    margin-bottom: 9.3px;
 	  }
 	}
 .footerContentWrapper {
 	.footerTitle {
 		@include font($fontGB9, 15px, 1, $white);
 		border-bottom:1px solid $actionFooterBorderColor;
 		padding-bottom: 8px;
 		
 	}
 	
 	 .footerPhoneNo {
 	 	.phonelink {
 	 		@include font($fontGB5, 13px, 2.31, $white, 0.4px);
 	 	}
 	 }
 	   .footerlinks a {
 	   	@include font($fontGB5, 13px, 2, $white);

 	   }
	
  }
}
}
