.article-text-image-layout {
    .article-text-image {
        .credits {
            font-family: 'Geometric706BT-MediumB';
        }

        &.left,
        &.right {

            .text-column {
                @include font($fontSI5, 20px, 1.4, $black);
            }

            .credits {
               font-family: 'Geometric706BT-MediumB';
            }

            .caption {
                font-family: 'Geometric706BT-MediumB';
            }
        }

    }
}

.article-text-image-top-layout {
    .article-text-image {
        .top-article-container{
            .caption {
                font-family: 'Geometric706BT-MediumB';
            }

            .credits {
                font-family: 'Geometric706BT-MediumB';
            }
        }
        
        .text-column {
            @include font($fontSI5, 20px, 1.4, $black);
        }

    }
}

#article-text-page-container{
    .back-to-top{
        .back-to-top-text{
           @include font($fontGB9, 14px, 1, $actioninactiveSortColor);
        }
    }
    }  