.email-form-thankyou-container {
    .email-thankyou-wrapper {
        margin-top: 71px;
        margin-right: 30px;

        .email-editor-description-text {
            @include font($fontB4, 16px, 1.38, $black, 0.9px);
            margin-bottom: 18px;
        }

        .form-field-wrapper {
            margin-bottom: 6px;
            .label-text {
                @include font($fontC4, 16px, 1.38, $black, 0.9px);
                margin-bottom: 4px;
            }

            .form-field-input {
                @include font($fontB4, 16px, 1.38, $black, 0.9px);
                background-color:$mathArticleToolbarDropdownBackgroundColor;
                border: 1px solid $mathArticleToolbarDropdownBorder;
                width: 445px;
                margin-bottom: 0px;
            }

            .error-field-outline {
                       border: 1.2px solid $errorFieldTextColor;
                }

            .subject-field-input {
                margin-bottom: 27px;
                &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, :-ms-input-placeholder {
                    @include font($fontSL4, 14px, 1.57, $white, 0.8px);

                }
                  }
        }

        .required-fields-text {
            @include font($fontB4, 16px, 1.38, $black, 0.9px);
            margin-top: 5px;
        }

        .email-form-all-fields-container {   
         margin-top: 22px;
            .send-button-wrapper {
                .send-button {
                    background-color: $mathSearchButtonBlue;
                    @include font($font09, 13px, 1.54, $white, 1px);
                }
            }
        }

        .email-form-image {
            padding-left: 15px;
            padding-top: 21px;
        }
    }

    .back-to-previous-wrapper {
        margin-bottom: 53px;

        .back-to-previous-text {
            @include font($fontB4, 14px, 1, $mathSearchButtonBlue, 0.5px);
         font-weight: 600;
        }
    }
}
