<div data-sly-use.voting="com.scholastic.classmags.migration.controllers.VotingUse">
   <div data-sly-test.placeholder="${!(wcmmode.disabled || properties.question)}">Configure
      Media - Voting Component
   </div>
   <div data-sly-test="${properties.question}" data-sly-unwrap>
      <div class="voting-component-main-wrapper" ng-controller="votingPollController" ng-if="${!(wcmmode.edit || wcmmode.design) ? 'isStudent':'true'}">
         <!-- ${currentNode.path} ${voting.disableVotingDate} ${properties.uuid}-->
         <div class="voting-poll-view" data-disableVotingDate="${voting.disableVotingDate}" data-questionId="${properties.uuid}" data-currentpath="${currentNode.path}" data-reporttype="${properties.reportType}">
            <div class="student-voting-poll-view poll-voting-view"   >
               <div class="student-view-title">What do you think?
               </div>
               <div class="voting-poll-content">
                  <div class="student-view-question">${properties.question}
                  </div>
                  <div class="student-view-answer" ng-if="!showThanksMessage && !showVoteEnded">
                     <form name="studentDataForm" novalidate  role="form">
                        <div class="form-group row nopadLR nomarLR">
                           <div class="col-xs-8 nopadLR">
                              <div data-sly-list.answer="${voting.answerOptions}">
                                 <div class="col-xs-4 nopadLR margin-top20">
                                    <label for="studentoption${properties.uuid}${answerList.index}" class="label-text"> <input  type="radio"
                                       class="form-control form-field-input" id="studentoption${properties.uuid}${answerList.index}" value="studentoption${properties.uuid}${answerList.index}"
                                       name="studentQuestionOptions" ng-model="studentData.options" ng-click="studentFormError=false" autocomplete="off"> <span class="sw-icon radio-unchecked-icon"></span> <span class="option-text">${answer.option}</span> </label>
                                 </div>
                              </div>
                           </div>
                           <div class="col-xs-4 nopadLR">
                              <span class="field-error-text" ng-class="{'field-error-text-visible':studentFormError}">Please make a selection.</span>
                              <span class="field-error-text" ng-class="{'field-error-text-visible': (formServerError)}">Sorry! You have reached the vote limit of 100 votes.</span>
                           </div>
                        </div>
                        <div class="submit-button">
                           <a href="javascript:void(0);" class="voting-poll-button" ng-click="validatePollData('studentDataForm')">Cast Your Vote
                           </a>
                        </div>
                     </form>
                  </div>
                  <div class="after-voting-success-content" ng-if="showThanksMessage">
                     ${properties.acknowledgement}
                  </div>
                  <div class="after-voting-ended-content" ng-if="showVoteEnded">
                     Voting has ended. See final results below.
                  </div>
                  <div class="student-poll-results" ng-show="showResults && pollshow" >
                     <div class="poll-results-title">Results</div>
                     <div class="poll-results-presentation">
                        <div class="voting-results-chart" id="student-${properties.uuid}">
                        </div>
                        <div class="voting-results-table">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="voting-show-results-btn" ng-show="showResults">
                  <a href="javascript:void(0)" ng-show="!pollshow" data-state="expand" ng-click="showHidePollResults()">See results
                  <span class="sw-icon expand-collapse-arrow down-white-arrow"></span>
                  </a>
                  <a href="javascript:void(0)" ng-show="pollshow" data-state="collapse" ng-click="showHidePollResults()">Hide results
                  <span class="sw-icon expand-collapse-arrow down-white-arrow up-white-arrow"></span>
                  </a>
               </div>

				<div data-sly-test.placeholder="${!(wcmmode.edit)}" data-sly-unwrap>
					<div ng-class="{'in':isSpinnerShow}" class="spinnercontainer">
						<img src="/etc/designs/scholastic/classroom-magazines-migration/images/icons/spinner.gif">
					</div>
				</div>	
				
            </div>
         </div>
      </div>
      <div class="voting-component-main-wrapper" ng-controller="votingPollController" ng-if="${!(wcmmode.edit || wcmmode.design) ? 'isTeacher':'true'}">
         <!-- ${currentNode.path} ${voting.disableVotingDate} ${properties.uuid}-->
         <div class="voting-poll-view" data-disableVotingDate="${voting.disableVotingDate}" data-questionId="${properties.uuid}" data-currentpath="${currentNode.path}" data-reporttype="${properties.reportType}">
            <div class="teacher-voting-poll-view poll-voting-view"  >
               <div class="teacher-view-title">What does your class think?
               </div>
               <div class="voting-poll-content">
                  <div class="teacher-view-question">${properties.question}
                  </div>
                  <div class="teacher-view-answer" ng-if="!showThanksMessage && !showVoteEnded">
                     <form name="teacherDataForm" novalidate role="form"  >
                        <div class="form-group row nopadLR nomarLR">
                           <div class="col-xs-12 nopadLR">
                              <div data-sly-list.answer="${voting.answerOptions}">
                                 <div class="col-xs-4 nopadLR margin-top20">
                                    <label for="teacheroption${answerList.index}" class="label-text"> <input  type="text" ng-change="removeErrors()"
                                       class="form-control form-field-input"
                                       id="teacheroption${answerList.index}"
                                       name="teacherQuestionOptions"
                                       ng-model="teacheroption${answerList.index}" autocomplete="off" required numeric-only
                                       >  <span class="option-text">${answer.option}</span> </label>
                                 </div>
                              </div>
                           </div>
                           <div class="col-xs-12 nopadLR">
                              <span class="field-error-text" ng-class="{'field-error-text-visible': (teacherDataFormError)}">Sorry, please make sure that the total number of votes is between 1-40.</span>
                              <span class="field-error-text" ng-class="{'field-error-text-visible': (formServerError)}">Sorry! You have reached the vote limit of 200 votes.</span>
                              <span class="field-error-text" ng-class="{'field-error-text-visible': (teacherFormInvalid)}">Please vote for at least one</span>
                           </div>
                        </div>
                        <div class="submit-button">
                           <a href="javascript:void(0);" class="voting-poll-button" ng-click="validatePollData('teacherDataForm')">Cast Your Vote
                           </a>
                           </input>
                        </div>
                     </form>
                  </div>
                  <div class="after-voting-success-content" ng-if="showThanksMessage">
                     ${properties.acknowledgement}
                  </div>
                  <div class="after-voting-ended-content" ng-if="showVoteEnded">
                     Voting has ended. See final results below.
                  </div>
                  <div class="teacher-poll-results" ng-show="pollshow && showResults">
                     <div class="poll-results-title">Results</div>
                     <div class="poll-results-presentation">
                        <div class="voting-results-chart" id="teacher-${properties.uuid}">
                        </div>
                        <div class="voting-results-table">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="voting-show-results-btn" ng-show="showResults">
                  <a href="javascript:void(0)" ng-show="!pollshow" data-state="expand" ng-click="showHidePollResults()">See results
                  <span class="sw-icon expand-collapse-arrow down-white-arrow"></span>
                  </a>
                  <a href="javascript:void(0)" ng-show="pollshow" data-state="collapse" ng-click="showHidePollResults()">Hide results
                  <span class="sw-icon expand-collapse-arrow down-white-arrow up-white-arrow"></span>
                  </a>
               </div>
			   
				<div data-sly-test.placeholder="${!(wcmmode.edit)}" data-sly-unwrap>
                  <div ng-class="{'in':isSpinnerShow}" class="spinnercontainer">
                  	<img src="/etc/designs/scholastic/classroom-magazines-migration/images/icons/spinner.gif">
                  </div>
				</div>
            </div>
         </div>
      </div>
   </div>
</div>