.acs-commons-resp-colctrl-col-60{
    .textHyperlink-container-wrapper{
        padding: 0;
        padding-top: 20px;
    }
}
.questions-set{
	.subject-area{
		@include font($fontSE7, 24px, 0.92, null, 0.5px);
		margin: 0;
	}
	.question-block{
	padding: 0;
	.question{
		@include font($fontSL4, 20px, 1.8, $sn3NumberBlue, 0.5px);
	}
}
}


