.marketing-app-nav-bar-main-container {
    .app-nav-primary {
        background-color: $textHyperlinkColor;
    }

    .app-navbar-secondary {
        background-color: $snGlobalNavExploreColor;
    }

    .nav-primary-items {
        padding-left: 24px;
    }

    .navbar-default {
        border: 0;
    }

    .science-logo {
        width: 205px;
        padding: 18px 0 20px;

        &::after {
            content: 'Edition 3';
            position: relative;
            bottom: 8px;
            @include font($fontSL7, 12px, null, $white, normal);
            line-height: normal;
            opacity: 0.8;
            vertical-align: bottom;
            cursor: pointer;
        }

        .scholastic-logo-header {
            display: none;
            width: 138px;
            height: 17px;
            padding-left: 23px;
        }

        a {
            display: inline-block;
            width: 68%;
            background: url('../../../images/globalNav/SN3-logo.png') no-repeat center;
            background-size: 100%;
            vertical-align: middle;
            margin-top: 6px;
            margin-left: 0;
            height: 57.6px;
        }
    }

    .app-nav-main-item-link {
        @include font($font09, 8px, null, $white, 0.2px);
    }

    .dropdown {
        .app-nav-main-item-link {
            @include font($fontSL7, 16px, null, $white, 0.5px);

            &:active,
            &:focus,
            &:hover {
                color: $white;
            }

            &:active {
                border: none;
            }
        }

        .delimitter,
        .magazine {
            @extend .app-nav-main-item-link;

            &:active,
            &:focus,
            &:hover {
                color: $white;
            }
            border: none;
            outline: none;
        }

        .magazine {
            @include font($fontSL7, 16px, null, $white, 0.5px);
        }

        &.js-dropdown-dynamic {
            &:nth-child(5) {
                .app-nav-main-item-link {
                    @include font($fontSL7, 16px, null, $white, 0.6px);
                }
            }
        }
    }

    .cta-button-container {
        .primary-button {
            @include font($fontSL7, 20px, 1, $white);
            background-color: $IssueTeachingTitleGreen;
        }

        .secondary-button {
            @include font($fontSL7, 20px, null, $white);
            border-radius: 5px;
        }
    }

    .secondary-items {
        li {
            a {
                @include font($fontSL7, 12px, 1.17, $sn3ThickBlue, 1.4px);

                &:active,
                &:focus,
                &:hover {
                    color: $sn3ThickBlue;
                }
            }
        }

        .explore {
            @include font($font09, 13px, 1.17, $globalNavExporeGray, 0.5px);

            &:active,
            &:focus,
            &:hover {
                color: $globalNavExporeGray;
            }
        }
    }

    @include respond-to ('xssmall') {
        .app-nav-header {
            .search-logo-block {
                position: relative;
                padding-top: 0;

                &::after {
                    content: 'Edition 3';
                    position: absolute;
                    bottom: 4px;
                    @include font($fontSL7, 12px, null, $white);
                    line-height: normal;
                    opacity: 0.8;
                    vertical-align: bottom;
                    cursor: pointer;
                    right: -20px;
                }

                .scholastic-logo-header {
                    display: none;
                }
            }
        }

        .navbar-default {
            .navbar-toggle {
                &:focus,
                &:hover {
                    background-color: transparent;
                }
            }
        }

        .app-nav-header {
            .menu-icon-block {
                padding: 0 0 0 35px;
                margin-right: 23px;

                .nav-header-item {
                    .icon-bar {
                        background: $white;
                        width: 26px;
                        border-radius: 0;

                        + .icon-bar {
                            margin-top: 5px;
                        }
                    }

                    &.nav-menu-icon {
                        margin-top: 22px;
                        margin-bottom: 0;
                        height: 20px;
                    }
                }
            }

            .profile-icon-block {
                .secondary-button {
                    @include font($fontSL7, 16px, null, $white);
                    border-radius: 5px;
                }
            }
        }

        .magazine-logo-tablet-mobile {
            display: inline-block;
            width: 116px;
            height: 47px;
            background: url('../../../images/globalNav/SN3-logo.png') no-repeat center;
            background-size: 100%;
            vertical-align: middle;
            margin-top: 0;
        }

        .nav-header-item {
            border: none;
            margin: 8px 0;
            padding: 0;
            cursor: pointer;
        }

        .js-nav-menu {
            margin-top: 44px;

            .menu-list {
                width: 100%;
                padding-right: 20px;
                margin: 0;
                padding-left: 20px;
                min-width: 225px;
            }

            .js-dropdown,
            .js-dropdown-menu,
            .js-dropdown-submenu-menu,
            ul:first-child {
                li {
                    padding: 0 10px 29px 0;

                    &.dropdown {
                        .app-nav-main-item-link {
                            @include font($fontSL7, 16px, null, $sn3ThickBlue, 0.5px);
                            padding-left: 0;

                            &:active,
                            &:focus,
                            &:hover {
                                color: $sn3ThickBlue;
                            }
                        }
                    }

                    a {
                        @include font($font09, 16px, null, $sn3ThickBlue, 0.5px);
                    }
                }
            }

            #secondary-items-nav {
                margin-top: 30px;
                width: 100%;

                li {
                    a {
                        @include font($fontSL7, 12px, null, $sn3ThickBlue, 0.9px);
                        text-align: left;
                        cursor: pointer;
                        padding: 0 0 27px;
                    }

                    &:last-child {
                        a {
                            border-bottom: 1px solid $sn3grey;
                        }
                    }
                }
            }

            .primary-button {
                @include font($fontSL7, 16px, 1.25, $white);
                width: 82%;
                height: 40px;
                border-radius: 0;
                background-color: $sn3Green;
                border: none;
                margin-left: 20px;
                margin-top: 19px;
            }
        }

        .js-nav-menu {
            #secondary-items-nav {
                @include font($fontSL7, 12px, null, $sn3ThickBlue, 0.9px);
                width: 100%;

                li {
                    &:nth-child(1) {
                        display: none;
                    }
                }
            }
        }

        .pop-over-menu-div {
            background: $white;
            position: absolute;
            left: 0;
            top: 0;
            display: block;

            .cta-button-container {
                display: none;
            }
        }
    }
}
