.article-subjs-covered-pad-container {
    padding: 0;

    .article-subjs-covered-container {
        background-color: $mathExploreBarGrey;
        border: 1px solid $mathSubjectsCovered;

        .article-subjs-covered-content {
            padding: 35px 7px 41px 8px;

            .subjs-covered-title {
                @include font($fontC7, 13px, 1.08, $black, 1px);
                padding-right: 19px;
                padding-left: 18px;
                margin-bottom: 12px;
                text-align: center;

                li,
                ol,
                p,
                ul {
                    margin-bottom: 0;
                }
            }

            .subjs-tag-wrapper {
                .names-subj {
                    &:last-child {
                        margin-bottom: 0;
                    }

                    .subj-title {
                        .subj-title-link {
                            @include font($fontB8, 16px, 1, $mathSubjectsTitle, 1px);
                            margin-bottom: 0;
                        }
                    }

                    .subj-tags-wrapper {
                        padding-left: 21px;
                        padding-right: 23px;
                        margin-top: 5px;
                        
                        .subj-tags{
                            @include font($fontB4, 12px, 1.33, $black, normal); 
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $screen-md-min) {
    .article-subjs-covered-pad-container {
        margin-top: 7px;
        max-width: 210px;
    }
}
@media (min-width:1440px) {
    .article-subjs-covered-pad-container {
        margin-left: 39px;
        padding: 0;

        .article-subjs-covered-container {
            .article-subjs-covered-content {
                padding-left: 9px;
                padding-right: 8px;

                .subjs-tag-wrapper {
                    .names-subj {
                        .subj-tags-wrapper {
                            padding-left: 24px;
                            padding-right: 26px;
                        }
                    }
                }
            }
        }
    }
}
