.responsive-width-container{
    max-width: 1440px;
    margin: auto;
  
    @include font($font09, 14px, 1, $liteBlue2, 0.5px); 
    margin: 0 auto;
    padding: 0  10px;

    .row{
        margin: 0;
        padding: 0;
    }

   /*     background: url('../scripts/spike/images/background.png');*/
   

p{
    padding: 0;
    margin: 0;
}
    .title{
    @include font($fontN5, 18px, 1.17, $black, 0.5px);
      word-wrap: break-word;
      padding: 10px 20px 6px 20px;
  }

  .subject{
    @include font($fontN7, 10px, 1.6, $liteBlue2, 0.8px);
    padding: 0 20px 10px 20px;
  }
    
    .description{
        @include font($font04, 16px, 1.5, $black, 0.5px);
        padding: 0 20px;
    }

    .image-container{            
        max-width: 1440px;
        max-height: 672px;    
        text-align: center;                                  
        .image-rs{              
            max-width: 100%;
            max-height: 672px;       
        }  
    }   
}

