.fonts-demo-container{
    width: 800px;
    .font-area{
        height: 300px;
        width: 300px;
        @include font($font04,12px,1.5,$black,0.5px);
    }
    
    #result, #value1, #value2, #value3, #value4{
        width: 100%;
        height: 50px;
        padding: 10px;
        @include font($font04,14px,1.5,green,0.5px);
    }
    
    #copyButton, #dimensionButton{
        margin-top: 5px;
    }
    
    #err{
        @include font($font04,12px,1.5,red,0.5px);        
    }
    
    #sampleElement{
       @include font($font04, 16px, 1.38, $black, 0.5px)
    }
    
}