.contact-us-layout {
  .contact-us-wrapper {
    .contact-us-container {
      .contactus-right-container {
        .contact-form-questions {
          .contact-form-container {
            .contact-form {
              .required-text {
                @include font($fontGB5, 12px, 1.83, $requiredFieldColor, 0.5px);
                margin-top: 6px;
              }

              .contact-form-row {

                input[type="text"] {
                  @include font($fontGB5, 14px, 1, $black, 0.3px);
                  background: $actionDropdownBackgroundColor;
                  border: 1px solid $actionDropdownBorderColor;
                }

                textarea {
                  @include font($fontGB5, 14px, 1, $black, 0.3px);
                  background: $actionDropdownBackgroundColor;
                  border: 1px solid $actionDropdownBorderColor;
                }

                select {
                  @include font($fontGB5, 14px, 1, $black, 0.3px);
                  background: $actionDropdownBackgroundColor url("/etc/designs/scholastic/classroom-magazines-migration/action/images/action-violet-dropdown-icon.png") no-repeat;
                  background-position: right 13px center;
                  border: 1px solid $actionDropdownBorderColor;
                  @include font($fontGB5, 14px, 1, $black, 0.3px);
                }

                label {
                  @include font($fontGB5, 16px, 1.38, $black);
                }
              }

              .contact-submit-btn {
                background: $marketingActionSeaBlue;
                @include font($fontGB9, 16px, 1.25, $white);
              }
            }
          }
          margin-top: 43px;

          .question-row {
            margin-bottom: 40px;

            .question-container {
              padding-left: 17px;

              select {
                background: $actionDropdownBackgroundColor url("/etc/designs/scholastic/classroom-magazines-migration/action/images/action-violet-dropdown-icon.png") no-repeat;
                background-position: right 13px center;
                border: 1px solid $actionDropdownBorderColor;
                @include font($fontGB5, 14px, 1, $black, 0.3px);
              }

              p {
                @include font($fontGB9, 20px, 1.1, $black);
                margin-bottom: 19px;
              }

              label {
                @include font($fontGB5, 18px, 1.22, $black);
                margin-bottom: 12px;
              }
            }

            .sl-no {
              @include font($fontGB9, 20px, 1.1, $white);
              width: 36px;
              height: 36px;
              background-color: $marketingActionSeaBlue;
              transform: none;
            }
          }
        }

        .contact-info {
          .contact-info-text {
            margin-top: 42.5px;

            p {
              @include font($fontGB5, 18px, 1.44, $black);
            }
          }

          .contact-info-bar {
            border: 1px solid $marketingActionSeaBlue;
            transform: none;
            margin-left: 0;
            background: none;

            ul {
              transform: none;
              padding: 28.5px 10px 28.5px 19px;

              li {
                border-right: 2px solid $contactUsBorderRightColor;

                .contact-detail-text {
                  @include font($fontGB5, 16px, 1.88, $black,0);

                  .sw-icon.phone-icon {
                    background-position: -231px -336px;
                    width: 12px;
                    height: 12px;
                  }
                }

                p {
                  @include font($fontGB9, 20px, 1.2,$actioninactiveSortColor);
                }
              }
            }
          }
        }
      }
    }
  }
}
