<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Configure Marketing Subscribe Billing component</div>

<div class="subscription-address-form" ng-show="!toggleSubscriptionType">
    <div class="subscription-billing-address-form">
        <div class="row subscription-address-container">
            <div class="col-md-12 subscription-billing-title">
                <span>${properties.sectionTitle}</span>
            </div>
            <div class="col-md-12 subscription-billing-options">
                <div data-sly-list.child="${properties.billingOption}" data-sly-unwrap>
                    <label class="radio" data-sly-test="${childList.index == 0}"><span class="marketing-subscription-check-icon sw-icon radio-unchecked-big-icon" ng-show="billingOption !== '${child}'"></span><span class="marketing-subscription-check-icon sw-icon radio-checked-big-icon" ng-show="billingOption === '${child}'"></span><input type="radio" name="billingOption" ng-model="billingOption" ng-value="'${child}'"/>${child}</label>
                    <label class="radio" data-sly-test="${childList.index == 1}"><span class="marketing-subscription-check-icon sw-icon radio-unchecked-big-icon" ng-show="billingOption !== '${child}'"></span><span class="marketing-subscription-check-icon sw-icon radio-checked-big-icon" ng-show="billingOption === '${child}'"></span><input type="radio" name="billingOption" ng-model="billingOption" ng-value="'${child}'"/>${child}</label>
                </div>
            </div>
            <div class="col-md-12 subscription-address-details">
                <form name="billingAddressForm" novalidate role="form">
                    <div class="form-group subscription-address-group" data-sly-test="${properties.fullNameLabel}">
                        <label for="billingName" class="subscription-address-text"><span class="required">*</span> ${properties.fullNameLabel}</label>
                        <input type="text" ng-class="{'error': (billingAddressForm.$submitted && billingAddressForm.billingName.$pristine) || (billingAddressForm.billingName.$invalid && billingAddressForm.billingName.$touched)}" ng-required="true" ng-model="billing.name" data-error="${properties.nameMessage}"
                            ng-blur="validate(billingAddressForm.billingName)" class="form-control subscription-address-val" id="billingName" name="billingName" />
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.emailLabel}">
                        <label for="billingEmail" class="subscription-address-text"><span class="required">*</span> ${properties.emailLabel}</label>
                        <input type="email" ng-class="{'error': (billingAddressForm.$submitted && billingAddressForm.billingEmail.$pristine) || (billingAddressForm.billingEmail.$invalid && billingAddressForm.billingEmail.$touched) || (billingAddressForm.billingEmail.$error.pattern)}"
                            ng-pattern="/^[\u00C0-\u1FFF\u2C00-\uD7FF\w._%+-]+@[\u00C0-\u1FFF\u2C00-\uD7FF\w.-]+\.[\u00C0-\u1FFF\u2C00-\uD7FF\w]{2,4}$/" ng-required="true" ng-model="billing.email" class="form-control subscription-address-val" id="billingEmail"
                            data-error="${properties.emailMessage}" name="billingEmail" ng-blur="validate(billingAddressForm.billingEmail)" />
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.schoolNameLabel}">
                        <label for="billingSchool" class="subscription-address-text"><span class="required">*</span> ${properties.schoolNameLabel}</label>
                        <input type="text" ng-class="{'error': (billingAddressForm.$submitted && billingAddressForm.billingSchool.$pristine) || (billingAddressForm.billingSchool.$invalid && billingAddressForm.billingSchool.$touched)}" ng-required="true" ng-model="billing.school"
                            data-error="${properties.schoolmessage}" class="form-control subscription-address-val" id="billingSchool" name="billingSchool" ng-blur="validate(billingAddressForm.billingSchool)" />
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.addressLine1Label}">
                        <label for="billingAddress1" class="subscription-address-text"><span class="required">*</span>${properties.addressLine1Label}</label>
                        <input type="text" ng-class="{'error': (billingAddressForm.$submitted && billingAddressForm.billingAddress1.$pristine) || (billingAddressForm.billingAddress1.$invalid && billingAddressForm.billingAddress1.$touched)}" ng-required="true" ng-model="billing.address1"
                            data-error="${properties.addressmessage}" class="form-control subscription-address-val" id="billingAddress1" name="billingAddress1" ng-blur="validate(billingAddressForm.billingAddress1)" />
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.addressLine2Label}">
                        <label for="billingAddress2" class="subscription-address-text">${properties.addressLine2Label}</label>
                        <input type="text" ng-model="billing.address2" class="form-control subscription-address-val" name="billingAddress2" id="billingAddress2">
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.cityLabel}">
                        <label for="billingCity" class="subscription-address-text"><span class="required">*</span> ${properties.cityLabel}</label>
                        <input type="text" ng-class="{'error': (billingAddressForm.$submitted && billingAddressForm.billingCity.$pristine) || (billingAddressForm.billingCity.$invalid && billingAddressForm.billingCity.$touched)}" ng-required="true" ng-model="billing.city" class="form-control subscription-address-val"
                            id="billingCity" name="billingCity" ng-blur="validate(billingAddressForm.billingCity)" data-error="${properties.cityMessage}" />
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.stateLabel}">
                        <label for="billingState" class="subscription-address-text"><span class="required">*</span>${properties.stateLabel}</label>
                        <select class="form-control" ng-required="true" ng-blur="validate(billingAddressForm.billingState)" data-error="Whoops, please select state" ng-class="{'error': (billingAddressForm.$submitted && billingAddressForm.billingState.$pristine) || (billingAddressForm.billingState.$invalid && billingAddressForm.billingState.$touched)}" ng-model="billing.state"
                            id="billingState" name="billingState">
                            <option value="">Select</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="District of Columbia">District of Columbia</option>
                            <option value="Delaware">Delaware</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                            </select>
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.zipCodeLabel}">
                        <label for="billingZip" class="subscription-address-text"><span class="required">*</span>${properties.zipCodeLabel}</label>
                        <input type="text" ng-class="{'error': (billingAddressForm.$submitted && billingAddressForm.billingZip.$pristine) || (billingAddressForm.billingZip.$invalid && billingAddressForm.billingZip.$touched) || (billingAddressForm.billingZip.$error.pattern)}" ng-required="true" ng-model="billing.zip" class="form-control subscription-address-val"
                            id="billingZip" name="billingZip" data-error="${properties.zipCodeMessage}" ng-blur="validate(billingAddressForm.billingZip)" maxLength="5" ng-pattern="/^(\d{5})$/"/>
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.phoneNumberLabel}">
                        <label for="billingPhone" class="subscription-address-text">${properties.phoneNumberLabel}</label>
                        <input type="text" ng-model="billing.phone" maxLength="12" ng-keypress="formatPhoneNumber($event)" ng-keyup="formatPhoneNumber($event)" class="form-control subscription-address-val" id="billingPhone" name="billingPhone">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="subscription-billing-address-form subscription-shipping-address-form">
        <div class="row subscription-address-container">
            <div class="col-md-12 subscription-billing-title">
                <span>Shipping Address</span>
            </div>
            <div class="col-md-12 subscription-billing-option">
                <div class="checkbox subscription-billing-check">
                    <label class="subscription-billing-option-check">Same as Billing Address
		                    <input type="checkbox" ng-model="isBilling" ng-change="toggleShippingDetails()"/>
                        <div class="subscription-billing-check-indicator"></div>
                    </label>
                </div>
            </div>
            <div class="col-md-12 subscription-address-details" ng-show="!isBilling">
                <form name="shippingAddressForm" novalidate role="form">
                    <div class="form-group subscription-address-group" data-sly-test="${properties.fullNameLabel}">
                        <label for="shippingName" class="subscription-address-text"><span class="required">*</span> ${properties.fullNameLabel}</label>
                        <input type="text" ng-class="{'error': (shippingAddressForm.$submitted && shippingAddressForm.shippingName.$pristine) || (shippingAddressForm.shippingName.$invalid && shippingAddressForm.shippingName.$touched)}" ng-required="true" ng-model="shipping.name"
                            data-error="${properties.nameMessage}" ng-blur="validate(shippingAddressForm.shippingName)" class="form-control subscription-address-val" id="shippingName" name="shippingName" />
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.emailLabel}">
                        <label for="shippingEmail" class="subscription-address-text"><span class="required">*</span> ${properties.emailLabel}</label>
                        <input type="email" ng-class="{'error': (shippingAddressForm.$submitted && shippingAddressForm.shippingEmail.$pristine) || (shippingAddressForm.shippingEmail.$invalid && shippingAddressForm.shippingEmail.$touched) || (shippingAddressForm.shippingEmail.$error.pattern)}"
                            ng-pattern="/^[\u00C0-\u1FFF\u2C00-\uD7FF\w._%+-]+@[\u00C0-\u1FFF\u2C00-\uD7FF\w.-]+\.[\u00C0-\u1FFF\u2C00-\uD7FF\w]{2,4}$/" ng-required="true" ng-model="shipping.email" class="form-control subscription-address-val" id="shippingEmail"
                            name="shippingEmail" data-error="${properties.emailMessage}" ng-blur="validate(shippingAddressForm.shippingEmail)" />
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.schoolNameLabel}">
                        <label for="shippingSchool" class="subscription-address-text"><span class="required">*</span> ${properties.schoolNameLabel}</label>
                        <input type="text" ng-class="{'error': (shippingAddressForm.$submitted && shippingAddressForm.shippingSchool.$pristine) || (shippingAddressForm.shippingSchool.$invalid && shippingAddressForm.shippingSchool.$touched)}" ng-required="true" ng-model="shipping.school"
                            class="form-control subscription-address-val" id="shippingSchool" name="shippingSchool" data-error="${properties.schoolmessage}" ng-blur="validate(shippingAddressForm.shippingSchool)" />
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.addressLine1Label}">
                        <label for="shippingAddress1" class="subscription-address-text"><span class="required">*</span>${properties.addressLine1Label}</label>
                        <input type="text" ng-class="{'error': (shippingAddressForm.$submitted && shippingAddressForm.shippingAddress1.$pristine) || (shippingAddressForm.shippingAddress1.$invalid && shippingAddressForm.shippingAddress1.$touched)}" ng-required="true" ng-model="shipping.address1"
                            class="form-control subscription-address-val" id="shippingAddress1" name="shippingAddress1" data-error="${properties.addressmessage}" ng-blur="validate(shippingAddressForm.shippingAddress1)" />
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.addressLine2Label}">
                        <label for="shippingAddress2" class="subscription-address-text">${properties.addressLine2Label}</label>
                        <input type="text" ng-model="shipping.address2" class="form-control subscription-address-val" name="shippingAddress2" id="shippingAddress2">
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.cityLabel}">
                        <label for="shippingCity" class="subscription-address-text"><span class="required">*</span> ${properties.cityLabel}</label>
                        <input type="text" ng-class="{'error': (shippingAddressForm.$submitted && shippingAddressForm.shippingCity.$pristine) || (shippingAddressForm.shippingCity.$invalid && shippingAddressForm.shippingCity.$touched)}" ng-required="true" ng-model="shipping.city"
                            class="form-control subscription-address-val" id="shippingCity" name="shippingCity" data-error="${properties.cityMessage}" ng-blur="validate(shippingAddressForm.shippingCity)" />
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.stateLabel}">
                        <label for="shippingState" class="subscription-address-text"><span class="required">*</span>${properties.stateLabel}</label>
                        <select class="form-control" ng-required="true" ng-blur="validate(shippingAddressForm.shippingState)" data-error="Whoops, please select state" ng-class="{'error': (shippingAddressForm.$submitted && shippingAddressForm.shippingState.$pristine) || (shippingAddressForm.shippingState.$invalid && shippingAddressForm.shippingState.$touched)}" ng-model="shipping.state"
                            id="shippingState" name="shippingState">
                            <option value="">Select</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="District of Columbia">District of Columbia</option>
                            <option value="Delaware">Delaware</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                            </select>
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.zipCodeLabel}">
                        <label for="shippingZip" class="subscription-address-text"><span class="required">*</span>${properties.zipCodeLabel}</label>
                        <input type="text" ng-class="{'error': (shippingAddressForm.$submitted && shippingAddressForm.shippingZip.$pristine) || (shippingAddressForm.shippingZip.$invalid && shippingAddressForm.shippingZip.$touched) || (billingAddressForm.shippingZip.$error.pattern)}" ng-required="true" ng-model="shipping.zip"
                            class="form-control subscription-address-val" id="shippingZip" name="shippingZip" data-error="${properties.nameMessage}" maxLength="5" ng-pattern="/^(\d{5})$/" ng-blur="validate(shippingAddressForm.shippingZip)" />
                    </div>
                    <div class="form-group subscription-address-group" data-sly-test="${properties.phoneNumberLabel}">
                        <label for="shippingPhone" class="subscription-address-text">${properties.phoneNumberLabel}</label>
                        <input type="text" ng-model="shipping.phone" maxLength="12" ng-keypress="formatPhoneNumber($event)" ng-keyup="formatPhoneNumber($event)" class="form-control subscription-address-val" id="shippingPhone" name="shippingPhone">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
