<div data-sly-test.placeholder="${!wcmmode.disabled}" data-sly-unwrap>
    Configure Marketing - Video Testimonial Component
</div>
<sly data-sly-test.isColor = "${properties.listFrom == 'bgimage'}">
<div data-sly-use.video="com.scholastic.classmags.migration.controllers.VideoTestimonialUse" style="background:url(${properties.backgroundImage @ context='uri'})">
</sly>
<sly data-sly-test="${!isColor}">
<div data-sly-use.video="com.scholastic.classmags.migration.controllers.VideoTestimonialUse" style="background:${properties.backgroundColor @ context='styleString'}">
</sly>
    <div class="hidden-xs marketing-VideoTestimonial-container">
        <div class="marketing-VideoTestimonial-container-divider"></div>
        <div class="row mar0" data-sly-test="${properties.imagePosition == 'left'}">
            <div class="col-xs-12 left col-md-5 pad0">
                <sw-marketing-content-tile image-src="${video.contentObject.associatedImage}" image-hyperlink="${video.contentObject.pagePath}" content-type="video" video-id="${video.contentObject.videoId}" video-length="${video.contentObject.videoDuration}">
                </sw-marketing-content-tile>
            </div>
            <div class="col-xs-12 col-md-6 pad0">
                <div class="col-xs-12 title">
                    ${properties.rteFieldTitle @ context= 'html'}
                </div>
                <div class="col-xs-12 description">
                    ${properties.rteDescription @ context= 'html'}
                </div>
            </div>
        </div>
        <div class="row mar0" data-sly-test="${properties.imagePosition == 'right'}">
            <div class="col-xs-12 right col-md-7 pad0">
                <div class="col-xs-12 title">
                    ${properties.rteFieldTitle @ context= 'html'}
                </div>
                <div class="col-xs-12 description">
                    ${properties.rteDescription @ context= 'html'}
                </div>
            </div>
            <div class="col-xs-12 col-md-5 pad0">
                <sw-marketing-content-tile image-src="${video.contentObject.associatedImage}" image-hyperlink="${video.contentObject.pagePath}" content-type="video" video-id="${video.contentObject.videoId}" video-length="${video.contentObject.videoDuration}">
                </sw-marketing-content-tile>
            </div>
        </div>
    </div>
    <div class="visible-xs marketing-VideoTestimonial-container">
        <div class="row mar0">
            <div class="col-xs-12 mobile pad0">
                <sw-marketing-content-tile image-src="${video.contentObject.associatedImage}" image-hyperlink="${video.contentObject.pagePath}" content-type="video" video-id="${video.contentObject.videoId}" video-length="${video.contentObject.videoDuration}">
                </sw-marketing-content-tile>
            </div>
            <div class="col-xs-12 pad0">
                <div class="col-xs-12 title">
                    ${properties.rteFieldTitle @ context= 'html'}
                </div>
                <div class="col-xs-12 description">
                    ${properties.rteDescription @ context= 'html'}
                </div>
            </div>
        </div>
    </div>
</div>
