/*
 * #%L
 * ACS AEM Commons Package
 * %%
 * Copyright (C) 2014 Adobe
 * %%
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * #L%
 */
.acs-commons-resp-colctrl-row {
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box - 5px;
}
.acs-commons-resp-colctrl-row:after {
  clear: both;
  content: " ";
  display: table;
}
/**
@numOfDivisionsOfContainer -  This variable will divide the container div by that many divisions.
For example, we have taken @numOfDivisionsOfContainer as 100.This would mean, if a columns' width is set as 50, then it will have 50% width of the container.
This value can take any number.
This basically loops and creates that many number of classes
**/
.acs-commons-resp-colctrl-col-100 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-99 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 99%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-98 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 98%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-97 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 97%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-96 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 96%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-95 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 95%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-94 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 94%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-93 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 93%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-92 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 92%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-91 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 91%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-90 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-89 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 89%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-88 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 88%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-87 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 87%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-86 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 86%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-85 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 85%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-84 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 84%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-83 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 83%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-82 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 82%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-81 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 81%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-80 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-79 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 79%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-78 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 78%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-77 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 77%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-76 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 76%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-75 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-74 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 74%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-73 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 73%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-72 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 72%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-71 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 71%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-70 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-69 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 69%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-68 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 68%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-67 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 67%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-66 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 66%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-65 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 65%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-64 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 64%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-63 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 63%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-62 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 62%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-61 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 61%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-60 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-59 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 59%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-58 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 58%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-57 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 57%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-56 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 56%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-55 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 55%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-54 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 54%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-53 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 53%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-52 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 52%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-51 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 51%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-50 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-49 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 49%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-48 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 48%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-47 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 47%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-46 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 46%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-45 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 45%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-44 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 44%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-43 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 43%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-42 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 42%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-41 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 41%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-40 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 40%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-39 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 39%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-38 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 38%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-37 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 37%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-36 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 36%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-35 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 35%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-34 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 34%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-33 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-32 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 32%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-31 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 31%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-30 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-29 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 29%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-28 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 28%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-27 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 27%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-26 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 26%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-25 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-24 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 24%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-23 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 23%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-22 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 22%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-21 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 21%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-20 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-19 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 19%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-18 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 18%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-17 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 17%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-16 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 16%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-15 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 15%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-14 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 14%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-13 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 13%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 12%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-11 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 11%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-10 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-9 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 9%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-8 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 8%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-7 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 7%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-6 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 6%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-5 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-4 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-3 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-2 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.acs-commons-resp-colctrl-col-1 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
@media screen and (max-width: 768px) {
  .acs-commons-resp-colctrl-col-100 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-99 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-98 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-97 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-96 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-95 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-94 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-93 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-92 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-91 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-90 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-89 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-88 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-87 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-86 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-85 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-84 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-83 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-82 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-81 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-80 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-79 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-78 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-77 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-76 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-75 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-74 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-73 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-72 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-71 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-70 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-69 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-68 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-67 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-66 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-65 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-64 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-63 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-62 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-61 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-60 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-59 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-58 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-57 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-56 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-55 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-54 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-53 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-52 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-51 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-50 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-49 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-48 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-47 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-46 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-45 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-44 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-43 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-42 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-41 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-40 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-39 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-38 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-37 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-36 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-35 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-34 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-33 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-32 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-31 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-30 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-29 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-28 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-27 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-26 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-25 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-24 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-23 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-22 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-21 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-20 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-19 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-18 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-17 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-16 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-15 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-14 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-13 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-12 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-11 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-10 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-9 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-8 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-7 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-6 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-5 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-4 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-3 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-2 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .acs-commons-resp-colctrl-col-1 {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
}
