.pagination-directive-wrapper {
	.paginationBottom {
		ul {
			li {
				@include font($font04, 15px, 1, $upfrontInactiveSortColor, 1px);

				a {
					@include font($font04, 15px, 1, $upfrontInactiveSortColor, 1px);

					&:active,
					&:focus,
					&:hover {
						@include font($font04, 15px, 1, $upfrontInactiveSortColor, 1px);
					}
				}
                select{
                    background-position: right 5px center;
                    border: solid 1px $upfrontDropdownBorderColor;
                }

				&.pageLabel {
					@include font($font04, 15px, 1, $black, 1px);
				}
			}
		}
	}
}
