<div data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse" data-sly-unwrap>
	<div data-sly-test="${wcmmode.edit || globalAccess.visible}" data-sly-unwrap>
		<div data-sly-test="${wcmmode.edit && !properties.linkTitle}">Misc - Icon and Hyperlink Component</div>
		<div data-sly-test="${properties.linkTitle}" class="iconHyperlinkComponent-wrapper">
			<div class="iconHyperlinkComponent-content ${properties.linkAlignment}">
		        
		    	<div data-sly-test="${properties.icon}" class="sw-icon ${properties.icon}">
		        </div>
		       <div data-sly-test="${properties.icon}" data-sly-unwrap>
					<div data-sly-test="${properties.linkPath != null}" data-sly-unwrap>
		            	<a x-cq-linkchecker="skip" href="${properties.linkPath}" target="${properties.openInNewTab && '_blank'}"> <span>${properties.linkTitle}</span></a>
		            </div>
		            <div data-sly-test="${properties.linkPath == null}" data-sly-unwrap>
		            	<span>${properties.linkTitle}</span>
		            </div>
		        </div>
		
		        <div data-sly-test="${!properties.icon}" data-sly-unwrap>
					<div data-sly-test="${properties.linkPath != null}" data-sly-unwrap>
		            	<a x-cq-linkchecker="skip" href="${properties.linkPath}" target="${properties.openInNewTab && '_blank'}"> <span class="nopadL">${properties.linkTitle}</span></a>
		            </div>
		            <div data-sly-test="${properties.linkPath == null}" data-sly-unwrap>
		            	<span class="nopadL">${properties.linkTitle}</span>
		            </div>
		        </div>
		
		    </div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
