.content-tile-container-horizontal {
    $borderColor: #d3d7d8;
    border: 2px solid $borderColor;
    border-radius: 8px;

    .title {
        @include font($fontS7, 18px, 1.17, $black, 0.5px);
        padding-bottom: 11px;
    }

    .description {
        @include font($font04, 16px, 1.5, $black, 0.5px);
    }
}

.content-tile-container {
    $borderColor: #d3d7d8;
    border: 2px solid $borderColor;
    @include border-radius-separate(8px, 8px, 8px, 8px);

    .resource-wrapper {
        border-bottom: 2.3px solid $ssContentTileGreyBorder;
    }

    .content-hub-header {
        @include border-radius-separate(6px, 6px, 0, 0);
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .title {
        @include font($fontS7, 18px, 1.17, $black, 0.5px);
    }

    .subject {
        @include font($fontS7, 11px, 1.45, $contentTileSubjectBlue, 0.5px);
    }

    .content-tile-body {
        @include border-radius-separate(6px, 6px, 6px, 6px);
        border: none;
    }

    .content-info {
        border: none;
    }

    .video-time-frame {
        bottom: 0.45px;
    }

    .bookmark-header,
    .content-hub-header {
        border-bottom-color: $contentTileOrangeLine;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .bookmark-header {
        .bookmark-title {
            @include font($fontS6, 13px, 1, $black, 0.5px);
        }
    }

    .border-image-container-radius {
        @include border-radius-separate(6px, 6px, 0, 0);
    }

    .icons-row {
        .view-article-link {
            @include font($font09, 14px, 1, $contentTileSubjectBlue, 0.5px);

            a {
                &:active,
                &:focus,
                &:hover,
                &:visited {
                    color: $contentTileSubjectBlue;
                }
            }
        }
    }
}


@media only screen and (min-width: 992px) and (max-width: 1024px) { 
    .image-container-resource {
        height: 107.61px;
    }

    
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) { 
    .image-container-resource {
        height: 112.1px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) { 
    .image-container-resource {
        height: 135.99px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) { 
    .image-container-resource {
        height: 148px;
    }
}

@media only screen and (min-width: 1366px) { 
    .image-container-resource {
        height: 162.91px;
    }
}

@include respond-to('1440px'){
    .content-tile-container {
        .content-tile-body {
         .image-container {
                height: 180px;
            .content-image{
                height: 100%;
                width: 100%;
            }
        }

        .image-container-resource {
                height: 162.91px;
            .content-image {
                height: auto;
                width: 98%;
            }
        }
    }
    
        .content-tile-body .content-module .content-module-container .content-wrapper .content-one-up .img-container img{
            height: 180px;
            width: 100%;
        }
    }

    .content-tile-container-horizontal {
        .image-container {   
            height: 260px;
            .content-image {
                width:100%;
                height: 100%;
            }
        }
    }
}

