    .image-popup-image-layout {
        .image-popup-image-container {
            max-width: 595px;
            min-height: 355px;
            position: relative;
            margin: 0 auto;
            a {
                .image-popup-image {
                    max-width: 100%;
                    max-height: 355px;
                    margin: 0 auto;
                }
            }
            .caption-section {
                .img-popup-credits {
                    @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
                    margin-top: 10px;
                }
                .img-popup-caption {
                    @include font($font09, 16px, 1.5, $black, 0.5px);
                    margin-top: 11px;
                    &:empty {
                        margin-top: 0;
                    }
                }
            }
            .popup-img-icon {
                border-radius: 50%;
                position: absolute;
                right: 4%;
                top: 6%;
                cursor: pointer;
            }
            .close-icon {
                opacity: inherit;
                margin-top: 6px;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                right: 5px;
            }
            .image-popup-madal{
                width: 1150px;
            
            .image-popup-content {
                margin-top: 50px;
                height: 520px;
                position: relative;
                background-color: $globalNavPopoverGray;
            }
        }
            .modal-content {
                img {
                    &.modal-image-popup-image {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        margin: auto;
                        max-height: 100%;
                    }
                }
            }
        }
    }
