.online-resources {
    padding-top: 43px;

    .online-resources-head {
        @include font($fontC7, 35px, 1.14, $marketingGrey);
    }

    .marketing-video-game-container {
        border: none;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQoU2N8/fXXfwYiACNIoSg3GyMhtaMK8YYQ0cEDAKC2J+Tc/Pr7AAAAAElFTkSuQmCC") repeat;
        border-radius: 8px;
        border: 1px solid $mathLightGrey;
        background-size: 3.8%;

        .marketing-video-container {
            padding: 0 37px;
            margin-top: -21px;

            .marketing-video-container-title {
                span {
                    @include font($fontC7, 24px, 1.67, $marketingThickBlue);
                    display: inline-block;
                    padding: 0;
                    background: transparent;

                    p {
                        margin-bottom: 12px;
                    }
                }
            }

            .marketing-content-tile-container {
                .content-tile-body {
                    .game-video-wrapper {
                        .image-container {
                            background: transparent;
                        }
                    }
                }
            }
        }

        .marketing-game-container {
            padding: 23px 37px 30px;

            .marketing-game-container-title {
                span {
                    @include font($fontC7, 24px, 1.67, $marketingThickBlue);
                    display: inline-block;

                    p {
                        margin-bottom: 12px;
                    }
                }
            }

            .game-top-controls {
                .game-top-controls-content {
                    background: url("../../.././../images/CM-Marketing/marketing-contenttiles-game-top.png") no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .online-resources {
        padding-top: 46px;

        .online-resources-head {
            @include font($fontC7, 30px, 1, $marketingGrey);
            margin-bottom: 19px;
        }

        .online-resources-head-image {
            padding-left: 0;
        }

        .online-resources-description {
            @include font($fontB4, 20px, 1.4, $marketingGrey);
            display: block;
            text-align: center;
            padding: 0 20px;

            p {
                margin-bottom: 6px;

                .online-resources-description-1 {
                    @include font($fontC5, 24px, 1.17, $black);
                    margin-bottom: 10px;
                    display: inline-block;
                }
            }
        }

        .marketing-video-game-container {
            margin-top: 25.6px;

            .marketing-video-container {
                padding: 0 31px;

                .marketing-video-container-title {
                    margin-bottom: 8px;

                    span {
                        p {
                            margin: 0;
                        }
                    }
                }
            }

            .marketing-game-container {
                padding: 19px 31px 25px;

                .marketing-game-container-title {
                    margin-bottom: 2px;

                    span {
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
