.article-resources-main-container {
    &#TeachingResourcesComponent {
        .textHyperlink-container-wrapper {
            margin-bottom: 39px;
            padding-left: 40px;
            padding-right: 43px;

            .textHyperlink-wrapper {
                .textHyperlink-text {
                    background-color: $white;
                    padding: 0;
                    @include font($fontSE9, 28px, 0.89, $sn56ArticleResourceBlue, 0.2px);
                }
            }

            .text-link-connector {
                background-color: $sn56ArticleResourceBlue;
                margin-left: 15px;
            }
        }

        .article-resources-content {
            padding-bottom: 45px;

            .article-resources-heading {
                .article-title {
                    @include font($fontSL5, 18px, 1.33, $black, 0.6px);
                }
            }
        }
    }
}
