.marketing-app-nav-bar-main-container {
    .app-nav-primary {
        background-color: $mathGlobalFooterBg;
    }

    .science-logo {
        padding: 5px 0 1px 20px;
        width: 195px;
        position: relative;

        .scholastic-logo-header {
            display: none;
        }

        a {
            margin-top: 0;
            margin-left: 7px;
            width: 189px;
            height: 94px;
            background: url('../../../images/globalNav/math-logo.png') no-repeat center;
            padding: 25.6px 0;
        }
    }

    .dropdown {
        .app-nav-main-item-link {
            @include font($fontB8, 16px, null, $mathGlobalNavLinkBlue, 0.5px);
        }

        .magazine {
            @include font($fontB8, 16px, null, $mathGlobalNavLinkBlue, 0.5px);
        }

        &.js-dropdown-dynamic {
            &:nth-child(5) {
                .app-nav-main-item-link {
                    @include font($fontB7, 14px, null, $mathGlobalNavLinkBlue, 0.5px);
                }
            }
        }
    }

    .cta-button-container {
        padding: 35px 0 15px;

        .primary-button {
            @include font($fontB7, 20px, 1, $white);
            background-color: $snMathsHeaderButton;
            width: 122px;
            height: 50px;
            border-radius: 5px;
        }

        .secondary-button {
            @include font($fontB7, 20px, null, $white);
            height: 50px;
            border-radius: 5px;
        }
    }

    .secondary-items {
        li {
            a {
                padding-right: 0;
                padding-left: 20px;
                @include font($fontB8, 12px, 1.17, $mathExploreBarBlueFont, 1.3px);

                &:active,
                &:focus,
                &:hover {
                    color: $mathExploreBarBlueFont;
                }
            }
        }

        .explore {
            @include font($fontB8, 13px, 1.08, $marketingMathExplore, 0.5px);
            padding-right: 0;

            &:active,
            &:focus,
            &:hover {
                color: $marketingMathExplore;
            }
        }
    }

    @include respond-to ('xssmall') {
        .app-nav-header {
            .search-logo-block {
                min-width: 163px;

                .scholastic-logo-header {
                    display: none;
                }
            }
        }

        .app-nav-header {
            .menu-icon-block {
                padding: 0 0 0 35px;
                margin-right: 23px;

                .nav-header-item {
                    margin: 2px 0;

                    .icon-bar {
                        background: $white;
                        width: 26px;
                        border-radius: 0;

                        + .icon-bar {
                            margin-top: 5px;
                        }
                    }

                    &.nav-menu-icon {
                        margin-top: 34px;
                        margin-bottom: 0;
                        height: 20px;
                    }
                }
            }

            .profile-icon-block {
                padding-top: 15px;

                .secondary-button {
                    @include font($fontB7, 16px, null, $white);
                    border-radius: 5px;
                }
            }
        }

        .magazine-logo-tablet-mobile {
            display: inline-block;
            width: 110px;
            height: 50px;
            background: url('../../../images/globalNav/math-logo.png') no-repeat center;
            background-size: contain;
            margin-top: 0;
        }

        .nav-header-item {
            margin: 8px 0;
        }

        ul.menu-list:first-child {
            li.dropdown {
                &.js-dropdown {
                    a {
                        padding-left: 0;

                        &:active,
                        &:focus,
                        &:hover {
                            color: $mathExploreBarBlueFont;
                        }
                        @include font($fontB8, 16px, null, $mathExploreBarBlueFont, 0.5px);
                    }
                }
            }
        }

        ul:first-child {
            li {
                &.dropdown.js-dropdown:nth-child(5) {
                    a {
                        @include font($fontB7, 14px, null, $mathExploreBarBlueFont, 0.5px);
                    }
                }
            }
        }

        .js-nav-menu {
            #secondary-items-nav {
                li {
                    a {
                        @include font($fontB8, 12px, null, $mathExploreBarBlueFont, 0.9px);
                    }

                    &:last-child {
                        a {
                            border-bottom: 1px solid sn56grey;
                        }
                    }
                }
            }

            .primary-button {
                @include font($fontB7, 16px, 1.25, $white);
                background-color: $snMathsHeaderButton;
                border-radius: 5px;
            }
        }
    }

    @include respond-to ('small-and-medium') {
        .secondary-items {
            li {
                a {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }
    }
}
