.marketing-scholastic-magazine-wrapper {
    .scholastic-magazine-content {
        .magazine-title-wrapper {
            span {
                &.magazine-title {
                    @include font($fontSE9, 26px, 1.23, $marketingPromoteMagazineTitle, null);
                }
                &.view-all-magazine {
                    @include font($fontSL7, 14px, 1, $marketingPromoteMagazineLink, 0.5px);
                }
            }
        }
        .content-container {
            .magazine-content {
                .magazine-subtitle {
                    @include font($fontSL7, 20px, 1.1, $marketingPromoteMagazineLink, 0.5px);
                    a {
                        color: $marketingPromoteMagazineLink;
                    }
                }
                .magazine-desc {
                    @include font($fontU4, 18px, 1.33, $black);
                }
            }
        }
    }
}

@include respond-to('xssmall') {
    .marketing-scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            .magazine-title-wrapper {
                span {
                    &.magazine-title {
                        @include font($fontSE9, 20px, 1.2, $marketingPromoteMagazineTitle, null);
                    }
                    &.view-all-magazine {
                        display: none; 
                    }
                }
                .sw-icon.sw-icon.right-arrow{
                    display: none;
                }
            }
            .magazine-mobile-title-wrapper {
                span {
                    &.view-all-magazine {
                        @include font($fontSL7, 14px, 1, $sn56TabBackground, 0.3px);
                    }
                }
            }
            .content-container {
                .magazine-content {
                    .magazine-image{
                        max-width: 124px;
                    }
                    .magazine-subtitle {
                        @include font($fontSL7, 20px, 1.15, $sn56TabBackground, 0.5px);
                        a {
                            color: $sn56TabBackground;
                        }
                    }
                }
            }
        }
    }
}
