<!--/*

	Article configuration component.

*/-->
<div class="article-config-comp" article-config-path="${currentNode.path}">
    <div data-sly-test.placeholder="${!wcmmode.disabled}">
    	Configure article configuration component
    </div>
</div>