.slide-show-component-layout {
    .launch-slide-show {
        font-family: 'KarnakPro-Black';
    }

    .slide-show-description {
        .slide-show-des-block {
            .page-title {
                font-family: 'SlateStd-Bold';
            }

            .page-name {
                font-family: 'SlateStd-Bold';
            }
        }
    }

    .slide-show-header {
        .slide-show-header-name {
            font-family: 'KarnakPro-Black';
        }

        .total-img-present-img {
            font-family: 'SlateStd-Medium';
        }
    }

    .page-num {
        font-family: 'SlateStd-Medium';
    }
}

.slide-show-audio-wrapper {
  .credits-text {
    @include font($fontP4, 10px, 1.2, $slideShowCreditsGrey, 0.5px);
  }

  .slide-show-title {
    @include font($font09, 16px, 1.44, $slideShowBlueText, 0.7px);
  }

  .slide-show-description {
    @include font($font04, 16px, 1.5, $slideShowDescriptionText, 0.6px);
  }
}
