<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Configure Full Width CTA component</div>
<div data-sly-use.fullWidthCTA="com.scholastic.classmags.migration.controllers.CTAButtonUse">
    <div class="${properties.buttonWidth != 'halfWidth' ? 'buttonContainerFullWidth clearfix' : 'buttonContainerFullWidthSubscription clearfix'}">
        <div class="button clearfix" data-sly-test="${properties.buttonWidth != 'halfWidth'}">
            <a class="pointer btn" target="_blank" href="${fullWidthCTA.ctaButton.buttonHyperlink}" style="background:${properties.jcr:buttonColor @context='styleString'}">${properties.jcr:buttonLabel}</a>
        </div>
        <div class="button" data-sly-test="${properties.buttonWidth == 'halfWidth'}">
            <button type="button" ng-click="continueSubscription()" style="background:${properties.jcr:buttonColor @context='styleString'}" class="btn subscription-continue-btn">${properties.jcr:buttonLabel}</button>
        </div>
    </div>
</div>
