.textHyperlink-container {
    min-height: 30px;
    &.enableBorder {
        border-bottom: 1px solid $black;
        min-height: 43px;
        padding-bottom: 13px;
    }
    .textHyperlink-hash-container {
        .textHyperlink-hash-content {
            display: none;
        }
    }

    .textHyperlink-wrapper {
        height: auto;
        background: transparent;

        .textHyperlink-text {
            @include font($fontK9, 28px, 0.89, $black, 1.5px);
            padding: 2px 16.5px 2px 0px;
            text-transform: uppercase;
            position: initial;
            float: left;
            background: transparent;
        }

        .textHyperlink-link {
            @include font($fontSL5, 20px, 1.2, $black, 0.5px);
            position: initial;
            border-left: 1px solid $black;
            height: 29px;
            padding-left: 16.5px;
            padding-top: 6px;
            display: block;
            transform: none;
            float: left !important; //Important is used to override pull-right style

            .icon.icon-right {
                display: none;
            }
        }
    }
}
