.divider-component{
	padding-top: 9px;
    padding-bottom: 44.5px;
	.border-divider{
		background-color:transparent;
	    background-image: radial-gradient($actionHorizontalDivider 22%, transparent 18%);
	    background-size: 11px 11px;
	    background-position: -3px 0;
	    background-repeat: repeat-x;
	    padding-top: 7px;
	    border: 0;
	}
}