.issueHigh-wrapper {
    .issueHigh-content {
        padding: 0 0 57px;
        background-color: $bodyGrey;

        .issue-tile-wrapper {
            padding-left: 24.97px;

            .issue-high-des-sec-tiles {
                margin-bottom: 20px;
                max-width: 345px;

                .des-sec-tiles-boxshadow {
                    max-width: 325px;
                    @include radius(8px);
                    box-shadow: none;
                    border: solid 2px $issueHighTitleborderGrey;

                    .issueHigh-titles {
                        @include border-radius-separate(6px, 6px, 0, 0);
                        background-color: $issueHighTitleGrey;
                        border-bottom: 3px solid $issueHighTitleBorderOrange;

                        a {
                            @include font($font07, 16px, 1.13, $black, 0.5px);
                            max-height: 50px;
                            padding: 17px 0 15px 20px;
                        }
                    }

                    .key-asset-content {
                        border: none;
                        padding: 26px 20px 0;

                        .key-asset-desc {
                            @include font($font04, 16px, 1.5, $black, 0.5px);
                        }
                    }
                }
            }
        }

        .issue-highlighting-img {
            padding-left: 68px;

            .issue-mag-view-container {
                bottom: 0;
                width: 100%;
                margin-left: 0;

                .issue-mag-view {
                    @include font($font09, 13px, 1.54, $white, 1px);
                    background-color: $issueHighMagazineButton;
                    color: $white;
                    max-width: 265px;
                    width: 265px;
                    padding: 10px;
                    width: 100%;
                    overflow-y: hidden;
                    min-height: 40px;
                }
            }

            .issue-highlight-img-bg {
                border: 0;
                padding: 0;
                max-width: 265px;
                background-color: $bodyGrey;

                .issue-img-center {
                    .issue-high-img-class {
                        max-width: 100%;
                    }

                    img {
                        @include shadow(rgba(0, 0, 0, 0.25), 1px 1px 3px 0);
                    }
                }

                .resources-container {
                    float: left;
                    padding-left: 53px;
                    padding-right: 25px;
                }
            }
        }

        .issueHigh-text {
            background: $darkNavyBlue;
            position: relative;
            height: 50px;
            margin: 0 0 75.8px;

            .text-date {
                @include font($fontS7, 30px, 1.07, $white, 1px);
                display: inline-block;
                background: $darkNavyBlue;
                padding: 22px 70px 19px 40px;
                margin: 0;
                position: relative;
                left: 0;
                top: 0;
                border-radius: 0 0 50px 0;

                &:before {
                    content: '';
                    width: 23px;
                    height: 29px;
                    display: block;
                    position: absolute;
                    right: 3px;
                    top: 50px;
                    background-color: $bodyGrey;
                    z-index: 1;
                    transform: skew(-30deg);
                    @include radius(3px);
                }

                &:after {
                    content: '';
                    height: 27px;
                    width: 17px;
                    position: absolute;
                    bottom: 0;
                    right: 23px;
                    background: $darkNavyBlue;
                    border-radius: 5px;
                    z-index: 9;
                    transform: skew(-30deg);
                }
            }
        }

        .text-desc {
            margin: 0;

            .text-desc-bold {
                display: none;
            }

            .text-desc-normal {
                display: none;
            }
        }

        .social-icons {
            .sw-icon {
                margin-right: 15px;
            }
        }

        .issueHigh-header {
            .issue-high-icons {
                bottom: 3px;
                margin-right: 40px;
                margin-bottom: 19px;
            }

            .textHyperlink-container {
                margin-bottom: 17px;

                .textHyperlink-wrapper {
                    .textHyperlink-text {
                       /* &::before {
                            background: $bodyGrey;
                            width: 23px;
                            height: 20px;
                            right: 8px;
                            top: 40px;
                        }

                        &::after {
                            height: 33px;
                            width: 33px;
                            bottom: 0;
                            right: 11px;
                        }*/
                    }
                }
            }
        }
    }
}

.top-links-component-main-wrapper {
    .top-links-component-container {
        .hash-container {
            display: none;
        }
        .top-links-content-wrapper {
            padding: 31px 40px 64px 68px;
            .image-wrapper {
                .magazine-view-button {
                    text-transform: uppercase;
                    margin-top: 33px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    @include font($font09, 13px, 1.54, $white, 1px);
                    background-color: $superScienceSearchButtonOrange;
                }
            }
            .text-wrapper {
                padding-left: 51px;
                width: 80.10%;
                .title-icon-wrapper {
                    .title-placeholder {
                       @include font($fontS7, 30px, 1.07, $black, 1px);
                    }
                    padding-bottom:17px;
                    border-bottom:2px solid $superScienceExploreBar;
                }
                .description {
                    margin-top: 17px;
                    @include font($font09, 15px, 1.6, $black, 0.5px);
                }
                .featured-assets-wrapper {
                    margin-top:9px;
                    .featured-asset {
                        .content-tile-container {
                            border: 0;
                            .content-tile-body {
                                                               
                                .title {
                                    @include font($font04, 18px, 1.17, $black, 0.3px);
                                }
                            }
                        }
                    }
                }
                .key-assets-wrapper {
                    margin-top: 29px;
                    .key-asset-container {
                        height: 85px;
                        background-color: $ssIssueTopLinksAssetBackground;
                        border-bottom: 0;
                        .key-asset {
                            .key-asset-name {
                                @include font($font04, 14px, 1, $black, 0.5px);
                            }
                        }
                        .bottomcolor-container {
                            height: 4px;
                            background-color: $superScienceSearchButtonOrange;
                        }
                    }
                }
            }
        }
    }
}