.cm-migration-image-container {
    .image-popup-image-layout {
	    .image-popup-image-container {
            border: solid 1px $actionArticleImageBorder;
            background-color: $actionDropdownBackgroundColor;
	        .caption-section {
	    	 	.img-popup-credits {
	    	 	 	@include font($fontGB5, 10px, 1.2, $actionArticleCreditColor, 0.5px);
	    	 	 	margin-bottom: 16px;
                    text-align: left;
	    	 	 }
	    	 	 .img-popup-caption {
	    	 	 	@include font($fontGB5, 16px, 1.25, $black, 0.3px);
                    padding-bottom:20px;
                    margin-top: 0;
	    	 	 }
	    	 }
	    }
    } 
}  