.marketing-subscription-order-summary {
    margin: 40px 0 0;

    .marketing-subscription-order-summary-right {
        padding-left: 4px;

        .marketing-subscription-order-summary-right-container {
            border: 1px solid $tabBgGrey;
            padding: 32px 16px 38px 24px;

            .marketing-subscription-order-summary-right-container-title {
                @include font($font07, 18px, 1.33, $gray);
                margin: 0;
                padding-bottom: 7px;
                border-bottom: 1px solid $tabBgGrey;
            }

            .subscription-product-display-magazines {
                margin-top: 29px;

                .subscription-product-display-magazine {
                    margin-top: 29px;
                    padding-left: 15px;
                }

                .subscription-product-display-magazine-image {
                    max-width: 60px;
                    padding: 0;

                    img {
                        width: 100%;
                    }
                }

                .subscription-product-display-magazine-details {
                    padding-left: 19px;
                    margin-top: -5px;

                    .subscription-magazine-price {
                        @include font($font04, 14px, 1.71, $marketingSubscriptionGrey);

                        .subscription-price-value {
                            font-weight: bold;
                        }
                    }

                    .subscription-magazine-quantity {
                        .subscription-total-quantity {
                            @include font($font04, 14px, 1.71, $marketingSubscriptionGrey);
                        }

                        .subscription-total-quantity-val {
                            font-weight: bold;
                        }

                        .subscription-total-price {
                            @include font($font04, 14px, 1.71, $marketingSubscriptionGrey, 0.5px);
                        }

                        .subscription-quantity-edit-btn {
                            @include font($font04, 14px, null, $liteBlue2);
                            margin-top: 1px;
                            text-decoration: none;
                        }
                    }

                    .subscription-quantity-edit-section {
                        margin-top: 7px;

                        .subscription-quantity-edit-text {
                            @include font($font04, 16px, null, $marketingSubscriptionLightGrey);
                            height: 30px;
                            width: 44px;
                            display: inline-block;
                            border: 1px solid $marketingSubscriptionBorderGrey;
                            padding: 0;
                            text-align: center;
                        }

                        .subscription-quantity-save-btn {
                            @include font($font07, 13px, null, $liteBlue2, 0.5px);
                            width: 80px;
                            height: 30px;
                            border-radius: 5px;
                            background-color: $white;
                            border: 1px solid $liteBlue2;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }

                .subscription-magazine-details-name {
                    @include font($font07, 16px, 1.5, $marketingSubscriptionGrey);
                    margin: 0;
                    display: block;
                }
            }

            .subscription-order-summary {
                margin-top: 30px;
                padding-top: 26px;
                border-top: 1px solid $tabBgGrey;

                .subscription-order-summary-title {
                    @include font($font07, 16px, null, $subscriptionTextGrey, 0.4px);
                }

                .subscription-order-summary-details {
                    margin-top: 12px;

                    .subscription-order-summary-text {
                        @include font($font04, 16px, null, $subscriptionTextGrey);
                    }

                    .subscription-order-summary-price {
                        @include font($font04, 16px, null, $subscriptionTextGrey, 0.5px);
                    }

                    .subscription-order-summary-total-price {
                        @include font($font07, 16px, null, $subscriptionTextGrey, 0.5px);
                    }
                }
            }

            .subscription-address-summary {
                margin-top: 30px;
                padding-top: 26px;
                border-top: 1px solid $tabBgGrey;

                .subscription-address-summary-title {
                    @include font($font07, 16px, null, $subscriptionTextGrey, 0.4px);
                }

                .subscription-address-summary-details {
                    margin-top: 12px;

                    .subscription-address-summary-text {
                        @include font($font04, 14px, 1.43, $subscriptionTextGrey, 0.5px);
                        margin-bottom: 5px;
                    }

                    .subscription-address-summary-name {
                        @include font($font07, 14px, 1.43, $subscriptionTextGrey, 0.5px);
                    }
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-subscription-order-summary {
        margin: 20px 0 0;
        padding: 0 20px;

        .row {
            margin: 0;
        }

        .marketing-subscription-order-summary-right {
            padding: 0;

            .marketing-subscription-order-summary-right-container {
                padding: 33.3px 20px 40.9px;

                .subscription-order-summary {
                    padding-top: 15.6px;
                }

                .marketing-subscription-order-summary-right-container-title {
                    padding-bottom: 8.7px;
                }

                .subscription-product-display-magazines {
                    margin-top: 30.1px;

                    .subscription-product-display-magazine {
                        margin-top: 24.9px;
                    }

                    .subscription-magazine-details-quantity {
                        margin-top: 1.9px;

                        .subscription-magazine-details-quantity-input {
                            width: 45.6px;
                            height: 31.1px;
                            padding: 0;
                        }

                        .subscription-magazine-learn {
                            .popover {
                                max-width: 335px;
                                max-height: 455px;
                                left: -90px !important;
                                right: -235px;

                                .arrow {
                                    display: none;
                                }
                            }
                        }
                    }

                    .subscription-product-display-magazine-details {
                        padding-left: 23.6px;
                        padding-right: 0;
                    }

                    .subscription-product-display-magazine-image {
                        max-width: 62.2px;
                    }

                    .view-all-magazines {
                        margin-top: 27px;
                    }
                }
            }
        }
    }
}
