<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure
	Misc - Promote Magazines Component</div>

<div
	data-sly-use.promoteMagazinesUse="com.scholastic.classmags.migration.controllers.PromoteMagazinesUse">
	<div class="marketing-scholastic-magazine-wrapper">
		<div class="scholastic-magazine-content">
			<div class="magazine-title-wrapper">
				<span
					class="${properties.promoteMagsLabel ? 'magazine-title' : 'magazine-title no-right-border'}">${properties.promoteTitle}</span>
				<a data-sly-test="${properties.promoteMagsLabel}"
					href="${promoteMagazinesUse.promoteMagazine.promoteMagsPath}" class="hidden-xs">
					<span class="view-all-magazine text-right">${properties.promoteMagsLabel}
				</span> <span class="icon sw-icon icon-right right-arrow"></span>
				</a>
			</div>
			<div class="visible-xs magazine-mobile-title-wrapper">
				<a data-sly-test="${properties.promoteMagsLabel}"
						href="${promoteMagazinesUse.promoteMagazine.promoteMagsPath}">
						<span class="view-all-magazine text-right">${properties.promoteMagsLabel}
					</span> <span class="icon sw-icon icon-right right-arrow"></span>
					</a>
			</div>
			<div class="row nomarLR">
				<div class="col-xs-12 content-container">
					<div class="row nomarLR">
						<div data-sly-list="${promoteMagazinesUse.magsDataList}">
							<div
								data-sly-test="${item.magazineName && item.magazineDescription}"
								class="col-xs-12 col-md-4 magazine-content">
								<div class="col-xs-5 pad0">
									<img class="magazine-image" src="${item.imagePath}"/>
								</div>
								<div class="col-xs-7 magazine-content-cntr">
									<div class="magazine-subtitle">
										<a href="${item.magazinePath}">${item.magazineName}</a>
									</div>
									<div class="separator"></div>
									<div class="magazine-desc">${item.magazineDescription @context = 'html'}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
