.brightcoveComponent-container {
    .brightcoveComponent-text-wrapper {
        .brightcoveComponent-title {
           font-family: 'ProximaNova-Black';
        }
        .brightcoveComponent-desc {
            font-family: 'ProximaNova-Regular';
        }
    }
}


