.marketing-globalFooter-main-container {
    position: relative;
    max-width: 1440px;
    margin: auto;

    .globalFooter-content {
        background-color: $footerBkg;

        .social-links-wrapper {
            @include respond-to ('small-and-up') {
                max-width: 210px;
                padding: 0;
            }
        }

        .link-wrapper {
            @include respond-to ('small-and-up') {
                max-width: 285px;
                padding: 0;
                margin-right: 60px;
            }
        }

        .row {
            padding: 30px 0 0 41px;
            min-height: 180px;
        }

        .footerContentWrapper {
            height: 120px;

            &.social-links {
                height: auto;
                border-right: 0 none;

                .footerTitle {
                    border-bottom-width: 2px;
                }
            }

            .footerTitle {
                @include font($font09, 15px, 1, $white);
                margin-bottom: 10px;
                word-wrap: break-word;
                border-bottom: 1px solid $liteAsh2;
                padding-bottom: 8px;

                &.footerTitleSocialIcon {
                    border-bottom-width: 2px;
                }
            }

            .footerPhoneNo {
                .phoneIcon {
                    margin-right: 10.9px;
                }

                .phonelink {
                    @include font($font07, 13px, 2.31, $white, 0.4px);
                    word-wrap: break-word;

                    a {
                        color: $white;
                    }
                }

                span {
                    vertical-align: middle;
                }

                .liveIcon {
                    background: url('../../../images/CM-Marketing/icons_junior.png') no-repeat center;
                    width: 15px;
                    height: 15px;
                    padding-left: 18px;
                    background-position: -294px -654px;
                }

                .livelink {
                    margin-left: 7px;
                    @include font($font07, 12px, 2.08, $white);
                    word-wrap: break-word;

                    a {
                        color: $white;
                    }
                }
            }

            .footerlinks {
                p {
                    margin-bottom: 0;
                }

                a {
                    @include font($font07, 12px, 2.08, $white);
                    text-decoration: none;
                }
            }

            .footer-socialIcons {
                .sw-icon {
                    height: 32px;

                    &.googleplus-icon {
                        width: 24px;
                        height: 24.5px;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-size: 24px 24.5px;
                        object-fit: contain;
                        background-image: url('../../../images/icons/googleplusIcon.png');
                    }
                }

                span {
                    margin-right: 15px;
                }
            }
        }

        .globalFooter-bottom {
            background-color: $whitegrey;
            padding: 0 55px 0 39px;

            .keep-right {
                float: right;
                margin-top: 11px;
            }

            .links {
                text-align: right;
                padding-top: 14px;
                padding-bottom: 14px;
                padding-right: 43px;

                &:last-child {
                    border-right: none;
                }

                a {
                    @include font($font07, 10px, null, $liteBlue2, 0.3px);
                    text-decoration: none;
                }
            }

            .desc {
                @include font($font04, 10px, 1.4, $liteGray2, 0.3px);
                word-wrap: break-word;
                text-align: right;
                margin-top: 17px;
                margin-bottom: 14px;
            }

            .scholastic-logo {
                margin-top: 9px;
                margin-bottom: 9.1px;
                height: 22px;
                max-width: 177.5px;
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-globalFooter-main-container {
        .globalFooter-content {
            .footerContentWrapper {
                height: 150px;

                &.social-links {
                    .footerTitleSocialIcon {
                        border-bottom: none;
                    }

                    .footer-socialIcons {
                        margin-top: 0;
                    }
                }
            }

            .link-wrapper:last-child {
                padding-left: 0;
                margin-right: 0;
                padding-right: 15px;
                max-width: inherit;
            }

            .globalFooter-bottom {
                padding: 0 40px;
                text-align: center;

                .keep-right {
                    margin: 0 auto;

                    .links {
                        &.links-term {
                            text-align: left;
                        }
                    }

                    .desc {
                        text-align: center;
                        margin-bottom: 0;
                        margin-top: 18px;
                        display: block;
                    }
                }
            }

            .social-links-wrapper {
                padding: 0;
            }
        }
    }
}

@include respond-to ('xssmall-and-up') {
    .marketing-globalFooter-main-container {
        .globalFooter-content {
            .globalFooter-bottom {
                height: 169px;

                .scholastic-logo {
                    margin-top: 21px;
                    margin-bottom: 21px;
                    width: 177.5px;
                }

                .keep-right {
                    display: block;

                    .links {
                        padding: 0;
                        position: relative;
                        right: 16px;

                        &.links-term {
                            left: 2px;
                        }

                        a {
                            @include font($font07, 12px, null, $liteBlue2, 0.3px);
                        }
                    }

                    .desc {
                        @include font($font04, 12px, 1.17, $liteGray2, 0.3px);
                        text-align: center;
                        margin-bottom: 0;
                        margin-top: 18px;
                        display: block;
                        position: relative;
                        left: -7px;
                    }
                }
            }

            .footerContentWrapper {
                height: auto;

                &.social-links {
                    .footer-socialIcons {
                        padding-left: 30px;
                    }

                    .footerTitle {
                        max-width: inherit;
                        padding-right: 0;
                        border-bottom-width: 1px;
                        margin-bottom: 21px;
                    }
                }

                .footerTitle {
                    @include font($font09, 17px, 1.18, $white, 0.3px);
                    padding-bottom: 7px;
                    margin-bottom: 14px;
                }

                .footerPhoneNo {
                    margin-bottom: 12px;

                    .phonelink {
                        @include font($font07, 17px, 0.65, $white, 0.8px);
                    }

                    .livelink {
                        @include font($font07, 17px, 1.47, $white, 0.8px);
                    }
                }

                .footerlinks {
                    p {
                        a {
                            @include font($font07, 17px, 1.47, $white, 0.8px);
                        }
                    }
                }
            }
            text-align: center;

            .row {
                padding: 26px 20px 24px;

                .link-wrapper {
                    margin-bottom: 50px;
                    padding: 0;

                    &:last-child {
                        p {
                            margin-top: 12px;

                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }

                    &:first-child {
                        p {
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }
    }
}
