<div data-sly-test="${wcmmode.edit}">Marketing Global Config - Footer Config Component</div>
 <div data-sly-use.footer="com.scholastic.classmags.migration.controllers.GlobalFooterConfigUse">
	<div>--> ${properties.headingTitle}</div>
	<div data-sly-test="${properties.phoneNumber}"><a href="tel:${properties.phoneNumber}">${properties.phoneNumber}</a></div>
	<div data-sly-test="${properties.liveChat}"><a href="${properties.liveChat}">${properties.liveChat}</a></div>
	<div data-sly-list.footerLink="${footer.footerLinks}">
    	-----><a x-cq-linkchecker="skip" href="${footerLink.linkPath}"> ${footerLink.linkText}</a><br/>
	</div>
</div> 
