.issueHigh-wrapper {
    background-color: transparent;

    .issueHigh-content {
        .issueHigh-hash-content {
            display: none;
        }
        
        .issue-tile-wrapper {
            padding-right: 0;
            padding-left: 0;

            .row {
                margin-left: -7.5px;
                margin-right: -7.5px;
            }
            
            .issue-high-des-sec-tiles {
                margin-bottom: 20px;
                padding-right: 7.5px;
                padding-left: 7.5px;
                max-width: 340px;

                .des-sec-tiles-boxshadow {
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
                    border: solid 1px $jrIssueHighTilesBorder;

                    .issueHigh-titles {
                        border-bottom: 4px solid $jrIssueBorderBottom;
                        background-color: $jrIssueHighbackground;
                        max-height: 54px;

                        a {
                            @include font($fontP9, 21px, 0.86, $gray, normal);
                            max-height: 50px;
                            padding-top: 16px;
                            padding-bottom: 16px;
                        }
                    }

                    .key-asset-content {
                        padding: 17px 20px 10px;
                        border: none;

                        .gray-line {
                            width: 30px;
                            height: 4px;
                            border-radius: 100px;
                            background-color: $ashGrey;
                            margin-bottom: 15px;
                        }

                        .key-asset-desc {
                            @include font($fontP4, 17px, 1.29, $black, normal);
                            
                            &.tile-desc {
                                margin-bottom: 17px;
                            }
                        }
                        
                        .social-icons {
                            max-height: 33px;
                        }
                    }
                }
            }
        }

        .issue-highlighting-img {
            padding: 0 11px;
            width: 24%;

            .issue-mag-view-container {
                bottom: 0;
                width: 100%;
                margin-left: 0;

                .issue-mag-view {
                    @include font($fontPE4, 14px, 1.43, $black, 0.3px);
                    background-color: $jrIssueHighButton;
                    color: $black;
                    max-width: 265px;
                    padding: 10px;
                    width: 100%;
                    overflow-y: hidden;
                    min-height: 40px;
                    max-width: 265px;
                }
            }

            .issue-highlight-img-bg {
                border: 0;
                padding: 0;
                background: none;
                height: 416px;

                .issue-img-center {
                    img {
                        @include shadow(rgba(0, 0, 0, 0.5), 2px 4px 8px 0px);
                    }
                }
            }
        }

        .issueHigh-text {
            margin: 0 0 0 40px;

            .text-date {
                @include font($fontP9, 28px, 1.14, $gray, -1px);
                padding-bottom: 18px;
            }
        }

        .magazine-issue-high-component-bg {
            border: solid 1px rgba(204, 204, 204, 0.44);
            background-color: $white;
            margin-left: 40px;
            margin-right: 40px;
            padding-bottom: 28px;

            .text-desc {
                @include font($fontP4, 22px, 1.18, $black, normal);
                margin: 29px 29px 24.5px 34px;
                
                .text-desc-inner-wrapper {
                    float: left;
                    width: 83.8955%;
                    max-width: 1087px;                    
                }

                .text-desc-normal {
                    @include font($fontP4, 22px, 1.18, $black, normal);
                }

                .text-desc-bold {
                    @include font($fontP7, 22px, 1.18, $black, normal);
                }
                
                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
        }

        .issueHigh-header {
            .textHyperlink-container {
                margin-bottom: 8.33px;

                .textHyperlink-wrapper {
                    .textHyperlink-text {
                        padding: 0 0 0 40px;
                    }
                }

                .textHyperlink-link {
                    display: none;
                }
            }

            .issue-high-icons {
                position: relative;
                bottom: 0;
                top: 6px;
            }
        }
    }
}

.top-links-component-main-wrapper {
    .top-links-component-container {
        .hash-container {
            display: none;
        }
        .top-links-content-wrapper {
            padding: 61px 69px 55px 42px;
            .image-wrapper {
                width: 19.94%;
                .magazine-view-button {
                    text-transform: uppercase;
                    margin-top: 32px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    @include font($fontPE4, 14px, 1.43, $black, 0.3px);
                    background-color: $juniorSearchButtonGreen;
                }
            }
            .text-wrapper {
                padding-left: 50px;
                width: 80.06%;
                .title-icon-wrapper {
                    .title-placeholder {
                       @include font($fontP9, 28px, 1.14, $gray, 0.5px);
                    }
                    padding-bottom:16px;
                    border-bottom:2px solid $juniorCurrentIssueBottomBorder;
                }
                .description {
                    margin-top: 18px;
                    @include font($fontP7, 15px, 1.6, $black, 0.5px);
                }
                .featured-assets-wrapper {
                    margin-top:8px;
                    .featured-asset {
                        .junior-content-tile-container {
                            border: 0;
                            .content-tile-body {
                                   background: transparent; 
                                   border:0;
                                   height:215px;                                     
                                .title {                                
                                   @include font($fontP5, 18px, 1.17, $black, 0.3px);
                                }
                                .row{
                                    display:none;
                                    &.junior-content-tile-title,&.junior-content-image-wrapper{
                                        display:block;
                                    }
                                }
                            }
                        }
                    }
                }
                .key-assets-wrapper {
                    margin-top: 29px;
                    .key-asset-container {
                        height: 85px;
                        background-color: $issueTopKeyAssetsBackground;
                        border-bottom: 0;
                        .key-asset {
                            .key-asset-name {
                               @include font($fontP5, 14px, 1, $black, 0.5px);
                            }
                        }
                        .bottomcolor-container {
                            height: 4px;
                            background-color: $juniorBorderBlue;
                        }
                    }
                }
            }
        }
    }
}