<div data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse" data-sly-unwrap>
<div data-sly-test="${wcmmode.edit || globalAccess.visible}" data-sly-unwrap>
<div data-sly-test="${wcmmode.edit && !properties.name}">Configure Misc - People Highlights component</div>
<div data-sly-test="${properties.name}" ng-app="scienceWorld">
	<div class="peopleHightlights-main-container">
    	<div class="peopleHightlights-content">
        	<div class="${properties.textAlignment}" >
            	<div data-sly-test="${properties.fileReference}" class="people-icon">
                	<img src="${properties.fileReference}" />
                </div>
                <div class="peoplehighlight-heading"><p>${properties.name}</p>
                </div>
                <div data-sly-test="${properties.place || properties.teachingGrade}" class="peoplehighlight-subheading">
                	<span data-sly-test="${properties.place}" class="text-right">${properties.place} </span>
                	<span data-sly-test="${properties.teachingGrade}">${properties.teachingGrade}</span>
                </div>
                <div data-sly-test="${properties.testimonialText}" class="peoplehighlight-desc"><p>${properties.testimonialText @context = 'html'}</p>
                </div>
            </div>
        </div>
    </div>
 </div>
 </div>
 </div>
 <div class="clearfix"></div>