.textHyperlink-container-content {
    padding-left: 40px;
    padding-right: 40px;

    .textHyperlink-container-wrapper {
        display: flex;
        align-items: center;

        &.left {
            flex-direction: row;
        }

        &.right {
            flex-direction: row-reverse;
        }

        .textHyperlink-wrapper {
            .textHyperlink-text {
                @include font($fontSE9, 32px, 0.78, red, 0.3px);
                margin: 0;
            }
        }

        .text-link-connector {
            flex-grow: 1;
            height: 5px;
            margin-left: 15px;
            margin-right: 15px;
            position: relative;
            top: 4px;
            border-radius: 100px;

            &.hide-ruler {
                visibility: hidden;
            }
        }

        .textHyperlink-link {
            @include font($fontSL7, 14px, 1, red, 0.5px);
            margin-left: 16px;
            position: relative;
            top: 2px;

            &:focus,
            &:hover {
                text-decoration: none;
            }

            .icon {
                position: relative;
                top: 3px;
                margin-left: 9px;
            }
        }
    }
}
