.marketing-subscription-type {
    background: $bodyGrey;
    padding: 22px 30px 21px;
    width: 459px;
    margin: 40px auto 0;

    .marketing-subscription-type-container {
        .marketing-subscription-type-title {
            span {
                @include font($font07, 28px, null, $gray);
            }
        }

        .marketing-subscription-fields {
            margin-top: 22px;

            .radio-inline {
                @include font($font04, 18px, 1.22, $black, 1px);

                .marketing-subscription-check-icon {
                    vertical-align: middle;
                    margin-right: 10px;
                    position: relative;
                    bottom: 2px;
                }
            }

            input[type=radio] {
                display: none;
            }
        }
    }

    .marketing-subscription-auto-renewal {
        padding-top: 25px;
        margin: 30px 0 0;
        border-top: 1px solid $tabBgGrey;

        .marketing-renewal-title {
            padding: 0;

            span {
                @include font($font07, 18px, null, $gray);
            }
        }

        .marketing-renewal-check {
            padding: 0;
            margin-top: 18px;

            .checkbox {
                margin: 0;

                label {
                    @include font($font04, 16px, 1.25, $black, 1px);
                }

                .renewal-check {
                    display: block;
                    position: relative;
                    padding-left: 32px;
                    margin-bottom: 15px;
                    cursor: pointer;
                    font-size: 18px;
                }

                .renewal-check-indicator {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    background-color: #ffffff;
                    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
                    border: 1px solid #979797;
                    top: 0;
                    left: 0;
                }

                .renewal-check input:checked ~ .renewal-check-indicator:after {
                    display: block;
                }

                .renewal-check .renewal-check-indicator:after {
                    left: 7px;
                    top: 4px;
                    width: 8px;
                    height: 13px;
                    border: solid $liteBlue2;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }

                .renewal-check-indicator:after {
                    content: '';
                    position: absolute;
                    display: none;
                }

                input[type=checkbox] {
                    display: none;
                }
            }
        }
    }

    .marketing-subscription-promo {
        margin-top: 32px;

        .marketing-promo-title {
            span {
                @include font($font04, 16px, 1.38, $black, 0.9px);
            }
        }

        .marketing-promo-desc {
            margin-top: 10px;

            span {
                @include font($font04, 16px, 1.25, $black, 0.5px);
            }
        }

        .marketing-promo-fields {
            margin-top: 16px;

            .marketing-promo-input {
                @include font($font04, 16px, 1.38, $black, 0.9px);
                margin-right: 12px;
                width: 100%;
                height: 40px;
                border: 1.2px solid $tabBgGrey;
            }

            .marketing-promo-apply {
                @include font($font06, 14px, null, $tabBgGrey);
                background: $white;
                display: none;
            }
        }

        .marketing-promo-offers {
            margin-top: 21px;
            position: relative;

            .marketing-promo-info-icon {
                font-size: 20px;
                position: absolute;
            }

            .marketing-promo-info-text {
                @include font($font04, 14px, 1.29, $black, 0.2px);
                color: #4a4a4a;
                margin-left: 28px;
                display: inline-block;
            }
        }
    }

    .marketing-renewal-section {
        margin-top: 21px;

        .marketing-order-number-text {
            @include font($font04, 16px, 1.38, $black, 0.9px);
            display: block;
        }

        .marketing-order-number-val {
            @include font($font04, 16px, 1.38, $black, 0.9px);
            width: 74%;
            height: 40px;
            background-color: $white;
            border: 1.2px solid $tabBgGrey;
            margin-right: 12px;
            float: left;
        }

        .marketing-save-order {
            @include font($font07, 14px, null, $liteBlue2);
            width: 90px;
            height: 40px;
            border-radius: 5px;
            background-color: $white;
            border: 1px solid $liteBlue2;
        }
    }
}
