.breadcrumb-layout {
    margin: 0 0 20px 36px;
    .breadcrumb-active {
        @include font($fontSL4, 13px, 1.08, $breadGray, 0.5px);
        text-decoration: underline;
    }
    .breadcrumb-inactive {
        @include font($fontSL4, 13px, 1.08, $breadGray, 0.5px);
    }
    .greaterthan {
        color: $breadGray;
    }
}
@media (min-width: 1440px) {
    .breadcrumb-layout {
        margin: 0 0 23px 40px;
    }
}