<!--/*

	Issue teaching resources component.

*/-->
<div data-sly-test.placeholder="${!wcmmode.disabled}">
    Issue - Resources Aggregator component
</div>
<div data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse" data-sly-unwrap>
<div data-sly-unwrap data-sly-use.issueTeachingResourcesUse="com.scholastic.classmags.migration.controllers.IssueTeachingResourcesUse">
    <div data-sly-test="${issueTeachingResourcesUse.teachingResources}" class="article-resources-main-container resources-container">
    <!-- <h4 class="iaggregator-related-teaching-title wordBreak">RELATED TEACHING RESOURCES</h4> -->
      <div class="article-resources-content pad30">
            <div data-sly-test="${issueTeachingResourcesUse.teachingResources['video']}" class="row nomarLR article-tiles row-wrapper">
                    <div data-sly-unwrap data-sly-list="${issueTeachingResourcesUse.teachingResources['video']}">
                        <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                            <div class="article-resources-heading">
                              <!-- <span data-sly-test="${itemList.first}" class="icon video-icon"></span> -->
                              <span data-sly-test="${itemList.first}" class="article-title">VIDEOS <span class="contentType-count">(${issueTeachingResourcesUse.teachingResources['video'].size})</span></span>
                            </div>
                            <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "video"
                        position = "vertical"
                        video-length= "${item.videoDuration}"
                        video-id = "${item.videoId}"
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "false"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile>
                    </div>
                    </div>
                    </div>
                     <div data-sly-test="${issueTeachingResourcesUse.teachingResources['skillsSheet']}" class="row nomarLR article-tiles row-wrapper">
                  <div data-sly-unwrap data-sly-list="${issueTeachingResourcesUse.teachingResources['skillsSheet']}">
                        <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                            <div class="article-resources-heading skill-sheet">
                     <span data-sly-test="${itemList.first}" class="article-title">SKILLS SHEETS <span class="contentType-count">(${issueTeachingResourcesUse.teachingResources['skillsSheet'].size})</span></span>
                     <!--
                        <a href="" target="_blank"> <span class="icon download-icon"></span>
                        <span class="download-title">Download All Skills Sheets</span> </a>
                        -->
                  </div>
                            <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=item.pagePath}">

                            <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "skillsSheet"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "${wcmmode.edit || globalAccess.shareableToTeacher ? 'true':'false'}"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url="${globalLink.externalizedDomain}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile> </div>
                    </div>
                    </div>
                    </div>
                     <div data-sly-test="${issueTeachingResourcesUse.teachingResources['game']}" class="row nomarLR article-tiles row-wrapper">
                  <div data-sly-unwrap data-sly-list="${issueTeachingResourcesUse.teachingResources['game']}">
                        <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                            <div class="article-resources-heading">
                              <!-- <span data-sly-test="${itemList.first}" class="icon skillsheet-icon"></span> -->
                              <span data-sly-test="${itemList.first}" class="article-title">GAMES <span class="contentType-count">(${issueTeachingResourcesUse.teachingResources['game'].size})</span></span>
                            </div>

                             <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "game"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "false"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url=""
                        view-article-link-url="${item.articlePagePath}"
                        game-id="${item.gameModel.containerId @ context='text'}"
                        game-flash-container="${item.gameModel.containerPath @ context='uri'}"
						game-path="${item.gameModel.gamePath @ context='uri'}"
						game-type="${item.gameModel.gameType}"
            bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile>
                    </div>
                    </div>
                    </div>
                     <div data-sly-test="${issueTeachingResourcesUse.teachingResources['slideshow']}" class="row nomarLR article-tiles row-wrapper">
                  <div data-sly-unwrap data-sly-list="${issueTeachingResourcesUse.teachingResources['slideshow']}">
                        <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                            <div class="article-resources-heading">
                              <!-- <span data-sly-test="${itemList.first}" class="icon skillsheet-icon"></span> -->
                              <span data-sly-test="${itemList.first}" class="article-title">SLIDESHOWS <span class="contentType-count">(${issueTeachingResourcesUse.teachingResources['slideshow'].size})</span></span>
                            </div>

                            <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "article"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "false"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url=""
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile>
                    </div>
                    </div>
                    </div>
                     <div data-sly-test="${issueTeachingResourcesUse.teachingResources['lessonPlan']}" class="row nomarLR article-tiles row-wrapper">
                  <div data-sly-unwrap data-sly-list="${issueTeachingResourcesUse.teachingResources['lessonPlan']}">
                        <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                            <div class="article-resources-heading">
                              <!-- <span data-sly-test="${itemList.first}" class="icon skillsheet-icon"></span> -->
                              <span data-sly-test="${itemList.first}" class="article-title">LESSON PLAN <span class="contentType-count">(${issueTeachingResourcesUse.teachingResources['lessonPlan'].size})</span></span>
                            </div>
                            <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=item.pagePath}">

                            <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "lessonPlan"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "${wcmmode.edit || globalAccess.shareableToTeacher ? 'true':'false'}"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url="${globalLink.externalizedDomain}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile> </div>
                    </div>
                    </div>
                    </div>
                     <div data-sly-test="${issueTeachingResourcesUse.teachingResources['download']}" class="row nomarLR article-tiles row-wrapper">
                  <div data-sly-unwrap data-sly-list="${issueTeachingResourcesUse.teachingResources['download']}">
                        <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                            <div class="article-resources-heading">
                              <!-- <span data-sly-test="${itemList.first}" class="icon skillsheet-icon"></span> -->
                              <span data-sly-test="${itemList.first}" class="article-title">DOWNLOAD <span class="contentType-count">(${issueTeachingResourcesUse.teachingResources['download'].size})</span></span>
                            </div>
                            <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=item.pagePath}">

                            <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "download"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "${wcmmode.edit || globalAccess.shareableToTeacher ? 'true':'false'}"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url="${globalLink.externalizedDomain}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile> </div>
                    </div>
                    </div>
                    </div>
                     <div data-sly-test="${issueTeachingResourcesUse.teachingResources['poll']}" class="row nomarLR article-tiles row-wrapper">
                  <div data-sly-unwrap data-sly-list="${issueTeachingResourcesUse.teachingResources['poll']}">
                        <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                            <div class="article-resources-heading">
                              <!-- <span data-sly-test="${itemList.first}" class="icon skillsheet-icon"></span> -->
                              <span data-sly-test="${itemList.first}" class="article-title">POLL <span class="contentType-count">(${issueTeachingResourcesUse.teachingResources['poll'].size})</span></span>
                            </div>
                            <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=item.pagePath}">

                            <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "article"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "${wcmmode.edit || globalAccess.shareableToTeacher ? 'true':'false'}"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url="${globalLink.externalizedDomain}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile> </div>
                    </div>
                    </div>
                    </div>
                     <div data-sly-test="${issueTeachingResourcesUse.teachingResources['blog']}" class="row nomarLR article-tiles row-wrapper">
                  <div data-sly-unwrap data-sly-list="${issueTeachingResourcesUse.teachingResources['blog']}">
                        <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                            <div class="article-resources-heading">
                              <!-- <span data-sly-test="${itemList.first}" class="icon skillsheet-icon"></span> -->
                              <span data-sly-test="${itemList.first}" class="article-title">BLOG <span class="contentType-count">(${issueTeachingResourcesUse.teachingResources['blog'].size})</span></span>
                            </div>
                            <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=item.pagePath}">

                            <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "article"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "${wcmmode.edit || globalAccess.shareableToTeacher ? 'true':'false'}"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url="${globalLink.externalizedDomain}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile> </div>
                    </div>
                    </div>
                    </div>
                     <div data-sly-test="${issueTeachingResourcesUse.teachingResources['article']}" class="row nomarLR article-tiles row-wrapper">
                  <div data-sly-unwrap data-sly-list="${issueTeachingResourcesUse.teachingResources['article']}">
                        <div class="col-md-3 col-sm-4 col-xs-6 pad10">
                            <div class="article-resources-heading">
                             <!--  <span data-sly-test="${itemList.first}" class="icon skillsheet-icon"></span> -->
                              <span data-sly-test="${itemList.first}" class="article-title">ARTICLE <span class="contentType-count">(${issueTeachingResourcesUse.teachingResources['article'].size})</span></span>
                            </div>
                            <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=item.pagePath}">

                            <sw-content-tile
                        image-src = "${item.imagePath}"
                        image-hyperlink = "${item.pagePath}"
                        content-title =  "${item.title}"
                        display-date = ""
                        subject ="${item.formattedTags}"
                        description = "${item.description}"
                        content-type = "article"
                        position = "vertical"
                        video-length= ""
                        video-id = ""
                        style-type = "regular"
                        show-download-icon = "${item.contentTileFlags.getStringValueOfDownloadEnabled}"
                        show-share-icon = "${wcmmode.edit || globalAccess.shareableToTeacher ? 'true':'false'}"
                        show-view-article-link="${item.contentTileFlags.getStringValueOfViewArticleEnabled}"
                        user-role="${item.userRole}"
                        share-link-url="${globalLink.externalizedDomain}"
                        view-article-link-url="${item.articlePagePath}"
                        bookmark-path="${item.bookmarkPath}"
            ></sw-content-tile> </div>
                    </div>
            </div>
          </div>
          </div>
          <!--Modal Starts-->
          <!-- <div class="modal fade" id="iTeachingResourcesVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">x</span>
                  </button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                </div>
              </div>
            </div>
            Modal Ends
          </div> -->
    </div>
</div>
</div><div class="vpaddingComponent-container">
	<div class="vpaddingComponent-content vheight40">
	</div>
</div>
