.app-nav-bar-main-container {
    .logged-in-dropdown {
        .login-menu {
            top: 90px;

            &:before, &:after{
                left:255px;
            }

            .dropdown-title, .subscription {
                @include font($fontC6, 14px, 0.89, $black, normal);
            }

            #sdm-portal-link, #sdm-logout {
                @include font($fontB8, 14px, 1, $mathCurrIssueButtonBlue, 0.5px);
                color: $mathCurrIssueButtonBlue !important;
            }

            .dropdown-title, .subscription {
                @include font($fontC6, 14px, 0.89, $black, normal);
            }

            #sdm-portal-link, #sdm-logout {
                @include font($fontB8, 14px, 1, $mathCurrIssueButtonBlue, 0.5px);
                color: $mathCurrIssueButtonBlue !important;
            }
        }

        &.open {
            a:focus {
                background-color: $mathGlobalFooterBg;
            }

            .login-toggle {
                background-color: $mathGlobalFooterBg;

                &:hover {
                    background-color: $mathGlobalFooterBg;
                }
            }
        }

        .login-toggle {
            padding-right: 0;
        }
    }

    .app-nav-primary {
        background-color: $mathGlobalFooterBg;
        box-shadow: 0 2px 4px 0 $mathGlobalNavBoxShadow;
    }

    .navbar-default {
        border-bottom: 0;
    }

    .science-logo {
        padding-top: 8px;
        padding-bottom: 10px;
        margin-left: 26px;
        margin-right: 4px;

        a {
            background: url("../../../images/globalNav/math-logo.png") no-repeat center;
            padding-top: 40px;
            padding-bottom: 41px;
            background-size: 100%;
        }
    }

    .dropdown {
        .app-nav-main-item-link {
            @include font($fontB8, 13px, null, $mathGlobalNavLinkBlue, 0.5px);
            line-height: normal;
            padding-top: 46px;
            padding-bottom: 45px;

            &:active,
            &:focus,
            &:hover {
                @include font($fontB8, 13px, null, $mathGlobalNavLinkBlue, 0.5px);
                line-height: normal;
            }
        }
    }

    .nav-search-form {
        margin-top: 41px;

        input {
            @include font($fontB4, 13px, null, $globinpPlaceholdText, 0.5px);
            line-height: normal;
            background-color: $mathSearchFormBackgroundColor;

            &:-moz-placeholder,
            &::-moz-placeholder,
            &::-webkit-input-placeholder,
            :-ms-input-placeholder {
                @include font($fontB4, 13px, null, $globinpPlaceholdText, 0.5px);
                line-height: normal;
            }
        }

        button {
            background-color: $mathSearchButtonBlue;
            @include font($fontB7, 13px, 1.08, $white, 0.5px);
            border: 0;
        }
    }

    .logged-in-dropdown {
        .login-toggle {
            padding-top: 36px;
            padding-right: 26px;
        }
    }

    .app-navbar-secondary {
        background-color: $mathExploreBarGrey;
        border: 1px solid $exploreBarBorderGrey;

        .secondary-items {
            li {
                a {
                    @include font($fontB8, 12px, 1.17, $mathExploreBarBlueFont, 1px);
                    padding: 13px 15px;

                    &:active,
                    &:focus,
                    &:hover {
                        @include font($fontB8, 12px, 1.17, $mathExploreBarBlueFont, 1px);
                    }
                }
            }

            .explore {
                @include font($fontB8, 13px, 1.08, $globalNavExporeGray, 0.5px);
                padding-right: 1px;
                padding-left: 26px;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontB8, 13px, 1.08, $globalNavExporeGray, 0.5px);
                }
            }
        }
    }

    .login-control {
        padding-top: 33px;
        padding-left: 5px;
        padding-right: 26px;

        li {
            a {
                @include font($fontB8, 13px, null, $mathGlobalNavLinkBlue, 0.5px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontB8, 13px, null, $mathGlobalNavLinkBlue, 0.5px);
                    line-height: normal;
                }
            }
        }

        .subscribe-text {
            @include font($fontB7, 11px, null, $mathGlobalNavLinkBlue, 0.5px);
            line-height: normal;

            &:active,
            &:focus,
            &:hover {
                @include font($fontB7, 11px, null, $mathGlobalNavLinkBlue, 0.5px);
                line-height: normal;
            }
        }

        .dropdown {
            .delimitter,
            .magazine {
                @include font($fontB8, 16px, null, $mathGlobalNavLinkBlue, 0.5px);
                line-height: normal;
            }
        }
    }
    @media (min-width:1440px) {
        .science-logo {
            padding-left: 25px;
            padding-right: 5px;
            width: 220px;
            margin-left: 1px;

            a {
                padding-top: 45px;
                padding-bottom: 46px;
            }
        }

        .dropdown {
            .app-nav-main-item-link {
                @include font($fontB8, 16px, null, $mathGlobalNavLinkBlue, 0.5px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontB8, 16px, null, $mathGlobalNavLinkBlue, 0.5px);
                    line-height: normal;
                }
            }

            .delimitter,
            .magazine {
                @include font($fontB8, 16px, null, $mathGlobalNavLinkBlue, 0.5px);
                line-height: normal;

                &:active,
                &:focus,
                &:hover {
                    @include font($fontB8, 16px, null, $mathGlobalNavLinkBlue, 0.5px);
                    line-height: normal;
                }
            }

            .magazine {
                &.bookmarks {
                    padding-left: 18px;
                }
            }
        }

        .logged-in-dropdown {
            .login-toggle {
                padding-bottom: 11.5px;
            }

            &.open {
                a:focus {
                    background-color: $mathGlobalFooterBg;
                }

                .login-toggle {
                    background-color: $mathGlobalFooterBg;

                    &:hover {
                        background-color: $mathGlobalFooterBg;
                    }
                }
            }
        }
    }

    @include respond-to ('small-and-down') {
        .magazine-logo-tablet-mobile {
            background: url('../../../images/globalNav/math-logo.png') no-repeat center;
            background-size: 95%;
            height: 68px;
        }
    }

    @include respond-to ('xssmall') {
        .magazine-logo-tablet-mobile {
            height: 59px;
        }
    }
}
