<div class="container-fluid tab-component-layout nopadLR">
    <ul class="nav nav-tabs main-tabs">
        <li ng-repeat="tab in tabs track by $index">
            <a data-toggle="tab" href="#{{tab.id}}">
                <span class="tab-names">{{tab.name}}</span>
            </a>
        </li>
    </ul>
    <div class="tab-content main-tab-content">
        <div id="{{tab.id}}" class="tab-pane fade" ng-repeat="tab in tabs track by $index">
            <h3>{{tab.desc}}</h3>
        </div>
    </div>
</div>

