.peopleHightlights-main-container {
    .peopleHightlights-content {
        padding-left: 30px;
        padding-right: 30px;
        background-color: $white;
        .peopleHighlights-sections {
            padding: 40px 30px 30px 30px;
            background-color: $white;
            .peopleHighlights-sections-wrapper {
                border: 1px solid $dimLiteGray;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
                padding-left: 59px;
                padding-right: 58px;
                margin: 1px;
            }
        }
        .people-icon {
            margin: 0 auto;
            position: relative;
            width: 210px;
            height: 210px;
            border-radius: 50%;
            margin-bottom: 20px;
            img {
                @include center-both;
                width: 210px;
                height: 210px;
                border-radius: 50%;
                margin-top: 40px;
            }
        }
        .peoplehighlight-heading {
            @include font($fontN5, 22.8px, null, $black, 0.8px);
            padding-bottom: 11px;
            padding-top: 40px;
        }
        .peoplehighlight-subheading {
            @include font($font04, 11px, 1.77, $liteAsh8, 0.8px);
            padding-bottom: 25px;
            text-transform: uppercase;
            span {
                padding: 0 5px;
                border-right: 2px solid $darkRed;
            }
            span:last-child {
                border-right: none;
            }
        }
        .peoplehighlight-desc {
            @include font($font04, 12px, 1.5, $black, 0.4px);
            word-wrap: break-word;
            padding-bottom: 20px;
        }
        .pull-left {
            .peoplehighlight-subheading {
                span:first-child {
                    padding-left: 0;
                }
            }
        }
        .pull-right {
            text-align: right;
        }
    }
}

@include respond-to('medium-and-up') {
    .peopleHightlights-main-container {
        .peopleHightlights-content {
            .peopleHighlights-sections {
                .peopleHighlights-sections-wrapper {
                    padding-left: 13px;
                    padding-right: 13px;
                }
            }
        }
    }
}
