<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>Configure Marketing Review Submit</div>

<div data-sly-use.billing="com.scholastic.classmags.migration.controllers.SubscribeBillingUse" data-sly-unwrap>
    <div class="marketing-review-submit">
        <div class="row">
            <div class="col-md-12 marketing-review-submit-title">
                <span>${properties.reviewLabel}</span>
            </div>
        </div>

        <div class="subscription-address-form">
            <div class="subscription-billing-address-form">
                <div class="row subscription-address-container">
                    <div class="col-md-12 subscription-billing-title">
                        <span>${properties.billingInformation}</span>
                        <a href="javascript:void(0)" class="subscription-billing-edit pull-right" ng-show="!isBillingEdit" ng-click="isBillingEdit = true;">Edit</a>
                        <button class="subscription-billing-save pull-right" ng-show="isBillingEdit" ng-click="isBillingEdit = false;">Save</button>
                    </div>
                    <div class="col-md-12 subscription-billing-options" ng-show="isBillingEdit" data-sly-test="${billing.valueMap['billingOption']}">
                        <div data-sly-list.child="${billing.valueMap['billingOption']}" data-sly-unwrap>
                            <label class="radio" data-sly-test="${childList.index == 0}"><span class="marketing-subscription-check-icon sw-icon radio-unchecked-big-icon" ng-show="billingOption !== '${child}'"></span><span class="marketing-subscription-check-icon sw-icon radio-checked-big-icon" ng-show="billingOption === '${child}'"></span><input type="radio" name="billingOption1" ng-model="billingOption" ng-value="'${child}'">${child}</label>
                            <label class="radio" data-sly-test="${childList.index == 1}"><span class="marketing-subscription-check-icon sw-icon radio-unchecked-big-icon" ng-show="billingOption !== '${child}'"></span><span class="marketing-subscription-check-icon sw-icon radio-checked-big-icon" ng-show="billingOption === '${child}'"></span><input type="radio" name="billingOption1" ng-model="billingOption" ng-value="'${child}'">${child}</label>
                        </div>
                    </div>

                    <div class="col-md-12 subscription-address-details-display billing-details" ng-show="!isBillingEdit">
                        <span class="subscription-billing-option-text">{{billingOption}}</span>
                        <span>{{billing.name}}</span>
                        <span>{{billing.email}}</span>
                        <span>{{billing.school}}</span>
                        <span>{{billing.address1}}</span>
                        <span>{{billing.address2}}</span>
                        <span>{{billing.city}}</span>
                        <span>{{billing.state}}</span>
                        <span>{{billing.zip}}</span>
                        <span>{{billing.phone}}</span>
                    </div>
                    <div class="col-md-12 subscription-address-details" ng-show="isBillingEdit">
                        <form name="reviewBillingAddressForm" novalidate role="form">
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['fullNameLabel']}">
                                <label for="billingName1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['fullNameLabel']}</label>
                                <input type="text" ng-class="{'error': (reviewBillingAddressForm.$submitted && reviewBillingAddressForm.billingName1.$pristine) || (reviewBillingAddressForm.billingName1.$invalid && reviewBillingAddressForm.billingName1.$touched)}" ng-required="true"
                                    ng-model="billing.name" ng-blur="validate(reviewBillingAddressForm.billingName1)" data-error="${billing.valueMap['nameMessage']}" class="form-control subscription-address-val" id="billingName1" name="billingName1" />
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['emailLabel']}">
                                <label for="billingEmail1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['emailLabel']}</label>
                                <input type="email" ng-class="{'error': (reviewBillingAddressForm.$submitted && reviewBillingAddressForm.billingEmail1.$pristine) || (reviewBillingAddressForm.billingEmail1.$invalid && reviewBillingAddressForm.billingEmail1.$touched) || (reviewBillingAddressForm.billingEmail1.$error.pattern)}"
                                    ng-pattern="/^[\u00C0-\u1FFF\u2C00-\uD7FF\w._%+-]+@[\u00C0-\u1FFF\u2C00-\uD7FF\w.-]+\.[\u00C0-\u1FFF\u2C00-\uD7FF\w]{2,4}$/" ng-required="true" ng-model="billing.email" class="form-control subscription-address-val" id="billingEmail1"
                                    name="billingEmail1" ng-blur="validate(reviewBillingAddressForm.billingEmail1)" data-error="${billing.valueMap['emailMessage']}" />
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['schoolNameLabel']}">
                                <label for="billingSchool1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['schoolNameLabel']}</label>
                                <input type="text" ng-class="{'error': (reviewBillingAddressForm.$submitted && reviewBillingAddressForm.billingSchool1.$pristine) || (reviewBillingAddressForm.billingSchool1.$invalid && reviewBillingAddressForm.billingSchool1.$touched)}" ng-required="true"
                                    ng-model="billing.school" class="form-control subscription-address-val" id="billingSchool1" name="billingSchool1" data-error="${billing.valueMap['schoolmessage']}" ng-blur="validate(reviewBillingAddressForm.billingSchool1)"
                                />
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['addressLine1Label']}">
                                <label for="billing1Address1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['addressLine1Label']}</label>
                                <input type="text" ng-class="{'error': (reviewBillingAddressForm.$submitted && reviewBillingAddressForm.billing1Address1.$pristine) || (reviewBillingAddressForm.billing1Address1.$invalid && reviewBillingAddressForm.billing1Address1.$touched)}" ng-required="true"
                                    ng-model="billing.address1" class="form-control subscription-address-val" id="billing1Address1" name="billing1Address1" data-error="${billing.valueMap['addressmessage']}" ng-blur="validate(reviewBillingAddressForm.billing1Address1)"
                                />
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['addressLine2Label']}">
                                <label for="billing1Address2" class="subscription-address-text">${billing.valueMap['addressLine2Label']}</label>
                                <input type="text" ng-model="billing.address2" class="form-control subscription-address-val" name="billing1Address2" id="billing1Address2">
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['cityLabel']}">
                                <label for="billingCity1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['cityLabel']}</label>
                                <input type="text" ng-class="{'error': (reviewBillingAddressForm.$submitted && reviewBillingAddressForm.billingCity1.$pristine) || (reviewBillingAddressForm.billingCity1.$invalid && reviewBillingAddressForm.billingCity1.$touched)}" ng-required="true"
                                    ng-model="billing.city" class="form-control subscription-address-val" id="billingCity1" name="billingCity1" data-error="${billing.valueMap['cityMessage']}" ng-blur="validate(reviewBillingAddressForm.billingCity1)" />
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['stateLabel']}">
                                <label for="billingState1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['stateLabel']}</label>
                                <select class="form-control" ng-required="true" ng-blur="validate(reviewBillingAddressForm.billingState1)" data-error="Whoops, please select state" ng-class="{'error': (reviewBillingAddressForm.$submitted && reviewBillingAddressForm.billingState1.$pristine) || (reviewBillingAddressForm.billingState1.$invalid && reviewBillingAddressForm.billingState1.$touched)}"
                                    ng-model="billing.state" id="billingState1" name="billingState1">
                                    <option value="">Select</option>
                                    <option value="Michigan">Michigan</option>
                                    <option value="Alabama">Alabama</option>
                                    <option value="Alaska">Alaska</option>
                                    <option value="Arizona">Arizona</option>
                                    <option value="Arkansas">Arkansas</option>
                                    <option value="California">California</option>
                                    <option value="Colorado">Colorado</option>
                                    <option value="Connecticut">Connecticut</option>
                                    <option value="District of Columbia">District of Columbia</option>
                                    <option value="Delaware">Delaware</option>
                                    <option value="Florida">Florida</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="Hawaii">Hawaii</option>
                                    <option value="Idaho">Idaho</option>
                                    <option value="Illinois">Illinois</option>
                                    <option value="Indiana">Indiana</option>
                                    <option value="Iowa">Iowa</option>
                                    <option value="Kansas">Kansas</option>
                                    <option value="Kentucky">Kentucky</option>
                                    <option value="Louisiana">Louisiana</option>
                                    <option value="Maine">Maine</option>
                                    <option value="Maryland">Maryland</option>
                                    <option value="Massachusetts">Massachusetts</option>
                                    <option value="Michigan">Michigan</option>
                                    <option value="Minnesota">Minnesota</option>
                                    <option value="Mississippi">Mississippi</option>
                                    <option value="Missouri">Missouri</option>
                                    <option value="Montana">Montana</option>
                                    <option value="Nebraska">Nebraska</option>
                                    <option value="Nevada">Nevada</option>
                                    <option value="New Hampshire">New Hampshire</option>
                                    <option value="New Jersey">New Jersey</option>
                                    <option value="New Mexico">New Mexico</option>
                                    <option value="New York">New York</option>
                                    <option value="North Carolina">North Carolina</option>
                                    <option value="North Dakota">North Dakota</option>
                                    <option value="Ohio">Ohio</option>
                                    <option value="Oklahoma">Oklahoma</option>
                                    <option value="Oregon">Oregon</option>
                                    <option value="Pennsylvania">Pennsylvania</option>
                                    <option value="Rhode Island">Rhode Island</option>
                                    <option value="South Carolina">South Carolina</option>
                                    <option value="South Dakota">South Dakota</option>
                                    <option value="Tennessee">Tennessee</option>
                                    <option value="Texas">Texas</option>
                                    <option value="Utah">Utah</option>
                                    <option value="Vermont">Vermont</option>
                                    <option value="Virginia">Virginia</option>
                                    <option value="Washington">Washington</option>
                                    <option value="West Virginia">West Virginia</option>
                                    <option value="Wisconsin">Wisconsin</option>
                                    <option value="Wyoming">Wyoming</option>
                                    </select>
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['zipCodeLabel']}">
                                <label for="billingZip1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['zipCodeLabel']}</label>
                                <input type="text" ng-class="{'error': (reviewBillingAddressForm.$submitted && reviewBillingAddressForm.billingZip1.$pristine) || (reviewBillingAddressForm.billingZip1.$invalid && reviewBillingAddressForm.billingZip1.$touched) || (billingAddressForm.billingZip1.$error.pattern)}" ng-required="true" ng-model="billing.zip"
                                    class="form-control subscription-address-val" id="billingZip1" name="billingZip1" maxLength="5" ng-pattern="/^(\d{5})$/" data-error="${billing.valueMap['zipCodeMessage']}" ng-blur="validate(reviewBillingAddressForm.billingZip1)" />
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['phoneNumberLabel']}">
                                <label for="billingPhone1" class="subscription-address-text">${billing.valueMap['phoneNumberLabel']}</label>
                                <input type="text" ng-model="billing.phone" maxLength="12" ng-keypress="formatPhoneNumber($event)" ng-keyup="formatPhoneNumber($event)" class="form-control subscription-address-val" id="billingPhone1" name="billingPhone1">
                            </div>
                            <button class="subscription-billing-save pull-right" ng-click="isBillingEdit = false;">Save</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="subscription-billing-address-form subscription-shipping-address-form">
                <div class="row subscription-address-container">
                    <div class="col-md-12 subscription-billing-title">
                        <span>${properties.shippingInformation}</span>
                        <a href="javascript:void(0)" class="subscription-billing-edit pull-right" ng-show="!isShippingEdit" ng-click="isShippingEdit = true; isBilling = false;">Edit</a>
                        <button class="subscription-billing-save pull-right" ng-show="isShippingEdit" ng-click="isShippingEdit = false;">Save</button>
                    </div>
                    <div class="col-md-12 subscription-address-details-display shipping-details" ng-show="!isShippingEdit">
                        <span class="shipping-name">{{shipping.name}}</span>
                        <span>{{shipping.email}}</span>
                        <span>{{shipping.school}}</span>
                        <span>{{shipping.address1}}</span>
                        <span>{{shipping.address2}}</span>
                        <span>{{shipping.city}}</span>
                        <span>{{shipping.state}}</span>
                        <span>{{shipping.zip}}</span>
                        <span>{{shipping.phone}}</span>
                    </div>
                    <div class="col-md-12 subscription-address-details shipping-details" ng-show="isShippingEdit">
                        <form name="reviewShippingAddressForm" novalidate role="form">
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['fullNameLabel']}">
                                <label for="shippingName1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['fullNameLabel']}</label>
                                <input type="text" ng-class="{'error': (reviewShippingAddressForm.$submitted && reviewShippingAddressForm.shippingName1.$pristine) || (reviewShippingAddressForm.shippingName1.$invalid && reviewShippingAddressForm.shippingName1.$touched)}" ng-required="true"
                                    ng-model="shipping.name" ng-blur="validate(reviewShippingAddressForm.shippingName1)" data-error="${billing.valueMap['nameMessage']}" class="form-control subscription-address-val" id="shippingName1" name="shippingName1"
                                />
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['emailLabel']}">
                                <label for="shippingEmail1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['emailLabel']}</label>
                                <input type="email" ng-class="{'error': (reviewShippingAddressForm.$submitted && reviewShippingAddressForm.shippingEmail1.$pristine) || (reviewShippingAddressForm.shippingEmail1.$invalid && reviewShippingAddressForm.shippingEmail1.$touched) || (reviewShippingAddressForm.shippingEmail1.$error.pattern)}"
                                    ng-pattern="/^[\u00C0-\u1FFF\u2C00-\uD7FF\w._%+-]+@[\u00C0-\u1FFF\u2C00-\uD7FF\w.-]+\.[\u00C0-\u1FFF\u2C00-\uD7FF\w]{2,4}$/" ng-required="true" ng-model="shipping.email" class="form-control subscription-address-val" id="shippingEmail1"
                                    name="shippingEmail1" ng-blur="validate(reviewShippingAddressForm.shippingEmail1)" data-error="${billing.valueMap['emailMessage']}" />
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['schoolNameLabel']}">
                                <label for="shippingSchool1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['schoolNameLabel']}</label>
                                <input type="text" ng-class="{'error': (reviewShippingAddressForm.$submitted && reviewShippingAddressForm.shippingSchool1.$pristine) || (reviewShippingAddressForm.shippingSchool1.$invalid && reviewShippingAddressForm.shippingSchool1.$touched)}" ng-required="true"
                                    ng-model="shipping.school" class="form-control subscription-address-val" id="shippingSchool1" name="shippingSchool1" data-error="${billing.valueMap['schoolmessage']}" ng-blur="validate(reviewShippingAddressForm.shippingSchool1)"
                                />
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['addressLine1Label']}">
                                <label for="shipping1Address1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['addressLine1Label']}</label>
                                <input type="text" ng-class="{'error': (reviewShippingAddressForm.$submitted && reviewShippingAddressForm.shipping1Address1.$pristine) || (reviewShippingAddressForm.shipping1Address1.$invalid && reviewShippingAddressForm.shipping1Address1.$touched)}"
                                    ng-required="true" ng-model="shipping.address1" class="form-control subscription-address-val" id="shipping1Address1" name="shipping1Address1" data-error="${billing.valueMap['addressmessage']}" ng-blur="validate(reviewShippingAddressForm.shipping1Address1)"
                                />
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['addressLine2Label']}">
                                <label for="shipping2Address2" class="subscription-address-text">${billing.valueMap['addressLine2Label']}</label>
                                <input type="text" ng-model="shipping.address2" class="form-control subscription-address-val" name="shipping2Address2" id="shipping2Address2">
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['cityLabel']}">
                                <label for="shippingCity1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['cityLabel']}</label>
                                <input type="text" ng-class="{'error': (reviewShippingAddressForm.$submitted && reviewShippingAddressForm.shippingCity1.$pristine) || (reviewShippingAddressForm.shippingCity1.$invalid && reviewShippingAddressForm.shippingCity1.$touched)}" ng-required="true"
                                    ng-model="shipping.city" class="form-control subscription-address-val" id="shippingCity1" name="shippingCity1" data-error="${billing.valueMap['cityMessage']}" ng-blur="validate(reviewShippingAddressForm.shippingCity1)"
                                />
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['stateLabel']}">
                                <label for="shippingState1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['stateLabel']}</label>
                                <select class="form-control" ng-required="true" ng-blur="validate(reviewShippingAddressForm.shippingState1)" data-error="Whoops, please select state" ng-class="{'error': (reviewShippingAddressForm.$submitted && reviewShippingAddressForm.shippingState1.$pristine) || (reviewShippingAddressForm.shippingState1.$invalid && reviewShippingAddressForm.shippingState1.$touched)}"
                                    ng-model="shipping.state" id="shippingState1" name="shippingState1">
                                    <option value="">Select</option>
                                    <option value="Michigan">Michigan</option>
                                    <option value="Alabama">Alabama</option>
                                    <option value="Alaska">Alaska</option>
                                    <option value="Arizona">Arizona</option>
                                    <option value="Arkansas">Arkansas</option>
                                    <option value="California">California</option>
                                    <option value="Colorado">Colorado</option>
                                    <option value="Connecticut">Connecticut</option>
                                    <option value="District of Columbia">District of Columbia</option>
                                    <option value="Delaware">Delaware</option>
                                    <option value="Florida">Florida</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="Hawaii">Hawaii</option>
                                    <option value="Idaho">Idaho</option>
                                    <option value="Illinois">Illinois</option>
                                    <option value="Indiana">Indiana</option>
                                    <option value="Iowa">Iowa</option>
                                    <option value="Kansas">Kansas</option>
                                    <option value="Kentucky">Kentucky</option>
                                    <option value="Louisiana">Louisiana</option>
                                    <option value="Maine">Maine</option>
                                    <option value="Maryland">Maryland</option>
                                    <option value="Massachusetts">Massachusetts</option>
                                    <option value="Michigan">Michigan</option>
                                    <option value="Minnesota">Minnesota</option>
                                    <option value="Mississippi">Mississippi</option>
                                    <option value="Missouri">Missouri</option>
                                    <option value="Montana">Montana</option>
                                    <option value="Nebraska">Nebraska</option>
                                    <option value="Nevada">Nevada</option>
                                    <option value="New Hampshire">New Hampshire</option>
                                    <option value="New Jersey">New Jersey</option>
                                    <option value="New Mexico">New Mexico</option>
                                    <option value="New York">New York</option>
                                    <option value="North Carolina">North Carolina</option>
                                    <option value="North Dakota">North Dakota</option>
                                    <option value="Ohio">Ohio</option>
                                    <option value="Oklahoma">Oklahoma</option>
                                    <option value="Oregon">Oregon</option>
                                    <option value="Pennsylvania">Pennsylvania</option>
                                    <option value="Rhode Island">Rhode Island</option>
                                    <option value="South Carolina">South Carolina</option>
                                    <option value="South Dakota">South Dakota</option>
                                    <option value="Tennessee">Tennessee</option>
                                    <option value="Texas">Texas</option>
                                    <option value="Utah">Utah</option>
                                    <option value="Vermont">Vermont</option>
                                    <option value="Virginia">Virginia</option>
                                    <option value="Washington">Washington</option>
                                    <option value="West Virginia">West Virginia</option>
                                    <option value="Wisconsin">Wisconsin</option>
                                    <option value="Wyoming">Wyoming</option>
                                    </select>
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['zipCodeLabel']}">
                                <label for="shippingZip1" class="subscription-address-text"><span class="required">*</span>${billing.valueMap['zipCodeLabel']}</label>
                                <input type="text" ng-class="{'error': (reviewShippingAddressForm.$submitted && reviewShippingAddressForm.shippingZip1.$pristine) || (reviewShippingAddressForm.shippingZip1.$invalid && reviewShippingAddressForm.shippingZip1.$touched) || (billingAddressForm.shippingZip1.$error.pattern)}" ng-required="true"
                                    ng-model="shipping.zip" class="form-control subscription-address-val" id="shippingZip1" maxLength="5" ng-pattern="/^(\d{5})$/" name="shippingZip1" data-error="${billing.valueMap['zipCodeMessage']}" ng-blur="validate(reviewShippingAddressForm.shippingZip1)" />
                            </div>
                            <div class="form-group subscription-address-group" data-sly-test="${billing.valueMap['phoneNumberLabel']}">
                                <label for="shippingPhone1" class="subscription-address-text">${billing.valueMap['phoneNumberLabel']}</label>
                                <input type="text" ng-model="shipping.phone" maxLength="12" ng-keypress="formatPhoneNumber($event)" ng-keyup="formatPhoneNumber($event)" class="form-control subscription-address-val" id="shippingPhone1" name="shippingPhone1">
                            </div>
                            <button class="subscription-billing-save pull-right" ng-click="isShippingEdit = false;">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="marketing-review-submit marketing-review-submit-subscription" data-sly-use.subscription="com.scholastic.classmags.migration.controllers.SubscriptionTypeUse">
    <div class="marketing-subscription-type">
        <div class="row marketing-subscription-type-container">
            <div class="col-md-12 marketing-subscription-type-title">
                <span>${properties.subscriptionType}</span>
                <a href="javascript:void(0)" class="subscription-type-edit pull-right" ng-show="!isSubscriptionTypeEdit" ng-click="isSubscriptionTypeEdit = true;">Edit</a>
                <button class="subscription-type-save pull-right" ng-show="isSubscriptionTypeEdit" ng-click="isSubscriptionTypeEdit = false;">Save</button>
            </div>
            <div class="col-md-12 marketing-subscription-fields" ng-show="isSubscriptionTypeEdit">
                <div data-sly-list.child="${subscription.valueMap['subscriptionOption']}" data-sly-unwrap>
                    <label class="radio-inline" data-sly-test="${childList.index == 0}">
                      <span class="marketing-subscription-check-icon sw-icon radio-unchecked-big-icon" ng-show="!subscriptionType.newSubscription"></span>
                      <span class="marketing-subscription-check-icon sw-icon radio-checked-big-icon" ng-show="subscriptionType.newSubscription"></span>
                      <input type="radio" name="subscriptionType" ng-model="subscriptionType.newSubscription" ng-change="setSubscription('${child}')" ng-value="true"/>${child}</label>
                    <label class="radio-inline" data-sly-test="${childList.index == 1}">
                  <span class="marketing-subscription-check-icon sw-icon radio-unchecked-big-icon" ng-show="subscriptionType.newSubscription"></span>
                  <span class="marketing-subscription-check-icon sw-icon radio-checked-big-icon" ng-show="!subscriptionType.newSubscription"></span>
                  <input type="radio" name="subscriptionType" ng-model="subscriptionType.newSubscription" ng-change="setSubscription('${child}')" ng-value="false"/>${child}</label>
                </div>
            </div>
            <div class="col-md-12 marketing-subscription-type-display" ng-show="!isSubscriptionTypeEdit">
                <span>{{subscriptionTypeText}}</span>
                <span ng-show="subscriptionType.isAutoRenewal && subscriptionType.newSubscription">Auto renewal set up</span>
            </div>
        </div>
        <div class="row marketing-subscription-auto-renewal" ng-show="subscriptionType.newSubscription && isSubscriptionTypeEdit">
            <div class="col-md-12 marketing-renewal-title">
                <span>${subscription.valueMap['descLabel']}</span>
            </div>
            <div class="col-md-12 marketing-renewal-check">
                <div class="checkbox">
                    <label class="renewal-check">I would like to sign up for an auto renewal of my Science World subscription for the next school year.
                    <input type="checkbox" ng-model="subscriptionType.isAutoRenewal"/>
                    <div class="renewal-check-indicator"></div>
                </label>
                </div>
            </div>
        </div>
        <div class="row marketing-subscription-promo" ng-show="!subscriptionType.newSubscription && isSubscriptionTypeEdit">
            <div class="col-md-12 marketing-promo-title">
                <span>Promo Code (optional)</span>
            </div>
            <div class="col-md-12 marketing-promo-desc">
                <span>If you are ordering in response to a catalog or mailing, please enter the last four digits of the numeric code that appears above your name on the mailing label. For example, if the code reads 20-4102, simply enter 4102 in the box below.</span>
            </div>
            <div class="col-md-12 marketing-promo-fields">
                <input type="text" class="marketing-promo-input" id="promo-code" />
                <button type="button" class="btn disabled marketing-promo-apply">Apply</button>
            </div>
            <div class="col-md-12 marketing-promo-offers">
                <i class="glyphicon glyphicon-info-sign marketing-promo-info-icon"></i>
                <span class="marketing-promo-info-text">Special offer discounts may not be reflected in the displayed price but will be included on the invoice.</span>
            </div>
        </div>
        <div class="row marketing-renewal-section" ng-show="!subscriptionType.newSubscription && isSubscriptionTypeEdit">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="order" class="marketing-order-number-text">Purchase Order Number (optional)</label>
                    <input type="text" class="form-control marketing-order-number-val" id="order">
                </div>
                <div class="form-group">
                    <label for="customerNumber" class="marketing-order-number-text">Do you know your customer number? (optional)</label>
                    <input type="text" class="form-control marketing-order-number-val" id="customerNumber">
                </div>
            </div>
        </div>
    </div>
</div>
