.marketing-globalFooter-main-container {
    .globalFooter-content {
        background-color: $dynamathFooterBackgroundGreen;

        .footerContentWrapper {
            .footerTitle {
                @include font($fontP9, 15px, 1, $white);
            }

            .footerPhoneNo {
                .phonelink {
                    @include font($fontP7, 13px, 2.31, $white, 0.4px);
                }

                .livelink {
                    @include font($fontP7, 12px, 2.08, $white);
                }

                .liveIcon {
                    background: url('../../../images/CM-Marketing/livechat.png') no-repeat center;
                }
            }

            .footerlinks {
                a {
                    @include font($fontP7, 12px, 2.08, $white);
                }
            }
        }

        .social-links-wrapper {
            .social-links {
                .footerTitle {
                    margin-bottom: 13px;
                }
            }
        }

        .globalFooter-bottom {
            padding: 0 59px 0 39px;

            .links {
                a {
                    @include font($fontP7, 10px, null, $liteBlue2, 0.3px);
                }
            }

            .desc {
                @include font($fontP4, 10px, 1.4, $liteGray2, 0.3px);
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-globalFooter-main-container {
        .globalFooter-content {
            margin-bottom: 55px;

            .row {
                padding: 28px 20px 28.67px;
            }

            .footerContentWrapper {
                .footerTitle {
                    @include font($fontP9, 17px, 1.18, $white, 0.3px);
                    padding-bottom: 5px;
                    margin-bottom: 16px;
                }

                .footerPhoneNo {
                    .phonelink {
                        @include font($fontP7, 17px, 0.65, $white, 0.8px);
                    }

                    .livelink {
                        @include font($fontP7, 17px, 1.47, $white, 0.8px);
                    }
                }

                .footerlinks {
                    p {
                        a {
                            @include font($fontP7, 17px, 1.47, $white, 0.8px);
                        }
                    }

                    &.phoneNumber {
                        p:last-child {
                          margin-bottom: 0;
                        }
                    }
                }
            }

            .social-links-wrapper {
                .social-links {
                    .footerTitle {
                        margin-bottom: 14px;
                    }
                }
            }

            .globalFooter-bottom {
                padding: 0 47px;
                height: 139px;

                .links {
                    a {
                        @include font($fontP7, 12px, null, $liteBlue2, 0.3px);
                    }
                }

                .keep-right {
                    .desc {
                        @include font($fontP4, 12px, 1.17, $liteGray2, 0.3px);
                        left: 0;
                    }

                    .links {
                        right: 12px;

                        &.links-term {
                            left: 7px;
                        }
                    }
                }

                .scholastic-logo {
                    margin-bottom: 22.1px;
                }
            }
        }
    }
}
