<!-- Google Tag Manager -->
<script>
function isProdEnv() {
	var currentUrl = window.location.href;
	var prodCheck = false;

	if (currentUrl && currentUrl.indexOf("scienceworld.scholastic.com") > -1) {
		prodCheck = true;
	}

	if (currentUrl && currentUrl.indexOf("superscience.scholastic.com") > -1) {
		prodCheck = true;
	}
	return prodCheck;
};

if(isProdEnv()){
	(function(w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start' : new Date().getTime(),
			event : 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l='
				+ l
				: '';
		j.async = true;
		j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-MKDL3Z');
}	
</script>
<!-- End Google Tag Manager -->
<script>
	(function()
	{ var channel = "classroommagazines"; document.write("<scr" + "ipt id='schheadtag' src='//ltm.scholastic.com/ltm/headtag/" + document.location.hostname + "/" + channel + "'></scr" + "ipt>"); }
	());
</script>
<script type="text/javascript" name="dtm_page_load" data-sly-use.data = "${'com.scholastic.classmags.migration.controllers.ScholasticDataLayerUse' }">
	var dumbleData = ${data.digitalData @ context = 'scriptComment'};
</script>
