<body>
	<!--/* <sly data-sly-include="analytics_body.html" /> */-->
    <!-- This change is required to support inline formulae, 
    not implementhing this now to void $2 USD currency formating issues -->
    <!--
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
      });
    </script>
    -->
	<div data-sly-use.magazineNameUse = "${'com.scholastic.classmags.migration.controllers.MagazineNameUse' @currentPath= currentPage.path}" data-sly-unwrap>
	<div ng-cloak data-app-name="${magazineNameUse.magazineName}" id="core-main-container" data-core="${magazineNameUse.isProd @ context='attribute'}">
        <div ng-controller="scienceWorldController">
        <div data-sly-test.isauthor="true" data-sly-unwrap>
		<div data-sly-test = "${wcmmode.edit || wcmmode.preview}" >
			<div data-sly-test.isauthor="false" data-sly-unwrap></div>
        </div>
        <div sw-authorize="${pageProperties.userType}" sw-page="${isauthor}">
        	
            <div>
                <sly data-sly-resource="${ @path='header', resourceType='wcm/foundation/components/iparsys'}"></sly>
            </div>
            <div class="scholastic-main-wrapper">
                    <sly data-sly-include="content.html" />
            </div>
            <div>
                <sly data-sly-include="footer.html" />
            </div>
         <script type="text/javascript" src="/etc/designs/scholastic/classroom-magazines-migration/clientlibs/classmags-migration-libs/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        </div>
        </div>
        </div>
    </div>
    </div>
</body>