<div>
    <sly data-sly-resource="${ @path='footer', resourceType='wcm/foundation/components/iparsys'}"></sly>
</div>
<div>
    <sly data-sly-include="video_modal.html" />
</div>
<sly data-sly-include="game_modal.html" />
<div>
	<sly data-sly-include="footerlibs.html" />
</div>
