
<div id="game-container-modal" class="modal fade video-content-card-modal" tabindex="-1" role="dialog" labelledby="...">
  <div class="modal-dialog game-container-modal" role="document">
    <div class="modal-content">
    	<span class="close colse-popup-icon" data-dismiss="modal"></span> 
      <div class="modal-body" id="game-container-modal-body">
      </div>
    </div>
  </div>
</div>