<div data-sly-use.dhlm="${'/apps/acs-commons/sightly/templates/dhlm.html'}" data-sly-unwrap>
	<style data-sly-call="${dhlm.head @ mode='all'}" data-sly-unwrap></style>
</div>
<sly data-sly-include="analytics_head.html" />
