<head>
    <sly data-sly-include="meta.html" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <sly data-sly-include="headlibs.html" /> 
    <sly data-sly-include="init.html" />
    <sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp" />
    <title>${properties.pagetitle || properties.jcr:title}</title>
    <sly data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=currentPage.path}">
	    <meta name="keywords" content="${properties.keywords}" />
		<meta name="description" content="${properties.jcr:description}" />
		<link rel="canonical" href="${globalLink.getFormattedUrl}"/>
	</sly>    
    <script>
        function redirect(){
        var appCookie = document.cookie;
        if(appCookie.indexOf("sdm_nav_ctx")===-1){
            location.href="https://dp-portal-dev1.scholastic-labs.io/#/signin/staff";  
        }
        }
    </script>
</head>