<div class="s_video_player">
  <div class="container">
    <video
        controls
        crossorigin="anonymous"
        class="video-js" 
        data-account="1543299976"
        data-player="9aff0d13-3492-425b-a9e3-5b987004cacc"
        data-embed="default"
        data-video-id=""
        id="modal_video_player">        
    </video>    
    <i class="fa fa-times glyphicon glyphicon-remove" onclick="s_close_video()"></i>
  </div>
</div>
