$upfrontArticleToolbarBorderColor: #c6c6c6 !default;
$upfrontArticleToolbarDropdownBorder: #dadbde !default;
$upfrontInactiveSortColor:#3a5dae !default;
$upfrontVotingTitleBackground: #D01119 !default;
$upfrontVotingCastVote: #ec1d25 !default;
$upfrontVotingSeeResults: #1c69b0 !default;
$upfrontIaggregatorBackground: #e8eaea !default;
$upfrontIaggregatorTagsBackground: #ed1c24 !default;
$upfrontIagregatorBorder:#cdd3d5 !default;
$upfrontIaggregatorButtonBackgroundBlue: #3a5dae !default;
$upfrontSidebarTextBlack: #54636e !default;
$breadcrumbInactiveColor:#666666 !default;
$upfrontDropdownBorderColor: #d7d7d7 !default;
$upfrontContentTileDateRed: rgba(233, 36, 54, 0.99) !default;
$upfrontContentTileBorderGrey: #efefef !default;
$upfrontContentTileSkillSheetGrey: #cdd3d5 !default;
$upfrontBorderBottomColor:#333333 !default;
$globalFooterBottomLinkColor:#3a5dae !default;
$upfrontHyperlinkTextBorderColor: #333333 !default;
$upfrontBackgroundColor: #f9fafb !default;
$inActiveTabFontColor: #303030 !default;
$inActiveTabColor: #cbcbcb !default;
$slNumberColor: #dddddd !default;
$upFrontBorderColor: #d5dae0 !default;
$upFrontSelectBackgroundColor:  #ecf0f5 !default;
$borderColor: rgba(204, 204, 204, 0.44) !default;
$articleTextImageBorder: rgba(151, 151, 151, 0.19) !default;
$formFieldInputColor: rgba(0, 0, 0, 0.3) !default;
$emailEditorTextAreaBackGroundColor: #eff1f4 !default;
$contentTileBackgroundColor: #f9f9f9 !default;
$upfrontContentTileDesc: #ed1c24 !default;
$upfrontHyperlinkColor: #6c6c6c !default;
$upfrontDesciptionColor: #4a4a4a !default;
$upfrontVideoGameBorderColor: #9b9b9b !default;