.sw-icon {
    background: url('/etc/designs/scholastic/classroom-magazines-migration/math/clientlibs/math-core/styles/core/icons/Icons-Math.png') no-repeat;
    &.search-icon {
        width: 40px;
        height: 40px;
    }
    &.refresh-icon {
        height: 18px;
    }
    &.two-page-big-icon {
        background-position: -170px -419px;
        width: 37px;
        height: 28px;
    }
    &.number-one-icon, &.number-two-icon, &.number-three-icon {
        height: 38px;
    }
    &.phone-liteblue-icon {
         height: 15px;
    }
    &.pinterest-icon {
        height: 32px;
    }

    &.twitter-icon {
        background-position: -110px -79px;
        width: 31px;
        height: 32px;
    }

    &.page-info {
        background-position: -290px -19px;
        width: 33px;
        height: 34px;
    }

    &.upload-icon {
        background-position: -290px -143px;
        width: 33px;
        height: 34px;
    }

    &.expand-icon {
        height: 38px;
    }

    &.stack-window-icon {
        height: 38px;
    }

    &.papers-stack-icon {
        height: 34px;
    }

    &.user-dropdown-blue-arrow {
        background-position: -230px -573px;
        width: 12px;
        height: 10px;
    }
    &.yellow-page-icon {
        background-position: -167px -199px;
        width: 54px;
        height: 54px;
    }

    &.radio-unchecked-icon {
        background-position: -169px -377px;
    }

    &.radio-unchecked-big-icon {
        background-position: -289px -383px;
        width: 24px;
        height: 24px;
    }

    &.radio-checked-big-icon {
        background-position: -289px -334px;
        width: 24px;
        height: 24px;
    }

    &.bookmarked-icon {
        height: 33px;
    }

    &.user-dropdown-white-arrow {
        background-position: -110px -366px;
        width: 12px;
        height: 10px;
    }

}
