<div data-sly-test="${wcmmode.edit}">Configure Article - Math RTF component</div>
<div class="article-title-layout">
    <div class="row nomarLR">
         <div class="article-title-component article-title-heading">${properties.rtefield @ context= 'html'}</div>
    </div> 
</div> 

