.loginPrompt-wrapper{

    .icon{
            display:block;

        &.close-icon{   

            background-image:url('../../images/loginPrompt/close-icon.png');
            background-color:WHITE;
            width:16px;
            height:16px;

            &:hover{

                        color:#ccc;
                       

                    }

        }

        &.user-icon{

            background-image:url('../../images/loginPrompt/user-icon.png');
            width:128px;
            height:128px;

              &:hover{

                        border:5px solid #3e9eff;
                        border-radius:100px;

                    }
        }


    }
    
    .loginPrompt-content{

        .loginPrompt-box{

            width:596px;
            height:402px;
            

            .loginPrompt-header{

                width:596px;
                height:55px;
                padding: 0 0 0 20px;
                background: #3e9eff;
                display: table;
                width: 100%;
                box-sizing: border-box;

                span{
                        line-height: 24px;
                        display: table-cell;
                        vertical-align: middle;
                        color: white;
                        font-size: 22px;
                        font-family: "Museo Sans W01";
                        font-weight: 700;
                        margin: 20px 15px 0px 0px;

                }

            }

            .loginPrompt-box-content{

                width:596px;
                height:347px;
                

                h2{
                        color: #3e9eff;
                      
                    
                    }

                .loginPrompt-box-content-user{   

                    display:inline-block;
                    margin: 10px 10px 10px 10px;
                    
                a{
                    p{

                        color:#3e9eff;
                        font-family: "Museo Sans W01";
                        font-weight:500;
                        font-size: 22px;
                        margin: 10px 4px 10px 0px;


                    }

                    &:hover{

                        text-decoration:none;
                    }
                }

                  

                    }

                    .loginPrompt-box-content-footer{

                        color:#999;
                        font-size: 22px;
                        font-family: "Museo Sans W01";
                        font-weight: 700;

                        a{
                            text-decoration:none;
                            color:#999;

                            &:hover{

                                color:#444;
                            }

                        }

                    }
                

            }
           

    }
}
}

@media screen and (max-width:640px)
{
    
    .loginPrompt-wrapper{
        .loginPrompt-content{
          

        .loginPrompt-box{

            width:100%;
            height:100%;
            margin: 10px 0 0 0;

            .loginPrompt-box-content{

                width:100%;
                height:100%;
            }

     }
    }

}
}