<div data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse" data-sly-unwrap>
    <div class="pastIssueGrid-container">
        <div ng-controller="pastIssueListController" ng-cloak>
            <div class="pastIssueGrid-main-container" data-page-path="${currentPage.path}">
                <!-- grid html starts -->
                <div ng-init="issueItems.length=4">
                    <div class="grey-hash-bg" ng-show="issueItems.length > 4"></div>
                    <sw-text-hyperlink title="All Issues" records-count="{{totalRecords}}"></sw-text-hyperlink>
                    <div class="pastIssueGrid-main-content container">
                        <div class="row nomarLR row-wrapper">
                            <div class="col-md-3 col-sm-4 col-xs-6 tile"  ng-repeat="issueItem in issueItems track by $index">
                                <div class="issue-container">
                                    <div class="issue-cover">
                                        <a href="#" ng-href="{{issueItem.linkto}}">
                                        <img src="" ng-src="{{issueItem.imgsrc}}"/></a>
                                    </div>
                                    <a class="issue-date" ng-href="{{issueItem.linkto}}">{{issueItem.issueDisplayDate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- grid html ends -->
                <!-- pagination starts -->
                <sw-pagination total-issue-page-count="totalPageCount" on-next="onpageNext()" on-previous="onpagePrevious()" on-change="onPageSelection(npm)" records="records" pages="pages" total-issue-records="totalRecords" my-bookmark-page="false"></sw-pagination>
                <!-- pagination ends-->
            </div> <!-- past issue grid main container ends-->
        </div> <!-- past issue controller ends-->
    </div> <!-- pastIssueGrid container ends-->
</div> <!-- sly wrapper ends -->
