.content-module {
    .content-module-container {
        &.game-container-bg {
            padding: 0 40px;
            border: 1px solid $liteAsh9;
        }
        .content-wrapper { 
            background-color: $white;
            
            .rteContent {
                @include font($font09, 16px, 1.5, $black, 0.5px);
                padding: 0 20px;
                margin-bottom: 4px;
                
                p, ol, ul {
                    margin: 0;
                }
            }
            
            div[ng-bind-html=containerGameDesc] {
                @include font($font04, 13px, 1.38, $black, 0.5px);
                padding: 0 20px 38px 20px;
                
                p, ol, ul {
                    margin: 0;
                }
            }
        }
        .content-one-up {
            .img-container {
                position: relative;
                margin-bottom: 10px;
                
                .img-container-link {
                    img {
                        cursor: pointer;
                    }
                }
                .popup-img-icon {
                    border-radius: 50%;
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    span.sw-icon{
	                    cursor:pointer;
                    }
                }
            }
        }
    }
}
#game-container-modal {
background-color:$black;
    .game-container-modal {
        .close {
            position: absolute;
            border-radius: 100%;
            z-index: 99;
            width: 50px;
            opacity: inherit;
            height: 50px;
            top:0;
            right: 0;
            background-color: $mediumGrey;
            background-repeat: no-repeat;
            background-position: top center;
            display: inline-block;
            vertical-align: middle;
            background-image: url(/etc/designs/scholastic/classroom-magazines-migration/images/slide-show-component/close-btn.png);
        }
        &.modal-dialog {
        width: 100%;
        height:100%;
        margin-top: 5px;
    }
    }

    .modal-content {
        position: relative;
		background-color: transparent;
		box-shadow: none;
		border: none;
        .modal-body {
            .game-container-iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.modal-open #game-container-modal{
    overflow-y:hidden;
}

.content-tile-body{
	.content-module{
		 .content-module-container{
		    &.game-container-bg{
		      padding:0;
              border:0;
              max-height: 180px;
		    }
			 .content-wrapper{
			  .content-one-up{
				   .img-container{
				   max-height:180px;
				   cursor:pointer;
                   background-color: $white;
						   img{
						   max-height:180px;
						   margin:0 auto;
						   }
                           
                    .popup-img-icon{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                    }
                    
				   }
			   }
			  }
		  }
	  }
  }



