.brightcoveComponent-container {
    .brightcoveComponent-text-wrapper {
        .brightcoveComponent-title {
           font-family: SlateStd-Black;
        }
        .brightcoveComponent-desc {
            font-family: SlateStd;
        }
    }
}


