.pastIssueGrid-main-container {
    position: relative;

    

    .pastIssueGrid-main-content {
        margin-top: 22px;

        .issue-container {           
            .issue-date {
              @include font($fontPE4, 14px, 1.43, $black, 0.3px);
              border-radius: 100px;
              background-color: $jrIssueHighButton;
              min-height: 40px;
              margin-top: 22px;
              margin-bottom: 37px;
              padding: 10px 0 10px;
            }
            
            .issue-cover {
                height: auto;
            }
        }
        
        .tile {
            margin-top: 33px;
            
            &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                margin-top: 0;
            }
        }
    }
 
    .grey-hash-bg {
        display: block;
        top: 474px;
        height: 439.2px;
    }

    .textHyperlink-container {
        border-bottom: 2px solid $juniorMyBookmarksHeaderBorder;
        margin-left: 73px;
        margin-right: 40px;

        .textHyperlink-wrapper {
            .textHyperlink-text {
                @include font($fontP9, 28px, 1.14, $gray, -1px);
                padding: 0;

                .textHyperlink-count {
                    @include font($fontP5, 24px, null, $black, normal);
                    line-height: normal;
                    padding-left: 4px;
                    bottom: 2px;
                }
            }
        }
    }
    
    .pagination-directive-wrapper {
        .paginationBottom {
            margin-top: 23px;
        }
    }
}
