
.questions-set{
	padding-bottom: 43px;
	.subject-area{
		@include font($fontN5, 20px, 1.1, $black, 1.1px);
		margin: 0;
	}
	.question-block{
		padding: 11px 0 0 20px;
	.question{
		@include font($font04, 18px, 2, $liteBlue2, 1px);
		margin: 0;
		display: block;
    	text-decoration: none;
	}
}
}

.divider-component{
	padding-top: 52px;
    padding-bottom: 47px;
	.border-divider{
		width: 100%;
		border: 1px solid $tabBgBlue;
	}
}


.answer-subject-area-block{
	.answer-subject-area{
		@include font($fontN5, 26px, 0.85, $black, 1.4px);
		margin: 0;
	}
}

.answer-question-block{
	    padding-left: 20px;
	.answer-question{
		@include font($font07, 22px, 1.64, $liteBlue2, 1.2px);
		margin: 0;
		padding-top: 22px;
	}
	.answer-image-block{
		.answered-image{
			padding-top: 20px;
		}
		.image-caption{
			@include font($font5, 13px, 1.69, $black, 0.5px);
			margin: 0;
    		padding-top: 10.8px;
		}
		.answered-content{
			@include font($font04, 16px, 1.5, $black, normal);
			padding-top: 32px;
		}
	}
}