<div data-sly-test="${wcmmode.edit}">Configure Article - Title component</div>
<div class="article-title-layout" ng-controller="articleTitleController">
    <div class="row nomarLR">
     	<div data-sly-test="${properties.articleTitleStyles == 'headline'}" data-font-color="${properties.fontColor}" data-highlight-color="${properties.enableHighlightColor == 'true' ? properties.highlightColor : ''}" class="article-title-component article-title-heading">${properties.rtefield @ context= 'html'}</div>
        <div data-sly-test="${properties.articleTitleStyles == 'subhead'}" data-font-color="${properties.fontColor}" data-highlight-color="${properties.enableHighlightColor == 'true' ? properties.highlightColor : ''}" class="article-title-component sub-title">${properties.rtefield @ context= 'html'}</div>
        <div data-sly-test="${properties.articleTitleStyles == 'dek'}" data-font-color="${properties.fontColor}" data-highlight-color="${properties.enableHighlightColor == 'true' ? properties.highlightColor : ''}" class="article-title-component article-title-dek">
            <div>${properties.rtefield @ context= 'html'}</div>
        </div>
    </div> 
</div> 

