.blog-category-wrapper {
    border: solid 1px $blogCategoryBorderColor;
    background-color:$blogCategoryBorderColor;
    margin-left:25px;
    .blog-categories{
        padding-left:30px;
        padding-right:46px;
        .blog-category-heading{
            @include font($fontPE4, 18px, 0.78, $blogPostHeadingColor, 1.5px);
            margin-top:30px;
            margin-bottom:18px;
        }
        .category{
            @include font($fontP7, 16px, 1.25, $blogCategoryTitleColor, 0.3px);
            margin-bottom:15px;
            text-transform: capitalize;
            a{
                text-decoration:none;
                color:$blogCategoryTitleColor;
            }
            
        }
        &:last-child{
            margin-bottom:36px;
        }
    }
}
