.article-title-layout {
    .article-title-heading {
        @include font($fontN5, 32px, 1.25, $black, 1px);
        padding-bottom: 14px;
    }
    .article-title-dek{
    	@include font($font04, 22px, 1.27, $black, 0.9px);
    }
    .sub-title {
        @include font($font09, 18px, 1.67, $black, 1px);
        padding-bottom: 30px;
    }
}
