.article-Obj-skills-pad-container {
	.article-learnObj-keyskills-container {
		.learnKey-single-sec-wrapper {
			.learnKey-section-title {
				@include font($fontGB9, 13px, 1.08, $black, 0.5px);
			}

			.learnKey-section-content {
                @include font($fontGB5, 13px, 1.54, $black, 0.5px);
			}
		}
	}
}