.article-title-layout {
    padding-bottom: 0px;
    padding-top: 0px;

    .article-title-heading {
        @include font($fontPE4, 48px, 1.08, $black, 0.5px);
        margin-bottom:15px;
    }

    .article-title-dek {
        @include font($fontP5, 30px, 1.13, $black, 0.3px);
        margin-bottom:21px;
    }

    .sub-title {
        @include font($fontPE4, 24px, 0.92, $black);
    }

    .article-title-component {
        div,
        p {
            word-wrap: break-word;
            &:last-child{
            margin-bottom:0;
            }
        }

        ol,
        ul {
            word-wrap: break-word;

            li {
                word-wrap: break-word;
            }
        }
    }
}
