.marketing-scholastic-magazine-wrapper {
    .scholastic-magazine-content {
        .magazine-title-wrapper {

            span {
                &.magazine-title {
                    @include respond-to('xssmall')
                    {
                        @include font($fontSE9, 20px, 1.2, $textHyperlinkColor);
                    }
                    @include font($fontSE9, 28px, 1.14, $textHyperlinkColor);
                }
                &.view-all-magazine {
                    @include font($fontSL5, 14px, 1, $textHyperlinkColor, 0.5px);
                }
            }
        }
        .content-container {
            .magazine-content {
                .magazine-subtitle {
                    @include font($fontSL7, 20px, 1.15, $textHyperlinkColor, 0.5px);
                    a {
                        color: $liteBlue1;
                    }
                }
                .magazine-desc {
                    @include font($fontU4, 18px, 1.22, $black);
                } 
            }
        }
    }
}


@include respond-to('xssmall') {
    .marketing-scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            .magazine-mobile-title-wrapper {
                .view-all-magazine {
                    @include font($fontSL7, 14px, 1, $textHyperlinkColor, 0.3px);
                }
            }
        }
    }
}
