.current-issue-hero-component {
    background-color: $white;
    margin-bottom: 60px;
    margin-top: 65px;

    .past-issue-wrapper {
        min-height: 466px;
    }
    .current-issue-tile-wrapper {
        margin-top: 0;
        margin-right: -14px;
        .current-issue-content-tiles {
            padding-right: 14px;
        }
    }

    .highlights-issue-date {
        display: block;
        margin-bottom: 23px;

        .capitalize-text {
            text-transform: capitalize;
        }

        .current-issue-highlights-text-container {
            position: relative;
            height: auto;
            margin-bottom: 0;
            padding-bottom: 13px;
            margin: 0 40px 0 60px;
            border-bottom: 2px solid $black;

            .current-issue-highlights-text {
                padding: 0 16.5px 0 0;
                margin-bottom: 0;
                display: inline-block;
                @include font($fontK9, 36px, 0.89, $black, 1);
                position: relative;
                left: 0;
                top: 0;
                border-radius: 0;
                text-transform: lowercase;
            }

            .issue-date {
                border-left: 1px solid $black;
                padding-left: 16.5px;
                @include font($fontSL5, 20px, 1.2, $black, 0.5);
                display: inline-block;
            }
        }
    }

    &.past-issue-list-main-container {
        margin-top: 0;

        .past-issue-list-main-content {
            margin-bottom: 27px;

            .explore-latest-button {
                padding: 10px 27.4px 10px;
                min-height: 40px;
                background-color: $upfrontVotingCastVote;
                @include font($fontSL7, 18px, 1.11, $white, 0.4px);
            }

            .past-issue-date-container {
                display: none;
                .view-article-container {
                    display: none;
                }
            }

            .explore-button-link {
                bottom: -1px;
            }
        }
    }

    .hero-component-title-des {
        padding-bottom: 0;

        a {
            @include font($fontC6, 24px, 1, $black);

            .latest-issue-text {
                display: none;
            }
        }
    }

    .current-issue-hero-component-hash {
        background-color: $votingContentBackgroundGrey;
        min-height: 202px;
    }
}
@media (min-width:1440px) {
    .current-issue-hero-component {
        .past-issue-wrapper {
            margin-left: 37px;
        }

        .current-issue-img-pad-container {
            padding-left: 20px;
            padding-right: 0;
        }

        &.past-issue-list-main-container {
            .past-issue-list-sub-container {
                margin: 0;
            }
        }
    }

    .past-issue-list-main-container {
        .past-issue-list-main-content {
            a {
                .explore-latest-button {
                    width: 88.43%;
                    max-width: 275.1px;
                }
            }

            .tile-wrapper-past-date {
                padding-right: 38px;
                padding-left: 24.3px;
            }
        }
    }
}
