.error-page-wrapper {	
	.error-page-container {
		.error-page-content {
			h2 {
				@include font($fontSL5, 78px, 0.9, $errorPageBlack, 0.1px);
			}
			p {
				@include font($fontSL4, 16px, 1.5, $black, 0.5px);
			}
			.error-btn {
				@include font($fontSL7, 14px, 1, $black, 0.6px);
			}
		}
	}
}