.globalFooter-main-container {
    .globalFooter-content {
        background-color: $footerBkg;
        .row {
           padding: 30px 0 44px 41px;
            .link-wrapper:first-child{
                padding-left: 0px;
            }
        }
        .footerContentWrapper {
            height: 120px;
            &.social-links {
                height: auto;
                border-right: 0px none;
            }
            .footerTitle {
               @include font($font09, 15px, 1, $white);
                margin-bottom: 13px;
                word-wrap: break-word;
                border-bottom: 1px solid $liteAsh2;
                padding-bottom: 8px;
                &.footerTitleSocialIcon {
                    border-bottom-width: 2px;
                }
            }
            .footerPhoneNo {
                margin-bottom: 5px;
                .phoneIcon {
                    margin-right: 10.9px;
                }
                .phonelink {
                    @include font($font07, 13px, 2.31, $white, 0.4px);
                    word-wrap: break-word;
                    a{
                    color:$white;
                    }
                }
                span {
                    vertical-align: middle;
                }
            }
            .footerlinks {
                p {
                    @include font($font07, 12px, 2.08, $white);
                    margin-bottom: 0;
                }
                a {
                    @include font($font07, 12px, 2.08, $white);
                    text-decoration: none;
                }
            }
            .footer-socialIcons {
                .sw-icon {
                    &.googleplus-icon {
                        width: 24px;
                        height: 24.5px;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-size: 24px 24.5px;
                        object-fit: contain;
                        background-image: url('../../../images/icons/googleplusIcon.png');
                    }
                }
                span {
                    margin-right: 15px;
                }
            }
        }
        .globalFooter-bottom {
            background-color: $white;
            padding: 0 55px 0 39px;
            .keep-right{
                float: right;
                    margin-top: 11px;
            }
            .links {
                text-align: right;
                padding-top: 14px;
                padding-bottom: 14px;
                padding-right: 43px;
                &:last-child {
                    border-right: none;
                }
                a {
                    @include font($font07, 10px, null, $liteBlue2, 0.3px);
                    text-decoration: none;
                }
            }
            .desc {
                @include font($font04, 10px, 1.4, $liteGray2, 0.3px);
                word-wrap: break-word;
                text-align: right;
                margin-top: 17px;
                margin-bottom: 14px;
            }
            .scholastic-logo {
                margin-top: 9px;
                margin-bottom: 9.1px;
                height: 22px;
                max-width: 177.5px;
            }
        }
    }
}
@include respond-to('xssmall') {
    .globalFooter-main-container {
        .globalFooter-content {
            .footerContentWrapper {
                height: 150px;
                &.social-links {
                    .footerTitleSocialIcon {
                        border-bottom: none;
                    }
                    .footer-socialIcons {
                        margin-top: 0;
                    }
                }
            }
            .link-wrapper:last-child{
                padding-left: 0px;
            }
            .globalFooter-bottom {
                padding: 0 40px;
                text-align: center;

                .keep-right{
                    float: none ;
                    margin: 0 auto;

                    .links {
                    &.links-term {
                        text-align: left;
                    }
                }

                    .desc {
                    text-align: center;
                    margin-top: 10px;
                    display: block
                }

                }

            }
        }
    }
}
