.current-issue-hero-component {
    margin: 0 40px;
    background-color: $white;

    .current-issue-hero-component-hash {
        background: none;
        background-color: $allIssuesTitleColor;
        min-height: 191px;
    }

    .current-issue-tile-wrapper {
        margin-top: 0;
    }

    .past-issue-wrapper {
        margin-left: 0;
        min-height: 452px;

        .past-issue-image-wrapper {
            .current-issue-img-center {
                margin: 0;
            }
        }
    }

    .hero-component-title-des {
        @include font($fontP9, 28px, 1.14, $gray, -1px);

        a {
            @include font($fontP9, 28px, 1.14, $gray, -1px);
        }
    }

    .sw-icon {
        &.two-page-big-icon {
            margin-right: 12px;
        }
    }

    .highlights-issue-date {
        display: block;

        .open-magazine-link {
            display: inline-block;
            float: right;
            margin-top: 5px;

            a {
                @include font($fontSL7, 18px, 1.33, $textHyperlinkColor, normal);
                display: inline-block;

                span {
                    &:last-child {
                        vertical-align: top;
                        padding-top: 1px;
                        display: inline-block;
                    }
                }
            }
        }

        .current-issue-highlights-text-container {
            border-bottom: none;
            padding-bottom: 2px;
            margin-bottom: 31px;

            .issue-date {
                display: inline-block;
                height: 30px;
                padding: 4px 0 0 16px;
                border-left: 1px solid $black;
                vertical-align: top;
                @include font($fontSL5, 20px, 1.2, $gray, normal);
            }

            .current-issue-highlights-text {
                @include font($fontSE9, 36px, 0.89, $allIssuesTitleColor, normal);
                display: inline-block;
                padding-right: 17px;
                text-transform: lowercase;
                margin: 0;

                .capitalize-text {
                    text-transform: capitalize;
                }
            }
        }
    }

    &.past-issue-list-main-container {
        margin: 0;
        padding: 0 40px 0 59px;

        .past-issue-list-sub-container {
            .pci-resources-container {
                .past-issue-list-main-content {
                    padding: 0;
                    margin-bottom: 60px;

                    .current-issue-img-pad-container {
                        padding: 0;
                    }

                    a {
                        .explore-latest-button {
                            max-width: 265px;
                            @include font($fontSL7, 18px, 1.11, $white, 1px);
                            background-color: $IssueTeachingTitleGreen;
                            margin: 0 auto;
                            text-transform: capitalize;
                            padding: 10px 20px;
                        }
                    }

                    .tile-wrapper-past-date {
                        padding: 0;

                        .date-tile-wrapper-center {
                            .past-issue-date-container {
                                display: none;
                            }
                        }
                    }

                    .explore-button-link {
                        bottom: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: 1440px) {
    .current-issue-hero-component {
        .current-issue-tile-wrapper {
            margin: 0;
            padding: 0;

            .current-issue-content-tiles {
                padding: 0;

                .content-tile-container,
                .junior-content-tile-container {
                    float: right;
                }
            }
        }

        &.past-issue-list-main-container {
            .past-issue-list-sub-container {
                .pci-resources-container {
                    .past-issue-list-main-content {
                        a {
                            .explore-latest-button {
                                width: 97%;
                                margin: 0 auto;
                                padding: 9px 38px 11px;
                            }
                        }

                        .current-issue-img-pad-container {
                            padding: 0;
                            width: 22.6%;
                            padding-right: 13px;
                        }

                        .tile-wrapper-past-date {
                            padding: 0;
                            width: 77.4%;
                        }

                        .explore-button-link {
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
