.current-issue-hero-component {
    background-color: $bodyGrey;

    .highlights-issue-date {
        display: block;
        margin-bottom: 40px;

        .capitalize-text {
            text-transform: capitalize;
        }

        .current-issue-highlights-text-container {
            background-color: $mathcurrentIssueHeroTitleGreen;
            position: relative;
            height: 55px;
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;

            .current-issue-highlights-text {
                padding: 11px 0 8px 40px;
                margin-bottom: 0;
                display: inline-block;
                @include font($fontC6, 36px, 1, $white);
                position: relative;
                left: 0;
                top: 0;
                background-color: $mathcurrentIssueHeroTitleGreen;
                border-radius: 0;
                text-transform: lowercase;
            }

            .issue-date {
                display: none;
            }
        }
    }

    &.past-issue-list-main-container {
        margin-top: 0;

        .past-issue-list-main-content {
            margin-bottom: 51px;

            .explore-latest-button {
                padding: 13.7px 27.4px 13.3px;
                min-height: 41px;
            }

            .past-issue-date-container {
                .view-article-container {
                    display: none;
                }
            }

            .explore-button-link {
                bottom: -1px;
            }
        }
    }

    .hero-component-title-des {
        padding-bottom: 0;

        a {
            @include font($fontC6, 24px, 1, $black);

            .latest-issue-text {
                display: none;
            }
        }
    }
}
@media (min-width:1440px) {
    .current-issue-hero-component {
        .past-issue-wrapper {
            margin-left: 26px;
        }

        .current-issue-img-pad-container {
            padding-left: 20px;
            padding-right: 0;
        }

        &.past-issue-list-main-container {
            .past-issue-list-sub-container {
                margin: 0;
            }
        }
    }

    .past-issue-list-main-container {
        .past-issue-list-main-content {
            a {
                .explore-latest-button {
                    width: 88.43%;
                    max-width: 275.1px;
                }
            }

            .tile-wrapper-past-date {
                padding-right: 38px;
                padding-left: 26.97px;
            }
        }
    }
}
