.marketing-app-nav-bar-main-container {
    .app-nav-primary {
        background-color: $marketingActionDarkBlue;
    }

    .navbar-default {
        border: none;
    }

    .nav-primary-items {
        padding-left: 25px;
    }

    .app-navbar-secondary {
        background: $actionExplorebarColor;
        padding-left: 41.5px;
    }

    .science-logo {
        width: 240.8px;
        padding: 15px 0;

        a {
            padding: 0;
            height: 60px;
            background: url("/etc/designs/scholastic/classroom-magazines-migration/action/images/CM-Marketing/action.png") no-repeat center;
            background-size: 100%;
            margin: 0;
        }

        .scholastic-logo-header {
            display: none;
        }
    }

    .dropdown {
        .app-nav-main-item-link {
            @include font($fontGB9, 16px, null, $white);
            padding-left: 35px;
        }

        &.js-dropdown-dynamic {
            padding-top: 49px;

            &:nth-child(2) {
                .app-nav-main-item-link {
                    padding-left: 26px;
                }
            }

            &:nth-child(4) {
                .app-nav-main-item-link {
                    padding-right: 35px;
                    border-right: 0;
                }
            }

            .app-nav-main-item-link {
                padding-left: 35px;
            }

            &:nth-child(5) {
                padding-top: 50px;

                .app-nav-main-item-link {
                    @include font($fontGB9, 14px, null, $white, 0.5px);
                    font-weight: 700;
                }
            }
        }
    }

    .cta-button-container {
        padding-top: 24px;

        .primary-button {
            @include font($fontGB9, 17px, 1.18, $white);
            background: $marketingActionSeaBlue;
            width: auto;
            height: auto;
            padding: 15px 16.45px;
        }

        .secondary-button {
            @include font($fontGB9, 17px, null, $white);
            width: auto;
            height: auto;
            border-width: 2px;
            border-radius: 5px;
            padding: 11px 16.28px;
            margin-right: 28px;
        }
    }

    .secondary-items {
        padding: 12.1px 0;

        li {
            padding-right: 55px;

            &:first-child {
                padding-right: 30.5px;
            }

            a {
                @include font($fontGB9, 13px, 1.08, $actionSubjectsCovered, 1px);
                padding: 0.5px 0 0;
            }
        }

        .explore {
            @include font($fontGB9, 13px, 1.08, $ActionTDItitle);
            padding: 0;

            &:active,
            &:focus,
            &:hover {
                color: $ActionTDItitle;
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-nav-bar-main-container {
        .app-nav-header {
            .profile-icon-block {
                padding-top: 4px;

                .secondary-button {
                    @include font($fontGB9, 14px, null, $white);
                    border-radius: 5px;
                }
            }

            .menu-icon-block {
                padding-top: 16px;
                margin-right: 17px;
            }

            .search-logo-block {
                padding: 0;
                margin: 7px 0 0;

                .scholastic-logo-header {
                    display: none;
                }
            }
        }

        .magazine-logo-tablet-mobile {
            width: 176px;
            height: 47px;
            margin: 0;
            background: url("/etc/designs/scholastic/classroom-magazines-migration/action/images/CM-Marketing/action.png") no-repeat;
            background-size: 100%;
        }

        .pop-over-menu-div {
            .js-nav-menu {
                margin-top: 48px;

                .primary-button {
                    @include font($fontGB9, 20px, 1, $white);
                    border-radius: 0;
                    height: 50px;
                    background-color: $marketingActionSeaBlue;
                }

                ul.menu-list:first-child {
                    li.dropdown {
                        &.js-dropdown {
                            a {
                                @include font($fontGB9, 16px, null, $actionSubjectsCovered, 0.5px);
                            }
                        }
                    }
                }

                ul:first-child {
                    li {
                        padding-bottom: 33px;

                        &.dropdown.js-dropdown:nth-child(4) {
                            a {
                                @include font($fontGB9, 14px, null, $actionSubjectsCovered, 0.5px);
                            }
                            border-bottom: 1px solid #d9dbde;
                        }

                        &:last-child {
                            padding-bottom: 27px;
                        }
                    }
                }

                #secondary-items-nav {
                    margin-top: 30px;
                    padding: 0 20px;

                    li {
                        padding: 0 0 33px;

                        a {
                            @include font($fontGB9, 13px, null, $actionSubjectsCovered, 1px);
                            padding-bottom: 0;
                        }

                        &:last-child {
                            padding-bottom: 27px;
                            border-bottom: 1px solid $marketingBorderGrey;

                            a {
                                border-bottom: 0;
                            }
                        }
                    }
                }

                .js-dropdown {
                    &.dropdown {
                        .app-nav-main-item-link {
                            color: $actionSubjectsCovered;

                            &:active,
                            &:focus,
                            &:hover {
                                color: $actionSubjectsCovered;
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}
