<!DOCTYPE html>
<html>

<head>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css" />
</head>

<body>
    <div class="container-fluid email-form-thankyou-container pad0" ng-controller="emailEditorController" ng-cloak>
        <common-header header-text="E-mail The Editor" class="showDir"></common-header>
        <common-header header-text="Thank You!" style="display: none;"></common-header>
        <div class="email-thankyou-wrapper"> 
            <div class="email-editor-container">
                <div class="row nomarLR">
                    <div class="col-md-8 col-md-offset-2 pad0 email-editor-description-container">
                        <div class="email-editor-description-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                        </div>
                    </div>
                </div>
                <div class="row nomarLR">
                    <div class="col-md-8 col-md-offset-2 pad0 correct-error-text-container">
                        <p class="correct-error-text">Please correct the errors in the form.</p>
                    </div>
                </div>
                <div class="row nomarLR">
                    <div class="col-md-10 col-md-offset-2 pad0 email-editor-pad-container">    
                        <div class="row nomarLR">
                            <div class="col-md-6 email-form-all-fields-container">
                                <form name="emailEditorForm" novalidate role="form">
                                    <div class="form-field-wrapper name-field-wrapper">
                                        <label for="name-field" class="label-text">*Name: </label>
                                        <input  type="text"
                                                class="form-control form-field-input" 
                                                id="name-field"
                                                name="name"
                                                ng-model="emailData.name"
                                                ng-class="{'error-field-outline': (emailEditorForm.$submitted && emailEditorForm.name.$pristine) || (emailEditorForm.name.$invalid && emailEditorForm.name.$touched)}"
                                                ng-required="true">
                                        <span class="field-error-text" ng-class="{'field-error-text-visible': (emailEditorForm.$submitted && emailEditorForm.name.$pristine) || (emailEditorForm.name.$touched && emailEditorForm.name.$invalid)}">This field is required</span>
                                    </div>
                                    <div class="form-field-wrapper">
                                        <label for="email-field" class="label-text">*Email: </label>
                                        <input  type="text"
                                                class="form-control form-field-input"
                                                id="email-field"
                                                name="email"
                                                ng-model="emailData.email"
                                                ng-class="{'error-field-outline': (emailEditorForm.$submitted && emailEditorForm.email.$pristine) || (emailEditorForm.email.$invalid && emailEditorForm.email.$touched) || (emailEditorForm.email.$error.pattern)}"
                                                ng-pattern="/^[\u00C0-\u1FFF\u2C00-\uD7FF\w._%+-]+@[\u00C0-\u1FFF\u2C00-\uD7FF\w.-]+\.[\u00C0-\u1FFF\u2C00-\uD7FF\w]{2,4}$/"
                                                ng-required="true">
                                        <span class="field-error-text" ng-class="{'field-error-text-visible': (emailEditorForm.$submitted && emailEditorForm.email.$pristine) || (emailEditorForm.email.$touched && emailEditorForm.email.$invalid && !emailEditorForm.email.$error.pattern)}">This field is required</span>
                                        <span class="field-error-text" ng-class="{'field-error-text-visible': emailEditorForm.email.$error.pattern}">Please enter a valid email id</span>
                                    </div>
                                    <div class="form-field-wrapper">
                                        <label for="subject-field" class="label-text">Subject: </label>
                                        <input  type="text" 
                                                class="form-control form-field-input subject-field-input" 
                                                id="subject-field" 
                                                placeholder="Example: Editorial Calendar" ng-model="emailData.subject">
                                    </div>
                                    <div class="form-field-wrapper message-field-wrapper">
                                        <label for="message-field" class="label-text">*Message: </label>
                                        <textarea   class="form-control form-field-input message-textarea"
                                                    name="message"
                                                    ng-model="emailData.message"
                                                    id="message-field"
                                                    ng-class="{'error-field-outline': (emailEditorForm.$submitted && emailEditorForm.message.$pristine) || (emailEditorForm.message.$invalid && emailEditorForm.message.$touched)}"
                                                    ng-required="true"
                                                    rows="9"></textarea>
                                        <span class="message-field-error" ng-show="(emailEditorForm.$submitted && emailEditorForm.message.$pristine) || (emailEditorForm.message.$touched && emailEditorForm.message.$invalid)">This field is required</span>
                                    </div>
                                    <input type="hidden" name="to" ng-model="emailData.to" ng-init="emailData.to= '1234'">
                                    <input type="hidden" name="currentPagePath" ng-model="currentPagePath" ng-init="currentPagePath = 'samplePath'">
                                    <div class="required-fields-text">*Required fields</div>
                                    <div class="send-button-wrapper">
                                        <button type="submit" class="send-button" ng-click="emailEditorForm.$valid && submitEmailForm()">send e-mail</button>
                                    </div>
                                </form>             
                            </div>
                            <div class="col-md-6 email-form-image">
                                <sw-image src="../../images/emailEditor/sample-image.png" alt="email the editor image" height="540px" width="555px"></sw-image>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
            <!-- email editor form content page ends -->
            <input type="hidden" name="currentPagePath" ng-model="pageDirectPath" ng-init="pageDirectPath = 'sampleUrlonSendEmailClick'">
            <div class="back-to-previous-wrapper row nomarLR">
                <div class="col-md-3 col-md-offset-2 pad0 back-to-previous-pad-container">
                    <span class="sw-icon left-arrow-icon back-to-previous-icon"></span>
                    <div class="back-to-previous-text">
                        Back to previous page
                    </div>
                </div>
            </div> 
            <!-- back to previous container ends-->
        </div>
        <!-- email thank you wrapper ends-->        
    </div>
    <!--email form-thankyou container ends -->
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../../../bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../app.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../commonHeader/commonHeaderDirective.js"></script>
    <script src="../common/swImage/swImageDirective.js"></script>
    <script src="emailEditorController.js"></script>
    <script src="emailEditorFactory.js"></script>
</body>

</html>
