<div data-sly-test.placeholder="${wcmmode.edit}">Configure Config - Explore Bar</div>
<div data-sly-use.globalNavExploreUse="com.scholastic.classmags.migration.controllers.GlobalNavExploreUse">
	<div data-sly-test="${globalNavExploreUse.exploreLinks}" data-sly-unwrap>
		<div class="row collapse navbar-collapse app-navbar-secondary">
		<ul id="secondary-items-nav" class="nav navbar-nav menu-list secondary-items"> 
			<li>
		    	<a class="explore" href="">Explore: </a>
		    </li>
	
		<div data-sly-list.link="${globalNavExploreUse.exploreLinks}" data-sly-unwrap>
	
		   	<li><a x-cq-linkchecker="skip" href ="${link.path}">${link.label}</a></li>
	
		 </div>  
		 <div data-sly-test="${properties.displayLabel}" data-sly-unwrap>
	
		   		<li class="see-all-subjects">
		     		<a x-cq-linkchecker="skip" class="subjects" href="${globalNavExploreUse.seeAllLink.path}">${globalNavExploreUse.seeAllLink.label}</a>
		   		</li>
	
		 </div>
	     </ul>
		</div>
	</div>  
</div>    
               