.marketing-review-submit {
    background: $bodyGrey;
    padding: 23px 39px 34px 30px;
    margin-top: 40px;

    .subscription-billing-address-form {
        padding: 0;
        margin-top: 16px;

        .subscription-address-container {
            .subscription-billing-title {
                span {
                    @include font($font07, 20px, null, $subscriptionTextGrey, 0.5px);
                }

                .subscription-billing-edit {
                    @include font($font04, 14px, null, $liteBlue2, 0.5px);
                    text-decoration: none;
                    margin-top: 8px;
                    display: inline-block;
                }

                .subscription-billing-save {
                    @include font($font07, 13px, null, $liteBlue2, 0.5px);
                    width: 80px;
                    height: 30px;
                    border-radius: 5px;
                    background-color: $white;
                    border: 1px solid $liteBlue2;
                }
            }

            .subscription-address-details {
                padding: 0;
                margin-top: 25px;
                border-top: none;

                .subscription-billing-save {
                    @include font($font07, 13px, null, $liteBlue2, 0.5px);
                    width: 80px;
                    height: 30px;
                    border-radius: 5px;
                    background-color: $white;
                    border: 1px solid $liteBlue2;
                    margin-top: 5px;
                }

                &.shipping-details {
                    margin-top: 11px;
                }
            }
        }
    }

    .marketing-review-submit-title {
        span {
            @include font($font07, 28px, null, $gray);
        }
    }

    .subscription-billing-option {
        margin-top: 4px;

        .subscription-billing-check {
            margin-top: 16px;
        }
    }

    .subscription-billing-option-text {
        margin-top: 13px;
        margin-bottom: 15px;
    }

    .subscription-address-details-display {
        padding: 0;
        margin-bottom: 4px;

        span {
            display: block;
            @include font($font04, 16px, 1.5, $subscriptionTextGrey, 0.5px);
        }

        &.shipping-details {
            margin-top: 10px;

            .shipping-name {
                font-weight: bold;
            }
        }
    }

    .subscription-shipping-address-form {
        margin-top: 30px;
        padding-top: 25px;
        border-top: 1px solid $tabBgGrey;
    }

    .marketing-subscription-type {
        margin-top: 24px;
        padding: 25px 0 0;
        border-top: 1px solid $tabBgGrey;

        .marketing-subscription-type-container {
            .marketing-subscription-type-title {
                span {
                    @include font($font07, 20px, null, $subscriptionTextGrey, 0.5px);
                }

                .subscription-type-save {
                    @include font($font07, 13px, null, $liteBlue2, 0.5px);
                    width: 80px;
                    height: 30px;
                    border-radius: 5px;
                    background-color: $white;
                    border: 1px solid $liteBlue2;
                    margin-top: 5px;
                }

                .subscription-type-edit {
                    @include font($font04, 14px, null, $liteBlue2, 0.5px);
                    text-decoration: none;
                    margin-top: 8px;
                    display: inline-block;
                }
            }
        }

        .marketing-subscription-type-display {
            span {
                @include font($font04, 16px, 1.5, $subscriptionTextGrey, 0.5px);
                display: block;
                margin-top: 8px;
            }
        }
    }

    &.marketing-review-submit-subscription {
        margin-top: 0;
        padding-bottom: 19px;
        padding-top: 0;

        .marketing-subscription-type {
            margin: 0;
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-review-submit {
        padding: 23px 20px 36px 20px;
        margin: 38px 20px 0;

        .subscription-address-form {
            padding: 0;
        }
    }
}
