.article-text-image-layout {
    .article-text-image {
        .img-column {
            background: $snGlobalNavExploreColor;
            border: 2px solid $imagePopupBorderGrey;
            border-radius: 8px;
            img {
                border-radius: 8px 8px 0 0;
            }
        }
        .credits {
            @include font($fontSL4, 10px, 1.2, $lightGrey2, 0.5px);
        }

        &.left,
        &.right {
            padding-right: 15px;

            .text-column {
                @include font($fontU4, 20px, 1.6, $black, 1.1px);
                word-wrap: break-word;
            }

            .credits {
                @include font($fontSL4, 10px, 1.2, $lightGrey2, 0.5px);
                text-align: right;
                margin: 10px 15px 11px;
            }

            .caption {
                @include font($fontSL4, 14px, 1.29, $black, 0.5px);
                margin: 0 20px 28px;
                display: block;
                p:last-child {
                    margin: 0;
                }
                p {
                    word-wrap: break-word;
                }
            }
        }

        &.left {
            .img-column {
                margin-right: 20px;
            }
        }

        &.right {
            .img-column {
                margin-left: 20px;
            }
        }
    }
}

.article-text-image-top-layout {
    .article-text-image {
        .article-image {
            border-radius: 8px 8px 0 0;
        }
        .top-article-container {
            background: $snGlobalNavExploreColor;
            border: 2px solid $imagePopupBorderGrey;
            border-radius: 8px;
        }
        .caption {
            @include font($fontSL4, 14px, 1.29, $black, 0.5px);
            margin: 0 20px 28px;
            display: block;
            p:last-child {
                margin-bottom: 0;
            }
        }

        .credits {
            @include font($fontSL4, 10px, 1.2, $lightGrey2, 0.5px);
            text-align: right;
            margin: 10px 15px 11px;
        }
        .text-column {
            @include font($fontU4, 20px, 1.6, $black, 1.1px);
        }
    }
}

#article-text-page-container{
    .back-to-top{
        .back-to-top-text{
            font-family: SlateStd-Medium;
        }
    }
    }  