.breaking-news-banner-container{
	.breaking-news-banner-wrapper{
	background-color:$upfrontIaggregatorTagsBackground;
	    padding-top: 13px;
    	padding-bottom: 20px;
		.breaking-news-banner-title{
			@include font($fontP7, 24px, 0.58, $white, 1.2px);
			    padding-left: 52px;
    			padding-right: 30px;
    			padding-top: 10px;
    			word-wrap:break-word;
    			text-transform: uppercase;;
    			&.col-xs-2{
    				width:20.2%;
    				text-transform: uppercase;
    			}
		}
		.breaking-news-banner-description{
			@include font($fontP5, 21px, 1.05, $white, normal);
			padding-left:23px;
			border-left:2px solid $white;
			padding-right: 92.5px;
			.breaking-news-banner-readmore{
				@include font($fontP5, 20px, null, $white, normal);
				line-height:normal;
			}
			&.col-xs-8{
    			width:76.2%;
    			}
		}
		
		.sw-icon{ 
			&.white-crossMark-icon{
				display: inline-block;
				margin-top: 7.5px;
			    cursor: pointer;
			    background:url('/etc/designs/scholastic/classroom-magazines-migration/upfront/images/small-white-cross-icon.png');
			}
    	}
	}
}