.content-tile-container {
    $borderColor: #cdd3d5;
    $backgroundColor: #ffffff;
    max-width: 325px;
    position: relative;

    .row {
        margin: 0;
        padding: 0;
    }

    .content-tile-body {
        height: 400px;
        border: 1px solid $borderColor;
        background: $backgroundColor;
        position: relative;
    }

    .content-info {
        border: 1px solid $borderColor;
        border-top: none;
        height: 220px;
    }

    p {
        margin: 0;
    }

    .content-hub-header {
        height: 30px;
        background-color: $tabBgGrey;
        border: solid 1px $contentHubHeaderBorder;
        border-bottom-color: $yellow;
        border-bottom-width: 3px;
    }

    .bookmark-header {
        height: 50px;
        background-color: $tabBgGrey;
        border: solid 1px $contentHubHeaderBorder;
        border-bottom-color: $yellow;
        border-bottom-width: 3px;

        .bookmark-title {
            @include font($fontN5, 12px, 1.08, $black, 1px);
            padding-top: 9px;
            padding-left: 5px;
        }

        .bookmark-date {
            @include font($font04, 11px, 1.09, $liteAsh6, 0.6px);
            padding-top: 5px;
            padding-left: 5px;
        }

        .bookmark-type {
            @include font($font04, 11px, 1.09, $liteAsh6, 0.6px);
            padding-top: 5px;
            float: right;
            text-transform: capitalize;
            padding-right: 5px;
        }
    }

    .content-date {
        @include font($font07, 13px, 1, $black, 1px);
        padding: 7px 20px;
    }

    .title {
        padding: 10px 20px 7px;
        @include font($fontN5, 18px, 1.17, $black, 0.5px);
        max-height: 58px;
        text-decoration: none;
        display: block;
    }

    .subject {
        padding: 0 20px 10px;
        @include font($fontN7, 10px, 1.6, $liteBlue2, 0.8px);
        max-height: 26px;
        text-transform: uppercase;
    }

    .description {
        /*max-height: 48px;*/
        max-height: 72px;
        padding: 0 20px;
        @include font($font04, 16px, 1.5, $black, 0.5px);
    }

    .icons-row {
        position: absolute;
        bottom: 15px;
        width: 100%;
        min-height: 32px;

        .bookmark-icons {
            display: inline-block;
        }

        .sw-content-icon,
        .sw-icon,
        .view-article-link {
            display: inline-block;
            vertical-align: middle;
        }

        .sw-content-icon {
            margin-left: 0;
            position: relative;
        }

        .sw-icon {
            margin-left: 10px;
        }

        .sw-icon:first-child {
            margin-left: 10px;
        }

        .sw-content-icon:first-child {
            margin-left: 10px;
        }

        .view-article-link {
            @include font($font09, 14px, 1, $liteBlue2, 0.5px);
            margin-left: 25px;
            padding-right: 20px;
            padding-top: 10px;
            float: right;

            a {
                &:active,
                &:focus,
                &:hover,
                &:visited {
                    color: $liteBlue2;
                    text-decoration: none;
                }
            }
        }
    }

    .image-container {
        max-width: 325px;
        /*height: 180px;*/
        height: auto;
        text-align: center;
        position: relative;
        /*background-color: $lightGray3;*/
        background-color: $white;        

        .content-image {
            max-width: 100%;
            max-height: 180px;
            /*@include center-both;*/
        }

        div[ng-bind-html="containerGameDesc"]{
         display: none;
        }


        div[ng-bind-html="containerGameTitle"]{
          display: none;
        }
    }

    .image-container-resource {
        max-width: 298.8px;
        /*height: 162.91px;*/
        text-align: center;
        position: relative;
        margin: 17.1px 17.1px 0;
        /*background-color: $lightGray3;*/

        background-color: $white;        
        overflow: hidden;

        .content-image {
            width: auto;
            height: auto;
            max-width: 98%;
            @include shadow(rgba(0, 0, 0, 0.5), 0 3px 7px 0);
        }

        div[ng-bind-html="containerGameDesc"]{
         display: none;
        }


        div[ng-bind-html="containerGameTitle"]{
          display: none;
        }
    }

    .resource-wrapper {
        background-color: $lightGray3;
        border-bottom: 2.3px solid $swGreyBorder;
    }

    .video-play-icon {
        @include center-both;
    }

    .video-time-frame {
        position: absolute;
        background-color: $black;
        bottom: 0.25px;
        right: 0;
        @include font($font7, 11px, 1.27, $white, 1px);
        width: 50px;
        height: 20px;
        padding: 3px 10.5px;
        display: none;
    }

    @include respond-to ('large') {
        .description {
            max-height: 72px;
        }
    }
}

.content-tile-container-horizontal {
    $borderColor: #cdd3d5;
    $backgroundColor: #ffffff;
    height: 300px;
    background-color: $backgroundColor;
    border: 1px solid $borderColor;
    max-width: 440px;

    .padding-content {
        padding: 20px 20px 20px 0;
        height: 295px;
    }

    .title {
        padding-left: 10px;
        @include font($fontN5, 18px, 1.17, $black, 0.6px);
        max-height: 83px;
        text-decoration: none;
        display: block;
        padding-bottom: 14px;
    }

    .description {
        max-height: 120px;
        padding: 0 0 0 10px;
        @include font($font04, 16px, 1.5, $black, 0.5px);
    }

    .row {
        margin: 0;
        padding: 0;
    }

    .padding-image {
        padding: 20px 0 20px 20px;
    }

    .image-container {
        max-width: 190px;
        /*height: 260px;*/
        height: auto;

        text-align: center;
        position: relative;
        /*background-color: $lightGray3;*/
        background-color: $white;

        .content-image {
            max-width: 100%;
            max-height: 260px;
            /*@include center-both;*/
        }
    }

    .icons-row {
        position: absolute;
        bottom: 15px;
        width: 100%;

        .sw-content-icon,
        .sw-icon,
        .view-article-link {
            display: inline-block;
            vertical-align: middle;
        }

        .sw-content-icon,
        .sw-icon {
            margin-left: 10px;
        }

        .sw-icon:first-child {
            margin-left: 5px;
        }

        .sw-content-icon:first-child {
            margin-left: 5px;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) { 
    .image-container-resource {
        height: 107.61px;
    }    
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) { 
    .image-container-resource {
        height: 112.1px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) { 
    .image-container-resource {
        height: 135.99px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) { 
    .image-container-resource {
        height: 148px;
    }
}

@media only screen and (min-width: 1366px) { 
    .image-container-resource {
        height: 162.91px;
    }
}

@include respond-to('1440px'){
    .content-tile-container {
         .image-container {
                height: 180px;
            .content-image{
                height: 100%;
                width: 100%;
            }
        }

        .image-container-resource {
                height: 162.91px;
            .content-image {
                height: auto;
                width: 98%;
            }
        }

        .content-tile-body .content-module .content-module-container .content-wrapper .content-one-up .img-container img{
            height: 180px;
            width: 100%;
        }
    }

    .content-tile-container-horizontal {
        .image-container {   
            height: 260px;
            .content-image {
                width:100%;
                height: 100%;
            }
        }
    }
}
