.article-toolbar-layout {
    .article-toolbar {
        border:solid 2px $mathArticleToolbarBorderColor;
        border-radius: 4px;
        .menu-list {
            .icon-description{
                @include font($fontB4, 13px, 1.38, $black, 0.5px);
                padding-left:2px;
            }
            .title{
                @include font($fontB8, 11px, 1.45, $black, 0.8px);
                text-align: center;
            }
            .drop-down{
                @include font($fontB7, 13px, 1, $black, 0.5px);
                background-color: $mathArticleToolbarDropdownBackgroundColor;
                border: solid 1px $mathArticleToolbarDropdownBorder;
                background: $mathArticleToolbarDropdownBackground url("/etc/designs/scholastic/classroom-magazines-migration/math/images/dropdown.png") no-repeat;
                background-position: right 10px center;
                &:disabled {
                    background: $mathArticleToolbarDropdownBackgroundColor;
                }
            }
        }
        .toolbar-sec-2,.toolbar-sec-3,.toolbar-sec-4,.toolbar-sec-5{
            padding-left: 23px;
            position:relative;
        }
        .two-page-icon{
            position:relative;
            top:5px;
        }
        .page-arrow-icon{
            position:relative;
            top:4px;
        }
    }
}