.search-resources-main-container {
    background-color:#fff;
    .search-main-content {
        .main-title{
            margin-bottom: 22px;
            .title-container{
                @include font($fontG7, 34px, 0.94, $black, 0.5px);
            }
            .title-count{
                @include font($fontG7, 28px, 1.14, $black, 0.4px);
                margin-left: 16px;
            }
        }
        .articles-resources-issues-container{ 
            .articles-resources-issues-tabs {
                ul {
                    margin-top:5px;
                    margin-bottom:11px;
                    border-bottom: 4px solid $activeTabColor;
                }
            }
            .tab-content {
                .tab-pane {
                    .filter-section-container {
                        .search-facets{
                            margin-left:10.50%;
                        }
                    }
                    .search-resources-section{
                            padding-left: 14.83px;
                            padding-right: 30px;
                    }
                }
            }
        }
        .search-resources-content {
            .sort-by-wrapper{
                margin-top:0px;
                span{
                    margin-right:25px;
                    &:first-child, &:nth-child(2){
                        @include font($fontGB5, 12px, 1.08, $black, 0.5px);
                    }
                }
                .sort-by-category {
                    &.active-sort {
                        a{
                            @include font($fontGB9, 12px, 1.08, $black, 0.5px);
                        }
                    }
                    a{
                        @include font($fontGB5, 12px, 1.08, null, 0.5px);
                        color: $actioninactiveSortColor;
                    }
                }
            }
            .content-tile-container{
                margin-bottom:9px;
            }
            .pagination-directive-wrapper{
                margin-top:0px;
                margin-bottom:56px;
            }
        }
        .articles-resources-issues-container {
            margin-top:0px;
            .articles-resources-issues-tabs{ 
                	     ul {
	     	height: 57.5px;
	     	border-bottom: 4px solid $activeTabColor;

		    li{
		    	&.active{
		    		a{
		    		@include font($fontGB9, 14px, 1, $white, 1px);
		    	    }
               		background-color: $activeTabColor;  
			     	&:before, &:after, &:focus, &:hover, &:active{
                    background-color: $activeTabColor; 
                    }
                    &:before,{
                    	width: 43px;
                    }
		    	}
		    }
		    li{ 
		    	a{
		    		@include font($fontGB9, 14px, 1, $inActiveFontColor, 1px);
		    	}
		    	&:before, &:after{
		    		border-top-right-radius:8px;
		    		border-top-left-radius:8px;
		    		width: 43px;
		    	}
		    }
	    
	     }
            }
            .tab-content {
                .tab-pane {
                    .filter-section-container {
                        .filter-category-section {
                            .filter-category-heading{
                                @include font($fontGB9, 12px, 1.08, $black, 0.9px);
                            }
                            .filter-category-items-container {
                                ul {
                                    .filter-category-item {
                                        span{
                                            &.checkbox-text{
                                                @include font($fontGB5, 12px, 1.08, $black, 0.5px);
                                            }
                                        }
                                        label{
                                            @include font($fontGB5, 12px, 1.08, $black, 0.5px);
                                        }
                                    }
                                }
                            }
                            &.filter-reset-section {
                                .filter-category-items-container {
                                    .filter-category-item {
                                        span{
                                            @include font($fontGB9, 13px, 1.08, null, normal);
                                            color: $actioninactiveSortColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .pagination-directive-wrapper{
                    margin-bottom:30px;
                    .paginationBottom{
                        margin-top:24px;
                        margin-bottom:0px;
                    }
                }
            }
        }
    }
}