.divider-component{
	padding-top: 0;
    padding-bottom: 58px;
	.border-divider{
		width: 100%;
		border: 1px solid $gray;
        position: relative;
        &:before,
        &:after{
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            background-color: $gray;
            border-radius: 100%;
            bottom: -4px;
        }
        &:after{
          right: -1px;
        }
        &:before{
          left: -1px;
        }
	}
}