.subscribe-footer {
    padding: 10px 0 56px 170px;
    margin-top: 60px;

    .subscribeFooter-title {
        @include font($font07, 20px, 1, $white);
        text-align: left;
        margin-top: 50px;
        display: inline-block;
    }

    .subscribeFooter-desc {
        @include font($font04, 16px, 1.5, $white);
        text-align: left;
        max-width: 663px;
        display: inline-block;
    }
}

@include respond-to ('xssmall') {
    .subscribe-footer {
        padding: 4px 20px 54px;
        margin-top: 80px;
    }
}
