.sw-icon {
    background: url('/etc/designs/scholastic/classroom-magazines-migration/upfront/clientlibs/upfront-core/styles/core/icons/Icons-Upfront.png') no-repeat;
    display: inline-block;
    &.search-icon {
        background-position: -169px -19px;
        width: 40px;
        height: 40px;
    }
    &.two-page-big-icon{
        background-position: -170px -420px;
        width: 40px;
        height: 40px;
    }
    &.phone-liteblue-icon{
        background-position: -231px -336px;
        width: 12px;
        height: 12px;
    }
    &.person-icon {
    background-position: -170px -86px;
    width: 40px;
    height: 40px;
}
    &.down-arrow {
    background-position: -19px -139px;
    width: 14px;
    height: 9px;
}
    &.down-black-arrow {
    background-position: -19px -176px;
    width: 9px;
    height: 14px;
}
    &.right-grey-arrow {
    background-position: -60px -253px;
    width: 11px;
    height: 20px;
}
    &.down-full-arrow {
    background-position: -19px -19px;
    width: 10px;
    height: 10px;
}
    &.left-arrow-icon {
    background-position: -109px -199px;
    width: 26px;
    height: 26px;
}
    &.right-arrow-icon {
    background-position: -109px -253px;
    width: 26px;
    height: 26px;
}
    &.bookmark-icon {
    background-position: -228px -205px;
    width: 35px;
    height: 35px;
}
    &.checkbox-checked {
    background-position: -59px -65px;
    width: 18px;
    height: 18px;
}
    &.blue-close-btn {
    background-position: -20px -58px;
    width: 10px;
    height: 10px;
}
    &.grey-close-btn {
    background-position: -58px -300px;
    width: 16px;
    height: 16px;
}
    &.print-icon {
    background-position: -289px -205px;
    width: 34px;
    height: 34px;
}
    &.upload-icon {
    background-position: -289px -143px;
    width: 34px;
    height: 34px;
}
    &.expand-icon {
    background-position: -229px -19px;
    width: 38px;
    height: 38px;
}
    &.sound-icon {
    background-position: -348px -84px;
    width: 27px;
    height: 20px;
}
    &.page-edit-icon {
    background-position: -169px -275px;
    width: 26px;
    height: 26px;
}
    &.yellow-page-icon {
    background-position: -161px -199px;
    width: 52px;
    height: 52px;
}
    &.plus-icon {
    background-position: -177px -150px;
    width: 26px;
    height: 27px;
}
    &.stack-window-icon {
    background-position: -229px -142px;
    width: 39px;
    height: 39px;
}
    &.sound-small-icon {
    background-position: -228px -651px;
    width: 25px;
    height: 19px;
}
    &.page-arrow-icon {
    background-position: -348px -18px;
    width: 35px;
    height: 35px;
}
    &.two-page-icon {
    background-position: -228px -80px;
    width: 35px;
    height: 35px;
}
    &.close-icon {
    background-position: -347px -258px;
    width: 49px;
    height: 48px;
}
    &.cta-btn-yellow {
    background-position: -19px -661px;
    width: 182px;
    height: 44px;
}
    &.login-student-icon {
    background-position: -19px -548px;
    width: 92px;
    height: 70px;
}
    &.login-teacher-icon {
    background-position: -18px -450px;
    width: 76px;
    height: 71px;
}
    &.video-icon {
    background-position: -17px -349px;
    width: 75px;
    height: 75px;
}
    &.cta-btn-grey {
    background-position: -19px -732px;
    width: 182px;
    height: 44px;
}
    &.radio-checked-icon {
    background-position: -168px -333px;
    width: 19px;
    height: 19px;
}
    &.radio-checked-big-icon {
    background-position: -289px -333px;
    width: 24px;
    height: 25px;
}
    &.checkbox-checked-big-icon {
    background-position: -289px -436px;
    width: 38px;
    height: 39px;
}
    &.number-three-icon {
    background-position: -227px -500px;
    width: 43px;
    height: 42px;
}
    &.number-two-icon {
    background-position: -227px -439px;
    width: 43px;
    height: 41px;
}
    &.number-one-icon {
    background-position: -227px -377px;
    width: 43px;
    height: 41px;
}
    &.checkbox-unchecked-big-icon {
    background-position: -289px -502px;
    width: 39px;
    height: 39px;
}
    &.dropdown-arrow {
    background-position: -169px -513px;
    width: 8px;
    height: 15px;
}
    &.large-size-blue-down-full-arrow {
    background-position: -169px -623px;
    width: 12px;
    height: 12px;
}
    &.user-dropdown-blue-arrow {
    background-position: -229px -573px;
    width: 14px;
    height: 10px;
}
    &.dashboard-icon {
    background-position: -348px -377px;
    width: 22px;
    height: 18px;
}
    &.user-dropdown-white-arrow {
    background-position: -109px -365px;
    width: 15px;
    height: 10px;
}
    &.double-arrows-blueRounded-icon {
    background-position: -272px -559px;
    width: 74px;
    height: 74px;
}
    &.scholasctic-icon {
    background-position: -229px -756px;
    width: 139px;
    height: 19px;
}
    &.chat-icon {
    background-position: -288px -662px;
    width: 18px;
    height: 17px;
}
    &.download-black-icon {
    background-position: -349px -417px;
    height: 19px;
    width: 19px;
}
    &.bookmark-nonrounded {
    background-position: -349px -459px;
    width: 14px;
    height: 18px;
}
    &.bookmarked-nonrounded {
    background-position: -349px -497px;
    width: 14px;
    height: 18px;
}
    &.expand-artResources-button-yellow {
        background-position: -19px -803px;
        width: 353px;
        height: 39px;
    }
    &.radio-unchecked-big-icon {
        background-position: -290px -384px;
        width: 22px;
        height: 22px;
    }
    &.bulb-icon {
        background-position: -110px -405px;
        width: 25px;
        height: 42px;
    } 
    &.slide-show-grey-left-arrow-icon{
        background-position: -21px -874px;
        width: 58px;
        height: 58px;
    }
    &.slide-show-red-right-arrow-icon{
        background-position: -86px -874px;
        width: 58px;
        height: 58px;
    }
    &.sound-big-icon{
        background-position: -186px -887px;
        width: 42px;
        height: 32px;
    }
    &.slide-show-grey-right-arrow-icon{
        background-position: -21px -874px;
        width: 58px;
        height: 58px;
        transform:rotate(180deg);
    }
    &.slide-show-red-left-arrow-icon{
        background-position: -86px -874px;
        width: 58px;
        height: 58px;
        transform:rotate(180deg);
    }
}