.cm-migration-image-container {
    .image-popup-image-layout {
        .image-popup-image-container {
           
            border: solid 1px $popUpImageBorderColor;
            background-color: $white;

            .popup-modal-image-container {
                .image-popup-content {
                    .article-hero-modal-image {
                        img {
                            border-radius: 0;
                        }
                    }
                }
            }

            img {
                @include border-radius-separate(0, 0, 0, 0);
            }

            .caption-section {
                padding: 0 15px 0 15px;

                .img-popup-credits {
                    @include font($fontB4, 11px, 1, $lightGrey2, 0.3px);
                    text-align: right;
                    margin-top: 8px;
                }

                .img-popup-caption {
                    @include font($fontB4, 14px, 1.29, $black, 0.3px);
                    margin-top: 5px;
                    padding-bottom: 15px;
                }
            }

            &.cm-migration-image-bottom-radius {
                img {
                    @include border-radius-separate(7px, 7px, 7px, 7px);
                }
            }
        }
    }
}
