.sw-icon {
    background: url('/etc/designs/scholastic/classroom-magazines-migration/dynamath/clientlibs/dynamath-core/styles/core/icons/Icons-DynaMath.png') no-repeat;
    &.search-icon {
        background-position: -169px -19px;
        width: 40px;
        height: 40px;
    }
    &.hamburger-menu {
        background-position: -349px -191px;
        width: 32px;
        height: 37px;
    }
    &.facebook-icon {
        background-position: -109px -20px;
        width: 32px;
        height: 32px;
    }
    &.pinterest-icon {
        background-position: -109px -139px;
        width: 32px;
        height: 32px;
    }
    &.twitter-icon {
        background-position: -109px -79px;
        width: 32px;
        height: 32px;
    }
    &.person-icon {
        background-position: -169px -85px;
        width: 40px;
        height: 40px;
    }
    &.refresh-icon {
        background-position: -109px -307px;
        width: 18px;
        height: 18px;
    }
    &.page-info {
        background-position: -289px -19px;
        width: 35px;
        height: 35px;
    }
    &.down-arrow {
        background-position: -19px -139px;
        width: 13px;
        height: 9px;
    }
    &.left-arrow {
        background-position: -19px -176px;
        width: 9px;
        height: 14px;
    }
    &.right-arrow {
        background-position: -20px -97px;
        width: 8px;
        height: 15px;
    }
    &.right-grey-arrow {
        background-position: -60px -253px;
        width: 12px;
        height: 20px;
    }
    &.down-full-arrow {
        background-position: -19px -19px;
        width: 10px;
        height: 9px;
    }
    &.left-arrow-icon {
        background-position: -109px -199px;
        width: 26px;
        height: 26px;
    }
    &.grey-close-btn {
        background-position: -59px -300px;
        width: 14px;
        height: 16px;
    }
    &.right-arrow-icon {
        background-position: -109px -253px;
        width: 27px;
        height: 27px;
    }
    &.blue-close-btn {
        background-position: -20px -58px;
        width: 9px;
        height: 11px;
    }
    &.checkbox-unchecked {
        background-position: -59px -19px;
        width: 18px;
        height: 18px;
    }
    &.checkbox-checked {
        background-position: -59px -65px;
        width: 18px;
        height: 19px;
    } 
    &.checkbox-checked-disabled {
        background-position: -59px -111px;
        width: 18px;
        height: 18px;
    }
    &.bookmark-icon {
        background-position: -229px -205px;
        width: 35px;
        height: 35px;
    }
    &.bookmarked-icon {
        background-position: -229px -267px;
        width: 34px;
        height: 33px;
    }
    &.download-icon {
        background-position: -289px -81px;
        width: 35px;
        height: 35px;
    }
    &.downloaded-icon {
        background-position: -59px -157px;
        width: 18px;
        height: 18px;
    }
    &.print-icon {
        background-position: -289px -205px;
        width: 35px;
        height: 35px;
    }
    &.upload-icon {
        background-position: -289px -143px;
        width: 34px;
        height: 34px;
    }
    &.expand-icon {
        background-position: -229px -19px;
        width: 38px;
        height: 37px;
    }
    &.stack-window-icon {
        background-position: -229px -143px;
        width: 39px;
        height: 38px;
    }
    &.plus-icon {
        background-position: -169px -151px;
        width: 25px;
        height: 26px;
    }
    &.yellow-page-icon {
        background-position: -165px -199px;
        width: 56px;
        height: 56px;
    }
    &.papers-stack-icon {
        background-position: -289px -267px;
        width: 35px;
        height: 35px;
    }
    &.page-edit-icon {
        background-position: -169px -275px;
        width: 26px;
        height: 26px;
    }
    &.sound-icon {
        background-position: -348px -84px;
        width: 28px;
        height: 20px;
    }
    &.sound-small-icon {
        background-position: -229px -652px;
        width: 25px;
        height: 19px;
    }
    &.page-arrow-icon {
        background-position: -349px -19px;
        width: 35px;
        height: 35px;
    }
    &.two-page-icon {
        background-position: -229px -81px;
        width: 34px;
        height: 35px;
    }
    &.close-icon {
        background-position: -348px -259px;
        width: 48px;
        height: 48px;
    }
    &.close-big-icon {
        background-position: -347px -141px;
        width: 24px;
        height: 24px;
    }
    &.phone-icon {
        background-position: -20px -292px;
        width: 13px;
        height: 16px;
    }
    &.video-icon {
        background-position: -17px -351px;
        width: 76px;
        height: 76px;
    }
    &.login-teacher-icon {
        background-position: -19px -451px;
        width: 75px;
        height: 70px;
    }
    &.login-student-icon {
        background-position: -20px -549px;
        width: 90px;
        height: 69px;
    }
    &.cta-btn-yellow {
        background-position: -19px -663px;
        width: 182px;
        height: 43px;
    }
    &.cta-btn-grey {
        background-position: -20px -733px;
        width: 181px;
        height: 42px;
    }
    &.radio-unchecked-icon {
        background-position: -169px -377px;
        width: 19px;
        height: 19px;
    }
    &.radio-checked-icon {
        background-position: -169px -334px;
        width: 19px;
        height: 19px;
    }
    &.radio-unchecked-big-icon {
        background-position: -289px -383px;
        width: 24px;
        height: 24px;
    }
    &.radio-checked-big-icon {
        background-position: -289px -334px;
        width: 24px;
        height: 24px;
    }
    &.number-one-icon {
        background-position: -229px -377px;
        width: 40px;
        height: 38px;
    }
    &.number-two-icon {
        background-position: -229px -439px;
        width: 40px;
        height: 37px;
    }
    &.number-three-icon {
        background-position: -229px -501px;
        width: 40px;
        height: 39px;
    }
    &.medium-size-blue-down-full-arrow {
        background-position: -169px -475px;
        width: 10px;
        height: 8px;
    }
    &.dropdown-arrow {
        background-position: -169px -513px;
        width: 8px;
        height: 15px;
    }
    &.large-size-blue-down-full-arrow {
        background-position: -169px -623px;
        width: 12px;
        height: 12px;
    }
    &.grey-up-full-arrow {
        background-position: -168px -553px;
        width: 9px;
        height: 7px;
    }
    &.black-up-full-arrow {
        background-position: -169px -588px;
        width: 9px;
        height: 7px;
    }
    &.user-dropdown-blue-arrow {
        background-position: -229px -572px;
        width: 14px;
        height: 11px;
    }
    &.user-dropdown-white-arrow {
        background-position: -109px -366px;
        width: 14px;
        height: 10px;
    }
    &.dashboard-icon {
        background-position: -349px -378px;
        width: 22px;
        height: 18px;
    }
    &.expand-artResources-button-yellow {
        background-position: -19px -803px;
        width: 352px;
        height: 37px;
    }
}