<!DOCTYPE html>
<html>

<head>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/main.css" />
</head>

<body>
    <div class="error-page-wrapper container-fluid" ng-app="scienceWorld">
        <div class="row mar0">
            <div class="col-md-10 error-page">
                <div class="error-page-container row">
                    <div class="col-md-4 col-md-offset-1 error-page-content">
                        <h2>OOPS</h2>
                        <p>You’ve reached a page that’s extinct.</p>
                        <button class="error-btn" ng-click="">RETURN HOME</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../../../bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
    <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../../scripts/app.js"></script>
    <script src="../commonHeader/commonHeaderDirective.js"></script>
    <script src="../common/swImage/swImageDirective.js"></script>
    <script src="../backToTop/backToTopDirective.js"></script>


</body>

</html>
