.recent-issues-container {
    background-color: $snGlobalNavExploreColor;
    padding-top: 30px;
    padding-bottom: 53px;
    margin-top: 0;

    .recent-issue-content-wrapper {
        .recent-issue-date {
            @include font($fontSL5, 18px, 1.17, $black, 0.5px);
        }
    }
}
