.contact-us-layout {
    &.container-fluid {
        padding-left:0;
        padding-right: 0;
    }
    .common-header-title {
        margin-left: 16%;
    } 
     
    .contact-us-wrapper {

        margin-left: 40px;
        margin-right: 40px;
        .contact-us-container {            
            .contactus-right-container{
                padding-top: 47px;

                .contact-info {                
                    margin-right: 15px;
                    margin-left: 14px;
                    padding-left: 0;
                    padding-right: 96px;

                    .contact-info-bar {
                        background: $contactUsBlue;
                        transform: skew(-8deg);  
                        margin-left: 11px;                     
                        ul {
                            margin: 0;
                            padding: 28.5px 10px 28.5px 24px;
                            transform: skew(8deg);
                            display: table;
                            width: 100%;
                            li {
                                list-style: none;
                                display: table-cell;
                                border-right: 2px solid $white;
                                padding: 0 24px;
                                p {
                                    @include font($fontN7, 18px, 1.33, $white, 1.2px);
                                    margin-bottom: 6px;
                                }
                                .contact-detail-text {
                                    @include font($font07, 16px, 1.88, $white, 0.5px);
                                    span.sw-icon {
                                        margin-right: 10.8px;
                                        margin-top: 8px;
                                        float: left;
                                    }
                                    &.email-text {
                                        line-height: 1;
                                        padding-top: 5px;                                    
                                    }
                                }
                                .info-text {
                                    display: block; 
                                    line-height: 1.2;
                                    margin-left: 24px;                               
                                }
                            }
                            li:last-child {
                                border-right: 0 none;
                            }                    
                        }            
                    }

                    .contact-info-text {                         
                        margin-top: 45px;
                        padding-right: 80px;
                        p{
                            @include font($font04, 16px, 1.38, $black, 0.9px);
                            margin-bottom: 24px;
                            a {
                                color: $liteBlue2;
                                border-bottom: 1px solid $liteBlue2;
                                display: inline;
                            }
                        }
                        p:last-child {
                            margin-bottom: 0;
                        }
                    }
                
                }
                .contact-form-questions {
                        margin-top: 66px;
                        .question-row {
                            margin-bottom: 41px;
                            .sl-no {
                                width: 40px;
                                height: 35px;
                                background: $yellow;
                                transform: skew(-5deg);
                                @include font($fontN5, 20px, 1.1, $black, 1.1px);
                                text-align: center;
                                padding: 6px 0;
                                margin-left: 15px;
                                span {
                                    transform: skew(5deg);
                                }
                            }
                            .question-container {
                                padding-left: 13px;
                                margin-top: 5px; 
                                p {
                                    @include font($fontN5, 20px, 1.1, $black, 1.1px);
                                    margin-bottom: 16px;
                                }
                                label {
                                    display: block;
                                    margin-bottom:10px;
                                    @include font($font04, 18px, 1.22, $black, 1px);
                                    position: relative;
                                    cusrsor: pointer;

                                    .sw-icon.radio-uncheck {

                                    }
                                    .radio-text {
                                        position: absolute;
                                        top: -2px;
                                        left: 23px;
                                    }
                                }
                                label:last-child {
                                    margin-bottom: 0;
                                }
                                input[type=radio]{
                                    display: none;
                                }
                                label 
                                {
                                    input[type=radio]:checked + .sw-icon.radio-unchecked-icon {
                                        background-position: -170px -334px;
                                    }
                                    .sw-icon.radio-unchecked-icon.checked {
                                        background-position: -170px -334px;
                                    }
                                }
                                select {
                                    width: 340px;
                                    height: 40px;
                                    border: 1px solid $contactSelectBorderGrey;
                                    @include font($font04, 14px, 1.1, $black, 0.8px);
                                    padding-left: 22px;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    background: $contactSelectGrey url(../images/icons/dropdown-arrow.png) no-repeat;
                                    background-position: right 13px center;
                                }

                            }
                        }
                        .contact-form-container {
                            margin-bottom: 30px;
                            .contact-form {
                                padding-right: 42px;
                                padding-left: 92px;
                                position: relative;
                                .contact-form-row {
                                    margin-bottom: 25px;
                                    position: relative;
                                    label {
                                        display: block;
                                        @include font($font04, 16px, 1.38, $black, 0.9px);
                                    }
                                    input[type="text"], input[type="email"], select, textarea {
                                        width: 100%;
                                        height: 40px;
                                        background: $formInputGrey;
                                        border: 1px solid $liteAsh9;
                                        @include font($font04, 14px, 1, $black, 0.8px);
                                        padding-left: 25px;
                                    }
                                    select {
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        appearance: none;
                                        background: $contactSelectGrey url(../images/icons/dropdown-arrow.png) no-repeat;
                                        background-position: right 13px center;
                                    }
                                    textarea {
                                        resize: none;
                                        height: 163px;
                                        padding-top: 12px;
                                    }     
                                    input.error-input {
                                        border: 1px solid $errorFieldTextColor;
                                    }
                                    p.field-error-text {
                                        position: absolute;
                                        right: 0;
                                        margin: 10px 0 0 0;
                                        color: $errorFieldTextColor;
                                        display: none;
                                    }       
                                    p.field-error-text-visible {
                                        display: block;
                                    } 
                                    &:last-child {
                                        margin-bottom: 0;
                                    }    
                                    &.marB0 {
                                        margin-bottom: 0;
                                    }           
                                }

                                .required-text {
                                    @include font($font04, 12px, 1.83, $black, 0.7px);
                                    margin-bottom: 30px;
                                    margin-top: 2px;
                                }
                                .contact-submit-btn {
                                    background: $yellow;
                                    padding: 10px 0;
                                    border-radius: 100px;
                                    border: 0 none;
                                    min-width: 220px;
                                    @include font($font09, 13px, 1.54, $black, 1px);
                                    text-align: center;
                                    height: 40px;
                                    margin-bottom: 69px;
                                }
                            }
                            .contact-form{
                                &.col-md-6.padL14 {
                                    padding-left: 14px;
                                }
                                .contact-form-row .alert-success{
                                    margin-left: -18px;
                                }
                            }
                            .contact-form-image {
                                padding-left: 10px;
                            }
                        }
                     
                }
                
            
            }
        }
    }
    .alert-success {
        @include font($fontN5, 16px, 1.33, $contactAlertSuccessGreen, 1.2px);
        margin: 20px 10px 0 0;
    }
    .alert-danger {
        @include font($fontN5, 16px, 1.33, $contactAlertSuccessGreen, 1.2px);
        margin: 20px 10px 0 0;
    }    
}