.app-nav-bar-main-container {
    .global-nav-container {
        .app-navbar-header{
            margin-bottom:15px;
        }
    }
    .app-navbar-secondary{
        background-color: $actionExplorebarColor;
    }
}
