
<div data-sly-test="${!properties.tabs}">Configure General - Tabs Component</div>
<div ng-controller="tabComponentController">
<div data-sly-test="${properties.tabs}" data-sly-unwrap>
	<div class="tab-component-layout">
	    <ul class="nav nav-tabs main-tabs" data-sly-list.child="${properties.tabs}">
	    	<div data-sly-test="${childList.first}" data-sly-unwrap>
	        <li class="active" data-id="${ 'tab{0}' @ format=[childList.index]}"><a data-toggle="tab" href="#${ 'tab{0}' @ format=[childList.index]}">
	            	<span class="tab-names">${child}</span>
	            </a>
	        </li>
	        </div>
	        <div data-sly-test="${!childList.first}" data-sly-unwrap>
	        <li data-id="${ 'tab{0}' @ format=[childList.index]}"><a data-toggle="tab" href="#${ 'tab{0}' @ format=[childList.index]}">
	            	<span class="tab-names">${child}</span>
	            </a>
	        </li>
	        </div>
	    </ul>
	    <div class="tab-content main-tab-content" data-sly-list.child="${properties.tabs}">
	        <div data-sly-test.concat="${ 'tab{0}' @ format=[childList.index]}" data-sly-unwrap>
				<div data-sly-test="${childList.first}" data-sly-unwrap>
		            <div id="${concat}" class="tab-pane fade active in" >
		               <div data-sly-resource="${ @path=concat, resourceType='wcm/foundation/components/parsys'}"></div>
		            </div>
	            </div>
	            <div data-sly-test="${!childList.first}" data-sly-unwrap>
		            <div id="${concat}" class="tab-pane fade" >
		               <div data-sly-resource="${ @path=concat, resourceType='wcm/foundation/components/parsys'}"></div>
		            </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div class="vpaddingComponent-container">
        <div class="vpaddingComponent-content vheight20">
</div>
</div>
</div>
