.answer-question-block{
	    padding-left: 20px;
	    padding-bottom: 10px;
	.answer-question{
		@include font($fontGB9, 18px, 2, $actionSubjectsCovered, 0.5px);
		margin: 0;
		padding-top: 20px;
	}
	.answer-image-block{
		.answered-image{
			padding-top: 20px;
		}
		.image-caption{
			@include font($fontGB5, 13px, 1.69, $black, 0.5px);
			margin: 0;
    		padding-top: 10.8px;
		}
		.answered-content{
			@include font($fontGB5, 18px, 1.44, $black, 0.5px);
			padding-top: 20px;
		}
	}
}