.email-form-thankyou-container {
    .email-thankyou-wrapper {
        margin-top: 25px;

        .email-editor-description-text {
            @include font($fontSL4, 16px, 1.38, $black, 0.5px);
        }

        .form-field-wrapper {
            .label-text {
                @include font($fontSL4, 16px, 1.38, $black, 0.5px);
            }

            .form-field-input {
                @include font($fontSL4, 14px, 1.57, $sn4EmailFormInputFieldFontColor, 0.8px);
                background-color: $sn4BgGrey;
                border: 1px solid $sn4BorderGrey;
            }

            .error-field-outline {
	    		       border: 1.2px solid $errorFieldTextColor;
	    	    }

            .subject-field-input {
                &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, :-ms-input-placeholder {
                    @include font($fontSL4, 14px, 1.57, $sn4EmailFormInputFieldFontColor, 0.8px);
                }
			      }
        }

        .required-fields-text {
            @include font($fontSL4, 12px, 1.83, $requiredFieldstextGrey, 0.7px);
        }

        .email-form-all-fields-container {
            .send-button-wrapper {
                .send-button {
                    background-color: $sn4NavyBlue;
                    @include font($fontSL7, 18px, 1.11, $white, 0.5px);
                }
            }
        }

        .email-form-image {
            display: none;
        }
    }

    .back-to-previous-wrapper {
        margin-bottom: 35px;

        .back-to-previous-text {
            @include font($fontSL7, 14px, 1, $sn4FaqQuestionColor, 0.5px);
        }
    }
}
