<div
	data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse"
	data-sly-unwrap>
	<div data-sly-test="${wcmmode.edit || globalAccess.visible}"
		data-sly-unwrap>
		<div data-sly-test="${wcmmode.edit}">Article Page - Left Text
			Component</div>
		<div class="article-Obj-skills-pad-container">
			<div
				data-sly-use.objectivesAndSkills="com.scholastic.classmags.migration.controllers.ObjectivesAndSkillsUse"
				class="article-learnObj-keyskills-container">
				<div data-sly-list="${objectivesAndSkills.objectivesAndSkillsList}"
					class="row nomarLR">
					<div class="col-xs-6 col-md-12 pad0 learnKey-single-sec-wrapper">
						<div class="learnKey-section-title text-uppercase">
							${item.title @context='html'}</div>
						<div class="learnKey-section-content">${item.description
							@context='html'}</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
</div>
