.scholastic-magazine-wrapper {
    .scholastic-magazine-content {
        padding: 0 20px 62.4px 40px;

        .scholastic-image {
            margin-top: 70px;
        }
        
        .magazine-title-wrapper {
            padding-bottom: 16px;

            span.magazine-title {
                    @include font($fontS7, 28px, 1.14, $black, 1px); 
                }
        }

        .content-container {
            margin-top: 70px;

            .magazine-content {
                .magazine-subtitle {
                    @include font($fontS7, 20px, 0.9, $darkNavyBlue, 0.5px);

                    a {
                        color:$darkNavyBlue;
                    }
				}
               
            }
        }
        
    }

    .scholastic-magazine-content-hash {
            display: none;
        }
}
