.sw-icon {
    background: url('/etc/designs/scholastic/classroom-magazines-migration/scholasticnews3/clientlibs/scholasticnews3-core/styles/core/icons/Icons-SN3.png') no-repeat;

    &.search-icon {
        width: 40px;
        height: 40px;
    }
    &.person-icon {
        background-position: -169px -85px;
        width: 40px;
        height: 40px;
    }
    &.refresh-icon {
        height: 18px;
    }
    &.page-info {
        background-position: -289px -19px;
        width: 35px;
    }
    &.down-arrow {
        background-position: -19px -139px;
        width: 13px;
        height: 9px;
    }
    &.down-white-arrow {
        background-position: -19px -255px;
        width: 13px;
        height: 9px;
    }
    &.left-arrow {
        background-position: -19px -176px;
        width: 9px;
        height: 14px;
    }
    &.left-arrow-icon {
        background-position: -109px -199px;
        width: 26px;
        height: 26px;
    }
    &.right-arrow-icon {
        background-position: -109px -253px;
        width: 27px;
        height: 27px;
    }
    &.right-arrow {
        background-position: -19px -97px;
        width: 9px;
        height: 15px;
    }
    &.right-grey-arrow {
        background-position: -60px -253px;
        width: 12px;
        height: 20px;
    }
    &.down-full-arrow {
        background-position: -19px -19px;
        width: 10px;
        height: 10px;
    }
    &.grey-close-btn {
        background-position: -59px -300px;
        height: 16px;
    }
    &.blue-close-btn {
        height: 11px;
    }
    &.checkbox-unchecked {
        background-position: -59px -19px;
        width: 18px;
        height: 18px;
    }
    &.checkbox-checked {
        background-position: -59px -65px;
        width: 18px;
        height: 19px;
    }
    &.checkbox-checked-disabled {
        background-position: -59px -111px;
        width: 18px;
        height: 18px;
    }
    &.bookmark-icon {
        background-position: -229px -205px;
        width: 35px;
        height: 35px;
    }
    &.bookmarked-icon {
        background-position: -229px -267px;
        width: 34px;
        height: 33px;
    }
    &.download-icon {
        background-position: -289px -81px;
        width: 35px;
        height: 34px;
    }
    &.downloaded-icon {
        background-position: -59px -157px;
        width: 18px;
        height: 18px;
    }
    &.print-icon {
        background-position: -289px -205px;
        width: 35px;
        height: 34px;
    }
    &.upload-icon {
        background-position: -289px -143px;
        width: 35px;
        height: 34px;
    }
    &.expand-icon {
        background-position: -229px -19px;
        width: 38px;
        height: 38px;
    }
    &.stack-window-icon {
        background-position: -229px -143px;
        width: 39px;
        height: 38px;
    }
    &.plus-icon {
        background-position: -169px -151px;
        width: 27px;
        height: 26px;
    }
    &.papers-stack-icon {
        background-position: -289px -267px;
        width: 35px;
        height: 34px;
    }
    &.page-edit-icon {
        background-position: -169px -276px;
        width: 26px;
        height: 25px;
    }
    &.sound-small-icon {
        background-position: -229px -653px;
    }
    &.page-arrow-icon {
        background-position: -349px -19px;
        width: 35px;
        height: 34px;
    }
    &.two-page-icon {
        background-position: -229px -81px;
        width: 34px;
        height: 35px;
    }
    &.two-page-big-icon {
        background-position: -169px -419px;
        width: 38px;
        height: 29px;
    }
    &.close-icon {
        background-position: -348px -259px;
        width: 48px;
        height: 48px;
    }
    &.close-big-icon {
        background-position: -347px -141px;
        width: 24px;
        height: 24px;
    }
    &.phone-icon {
        background-position: -20px -292px;
        width: 13px;
        height: 16px;
    }
    &.large-size-blue-down-full-arrow {
        background-position: -169px -624px;
        width: 12px;
    }
    &.black-up-full-arrow {
        width: 8px;
    }
    &.number-one-icon {
        background-position: -229px -377px;
        width: 40px;
        height: 38px;
    }
    &.number-two-icon {
        background-position: -229px -439px;
        width: 40px;
        height: 38px;
    }
    &.number-three-icon {
        background-position: -229px -501px;
        width: 40px;
        height: 38px;
    }

    &.phone-liteblue-icon {
        height: 15px;
    }

    &.pinterest-icon {
        height: 32px;
    }

    &.twitter-icon {
        background-position: -110px -79px;
        width: 31px;
        height: 32px;
    }

    &.page-info {
        background-position: -290px -19px;
        width: 33px;
        height: 34px;
    }

    &.user-dropdown-blue-arrow {
        background-position: -229px -573px;
        width: 14px;
        height: 10px;
    } 
    &.user-dropdown-white-arrow {
        background-position: -110px -367px;
        width: 12px;
        height: 10px;
    }  
    &.dashboard-icon {
        height: 18px;
    }
    &.expand-artResources-button-yellow {
        background-position: -20px -804px;
        width: 361px;
        height: 37px;
    }
    &.yellow-page-icon {
        background-position: -167px -199px;
        width: 54px;
        height: 54px;
    }
    &.medium-size-blue-down-full-arrow {
        background-position: -169px -475px;
        width: 10px;
        height: 8px;
    }
    &.radio-unchecked-icon {
        background-position: -169px -377px;
    }

    &.radio-unchecked-big-icon {
        background-position: -289px -383px;
        width: 24px;
        height: 24px;
    }

    &.radio-checked-big-icon {
        background-position: -289px -334px;
        width: 24px;
        height: 24px;
    }
    &.copy-link-btn{
        background-position: -230px -703px;
        width: 142px;
        height: 32px;
    }
    &.double-arrows-blueRounded-icon{
        background-position: -289px -560px;
        width: 78px;
        height: 78px;
    }
    &.scholasctic-icon {
        background-position: -229px -756px;
        width: 140px;
        height: 20px;
    }
    &.chat-icon {
        background-position: -289px -663px;
        width: 17px;
        height: 17px;
    }
}
