.article-title-layout {
    .article-title-heading {
        font-family: 'KarnakPro-Black';
    }

    .article-title-dek {
        font-family: 'SlateStd-Medium';
    }

    .sub-title {
        font-family: 'SlateStd-Medium';
    }

}
