<div data-sly-test.placeholder="${!(wcmmode.disabled || properties.titleText)}">Configure General - Title + Hyperlink Component</div>
<div data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=properties.linkPath}" data-sly-unwrap>
	<div class="${properties.enableHighlightColor == 'true' ? 'title-hyperlink-custom-background ' : ''}">
 <sw-text-hyperlink title="${properties.titleText}" hyper-link-Text="${properties.linkLabel}" hyper-link-Url="${globalLink.formattedUrl}" bgcolor="${properties.bgColor}"></sw-text-hyperlink>
 	</div>
</div>
