.article-Obj-skills-pad-container {
	padding-left: 20px;
	margin-bottom: 40px;
	.article-learnObj-keyskills-container {
        max-width: 210px;
		&.article-obj-border-top-bottom{
			border-top: 1px solid $liteAsh2;
			border-bottom: 1px solid $liteAsh2;
		}
		.learnKey-single-sec-wrapper {
			border-bottom: 1px solid $liteAsh2;
            padding: 28px 10px 28px 10px;
			text-align: center;
			&:first-child {
				border-top: 1px solid $liteAsh2;			
			}
			&:after {
				content: '';
				clear: both;
				display: block;
			}
			.learnKey-section-title {
				@include font($font07, 13px, 1.08, $black, 1px);
				margin-bottom: 9px;
				p {
					margin: 0;
				}
			}
			.learnKey-section-content {
				@include font($font04, 12px, 1.83, $black, 0.5px);
				p {
					margin: 0;
				}
			}
		}	
	}
}

@include respond-to('xssmall') {
	.article-Obj-skills-pad-container {
		padding-left: 0;
		margin-bottom: 0;
		.article-learnObj-keyskills-container {
			border-top: 1px solid $liteAsh2;
			border-bottom: 1px solid $liteAsh2;
			.learnKey-single-sec-wrapper {
				border: 0;
				padding-top: 28px;
				padding-bottom: 26px;
	            &:first-child {
	                border-top: 0;
	            }
				&:nth-child(2n+1) {
					clear: both;
				}
			}
		}
	}	
}

@media only screen and (min-width: $screen-xs-max) {
	.article-Obj-skills-pad-container {
		padding-left: 0;
		margin-bottom: 0;
		.article-learnObj-keyskills-container {
			border-top: 1px solid $liteAsh2;
			border-bottom: 1px solid $liteAsh2;
			.learnKey-single-sec-wrapper {
				border: 0;
				padding-top: 28px;
				padding-bottom: 26px;
	            &:first-child {
	                border-top: 0;
	            }
				&:nth-child(2n+1) {
					clear: both;
				}
			}
		}
	}    
}


@include respond-to('small') {
	.article-Obj-skills-pad-container {
		padding-left: 0;
		margin-bottom: 0;
		.article-learnObj-keyskills-container {
			border-top: 1px solid $liteAsh2;
			border-bottom: 1px solid $liteAsh2;
			.learnKey-single-sec-wrapper {
				border: 0;
				padding-top: 28px;
				padding-bottom: 26px;
	            &:first-child {
	                border-top: 0;
	            }
				&:nth-child(2n+1) {
					clear: both;
				}
			}
		}
	}	
}

@media only screen and (min-width: $screen-sm-max) {
	.article-Obj-skills-pad-container {
		padding-left: 0;
		margin-bottom: 0;
		.article-learnObj-keyskills-container {
			border-top: 1px solid $liteAsh2;
			border-bottom: 1px solid $liteAsh2;
			.learnKey-single-sec-wrapper {
				border: 0;
				padding-top: 28px;
				padding-bottom: 26px;
	            &:first-child {
	                border-top: 0;
	            }
				&:nth-child(2n+1) {
					clear: both;
				}
			}
		}
	}
}

@media only screen and (min-width: $screen-md-min) {
	.article-Obj-skills-pad-container {
		padding-left: 20px;
		margin-bottom: 30px;        
        margin-top: 15px;
		.article-learnObj-keyskills-container {
			border: 0;
			.learnKey-single-sec-wrapper {
				border-bottom: 1px solid $liteAsh2;
				padding: 28px 10px 28px 10px;
	            &:first-child {
	                border-top: 1px solid $liteAsh2;
	            }
				&:nth-child(2n+1) {
					clear: none;
				}
			}
		}
	}    
}

@media (min-width:1440px) {
    .article-Obj-skills-pad-container {
        padding-left: 25px;
    }
}