.article-Obj-skills-pad-container {
    margin-top: 22px;

    .article-learnObj-keyskills-container {
        .learnKey-single-sec-wrapper {
            padding: 15.2px 20px 15.2px 21px;

            .learnKey-section-title {
                @include font($fontSL7, 20px, 1.05, $black, 1px);
                margin-bottom: 15.2px;
            }

            .learnKey-section-content {
                @include font($fontSL7, 12px, 1.33, $gray, 0.9px);
            }
        }
    }
}

@media only screen and (min-width: $screen-md-min) {
    .article-Obj-skills-pad-container {
        margin-bottom: 61px;
    }
}