.search-resources-main-container {
    .search-main-content {
        .title-container {
            @include font($fontSE9, 32px, 0.78, $geoFaqBorder, 0.3px);
        }

        .title-count {
            @include font($fontSE9, 20px, 1.25, $geoFaqBorder, 0.2px);
        }

        .articles-resources-issues-container {
            margin-top: 30px;

            .articles-resources-issues-tabs {
                ul {
                    border-bottom: 4px solid $spinActiveTabColor;

                    li {
                        &:before {
                            border-top-left-radius: 9px;
                        }

                        &:after {
                            border-top-right-radius: 9px;
                        }

                        a {
                            @include font($fontSL7, 14px, 1, $sn3TabInactiveColor, 1px);
                            margin-top: 3px;
                        }

                        &.active {
                            background-color: $spinActiveTabColor;

                            &:after {
                                background-color: $spinActiveTabColor;
                            }

                            &:before {
                                background-color: $spinActiveTabColor;
                            }

                            a {
                                @include font($fontSL7, 14px, 1, $white, 1px);
                            }
                        }
                    }
                }
            }

            .tab-content {
                padding-top: 35px;

                .tab-pane {
                    .filter-section-container {
                        .search-facets {
                            margin-left: 40px;
                        }

                        .filter-category-section {
                            padding-top: 27px;

                            &.filter-subject-section {
                                padding-top: 28px;

                                filter-category-heading {
                                    margin-bottom: 12px;
                                }
                            }

                            &.filter-reset-section {
                                padding-top: 8px;

                                .filter-category-items-container {
                                    .filter-category-item {
                                        @include font($fontSL7, 13px, 1.08, $textHyperlinkColor, 0.5px);

                                        span {
                                            position: absolute;
                                            left: 22px;
                                        }
                                    }
                                }
                            }

                            .filter-category-heading {
                                @include font($fontSL7, 14px, 0.93, $black, 1.1px);
                                margin-bottom: 13px;
                            }

                            .filter-category-items-container {
                                ul {
                                    .filter-category-item {
                                        @include font($fontSL4, 12px, 1.08, $black, 0.5px);

                                        span {
                                            &.checkbox-text {
                                                left: 22px;
                                            }
                                        }

                                        label {
                                            @include font($fontSL4, 12px, 1.08, $black, 0.5px);

                                            &.checkbox-checked-disabled {
                                                span {
                                                    &.checkbox-text {
                                                        @include font($fontSL4, 12px, 1.08, $liteAsh2, 0.5px);
                                                    }
                                                }
                                            }
                                        }
                                        margin: 0 auto 24px;

                                        &:last-child {
                                            margin-bottom: 27px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .search-zero-results-container {
                    .title,
                    .try-another-keyword {
                        font-family: SlateStd;
                    }

                    .search-guidlines {
                        .search-tips {
                            font-family: SerifaStd;
                        }

                        .steps-for-search {
                            font-family: SlateStd-Black;
                        }
                    }
                }
            }
        }

        .search-resources-content {
            padding-left: 13px;
            padding-right: 28px;

            .sort-by-wrapper {
                span {
                    margin-right: 17px;
                }

                .sort-by-text {
                    @include font($fontSL5, 13px, 1, $black, 0.5px);
                }

                .sort-by-category {
                    a {
                        @include font($fontSL5, 13px, 1, $textHyperlinkColor, 0.5px);
                    }

                    &.active-sort {
                        a {
                            @include font($fontSL7, 13px, 1, $black, 0.5px);
                        }
                    }
                }
            }
        }
    }
}
.content-hub-main-container{
  &.search-resources-main-container{
    .search-main-content{
       .articles-resources-issues-container{
          .tab-content{
            .tab-pane{
              .filter-section-container{
                .filter-category-section{
                  &.filter-reset-section{
                    .filter-category-items-container{
                      .filter-category-item{
                          color:$allIssuesTitleColor;
                      }
                    }
                  }
                }
              }
            }
          }
       }
    }
  }
}
