.flexible-title-hyperlink {
    &.textHyperlink-container {
        .textHyperlink-wrapper {
            .textHyperlink-text {
                @include font($fontS7, 38px, 1.16, $white, 1px);
                height: 73px;
                padding: 14.5px 25px 14.5px 55px;
                display: table;
                border-radius: 0 0 30px 0;
                top:0;
                
                p {
                    margin: 0;
                    text-align: center;
                    vertical-align: middle;
                    display: table-cell;
                }
                &::after {
                    height: 37px;
                    right: -9px;
                    border-radius: 3px;
                }
                &::before{
                    background-color: transparent;
                }
            }
        }
    }
    &.textHyperlink-container {
        &.right {
            .textHyperlink-wrapper {
                .textHyperlink-text {
                    padding-left: 385px;
                }
            }
        }
    }
}
