.marketing-app-sample-issue {
    .app-issue-container {
        .marketing-app-sample-issue-container {
            .marketing-app-sample-issue-tiles {
                .sample-title-container {
                    margin-bottom: 8px;
                    margin-top: 5px;
                }
            }
            .issue-title {
                @include font($fontSE9, 30px, 1.1, $white);
            }
            .issue-desc {
                @include font($fontU4, 20px, 1.25, $white);
            }
            .sw-button {
                display: block;
            }
            .sn3-button {
                display: none;
            }
            .button-container {
                .marketing-sample-issue-btn {
                    @include font($fontSL9, 18px, 1.11, $marketingGrey, 1.4px);
                    border-radius: 100px;
                }
            }
            .marketing-contentTile-title {
                @include font($fontSL7, 24px, 0.88, $white);
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-sample-issue {
        margin-top: -54px;
        .app-issue-container {
            .marketing-app-sample-issue-container {
                .marketing-app-sample-issue-tiles {
                    .mob-sample-pad {
                        margin-top: 15px;
                    }
                }
                .issue-title {
                    @include font($fontSE9, 18px, 1.22, $white);
                }
                .issue-desc {
                    @include font($fontU4, 16px, 1.38, $white);
                }
                .sw-button {
                    display: none;
                }
                .sn3-button {
                    display: block;
                }
                .button-container {
                    .marketing-sample-issue-btn {
                        @include font($fontSL9, 16px, 1.25, $marketingGrey, 1px);
                    }
                }
                .marketing-contentTile-title {
                    @include font($fontSL7, 16px, 1.13, $white);
                }
            }
        }
    }
}
