.article-text-image-layout{
    .article-text-image{
        .img-column{
             border: solid 1px $mathArticleImageBorder;
             width: 370px;
            div{
                max-width: 370px !important;
            }
            
        }
        .credits {
            @include font($fontB4, 11px, null, $lightGrey2, 0.3px);
            text-align: right;
            padding-right: 15px;
            margin-bottom: 0;
            margin-top: 8px;
        }
        .caption {
            @include font($fontB4, 14px, 1.29, $black, 0.3px);
            p{
                padding: 5px 15px 15px 15px;
            }
        }
        .text-column{
            @include font($fontB4, 18px, 1.78, $black);
        }
        &.left{
            .img-column{
                margin: 0 4% 0 0;
            }
        }
        &.right{
            .img-column{
                margin: 0 0 0 4%;
            }
        }
    }
}  


.article-text-image-top-layout{
    .top-article-container{
         border: solid 1px $mathArticleImageBorder;
    }
    .article-description{
        @include font($fontB4, 18px, 1.78, $black);
    }
    .credits {
            @include font($fontB4, 11px, null, $lightGrey2, 0.3px);
            text-align: right;
            padding-right: 15px;
            margin-bottom: 0;
            margin-top: 8px;
        }
        .caption {
            @include font($fontB4, 14px, 1.29, $black, 0.3px);
            p{
                padding: 5px 15px 15px 15px;
                margin-bottom: 0;
            }
        }
}

#article-text-page-container{
    .back-to-top{
        .back-to-top-text{
            @include font($fontB7, 14px, 1, $mathSearchButtonBlue, 0.5px);
        }
    }
    }  