<div data-sly-test="${wcmmode.edit}">
    Page - FAQ Answer Container
</div>
<div class="answer-subject-area-block">
    <p class="answer-subject-area">${properties.subjectArea}</p>
</div>
<div data-sly-resource="${ @path='answer-par', resourceType='wcm/foundation/components/parsys'}"></div>