.article-sidebar-component-wrapper {
    .article-section-title {
     @include font($fontP7, 20px, null, $black);
    }
    .article-sidebar-content-wrapper {
        .image-wrapper {
            .image-credit {
                @include font($fontP4, 10px, null, $gray);
            }
        }

        .article-section-content {
            .article-section-title {
                @include font($fontP7, 20px, null, $black);
            }

            .article-section-text {
                @include font($fontP4, 17px, 1.29, $black);
            }
        }

        &.top {
            .article-section-title {
                @include font($fontP7, 20px, null, $black);
            }

            .article-section-content {
                    .article-section-text {
                        @include font($fontP4, 17px, 1.29, $black);
                    }
                }

            .image-wrapper {
                .image-credit {
                    @include font($fontP4, 10px, null, $gray);
                }

                
            }
        }

        &.bottom {
            .article-section-title {
                @include font($fontP7, 20px, null, $black);
            }

            .image-wrapper {

                .image-credit {
                    @include font($fontP4, 10px, null, $gray);
                }
            }

            .article-section-content {
                .article-section-text {
                    @include font($fontP4, 17px, 1.29, $black);
                }
            }
        }
    }
}