.article-resources-main-container {
    .article-resources-content {

        .see-all {

            h5 {
                text-align: center;
                margin:0;
                [data-state="expand"], [data-state="collapse"] {
                    background-color: $superScienceSearchButtonOrange;
                    margin-top: 25px;
                    span {
                        &.title{
                            vertical-align: middle;
                            text-transform: uppercase;
                            @include font($font07, 12px, 1.17, $white, 0.9px);
                        }
                        &.sw-icon {

                            &.expand-collapse-arrow {
                                margin-top: 1px;
                                margin-left: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
