.article-sidebar-component-wrapper {

    .article-section-title {
        @include font($fontK9, 30px, 1.07, $upfrontVotingCastVote, 0.5px);
        padding: 25px 25px 10px;
    }

    .article-sidebar-content-wrapper {
        max-width: 670px;
        padding-bottom: 10px;

        .image-wrapper {
            .image-credit {
                @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
            }
        }

        .article-section-content {
            .article-section-text {
                @include font($font07, 18px, 1.44, $upfrontSidebarTextBlack, 1px);

                p {
                    margin-bottom: 0;
                }
            }
        }

        &.left,
        &.right {
             display: flex;
            padding-right: 6px;

            .image-wrapper {
                max-width: 300px;
                flex: 0 0 46%;
                width: 46%;
                margin-top: 10px;
            }

            .article-section-content {
                flex-grow: 1;
            }
        }

        &.right {
            .image-wrapper {
                margin-right: 44px;
                margin-left: 10px;

                .image-credit {
                    padding: 8px 0 0;
                    text-align: left;
                }
            }

            .article-section-content {
                .article-section-title {
                    padding: 23px 0 0;
                }

                .article-section-text {
                    padding: 9px 0 0;
                }
            }
        }

        &.left {
            .image-wrapper {
                margin-left: 43px;

                .image-credit {
                    padding: 8px 0 0;
                    text-align: right;
                }
            }

            .article-section-content {
                padding-left: 23px;

                .article-section-text {
                    padding: 9px 0 0;
                }
            }
        }

        &.top {
            padding: 0 25px 21px;
            background-color:$globalNavPopoverGray;

            .close {
                opacity: 1;
            }

            .image-wrapper {
                .image-icon-container {
                 position: relative;

                    .cm-image-wrapper {
                        cursor: pointer;
                    }

                    .popup-img-icon {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        cursor: pointer;
                    }
                    padding-top: 10px;
                    margin-top: 0;
                }

                .image-credit {
                @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
                    margin-top: 11.1px;
                    text-align: right;
                }
            }

            .article-section-content {
                .article-section-text {
                    margin-top: 18px;
                    @include font($font07, 18px, 1.44, $upfrontSidebarTextBlack, 1px);
                }
            }
        }

        &.bottom {
         background-color:$globalNavPopoverGray;

            .article-section-title {
                background-color: $mathvotingTitle;
                padding: 9px 25px 6px;
                @include font($fontK9, 30px, 1.07, $upfrontVotingCastVote, 0.5px);
            }

            .image-wrapper {
                padding: 16px 8px 0;

                .image-credit {
                    margin-top: 8px;
                    text-align: right;
                    @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
                }
            }

            .article-section-content {
                .article-section-text {
                    padding: 10px 13.9px 0 23px;
                    line-height: normal;
                    @include font($font07, 18px, 1.44, $upfrontSidebarTextBlack, 1px);
                }
            }
        }
    }
}
