.textHyperlink-container-content {
    .textHyperlink-container-wrapper {
        &.right {
            .textHyperlink-link {
                font-family: 'ProximaNova-Bold';
            }
        }

        .textHyperlink-text {
            font-family: 'ProximaNova-Regular';
        }
    }
}
