.marketing-app-nav-bar-main-container {
    .app-nav-primary {
        background-color: $tabBgBlue;
    }
    .app-navbar-secondary {
        border-bottom: 0;
    }

    .science-logo {
        margin-right: 30px;
        padding: 5px 0 1px 0;
        position: relative;

        .scholastic-logo-header {
            display: none;
        }

        a {
            margin-top: 0;
            margin-left: 4px;
            width: 229px;
            height: 94px;
            background: url('../../../images/globalNav/superscience.png') no-repeat center;
            padding: 25.6px 0;
            background-size: 97%;
        }
    }

    .dropdown {
        .app-nav-main-item-link {
            @include font($font09, 16px, null, $white, 0.5px);
        }

        .magazine {
            @include font($font09, 16px, null, $white, 0.5px);
        }

        &.js-dropdown-dynamic {
            &:nth-child(5) {
                .app-nav-main-item-link {
                    @include font($font07, 14px, null, $white, 0.5px);
                }
            }
        }
    }

    .cta-button-container {
        padding: 35px 0 15px;

        .primary-button {
            @include font($fontB7, 20px, 1, $black);
            background-color: $superScienceSearchButtonOrange;
            width: 122px;
            height: 50px;
            border-radius: 5px;
        }

        .secondary-button {
            @include font($fontB7, 20px, null, $white);
            height: 50px;
            border-radius: 5px;
        }
    }

    .secondary-items {
        li {
            a {
                padding-right: 0;
                padding-left: 40px;
                @include font($fontS7, 12px, 1.17, $darkNavyBlue, 1.4px);

                &:active,
                &:focus,
                &:hover {
                    color: $darkNavyBlue;
                }
            }
        }

        .explore {
            @include font($font09, 13px, 1.08, $globalNavExporeGray, 0.5px);
            padding-right: 0;

            &:active,
            &:focus,
            &:hover {
                color: $globalNavExporeGray;
            }
        }
    }

    @include respond-to ('xssmall') {
        .app-nav-header {
            .search-logo-block {
                min-width: 163px;

                .scholastic-logo-header {
                    display: none;
                }
            }
        }
        .pop-over-menu-div{
            z-index: 1;
        }

        .app-nav-header {
            .menu-icon-block {
                padding: 0 0 0 35px;
                margin-right: 16px;

                .nav-header-item {
                    margin: 2px 0;

                    .icon-bar {
                        background: $white;
                        width: 26px;
                        border-radius: 0;

                        + .icon-bar {
                            margin-top: 5px;
                        }
                    }

                    &.nav-menu-icon {
                        margin-top: 34px;
                        margin-bottom: 0;
                        height: 20px;
                    }
                }
            }

            .profile-icon-block {
                padding-top: 10px;

                .secondary-button {
                    @include font($font07, 16px, null, $white);
                }
            }
        }

        .magazine-logo-tablet-mobile {
            display: inline-block;
            width: 170px;
            height: 50px;
            background: url('../../../images/globalNav/superscience.png') no-repeat center;
            background-size: contain;
            margin-top: 0;
        }

        .nav-header-item {
            margin: 8px 0 14px 0;
        }

        ul.menu-list:first-child {
            li.dropdown {
                &.js-dropdown {
                    a {
                        padding-left: 0;

                        &:active,
                        &:focus,
                        &:hover {
                            color: $darkNavyBlue;
                        }
                        @include font($font09, 16px, null, $darkNavyBlue, 0.5px);
                    }
                }
            }
        }

        ul:first-child {
            li {
                &.dropdown.js-dropdown:nth-child(5) {
                    a {
                        @include font($font07, 14px, null, $darkNavyBlue, 0.5px);
                    }
                }
            }
        }

        .js-nav-menu {
            #secondary-items-nav {
                li {
                    a {
                        @include font($fontS7, 12px, null, $darkNavyBlue, 0.9px);
                    }

                    &:last-child {
                        a {
                            border-bottom: 1px solid $marketingBorderGrey;
                        }
                    }
                }
            }

            .primary-button {
                @include font($font07, 13px, 1.54, $white);
                background-color: $superScienceSearchButtonOrange;
                border-radius: 100px;
            }
        }
    }

    @include respond-to ('small-and-medium') {
        .secondary-items {
            li {
                a {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }
    }
}
