.content-module {
    .content-module-container {
        .content-wrapper {
            .rteContent {
                font-family: 'ProximaNova-Bold';
            }

            div[ng-bind-html=containerGameDesc] {
                font-family: 'UtopiaStd-Regular';
            }
        }
    }
}
