.breadcrumb-layout {
    margin: 0 0 20px 36px;
   .breadcrumb-active {
        @include font($font04, 13px, 1.08, $lightBlack, 0.5px);
        text-decoration: underline;
    }
    .breadcrumb-inactive {
        @include font($font04, 13px, 1.08, $darkGray, 0.5px);
    }
    .greaterthan{
        color: $darkGray;
    }
}
@media (min-width:1440px) {
 .breadcrumb-layout {
    margin: 0 0 20px 41px;
 }   
}