.marketing-scholastic-magazine-wrapper {
    .scholastic-magazine-content {
        .magazine-title-wrapper {
			span {
                &.magazine-title {
                    @include font($fontP9, 25px, 1.28, $black, null);
                    padding-right: 28px;
                }
                &.view-all-magazine {
                    @include font($fontP7, 14px, 1, $liteBlue1, 0.5px);
                    padding-left: 27px;    
                }
            } 
        }
        .content-container {
            .magazine-content {
                .magazine-content-cntr{
                    padding-right: 20px;
                    padding-left: 20px;
                    .magazine-subtitle {
                	   margin-top: 15px;
                        @include font($fontPE4, 20px, 1.15, $black, 0.5px);
					   a{
					       color:$black;
					   }
                    }
                    .magazine-desc {
                        @include font($fontP4, 18px, 1.22, $black, normal);
                    }
                }
            }
        }
    }
}

@include respond-to('xssmall') {
    .marketing-scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            padding: 38px 25px 51px 20px;
            .magazine-title-wrapper {
                span{
	                &.magazine-title {
                        @include font($fontP9, 18px, 1.33, $black, null);
	                }
                }
            }
            .magazine-mobile-title-wrapper{
            	span{
                    &.view-all-magazine{
	                   @include font($fontP7, 14px, 1, $liteBlue1, 0.3px);
                    }
	            }
            	.sw-icon {
                	&.right-arrow {
                    	margin-left: 6px;
                        color: $liteBlue1;
                	}
            	}
            }
            .content-container {
                .magazine-content {
                    .magazine-content-cntr {
                        margin-top: -30px;
                        padding-right: 0;
                        padding-left: 20px;
                        .magazine-image {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}