.vocabulary-main-container-wrapper {
    .vocabulary-word {
        @include font($font07, 18px, 1.67, $swVocabWorldBlue, 1px);
        text-decoration: none;
    }

    .popover {
        &.fade {
            &.in {
                max-width: 625px;
                box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.45);

                .arrow {
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        z-index: -1;
                        height: 15px;
                        width: 15px;
                        background: transparent;
                        transform: rotate(45deg);
                        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.45);
                    }
                }

                &.top {
                    .arrow {
                        &:before {
                            bottom: 4px;
                            left: -8px;
                        }
                    }
                }

                &.bottom {
                    .arrow:before {
                        bottom: -19px;
                        left: -7px;
                    }
                }

                &.left {
                    .arrow:before {
                        bottom: -7px;
                        left: -19px;
                    }
                }

                &.right {
                    .arrow:before {
                        bottom: -7px;
                        left: 4px;
                    }
                }

                .popover-content {
                    padding: 13px 10.5px 16px 17px;
                    background-color: $white;
                    border-radius: 6px;

                    .vocabulary-wrapper {
                        display: flex;

                        .image-wrapper {
                            display: inline-block;
                            flex: 0 0 200px;
                            margin-right: 20px;

                            img {
                                width: 200px;
                                max-height: 250px;
                            }

                            .photo-credit {
                                @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
                                margin-top: 5px;
                                text-align: right;
                            }
                        }

                        .text-wrapper {
                            display: inline-block;
                            flex-grow: 1;
                            width: 377.5px;
                            max-width: 377.5px;

                            .grey-close-btn {
                                float: right;
                            }

                            .popover-name-wrapper {
                                .popover-name {
                                    @include font($font07, 24px, null, $black, 1.1px);
                                    margin-right: 20px;
                                    margin-top: 18px;
                                    display: inline-block;
                                }

                                .sound-icon {
                                    cursor: pointer;
                                }
                            }

                            .popover-pronoutext {
                                @include font($font04, 14px, 1.29, $lightGrey2, 0.5px);

                                p {
                                    margin: 0;
                                }
                            }

                            .popover-definition {
                                @include font($font04, 16px, 1.25, $swVocabBlack, 0.5px);
                                margin-top: 20px;

                                p {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
