.article-text + .article-title {
    .article-title-layout{
        padding: 0;
        .sub-title{
            padding-top: 3px;
            p{
                margin-bottom: 4px;
            }
        }
    }
}

#article-text-page-container {
    .acs-commons-resp-colctrl-col {
        &:nth-child(2) {
            padding-left: 96px !important; /*acs-commons-resp-colctrl-col class has padding:0 15px !important;
                                             overiding this we have given !important here*/
            max-width: 847px;
            margin: 0 auto !important; /*acs-commons-resp-colctrl-col class has margin:0 !important;
                                         overiding this we have given !important here*/

            padding-right: 81px !important;  /*acs-commons-resp-colctrl-col class has padding:0 15px !important;
                                               overiding this we have given !important here*/
        }
        .game-container-bg {
            padding: 0;
        }

        .html-game-container {
            padding: 20px 0;
        }

        .flash-container {
            padding: 20px 0;
        }
    }
    
    .back-to-top {
        padding-left: 96px;
        margin-left: 20%;
        cursor: pointer;
        margin-top: 25px;
        margin-bottom: 50px;

        .back-to-top-text {
            @include font($font8, 14px, 1, $liteBlue2, 0.5px);
            margin-left: 9px;
            position: relative;
            bottom: 8px;
        }
    }

    @media (min-width:1200px) and (max-width:1440px) {
        .back-to-top {
            padding-left: 101px;
        }
    }
}
@media (min-width:1200px) and (max-width:1440px) {
    #article-text-page-container {
        .acs-commons-resp-colctrl-col {
            &:nth-child(2) {
                padding-left: 101px !important;
            }
        }
    }
}

.article-text-image-layout {
    &:after {
        content: '';
        clear: both;
        display: block;
    }
    .article-text-image {
        .img-column {
            width: 300px;
            .article-image {
                width: 242px;
                height: 181px;
                margin-bottom: 8px;
                position: relative;
                /*background-color: $globalNavPopoverGray;*/
                img {
                    @include center-both;
                    max-width: 242px;
                    max-height: 181px;
                }
            }
        }
        &.left {
            .img-column {
                float: left;
                margin: 0 3% 20px 0;
                width: auto;
                max-width: 300px;
            }
        }
        &.right {
            .img-column {
                float: right;
                margin: 0 0 20px 3%;
            }
        }
        .text-column {
            @include font($font04, 18px, 1.67, $black, 1px);

            p {
              &:last-child {
                  margin-bottom: 20px;
              }
            }
        }
        .caption {
            @include font($font04, 13px, 1.38, $black, 0.5px);
            text-decoration: none;
            cursor: default;
          
            p{
                margin: 0;
                word-wrap: break-word;
            }
        }
        .credits {
            @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
            margin-top: 10px;
            margin-bottom: 12px;
        }
    }
}

.article-text-image-top-layout {
    overflow-x: hidden;
    .top-article-text-image {
        max-width: 100%;
    }
    .article-image {
        margin: 0 auto;
    }
    .article-description {
        @include font($font04, 18px, 1.67, $black, 1px);
        p {
              &:last-child {
                  margin-bottom: 20px;
              }
        }
    }
    .top-article-container + .js-article-data-section{
        .article-description{
            p{
                 margin-top: 15px;
            }
        }
    }
    .credits {
        @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
        margin-top: 10px;
        margin-bottom: 12px;
    }
    .caption {
        @include font($font04, 13px, 1.38, $black, 0.5px);
        cursor: default;
        p{
            word-wrap: break-word;
        }
    }
}
