.pagination-directive-wrapper {
	.paginationBottom {
		ul {
			li {
				@include font($fontP7, 14px, 1.07, $dynamathFilterCategoryItemColor, 0.5px);

				a {
					@include font($fontP7, 14px, 1.07, $dynamathFilterCategoryItemColor, 0.5px);

					&:active,
					&:focus,
					&:hover {
						@include font($fontP7, 14px, 1.07, $dynamathFilterCategoryItemColor, 0.5px);
					}
				}
                select{
                    background: $inputFieldBackground url("/etc/designs/scholastic/classroom-magazines-migration/dynamath/images/dropdown-arrows.png") no-repeat;
                    background-position: right 5px center;
                    border: solid 1px $inputFieldBorder;
                }

				&.pageLabel {
					@include font($fontP7, 14px, 1.07, $black, 0.5px);
				}
			}
		}
	}
}
