.vocabulary-main-container-wrapper {
    .vocabulary-word {
        font-family: 'UtopiaStd-Bold';
    }

    .popover {
        &.fade {
            &.in {
                .popover-content {
                    .vocabulary-wrapper {
                        .image-wrapper {
                            .photo-credit {
                                font-family: 'UtopiaStd-Regular';
                            }
                        }

                        .text-wrapper {
                            .popover-name-wrapper {
                                .popover-name {
                                    font-family: 'UtopiaStd-Bold';
                                }
                            }

                            .popover-pronoutext {
                                font-family: 'UtopiaStd-Regular';
                            }

                            .popover-definition {
                                font-family: 'UtopiaStd-Regular';
                            }
                        }
                    }
                }
            }
        }
    }
}
