<!DOCTYPE html>
<html class="no-js" lang="en" />

	{{> head meta-title=about.meta-title meta-description=about.meta-description}}

	<body class="about">
		<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>

			<p>
				This is the header
			</p>

        </header>

        <a href="/">Home Page</a>

		<h1>{{about.title}}</h1>

		<p>
			Here is some sample content on the about page.
		</p>

		{{> footer footer-class="about-footer"}}
	</body>

</html>








