<sly data-sly-use.obj="${'com.scholastic.classmags.migration.controllers.GlobalBreadcrumbUse'}">
<div data-sly-test="${!obj.hideBreadcrumb}" data-sly-unwrap>
<div class="breadcrumb-layout">
    <sly data-sly-list.bean="${obj.breadCrumbLinks}">
        <div data-sly-test.lastItem="${beanList.last}" data-sly-unwrap></div>
        <div data-sly-test.firstItem="${beanList.first}" data-sly-unwrap></div>
        <div data-sly-test="${!lastItem}" data-sly-unwrap>
        	<div data-sly-test="${firstItem}" data-sly-unwrap>
            	<a class="breadcrumb-active js-breadcrumb-home-nav-link" href="${bean.path}">${bean.title}</a>
            </div>
            <div data-sly-test="${!firstItem}" data-sly-unwrap>
				<a class="breadcrumb-active" href="${bean.path}">${bean.title}</a>
            </div>
            <span class="greaterthan">&gt;</span>
        </div>
        <div data-sly-test="${lastItem}" data-sly-unwrap>
		    <span class="breadcrumb-inactive">${bean.title}</span>
        </div>
	</sly>
</div>
</div>
</sly>
