.cm-migration-image-container {
    .image-popup-image-layout {
	    .image-popup-image-container {
            border: solid 1px rgba(151, 151, 151, 0.19);
            background-color: $white;
	        .caption-section {
	        	    padding: 0 8px;
	    	 	.img-popup-credits {
	    	 	 	@include font($fontP4, 10px, null, $gray);
                    text-align: left;
                    margin-top: 8px;
    				margin-bottom: 7px;
	    	 	 }
	    	 	 .img-popup-caption {
	    	 	 	@include font($fontP7, 16px, 1.5, $black, 0.5px);
                    margin-top: 0;
    				padding-bottom: 8px;
	    	 	 }
	    	 }
	    }
    } 
}  