.buttonContainerFullWidth {
  width: 100%;
  background-color: $yellow;
  text-align: center;
  padding: 9px;
  .btn {
    @include font($fontSL7, 27px, 0.74, $sn3blue, 1.8px);
    text-align: center;
    cursor: pointer;
    width: auto;
    border-radius: 100px;
    background-color: $sn3button;
    padding: 14px;
    text-transform: uppercase;
    min-width: 315px;
  }
}

@include respond-to('xssmall') {
  .buttonContainerFullWidth {
    .btn {
      @include font($fontSL7, 16px, 1.25, $sn3blue, 1.1px);
    }
  }
}
