<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure
	Recent Blog Posts Component</div>
<div
	data-sly-use.recentBlogPostUse="${'com.scholastic.classmags.migration.controllers.RecentBlogPostsUse' @ url=currentNode.path}">
    <div class="recent-post-wrapper">
            <div class="recent-posts">
            	<p class="recent-post-heading">RECENT POSTS</p>
        
                <div data-sly-unwrap
                    data-sly-list.recentBlogPostsData="${recentBlogPostUse.recentBlogPostsDataList}">
                    <p class="post-date"> ${recentBlogPostsData.blogPageDate} </p>
                    <p class="post-title"> ${recentBlogPostsData.blogPageTitle} </p>
                </div>
                
            </div>
        </div>
	</div>