.article-resources-main-container {
    &#TeachingResourcesComponent{
             background-color: $white;
        .article-resources-content {
                padding-bottom: 29px;
                .article-tiles {
                    margin-top: 0;
                    .col-md-3{
                        margin-bottom:15px;
                    }
                }
        }
        .textHyperlink-hash-container{
               .textHyperlink-hash-content {
                       min-height: 74px;
                }
        } 
    }
    .article-resources-content {
        .article-tiles{
            margin-top:25px;
        }
        .article-heading{
            @include font($fontN5, 28px, 1.14, $black, 1px);
            padding-bottom:4px;
            border-bottom:2px solid $liteBlue4;
            margin-bottom: 31px;
            margin-left:10px;
            margin-right:10px;
        }
        .article-resources-heading {
                clear: both;
                margin-bottom: 10px;
                height: 24px;
                word-wrap: break-word;
            .sw-icon {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
            .article-title {
                @include font($font07, 16px, 1.5, $black, 0.5px);
                font-stretch: normal;
                font-style: normal;
                word-wrap: break-word;
                vertical-align: middle;
                .contentType-count{
                    font-family:"Lato-Regular";
                    font-weight:400;
                }
            }
        }
        .article-tiles {
            @extend .nomarLR;
        }
    }
    .modal {
        .modal-content {
            text-align: center;
            box-shadow: none;
            border: 0px;
            margin-top: 50px;
            width: 85%;
            margin: 0 auto;
            object {
                width: 85%;
                margin: 0 auto;
            }
        }
    }
}
@include respond-to('xssmall') {
    .article-resources-main-container {
        .article-resources-content {
            .article-resources-heading {
                height: 50px;
            }
            .article-tiles {
                .tile-container {
                    .title-content {
                        .tile-icons {
                            a {
                                padding-right: 6px;
                            }
                        }
                        .tile-desc {
                            margin-bottom: 18px;
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('small') {
    .article-resources-main-container {
        .article-resources-content {
            .article-tiles {
                .tile-container {
                    .title-content {
                        .tile-icons {
                            a {
                                padding-right: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}