.thankyou-back-to-previous-wrapper {
    .thankyou-container {
        margin-top: 24px;
        
        .thankyou-content {
            @include font($fontSL4, 16px, 1.38, $black, 0.5px);
        }
        
        .thankyou-content-pad-container {
            a {
                color: $textHyperlinkColor;
                
                &:hover, &:active, &:focus {
                    color: $textHyperlinkColor;
                    cursor: pointer;
                }
            }
        }
    }
    
    .back-to-previous-wrapper {
        margin-bottom: 35px;
        
        .back-to-previous-text {
            a {
                @include font($fontSL7, 14px, 1, $textHyperlinkColor, 0.5px);
                
                &:hover, &:active, &:focus {
                    @include font($fontSL7, 14px, 1, $textHyperlinkColor, 0.5px);
                }
            }
        }
    }
}