.article-Obj-skills-pad-container {
	.article-learnObj-keyskills-container {
		.learnKey-single-sec-wrapper {
			.learnKey-section-title {
                @include font($fontS7, 13px, 1.08, $black, 1px);
                margin-bottom: 7px;
			}
		}	
	}
}

@media only screen and (min-width: $screen-md-min) {
    .article-Obj-skills-pad-container {
        margin-top: 0;
        margin-bottom: 29px;
    }
}
