.email-form-thankyou-container {
  .email-the-editor-hash-background {
    display: block;
    background: $upfrontContentTileBorderGrey;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    height: 121px;
  }

  .email-thankyou-wrapper {
    border: 1px solid $borderColor;
    background: $white;

    .email-editor-description-container {
      margin-left: 94px;
      margin-top: 27px;
    }

    .email-editor-pad-container {
      margin-left: 94px;
    }

    .email-editor-description-text {
      @include font($font04, 17px, 1.29, $black);
    }

    .form-field-wrapper {
      .label-text {
        @include font($font07, 18px, 0.72, $black, 0.3px);
        margin-bottom: 14px;
      }

      .form-field-input {
        @include font($font07, 18px, 0.72, $formFieldInputColor, 0.3px)
      }
    }

    .message-field-wrapper {
      .message-textarea {
        background-color: $emailEditorTextAreaBackGroundColor;
        border: 1.2px solid $upfrontIagregatorBorder;
      }
    }

    .required-fields-text {
      @include font($font04, 17px, 1.29, $black);
    }

    .email-form-all-fields-container {
      margin-top: 51px;

      .send-button-wrapper {
        margin-bottom: 51px;

        .send-button {
          background-color: $upfrontIaggregatorButtonBackgroundBlue;
          @include font($fontSL7, 14px, 1.43, $white, 1.1px);
        }
      }
    }

    .back-to-previous-wrapper {
      .back-to-previous-pad-container{
          margin-left: 94px;
      }
      .back-to-previous-text {
        @include font($font07, 14px, 1, $upfrontIaggregatorButtonBackgroundBlue);
      }
    }
  }
}
