.article-subjs-covered-pad-container {
    padding: 0;
	.article-subjs-covered-container {
        background-color: $bodyGrey;
		.article-subjs-covered-content {
            border-top: 1px solid $liteAsh2;
			border-bottom: 1px solid $liteAsh2;
            padding: 12px 9px 26px 10px;
            .subjs-covered-title {
                @include font($fontP9, 20px, 1.05, $black, 1px);
                padding-right: 19px;
                padding-left: 18px;
                margin-bottom: 7px;
                p, ol, ul, li {
                    margin: 0;
                }
            }
            .subjs-tag-wrapper {
				.names-subj {
				    margin-bottom: 26px;
					.subj-title {
						.subj-title-link {
                            @include font($fontP7, 12px, 1.33, $juniorSubjectsTagsBlue, 0.9px);
                            text-align: center;
                            margin-bottom: 0px;
                        }
                    }
                    .subj-tags-wrapper {
                    	margin-top: 2px;
                         @include font($fontP7, 12px, 1.33, $gray, 0.9px);
                        .subj-tags {
                        @include font($fontP7, 12px, 1.33, $gray, 0.9px);
                        }
                    }
				}			
			}
		}	
	}
}

@media only screen and (min-width: $screen-md-min) {
    .article-subjs-covered-pad-container {
        margin-top: 35px;
        max-width: 210px;
    }
}

@media (min-width:1440px) {
    .article-subjs-covered-pad-container {
        margin-left: 25px;
        padding: 0px;
        .article-subjs-covered-container {
            .article-subjs-covered-content {
                padding-right: 8px;
                padding-left: 9px;
                .subjs-tag-wrapper {
                    .names-subj {
                        .subj-tags-wrapper {
                            padding-left: 12px;
                            padding-right: 12px;
                        }
                    }                    
                }
            }
        }
    }    
}