.article-text-image-layout {
    .article-text-image {
        .text-column{
            @include font($font04, 18px, 1.22, $black, 0.5px);
        }
        .img-column {
            border: solid 1px $articleTextImageBorder;
            padding-bottom: 8px;
        }
        .caption {
            @include font($fontP7, 16px, 1.5, $black, 0.5px);
            display: inline-block;
            padding: 6px 5px 0 8px;
            p {
                margin-bottom: 0;
            }
        }
        .credits {
            @include font($fontP4, 10px, null, $gray, normal);
            padding-left: 8px;
            margin-top: 8px;
            margin-bottom: 0;
        }
    }
}

.article-text-image-top-layout {
    .article-description{
        @include font($font04, 18px, 1.22, $black, 0.5px); 
    }
    .article-text-image {
        .top-article-container {
            border: solid 1px $articleTextImageBorder;
            padding-bottom: 8px;
            .caption {
                @include font($fontP7, 16px, 1.5, $black, 0.5px);
                padding: 6px 50px 0 8px;
                p {
                    margin-bottom: 0;
                }
            }
            .credits {
                @include font($fontP4, 10px, null, $gray, normal);
                padding-left: 8px;
                margin-top: 8px;
                margin-bottom: 0;
            }
        }
    }
}

#article-text-page-container {
    .back-to-top {
        .back-to-top-text {
            @include font($font8, 14px, 1, $upfrontIaggregatorButtonBackgroundBlue, 0.5px);
        }
    }
}
