<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure Misc - Sample Hero Issue component</div>

<div data-sly-test="${properties.fileReference}">
    <div class="issueHero-main-container ">
        <div class="issueHero-content">
        <!-- top-left top-center top-right center-left center-center center-right bottom-left bottom-center bottom-right are the class that needs to mapped in the dropdown for position of text -->
            <img src="${properties.fileReference}" alt="${properties.title}" title="${properties.title}" class="img-responsive issueHero"  />
            <div class="title-desc-wrapper">
                <h2 class="issueHero-title" data-sly-test="${properties.title}" style = "color : ${properties.textColor @context= 'styleToken'};">${properties.title}</h2>
                <div class="issueHero-desc hidden-xs hidden-sm" data-sly-test="${properties.description}" style = "color : ${properties.textColor @context= 'styleToken'};">${properties.description @context = 'html'}</div>
                <div class="buttonContainer clearfix">
                    <div class="button clearfix center-center" >
                        <div data-sly-unwrap data-sly-use.globalLink="${'com.scholastic.classmags.migration.controllers.GlobalLinkUse' @ url=properties.btnLink}">
                           <a class="pointer btn" href="${globalLink.formattedUrl}" target="${properties.openInNewTab && '_blank'}">
                               ${properties.btnTitle}
                           </a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>