.voting-component-main-wrapper {
  .student-voting-poll-view,
  .teacher-voting-poll-view {

    .student-view-title,
    .teacher-view-title {
      font-family:"SlateStd-Bold";
      background-color: $sn56GlobalNavigationBlue;
     
    }

    .voting-poll-content {
      
      .student-view-question,
      .teacher-view-question {
        font-family:"UtopiaStd-Regular";

      }

      .student-view-answer,
      .teacher-view-answer {

        .submit-button {
          .voting-poll-button {
            background-color:  $sn56CheckBlue;
             font-family:"SlateStd-Bold";
          }
        }

      }

      .after-voting-success-content {
        font-family:"SlateStd";
      }

      .after-voting-ended-content {
        font-family:"SlateStd";
      }

      
      .student-poll-results,
      .teacher-poll-results {
        .poll-results-title {
         font-family:"SlateStd-Medium";
        }
  
      }
    }

    .voting-show-results-btn {
      a {
      
        background-color: $sn56AquaGreen;
        font-family:"SlateStd-Bold";
       
      }
    }
  }

  .student-voting-poll-view {
    .voting-poll-content {
      .student-view-answer {
       
        .field-error-text {
          font-family:"UtopiaStd-Regular";
        }

        .label-text {
          font-family:"UtopiaStd-Regular";
        }
      }
    }
  }

  .teacher-voting-poll-view {
    .voting-poll-content {
      .teacher-view-answer {
       
        .field-error-text {
            font-family:"UtopiaStd-Regular";
        }

        .label-text {
            font-family:"UtopiaStd-Regular";
        }
      }
    }
  }
}
