.email-form-thankyou-container {
	.common-header {
        margin-top: 18px;
    }

    .common-header-title {
    	margin-left: 203px;
    	padding-left: 36px;
    	padding-right: 36px;
    }

    .back-to-previous-wrapper {
		margin-bottom: 54px;

		.back-to-previous-icon {
			vertical-align: middle;
		}

		.back-to-previous-text {
            @include font($font8, 14px, 1, $liteBlue2, 0.5px);
            display: inline-block;
            vertical-align: middle;
            margin-left: 4px;
            
            a {
                @include font($font8, 14px, 1, $liteBlue2, 0.5px);                
            }
        }
	}

	.email-thankyou-wrapper {
    	margin: 29px 37px 0;

    	.correct-error-text-container {
    		display: none;
    	}

    	.field-error-text {
    		visibility: hidden;
    	}

    	.field-error-text-visible {
    		visibility: visible;
    		float: right;
    	}

    	.message-field-error {
    		float: right;
    	}

    	.email-editor-description-container, .email-editor-pad-container, .correct-error-text-container, .back-to-previous-pad-container {
    		padding-left: 3px;    		
    	}

    	.email-editor-description-container {
    		padding-right: 3px;
    	}

    	.thankyou-content-pad-container {
    		padding-right: 14.552px;
    	}

    	.email-editor-description-text {
    		@include font($font04, 16px, 1.38, $black, 0.9px);
    		margin-bottom: 18px;

            p, ol ,ul, ol li, ul li {
                margin: 0;
            }
    	}

    	.email-form-all-fields-container, .email-form-image {
    		margin-top: 25px;
    	}

    	.email-form-all-fields-container {
    		padding-left: 0;
    		padding-right: 119.75px;

    		.send-button-wrapper {
    			margin-bottom: 73px;

    			.send-button {
    				background-color: $yellow;
    				border-radius: 100px;
    				padding: 10px 64px;
    				@include font($font09, 13px, 1.54, $black, 1px);
    				text-align: center;
    				border: 0;
    				text-transform: uppercase;
    			}
    		}	
    	}

    	.email-form-image {
    		padding-left: 10px;
    		padding-right: 0;
    	}

    	.form-field-wrapper {
    		margin-bottom: 5px;

            &.name-field-wrapper {
                min-height: 88.333px;
            }

    		.label-text {
				@include font($font04, 16px, 1.38, $black, 0.9px);
			}

			.form-field-input {
				height: 40px;
				background-color: $formInputGrey;
				border: 1.2px solid $liteAsh9;
				border-radius: 0;
				box-shadow: none;
                @include font($font04, 14px, 1.57, $emailSubjectFieldGrey, 0.8px);
			}

			.error-field-outline {
	    		border: 1.2px solid $errorFieldTextColor;
	    	}

			.subject-field-input {
				padding: 8px 0 10px 15px;
				margin-bottom: 25px;

                &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, :-ms-input-placeholder {
                    @include font($font04, 14px, 1.57, $emailSubjectFieldGrey, 0.8px);
                }
			}		
    	}

    	.message-field-wrapper {
    		margin-bottom: 10px;

    		.message-textarea {
				height: auto;
				background-color: $liteAsh10;
				resize: none;
				max-height: 163px;
			}
    	}

    	.required-fields-text {
    		@include font($font04, 12px, 1.83, $requiredFieldstextGrey, 0.7px);
    		margin-bottom: 35px;
    	}

    	.correct-error-text {
    		@include font($font04, 16px, 1.38, $errorFieldTextColor, 0.9px);
    		margin-bottom: 2px;
    		margin-top: 6px;
    	}    	

    	.field-error-text, .message-field-error {
    		@include font($font04, 12px, 1, $errorFieldTextColor, 0.7px);
    		text-align: right;
    		margin-top: 5px;
    	}
	}
}

@media (min-width:1440px) {
	.email-form-thankyou-container {
        .common-header-title {
            margin-left: 229px;
            padding-left: 41px;
            padding-right: 40px;
        }

	    .email-thankyou-wrapper {
	    	margin-left: 41px;
	    	margin-right: 40px;
	    }
	}
}