.textHyperlink-container-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;

    .textHyperlink-wrapper {
        .textHyperlink-text {
            @include font($fontSE9, 32px, 0.78, $spinContactUsHeaderBg, 0.3px);
            margin: 0;
        }
    }

    .text-link-connector {
        flex-grow: 1;
        height: 4px;
        margin-left: 15px;
        position: relative;
        top: 4px;
        border-radius: 100px;
    }

    .textHyperlink-link {
        @include font($fontSL7, 14px, 1, $ssSeeAllLinkColor, 0.5px);
        margin-left: 15px;
        position: relative;
        top: 2px;

        &:focus,
        &:hover {
            text-decoration: none;
        }

        .icon {
            position: relative;
            top: 3px;
            margin-left: 9px;
        }
    }
}
