.fyre {
	.fyre-box-wrapper {
		a {
			&.fyre-user-profile-link {
				font-family: 'StoneInformalStd-Bold';
			}
		}
	}

	.fyre-user-loggedout {
		font-family: 'StoneInformalStd-Bold' !important;
	}

	.fyre-box-list {
		li {
			a {
				font-family: 'StoneInformalStd-Medium' !important;
			}
		}
	}

	.fyre-stream-livecount {
		font-family: 'StoneInformalStd-Bold' !important;
	}

	.fyre-stream-sort {
		a {
			font-family: 'StoneInformalStd-Medium';

			&:hover, &:focus, &:active {
				font-family: 'StoneInformalStd-Medium';
			}

			&.fyre-stream-sort-selected {
				font-family: 'StoneInformalStd-Bold';
			}
		}		
	}

	a {
		&.fyre-comment-username {
			font-family: 'StoneInformalStd-Bold';
		}
	}

	.fyre-comment {
		p {
			font-family: 'StoneInformalStd-Medium';
		}
	}

	.fyre-comment-like-btn, .fyre-comment-reply {
		font-family: 'StoneInformalStd-Medium';
	}

	.fyre-pending {
		font-family: 'StoneInformalStd-Bold';
	}

	.fyre-comment-actions {
		a {
			&.fyre-delete-link, &.fyre-share-link {
				font-family: 'StoneInformalStd-Medium';
			}
		}		
	}

	.fyre-comment-wrapper {
		time {
			&.fyre-comment-date {
				font-family: 'StoneInformalStd-Medium';
			}
		}
	}

	.fyre-editor {
		.fyre-editor-container {
			.fyre-editor-editable {
				&.editable {
					font-family: 'StoneInformalStd-Medium';
				}
			}
		}

		.fyre-editor-toolbar {
			.goog-toolbar {
				&>div {
					font-family: 'StoneInformalStd-Medium' !important;

					&.fyre-button-right {
						&.fyre-post-button {
							font-family: 'StoneInformalStd-Bold' !important;
						}
					}
				}
			}

			.fyre-share-container {
				&>span {
					&>a {
						font-family: 'StoneInformalStd-Medium';

						&:hover, &:focus, &:active {
							font-family: 'StoneInformalStd-Medium';
						}
					}
				}
			}
		}
	}
}

