.brightcoveComponent-container {
    .brightcoveComponent-text-wrapper {
        .brightcoveComponent-title {
           font-family: Canaro-Black;
        }
        .brightcoveComponent-desc {
            font-family: Canaro-Book;
        }
    }
}


