<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure Media - Game HTML Component</div>
<sly data-sly-use.gameContainer="com.scholastic.classmags.migration.controllers.GameComponentUse"></sly>
<sly data-sly-test="${gameContainer.data}">
<div sw-authorize="${gameContainer.data.userType}">
 <sly data-sly-use.container="scholastic/classroom-magazines-migration/components/content/game-html5/templates/game-container.html">
    <sly data-sly-call="${container.gameContainerTpl @
      containerImage=gameContainer.data.thumbnailImg,
      containerId=gameContainer.data.containerId,
      containerPath=gameContainer.data.gamePath,
      gameTitle=gameContainer.data.title,
      gameDesc=gameContainer.data.description,
      userType=gameContainer.data.userType
    }"></sly>
</div>
 </sly>
</sly>
