.article-sidebar-component-wrapper {
    .article-section-title {
        @include font($fontV7, 30px, null, $white, 1px);
        padding: 16px 25px 9px;
    }
    .article-sidebar-content-wrapper {  
        .image-wrapper {
            .image-credit {
                @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
            }
        }
        .article-section-content {
            .article-section-text {
                @include font($fontP4, 18px, 1.33, $black, 0.5px);
            }
        }

        &.top {
            .article-section-title {
                @include font($fontV7, 30px, null, $white, 1px);
                padding: 16px 25px 9px;
            }

            .image-wrapper {
                    .image-credit {
                        @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
                    }
            }
            .article-section-content {
                    .article-section-text {
                        @include font($fontP4, 18px, 1.33, $black, 0.5px);
                    }
                }
        }

        &.bottom {
            .article-section-title {
                @include font($fontV7, 30px, null, $white, 1px);
                padding: 16px 25px 9px;
            }

            .image-wrapper {

                .image-credit {
                    @include font($font04, 10px, 1.2, $lightGrey2, 0.5px);
                }
            }

            .article-section-content {
                .article-section-text {
                    @include font($fontP4, 18px, 1.33, $black, 0.5px);
                }
            }
        }
    }
}