.content-tile-container-horizontal {
	border: 1px solid $mathHorizontalContentTileBorder;

	.padding-content {
		padding-top: 27px;
	}

	.title {
		@include font($fontC7, 18px, 1.17, $black, normal);
		padding-bottom: 9px;
	}

	.description {
		@include font($fontB4, 18px, 1.33, $black, 0.3px);
	}

	.image-container {
		max-width: 194px;
	}

	.padding-image {
		padding: 19px 0 19px 20px;
	}

	.icons-row {
		.view-article-link {
	    	a {
	    		@include font($fontB8, 14px, 1, $mathContentTileViewArticleBlue, 0.5px);

	    		&:hover, &:focus, &:active {
	    			@include font($fontB8, 14px, 1, $mathContentTileViewArticleBlue, 0.5px);
	    		}
	    	}
	    }
	}
}

.content-tile-container {
	.content-hub-header {
		background-color: $mathSubjectsTitle;
		border: 1px solid $mathArticleToolbarBorderColor;
		border-bottom: 3px solid $mathSearchDateContentTileBorder;
	}

	.content-date {
		@include font($fontC6, 13px, 1, $white, 0.5px);
	}

	.content-tile-body {
		border: 1px solid $mathArticleToolbarBorderColor;
		border-top: 0;
		min-height: 412px;
	}

	.title {
		padding: 12px 20px 7px;
		@include font($fontC7, 18px, 1.17, $black, 0.5px);
	}

	.subject {
		@include font($fontB8, 11px, 1.45, $ContentTileSubject, 0.5px);
	}

	.description {
		@include font($fontB4, 16px, 1.5, $black, 0.5px);
	}

	.icons-row {
		padding-left: 20px;

		.sw-icon {
            margin-left: 0;
            margin-right: 10px;

            &:first-child {
                margin-left: 0;
            }
        }

        .view-article-link {
        	a {
        		@include font($fontB8, 14px, 1, $mathContentTileViewArticleBlue, 0.5px);

        		&:hover, &:focus, &:active {
        			@include font($fontB8, 14px, 1, $mathContentTileViewArticleBlue, 0.5px);
        		}
        	}
        }
	}

	.image-container {
		border-top: 1px solid $mathSubjectsCovered;
		border-bottom: 1px solid $mathSubjectsCovered;
	}

	.resource-wrapper {
		background-color: $mathSkillsSheetBackgroundcolor;
		border-bottom: 1px solid $mathSubjectsCovered;
	}

	.image-container-resource {
		margin: 14px 8px 0;

		.content-image {
			max-width: 100%;
		}
	}

	.bookmark-header {
		background-color: $mathSubjectsTitle;
		border: 1px solid $mathArticleToolbarBorderColor;
		border-bottom-width: 3px;
		border-bottom-color: $mathSearchDateContentTileBorder;

		.bookmark-title {
			@include font($fontC6, 13px, 1, $white, 0.5px);
			padding-top: 10px;
		}

		.bookmark-date, .bookmark-type {
			@include font($fontB4, 11px, 1.09, $white, 0.6px);
		}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1024px) { 
    .image-container-resource {
        height: 107.61px;
    }    
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) { 
    .image-container-resource {
        height: 112.1px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) { 
    .image-container-resource {
        height: 135.99px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) { 
    .image-container-resource {
        height: 148px;
    }
}

@media only screen and (min-width: 1366px) { 
    .image-container-resource {
        height: 162.91px;
    }
}

@include respond-to('1440px'){
	.content-tile-container {
		.image-container {
			height: 182px;
		}

		.image-container-resource {
			height: 167px;
			max-width: 309px;

			.content-image {
				width: 100%;
			}
		}
	}
}