.share-popover-layout {
    display: inline-block;
}

.popover {
    max-width: 310px;
    border: 0;
    background-color: $white;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.45);

    .arrow {
        &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            height: 15px;
            width: 15px;
            background: transparent;
            transform: rotate(45deg);
            box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.45);
        }
    }

    &.top {
        .arrow {
            &:before {
                bottom: 4px;
                left: -8px;
            }
        }
    }

    &.bottom {
        .arrow {
            border-bottom-color: $white;
            &:before{
            bottom: -19px;
            left: -7px;
            transform: rotate(225deg);
        }
        }
    }
}

.popover-content {
    padding: 9px 10.5px 19px 15px;
    background-color: $white;
    border-radius: 6px;

    .popover-data {
        @include font($font04, 14px, 1.21, $black, 0.3px);
        padding-top: 27px;
    }

    .popover-text {
        @include font($font04, 12px, 1.5, $black, 0.3px);
        padding: 5px 9px 7px 8px;
        width: 280px;
        height: 30px;
        background-color: $formInputGrey;
        border: solid 1.2px $videoLiteGray;
        margin-top: 14px;

        &::selection {
            background-color: $sharePopoverSelectionColor;
        }
    }

    .sw-icon.share-popover-copy {
        margin-top: 12px;
        margin-left: 0;
        cursor: pointer;
        vertical-align: middle;
    }

    #shareLinkPopover {
        &.js-share-popover-close {
            float: right;
            top: -6px;
            right: -9px;
            cursor: pointer;
            margin-right: 0;
        }
    }
}
