.teachingRsc-wrapper{
    
   .sw-icon{
        display:inline-block;
               
                &.list-icon{
                background-image:url('../../images/teachingRsc/icon-list.png');
                width:23px;
                height:23px;
                margin-right: 10px;
                }

                &.legend-icon{
                 background-image:url('../../images/teachingRsc/icon-legend.png');
                
                width:36px;
                height:36px;
                vertical-align:middle;
                margin-right: 8px;
                margin-left: 15px;

                }

            }


   .teachingRsc-content{

   .the-fieldset {
    border:1px solid #CCC;
 

 .the-legend {
    border-style: none;
    border-width: 0;
    margin-left:40%;
    font-family: 'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #000000;
    vertical-align: middle;
    padding-right: 10px;
    width: initial;
    

   
}

.teachingRsc-list{
    

                
                
                display:block;

                margin-left:15%;
                margin-top:10%;
               // margin-bottom:10%;
               
                min-height: 60px;  
                font-family: 'Helvetica';
                font-weight: 400;
                font-style: normal;
                font-size: 17px;
                color: #000000;
                line-height: 24px
                             
                

}


   

    
        }
    }
}

@media screen and (max-width:771px){
.teachingRsc-wrapper{
    


.teachingRsc-list{

                display:block;

                margin-left:15%;
                margin-top:10%;
                //margin-bottom:10%;
               
                
                font-family: 'Helvetica';
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                color: #000000;
                line-height: 24px;

                
                

}


   

    
        }
    }


    

    