.article-title-layout {
    .article-title-heading {
        @include font($fontC7, 48px, 0.83, $mathvotingTitle);
    }

    .article-title-dek {
        @include font($fontB4, 27px, 1.11, $black);
    }

    .sub-title {
        @include font($fontC7, 30px, 1.33, $mathvotingTitle);
    }

}
