.search-resources-main-container {
    background-color: $juniorLiteGray;

    .search-main-content {
        .search-resources-content {
            .sort-by-wrapper {
                margin: 20px 0;
            }

            .search-tiles {
                padding-bottom: 19px;
            }
        }

        .articles-resources-issues-container {
            margin-top: 25px;

            .tab-content {
                .search-zero-results-container {
                    .title {
                        @include font($fontC9, 30px, 1.47, $black, 1px);
                    }

                    .try-another-keyword {
                        @include font($fontC9, 24px, 1.83, $black, 1px);
                        font-weight: normal;
                    }

                    .search-guidlines {
                        border-color: $titleHyperlinkColor;

                        .search-tips {
                            @include font($fontP9, 20px, 1.14, $gray, 0.2px)
                        }

                        .steps-for-search {
                            font-family: ProximaNova;
                        }
                    }
                }

                .tab-pane {
                    .filter-section-container {
                        .filter-category-section {
                            &.filter-reset-section {
                                .filter-category-items-container {
                                    .filter-category-item {
                                        color: $jrIssueHighbackground;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .articles-resources-issues-tabs {
                ul {
                    border-bottom: 0;

                    li {
                        background-color: $contentTileSkillSheetGray;

                        &:before {
                            background-color: $contentTileSkillSheetGray;
                            border-top-left-radius: 8px;
                        }

                        &:after {
                            background-color: $contentTileSkillSheetGray;
                            border-top-right-radius: 8px;
                        }

                        a {
                            @include font($fontPE4, 20px, 0.9, $gray, 1.5px);
                            white-space: nowrap;
                        }

                        &.active {
                            background-color: $juniorBookmarkActiveTabBackground;

                            &:after {
                                background-color: $juniorBookmarkActiveTabBackground;
                            }

                            &:before {
                                background-color: $juniorBookmarkActiveTabBackground;
                            }

                            a {
                                @include font($fontPE4, 20px, 0.9, $gray, 1.5px);
                            }
                        }
                    }
                }
            }
        }
    }
}
