$featuredborderGreySN3: #d1d3d4 !default;
$contentTileBackground: #dce1e2 !default;
$allIssuesTitleColor: #0066b3 !default;
$textHyperlinkColor: #0083ca !default;
$bookmarkDateColor: #616364;
$snIssueHighBgColor: #ececec !default;
$aggregatorBorderBlue: #00a5e5 !default;
$sn56ContentTileBorder: #4eb1c8 !default;
$sn56ThickBlueColor: #1657a0 !default;
$sn56ArticleLinkColor: #00999c !default;
$sn56ThickGreyLineColor: #dfe1e2 !default;
$sn56TabBackground: #1557a0 !default;
$sn56SearchPageTabBackground: #169cbb !default;
$tabComponentGreyBackground: #cbcbcb !default;
$sn3TabInactiveColor: #303030 !default;
$textHyperlinkTitleColor: #e17b00 !default;
$snGlobalNavExploreColor: #f3f3f3 !default;
$sn56BgGrey: #f4f4f4 !default;
$sn56BorderGrey: #d7d7d7 !default;
$sn56Black: #000f20 !default;
$sn56BlackBar: #000e1f !default;
$sn56PaginationGrey: #f9f9f9 !default;
$sn56CheckBlue: #00aaad !default;
$sn56GlobalNavigationBlue: #35659b !default;
$sn56GlobalFooterBackground: #2a5381 !default;
$sn56GlobalFooterBorderBlue2: rgba(255, 255, 255, 0.6) !default;
$sn56GlobalFooterLogoBackground: #fafbfb !default;
$sn56RightsReservedGrey: #5a5a5a !default;
$sn56HeroHashBackgroundColor: #305e92 !default;
$sn56IssueDateBlack: #343434 !default;
$sn56GlobalNavInputBackground: rgba(255, 255, 255, 0.8) !default;
$sn56GlobalNavExploreColor: #7c7c7c !default;
$sn56globinpPlaceholdText: #00171f !default;
$sn56PopupImageBorderColor: #e1e2e2 !default;
$sn56ToolbarBorder: #c5daf0 !default;
$sn56EmailFormInputFieldFontColor: #858585 !default;
$sn56AquaGreen: #169cbb !default;
$sn56NumberGreen: #0093b4 !default;
$sn56BorderBlue: rgba(255, 255, 255, 0.3) !default;
$sn56GreyText: #696a6c !default;
$sn56ToolbarColor: #fafbfd !default;
$sn56ToolbarBorderColor: #c5daf0 !default;
$sn56ArticleToolbarDropdown: #dadbde !default;
$sn56ToolbarBottomBorder: #c5daf0 !default;
$sn56ArticleResourceBlue: #1e90aa !default;
$sn56ArticleResourceBlue: #1e90aa !default;
$sn56PopupImageBorderColor: #e1e2e2 !default;
$sn56AnswerQuestionColor: #007994 !default;
$sn56CheckBorder: #95a0a9 !default;
$sn56TitleRed: #d2232a !default;
$sn56ArticleCredit: #606162 !default;
$sn56SidebarTextRed: #bf040c !default;
$sn56KeyAssetsBorderBlue: #a4dae6 !default;
$sn56ContentTileBorderOrange:#d45a31 !default;
$sn56Background: #b4d2d9 !default;
$sn56GradientBackground: #a8c5d9 !default;
$sn56MobileCarousel: #a8c5d9 !default;
$sn56TDIContentTileDescription: #118cd2 !default;
$sn56TDIDescription: #39393a !default;
$marketingLightGrey: #d4e2e2 !default;
$marketingLightBlue: #0066b3 !default;
$marketingBorderBlue: #0083ca !default;
$marketingBorderYellow: #f8e81c !default;
$marketingPromoteMagazineTitle: #1e90aa !default;
$marketingPromoteMagazineLink: #1657a0 !default;
$sn56LightBlue: #00aaad !default;
$sn56grey: #d9dbde !default;
$sn56ContentGrey: #6a6a6a !default;
$sn56blue: #009ce1 !default;
$sn56Button: #f8e81c !default;