.brightcoveComponent-container {
    .brightcoveComponent-text-wrapper {
        .brightcoveComponent-title {
            font-family: 'KarnakPro-Bold';
        }
        .brightcoveComponent-desc {
            font-family: 'SlateStd-Bold';
        }
    }
}
