.recent-issues-container{ 
    background:url("/etc/designs/scholastic/classroom-magazines-migration/math/images/recentIssues/grey-mesh.jpg") repeat;
    padding-top: 45px;
    
    .recent-issue-content-wrapper{
        .recent-issue-date{
            @include font($fontB7, 18px, 1.17, $black, 0.5px);
        }
    }
}