.marketing-VideoTestimonial {
    .marketing-VideoTestimonial-container {
        .marketing-VideoTestimonial-container-divider {
            height: 3px;
            border-radius: 5px;
            background: $marketingDynamathBorderGrey;
            margin: 0 auto;
            width: 44%;
        }

        .marketing-content-tile-container {
            .content-tile-body {
                .row.game-video-wrapper {
                    .image-container {
                        border: none;
                        background: transparent;

                        .video_play {
                            .content-image {
                                max-height: 291px;
                                max-width: 506px;
                                width: 100%;
                                border: 9px solid $marketingDynamathBlue;
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }
        }

        .title {
            @include font($fontC7, 29px, 1.21, $marketingGrey);
            margin-bottom: 0;
            margin-top: 10%;
        }

        .description {
            @include font($fontB4, 20px, 1.35, $marketingGrey);
            margin-top: 7px;
        }
    }

    .left {
        margin-right: 73px;
        padding-left: 50px;
    }

    .marketing-content-tile-container {
        padding: 31px 0 33px;
    }
}

@include respond-to ('xssmall') {
    .marketing-VideoTestimonial {
        .marketing-VideoTestimonial-container {
            padding: 34px 0 36px;
            margin-left: 20px;
            margin-right: 20px;
            border-top: 3px solid $liteAsh3;

            .marketing-content-tile-container {
                padding: 0;

                .content-tile-body {
                    .row.game-video-wrapper {
                        .image-container {
                            .video_play {
                                padding: 0;
                                background: transparent;

                                .content-image {
                                    max-height: 195px;
                                    max-width: 338px;
                                    border: 0;
                                    border-radius: 0;
                                }
                            }
                        }
                    }
                }
            }

            .mobile {
                margin-bottom: 0;
            }

            .title {
                @include font($fontC7, 22px, 1.18, $marketingGrey);
                margin-top: 32.67px;
                padding: 0 0 0 3px;
            }

            .description {
                @include font($fontB4, 16px, 1.25, $marketingGrey);
                margin-top: 8px;
                padding: 0 0 0 3px;
                margin-bottom: 0;
            }
        }
    }
}
