<div
	data-sly-test.placeholder="${!(wcmmode.disabled || properties.titleText)}">Configure
	Media - News Component</div>
<div
	data-sly-use.breakingNewsUse="com.scholastic.classmags.migration.controllers.BreakingNewsUse">
	<sly data-last-modified="${breakingNewsUse.lastModified}"/>
    <div class="breaking-news-banner-component" ng-controller="breakingNewsController">
		<div class="breaking-news-banner-container" data-lastPublishedDate="${breakingNewsUse.lastModified}" data-ispublish="${!(wcmmode.edit || wcmmode.design) ? 'true': 'false'}">
			<div class="breaking-news-banner-wrapper row nomarLR"
				ng-show="bannerVisible"
				style="background-color: ${properties.bgColor@context='html'}">
				<div class="breaking-news-banner-title col-xs-2"
					style="color: ${properties.fontColor@context='html'}">${properties.titleText}
				</div>

				<div data-sly-test="${properties.description} "
					class="breaking-news-banner-description col-xs-8"
					style="color: ${properties.fontColor@context='html'}">
					${properties.description} ... <a href="${properties.linkPath}"
						class="breaking-news-banner-readmore" target="_blank"
						style="color: ${properties.fontColor@context='html'}">${properties.linkLabel}
						&gt;</a>
				</div>
				<span class="sw-icon white-crossMark-icon"
					ng-click="updateBannerVisibility()"></span>
			</div>
		</div>
    </div>
</div>
