<div data-sly-use.globalAccess="com.scholastic.classmags.migration.controllers.GlobalAccessUse" data-sly-unwrap>
<div data-sly-test="${wcmmode.edit || globalAccess.visible}" data-sly-unwrap>
<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure
	General - CTA Component</div>
<div
	data-sly-use.cTAButtonUse="com.scholastic.classmags.migration.controllers.CTAButtonUse">
	<div class="buttonContainer clearfix">
		<div class="button clearfix ${properties.jcr:buttonPosition || 'text-center'}">
			<a class="pointer btn bg-blue " target="_blank"
				href="${cTAButtonUse.ctaButton.buttonHyperlink}">${properties.jcr:buttonText}</a>
		</div>
	</div>
	<div class="vpaddingComponent-container">
                <div class="vpaddingComponent-content vheight20">
                </div>
    </div>
</div>
</div>
</div>
