.article-sidebar-component-wrapper {
    background-size: 100% auto;
   // border: 1px solid $sn56GlobalNavigationBlue;
    .article-section-title {
        @include font($fontSL9, 24px, 1.17, $sn56ThickBlueColor, 1px);
        background-color: $sn56GlobalNavigationBlue;
        padding: 9px 25px 6px;
    }

    &.top {
        .article-section-title {
            @include font($fontSE9, 30px, 1.07, $sn56TitleRed, 0.5);
        }
    }

    .article-sidebar-content-wrapper {
        max-width: 670px;

        .image-wrapper {
            .image-credit {
                @include font($fontSL7, 24px, 1.17, $black, 1px);
            }
        }

        .article-section-content {
            .article-section-text {
                @include font($fontU4, 18px, 1.67, $black, 1px);
            }
        }

        &.left,
        &.right {
            display: flex;
            padding-right: 6px;

            .image-wrapper {
                max-width: 300px;
                flex: 0 0 46%;
                width: 46%;
                margin-top: 10px;
            }

            .article-section-content {
                flex-grow: 1;
            }
        }

        &.right {
            .image-wrapper {
                margin-right: 44px;

                .image-credit {
                    @include font($fontSL7, 18px, 1.22, $black, 1px);
                    padding: 17.2px 43px 30px 47px;
                }
            }

            .article-section-content {
                .article-section-text {
                    @include font($fontSL7, 24px, 1.17, $black, 1px);
                    padding: 9px 0 0;
                }
            }
        }

        &.left {
            .image-wrapper {
                margin-left: 43px;

                .image-credit {
                    @include font($fontSL7, 18px, 1.22, $black, 1px);
                    padding: 16px 38px 30px 52px;
                }
            }

            .article-section-content {
                .article-section-text {
                    @include font($fontSL7, 24px, 1.17, $black, 1px);
                    padding: 9px 0 0;
                }
            }
        }

        &.top {
            padding: 25px 25px 13px;
            border-radius: 8px;

            .close {
                opacity: 1;
            }

            .image-wrapper {
                .image-icon-container {
                    position: relative;

                    .cm-image-wrapper {
                        cursor: pointer;
                    }

                    .popup-img-icon {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        cursor: pointer;
                    }
                    margin-top: 20px;
                }

                .image-credit {
                    @include font($fontSL4, 10px, 1.2, $sn56ArticleCredit, 0.5px);
                    margin-top: 10px;
                    text-align: right;
                }
            }

            .article-section-content {
                .article-section-text {
                    margin-top: 10px;
                    @include font($fontSL5, 18px, 1.44, $sn56SidebarTextRed, 1px);
                }
            }
        }

        &.bottom {
            .article-section-title {
                @include font($fontSE9, 30px, 1.07, $sn56TitleRed, 0.5);
                background-color: $sn56GlobalNavigationBlue;
                padding: 9px 25px 6px;
            }

            .image-wrapper {
                padding: 16px 8px 0;

                .image-credit {
                    font-family: 'UtopiaStd-Regular';
                    margin-top: 8px;
                    text-align: right;
                }
            }

            .article-section-content {
                .article-section-text {
                    font-family: 'SlateStd-Medium';
                    padding-top: 10px;
                    padding-left: 23px;
                    line-height: normal;
                }
            }
        }
    }
}

