.issueHigh-wrapper {
    background-color: $white;
    position: relative;
    .issueHigh-content {
        padding: 29px 0 42px;
        .issueHigh-header {
            .textHyperlink-container-wrapper {
                .textHyperlink-wrapper {
                    height: 41px;
                    .textHyperlink-text {
                        padding: 26px 44px 15px 40px;
                    }
                }
                .textHyperlink-link {
                    display: none;
                }
            }
            .issue-high-icons {
                position: relative;
                bottom: 6px;
            }
            
            .magazine-issue-high-component-bg{
                .resources-container{
                     width:100%;
                }
            } 
        }
        .issue-highlighting-img {
            padding-left: 40px;
            padding-right: 0;
            .issue-highlight-img-bg {
                border: 1px solid $dimLiteGray;
                padding: 26px 14px 5px;
                position: relative;
                height: 422px;
                background: url('../../../images/lines-grey.png') repeat;
                background-color: $white;
                .issue-img-center {
                    .issue-high-img-class {
                        margin: auto;
                    }
                    img {
                        max-width: 100%;
                        max-height: 314px;
                        margin: 0 auto;
                        box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.3);
                    }
                }
            }
            .issue-mag-view-container {
                width: 100%;
                position: absolute;
                bottom: -17px;
                text-align: center;
                margin-left: -14px;
                .issue-mag-view {
                    background-color: $yellow;
                    @include font($font09, 13px, 1.54, $black, 1px);
                    text-align: center;
                    text-transform: uppercase;
                    border-radius: 100px;
                    padding: 7px 0 8px;
                    border: 0;
                    margin: 0 auto;
                    min-height: 35px;
                    width: 89%;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
        .issue-tile-wrapper {
            padding-left: 20px;
            padding-right: 20px;
            .issue-high-des-sec-tiles {
                margin-bottom: 22px;
                padding-right: 20px;
                padding-left: 0;
                height: 200px;
                .des-sec-tiles-boxshadow {
                    background-color: $white;
                    height: 100%;
                    .issueHigh-titles {
                        background-color: $tabBgGrey;
                        border-bottom: 3px solid $yellow;
                        margin: 0;
                        max-height: 50px;
                        a {
                            @include font($font07, 16px, 1.13, $black, 0.5px);
                            max-height: 46px;
                            display: block;
                            padding: 15px 18px 14px;
                            &:active, &:focus, &:hover {
                                text-decoration: none;
                            }
                        }
                        span {
                            @include font($font3, 15px, 18px);
                            line-height: 18px;
                            color: $black;
                        }
                    }
                    .key-asset-content {
                        padding: 26px 18px 9px;
                        border: 1px solid $videoLiteGray;
                        border-top: 0;
                        .key-asset-desc {
                            @include font($font04, 16px, 1.5, $black, 0.5px);
                            margin-bottom: 30px;
                            &.tile-desc {
                                max-height: 48px;
                                height: 48px;
                                p {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }
                        .social-icons {
                            width: 100%;
                            min-height: 32px;
                        }
                    }
                }
            }
        }
        .sw-icon {
            background-repeat: no-repeat;
            display: inline-block;
        }
        .issueHigh-text {
            margin: 0 35px 0 0;
            p {
                &.text-date {
                    margin-bottom: 0;
                }
            }
            .text-date {
                @include font($fontN5, 28px, 1.14, $black, 1px);
                /*border-bottom: 2px solid $bluishGreen2;*/
                
                padding-bottom: 15px;
            }
            .arrow-right-next-icon {
                background-image: url("../../../images/icons/icon-arrow-right.png");
                background-repeat: no-repeat;
                width: 8px;
                height: 12px;
                display: inline-block;
                vertical-align: bottom;
                margin-left: 6px;
            }
            a {
                text-decoration: none;
            }
        }
        .text-desc {
            margin: 0 40px 27px;
            .text-desc-bold {
                @include font($font07, 18px, 1.44, $black, 0.9px);
            }
            .text-desc-normal {
                @include font($font04, 18px, 1.44, $black, 0.9px);
            }
        }
        .issue-high-desc {
            @include font($font04, 16px, 1.38, $black, 0.5px);
            margin-top: 14px;
            margin-bottom: 15px;
        }
        .social-icons {
            &.text-desc-social-icons {
                text-align: right;
                margin-top: -7px;
                a {
                    vertical-align: bottom;
                }
                .sw-icon {
                    &.download-icon {
                        vertical-align: bottom;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &.upload-icon {
                        vertical-align: bottom;
                    }
                }
            }
            .sw-icon {
                margin-right: 10px;
                display: inline-block;
            }
        }
        .issueHigh-text {
            background: $white;
            position: relative;
            height: 47px;
            .text-date {
                @include font($fontN5, 28px, 1.14, $black, 1px);
                display: inline-block;
                background: $white;
                padding: 32px 43px 15px 40px;
                margin: 0;
                position: absolute;
                bottom: 0;
            }
        }
    }
}

.top-links-component-main-wrapper {
    .top-links-component-container {
        .hash-container {
            background: url('../../../images/lines-grey.png') repeat;
            height: 25px;
            width: 100%; 
        }
        .top-links-content-wrapper {
            padding: 30px 40px 36px 68px;
            .image-wrapper {
                padding: 0;
                width: 19.90%;
                a{
                    text-decoration: none;
                }
                .magazine-view-button {
                    text-transform: uppercase;
                    text-align: center;
                    margin-top: 17px;
                    padding: 10px 0;
                    text-align: center;
                    @include font($font09, 13px, 1.54, $black, 1px);
                    width: 100%;
                    border-radius: 100px;
                    background-color: $yellow;
                }
            }
            .text-wrapper {
                padding: 0;
                padding-left: 52px;
                width: 80.10%;
                .title-icon-wrapper {
                    .title-placeholder {
                        @include font($fontN5, 28px, 1, $black, 1px);
                        display: inline;
                    }
                    .icon-placeholder {
                        display: inline;
                        float: right;
                        >a {
                            padding-left: 15px;
                            &:first-child {
                                padding-left: 0;
                            }
                        }
                    }
                }
                .description {
                    margin-top: 24px;
                    @include font($font07, 13px, 1.85, $black, 1px);
                }
                .featured-assets-wrapper {
                    margin-top: 8px;
                    .featured-asset {
                        padding: 0;
                        width: 32.023%;
                        margin-left: 1.9%;
                        margin-top: 20px;
                        &:first-child, &:nth-child(3n+1) {
                            margin-left: 0;
                        }
                        &:last-child,
                        &:nth-child(3n) {
                            margin-right: 0;
                        }
                        &:first-child,&:nth-child(2),&:nth-child(3){
                            margin-top: 0px;
                        }
                        .content-tile-container{
                            border: 0;
                            .content-tile-body {
                                height: 215px;
                                border: none;
                                min-height: 215px;
                                .row {
                                    display: none;
                                    &.content-tile-image-wrapper, &.content-tile-title {
                                        display: block;
										text-transform:capitalize;
                                    }                                   
                                }

                                .title {
                                    padding-left:0;
                                    @include font($fontN5, 18px, 1.17, $black, 0.5px);
                                }
                                .image-container{
                                    height:180px;
                                }
                            }
                        }
                        
                    }
                }
                .key-assets-wrapper {
                    margin-top: 35px;
                    .key-asset-container {
                        width: 15.765%;
                        height: 85px;
                        padding: 0;
                        background-color: $IssueHighKeyBackgroundGrey;
                        text-align: center;
                        margin: 0 0.5%;
                        &:first-child {
                            margin-left: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        .key-asset {
                            padding-top: 13px;
                            padding-bottom: 19px;
                            .icon-wrapper {
                                text-align: center;
                                height: 18px;
                                >span {
                                    padding-left: 15px;
                                    display: inline-block;
                                    height: 18px;
                                    &:first-child {
                                        padding-left: 0;
                                    }
                                }
                            }
                            .key-asset-name {
                                margin-top: 17px;
                                @include font($font04, 14px, 1, $black, 0.5px);
                            }
                        }
                        .bottomcolor-container {
                            height: 4px;
                            background-color: $yellow;
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .sw-icon {
        &.stack-window-icon {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
    }
}
@include respond-to ('xssmall') {
    .issueHigh-wrapper {
        .issueHigh-content {
            .social-icons {
                display: inline-block;
            }
            .sw-icon {
                &.print-icon {
                    margin-left: 0;
                }
            }
            .issue-highlighting-img {
                padding-left: 35px;
                padding-right: 20px;
                margin: 0 auto 20px;
                .issue-highlight-img-bg {
                    border: 1px solid $dimLiteGray;
                }
            }
            .issue-tile-wrapper {
                padding-left: 34px;
                padding-right: 20px;
                .issueHigh-des-sec-tiles {
                    .des-sec-tiles-boxshadow {
                        .issueHigh-titles {
                            font-size: 16px;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            .issueHigh-text {
                .key-asset-desc {
                    font-size: 20px;
                }
                .text-date {
                    font-size: 25px;
                }
            }
        }
    }
}
@include respond-to ('xsmall-max-and-up') {
    .issueHigh-wrapper {
        .issueHigh-content {
            .issue-highlighting-img {
                margin-bottom: 20px;
            }
        }
    }
}
@include respond-to ('small') {
    .issueHigh-wrapper {
        .issueHigh-content {
            .issue-tile-wrapper {
                .issue-high-des-sec-tiles {
                    .des-sec-tiles-boxshadow {
                        .issueHigh-titles {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .issue-highlighting-img {
                padding-left: 35px;
                padding-right: 20px;
                margin-bottom: 0;
                img {
                    height: auto;
                }
            }
        }
    }
}