.pastIssueGrid-container {
    .pastIssueGrid-main-container{
        background-color:$upfrontBackgroundColor;
        .textHyperlink-container {
            margin-bottom: 22px;
            border-bottom: solid 2px $upfrontHyperlinkTextBorderColor;
            margin-top:15px;
            margin-left:73px;
            .textHyperlink-wrapper {
                min-height: 44px;
                .textHyperlink-text{
                    color:$upfrontInactiveSortColor;
                    text-transform: capitalize;
                    .textHyperlink-count{
                        display: inline-block;
                    }
                }
            }
        }
        
        @media (min-width: 1220px ) {
            .grey-hash-bg{
              background-image: none;
              background-color:$upfrontContentTileBorderGrey;
                top:450px;
                height:422px;
                display: block;
            }
        }
        @media (min-width: 1440px) {
            .grey-hash-bg{
              background-image: none;
              background-color:$upfrontContentTileBorderGrey;
                top:520px;
                height:488px;
                display: block;
            }
        }
  .pastIssueGrid-main-content{
      padding-left:73px;
      padding-right:85px;
      width:100%;      
      .row{
          margin-right:-37px;
          margin-left:-37px;
      }
      
      .tile{
          padding-left:37px;
          padding-right: 37px;
      }
    .issue-container{
        .issue-date  {
            margin-bottom:70px;
            margin-top:19px;
            @include font($fontSL7, 14px, 1.43, $white, 1.1px);
            border-radius: 100px;
            background-color:$upfrontInactiveSortColor;
        }
        .issue-cover{
            max-width:265px !important;
            img{
                max-height:355px !important;
            }
        }
    }
  } 

    .pagination-directive-wrapper{ 
        margin-top:15px;
        .paginationBottom{
            margin-bottom:74px; 
        }
    } 
} 
}
