.tab-component-layout {
    .main-tabs {
        border-bottom: none;

        li {
            background-color: $tabBgGrey;
            text-align: center;
            border-right: 1px solid $liteAsh2;

            a {
                border-radius: 0;
                margin-right: 0;
                border: none;
                padding-right: 20px;

                &:active,
                &:focus,
                &:hover {
                    border: 0;
                    background-color: transparent;
                }

                span.tab-names {
                    @include font($font6, 12px, 1.17, $tabBgGreyText, 1px);
                    text-transform: uppercase;
                    word-wrap: break-word;
                }
            }

            &.active {
                border-bottom: none;
                border-right: 0;

                a {
                    background-color: $tabBgBlue;
                    position: relative;
                    border-right: 0;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-top: 23px solid $tabBgGrey;
                        border-left: 22px solid $tabBgBlue;
                        width: 0;
                    }

                    &:active,
                    &:focus,
                    &:hover {
                        background-color: $tabBgBlue;
                    }

                    span.tab-names {
                        @include font($font6, 12px, 1.17, $white, 1px);
                    }
                }
            }
        }
    }

    .tab-content {
        &.main-tab-content {
            // margin-top: 20px;
        }
    }
}
