.pagination-directive-wrapper {
	.paginationBottom {
		ul {
			li {
                @include font($fontGB5, 14px, 1.07, $actioninactiveSortColor, 0.5px);

				a {
					@include font($fontGB5, 14px, 1.07, $actioninactiveSortColor, 0.5px);

					&:active,
					&:focus,
					&:hover {
						@include font($fontGB5, 14px, 1.07, $actioninactiveSortColor, 0.5px);
					}
				}
                select{
                    background: $actionDropdownBackgroundColor url("/etc/designs/scholastic/classroom-magazines-migration/action/images/dropdown-arrows.png") no-repeat;
                    background-position: right 5px center;
                    border: solid 1px $actionDropdownBorderColor;
                }

				&.pageLabel {
					@include font($fontGB5, 14px, 1.07, $black, 0.9px);
				}
			}
		}
	}
}
