<!--/*

	Vocabulary component.
			
*/-->
<div data-sly-test.placeholder="${!wcmmode.disabled}">Configure
	Article - Vocab component</div>
<div
	data-sly-use.vocabularyList="com.scholastic.classmags.migration.controllers.VocabularyUse">

	<div id="vocabularySection"
		data-sly-list.keyName="${vocabularyList.vocabDataMap}">
		<div class="js-vocabulary-word"
			data-vocabulary-word="${vocabularyList.vocabDataMap[keyName].vocabWord}"
			data-vocabulary-pronunciationtext="${vocabularyList.vocabDataMap[keyName].wordPronunciationText}"
			data-vocabulary-definition="${vocabularyList.vocabDataMap[keyName].wordDefinition}"
			data-vocabulary-audiopath="${vocabularyList.vocabDataMap[keyName].wordAudioPath}"
			data-vocabulary-imagepath="${vocabularyList.vocabDataMap[keyName].wordImagePath}" 
			data-vocabulary-photocredit="${vocabularyList.vocabDataMap[keyName].wordImageCredits}"></div>
	</div>
</div>