.breadcrumb-layout {
    .breadcrumb-active {
        @include font($fontP4, 13px, 1.08, $black, 0.5px);
    }

    .breadcrumb-inactive {
        @include font($fontP4, 13px, 1.08, $black, 0.5px);
    }
}
