.pagination-directive-wrapper {
    .paginationBottom {
        ul {
            li {
                a{
                    @include font($fontC7, 15px, 1, $contentTileSubjectBlue, 1px);
                    &:hover, &:active, &:focus{
                        @include font($fontC7, 15px, 1, $contentTileSubjectBlue, 1px);
                    }
                }
                select{
                    background: $mathContactUSSelectColor url("/etc/designs/scholastic/classroom-magazines-migration/math/images/dropdown-arrows.png") no-repeat;
                    background-position: right 5px center;
                    border: solid 1px $mathArticleToolbarDropdownBorder;
                }
                &.pageLabel{
                    @include font($fontC7, 15px, 1, $black, 1px);
                }
                
            }
        }  
    }
}