.article-resources-main-container {
    &#TeachingResourcesComponent{
                    background-color: $articleBackgroundColor;
        .article-resources-content {
                    padding: 35px 30px 45px 30px;
                 .article-tiles{
                     margin-top: 0;
                 }
        }  
       
        .textHyperlink-container{
            .textHyperlink-wrapper{
               .textHyperlink-text::before { 
                   background-color: $articleBackgroundColor;
                }
            }  
            
        } 
    } 
}

