<div class="slide-show-component-layout">
    <div class="container-fluid slide-show-component-wrapper">
        <div class="row nomarLR">
            <div class="coverimage-wrapper">
                <img class="img-responsive cover-image" ng-src="{{coverimage}}">
                <div class="popup-img-icon">
                    <span class="sw-icon stack-window-icon"></span>
                </div>
            </div>
            <div class="launch-slide-show" data-toggle="modal" data-target="#{{uniqueid}}">
                Launch Slideshow
            </div>
            <div class="modal modal-wide pop-up-icon" id="{{uniqueid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <span class="close sw-icon close-icon" data-dismiss="modal"></span>
                <div class="modal-dialog modal-lg pop-up-icon-lg" role="document">
                    <div class="modal-content">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner" role="listbox">
                                <div class="item slide-show-images" ng-repeat="slide in slides" ng-class="{'active':$index == 0}">
                                    <div class="slide-show-image">
                                        <img class="img-responsive" ng-src="{{slide.slideshowImagePath}}" alt="slide">
                                    </div>
                                    <div class="slide-show-header nomarLR row">
                                        <div class="col-xs-2 col-sm-2 col-md-2"></div>
                                        <div class="nopadLR col-xs-8 col-sm-8 col-md-8 wordBreak slide-show-header-name" ng-bind-html="slide.slideshowCaption"></div>
                                        <div class="col-xs-2 col-sm-2 col-md-2 total-img-present-img">{{$index+1}}/{{slides.length}}</div>
                                    </div>
                                    <div class="carousel-caption slide-show-description">
                                        <div class="row nomarLR slide-show-caption-row">
                                            <div class="col-xs-2 col-sm-2 col-md-2">
                                                <a class="left carousel-control slide-show-left-icon" href="#myCarousel" role="button" data-slide="prev">
                                                    <span class="sw-icon left-grey-arrow" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <div ng-hide="{{disablenumber}}" class="page-num" ng-style="bgColor"}>{{$index+1}}</div>
                                            </div>
                                            <div class="col-xs-7 col-sm-7 col-md-9 slide-show-des-block">
                                                <div class="page-title wordBreak" ng-bind-html="slide.slideshowTitle"></div>
                                            </div>
                                            <a class="col-xs-2 col-sm-2 col-md-2 right carousel-control slide-show-right-icon" href="#myCarousel" role="button" data-slide="next">
                                                <span class="sw-icon right-grey-arrow" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
