<div>
	<div data-sly-resource="${'entitlement' @ resourceType='scholastic/classroom-magazines-migration/components/content/entitlement'}"></div>
</div>
<div ng-controller="vocabularyController">
    <div>
        <div data-sly-resource="${'article-configuration' @ resourceType='scholastic/classroom-magazines-migration/components/content/article-configuration'}"></div>
    </div>
    <div>
        <div data-sly-resource="${'ereader-configuration' @ resourceType='scholastic/classroom-magazines-migration/components/content/ereader-configuration'}"></div>
    </div>
    <div>
        <sly data-sly-resource="${ @path='hero-image', resourceType='scholastic/classroom-magazines-migration/components/content/hero-image'}"></sly>
    </div>
    <div id="article-text-page-container" class="column-control-wrapper" ng-controller="articlePageComponentsController">
        <sly data-sly-resource="${ @path='col-ctrl', resourceType='scholastic/classroom-magazines-migration/components/content/column-control'}"></sly>
        <div class="back-to-top"><span class="sw-icon right-arrow-icon back-to-top-icon" ng-click="scrollToTop();"></span><span class="back-to-top-text" ng-click="scrollToTop();">Back to top</span></div>
    </div>
    <div>
        <sly data-sly-resource="${ @path='par', resourceType='wcm/foundation/components/parsys'}"></sly>
    </div>
</div>
