.marketing-globalFooter-main-container {
    .globalFooter-content {
        background-color: $marketingFooterBackground;

        .footerContentWrapper {
            &.social-links {
                .footerTitle {
                    border-bottom-width: 2px;
                }
            }

            .footerPhoneNo {
                .liveIcon {
                    background: url("../../../../images/CM-Marketing/icons_junior.png") no-repeat center;
                    background-position: -294px -654px;
                }
            }
        }

        .globalFooter-bottom {
            .scholastic-logo {
                max-width: 177.5px;
                height: auto;
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-globalFooter-main-container {
        .globalFooter-content {
            margin-bottom: 0;

            .row {
                padding: 26px 20px 24px;
            }

            .footerContentWrapper {
                .footerTitle {
                    @include font($font09, 17px, 1.18, $white, 0.3px);
                    padding-bottom: 7px;
                    margin-bottom: 14px;
                }

                .footerPhoneNo {
                    .phonelink {
                        @include font($font07, 17px, 0.65, $white, 0.8px);
                    }

                    .livelink {
                        @include font($font07, 17px, 1.47, $white, 0.8px);
                    }
                }

                .footerlinks {
                    p {
                        a {
                            @include font($font07, 17px, 1.47, $white, 0.8px);
                        }
                    }

                    &.phoneNumber {
                        p:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                &.social-links {
                    .footerTitle {
                        margin-bottom: 14px;
                        border-bottom-width: 1px;
                    }
                }
            }

            .globalFooter-bottom {
                padding: 0 47px;
                height: 139px;

                .links {
                    a {
                        @include font($font07, 12px, null, $contentTileSubjectBlue, 0.3px);
                    }
                }

                .keep-right {
                    .desc {
                        @include font($font04, 12px, 1.17, $liteGray2, 0.3px);
                        left: 0;
                    }

                    .links {
                        right: 10px;

                        &.links-term {
                            left: 7px;
                        }
                    }
                }

                .scholastic-logo {
                    margin-bottom: 21.1px;
                }
            }
        }
    }
}
