.questions-set{
	padding-bottom: 20px;
	.subject-area{
		@include font($font04, 20px, 1.1, $black, 1.1px);
		margin: 0;
	}
	.question-block{
		padding: 27.1px 0 0 0px;
	.question{
		@include font($font07, 15px, 1.67, $upfrontInactiveSortColor, 0.5px);
		margin: 0;
		display: block;
    	text-decoration: none;
	}
}
}