.scholastic-magazine-wrapper {
    position: relative;

    .scholastic-magazine-content {
        padding: 0 20px 100px 40px;

        .magazine-title-wrapper {
            padding-bottom: 4px;
            border-bottom: 2px solid $dimGreen;
            width: 100%;
span {
                vertical-align: middle;
                &.magazine-title {
                    @include font($fontN5, 28px, 1.14, $black, 1px);
                    padding-right: 17px;
                    border-right: 2px solid $liteAsh2;

                    &.no-right-border{
                        border-right:none;
                    }
                }
                &.view-all-magazine {
                    @include font($font09, 14px, 1, $liteBlue2, 0.5px);
                    padding-left: 15px;

                }
            }
            .sw-icon {
                &.right-arrow {
                    display: inline-block;
                    margin-left: 5.6px;
                }
                &.sw-icon {
                    &.right-arrow {
                        margin-top: 3px;
                    }
                }
            }
            a {
                text-decoration: none;
            }
        }
        .content-container {
            padding-left: 0;
            padding-right: 0;
            margin-top: 110px;
            .magazine-content {
                margin-bottom: 20px;
                .magazine-subtitle {
                    @include font($fontN5, 20px, 0.9, $liteBlue2, 0.5px);
					a{
					color:$liteBlue2;
					}
                }
                .separator {
                    width: 30px;
                    height: 4px;
                    border-radius: 100px;
                    background-color: #95a0a9;
                    margin-top: 16px;
                }
                .magazine-desc {
                    @include font($font04, 16px, 1.38, $black, 0.5px);
                    margin-top: 14px;
                }
                &:nth-child(3n) {
                    padding-right: 0;
                }
                &:nth-child(3n+1) {
                    clear: both;
                }
            }
        }
        .scholastic-image {
            margin-top: 63.5px;
            background-color: $globalNavPopoverGray;
            img{
                margin: 0 auto;
            }
        }
    }

    .scholastic-magazine-content-hash {
        background: url('../../../images/lines-grey.png') repeat;
        min-height:74px;
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
@include respond-to('small') {
    .scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            margin-bottom: 50px;
            padding-left: 40px;
            padding-right: 40px;
            .magazine-title-wrapper {
                margin-bottom: 30px;
            }
            .content-container {
                margin-top: 0;
                .magazine-content {
                    margin-bottom: 20px;
                    &.pad10 {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
            .scholastic-image {
                margin-top: 0;
                margin-bottom: 20px;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
@include respond-to('xssmall') {
    .scholastic-magazine-wrapper {
        .scholastic-magazine-content {
            margin-bottom: 25px;
            padding-left: 20px;
            padding-right: 20px;
            .magazine-title-wrapper {
                margin-bottom: 30px;
                span.magazine-title {
                    font-size: 16px;
                }
            }
            .content-container {
                margin-top: 0;
                .magazine-content {
                    margin-bottom: 20px;
                    &.pad10 {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
            .scholastic-image {
                margin-top: 0;
                margin-bottom: 20px;
                padding-left: 0;
                padding-right: 0;

            }
        }
    }
}
