.marketing-app-hero-banner {
    .app-banner-details {
        .banner-title {
            text-align: center;
            @include font($fontSE9, 62px, 0.94, $searchTipsColor, null);
            @include respond-to ('xssmall') {
                @include font($fontSE9, 28px, 1, $searchTipsColor);
                letter-spacing: normal;
            }
        }
        .banner-desc {
            text-align: center;
            @include font($fontSL7, 31.5px, 1.21, $marketingGrey, 0.1px);
            @include respond-to ('xssmall') {
                @include font($fontSL7, 16px, 2.38, $marketingGrey);
                letter-spacing: normal;
                margin: 0 -3px;
            }
        }
        .button-container {
            .primary-button {
                width: 315px;
                padding: 14.34px 40px;
                @include font($fontSL7, 27px, 0.74, $white, 1.8px);
                border-radius: 100px;
                background-color: #39a340;
                @include respond-to ('xssmall') {
                    @include font($fontSL7, 16px, 1.25, $white, 1.1px);
                    width: 275px;
                    padding: 10px 40px;
                }
            }
            .app-login {
                span {
                    @include font($fontSL5, 19px, 1.05, $black, null);
                    @include respond-to ('xssmall') {
                        @include font($fontSL5, 14px, 1.43, $black, null);
                    }
                }
            }
        }
    }
}
