<div data-sly-test="${wcmmode.edit && !wcmmode.preview}" data-sly-unwrap>Configure General - Padding</div>
<div data-sly-test="${properties.paddingValue!='' && properties.paddingValue!='0'}" data-sly-unwrap>
	<div style="padding-top:${properties.paddingValue @context='text'}${properties.type @context='text'}">
	</div>
</div>