<div class="pagination-directive-wrapper" ng-if="totalIssueRecords>12 || totalSearchArticlesResources>12 || totalSearchIssueResources>12 || bookmarkArticleList.length>0">
   <div class="paginationBottom">
      <ul>
         <li class="pagePrevious" ng-if="myBookmarkPage == 'false'" ng-class="records.pageNumber===1?'disabled-link':''" ng-click="onPrevious()">
            <span class="sw-icon left-arrow"></span>
            <a href="javascript:void(0)">previous</a>
         </li>
         <li class="pagePrevious" ng-if="myBookmarkPage == 'true'" ng-class="bookmarkCurrentPage===1?'disabled-link':''" ng-click="onPrevious()">
            <span class="sw-icon left-arrow"></span>
            <a href="javascript:void(0)">previous</a>
         </li>
         <li class="pageLabel" ng-if="myBookmarkPage == 'false'">
            <select ng-options="page for page in pages" ng-model="records.pageNumber" ng-change="onChange({npm : records.pageNumber})"></select>
             of {{totalIssuePageCount}}
         </li>
         <li class="pageLabel" ng-if="myBookmarkPage == 'true'">
            <select ng-options="page for page in pages" ng-model="bookmarkCurrentPage.currentPage" ng-change="onChange({currentPage : bookmarkCurrentPage.currentPage})"></select>
             of {{myBookmarkTotalRecords.length}}
         </li>
         <li class="pageNext" ng-if="myBookmarkPage == 'false'" ng-click="onNext()" ng-class="records.pageNumber===totalIssuePageCount?'disabled-link':''">
            <a href="javascript:void(0)">next</a>
            <span class="sw-icon right-arrow"></span>
         </li>
         <li class="pageNext" ng-if="myBookmarkPage == 'true'" ng-click="onNext()" ng-class="{'disabled-link': bookmarkCurrentPage === myBookmarkTotalRecords.length}">
            <a href="javascript:void(0)">Next</a>
            <span class="sw-icon right-arrow"></span>
         </li>
      </ul>
   </div>
</div>
