.marketing-subscription-cart-container {
    margin: 40px 0 0;

    .subscription-product-display-container-right {
        padding-right: 20px;

        .subscription-product-display-container-right-container {
            border: 1px solid $tabBgGrey;
            padding: 32px 24px;

            .subscription-product-display-container-right-container-title {
                @include font($font07, 18px, 1.33, $gray);
                margin: 0;
                padding-bottom: 7px;
                border-bottom: 1px solid $tabBgGrey;
            }

            .subscription-product-display-magazines {
                margin-top: 29px;

                .subscription-product-display-magazine {
                    margin-top: 24px;
                    padding-left: 15px;
                }

                .subscription-product-display-magazine-image {
                    max-width: 60px;
                    padding: 0;

                    img {
                        width: 100%;
                    }
                }

                .subscription-product-display-magazine-details {
                    padding-left: 19px;
                }

                .subscription-magazine-details-name {
                    @include font($font07, 16px, 1.5, $marketingSubscriptionGrey);
                    margin: 0;
                    display: block;
                }

                .subscription-magazine-details-grades {
                    @include font($font04, 14px, 1.71, $marketingSubscriptionGrey);
                    margin: 0;
                    display: block;
                }

                .subscription-magazine-details-quantity {
                    margin: 2px 0 0;

                    .subscription-magazine-learn {
                        .subscription-magazine-learn-link {
                            @include font($font04, 12px, null, $liteBlue2);
                            vertical-align: middle;
                            cursor: pointer;

                            &:focus {
                                outline: none;
                            }
                        }

                        .subscription-magazine-learn-modal {
                            .subscription-magazine-learn-modal-dialog {
                                .subscription-magazine-learn-modal-content {
                                    padding: 0 15px 38px 30px;

                                    .subscription-magazine-learn-modal-header {
                                        border-bottom: 0;
                                        padding: 15px 0 0;

                                        .grey-close-btn {
                                            cursor: pointer;
                                        }
                                    }

                                    .subscription-magazine-learn-modal-body {
                                        padding: 11px 0 0;

                                        .modal-magazine-name {
                                            @include font($font07, 20px, 1.2, $marketingSubscriptionGrey);
                                            margin: 0;
                                            display: block;
                                        }

                                        .modal-magazine-grades {
                                            @include font($font04, 16px, 1.5, $marketingSubscriptionGrey);
                                            margin: 0;
                                            display: block;
                                        }

                                        .modal-magazine-issues {
                                            @include font($font04, 16px, 1.5, $marketingSubscriptionGrey);
                                            margin: 9px 0 0;
                                            display: block;

                                            .modal-magazine-issues-count {
                                                font-weight: bold;
                                            }
                                        }

                                        .modal-magazine-price {
                                            @include font($font04, 16px, 1.5, $marketingSubscriptionGrey);
                                            margin: 0;
                                            display: block;

                                            .modal-magazine-price-value {
                                                font-weight: bold;
                                            }
                                        }

                                        .modal-magazine-details {
                                            @include font($font04, 16px, 1.38, $marketingSubscriptionGrey);
                                            margin-top: 9px;

                                            ul {
                                                padding: 0 0 0 13px;
                                                margin-bottom: 0;
                                            }
                                        }
                                    }

                                    .subscription-magazine-learn-modal-footer {
                                        border-top: 0;
                                        padding: 21px 0 0;

                                        .view-site-link {
                                            @include font($font09, 14px, null, $liteBlue2, 0.5px);

                                            span {
                                                vertical-align: middle;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .popover {
                            max-width: 449px;
                            max-height: 388px;
                            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
                            border: 1px solid $tabBgGrey;
                            border-radius: 0;

                            .arrow {
                                &:before {
                                    display: none;
                                }
                            }

                            .popover-content {
                                padding: 0;
                            }
                        }
                    }

                    .subscription-magazine-details-quantity-input {
                        @include font($font04, 16px, null, $marketingSubscriptionLightGrey);
                        height: 30px;
                        width: 44px;
                        display: inline-block;
                        border: 1px solid $marketingSubscriptionBorderGrey;
                        padding: 0;
                        text-align: center;
                    }
                }

                .view-all-magazines {
                    margin-top: 26px;

                    .view-all-magazines-link {
                        @include font($font09, 14px, null, $liteBlue2, 0.5px);

                        span {
                            vertical-align: middle;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-subscription-cart-container {
        margin: 20px 20px 0;

        .subscription-product-display-container-right {
            .subscription-product-display-container-right-container {
                padding: 33.2px 25px 42.2px;

                .subscription-product-display-container-right-container-title {
                    padding-bottom: 8.2px;
                }

                .subscription-product-display-magazines {
                    margin-top: 30.1px;

                    .subscription-product-display-magazine {
                        margin-top: 24.9px;
                    }

                    .subscription-magazine-details-quantity {
                        margin-top: 1.9px;

                        .subscription-magazine-details-quantity-input {
                            width: 45.6px;
                            height: 31.1px;
                            padding: 0;
                        }

                        .subscription-magazine-learn {
                            .popover {
                                max-width: 335px;
                                max-height: 455px;
                                left: -90px !important;
                                right: -235px;

                                .arrow {
                                    display: none;
                                }
                            }
                        }
                    }

                    .subscription-product-display-magazine-details {
                        padding-left: 19.7px;
                        padding-right: 0;
                    }

                    .subscription-product-display-magazine-image {
                        max-width: 62.2px;
                    }

                    .view-all-magazines {
                        margin-top: 27px;
                    }
                }
            }
        }
    }
}
