.marketing-app-sample-issue {
    .app-issue-container {
        .marketing-app-sample-issue-container {
            .button-container {
                .marketing-sample-issue-btn {
                    border-radius: 100px;
                    @include font($font09, 13px, 1.54, $white, 1px);
                }
            }
        }
    }
}

@include respond-to ('xssmall') {
    .marketing-app-sample-issue {
        .app-issue-container {
            .marketing-app-sample-issue-container {
                .issue-desc {
                    letter-spacing: 0.5px;
                }
                .button-container {
                    .marketing-sample-issue-btn {
                        @include font($font09, 13px, 1.54, $white, 1px);
                    }
                }
            }
        }
    }
}
