$sn4GlobalNavInputBackground: rgba(255, 255, 255, 0.8) !default;
$sn4NavyBlue:#1557a0 !default;  //navyblue
$sn4BorderBlue:rgba(255, 255, 255, 0.3) !default;  //blue
$sn4NumberGreen:#00aaad !default;  //bluishgreen
$sn4BgGrey: #f4f4f4 !default;
$sn4BorderGrey: #d7d7d7 !default;
$sn4GreyText: #696a6c !default;
$IssueTeachingTitleGreen:#39a340 !default;
$aggregatorBorderBlueSN4:#169cbb !default;
$featuredborderGreySN3:#d1d3d4 !default;
$aggregatorHashBorderSN3:#f4f4f4 !default;
$contentTileBackground: #dce1e2 !default;
$textHyperlinkColor: #0083ca !default;
$bookmarkDateColor: #616364;
$snIssueHighBgColor: #ececec !default;
$aggregatorBorderBlue:#00a5e5 !default;
$sn4ContentTileBorder: #169cbb !default;
$sn4ThickGreyLineColor: #dfe1e2 !default;
$sn4TabBackground: #00aaad !default;
$tabComponentGreyBackground: #cbcbcb !default;
$sn3TabInactiveColor: #303030 !default;
$sn4FaqQuestionColor: #0093b4 !default;
$sn4FaqAnsQuestion: #1657a0 !default;
$featuredborderGreySN4: #d1d3d4 !default;
$snIssueHighBgColor: #ececec !default;
$allIssuesTitleColor: #1657a0 !default;
$snGlobalNavExploreColor: #f3f3f3 !default;
$textHyperlinkTitleColor: #e17b00 !default;
$sn4ToolbarBackground: #f9fbfb !default;
$sn4ToolbarBorder: #bbdce4 !default;
$sn4ArticleToolbarDropdown: #dadbde !default;
$sn4GlobalFooterBorderBlue2: rgba(255, 255, 255, 0.4) !default;
$sn4GlobalFooterLogoBackground: #fafbfb !default; // lite grey
$sn4RightsReservedGrey: #5a5a5a !default;
$sn4AquaColor: #1e90aa !default;
$sn4LightGrey: #95a0a9 !default;
$sn4EmailFormInputFieldFontColor: #858585 !default;
$sn4PaginationGrey: #f9f9f9 !default;
$sn4PopupImageBorderColor: #e1e2e2 !default;
$imagePopupGreyBackground:#f3f3f3 !default;
$sn4ImagePopupGreyBackground: #393d49 !default;
$articleSidebarTitle:#168550 !default;
$articleimageCreditSn4:#606162 !default;
$emailEditorInputField:#f1f3f4 !default;
$sn4KeyAssetsBorderBlue:#a4dae6 !default;
$sn4ContentTileBorderOrange:#d45a31 !default;
$sn4KeyAssetBottomBackground:#3ab2ce !default;
$marketingTDItitleColor: #0066b3 !default;
$marketingTDIdescColor: #39393a !default;
$sn3ThickBlue: #0066b3 !default;
$sn3grey: #d9dbde !default;
$sn4TDICarouselTitleColor: #16728d !default;
$sn4TDItitleColor: #13859f !default;
$sn4TDIdescription: #118cd2 !default;
$sn4bgColorComponent: #d4e2e2 !default;
$marketingLightGrey: #d4e2e2 !default;
$marketingLightBlue: #0066b3 !default;
$marketingBorderBlue: #0083ca !default;
$marketingBorderYellow: #f8e81c !default;
$sn4TDIbuttonDescription :#4a4a4a !default;
$sn4TDIgray: #6a6a6a !default;
$marktingTDIlearnMore: #6a6a6a !default;
$sn4blue: #009ce1 !default;
$sn4Button: #f8e81c !default;